Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

OMN-18843: Use CSafeLoader for cold contract discovery with SafeLoader fallback (#4596)
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  tests/integration/test_auto_wiring_discovery_loader_parity_omn18843.py
  tests/unit/runtime/auto_wiring/test_discovery.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18780): keep the routing-audit hook off pre-push and fix fleet test fakes
  .pre-commit-config.yaml
  tests/unit/scripts/test_fleet_failure_sink_omn18942.py
  tests/unit/scripts/test_fleet_scheduled_share_omn18942.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20604): add onex.cmd.omnimarket.lab-job-submitted.v1 to LAB_TOPICS (#4694)
  docker/docker-compose.ci-bus.yml
  tests/unit/docker/test_ci_bus_broker_isolation_omn18691.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(c28): cross-check script and node graders on shared dev-lane observation (OMN-19931) (#4610)
  .github/workflows/chain-canary-c28-consumer-flow.yml
  tests/unit/nodes/node_board_probe_effect/test_consumer_flow_workflow.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18266): select full suite for topology data changes (#4695)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/test_selection_adjacency.yaml
  tests/unit/scripts/ci/test_detect_test_paths.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20715): release train cuts omnimarket on its lab premise
  config/release_train_policy.yaml
  tests/scripts/test_release_train_nightly.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17427): re-check boot identity on consumer flow read failure (#4701)
  src/omnibase_infra/nodes/node_board_probe_effect/contract.yaml
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/_consumer_flow_collection.py
  tests/integration/nodes/test_board_probe_consumer_flow_omn19931.py
  tests/unit/nodes/node_board_probe_effect/test_handler_docker_consumer_flow_target.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18492): wait for stable postgres before legacy fixture proof
  docker/legacy-rds-fixture/prove.sh
Due: none

fix(OMN-18780): exclude archived repos from runner audit
  scripts/audit-runner-routing.py
  tests/ci/test_runner_routing_audit.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18632): rebase interpreter baseline shrink onto dev
  .onex_ratchets/canonical_file_shape_baseline.txt
  config/governed_helper_baseline.json
  scripts/deploy-runtime.sh
  scripts/run-forward-migrations.sh
  scripts/validate-pr-deploy-required.sh
  tests/ci/test_governed_helper_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19315): regenerate dispatch parity oracle and add integration tests
  .github/workflows/dispatch-parity-gate.yml
  tests/fixtures/dispatch_parity/__init__.py
  tests/fixtures/dispatch_parity/selection-oracle-v2.json
  tests/integration/nodes/test_node_contract_validate_consumer_namespace_omn19315.py
  tests/integration/runtime/test_dispatch_selection_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18492): contract boot check in the onex-lab receipt, replaying the 2026-09-16 duplicate-ingress-alias (#4689)
  .github/workflows/deliver-dev-candidate-to-staging.yml
  docker/legacy-rds-fixture/prove.sh
  tests/ci/test_boot_gate_contract_boot_check_omn18492.py
  tests/fixtures/omn18492/node_redeploy_deploy_effect.contract.post-fix-c1dc7e689.yaml.captured
  tests/fixtures/omn18492/node_redeploy_deploy_effect.contract.pre-fix-ea48b81dd.yaml.captured
  tests/integration/runtime/test_contract_boot_incident_omn18492.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18780): enforce runner routing audit and surface scheduled failures (#4704)
  .github/workflows/ci.yml
  .github/workflows/runner-routing-audit.yml
  .pre-commit-config.yaml
  config/runner_routing_policy.yaml
  scripts/audit-runner-routing.py
  scripts/ci/ci_summary_gate.py
  scripts/ci/nonrequired_check_failure_rate.py
  tests/ci/test_runner_routing_audit.py
  tests/unit/scripts/test_fleet_failure_sink_omn18942.py
  tests/unit/scripts/test_fleet_scheduled_share_omn18942.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20715): release train cuts omnimarket on its lab premise (#4708)
  config/release_train_policy.yaml
  tests/scripts/test_release_train_nightly.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19070): retry self-pause with an existing marker
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docker/runners/runner-job-started.sh
  tests/scripts/test_runner_job_started_disk_admission.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20703): scan pre-commit and workflow pins for reachability (#4698)
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/ci.yml
  .github/workflows/direct-model-call.yml
  .pre-commit-config.yaml
  scripts/ci/check_pin_reachability.py
  tests/ci/test_pin_reachability_omn15538.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18632): rebase interpreter baseline shrink onto dev (#4690)
  .onex_ratchets/canonical_file_shape_baseline.txt
  config/governed_helper_baseline.json
  scripts/deploy-runtime.sh
  scripts/run-forward-migrations.sh
  scripts/validate-pr-deploy-required.sh
  tests/ci/test_governed_helper_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19084): measure Docker VM disk for paused-runner restore
  .pre-commit-config.yaml
  scripts/runner-disk-admission-restore.sh
  tests/scripts/test_runner_disk_admission_restore.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18892): confine slot migrations to per-slot principals
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docker/docker-compose.prepr.yml
  scripts/run-forward-migrations.sh
  scripts/run-intelligence-migrations.sh
  tests/unit/infra/test_db_slot_provisioner_omn18892.py
  tests/unit/scripts/test_prepr_slot_gaps_intelligence_migration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19084): measure Docker VM disk for paused-runner restore (#4710)
  .pre-commit-config.yaml
  scripts/runner-disk-admission-restore.sh
  tests/scripts/test_runner_disk_admission_restore.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18894): wire slot gateway tenant mint and offboard
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docker/docker-compose.prepr.yml
  scripts/runtime_build/prepr_teardown_slot.py
  scripts/runtime_build/prepr_teardown_slot.sh
  scripts/runtime_build/prepr_verify_lane.sh
  scripts/smoke/smoke_delegation.sh
  tests/unit/scripts/test_prepr_tenant_lifecycle_omn18894.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18786): enforce the seed provenance gate (#4706)
  .github/workflows/seed-provenance-check.yml
  .pre-commit-config.yaml
  config/runner_routing_policy.yaml
  scripts/check_seed_provenance.py
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/test_seed_provenance_check.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18893): add unit tests for prepr_verify_lane.sh refusals and build-lock
  tests/unit/scripts/test_prepr_verify_lane_refusals_omn18893.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18917): resolve physical topics for drain-proof lookups
  src/omnibase_infra/migration/service_drain_proof_gate.py
  tests/unit/migration/test_consumer_group_lag.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18934): record in-memory consume concurrency declarations
  src/omnibase_infra/event_bus/event_bus_inmemory.py
  src/omnibase_infra/protocols/protocol_consume_concurrency_declarer.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/test_omn18852_wiring_declares_concurrency.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18496): give RT-6 readback harnesses the cloud-scope filter
  tests/scripts/test_deploy_runtime_rt6_foreign_source_repo_omn18656.py
  tests/scripts/test_deploy_runtime_rt6_one_shot_omn16729.py
  tests/scripts/test_deploy_runtime_rt6_scoped_readback.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-18648: Regenerate baseline-selection-v2.json and add CI live contact integration test
  .github/workflows/dispatch-parity-gate.yml
  tests/ci/test_dispatch_parity_oracle_path_omn18648.py
  tests/fixtures/dispatch_parity/__init__.py
  tests/fixtures/dispatch_parity/selection-oracle-v2.json
  tests/integration/ci/test_ci_live_contact_integration_omn18648.py
  tests/integration/runtime/test_dispatch_selection_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18648): require recorded live contact for CI tooling
  .github/workflows/ci-live-contact.yml
  .pre-commit-config.yaml
  config/runner_routing_policy.yaml
  pyproject.toml
  scripts/check_subscribe_wiring_health.py
  scripts/ci/ci_summary_gate.py
  src/omnibase_infra/enums/generated/enum_platform_topic.py
  src/omnibase_infra/handlers/handler_ci_live_contact.py
  src/omnibase_infra/models/model_ci_live_contact_request.py
  src/omnibase_infra/models/model_ci_live_contact_result.py
  src/omnibase_infra/nodes/node_ci_live_contact_effect/__init__.py
  src/omnibase_infra/nodes/node_ci_live_contact_effect/contract.yaml
  src/omnibase_infra/nodes/node_ci_live_contact_effect/node.py
  src/omnibase_infra/runtime/topics.yaml
  tests/ci/conftest.py
  tests/ci/fixtures/ci_live_contact/required_status_checks.json
  tests/ci/test_ci_live_contact.py
  tests/unit/scripts/test_check_subscribe_wiring_health.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

test(OMN-18934): add integration test for in-memory declared concurrency
  tests/integration/event_bus/test_omn18934_inmemory_declared_concurrency.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18648): rebase CI live contact onto dev
  pyproject.toml
Due: none

test(OMN-18917): add drain-proof namespace integration test
  tests/integration/migration/__init__.py
  tests/integration/migration/test_drain_proof_namespace.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18976): exclude the primary receipt from re-emission
  scripts/ci/check_dev_lane_staleness.py
  tests/unit/ci/test_durable_reemission_floor_omn18976.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18893): group-spawn the lock holder in prepr_verify_lane refusal test
  tests/unit/scripts/test_prepr_verify_lane_refusals_omn18893.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19070): retry self-pause with an existing marker (#4709)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docker/runners/runner-job-started.sh
  tests/scripts/test_runner_job_started_disk_admission.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18496): scope cloud migration gate to onex-api (#4703)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_cloud_gate_omn18496.py
  tests/scripts/test_deploy_runtime_rt6_foreign_source_repo_omn18656.py
  tests/scripts/test_deploy_runtime_rt6_one_shot_omn16729.py
  tests/scripts/test_deploy_runtime_rt6_scoped_readback.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18913): namespace operator broker topic boundaries
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/consumer.py
  scripts/deploy-agent/deploy_agent/publisher.py
  scripts/deploy-agent/deploy_agent/trigger.py
  scripts/deploy-agent/pyproject.toml
  scripts/deploy-agent/uv.lock
  scripts/edge_delegation_worker/delegation_channel.py
  scripts/emit_baselines_raw_snapshot.py
  scripts/onex-setup.py
  tests/ci/test_operator_script_topic_namespace_omn18913.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18893): run the pre-PR entrypoint's refusals and build-lock contention end to end (#4713)
  tests/unit/scripts/test_prepr_verify_lane_refusals_omn18893.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18648): require recorded live contact for CI tooling (#4702)
  .github/workflows/ci-live-contact.yml
  .github/workflows/dispatch-parity-gate.yml
  .pre-commit-config.yaml
  config/runner_routing_policy.yaml
  pyproject.toml
  scripts/check_subscribe_wiring_health.py
  scripts/ci/ci_summary_gate.py
  src/omnibase_infra/enums/generated/enum_platform_topic.py
  src/omnibase_infra/handlers/handler_ci_live_contact.py
  src/omnibase_infra/models/model_ci_live_contact_request.py
  src/omnibase_infra/models/model_ci_live_contact_result.py
  src/omnibase_infra/nodes/node_ci_live_contact_effect/__init__.py
  src/omnibase_infra/nodes/node_ci_live_contact_effect/contract.yaml
  src/omnibase_infra/nodes/node_ci_live_contact_effect/node.py
  src/omnibase_infra/runtime/topics.yaml
  tests/ci/conftest.py
  tests/ci/fixtures/ci_live_contact/required_status_checks.json
  tests/ci/test_ci_live_contact.py
  tests/ci/test_dispatch_parity_oracle_path_omn18648.py
  tests/fixtures/dispatch_parity/__init__.py
  tests/fixtures/dispatch_parity/selection-oracle-v2.json
  tests/integration/ci/test_ci_live_contact_integration_omn18648.py
  tests/integration/runtime/test_dispatch_selection_parity.py
  tests/unit/scripts/test_check_subscribe_wiring_health.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-18934): record in-memory consume concurrency declarations (#4715)
  src/omnibase_infra/event_bus/event_bus_inmemory.py
  src/omnibase_infra/protocols/protocol_consume_concurrency_declarer.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/event_bus/test_omn18934_inmemory_declared_concurrency.py
  tests/unit/runtime/test_omn18852_wiring_declares_concurrency.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18913): namespace operator broker topic boundaries (#4716)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/consumer.py
  scripts/deploy-agent/deploy_agent/publisher.py
  scripts/deploy-agent/deploy_agent/trigger.py
  scripts/deploy-agent/pyproject.toml
  scripts/deploy-agent/uv.lock
  scripts/edge_delegation_worker/delegation_channel.py
  scripts/emit_baselines_raw_snapshot.py
  scripts/onex-setup.py
  tests/ci/test_operator_script_topic_namespace_omn18913.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
