Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

chore: release omnibase_infra 0.38.51 (OMN-18595) (#3927)
  CHANGELOG.md
Due: onex-validate-markdown-links

chore(OMN-18999): vendor the prod-promotion-gate projection migrations (#3929)
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_prod_promotion_gate/0000_create_prod_promotion_gate_decisions.sql
  docker/migrations/forward/nodes/node_projection_prod_promotion_gate/0001_grant_omninode_runtime_prod_promotion_gate_decisions.sql
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/topology/test_omn18999_prod_promotion_gate_bridge.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-16553): regenerate runner image lock for dependency bump [bot]
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-17292): retire the two supplemental bridges this pin advance expires
  src/omnibase_infra/topology/table_grant_derivation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17292): empty _INTERIM_ENTRIES, the two bridges it tracked retired
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17292): replace with the retirement module, entry now deleted
  tests/integration/topology/test_omn18999_prod_promotion_gate_bridge.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17292): assert the delegate_skill_command_claims bridge is retired
  tests/integration/topology/test_delegate_skill_command_claims_bridge_retired_omn18993.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17292): assert the prod_promotion_gate_decisions bridge is retired
  tests/integration/topology/test_prod_promotion_gate_decisions_bridge_retired_omn18999.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18999): validate typed backend projection readers (drain landing) (#3961)
  .github/workflows/exposure-reader-coverage.yml
  src/omnibase_infra/validators/bus_backed_exposure_readers.py
  tests/integration/validators/test_omn18999_backend_reader_gate_integration.py
  tests/unit/validators/test_omn17199_bus_backed_exposure_readers.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18987): vendor the immutable 0044 delegation shadow-comparisons restore (#3940)
  .github/workflows/ci.yml
  docker/legacy-rds-fixture/prove.sh
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/fenced-node-migrations.yaml
  docker/migrations/forward/nodes/node_projection_delegation/0043z_preflight_delegation_shadow_comparisons.sql
  docker/migrations/forward/nodes/node_projection_delegation/0044_restore_delegation_shadow_comparisons.sql
  tests/scripts/test_node_migration_fence_parity.py
  tests/unit/migrations/test_omn18987_pre0044_vendor.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19167): CI Summary treats the occ callers' declared ticketless dependency-bot skip as non-gating (#3964)
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/omn19167_dependabot_pr3953_check_runs.json
  tests/ci/test_ci_summary_gate_bot_skip_omn19167.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17427): admit uvicorn 0.53 (#3959)
  docker/runners/runner-image.lock.json
  pyproject.toml
  uv.lock
Due: none

feat(OMN-18855): add a create operation to bulk_pr_throttle so PR creation is paced
  scripts/ci/bulk_pr_throttle.py
  scripts/ci/tests/test_bulk_pr_throttle.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19169): give runner-monitor Slack transitions a dwell so a transient finding stops paging (#3966)
  docker/runners/runner-monitor.sh
  tests/unit/observability/runner_health/test_runner_monitor_alert_dwell_omn19169.py
  tests/unit/observability/runner_health/test_runner_monitor_customer_plane_alerting.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19175): the four negative paths get a producer whose exit code is C11's verdict (#3968)
  .github/workflows/chain-canary-c11-negative-paths.yml
  .pre-commit-config.yaml
  config/ci_evidence_policy.yaml
  scripts/ci/c11_negative_paths_probe.py
  tests/ci/test_c11_negative_paths_probe_omn19175.py
  tests/ci/test_ci_evidence_policy.py
  tests/ci/test_verify_runner_runs_on_omn18408.py
  tests/fixtures/omn19175/codes_collapsed.json
  tests/fixtures/omn19175/cross_tenant_leak.json
  tests/fixtures/omn19175/lane_healthy.json
  tests/fixtures/omn19175/lane_unreachable.json
  tests/fixtures/omn19175/malformed_answered_by_auth.json
  tests/fixtures/omn19175/malformed_unnamed_field.json
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19144): declare the dev lane's runtime lane so its health events can be keyed (#3963)
  docker/docker-compose.dev-lane.yml
  src/omnibase_infra/runtime/health/runtime_lane_identity.py
  tests/integration/test_omn19144_runtime_lane_reaches_the_wire.py
  tests/unit/scripts/test_omn19144_dev_lane_runtime_lane_identity.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18843): a bus consumer may not wait on the main runtime's health (#3939)
  docker/catalog/services/contract-resolver.yaml
  docker/catalog/services/dlq-replay-consumer.yaml
  docker/catalog/services/fault-inject-fixture.yaml
  docker/catalog/services/runtime-effects.yaml
  docker/catalog/services/runtime-worker.yaml
  docker/docker-compose.dogfood.yml
  docker/docker-compose.infra.yml
  docker/docker-compose.judge.yml
  docker/docker-compose.lakshman.yml
  scripts/deploy-agent/tests/unit/test_compose_budget_omn18057.py
  src/omnibase_infra/runtime/runtime_host_process.py
  tests/integration/test_command_topic_bind_order_live_contracts_omn18843.py
  tests/unit/infra/test_redeploy_batch_health_block_omn18843.py
  tests/unit/runtime/test_command_topic_bind_order_omn18843.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19043): retry a Kafka connect, and leave a receipt when it never lands (#3934)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/model_delegate_transport_refusal.py
  src/omnibase_infra/cli/model_receipt_runtime_summary.py
  src/omnibase_infra/cli/receipt_mode.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/kafka_connect_retry.py
  src/omnibase_infra/event_bus/models/config/model_kafka_connect_retry_policy.py
  src/omnibase_infra/runtime/providers/provider_kafka_producer.py
  tests/integration/cli/test_delegate_transport_typed_refusal.py
  tests/unit/cli/test_delegate_transport_terminal_omn18925.py
  tests/unit/event_bus/test_kafka_connect_retry_omn18925.py
  tests/unit/models/test_model_serialization_roundtrip.py
  tests/unit/runtime/test_dependency_materializer.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19181): C16 gets a producer whose exit code is its verdict (#3971)
  .github/workflows/chain-canary-c16-receipt-identity.yml
  .pre-commit-config.yaml
  config/ci_evidence_policy.yaml
  scripts/ci/c16_receipt_identity_probe.py
  tests/ci/test_c16_receipt_identity_probe_omn19181.py
  tests/ci/test_ci_evidence_policy.py
  tests/ci/test_verify_runner_runs_on_omn18408.py
  tests/fixtures/omn19181/lane_dead_run_never_terminal.json
  tests/fixtures/omn19181/lane_dead_run_untyped_cause.json
  tests/fixtures/omn19181/lane_healthy_typed_death.json
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19085): give the dev lane its own Redpanda memory dial, 24G to 12G (#3941)
  docker/docker-compose.infra.yml
  tests/unit/infra/test_redpanda_memory_per_lane_dial_omn19085.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19195): C12 producer -- the deployed provider catalogue equals the handler-backed set, no Claude entry, no house entry (#3975)
  .github/workflows/chain-canary-c12-provider-catalogue.yml
  .pre-commit-config.yaml
  config/ci_evidence_policy.yaml
  scripts/ci/c12_provider_catalogue_observe.py
  scripts/ci/c12_provider_catalogue_probe.py
  tests/ci/test_c12_provider_catalogue_probe_omn19195.py
  tests/ci/test_ci_evidence_policy.py
  tests/ci/test_verify_runner_runs_on_omn18408.py
  tests/fixtures/omn19195/lane_healthy.json
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17427): repoint the keycloak provenance citation to infra.yml:876 (#3978)
  tests/ci/test_application_database_acl_connect_inputs.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18964): a re-routed delegation's chain replays green (C15) (#3972)
  config/skip_count_baseline.yaml
  scripts/check_subscribe_wiring_health.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/chain_replay.py
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/contract.yaml
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/handlers/handler_delegation_chain_ledger.py
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/models/model_declared_chain_hop.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/contract.yaml
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/integration/nodes/node_delegation_chain_ledger_effect/test_chain_tree_replay_dispatch_omn18419.py
  tests/unit/nodes/node_delegation_chain_ledger_effect/test_reroute_parent_omn18964.py
  tests/unit/nodes/test_node_ledger_projection_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19179): a customer-local delegation on a hosted clean machine gets a producer whose exit code is C13's verdict (#3977)
  .github/workflows/c13-customer-local-delegation.yml
  .pre-commit-config.yaml
  config/ci_evidence_policy.yaml
  scripts/ci/c13_customer_local_probe.py
  tests/ci/test_c13_customer_local_probe_omn19179.py
  tests/ci/test_ci_evidence_policy.py
  tests/fixtures/omn19179/observations_lab_pass.json
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19193): a registry workspace's default onex delegate resolves its own tier-1 config (#3974)
  scripts/onex
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/delegate_lane.py
  src/omnibase_infra/cli/model_delegate_default_bus.py
  src/omnibase_infra/runtime/models/model_event_bus_config.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/util_validation.py
  tests/integration/cli/test_omn19193_workspace_default_transport_cli.py
  tests/scripts/test_onex_wrapper.py
  tests/unit/cli/test_cli_delegate.py
  tests/unit/cli/test_omn19193_workspace_tier1_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18903): the ci_attempt_outcome migration and its topology grants (#3885)
  config/skip_count_baseline.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_ci_attempt_outcome/0000_create_ci_attempt_outcome.sql
  docker/migrations/forward/nodes/node_projection_ci_attempt_outcome/0001_grant_omninode_runtime_ci_attempt_outcome.sql
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/migrations/test_ci_attempt_outcome_omn18903.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19200): C29 gets a producer whose exit code is its verdict -- the customer's own key, no OmniNode cloud (#3979)
  .github/workflows/c29-customer-byo-key-delegation.yml
  .pre-commit-config.yaml
  config/ci_evidence_policy.yaml
  scripts/ci/c29_customer_byo_key_probe.py
  tests/ci/test_c29_customer_byo_key_probe_omn19200.py
  tests/ci/test_ci_evidence_policy.py
  tests/fixtures/omn19200/observations_documented_surface_refused.json
  tests/fixtures/omn19200/observations_working_path.json
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17099): a lane overlay may add a delegation backend, validated as a contract (#3981)
  docker/lane-overlays/dev.bifrost.yaml
  docker/lane-overlays/dogfood.bifrost.yaml
  docker/lane-overlays/judge.bifrost.yaml
  docker/lane-overlays/lakshman.bifrost.yaml
  src/omnibase_infra/runtime/models/enum_bifrost_lane_credential_kind.py
  src/omnibase_infra/runtime/models/enum_bifrost_lane_locale.py
  src/omnibase_infra/runtime/models/model_bifrost_lane_backend_binding.py
  src/omnibase_infra/runtime/models/model_bifrost_lane_backend_credential.py
  src/omnibase_infra/runtime/models/model_bifrost_lane_overlay.py
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/ci/test_bifrost_lane_overlay.py
  tests/fixtures/bifrost_served_models_probe.json
  tests/integration/runtime/test_committed_lab_overlays_render_omn18570.py
  tests/integration/runtime/test_served_id_reaches_the_rendered_contract_omn18626.py
  tests/integration/test_volume_config_drift_provenance_e2e.py
  tests/unit/models/test_model_serialization_roundtrip.py
  tests/unit/runtime/models/test_model_bifrost_lane_overlay.py
  tests/unit/runtime/test_bifrost_lane_overlay_adds_backend_omn17099.py
  tests/unit/runtime/test_bifrost_parameter_count_matches_served_id.py
  tests/unit/runtime/test_bifrost_served_model_probe_fixture.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19218): exclude the lineage enforce job from the CI Summary sweep; it always skips on pull_request (#3982)
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17422): gate the tenant GUC policy no declared writer can satisfy
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validation/check_tenant_guc_domain_parity.py
  tests/ci/test_incident_replay_omn17422.py
  tests/ci/test_tenant_guc_domain_parity.py
  tests/fixtures/omn17422/0027_generation_events_tenant_rls.6194dc4d9.sql.captured
  tests/fixtures/omn17422/0043_generation_events_drop_tenant_posture.4139b1fad.sql.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19081): read the key grain from the contract, not from a list here (#3943)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/models/health/model_projection_apply_flow_verdict.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/health/projection_apply_flow.py
  src/omnibase_infra/runtime/observability/projection_apply_counters.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/integration/test_key_grain_contract_seam_omn19081.py
  tests/unit/runtime/health/test_key_grain_from_contract_omn19081.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19208): read BuildKit progress from both streams; compose v5 writes it to stdout (#3980)
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_build_ceiling_host_omn18615.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-19216): auto-merge arms on ready_for_review, never twice (#3983)
  .github/workflows/auto-merge.yml
  tests/ci/test_auto_merge_ready_for_review_omn19216.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19197): the customer onex spells its workspace-root option --omnibase-path (#3984)
  .pre-commit-config.yaml
  scripts/onex
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/cli_node.py
  src/omnibase_infra/cli/cli_skill.py
  src/omnibase_infra/cli/delegate_lane.py
  tests/integration/cli/test_delegate_lane_addressing_cli.py
  tests/integration/cli/test_omn18432_lane_identity_cli.py
  tests/integration/cli/test_omn19193_workspace_default_transport_cli.py
  tests/integration/cli/test_omnimarket_drift_guard_cli.py
  tests/integration/cli/test_omnimarket_drift_guard_off_registry_cli_omn17255.py
  tests/scripts/test_onex_wrapper.py
  tests/unit/cli/test_cli_delegate.py
  tests/unit/cli/test_cli_node.py
  tests/unit/cli/test_cli_skill.py
  tests/unit/cli/test_customer_cli_no_internal_parameter_omn19197.py
  tests/unit/cli/test_delegate_lane_broker.py
  tests/unit/cli/test_omn19193_workspace_tier1_transport.py
  tests/unit/cli/test_omnibase_path_cli_binding_omn16852.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

config(OMN-19187): register omnipc2 as a dev-lane delegation backend (#3985)
  docker/lane-overlays/dev.bifrost.yaml
Due: onex-validate-contracts

test(OMN-19113): re-mirror the selection projection and extend the falsifier table (#3947)
  tests/fixtures/delegation/omn18831/task_class_selection_production_mirror.yaml
  tests/unit/cli/test_task_class_selection_omn18831.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19181): an unfinished bus scan grades SKIP, never FAIL (#3990)
  scripts/ci/c16_receipt_identity_probe.py
  tests/ci/test_c16_receipt_identity_probe_omn19181.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19179): C13 runs on our fleet's customer machine -- retire the hosted workflow, real local budget, exclusive negative control (#3986)
  .github/workflows/c13-customer-local-delegation.yml
  .pre-commit-config.yaml
  config/ci_evidence_policy.yaml
  scripts/ci/c13_customer_local_probe.py
  tests/ci/test_c13_customer_local_probe_omn19179.py
  tests/ci/test_ci_evidence_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19220): one BUILD_DATE per rebuild so the dev-lane-only build hits the cache (#3987)
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_one_build_date_per_deploy_omn19220.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
