Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore(OMN-18770): bump to 0.38.34 and regenerate grants against omnimarket#2664's head
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  pyproject.toml
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  uv.lock
Due: onex-validate-contracts

chore(OMN-18595): move the pin-fallback integration proof and cut 0.38.34
  pyproject.toml
  tests/integration/runtime/test_omn17802_core_pin_fallback_matrix.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18768): declare the runner-fleet grant the runtime reads, and gate the reverse direction
  .github/omnimarket-contract-pin.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  pyproject.toml
  scripts/validation/check_topology_grant_delivery.py
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  tests/ci/test_topology_grant_delivery.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18770): regenerate the runner image identity after the version bump
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-18768): refresh the runner image shared_env_digest after the lock bump
  docker/runners/runner-image.lock.json
Due: none

chore(OMN-18595): regenerate the runner image identity after the 0.38.34 relock
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-18769): vendor the lab_lane_health grant and derive grants from the checked-out tree
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_lab_lane_health/0001_grant_omninode_runtime_lab_lane_health.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18769): bump to 0.38.34, past the published 0.38.33
  pyproject.toml
  uv.lock
Due: none

fix(OMN-18768): declare the runner-fleet grant the runtime reads, and gate the reverse direction (#3857)
  scripts/validation/check_topology_grant_delivery.py
  tests/ci/test_topology_grant_delivery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13912): regenerate runner image identity lock
  docker/runners/runner-image.lock.json
Due: none

chore(deps): bump omnibase-core to 0.47.18 (OMN-18595) (#3855)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/runtime/version_compatibility.py
  tests/fixtures/seams/core_release/0.46.11_expected_symbols.json
  tests/integration/runtime/test_omn17802_core_pin_fallback_matrix.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18851): advance the migration-declaration count ratchet to 196
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(dogfood): align default lane census (OMN-18693)
  contracts/services/runtime_policy.contract.yaml
  deploy/lane-census/lane-manifest.yaml
  docker/docker-compose.dogfood.yml
  docker/runtime-policy.env
  scripts/deploy-runtime.sh
  tests/ci/test_lane_projection_writer_coverage_omn17562.py
  tests/ci/test_lane_runtime_profile_carriage_omn18114.py
  tests/integration/infra/test_dogfood_compose_render.py
  tests/scripts/test_deploy_runtime_lane_overlay.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18770): re-vendor the create migration with its column reconciliation
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_runtime_error_fingerprints/0000_create_runtime_error_fingerprints.sql
Due: none

fix(OMN-18833): omnibase_infra dev is red for every PR — two merges left their pinning tests behind (#3841)
  scripts/deploy-runners.sh
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/observability/runner_health/test_deploy_runner_health_cron.py
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18033): adopt the gitignore-baseline hook in omnibase_infra (#3813)
  .gitignore
  .pre-commit-config.yaml
Due: onex-validate-contracts

feat(OMN-18823): the merge-sweep classifier withholds a PR handed to a collaborator (#3835)
  src/omnibase_infra/nodes/node_merge_sweep_classify_compute/contract.yaml
  src/omnibase_infra/nodes/node_merge_sweep_classify_compute/handlers/handler_classify_prs.py
  src/omnibase_infra/nodes/node_merge_sweep_classify_compute/models/__init__.py
  src/omnibase_infra/nodes/node_merge_sweep_classify_compute/models/enum_classify_skip_reason.py
  src/omnibase_infra/nodes/node_merge_sweep_classify_compute/models/model_classify_input.py
  src/omnibase_infra/nodes/node_merge_sweep_classify_compute/models/model_pr_classification.py
  src/omnibase_infra/nodes/node_merge_sweep_pr_list_effect/contract.yaml
  src/omnibase_infra/nodes/node_merge_sweep_pr_list_effect/handlers/handler_pr_list.py
  src/omnibase_infra/nodes/node_merge_sweep_pr_list_effect/models/model_pr_info.py
  src/omnibase_infra/nodes/node_merge_sweep_workflow_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_merge_sweep_workflow_orchestrator/handlers/handler_pr_list_complete.py
  tests/fixtures/golden/node_merge_sweep_classify_compute/empty.json
  tests/fixtures/golden/node_merge_sweep_classify_compute/mixed_require_approval.json
  tests/fixtures/golden/node_merge_sweep_classify_compute/no_approval_required.json
  tests/integration/nodes/test_merge_sweep_collaborator_exclusion_integration.py
  tests/unit/nodes/test_merge_sweep_canary/test_classify_collaborator_exclusion.py
  tests/unit/nodes/test_merge_sweep_canary/test_classify_compute_dispatch_entrypoint.py
  tests/unit/nodes/test_merge_sweep_canary/test_handler_classify_prs.py
  tests/unit/nodes/test_merge_sweep_canary/test_merge_sweep_models.py
  tests/unit/nodes/test_merge_sweep_canary/test_merge_sweep_workflow_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-18769): the delivery gate's FAIL text names the wrong tree for a trailered PR
  scripts/validation/check_topology_grant_delivery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18851): vendor savings migration 090 from omnimarket (#3853)
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_savings/090_savings_aggregate_excludes_model_text.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(dogfood): align default lane census (OMN-18693) (#3858)
  contracts/services/runtime_policy.contract.yaml
  deploy/lane-census/lane-manifest.yaml
  docker/docker-compose.dogfood.yml
  docker/runtime-policy.env
  scripts/deploy-runtime.sh
  tests/ci/test_lane_projection_writer_coverage_omn17562.py
  tests/ci/test_lane_runtime_profile_carriage_omn18114.py
  tests/integration/infra/test_dogfood_compose_render.py
  tests/scripts/test_deploy_runtime_lane_overlay.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18770): vendor the runtime-error-fingerprints node migration (#3795)
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_runtime_error_fingerprints/0000_create_runtime_error_fingerprints.sql
  docker/migrations/forward/nodes/node_projection_runtime_error_fingerprints/0001_grant_omninode_runtime_runtime_error_fingerprints.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-18769): bring the second copy of the regeneration advice into line
  tests/ci/test_topology_grant_delivery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18852): bounded concurrent in-flight records on a consume path that declares it
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/delegate_queue_depth.py
  src/omnibase_infra/cli/model_delegate_queue_depth.py
  src/omnibase_infra/cli/model_delegate_timeout_refusal.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_consume_concurrency_declarer.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/auto_wiring/models/__init__.py
  src/omnibase_infra/runtime/auto_wiring/models/model_consume_concurrency.py
  tests/unit/cli/test_omn18852_timeout_names_the_queue.py
  tests/unit/event_bus/test_omn18852_bounded_consume_concurrency.py
  tests/unit/runtime/test_omn18852_consume_concurrency_contract.py
  tests/unit/runtime/test_omn18852_wiring_declares_concurrency.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18852): the queue-depth probe builds no transport of its own
  pyproject.toml
  src/omnibase_infra/backends/backend_probe.py
  src/omnibase_infra/cli/delegate_queue_depth.py
  tests/integration/event_bus/test_omn18852_declared_concurrency_end_to_end.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18852): regenerate the runner image identity lock after the uv.lock bump
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-18852): register the new protocol in the lockfile and the ownership allowlist
  contracts/runtime/runtime_protocol.lock.json
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18861): a failed build no longer reaches the wire as status=success
  scripts/deploy-agent/deploy_agent/events.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_terminal_verdict_false_success_omn18861.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18863): declare runtime_error_fingerprints so the derivation reproduces it
  src/omnibase_infra/topology/table_grant_derivation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18364): the boot gate's hostPath dirs arrive owned by the uid the render declares
  .github/workflows/deliver-dev-candidate-to-staging.yml
  scripts/ci/boot_gate.py
  tests/ci/test_boot_gate_host_path_ownership_omn18364.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18861): a deploy that restarted nothing is not a success either
  scripts/deploy-agent/deploy_agent/events.py
  scripts/deploy-agent/tests/unit/test_events_lane_digest.py
  scripts/deploy-agent/tests/unit/test_terminal_verdict_false_success_omn18861.py
  scripts/deploy-agent/tests/unit/test_terminal_verdict_omn18057.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18863): bind the fingerprints declaration to the grant it ships
  tests/integration/topology/__init__.py
  tests/integration/topology/test_runtime_error_fingerprints_grant_omn18863.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18866): wire the three unwired compose-dev lab-pass probes
  .github/workflows/runtime-rebuild-trigger.yml
  scripts/ci/lab_pass_receipt.py
  scripts/runtime_build/declared_consumer_groups.py
  tests/ci/test_lab_pass_receipt_integration_probes_omn18866.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18866): name the canary dispatch step's continue-on-error for the advisory gate
  .github/workflows/runtime-rebuild-trigger.yml
Due: none

feat(OMN-18865): prove wheel content parity pre-merge, not post-merge on the lab
  .github/workflows/wheel-content-parity-reusable.yml
  .github/workflows/wheel-content-parity.yml
  scripts/ci/check_wheel_content_parity.py
  scripts/ci/ci_summary_gate.py
  tests/ci/test_incident_replay_omn18847.py
  tests/ci/test_incident_replay_omn18865.py
  tests/fixtures/omn18847/omnibase_core-1710.gitignore-baseline.yaml.captured
  tests/fixtures/omn18847/omnibase_core-1710.pyproject.toml.captured
  tests/fixtures/omn18865/omnimarket-2670.gitignore.captured
  tests/fixtures/omn18865/omnimarket-2694.gitignore.captured
  tests/incident_replays/registry.yaml
  tests/scripts/test_wheel_content_parity_omn18865.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18866): put the advisory-ok annotation on the line the gate reads
  .github/workflows/runtime-rebuild-trigger.yml
Due: none

fix(OMN-18863): declare runtime_error_fingerprints so the derivation reproduces it (#3861)
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/integration/topology/__init__.py
  tests/integration/topology/test_runtime_error_fingerprints_grant_omn18863.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18769): the three lab lane-health facts reach the bus from the jobs that hold them (#3821)
  .github/workflows/lane-census-refresh.yml
  .github/workflows/runtime-rebuild-trigger.yml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_lab_lane_health/0000_create_lab_lane_health.sql
  docker/migrations/forward/nodes/node_projection_lab_lane_health/0001_grant_omninode_runtime_lab_lane_health.sql
  scripts/ci/lab_pass_receipt.py
  scripts/ci/publish_lab_fact_event.py
  scripts/lane-census-check.sh
  scripts/lane_census_event.py
  scripts/validation/check_topology_grant_delivery.py
  src/omnibase_infra/models/health/model_runtime_health_check_event.py
  src/omnibase_infra/runtime/health/runtime_lane_identity.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  tests/ci/test_topology_grant_delivery.py
  tests/incident_replays/registry.yaml
  tests/integration/test_lab_lane_health_emitters_integration_omn18769.py
  tests/unit/scripts/test_lab_lane_health_emitters_omn18769.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18865): carry the comparison in an action, because job_workflow_sha is empty cross-repo
  .github/actions/wheel-content-parity/action.yml
  .github/workflows/wheel-content-parity-reusable.yml
  .github/workflows/wheel-content-parity.yml
  scripts/ci/ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
