Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

test(migration-066): harden SQL assertions with regex clause checks
  tests/unit/db/test_migration_066.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(pre-commit): add --frozen to all uv run hooks (OMN-8716)
  .pre-commit-config.yaml
Due: onex-validate-contracts

test(db): add unit tests for migration 066 quality_score column [OMN-8666] (#1291)
  tests/unit/db/test_migration_066.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(auto-wiring): strict startup invariant — failures abort, no swallow-and-continue [OMN-8735]
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/auto_wiring/test_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(env): add integration tests + validator exemptions for machine registry [OMN-7528]
  scripts/validation/run_topic_lint.sh
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/test_env_render_settings_cli.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: remove unused pytest import in test_cli_env (CodeQL)
  tests/unit/cli/test_cli_env.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(test): correct match string in test_relative_resolved_home_dir_rejected [OMN-7528]
  tests/unit/models/environment/test_machine_registry.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(infra): add omnimemory-network to runtime-effects so PluginMemory can reach Memgraph [OMN-8713] (#1292)
  .pre-commit-config.yaml
  docker/catalog/services/runtime-effects.yaml
  scripts/validation/run_topic_lint.sh
  src/omnibase_infra/docker/catalog/generator.py
  src/omnibase_infra/docker/catalog/manifest_schema.py
  src/omnibase_infra/docker/catalog/resolver.py
  tests/integration/test_catalog_extra_networks.py
  tests/unit/infra/test_catalog_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): remove unused tempfile import [OMN-7527]
  tests/integration/test_env_render_settings_cli.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(env): add onex env render-settings command with machine registry [OMN-7527, OMN-7528] (#1290)
  config/machines.yaml
  src/omnibase_infra/cli/cli_env.py
  src/omnibase_infra/cli/commands.py
  src/omnibase_infra/models/environment/__init__.py
  src/omnibase_infra/models/environment/model_machine_registry.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/test_env_render_settings_cli.py
  tests/unit/cli/test_cli_env.py
  tests/unit/models/environment/__init__.py
  tests/unit/models/environment/test_machine_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(auto-wiring): use inspect.signature(cls) directly, add integration tests [OMN-8735]
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/test_auto_wiring_strict_invariant.py
  tests/unit/runtime/conftest.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(auto-wiring): suppress union-attr mypy false positive [OMN-8735]
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(auto-wiring): address CR findings — sanitize exc, defer side effects, remove unused import
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/test_auto_wiring_strict_invariant.py
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(auto-wiring): CR findings — defer side effects, strengthen assertions, route ID uniqueness, scope event_bus fallback [OMN-8735]
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/test_auto_wiring_strict_invariant.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(auto-wiring): correct PreparedWiring field types for mypy [OMN-8735]
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(auto-wiring): fix routes local type annotation in _prepare_handler_wiring [OMN-8735]
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/test_auto_wiring_strict_invariant.py
  tests/unit/runtime/auto_wiring/test_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(auto-wiring): cast dispatch_engine to ProtocolDispatchEngine for mypy [OMN-8735]
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(auto-wiring): strict startup invariant — failures abort, no swallow-and-continue [OMN-8735] (#1295)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/test_auto_wiring_strict_invariant.py
  tests/unit/runtime/auto_wiring/test_wiring.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(config): register 6 missing secrets in shared_key_registry.yaml [OMN-8778]
  config/shared_key_registry.yaml
  tests/unit/scripts/test_shared_key_registry_omn8778.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

style: ruff format test_shared_key_registry_omn8778 [OMN-8778]
  tests/unit/scripts/test_shared_key_registry_omn8778.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(kafka): hard-fail on missing KAFKA_BOOTSTRAP_SERVERS, remove localhost:19092 defaults [OMN-8783]
  .github/workflows/ci.yml
  scripts/ci_check_kafka_no_localhost_default.py
  src/omnibase_infra/event_bus/configs/kafka_event_bus_config.yaml
  src/omnibase_infra/event_bus/service_topic_manager.py
  src/omnibase_infra/event_bus/service_topic_startup_validator.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  src/omnibase_infra/runtime/request_response_wiring.py
  tests/unit/event_bus/test_service_topic_manager.py
  tests/unit/runtime/test_dependency_materializer.py
  tests/unit/runtime/test_kafka_bootstrap_no_localhost_fallback.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(kafka): fix lint on topic manager unit test, add integration coverage for OMN-8783 hard-fail
  tests/integration/event_bus/test_kafka_bootstrap_no_localhost_fallback_integration.py
  tests/unit/event_bus/test_service_topic_manager.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(onboarding): fix 3 rendered_output bugs — all steps shown, pass/fail indicators, strip HTML comment [OMN-8810]
  src/omnibase_infra/nodes/node_onboarding_orchestrator/handlers/handler_onboarding.py
  src/omnibase_infra/onboarding/renderers/renderer_markdown.py
  tests/unit/nodes/node_onboarding_orchestrator/test_handler_onboarding.py
  tests/unit/onboarding/test_renderers.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(config): register 6 missing secrets in shared_key_registry.yaml [OMN-8778] (#1296)
  config/shared_key_registry.yaml
  tests/unit/scripts/test_shared_key_registry_omn8778.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(kernel): remove ONEX_INPUT_TOPIC/OUTPUT_TOPIC env vars, hard-fail if set [OMN-8784]
  .onex_state/topic-env-var-migration-status.yaml
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/test_kernel.py
  tests/unit/runtime/test_kernel_topic_env_var_removal.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(kafka): address CodeRabbit review threads on OMN-8783 PR #1297
  scripts/ci_check_kafka_no_localhost_default.py
  src/omnibase_infra/event_bus/configs/kafka_event_bus_config.yaml
  tests/unit/event_bus/test_service_topic_manager.py
  tests/unit/runtime/test_kafka_bootstrap_no_localhost_fallback.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): ruff format test_renderers.py; add integration test for renderer pipeline [OMN-8810]
  tests/integration/test_onboarding_renderer_integration.py
  tests/unit/onboarding/test_renderers.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): add integration test + gitignore .onex_state [OMN-8784]
  .gitignore
  .onex_state/topic-env-var-migration-status.yaml
  tests/integration/handlers/test_kernel_deprecated_topic_env_vars.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(test): use tmp_path fixture, drop /tmp literal and unused import [OMN-8784]
  tests/integration/handlers/test_kernel_deprecated_topic_env_vars.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(adapters): add LocalStubProjectTracker file-backed stub [OMN-8815]
  src/omnibase_infra/adapters/project_tracker/__init__.py
  src/omnibase_infra/adapters/project_tracker/local_stub_project_tracker.py
  src/omnibase_infra/adapters/project_tracker/model_stub_comment.py
  src/omnibase_infra/adapters/project_tracker/model_stub_issue.py
  src/omnibase_infra/adapters/project_tracker/model_stub_project.py
  tests/unit/adapters/test_local_stub_project_tracker.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(test): ruff format [OMN-8784]
  tests/integration/handlers/test_kernel_deprecated_topic_env_vars.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: remove unused import os in integration test
  tests/integration/event_bus/test_kafka_bootstrap_no_localhost_fallback_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(onboarding): missing step results render as [?] not [x]
  src/omnibase_infra/onboarding/renderers/renderer_markdown.py
  tests/unit/onboarding/test_renderers.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-8815): resolve 16 mypy errors and add integration tests for LocalStubProjectTracker
  src/omnibase_infra/adapters/project_tracker/local_stub_project_tracker.py
  tests/integration/adapters/test_local_stub_project_tracker_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(kernel): validate ONEX_GROUP_ID in no-config path, raise ProtocolConfigurationError if empty [OMN-8784]
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

style: ruff format renderer_markdown.py
  src/omnibase_infra/onboarding/renderers/renderer_markdown.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(kernel): remove ONEX_INPUT_TOPIC/OUTPUT_TOPIC env vars, hard-fail if set [OMN-8784] (#1299)
  .gitignore
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/handlers/test_kernel_deprecated_topic_env_vars.py
  tests/unit/runtime/test_kernel.py
  tests/unit/runtime/test_kernel_topic_env_var_removal.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): tighten KeyError contract in integration test [OMN-8783]
  tests/integration/event_bus/test_kafka_bootstrap_no_localhost_fallback_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(onboarding): sanitize error messages and add steps bounds guards [OMN-8810]
  src/omnibase_infra/onboarding/renderers/renderer_markdown.py
  tests/unit/onboarding/test_renderers.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
