Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-12987): deploy-runtime.sh sibling lock-pin preflight uses current --lock/--repo/--output interface (#1977)
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_build_context.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13124): vendor pattern_learning node migration + always-run vendor-sync gate + CI gate (#1978)
  .github/workflows/node-migration-sync.yml
  .pre-commit-config.yaml
  docker/migrations/forward/nodes/node_omnigate_projection/0000_create_gate_projection_tables.sql
  docker/migrations/forward/nodes/node_projection_pattern_learning/0000_create_pattern_learning_artifacts.sql
Due: onex-validate-contracts

fix(OMN-12987): stage workspace/sibling-pin-comparison.json into deployed build context
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_build_context.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12987): project-namespace forward-migration container_name to stop cross-lane collision
  docker/catalog/services/forward-migration.yaml
  docker/docker-compose.infra.yml
  scripts/deploy-runtime.sh
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13124): retire legacy 064 pattern_learning_artifacts migration (superseded by vendored node migration)
  docker/migrations/forward/064_create_pattern_learning_artifacts.sql
  docker/migrations/rollback/rollback_064_pattern_learning_artifacts.sql
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(OMN-12987): stage workspace/sibling-pin-comparison.json into deployed build context (#1979)
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_build_context.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13141): runtime executor skips event_model import for operation_match entries
  src/omnibase_infra/runtime/runtime_local.py
  src/omnibase_infra/runtime/runtime_local_adapter.py
  tests/unit/runtime/test_run_event_driven_operation_match.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-13141): add deploy-gate evidence contract
  contracts/OMN-13141.yaml
Due: onex-validate-contracts

fix(OMN-13124): retire legacy 064 pattern_learning_artifacts migration (superseded by vendored node migration) (#1980)
  docker/migrations/forward/064_create_pattern_learning_artifacts.sql
  docker/migrations/rollback/rollback_064_pattern_learning_artifacts.sql
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(OMN-12987): project-namespace forward-migration container_name to stop cross-lane collision (#1981)
  docker/catalog/services/forward-migration.yaml
  docker/docker-compose.infra.yml
  scripts/deploy-runtime.sh
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13141): runtime executor skips event_model import for operation_match entries (#1982)
  contracts/OMN-13141.yaml
  src/omnibase_infra/runtime/runtime_local.py
  src/omnibase_infra/runtime/runtime_local_adapter.py
  tests/unit/runtime/test_run_event_driven_operation_match.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-8724): coerce dict payload into typed handler model at dispatch boundary + emit SkillRoutingError envelope
  src/omnibase_infra/cli/cli_node.py
  src/omnibase_infra/runtime/runtime_local.py
  src/omnibase_infra/runtime/runtime_local_adapter.py
  tests/unit/cli/test_cli_node.py
  tests/unit/runtime/test_runtime_local_operation_match_typed_handler.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13149): savings consumer decodes typed ModelEventMessage instead of calling .get()
  contracts/OMN-13149.yaml
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/services/observability/savings_estimation/consumer.py
  tests/unit/services/observability/savings_estimation/test_consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13150): vendor node_projection_routing_decision agent_routing_decisions migration (FIX-1)
  docker/migrations/forward/nodes/node_projection_routing_decision/0021_create_agent_routing_decisions.sql
Due: none

fix(OMN-8724): coerce dict payload into typed handler model at dispatch boundary + emit SkillRoutingError envelope (#1983)
  src/omnibase_infra/cli/cli_node.py
  src/omnibase_infra/runtime/runtime_local.py
  src/omnibase_infra/runtime/runtime_local_adapter.py
  tests/unit/cli/test_cli_node.py
  tests/unit/runtime/test_runtime_local_operation_match_typed_handler.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13149): savings consumer decodes typed ModelEventMessage instead of calling .get() (#1984)
  contracts/OMN-13149.yaml
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/services/observability/savings_estimation/consumer.py
  tests/unit/services/observability/savings_estimation/test_consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13150): vendor node_projection_routing_decision agent_routing_decisions migration (FIX-1) (#1985)
  docker/migrations/forward/nodes/node_projection_routing_decision/0021_create_agent_routing_decisions.sql
Due: none

fix(OMN-13159): render reads endpoint_url_env (complete URL, verbatim) not base_url_env
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/integration/test_volume_config_drift_provenance_e2e.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13159): render reads endpoint_url_env (complete URL, verbatim) not base_url_env (#1989)
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/integration/test_volume_config_drift_provenance_e2e.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-13161): drop hardcoded delegate max_tokens constant; resolve from routing contract
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/skill_mapping.yaml
  tests/unit/cli/test_cli_delegate.py
  tests/unit/cli/test_cli_skill.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-13161): drop hardcoded delegate max_tokens constant; resolve from routing contract (#1990)
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/skill_mapping.yaml
  tests/unit/cli/test_cli_delegate.py
  tests/unit/cli/test_cli_skill.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13158): map anthropic delegation secret
  contracts/services/runtime_policy.contract.yaml
  docker/runtime-policy.env
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_judge_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/integration/runtime/test_runtime_policy_contract.py
  tests/unit/infra/test_judge_compose_profile.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13158): use headless codex cli for delegation
  contracts/services/runtime_policy.contract.yaml
  docker/runtime-policy.env
  src/omnibase_infra/configs/routing_tiers.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_cli_subprocess.py
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_judge_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/integration/runtime/test_runtime_policy_contract.py
  tests/unit/infra/test_judge_compose_profile.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess_claude_opencode.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13158): document cli subprocess resolver contract
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
Due: onex-validate-contracts

fix(OMN-13158): use oauth-safe cli subprocess argv
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_cli_subprocess.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess_claude_opencode.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13158): ignore stale deploy health url
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_no_env_file.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-13158): align llm inference contract patch expectation
  tests/integration/test_omn12816_main_promotion_coverage.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13158): use headless codex cli for delegation (#1996)
  scripts/deploy-runtime.sh
  src/omnibase_infra/configs/routing_tiers.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_cli_subprocess.py
  tests/integration/test_omn12816_main_promotion_coverage.py
  tests/scripts/test_deploy_runtime_no_env_file.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess_claude_opencode.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-13186): refresh omnibase_infra documentation
  docs/architecture/CONFIG_DISCOVERY.md
  docs/architecture/CURRENT_NODE_ARCHITECTURE.md
  docs/architecture/MESSAGE_DISPATCH_ENGINE.md
  docs/operations/README.md
  docs/reference/README.md
  docs/runbooks/vendored-node-migrations.md
  docs/testing/CI_TEST_STRATEGY.md
  docs/validation/validator_reference.md
Due: onex-validate-markdown-links

chore(OMN-13187): refresh infra dependency lock
  uv.lock
Due: none

docs(OMN-13172): refresh omnibase_infra documentation (#1997)
  docs/architecture/CONFIG_DISCOVERY.md
  docs/architecture/CURRENT_NODE_ARCHITECTURE.md
  docs/architecture/MESSAGE_DISPATCH_ENGINE.md
  docs/operations/README.md
  docs/reference/README.md
  docs/runbooks/vendored-node-migrations.md
  docs/testing/CI_TEST_STRATEGY.md
  docs/validation/validator_reference.md
Due: onex-validate-markdown-links

chore(OMN-13187): refresh runner image identity
  docker/runners/runner-image.lock.json
Due: none

test(OMN-13187): refresh runner identity expectation
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-13187): refresh omnibase_infra dependencies (#1998)
  .github/workflows/ci.yml
  docker/runners/runner-image.lock.json
  pyproject.toml
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-13187): refresh infra uv dependency group
  docker/runners/runner-image.lock.json
  scripts/deploy-agent/pyproject.toml
  scripts/deploy-agent/uv.lock
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-13187): refresh infra uv dependency group (#2000)
  docker/runners/runner-image.lock.json
  scripts/deploy-agent/pyproject.toml
  scripts/deploy-agent/uv.lock
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
