Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$

fix(handlers): address PR #145 review feedback for HandlerManifestPersistence [OMN-1163]
  src/omnibase_infra/handlers/handler_manifest_persistence.py
  src/omnibase_infra/handlers/models/model_manifest_store_result.py
  tests/integration/handlers/test_handler_manifest_persistence.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): address all PR #144 review feedback for release readiness [OMN-1169]
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/test_projector_shell_database.py
  tests/unit/runtime/test_projector_shell.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): mark flaky latency test as xfail for CI stability [OMN-1163]
  tests/performance/event_bus/test_event_bus_latency.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): extract SQL methods to mixin, fix remaining PR #144 issues [OMN-1169]
  src/omnibase_infra/runtime/mixins/__init__.py
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/runtime/test_projector_shell.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): add WARN logging and improve documentation for ProjectorShell [OMN-1169]
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/projector_shell.py
  tests/unit/runtime/test_projector_shell.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(handlers): address PR #145 release-ready review feedback [OMN-1163]
  src/omnibase_infra/handlers/handler_manifest_persistence.contract.yaml
  src/omnibase_infra/handlers/handler_manifest_persistence.py
  tests/integration/handlers/test_handler_manifest_persistence.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(runtime): implement ProjectorShell for contract-driven projections [OMN-1169] (#144)
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/mixins/__init__.py
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/projector_plugin_loader.py
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/test_projector_shell_database.py
  tests/unit/runtime/test_projector_shell.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(handlers): implement retry logic for HandlerManifestPersistence [OMN-1163]
  src/omnibase_infra/handlers/handler_manifest_persistence.py
  tests/unit/handlers/test_handler_manifest_persistence_retry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(projectors): convert ProjectorRegistration to declarative contract [OMN-1170]
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_heartbeat.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/registry/registry_infra_node_registration_orchestrator.py
  src/omnibase_infra/projectors/__init__.py
  src/omnibase_infra/projectors/contracts/__init__.py
  src/omnibase_infra/projectors/contracts/registration_projector.yaml
  src/omnibase_infra/projectors/projector_registration.py
  src/omnibase_infra/runtime/container_wiring.py
  src/omnibase_infra/runtime/kernel.py
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/services/service_timeout_emitter.py
  tests/integration/projectors/conftest.py
  tests/integration/projectors/test_gin_index_usage.py
  tests/integration/projectors/test_projection_reader_gin_indexes.py
  tests/integration/projectors/test_registration_projection_integration.py
  tests/integration/projectors/test_registration_projector_parity.py
  tests/integration/registration/e2e/conftest.py
  tests/integration/registration/e2e/test_full_orchestrator_flow.py
  tests/integration/registration/e2e/test_two_way_registration_e2e.py
  tests/integration/registration/handlers/conftest.py
  tests/integration/registration/handlers/test_handler_node_heartbeat_integration.py
  tests/integration/runtime/test_projector_shell_database.py
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
  tests/unit/projectors/test_projector_registration.py
  tests/unit/projectors/test_projector_registration_capabilities.py
  tests/unit/runtime/test_projector_shell.py
  tests/unit/services/test_timeout_emitter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(handlers): address PR #145 final review feedback [OMN-1163]
  src/omnibase_infra/handlers/handler_manifest_persistence.py
  tests/integration/handlers/test_handler_manifest_persistence.py
  tests/unit/handlers/test_handler_manifest_persistence_retry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(handlers): address PR #145 release-ready feedback and CI stability [OMN-1163]
  src/omnibase_infra/handlers/handler_manifest_persistence.py
  tests/integration/handlers/test_handler_manifest_persistence.py
  tests/performance/event_bus/test_event_bus_throughput.py
  tests/unit/handlers/test_handler_manifest_persistence_retry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(projectors): address PR #146 review issues and CI failures [OMN-1170]
  src/omnibase_infra/projectors/contracts/registration_projector.yaml
  src/omnibase_infra/runtime/kernel.py
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/projector_plugin_loader.py
  src/omnibase_infra/runtime/projector_shell.py
  tests/integration/projectors/test_registration_projector_parity.py
  tests/integration/registration/handlers/test_handler_node_heartbeat_integration.py
  tests/integration/timeouts/conftest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(handlers): enforce query limit max, fail-fast retry config, add scan metrics [OMN-1163]
  src/omnibase_infra/handlers/handler_manifest_persistence.py
  tests/unit/handlers/test_handler_manifest_persistence_retry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): strengthen weak circuit breaker assertion in retry tests [OMN-1163]
  tests/unit/handlers/test_handler_manifest_persistence_retry.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(projectors): address remaining PR #146 review feedback [OMN-1170]
  src/omnibase_infra/projectors/contracts/registration_projector.yaml
  src/omnibase_infra/validation/any_type_validator.py
  tests/integration/projectors/test_registration_projector_parity.py
  tests/integration/registration/e2e/test_two_way_registration_e2e.py
  tests/integration/registration/handlers/test_handler_node_heartbeat_integration.py
  tests/integration/timeouts/conftest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(mixins): encapsulate circuit breaker state in mixin method [OMN-1163]
  src/omnibase_infra/handlers/handler_manifest_persistence.py
  src/omnibase_infra/mixins/mixin_async_circuit_breaker.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(projectors): address all PR #146 review issues and CI failures [OMN-1170]
  docker/migrations/001_registration_projection.sql
  src/omnibase_infra/projectors/contracts/registration_projector.yaml
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/schemas/schema_registration_projection.sql
  tests/integration/projectors/conftest.py
  tests/integration/projectors/test_registration_projector_parity.py
  tests/integration/registration/handlers/test_handler_node_heartbeat_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(handlers): implement HandlerManifestPersistence for execution manifest storage [OMN-1163] (#145)
  src/omnibase_infra/handlers/__init__.py
  src/omnibase_infra/handlers/handler_manifest_persistence.contract.yaml
  src/omnibase_infra/handlers/handler_manifest_persistence.py
  src/omnibase_infra/handlers/models/__init__.py
  src/omnibase_infra/handlers/models/model_manifest_metadata.py
  src/omnibase_infra/handlers/models/model_manifest_persistence_config.py
  src/omnibase_infra/handlers/models/model_manifest_query_payload.py
  src/omnibase_infra/handlers/models/model_manifest_query_result.py
  src/omnibase_infra/handlers/models/model_manifest_retrieve_payload.py
  src/omnibase_infra/handlers/models/model_manifest_retrieve_result.py
  src/omnibase_infra/handlers/models/model_manifest_store_payload.py
  src/omnibase_infra/handlers/models/model_manifest_store_result.py
  src/omnibase_infra/mixins/mixin_async_circuit_breaker.py
  tests/integration/handlers/test_handler_manifest_persistence.py
  tests/performance/event_bus/test_event_bus_latency.py
  tests/performance/event_bus/test_event_bus_throughput.py
  tests/unit/handlers/test_handler_manifest_persistence_retry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(projectors): address final PR #146 review issues [OMN-1170]
  src/omnibase_infra/projectors/contracts/registration_projector.yaml
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/utils/__init__.py
  src/omnibase_infra/utils/util_datetime.py
  tests/integration/projectors/conftest.py
  tests/integration/projectors/test_registration_projector_parity.py
  tests/unit/projectors/test_projector_contract_error_handling.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(projectors): address PR #146 review - composite keys, smoke tests, code quality [OMN-1170]
  src/omnibase_infra/projectors/contracts/registration_projector.yaml
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/projector_plugin_loader.py
  src/omnibase_infra/runtime/projector_shell.py
  tests/integration/projectors/test_registration_projector_parity.py
  tests/integration/registration/e2e/conftest.py
  tests/integration/registration/e2e/test_two_way_registration_e2e.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(projectors): add ADR for composite key upsert workaround [OMN-1170]
  docs/decisions/adr-projector-composite-key-upsert-workaround.md
Due: none

feat(projectors): convert ProjectorRegistration to declarative contract [OMN-1170] (#146)
  docker/migrations/001_registration_projection.sql
  docs/decisions/adr-projector-composite-key-upsert-workaround.md
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_heartbeat.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/registry/registry_infra_node_registration_orchestrator.py
  src/omnibase_infra/projectors/__init__.py
  src/omnibase_infra/projectors/contracts/__init__.py
  src/omnibase_infra/projectors/contracts/registration_projector.yaml
  src/omnibase_infra/projectors/projector_registration.py
  src/omnibase_infra/runtime/container_wiring.py
  src/omnibase_infra/runtime/kernel.py
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/projector_plugin_loader.py
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/schemas/schema_registration_projection.sql
  src/omnibase_infra/services/service_timeout_emitter.py
  src/omnibase_infra/utils/__init__.py
  src/omnibase_infra/utils/util_datetime.py
  src/omnibase_infra/validation/any_type_validator.py
  tests/integration/projectors/conftest.py
  tests/integration/projectors/test_gin_index_usage.py
  tests/integration/projectors/test_projection_reader_gin_indexes.py
  tests/integration/projectors/test_registration_projection_integration.py
  tests/integration/projectors/test_registration_projector_parity.py
  tests/integration/registration/e2e/conftest.py
  tests/integration/registration/e2e/test_full_orchestrator_flow.py
  tests/integration/registration/e2e/test_two_way_registration_e2e.py
  tests/integration/registration/handlers/conftest.py
  tests/integration/registration/handlers/test_handler_node_heartbeat_integration.py
  tests/integration/runtime/test_projector_shell_database.py
  tests/integration/timeouts/conftest.py
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
  tests/unit/projectors/test_projector_contract_error_handling.py
  tests/unit/projectors/test_projector_registration.py
  tests/unit/projectors/test_projector_registration_capabilities.py
  tests/unit/runtime/test_projector_shell.py
  tests/unit/services/test_timeout_emitter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(services): implement ServiceCorpusCapture for execution manifest collection [OMN-1203]
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_capture_outcome.py
  src/omnibase_infra/enums/enum_capture_state.py
  src/omnibase_infra/enums/enum_dedupe_strategy.py
  src/omnibase_infra/models/corpus/__init__.py
  src/omnibase_infra/models/corpus/model_capture_config.py
  src/omnibase_infra/models/corpus/model_capture_result.py
  src/omnibase_infra/services/__init__.py
  src/omnibase_infra/services/service_corpus_capture.py
  tests/integration/services/test_corpus_capture_integration.py
  tests/unit/services/test_service_corpus_capture.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(enums): convert Literal types to Enums for type safety [OMN-1304]
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_backend_type.py
  src/omnibase_infra/enums/enum_confirmation_event_type.py
  src/omnibase_infra/enums/enum_registration_status.py
  src/omnibase_infra/enums/enum_registry_response_status.py
  src/omnibase_infra/enums/enum_response_status.py
  src/omnibase_infra/handlers/handler_consul.py
  src/omnibase_infra/handlers/handler_db.py
  src/omnibase_infra/handlers/models/model_consul_handler_response.py
  src/omnibase_infra/handlers/models/model_db_query_response.py
  src/omnibase_infra/handlers/models/model_handler_response.py
  src/omnibase_infra/handlers/models/model_http_handler_response.py
  src/omnibase_infra/handlers/models/model_vault_handler_response.py
  src/omnibase_infra/models/errors/model_handler_validation_error.py
  src/omnibase_infra/models/validation/model_any_type_violation.py
  src/omnibase_infra/models/validation/model_chain_violation.py
  src/omnibase_infra/models/validation/model_execution_shape_violation.py
  src/omnibase_infra/nodes/effects/models/model_registry_response.py
  src/omnibase_infra/nodes/node_registration_reducer/models/__init__.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_partial_retry.py
  src/omnibase_infra/nodes/node_registry_effect/models/model_partial_retry_request.py
  src/omnibase_infra/nodes/reducers/models/__init__.py
  src/omnibase_infra/nodes/reducers/models/model_registration_confirmation.py
  src/omnibase_infra/nodes/reducers/models/model_registration_state.py
  src/omnibase_infra/nodes/reducers/registration_reducer.py
  src/omnibase_infra/validation/any_type_validator.py
  src/omnibase_infra/validation/chain_propagation_validator.py
  src/omnibase_infra/validation/contract_linter.py
  src/omnibase_infra/validation/execution_shape_validator.py
  src/omnibase_infra/validation/routing_coverage_validator.py
  src/omnibase_infra/validation/runtime_shape_validator.py
  src/omnibase_infra/validation/topic_category_validator.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_partial_retry.py
  tests/unit/nodes/reducers/test_registration_reducer.py
  tests/unit/validation/test_any_type_validator.py
  tests/unit/validation/test_chain_propagation_validator.py
  tests/unit/validation/test_validation_aggregator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

fix: address CodeRabbit review comments [OMN-1304]
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/handlers/models/model_consul_handler_response.py
  src/omnibase_infra/handlers/models/model_db_query_response.py
  src/omnibase_infra/handlers/models/model_http_handler_response.py
  src/omnibase_infra/handlers/models/model_vault_handler_response.py
  src/omnibase_infra/models/errors/model_handler_validation_error.py
  src/omnibase_infra/models/validation/model_chain_violation.py
  src/omnibase_infra/models/validation/model_execution_shape_violation.py
  src/omnibase_infra/nodes/effects/models/model_registry_response.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_partial_retry.py
  src/omnibase_infra/nodes/reducers/registration_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

feat(infra): implement SnapshotRepository as generic infrastructure primitive [OMN-1246]
  src/omnibase_infra/models/__init__.py
  src/omnibase_infra/models/snapshot/__init__.py
  src/omnibase_infra/models/snapshot/model_field_change.py
  src/omnibase_infra/models/snapshot/model_snapshot.py
  src/omnibase_infra/models/snapshot/model_snapshot_diff.py
  src/omnibase_infra/models/snapshot/model_subject_ref.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_snapshot_store.py
  src/omnibase_infra/services/__init__.py
  src/omnibase_infra/services/snapshot/__init__.py
  src/omnibase_infra/services/snapshot/snapshot_repository.py
  src/omnibase_infra/services/snapshot/store_inmemory.py
  src/omnibase_infra/services/snapshot/store_postgres.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/services/snapshot/__init__.py
  tests/unit/services/snapshot/test_snapshot_repository.py
  tests/unit/services/snapshot/test_store_inmemory.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(enums): convert Literal types to Enums for type safety [OMN-1304] (#148)
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_backend_type.py
  src/omnibase_infra/enums/enum_confirmation_event_type.py
  src/omnibase_infra/enums/enum_registration_status.py
  src/omnibase_infra/enums/enum_registry_response_status.py
  src/omnibase_infra/enums/enum_response_status.py
  src/omnibase_infra/handlers/handler_consul.py
  src/omnibase_infra/handlers/handler_db.py
  src/omnibase_infra/handlers/models/model_consul_handler_response.py
  src/omnibase_infra/handlers/models/model_db_query_response.py
  src/omnibase_infra/handlers/models/model_handler_response.py
  src/omnibase_infra/handlers/models/model_http_handler_response.py
  src/omnibase_infra/handlers/models/model_vault_handler_response.py
  src/omnibase_infra/models/errors/model_handler_validation_error.py
  src/omnibase_infra/models/validation/model_any_type_violation.py
  src/omnibase_infra/models/validation/model_chain_violation.py
  src/omnibase_infra/models/validation/model_execution_shape_violation.py
  src/omnibase_infra/nodes/effects/models/model_registry_response.py
  src/omnibase_infra/nodes/node_registration_reducer/models/__init__.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_partial_retry.py
  src/omnibase_infra/nodes/node_registry_effect/models/model_partial_retry_request.py
  src/omnibase_infra/nodes/reducers/models/__init__.py
  src/omnibase_infra/nodes/reducers/models/model_registration_confirmation.py
  src/omnibase_infra/nodes/reducers/models/model_registration_state.py
  src/omnibase_infra/nodes/reducers/registration_reducer.py
  src/omnibase_infra/validation/any_type_validator.py
  src/omnibase_infra/validation/chain_propagation_validator.py
  src/omnibase_infra/validation/contract_linter.py
  src/omnibase_infra/validation/execution_shape_validator.py
  src/omnibase_infra/validation/routing_coverage_validator.py
  src/omnibase_infra/validation/runtime_shape_validator.py
  src/omnibase_infra/validation/topic_category_validator.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_partial_retry.py
  tests/unit/nodes/reducers/test_registration_reducer.py
  tests/unit/validation/test_any_type_validator.py
  tests/unit/validation/test_chain_propagation_validator.py
  tests/unit/validation/test_validation_aggregator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

fix(errors): address PR review feedback for correlation_id and docstrings (OMN-1306)
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/nodes/node_service_discovery_effect/registry/registry_infra_service_discovery.py
  src/omnibase_infra/runtime/contract_handler_discovery.py
  src/omnibase_infra/runtime/dispatchers/dispatcher_node_introspected.py
  src/omnibase_infra/runtime/dispatchers/dispatcher_node_registration_acked.py
  src/omnibase_infra/runtime/dispatchers/dispatcher_runtime_tick.py
  src/omnibase_infra/runtime/kernel.py
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_projector_plugin_loader_config.py
  src/omnibase_infra/runtime/projector_plugin_loader.py
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/runtime/runtime_scheduler.py
  tests/unit/projectors/test_projector_contract_error_handling.py
  tests/unit/runtime/test_projector_plugin_loader.py
  tests/unit/runtime/test_projector_shell.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: critical code quality issues - enum merge, dead code, TODOs [OMN-1303]
  src/omnibase_infra/enums/enum_handler_type.py
  src/omnibase_infra/enums/enum_validation_severity.py
  src/omnibase_infra/nodes/architecture_validator/enums/__init__.py
  src/omnibase_infra/nodes/architecture_validator/enums/enum_validation_severity.py
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/nodes/reducers/registration_reducer.py
  src/omnibase_infra/protocols/protocol_projector_schema_validator.py
  src/omnibase_infra/runtime/handler_contract_source.py
  src/omnibase_infra/runtime/policy_registry.py
  src/omnibase_infra/runtime/projector_schema_manager.py
  src/omnibase_infra/services/service_capability_query.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

fix(infra): address PR #150 review feedback for ServiceSnapshot [OMN-1246]
  src/omnibase_infra/models/snapshot/__init__.py
  src/omnibase_infra/models/snapshot/model_field_change.py
  src/omnibase_infra/models/snapshot/model_snapshot.py
  src/omnibase_infra/models/snapshot/model_snapshot_diff.py
  src/omnibase_infra/models/snapshot/model_subject_ref.py
  src/omnibase_infra/protocols/protocol_snapshot_store.py
  src/omnibase_infra/services/__init__.py
  src/omnibase_infra/services/snapshot/__init__.py
  src/omnibase_infra/services/snapshot/service_snapshot.py
  src/omnibase_infra/services/snapshot/store_inmemory.py
  src/omnibase_infra/services/snapshot/store_postgres.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/services/snapshot/test_service_snapshot.py
  tests/unit/services/snapshot/test_store_inmemory.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(errors): address remaining PR review feedback (OMN-1306)
  src/omnibase_infra/nodes/node_service_discovery_effect/registry/registry_infra_service_discovery.py
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/runtime_scheduler.py
  tests/unit/runtime/test_projector_plugin_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor: remove backwards compatibility re-exports for EnumValidationSeverity
  src/omnibase_infra/nodes/architecture_validator/__init__.py
  src/omnibase_infra/nodes/architecture_validator/enums/__init__.py
  src/omnibase_infra/nodes/architecture_validator/models/__init__.py
  src/omnibase_infra/nodes/architecture_validator/models/model_architecture_violation.py
  src/omnibase_infra/nodes/architecture_validator/models/model_rule_check_result.py
  src/omnibase_infra/nodes/architecture_validator/models/model_validation_result.py
  src/omnibase_infra/nodes/architecture_validator/protocols/protocol_architecture_rule.py
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_direct_dispatch.py
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_handler_publishing.py
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_orchestrator_fsm.py
  tests/unit/nodes/architecture_validator/validators/test_rule_classes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: resolve mypy errors in Kafka mixin files using Protocol pattern
  src/omnibase_infra/event_bus/mixin_kafka_broadcast.py
  src/omnibase_infra/event_bus/mixin_kafka_dlq.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(registry): load handler routing from contract.yaml [OMN-1316]
  src/omnibase_infra/nodes/node_registration_orchestrator/node.py
  src/omnibase_infra/nodes/node_registration_orchestrator/registry/registry_infra_node_registration_orchestrator.py
  src/omnibase_infra/runtime/contract_loaders/__init__.py
  src/omnibase_infra/runtime/contract_loaders/handler_routing_loader.py
  tests/unit/runtime/contract_loaders/__init__.py
  tests/unit/runtime/contract_loaders/conftest.py
  tests/unit/runtime/contract_loaders/test_handler_routing_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: PR review feedback - docstring accuracy and import optimization [OMN-1303]
  src/omnibase_infra/nodes/architecture_validator/models/model_architecture_violation.py
  src/omnibase_infra/nodes/architecture_validator/models/model_validation_result.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(errors): add correlation_id to all ModelInfraErrorContext usages (OMN-1306)
  src/omnibase_infra/dlq/service_dlq_tracking.py
  src/omnibase_infra/idempotency/store_postgres.py
  src/omnibase_infra/models/dispatch/model_dispatch_outcome.py
  src/omnibase_infra/models/logging/model_log_context.py
  src/omnibase_infra/models/projection/model_registration_snapshot.py
  src/omnibase_infra/models/projectors/util_sql_identifiers.py
  src/omnibase_infra/models/validation/model_coverage_metrics.py
  src/omnibase_infra/models/validation/model_validation_outcome.py
  src/omnibase_infra/nodes/architecture_validator/node.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_registry_intent.py
  src/omnibase_infra/nodes/node_registration_orchestrator/node.py
  src/omnibase_infra/nodes/node_registration_orchestrator/registry/registry_infra_node_registration_orchestrator.py
  src/omnibase_infra/nodes/node_registration_storage_effect/registry/registry_infra_registration_storage.py
  src/omnibase_infra/runtime/message_dispatch_engine.py
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/services/service_health.py
  src/omnibase_infra/validation/runtime_shape_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(security): add namespace allowlisting and consolidate contract loading [OMN-1316]
  src/omnibase_infra/nodes/node_registration_orchestrator/registry/registry_infra_node_registration_orchestrator.py
  src/omnibase_infra/runtime/contract_loaders/__init__.py
  src/omnibase_infra/runtime/contract_loaders/handler_routing_loader.py
  tests/unit/runtime/contract_loaders/test_handler_routing_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types
