Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

test(integration): add HandlerBaselineCapture integration tests [OMN-7484]
  tests/integration/nodes/test_node_baseline_capture_effect.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(infra): increase AUTOHEAL_START_PERIOD to 1500s for worker health window [OMN-7235]
  docker/docker-compose.infra.yml
  scripts/ci/run_compliance_sweep.py
  scripts/ci/run_contract_sweep.py
  scripts/ci/run_duplication_sweep.py
  scripts/ci/tests/fixtures/compliance_repo/src/nodes/node_foo/handlers/handler_clean.py
  scripts/ci/tests/fixtures/compliance_repo/src/nodes/node_foo/handlers/handler_foo.py
  scripts/ci/tests/fixtures/compliance_repo/src/nodes/node_foo/handlers/handler_transport.py
  scripts/ci/tests/fixtures/compliance_repo/src/nodes/node_foo/node.py
  scripts/ci/tests/fixtures/duplication_repo/omniclaude/src/omniclaude/hooks/topics.py
  scripts/ci/tests/fixtures/duplication_repo/onex_change_control/src/onex_change_control/boundaries/kafka_boundaries.yaml
  scripts/ci/tests/test_sweep_clis.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_self_update.py
  scripts/generate_entry_points.py
  scripts/verify_error_triage_e2e.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(infra): increase AUTOHEAL_START_PERIOD to 1500s for worker health window [OMN-7235] (#1263)
  docker/docker-compose.infra.yml
  scripts/ci/run_compliance_sweep.py
  scripts/ci/run_contract_sweep.py
  scripts/ci/run_duplication_sweep.py
  scripts/ci/tests/fixtures/compliance_repo/src/nodes/node_foo/handlers/handler_clean.py
  scripts/ci/tests/fixtures/compliance_repo/src/nodes/node_foo/handlers/handler_foo.py
  scripts/ci/tests/fixtures/compliance_repo/src/nodes/node_foo/handlers/handler_transport.py
  scripts/ci/tests/fixtures/compliance_repo/src/nodes/node_foo/node.py
  scripts/ci/tests/fixtures/duplication_repo/omniclaude/src/omniclaude/hooks/topics.py
  scripts/ci/tests/fixtures/duplication_repo/onex_change_control/src/onex_change_control/boundaries/kafka_boundaries.yaml
  scripts/ci/tests/test_sweep_clis.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_self_update.py
  scripts/generate_entry_points.py
  scripts/verify_error_triage_e2e.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(omnibase_infra): eliminate HARDCODED_TOPIC violations [OMN-8605]
  src/omnibase_infra/cli/git_hook_relay.py
  src/omnibase_infra/cli/linear_relay.py
  src/omnibase_infra/runtime/contract_registration_event_router.py
  src/omnibase_infra/services/observability/agent_actions/consumer.py
  src/omnibase_infra/services/observability/injection_effectiveness/config.py
  src/omnibase_infra/services/observability/llm_cost_aggregation/config.py
  src/omnibase_infra/services/service_timeout_emitter.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  src/omnibase_infra/tui/consumers/consumer_status.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(topics): export 8 missing SUFFIX_* constants in topics/__init__.py [OMN-8605]
  src/omnibase_infra/topics/__init__.py
  tests/integration/registration/test_topic_suffix_compliance.py
  tests/integration/test_topic_suffix_exports.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): use rpk consumer lag check instead of log grep for dispatch evidence [OMN-7236]
  tests/integration/test_dispatch_roundtrip.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): use rpk consumer lag check instead of log grep for dispatch evidence [OMN-7236] (#1265)
  tests/integration/test_dispatch_roundtrip.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(test): repair 3 cascading main regressions [OMN-8605, OMN-8550]
  scripts/check_contract_topic_parity.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/integration/test_topic_suffix_exports.py
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): clarify ProtocolDomainPlugin whitelist + legacy allowlist justifications [OMN-8550, OMN-8605]
  scripts/check_contract_topic_parity.py
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): also run contract-compliance on push events [OMN-8664]
  .github/workflows/ci.yml
Due: none

fix: isolate env leakage in postgres config test + ECR tag check
  src/omnibase_infra/runtime/models/model_postgres_pool_config.py
  tests/unit/runtime/test_dependency_materializer.py
  tests/unit/scripts/test_compare_environments.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(integration): add ModelPostgresPoolConfig env-fallback coverage [OMN-8605]
  tests/integration/adapters/test_postgres_pool_config_defaults.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(topics): register code-embedded.v1 + code-enriched.v1 [OMN-5657]
  scripts/check_contract_topic_parity.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): add pytest.mark.integration to postgres pool config tests
  tests/integration/adapters/test_postgres_pool_config_defaults.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: export SUFFIX_INTELLIGENCE_CODE_EMBEDDED/ENRICHED + integration tests
  src/omnibase_infra/topics/__init__.py
  tests/integration/test_code_embedded_enriched_topics.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: set code-embedded and code-enriched topics to 3 partitions
  src/omnibase_infra/topics/platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(routing): add fallback_indicator + dynamic selection_mode to routing event schema
  src/omnibase_infra/adapters/llm/adapter_model_router.py
  src/omnibase_infra/adapters/llm/model_routing_decided_event.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: add runtime health monitor with consumer group coverage alerting (OMN-8623)
  src/omnibase_infra/models/health/model_runtime_health_check_event.py
  src/omnibase_infra/models/health/model_runtime_health_dimension.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
  src/omnibase_infra/topics/service_topic_registry.py
  src/omnibase_infra/topics/topic_keys.py
  tests/unit/services/test_service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: add return type annotations to shim functions (mypy)
  src/omnibase_infra/services/service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: annotate manifest and admin as Any to resolve mypy attr-defined errors
  src/omnibase_infra/services/service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime-health-monitor): fix bootstrap_servers env-fallback + add integration test [OMN-8662]
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/integration/test_runtime_health_monitor.py
  tests/unit/topics/test_service_topic_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(health-monitor): use full topic identity for coverage matching; derive test count from topic_keys [OMN-8662]
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/unit/topics/test_service_topic_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(health-monitor): address CodeRabbit review threads [OMN-8662]
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/integration/test_runtime_health_monitor.py
  tests/unit/services/test_service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(integration): add routing-decided event schema integration tests [OMN-8026]
  tests/integration/adapters/llm/test_routing_decided_event_schema.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: isolate env leakage in postgres config and ECR tag check [OMN-8605] (#1271)
  src/omnibase_infra/runtime/models/model_postgres_pool_config.py
  tests/integration/adapters/test_postgres_pool_config_defaults.py
  tests/unit/runtime/test_dependency_materializer.py
  tests/unit/scripts/test_compare_environments.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: address CR review issues in ServiceRuntimeHealthMonitor [OMN-8662]
  src/omnibase_infra/services/service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: resolve 3 blocking PR #1275 review threads
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/integration/test_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(topics): export SUFFIX_INTELLIGENCE_QUALITY_ASSESSMENT_* from __init__.py [OMN-8144]
  src/omnibase_infra/topics/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(topics): register quality-assessment command and completed topics [SOW Phase 2]
  scripts/check_contract_topic_parity.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(integration): add integration tests for quality-assessment topic registration [OMN-8144]
  tests/integration/test_quality_assessment_topic_exports.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(topics): register quality-assessment cmd/completed topics [OMN-8144] (#1273)
  scripts/check_contract_topic_parity.py
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/integration/test_quality_assessment_topic_exports.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: log CRITICAL at error level, DEGRADED at warning level in health monitor
  src/omnibase_infra/services/service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(health-monitor): replace Any shims with typed Protocols for CR thread 3075250608
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_auto_wiring_manifest_like.py
  src/omnibase_infra/protocols/protocol_kafka_admin_like.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: address CodeRabbit review threads on PR #1275
  src/omnibase_infra/protocols/protocol_auto_wiring_manifest_like.py
  src/omnibase_infra/protocols/protocol_kafka_admin_like.py
  src/omnibase_infra/runtime/service_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: resolve mypy errors in runtime health monitor — close() protocol + type annotations
  src/omnibase_infra/protocols/protocol_kafka_admin_like.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: correct test failures in CI splits 3 and 13 (OMN-8623)
  contracts/runtime/runtime_protocol.lock.json
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/services/test_service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(runtime): health monitor — consumer group + topic coverage alerting [OMN-8662] (#1275)
  contracts/runtime/runtime_protocol.lock.json
  src/omnibase_infra/models/health/model_runtime_health_check_event.py
  src/omnibase_infra/models/health/model_runtime_health_dimension.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_auto_wiring_manifest_like.py
  src/omnibase_infra/protocols/protocol_kafka_admin_like.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
  src/omnibase_infra/topics/service_topic_registry.py
  src/omnibase_infra/topics/topic_keys.py
  tests/integration/test_runtime_health_monitor.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/services/test_service_runtime_health_monitor.py
  tests/unit/topics/test_service_topic_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test: exercise TypeError path in namespace discovery test [OMN-8538]
  tests/integration/test_auto_wiring_namespace_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: remove unused sys import in test_namespace_package_discovery [OMN-8538]
  tests/integration/runtime/test_namespace_package_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(integration): add integration tests for namespace package contract discovery [OMN-8538]
  tests/integration/runtime/test_namespace_package_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
