Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

test(runtime): cover group state listing integration path [OMN-9646]
  tests/integration/test_runtime_health_monitor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-9646): add deploy-gate contract for health monitor confluent-kafka fix
  contracts/OMN-9646.yaml
Due: onex-validate-contracts

fix(runtime): derive infisical shared folders [OMN-9395]
  scripts/provision-infisical.py
  tests/integration/runtime/test_infisical_shared_folder_coverage.py
  tests/unit/scripts/test_provision_infisical.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): publish no-dispatcher messages to dlq [OMN-9649]
  src/omnibase_infra/event_bus/mixin_kafka_dlq.py
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  src/omnibase_infra/services/topics.yaml
  src/omnibase_infra/tools/contract_topic_extractor.py
  src/omnibase_infra/tools/topic_enum_generator.py
  tests/integration/runtime/test_dlq_topic_manifest_coverage.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
  tests/unit/tools/test_contract_topic_extractor_yaml.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): type dlq topic resolver protocol [OMN-9649]
  src/omnibase_infra/event_bus/mixin_kafka_dlq.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9600): use workspace-local .onex_state defaults; document external link check
  docs/validation/README.md
  src/omnibase_infra/adapters/project_tracker/local_stub_project_tracker.py
  src/omnibase_infra/services/agent_registry/registry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(runtime): derive auto-wired event types from topic [OMN-9648]
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_wiring_subscribe.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): derive auto-wired event types from topic [OMN-9648] (#1403)
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_wiring_subscribe.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9151): update 4 node contracts + add integration test for topic suppression sweep
  src/omnibase_infra/nodes/node_contract_persistence_effect/contract.yaml
  src/omnibase_infra/nodes/node_gmail_archive_cleanup_effect/contract.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/contract.yaml
  tests/integration/nodes/test_topic_suppression_markers_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): guard llm endpoint env drift [OMN-9647] (#1398)
  contracts/llm_endpoints.yaml
  docker/catalog/model_registry.yaml
  scripts/check_llm_endpoint_env_contract.py
  scripts/check_llm_endpoints.sh
  tests/scripts/test_check_llm_endpoint_env_contract.py
  tests/unit/contracts/test_llm_endpoints_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9151): raise performance test threshold to 2.0s to prevent CI flakes
  tests/unit/plugins/examples/test_plugin_json_normalizer.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): clear registration result applier on teardown [OMN-9550]
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  tests/integration/runtime/test_event_bus_subscriber_container_resolution.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/nodes/node_registration_orchestrator/test_plugin_wire_dispatchers_deferred.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9600): add contract + integration test to satisfy deploy-gate, receipt-gate, and integration coverage gates
  contracts/OMN-9600.yaml
  tests/integration/test_omn_9600_path_defaults.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(infra): migration 068 — landing_content_projection table [OMN-9661]
  docker/migrations/forward/068_create_landing_content_projection.sql
Due: none

feat(runtime): OMN-9556 register subscribe-capable event bus in container (#1391)
  contracts/OMN-9556.yaml
  src/omnibase_infra/nodes/node_delegation_orchestrator/plugin.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/runtime/test_event_bus_subscriber_container_resolution.py
  tests/unit/runtime/test_event_bus_subscriber_container_resolution.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9661): add deploy-gate contract and regenerate schema fingerprint for migration 068
  contracts/OMN-9661.yaml
  docker/migrations/schema_fingerprint.sha256
Due: onex-validate-contracts

fix(OMN-9661): regenerate schema fingerprint for migration 068 (54 files)
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(OMN-9600): address CodeRabbit review threads — ADR placeholders, REDUCER doc, runtime test
  README.md
  docs/decisions/adr-006-message-dispatch-engine-canonical-routing.md
  tests/integration/test_omn_9600_path_defaults.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(runtime): filter node entry points by contract [OMN-9645] (#1395)
  pyproject.toml
  scripts/generate_entry_points.py
  tests/scripts/test_generate_entry_points.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9550): regenerate protocol lockfile to include ProtocolDispatchResultApplier
  contracts/runtime/runtime_protocol.lock.json
Due: none

fix(runtime): defer auto-wiring subscriptions until after freeze [OMN-9550] (#1388)
  contracts/OMN-9550.yaml
  contracts/OMN-9557.yaml
  contracts/runtime/runtime_protocol.lock.json
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_dispatch_result_applier.py
  src/omnibase_infra/runtime/auto_wiring/__init__.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/runtime/test_auto_wiring_deferred_subscription_order.py
  tests/integration/runtime/test_event_bus_subscriber_container_resolution.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/nodes/node_registration_orchestrator/test_plugin_wire_dispatchers_deferred.py
  tests/unit/runtime/auto_wiring/test_wiring_subscribe.py
  tests/unit/runtime/test_event_bus_subscriber_container_resolution.py
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): derive Infisical shared folders [OMN-9395] (#1400)
  scripts/provision-infisical.py
  tests/integration/runtime/test_infisical_shared_folder_coverage.py
  tests/unit/scripts/test_provision_infisical.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tools): match dlq literals in python source extractor [OMN-9649]
  src/omnibase_infra/tools/contract_topic_extractor.py
  tests/unit/tools/test_python_source_topic_extraction.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): publish no-dispatcher messages to dlq [OMN-9649] (#1401)
  src/omnibase_infra/event_bus/mixin_kafka_dlq.py
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  src/omnibase_infra/services/topics.yaml
  src/omnibase_infra/tools/contract_topic_extractor.py
  src/omnibase_infra/tools/topic_enum_generator.py
  tests/integration/runtime/test_dlq_topic_manifest_coverage.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
  tests/unit/tools/test_contract_topic_extractor_yaml.py
  tests/unit/tools/test_python_source_topic_extraction.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
