Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(tests): remove dead Consul skips, convert flaky CI benchmarks [OMN-6684] (#1002)
  tests/integration/registration/e2e/test_topic_catalog_e2e.py
  tests/integration/registration/e2e/test_two_way_registration_e2e.py
  tests/integration/registration/test_registration_visibility.py
  tests/integration/services/mcp/e2e/test_mcp_real_e2e.py
  tests/unit/mixins/test_mixin_node_introspection.py
  tests/unit/runtime/test_policy_registry.py
  tests/unit/runtime/test_policy_registry_performance.py
  tests/unit/runtime/test_registry_compute.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: bump omnibase-spi to 0.20.0 [OMN-6691]
  pyproject.toml
  src/omnibase_infra/runtime/version_compatibility.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: restore TYPE_CHECKING imports needed for string annotations [OMN-6696]
  src/omnibase_infra/nodes/node_contract_registry_reducer/node.py
  src/omnibase_infra/nodes/node_registration_reducer/node.py
  src/omnibase_infra/nodes/node_session_lifecycle_reducer/node.py
  src/omnibase_infra/nodes/node_update_plan_reducer/node.py
  src/omnibase_infra/nodes/node_validation_adjudicator/node.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

chore: standardize TODO markers with ticket references [OMN-6655]
  scripts/register-repo.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/integration/correlation/conftest.py
  tests/integration/correlation/test_correlation_propagation.py
  tests/integration/correlation/test_correlation_propagation_heavy.py
  tests/integration/registration/e2e/test_topic_catalog_e2e.py
  tests/unit/runtime/test_transition_notification_outbox.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: replace raw topic literals with registry constants [OMN-6696]
  src/omnibase_infra/services/observability/skill_lifecycle/consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: remove unused TYPE_CHECKING import in test_binding_config_resolver
  tests/unit/runtime/test_binding_config_resolver.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: release v0.27.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: onex-validate-markdown-links

fix: update version compatibility matrix for v0.27.1
  src/omnibase_infra/runtime/version_compatibility.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(deps): bump omnibase_core to 0.33.0 (#1006)
  uv.lock
Due: none

fix: deploy-runtime.sh copies omnibase_core runtime contracts after rsync [OMN-6698]
  scripts/deploy-runtime.sh
Due: none

fix: entrypoint stamps schema fingerprints for all databases [OMN-6699]
  docker/entrypoint-runtime.sh
  src/omnibase_infra/runtime/util_schema_fingerprint.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Phoenix health check uses python3 instead of missing curl [OMN-6700]
  docker/docker-compose.infra.yml
Due: none

fix: adjust Phoenix health check Python path and timings [OMN-6714]
  docker/catalog/services/phoenix.yaml
Due: onex-validate-contracts

fix: strip v-prefix in plugin pin cascade verification [OMN-6717]
  .github/workflows/plugin-pin-cascade.yml
Due: none

fix: strip v-prefix in plugin pin cascade verification [OMN-6717] (#1009)
  .github/workflows/plugin-pin-cascade.yml
Due: none

fix: Phoenix health check uses python3 instead of missing curl [OMN-6700] (#1012)
  docker/docker-compose.infra.yml
Due: none

fix: harden deploy-runtime contract copy with fail-fast [OMN-6698]
  scripts/deploy-runtime.sh
Due: none

fix: align Phoenix catalog healthcheck with compose defaults [OMN-6714]
  docker/catalog/services/phoenix.yaml
Due: onex-validate-contracts

fix: harden deploy-runtime core contract validation [OMN-6698]
  scripts/deploy-runtime.sh
Due: none

fix: update test assertions to match manifest parameter [OMN-6699]
  tests/unit/test_cli_schema_fingerprint.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: entrypoint stamps schema fingerprints for all databases [OMN-6699] (#1011)
  docker/entrypoint-runtime.sh
  src/omnibase_infra/runtime/util_schema_fingerprint.py
  tests/unit/test_cli_schema_fingerprint.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: add GitHub PR merged event producer (webhook -> Kafka) [OMN-6726]
  .github/workflows/pr-merged-event.yml
  scripts/publish_pr_merged_event.py
  src/omnibase_infra/models/github/__init__.py
  src/omnibase_infra/models/github/model_pr_merged_event.py
  src/omnibase_infra/services/topics.yaml
  tests/unit/models/github/__init__.py
  tests/unit/models/github/test_model_pr_merged_event.py
  tests/unit/scripts/test_publish_pr_merged_event.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: deploy-runtime.sh copies omnibase_core runtime contracts [OMN-6698] (#1010)
  scripts/deploy-runtime.sh
Due: none

chore: address CodeRabbit review nits [OMN-6726]
  src/omnibase_infra/models/github/model_pr_merged_event.py
  tests/unit/models/github/test_model_pr_merged_event.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: register pr-merged topic in provisioner and remove redundant dict() [OMN-6726]
  scripts/check_contract_topic_parity.py
  scripts/publish_pr_merged_event.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: export SUFFIX_GITHUB_PR_MERGED from topics/__init__.py [OMN-6726]
  src/omnibase_infra/topics/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: GitHub PR merged event producer (webhook -> Kafka) [OMN-6726] (#1013)
  .github/workflows/pr-merged-event.yml
  scripts/check_contract_topic_parity.py
  scripts/publish_pr_merged_event.py
  src/omnibase_infra/models/github/__init__.py
  src/omnibase_infra/models/github/model_pr_merged_event.py
  src/omnibase_infra/services/topics.yaml
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/unit/models/github/__init__.py
  tests/unit/models/github/test_model_pr_merged_event.py
  tests/unit/scripts/test_publish_pr_merged_event.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): update wrong-source test to handle graceful degradation [OMN-6515]
  tests/unit/runtime/test_wiring_health_assembled_path.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: register custom noqa codes as ruff external linters
  pyproject.toml
Due: none

chore: register custom noqa codes as ruff external linters (#1014)
  pyproject.toml
Due: none

feat: post-merge consumer chain — hostile review + contract sweep + integration check [OMN-6727]
  scripts/check_contract_topic_parity.py
  src/omnibase_infra/services/post_merge/__init__.py
  src/omnibase_infra/services/post_merge/checks.py
  src/omnibase_infra/services/post_merge/config.py
  src/omnibase_infra/services/post_merge/consumer.py
  src/omnibase_infra/services/post_merge/enum_check_stage.py
  src/omnibase_infra/services/post_merge/enum_finding_severity.py
  src/omnibase_infra/services/post_merge/model_post_merge_finding.py
  src/omnibase_infra/services/post_merge/model_post_merge_result.py
  src/omnibase_infra/services/topics.yaml
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/unit/services/post_merge/__init__.py
  tests/unit/services/post_merge/test_checks.py
  tests/unit/services/post_merge/test_config.py
  tests/unit/services/post_merge/test_models.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: export SUFFIX_GITHUB_POST_MERGE_RESULT and remove unused boundary_packages [OMN-6727]
  src/omnibase_infra/services/post_merge/checks.py
  src/omnibase_infra/topics/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: release v0.28.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: onex-validate-markdown-links

fix: update version compatibility matrix for v0.28.0 deps
  src/omnibase_infra/runtime/version_compatibility.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: use hyphenated package names in CHANGELOG deps entry
  CHANGELOG.md
Due: onex-validate-markdown-links

fix(ci): add topic suffix export CI check and fix missing exports [F56]
  .github/workflows/ci.yml
  scripts/validation/check_topic_suffix_exports.py
  src/omnibase_infra/topics/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(observability): add consumer-health read-model projection [OMN-6757]
  docker/migrations/forward/056_create_consumer_health_events.sql
  src/omnibase_infra/services/observability/consumer_health/__init__.py
  src/omnibase_infra/services/observability/consumer_health/config.py
  src/omnibase_infra/services/observability/consumer_health/consumer.py
  src/omnibase_infra/services/observability/consumer_health/writer_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(types): fix mypy errors in consumer health writer [OMN-6757]
  src/omnibase_infra/services/observability/consumer_health/writer_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: address review comments and stamp schema fingerprint [OMN-6757]
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/services/observability/consumer_health/config.py
  src/omnibase_infra/services/observability/consumer_health/consumer.py
  src/omnibase_infra/services/observability/consumer_health/writer_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
