Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

feat(OMN-12619): contract-native DLQ replay node + quarantine path
  docker/catalog/bundles.yaml
  docker/catalog/services/dlq-replay-consumer.yaml
  docs/operations/DLQ_QUARANTINE_OWNERSHIP.md
  scripts/ci/infra-node-allowlist.txt
  scripts/dlq_replay.py
  src/omnibase_infra/dlq/models/enum_replay_status.py
  src/omnibase_infra/enums/generated/__init__.py
  src/omnibase_infra/enums/generated/enum_dlq_topic.py
  src/omnibase_infra/event_bus/topic_constants.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/__init__.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/__init__.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/enum_dlq_replay_filter_type.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_message.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_replay_command.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_replay_result.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_replay_run_result.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/node.py
  tests/unit/nodes/node_dlq_replay_effect/__init__.py
  tests/unit/nodes/node_dlq_replay_effect/test_handler_dlq_replay.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, onex-validate-markdown-links

fix(OMN-12528): cap stability topic provisioning (#1808)
  contracts/services/runtime_policy.contract.yaml
  docker/docker-compose.stability-test.yml
  docker/runtime-policy.env
  scripts/render_runtime_policy_env.py
  src/omnibase_infra/runtime/models/model_runtime_profile_policy.py
  tests/ci/test_runtime_policy_contract.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12619): qualify DLQ topics for contract lint
  docker/catalog/services/dlq-replay-consumer.yaml
  src/omnibase_infra/dlq/models/enum_replay_status.py
  src/omnibase_infra/enums/generated/__init__.py
  src/omnibase_infra/enums/generated/enum_dlq_topic.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  src/omnibase_infra/event_bus/topic_constants.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_replay_command.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/node.py
  src/omnibase_infra/services/topics.yaml
  src/omnibase_infra/tools/contract_topic_extractor.py
  tests/integration/event_bus/test_dlq_integration.py
  tests/integration/runtime/test_dlq_topic_manifest_coverage.py
  tests/unit/event_bus/test_topic_constants.py
  tests/unit/nodes/node_dlq_replay_effect/test_handler_dlq_replay.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
  tests/unit/runtime/test_message_dispatch_engine.py
  tests/unit/tools/test_contract_topic_extractor.py
  tests/unit/tools/test_contract_topic_extractor_yaml.py
  tests/unit/tools/test_python_source_topic_extraction.py
  tests/unit/topics/test_check_topic_drift.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-12619): source quarantine topic from engine config, not TOPIC_* import
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  tests/unit/tools/test_contract_topic_extractor_yaml.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-12626): prod runtime promotion-lineage guard (R1)
  .github/workflows/build-and-push-runtime.yml
  .github/workflows/prod-promotion-lineage.yml
  .pre-commit-config.yaml
  scripts/check_prod_promotion_lineage.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/pyproject.toml
  scripts/deploy-agent/tests/unit/conftest.py
  scripts/deploy-agent/tests/unit/test_executor_promotion_lineage.py
  scripts/deploy-runtime.sh
  tests/scripts/test_check_prod_promotion_lineage.py
  tests/scripts/test_deploy_runtime_prod_lineage.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12619): close DLQ replay review findings
  docs/operations/DLQ_QUARANTINE_OWNERSHIP.md
  scripts/dlq_replay.py
  src/omnibase_infra/dlq/models/enum_replay_status.py
  src/omnibase_infra/event_bus/topic_constants.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/__init__.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_replay_result.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_replay_run_result.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/node.py
  tests/unit/nodes/node_dlq_replay_effect/test_handler_dlq_replay.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, onex-validate-markdown-links

ci(OMN-12626): run guard tests via uv (conftest needs repo deps)
  .github/workflows/prod-promotion-lineage.yml
Due: none

fix(OMN-12522): advertise stability broker on connected network (#1838)
  contracts/OMN-12522.yaml
  docker/docker-compose.stability-test.yml
  docs/runbooks/stability-test-runtime-lane.md
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-12619): register DLQ replay node entry point
  pyproject.toml
Due: none

ci(OMN-12626): use shared CI env cache for guard tests (faster, avoids cold-sync timeout)
  .github/workflows/prod-promotion-lineage.yml
Due: none

ci(OMN-12619): refresh runner image identity
  docker/runners/runner-image.lock.json
Due: none

test(OMN-12626): set git identity in lineage clones
  tests/scripts/test_check_prod_promotion_lineage.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-12626): prod runtime promotion-lineage guard — pin prod to a promoted main digest (R1) (#1840)
  .github/workflows/build-and-push-runtime.yml
  .github/workflows/prod-promotion-lineage.yml
  .pre-commit-config.yaml
  scripts/check_prod_promotion_lineage.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/pyproject.toml
  scripts/deploy-agent/tests/unit/conftest.py
  scripts/deploy-agent/tests/unit/test_executor_promotion_lineage.py
  scripts/deploy-runtime.sh
  tests/scripts/test_check_prod_promotion_lineage.py
  tests/scripts/test_deploy_runtime_prod_lineage.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-12619): contract-native DLQ replay node + quarantine path (#1839)
  docker/catalog/bundles.yaml
  docker/catalog/services/dlq-replay-consumer.yaml
  docker/runners/runner-image.lock.json
  docs/operations/DLQ_QUARANTINE_OWNERSHIP.md
  pyproject.toml
  scripts/ci/infra-node-allowlist.txt
  scripts/dlq_replay.py
  src/omnibase_infra/dlq/models/enum_replay_status.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  src/omnibase_infra/event_bus/topic_constants.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/__init__.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/__init__.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/enum_dlq_replay_filter_type.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_message.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_replay_command.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_replay_result.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_replay_run_result.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/node.py
  src/omnibase_infra/services/topics.yaml
  src/omnibase_infra/tools/contract_topic_extractor.py
  tests/integration/event_bus/test_dlq_integration.py
  tests/integration/runtime/test_dlq_topic_manifest_coverage.py
  tests/unit/event_bus/test_topic_constants.py
  tests/unit/nodes/node_dlq_replay_effect/__init__.py
  tests/unit/nodes/node_dlq_replay_effect/test_handler_dlq_replay.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
  tests/unit/runtime/test_message_dispatch_engine.py
  tests/unit/tools/test_contract_topic_extractor.py
  tests/unit/tools/test_contract_topic_extractor_yaml.py
  tests/unit/tools/test_python_source_topic_extraction.py
  tests/unit/topics/test_check_topic_drift.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, onex-validate-markdown-links

test(OMN-12513): scope runtime Dockerfile assertions
  tests/unit/docker/test_runtime_dependency_pins.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-12513): restore runtime probe tool comment
  docker/Dockerfile.runtime
Due: none

fix(OMN-12513): add runtime probe toolchain (#1802)
  contracts/OMN-12513.yaml
  docker/Dockerfile.runtime
  docs/runbooks/stability-test-runtime-lane.md
  tests/unit/docker/test_runtime_dependency_pins.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-12527): materialize DLQ replay dependencies
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/runtime/test_manifest_pool_injection_integration.py
  tests/unit/nodes/node_dlq_replay_effect/test_handler_dlq_replay.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

style(OMN-12527): format DLQ dependency test
  tests/integration/runtime/test_manifest_pool_injection_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12527): sync DLQ replay contract
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
Due: onex-validate-contracts

chore(OMN-12527): delete dead IntentExecutionRouter (#1807)
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  src/omnibase_infra/runtime/intent_execution_router.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_intent_execution_summary.py
  src/omnibase_infra/runtime/protocols/__init__.py
  src/omnibase_infra/runtime/protocols/protocol_intent_executor.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/registration/e2e/test_two_way_registration_e2e.py
  tests/integration/runtime/test_manifest_pool_injection_integration.py
  tests/unit/models/test_model_serialization_roundtrip.py
  tests/unit/nodes/node_dlq_replay_effect/test_handler_dlq_replay.py
  tests/unit/runtime/test_intent_execution_router.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-7466): harden reusable runtime boot diagnostics (#1791)
  .github/workflows/reusable-runtime-boot.yml
  tests/ci/test_reusable_runtime_boot_schema.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12623): regenerate runner-image identity lock to clear stale shared_env_digest
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-12623): address CodeRabbit review
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/migration/models/model_consumer_group_lag.py
  src/omnibase_infra/migration/service_drain_proof_gate.py
  src/omnibase_infra/nodes/node_topic_migration_projection/contract.yaml
  tests/replay/test_topic_migration_replay_equivalence.py
  tests/unit/migration/test_consumer_group_lag.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12632): adapt lag observer to aiokafka 0.13.0 admin (no list_offsets)
  src/omnibase_infra/migration/__init__.py
  src/omnibase_infra/migration/adapter_kafka_admin_lag.py
  src/omnibase_infra/migration/protocols/__init__.py
  src/omnibase_infra/migration/protocols/protocol_kafka_lag_consumer.py
  tests/integration/envelope_routing/test_projection_topic_extraction.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/event_bus/test_kafka_config_api_version.py
  tests/unit/migration/test_consumer_group_lag.py
  tests/unit/migration/test_lag_adapter_list_offsets.py
  tests/unit/nodes/node_dlq_replay_effect/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12632): wire topic migration executor deps
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/test_handler_wiring_resolver_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

auto-ship(OMN-7466): rescue dirty canonical omnibase_infra [20260603T142619]
  .github/workflows/ci.yml
  .github/workflows/reusable-runtime-boot.yml
  .pre-commit-config.yaml
  docker/Dockerfile.runtime
  docker/migrations/forward/nodes/node_projection_savings/076_create_delegation_savings_projection_view.sql
  docker/runners/Dockerfile
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/event_bus/event_bus_kafka.py
  tests/ci/test_ci_workflow_resilience.py
  tests/ci/test_runner_image_node24_floor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12632): import aiokafka admin from supported namespace
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/test_handler_wiring_resolver_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12632): adapt drain-proof lag observer to aiokafka 0.13.0 admin (no list_offsets) (#1842)
  src/omnibase_infra/migration/__init__.py
  src/omnibase_infra/migration/adapter_kafka_admin_lag.py
  src/omnibase_infra/migration/protocols/__init__.py
  src/omnibase_infra/migration/protocols/protocol_kafka_lag_consumer.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/envelope_routing/test_projection_topic_extraction.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/event_bus/test_kafka_config_api_version.py
  tests/unit/migration/test_consumer_group_lag.py
  tests/unit/migration/test_lag_adapter_list_offsets.py
  tests/unit/nodes/node_dlq_replay_effect/__init__.py
  tests/unit/runtime/test_handler_wiring_resolver_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12627): vendor registration projection migrations
  contracts/OMN-12627.yaml
  docker/migrations/forward/nodes/.synced-nodes
  docker/migrations/forward/nodes/node_projection_delegation/0011_delegation_event_projection_versions.sql
  docker/migrations/forward/nodes/node_projection_registration/0000_create_node_service_registry.sql
  docker/migrations/forward/nodes/node_projection_registration/0001_add_heartbeat_columns.sql
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12631): decouple redpanda advertise hosts by lane
  contracts/OMN-12631.yaml
  docker/README.md
  docker/docker-compose.infra.yml
  docker/docker-compose.prod.yml
  docker/env-example-full.txt
  tests/integration/infra/test_prod_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_runtime_lane_kafka_environment.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-12627): preserve registry uptime not-null constraint
  docker/migrations/forward/nodes/node_projection_registration/0000_create_node_service_registry.sql
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12631): decouple redpanda advertise hosts by lane (#1844)
  contracts/OMN-12631.yaml
  docker/README.md
  docker/docker-compose.infra.yml
  docker/docker-compose.prod.yml
  docker/env-example-full.txt
  tests/integration/infra/test_prod_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_runtime_lane_kafka_environment.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-12627): vendor registration projection migrations (#1843)
  contracts/OMN-12627.yaml
  docker/migrations/forward/nodes/.synced-nodes
  docker/migrations/forward/nodes/node_projection_delegation/0011_delegation_event_projection_versions.sql
  docker/migrations/forward/nodes/node_projection_registration/0000_create_node_service_registry.sql
  docker/migrations/forward/nodes/node_projection_registration/0001_add_heartbeat_columns.sql
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12618): verify deploy agent lanes against live runtime state
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_lane_selection.py
  scripts/deploy-agent/tests/unit/test_executor_runtime_health_verify.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12618): verify deploy agent lanes against live runtime state (#1847)
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_lane_selection.py
  scripts/deploy-agent/tests/unit/test_executor_runtime_health_verify.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12618): add runtime error triage upsert index
  docker/migrations/forward/084_add_runtime_error_triage_open_suppressed_unique.sql
  docker/migrations/rollback/rollback_084_add_runtime_error_triage_open_suppressed_unique.sql
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(OMN-12618): add runtime error triage upsert index (#1848)
  docker/migrations/forward/084_add_runtime_error_triage_open_suppressed_unique.sql
  docker/migrations/rollback/rollback_084_add_runtime_error_triage_open_suppressed_unique.sql
  docker/migrations/schema_fingerprint.sha256
Due: none
