Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

test(OMN-18351): prove dependency projection edge cases
  tests/ci/test_runner_image_dependency_projection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18346): one branch-protection auditor of record, and a Check B that can see PR-time contexts (#3510)
  .github/required-checks.yaml
  .github/workflows/branch-protection-audit.yml
  CLAUDE.md
  scripts/audit-branch-protection.py
  scripts/audit-branch-protection.sh
  scripts/audit_branch_protection_lib.py
  scripts/audit_branch_protection_lib_cli.py
  scripts/audit_orphan_required_contexts.py
  scripts/audit_required_context_parity_cli.py
  scripts/audit_required_context_parity_lib.py
  tests/ci/test_branch_protection_audit.py
  tests/ci/test_branch_protection_single_auditor.py
  tests/ci/test_incident_replay_omn18346.py
  tests/ci/test_orphan_required_contexts_audit.py
  tests/ci/test_required_context_parity.py
  tests/fixtures/omn18346/omniclaude-dev-push-28ababda-check-runs.json.captured
  tests/fixtures/omn18346/omniclaude-main-protection.json.captured
  tests/fixtures/omn18346/omniclaude-pr2151-head-32f33409-check-runs-page2.json.captured
  tests/fixtures/omn18346/omniclaude-pr2151-head-32f33409-check-runs.json.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-18334): listen for a description edit on the companion-effect caller (#3501)
  .github/workflows/call-occ-companion-effect.yml
  tests/test_occ_companion_effect_edited_trigger_omn_18334.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18352): invoke the occ-preflight heal when the CI run completes (#3512)
  .github/workflows/occ-preflight-heal.yml
  scripts/ci/occ_preflight_heal.py
  tests/ci/test_incident_replay_omn18352.py
  tests/ci/test_occ_eval_path_trigger_coverage.py
  tests/ci/test_occ_preflight_heal_omn18352.py
  tests/fixtures/omn18352/ci-run34782083407-attempt1-jobs.json.captured
  tests/fixtures/omn18352/ci-run34782083407-attempt1.json.captured
  tests/fixtures/omn18352/ci-run34782083407-attempt2-jobs.json.captured
  tests/fixtures/omn18352/heal-job103790926965.log.gz.captured
  tests/fixtures/omn18352/heal-run34782126673.json.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18351): harden dependency projection identity (#3508)
  docker/runners/runner-image.lock.json
  scripts/ci/ci_env_digest.py
  tests/ci/test_runner_image_dependency_projection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: permit service database migration [OMN-18172]
  scripts/ci/check_application_database_sql.py
  tests/unit/infra/test_delegation_traffic_class_omn18172.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: declare canary traffic class output [OMN-18172]
  src/omnibase_infra/nodes/node_chain_canary_effect/contract.yaml
Due: onex-validate-contracts

feat(OMN-18329): measure the closer's held-unbound residual (#3499)
  pyproject.toml
  src/omnibase_infra/diagnostics/closer_receipt_residual.py
  tests/unit/diagnostics/test_closer_receipt_residual.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to 3069cfd8d282 [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

test: align canary grant fixture with provenance
  tests/scripts/test_login_only_role_grants_live_omn18060.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18172): validate canary traffic class readback
  src/omnibase_infra/nodes/node_chain_canary_effect/handlers/handler_chain_canary.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/model_chain_canary_result.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/model_projection_readback_outcome.py
  tests/unit/nodes/node_chain_canary_effect/test_handler_chain_canary_projection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18355): a non-verdict external check-run is not a CI Summary verdict
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
  tests/ci/test_incident_replay_omn18355.py
  tests/fixtures/omn18355/infra-pr3511-head-45e9d4d8-check-runs-page2.json.captured
  tests/fixtures/omn18355/infra-pr3511-head-45e9d4d8-check-runs.json.captured
  tests/fixtures/omn18355/infra-pr3512-ci-summary-job103815923213.log.gz.captured
  tests/fixtures/omn18355/infra-pr3512-head-689344f8-check-runs-page2.json.captured
  tests/fixtures/omn18355/infra-pr3512-head-689344f8-check-runs.json.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18346): bump canonical auditor pin to the narrowed carve-out
  .github/workflows/branch-protection-audit.yml
Due: none

fix(OMN-18295): refresh runner image identity for core bump
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-18295): refresh core pin seam fixtures
  src/omnibase_infra/runtime/version_compatibility.py
  tests/fixtures/seams/core_release/0.46.11_expected_symbols.json
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18346): bump canonical auditor pin to the narrowed carve-out (#3516)
  .github/workflows/branch-protection-audit.yml
Due: none

fix(OMN-18353): grant the sequence behind consumer_flow_windows.projection_cursor, and teach the gate the ALTER shape that hid it
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_consumer_flow/0004_grant_omninode_runtime_consumer_flow_cursor_sequence.sql
  scripts/validation/check_topology_grant_delivery.py
  tests/ci/test_topology_grant_delivery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18353): name the sequence statically — the dynamic DO/EXECUTE form is a closed shape
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_consumer_flow/0004_grant_omninode_runtime_consumer_flow_cursor_sequence.sql
Due: none

test(OMN-18353): advance the application-migration declaration count for the new grant file
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18353): harden sequence grant derivation review findings
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_consumer_flow/0004_grant_omninode_runtime_consumer_flow_cursor_sequence.sql
  scripts/validation/check_topology_grant_delivery.py
  tests/ci/test_topology_grant_delivery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18355): a non-verdict external check-run is not a CI Summary verdict (#3515)
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
  tests/ci/test_incident_replay_omn18355.py
  tests/fixtures/omn18355/infra-pr3511-head-45e9d4d8-check-runs-page2.json.captured
  tests/fixtures/omn18355/infra-pr3511-head-45e9d4d8-check-runs.json.captured
  tests/fixtures/omn18355/infra-pr3512-ci-summary-job103815923213.log.gz.captured
  tests/fixtures/omn18355/infra-pr3512-head-689344f8-check-runs-page2.json.captured
  tests/fixtures/omn18355/infra-pr3512-head-689344f8-check-runs.json.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18346): cite stable audit pin proof
  .github/workflows/branch-protection-audit.yml
Due: none

fix(OMN-18353): tighten sequence grant parser semantics
  scripts/validation/check_topology_grant_delivery.py
  tests/ci/test_topology_grant_delivery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18172): persist delegation traffic classification (#3513)
  docker/migrations/forward/106_add_delegation_workflow_state_traffic_class.sql
  docker/migrations/schema_fingerprint.sha256
  scripts/ci/check_application_database_sql.py
  scripts/run-forward-migrations.sh
  src/omnibase_infra/nodes/node_chain_canary_effect/contract.yaml
  src/omnibase_infra/nodes/node_chain_canary_effect/handlers/handler_chain_canary.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/model_chain_canary_result.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/model_projection_readback_outcome.py
  tests/scripts/test_login_only_role_grants_live_omn18060.py
  tests/unit/infra/test_delegation_traffic_class_omn18172.py
  tests/unit/infra/test_login_only_role_grants_omn18060.py
  tests/unit/nodes/node_chain_canary_effect/test_handler_chain_canary_projection.py
  tests/unit/nodes/node_chain_canary_effect/test_projection_dsn_declaration_omn18060.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18353): grant the sequence behind consumer_flow_windows.projection_cursor, and teach the gate the ALTER shape that hid it (#3511)
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_consumer_flow/0004_grant_omninode_runtime_consumer_flow_cursor_sequence.sql
  scripts/validation/check_topology_grant_delivery.py
  tests/ci/test_topology_grant_delivery.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(migrations): retain hook envelope UUID (OMN-17201)
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_hook_event_capture/0003_add_hook_events_envelope_id.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18320): harden retired lane census checks
  deploy/lane-census/lane-manifest.yaml
  tests/unit/scripts/test_lane_census_manifest_parity.py
  tests/unit/scripts/test_lane_census_plan.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18320): pin retired prod census invariants
  deploy/lane-census/census-snapshot.json
  tests/ci/test_lakshman_lane_governance_boundary.py
  tests/unit/scripts/test_lane_census_manifest_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-13912): refresh runner image identity
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-16497): pull-all.sh scans the whole registry for bare-clone corruption, not just the repos named
  scripts/pull-all.sh
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
