Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

refactor(handlers): extract shared error handling to _handle_postgres_error [OMN-1365] (#661)
  src/omnibase_infra/handlers/handler_db.py
  tests/unit/handlers/test_handler_db.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): force fresh venv on self-hosted runners
  .github/workflows/docker-build.yml
  .github/workflows/test.yml
Due: none

fix(ci): force reinstall omnibase-core and omnibase-spi in CI
  .github/workflows/docker-build.yml
  .github/workflows/test.yml
Due: none

feat(handlers): add Prometheus metrics for unknown PostgreSQL SQLSTATE classes [OMN-1366]
  src/omnibase_infra/handlers/handler_db.py
  tests/unit/handlers/test_handler_db.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

style: apply ruff format to test file
  tests/unit/handlers/test_handler_db.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(ci): bump CACHE_VERSION 0.5.0 -> 0.6.0 to invalidate stale UV caches
  .github/workflows/test.yml
Due: none

feat(security): add max_length=256 to hmac_secret field [OMN-1467]
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/bifrost/model_bifrost_config.py
  tests/unit/nodes/node_llm_inference_effect/handlers/bifrost/test_bifrost_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): use importlib.metadata for version checks instead of __version__
  src/omnibase_infra/runtime/version_compatibility.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(security): add max_length=256 to hmac_secret field [OMN-1467] (#663)
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/bifrost/model_bifrost_config.py
  tests/unit/nodes/node_llm_inference_effect/handlers/bifrost/test_bifrost_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(health): add degraded status detailed diagnostics [OMN-519]
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_component_health.py
  src/omnibase_infra/runtime/models/model_detailed_health_response.py
  src/omnibase_infra/services/service_health.py
  tests/unit/runtime/test_health_detailed.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(scripts): support == exact pins in update_version_matrix.py
  scripts/update_version_matrix.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-925: add unit tests for active operations tracking in MixinNodeIntrospection
  tests/unit/mixins/test_mixin_node_introspection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-925: add unit tests for active operations tracking in MixinNodeIntrospection (#666)
  tests/unit/mixins/test_mixin_node_introspection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(validation): add comprehensive contract schema validation [OMN-517]
  scripts/validate.py
  src/omnibase_infra/validation/linter_contract.py
  src/omnibase_infra/validation/models/model_contract_violation.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/validation/test_contract_linter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-926: add observability tests for performance metrics in introspection events
  tests/unit/mixins/test_mixin_node_introspection.py
  tests/unit/models/discovery/test_model_introspection_performance_metrics.py
  tests/unit/models/registration/test_model_node_introspection_event.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-1454: implement RetryWorker for subscription notification delivery
  src/omnibase_infra/services/retry_worker/__init__.py
  src/omnibase_infra/services/retry_worker/config_retry_worker.py
  src/omnibase_infra/services/retry_worker/models/__init__.py
  src/omnibase_infra/services/retry_worker/models/model_delivery_attempt.py
  src/omnibase_infra/services/retry_worker/models/model_retry_result.py
  src/omnibase_infra/services/retry_worker/service_retry_worker.py
  tests/unit/services/retry_worker/__init__.py
  tests/unit/services/retry_worker/test_service_retry_worker.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-1336: add ServiceEffectMockRegistry with thread-local utility
  docs/patterns/effect_boundary_testing.md
  src/omnibase_infra/testing/__init__.py
  src/omnibase_infra/testing/service_effect_mock_registry.py
  src/omnibase_infra/testing/service_effect_mock_registry_thread_local.py
  tests/unit/testing/__init__.py
  tests/unit/testing/test_service_effect_mock_registry.py
  tests/unit/testing/test_service_effect_mock_registry_thread_local.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

OMN-1644: add observability metrics and documentation for operation bindings
  docs/patterns/README.md
  docs/patterns/operation_bindings.md
  src/omnibase_infra/models/bindings/__init__.py
  src/omnibase_infra/models/bindings/model_binding_resolution_metrics.py
  src/omnibase_infra/runtime/binding_resolver.py
  tests/integration/runtime/test_binding_resolution_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix: extract record_error_code to stay within 5-param validator limit
  src/omnibase_infra/models/bindings/model_binding_resolution_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: remove unused ModelBindingResolutionMetrics import from tests
  tests/integration/runtime/test_binding_resolution_metrics.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-1644: add observability and documentation for operation bindings (#671)
  docs/patterns/README.md
  docs/patterns/operation_bindings.md
  src/omnibase_infra/models/bindings/__init__.py
  src/omnibase_infra/models/bindings/model_binding_resolution_metrics.py
  src/omnibase_infra/runtime/binding_resolver.py
  tests/integration/runtime/test_binding_resolution_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(ci): format files, regenerate topic enums and schema fingerprint
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/enums/generated/enum_platform_topic.py
  src/omnibase_infra/nodes/node_merge_gate_effect/handlers/handler_upsert_merge_gate.py
  src/omnibase_infra/nodes/node_merge_gate_effect/models/model_merge_gate_result.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(docker): update Dockerfile.runtime plugin pins for v0.16.0 release
  docker/Dockerfile.runtime
Due: none

OMN-1327: replace sleep-based wait with deterministic signal in E2E tests
  tests/integration/registration/e2e/test_full_orchestrator_flow.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: resolve CI lint and fingerprint failures for OMN-3142 PR
  docker/migrations/schema_fingerprint.sha256
  scripts/run-migrations.py
  tests/unit/nodes/node_delta_bundle_effect/test_models.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-1005: parameterize reducer purity tests for all reducers
  src/omnibase_infra/nodes/reducers/registration_reducer.py
  tests/unit/nodes/reducers/test_reducer_purity.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

OMN-1327: replace sleep-based wait with deterministic signal in E2E tests (#673)
  tests/integration/registration/e2e/test_full_orchestrator_flow.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-1430: refactor CI workflow to use composite action for Python/uv setup
  .github/actions/setup-python-uv/action.yml
  .github/workflows/test.yml
Due: none

OMN-1005: parameterize reducer purity tests for all reducers (#674)
  src/omnibase_infra/nodes/reducers/registration_reducer.py
  tests/unit/nodes/reducers/test_reducer_purity.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

OMN-3254: close topic-constants-vs-generated-enums contract drift
  .github/actions/setup-python-uv/action.yml
  .pre-commit-config.yaml
  scripts/generate_topic_enums.py
  src/omnibase_infra/enums/generated/__init__.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/enums/generated/enum_omniclaude_topic.py
  src/omnibase_infra/enums/generated/enum_omniintelligence_topic.py
  src/omnibase_infra/enums/generated/enum_platform_topic.py
  src/omnibase_infra/tools/contract_topic_extractor.py
  tests/unit/tools/test_python_source_topic_extraction.py
  tests/unit/tools/test_topic_constants_enum_coverage.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(validation): add comprehensive contract schema validation [OMN-517] (#667)
  scripts/validate.py
  src/omnibase_infra/validation/linter_contract.py
  src/omnibase_infra/validation/models/model_contract_violation.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/validation/test_contract_linter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3833: split release.yml into critical publish + advisory post-release checks
  .github/workflows/release.yml
Due: none

OMN-3834: remove broken restore-keys, add reinstall flags for ONEX deps
  .github/actions/setup-python-uv/action.yml
  .github/workflows/nightly-tests.yml
Due: none

OMN-3831: replace hardcoded __version__ with importlib.metadata
  src/omnibase_infra/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3832: add validate-string-versions pre-commit hook
  .pre-commit-config.yaml
Due: onex-validate-contracts

chore: fix ruff lint and formatting violations
  src/omnibase_infra/tools/contract_topic_extractor.py
  tests/unit/tools/test_python_source_topic_extraction.py
  tests/unit/tools/test_topic_constants_enum_coverage.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: rename ServiceEffectMockRegistry to EffectMockRegistry and remove Any types
  docs/patterns/effect_boundary_testing.md
  src/omnibase_infra/testing/__init__.py
  src/omnibase_infra/testing/service_effect_mock_registry.py
  src/omnibase_infra/testing/service_effect_mock_registry_thread_local.py
  tests/unit/testing/test_service_effect_mock_registry.py
  tests/unit/testing/test_service_effect_mock_registry_thread_local.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

chore: fix ruff formatting and extract EnumDeliveryStatus to own file
  src/omnibase_infra/services/retry_worker/models/__init__.py
  src/omnibase_infra/services/retry_worker/models/enum_delivery_status.py
  src/omnibase_infra/services/retry_worker/models/model_delivery_attempt.py
  src/omnibase_infra/services/retry_worker/service_retry_worker.py
  tests/unit/services/retry_worker/test_service_retry_worker.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3831: replace hardcoded __version__ with importlib.metadata (#679)
  src/omnibase_infra/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: bundle node contracts in Docker image and fix postgres mount conflict
  docker/Dockerfile.runtime
  docker/docker-compose.infra.yml
  docker/migrations/forward/041_create_keycloak_db.sql
  scripts/cloud-bus-tunnel.sh
Due: none
