Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(OMN-1524): update version placeholder in util_atomic_file docstring
  src/omnibase_infra/utils/util_atomic_file.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: add missing HandlerIntent exports to handlers module
  src/omnibase_infra/handlers/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(omn-1526): Address PR review feedback for session infrastructure
  src/omnibase_infra/services/__init__.py
  src/omnibase_infra/services/session/__init__.py
  src/omnibase_infra/services/session/config_consumer.py
  src/omnibase_infra/services/session/consumer.py
  src/omnibase_infra/services/session/store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: update handler contracts to use node_archetype instead of handler_kind
  src/omnibase_infra/contracts/handlers/filesystem/handler_contract.yaml
  src/omnibase_infra/contracts/handlers/mcp/handler_contract.yaml
Due: onex-validate-contracts

fix(OMN-1524): wrap OSError in InfraConnectionError per coding guidelines
  src/omnibase_infra/utils/util_atomic_file.py
  tests/unit/utils/test_util_atomic_file.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(omn-1526): Move session consumer/storage from omniclaude (#192)
  docker/migrations/016_create_session_snapshots.sql
  docker/migrations/016_create_session_snapshots_rollback.sql
  src/omnibase_infra/services/__init__.py
  src/omnibase_infra/services/session/__init__.py
  src/omnibase_infra/services/session/config_consumer.py
  src/omnibase_infra/services/session/config_store.py
  src/omnibase_infra/services/session/consumer.py
  src/omnibase_infra/services/session/protocol_session_aggregator.py
  src/omnibase_infra/services/session/store.py
  tests/services/__init__.py
  tests/services/session/__init__.py
  tests/services/session/test_consumer.py
  tests/services/session/test_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1524): address code review feedback for infra primitives
  src/omnibase_infra/utils/util_atomic_file.py
  src/omnibase_infra/utils/util_db_transaction.py
  src/omnibase_infra/utils/util_retry_optimistic.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor: remove redundant null checks, add wiring tests
  src/omnibase_infra/handlers/handler_intent.py
  tests/unit/runtime/test_util_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1524): update tests to match parameterized query format
  tests/unit/utils/test_util_db_transaction.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: add demo deprecation comments to HandlerIntent (OMN-1515)
  src/omnibase_infra/handlers/__init__.py
  src/omnibase_infra/handlers/handler_intent.py
  src/omnibase_infra/runtime/handler_registry.py
  src/omnibase_infra/runtime/util_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1524): add generic infra primitives for atomic writes, transactions, and optimistic retry (#191)
  src/omnibase_infra/utils/__init__.py
  src/omnibase_infra/utils/util_atomic_file.py
  src/omnibase_infra/utils/util_db_transaction.py
  src/omnibase_infra/utils/util_retry_optimistic.py
  tests/unit/utils/test_util_atomic_file.py
  tests/unit/utils/test_util_db_transaction.py
  tests/unit/utils/test_util_retry_optimistic.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs: add idempotency and security notes to HandlerIntent (OMN-1515)
  src/omnibase_infra/handlers/handler_intent.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs: update CHANGELOG with OMN-1524 infrastructure primitives
  CHANGELOG.md
Due: none

chore: bump version to 0.2.3, update omnibase-core to 0.9.4 (#190)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/omnibase_infra/__init__.py
  src/omnibase_infra/contracts/handlers/filesystem/handler_contract.yaml
  src/omnibase_infra/contracts/handlers/mcp/handler_contract.yaml
  src/omnibase_infra/handlers/__init__.py
  src/omnibase_infra/handlers/handler_intent.py
  src/omnibase_infra/runtime/handler_contract_source.py
  src/omnibase_infra/runtime/handler_registry.py
  src/omnibase_infra/runtime/registry_contract_source.py
  src/omnibase_infra/runtime/util_wiring.py
  tests/unit/handlers/test_handler_intent.py
  tests/unit/nodes/reducers/test_registration_reducer.py
  tests/unit/runtime/test_handler_contract_source.py
  tests/unit/runtime/test_registry_contract_source.py
  tests/unit/runtime/test_util_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1515): Add execute() dispatcher to HandlerGraph for contract discovery
  poetry.lock
  pyproject.toml
  src/omnibase_infra/handlers/handler_graph.py
  tests/unit/handlers/test_handler_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1515): Add fail-fast validation to HandlerGraph execute() operations
  src/omnibase_infra/handlers/handler_graph.py
  tests/unit/handlers/test_handler_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1515): Refactor error context + add missing happy path tests
  src/omnibase_infra/handlers/handler_graph.py
  tests/unit/handlers/test_handler_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1515): Use explicit None checks for node ID validation
  src/omnibase_infra/handlers/handler_graph.py
  tests/unit/handlers/test_handler_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Use node_archetype instead of handler_kind in filesystem contract tests
  tests/integration/handlers/test_filesystem_handler_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-1515): Improve HandlerGraph execute() quality and robustness
  src/omnibase_infra/handlers/handler_graph.py
  tests/unit/handlers/test_handler_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1515): Add fail-fast validation for create_relationship properties
  src/omnibase_infra/handlers/handler_graph.py
  tests/unit/handlers/test_handler_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-1515): Simplify execute() validation and fix minor issues
  src/omnibase_infra/handlers/handler_graph.py
  tests/unit/handlers/test_handler_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1515): Address PR #193 review feedback
  src/omnibase_infra/handlers/handler_graph.py
  tests/integration/handlers/test_filesystem_handler_contract.py
  tests/unit/handlers/test_handler_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1515): Add execute() dispatcher to HandlerGraph for contract discovery (#193)
  src/omnibase_infra/handlers/handler_graph.py
  tests/integration/handlers/test_filesystem_handler_contract.py
  tests/unit/handlers/test_handler_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: bump version to 0.2.4, update omnibase-core to 0.9.5
  poetry.lock
  pyproject.toml
  src/omnibase_infra/validation/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: bump version to 0.2.4, update omnibase-core to 0.9.5 (#194)
  poetry.lock
  pyproject.toml
  src/omnibase_infra/validation/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1509): Add intent storage effect node and integration tests
  src/omnibase_infra/nodes/node_intent_storage_effect/__init__.py
  src/omnibase_infra/nodes/node_intent_storage_effect/contract.yaml
  src/omnibase_infra/nodes/node_intent_storage_effect/models/__init__.py
  src/omnibase_infra/nodes/node_intent_storage_effect/models/model_intent_storage_input.py
  src/omnibase_infra/nodes/node_intent_storage_effect/models/model_intent_storage_output.py
  src/omnibase_infra/nodes/node_intent_storage_effect/node.py
  src/omnibase_infra/nodes/node_intent_storage_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_intent_storage_effect/registry/registry_infra_intent_storage.py
  tests/integration/runtime/test_intent_storage_routing_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1509): Make correlation_id required and add payload key validation
  src/omnibase_infra/nodes/node_intent_storage_effect/models/model_intent_storage_input.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1509): Address PR review feedback - contract docs and test quality
  src/omnibase_infra/nodes/node_intent_storage_effect/contract.yaml
  tests/integration/runtime/test_intent_storage_routing_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1509): Address PR review - required correlation_id and registry tests
  src/omnibase_infra/nodes/node_intent_storage_effect/__init__.py
  src/omnibase_infra/nodes/node_intent_storage_effect/contract.yaml
  src/omnibase_infra/nodes/node_intent_storage_effect/models/__init__.py
  src/omnibase_infra/nodes/node_intent_storage_effect/models/model_intent_storage_input.py
  src/omnibase_infra/nodes/node_intent_storage_effect/models/model_intent_storage_output.py
  src/omnibase_infra/nodes/node_intent_storage_effect/node.py
  src/omnibase_infra/nodes/node_intent_storage_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_intent_storage_effect/registry/registry_infra_intent_storage.py
  tests/unit/nodes/node_intent_storage_effect/__init__.py
  tests/unit/nodes/node_intent_storage_effect/test_registry_infra_intent_storage.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1509): Address PR review - fail-fast validation and code quality
  src/omnibase_infra/nodes/node_intent_storage_effect/models/model_intent_storage_input.py
  src/omnibase_infra/nodes/node_intent_storage_effect/registry/registry_infra_intent_storage.py
  tests/integration/runtime/test_intent_storage_routing_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1509): Address PR #195 review - ONEX patterns and test quality
  src/omnibase_infra/nodes/node_intent_storage_effect/contract.yaml
  src/omnibase_infra/nodes/node_intent_storage_effect/models/model_intent_storage_input.py
  src/omnibase_infra/nodes/node_intent_storage_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_intent_storage_effect/registry/registry_infra_intent_storage.py
  tests/integration/nodes/test_intent_flow_integration.py
  tests/integration/runtime/test_intent_storage_routing_integration.py
  tests/unit/nodes/node_intent_storage_effect/test_registry_infra_intent_storage.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1509): Improve test quality - ONEX topic naming, exception handling, timestamps
  tests/integration/runtime/test_intent_storage_routing_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1509): Add re-registration warnings and TypeGuard pattern
  src/omnibase_infra/nodes/node_intent_storage_effect/registry/registry_infra_intent_storage.py
  tests/integration/runtime/test_intent_storage_routing_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1509): Add intent storage effect node and integration tests (#195)
  src/omnibase_infra/nodes/node_intent_storage_effect/__init__.py
  src/omnibase_infra/nodes/node_intent_storage_effect/contract.yaml
  src/omnibase_infra/nodes/node_intent_storage_effect/models/__init__.py
  src/omnibase_infra/nodes/node_intent_storage_effect/models/model_intent_storage_input.py
  src/omnibase_infra/nodes/node_intent_storage_effect/models/model_intent_storage_output.py
  src/omnibase_infra/nodes/node_intent_storage_effect/node.py
  src/omnibase_infra/nodes/node_intent_storage_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_intent_storage_effect/registry/registry_infra_intent_storage.py
  tests/integration/nodes/test_intent_flow_integration.py
  tests/integration/runtime/test_intent_storage_routing_integration.py
  tests/unit/nodes/node_intent_storage_effect/__init__.py
  tests/unit/nodes/node_intent_storage_effect/test_registry_infra_intent_storage.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: bump version to 0.2.5, update omnibase-core to 0.9.6 and omnibase-spi to 0.6.1
  pyproject.toml
Due: none

chore: update poetry.lock with new dependency versions
  poetry.lock
Due: none

chore: bump version to 0.2.5, update omnibase-core to 0.9.6 and omnibase-spi to 0.6.1 (#196)
  poetry.lock
  pyproject.toml
Due: none

feat(OMN-1602): Implement derived Kafka consumer group IDs
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_consumer_group_purpose.py
  src/omnibase_infra/event_bus/configs/kafka_event_bus_config.yaml
  src/omnibase_infra/event_bus/event_bus_inmemory.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  src/omnibase_infra/models/__init__.py
  src/omnibase_infra/models/model_node_identity.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/utils/__init__.py
  src/omnibase_infra/utils/util_consumer_group.py
  tests/conftest.py
  tests/integration/event_bus/test_event_schema_validation.py
  tests/integration/registration/e2e/test_full_orchestrator_flow.py
  tests/integration/registration/e2e/test_runtime_e2e.py
  tests/integration/registration/e2e/test_two_way_registration_e2e.py
  tests/unit/event_bus/test_inmemory_event_bus.py
  tests/unit/event_bus/test_inmemory_event_bus_race_conditions.py
  tests/unit/event_bus/test_kafka_event_bus.py
  tests/unit/event_bus/test_kafka_mro_composition.py
  tests/unit/runtime/test_kernel.py
  tests/unit/runtime/test_runtime_host_architecture_validation.py
  tests/unit/runtime/test_runtime_host_process.py
  tests/unit/runtime/test_runtime_idempotency_guard.py
  tests/unit/utils/test_util_consumer_group.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1602): Fix missing node_identity in subscribe() calls and improve clarity
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/utils/util_consumer_group.py
  tests/integration/event_bus/test_event_schema_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
