Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-16736): read dod_verify's real verdict, and hold the flip on ACs it cannot see (#2932)
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/enum_evidence_autoclose_decision.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_outcome.py
  tests/fixtures/omn16736/dod-verify-omn16752.skill-result.json.captured
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_handler_evidence_autoclose_sweep.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16761): retire the legacy `onex run` alias, core owns the run verb
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/cli/model_receipt_runtime_summary.py
  src/omnibase_infra/cli/omnimarket_drift_guard.py
  src/omnibase_infra/cli/receipt_mode.py
  tests/unit/cli/conftest.py
  tests/unit/cli/test_cli_node.py
  tests/unit/cli/test_onex_run.py
  tests/unit/cli/test_onex_run_alias_retired.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16759): deliver gateway_link_health through the loop that can reach it
  docker/migrations/forward/100_create_gateway_link_health.sql
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_gateway_link_health_write_effect/0001_create_gateway_link_health.sql
  docker/migrations/rollback/rollback_100_create_gateway_link_health.sql
  docker/migrations/rollback/rollback_node_gateway_link_health_0001.sql
  tests/integration/migrations/test_100_gateway_link_health_verdicts.py
  tests/unit/db/test_migration_100.py
  tests/unit/db/test_migration_no_database_level_privilege_omn16759.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16736): give the sweep runner the OCC contracts dod_verify verifies against
  .github/workflows/evidence-autoclose-sweep.yml
Due: none

fix(OMN-16767): db_io must not steal a typed def-B handler into the projection arm
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_omn16767_db_io_typed_handler_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16762): watchdog read the OLDEST history page, so both safety guards were dead (#2933)
  src/omnibase_infra/cli/skill_mapping.yaml
  src/omnibase_infra/nodes/node_sync_revert_watchdog_effect/contract.yaml
  src/omnibase_infra/nodes/node_sync_revert_watchdog_effect/handlers/handler_sync_revert_watchdog.py
  src/omnibase_infra/nodes/node_sync_revert_watchdog_effect/models/enum_prior_done_actor_kind.py
  src/omnibase_infra/nodes/node_sync_revert_watchdog_effect/models/enum_sync_revert_watchdog_decision.py
  src/omnibase_infra/nodes/node_sync_revert_watchdog_effect/models/model_sync_revert_watchdog_outcome.py
  src/omnibase_infra/nodes/node_sync_revert_watchdog_effect/models/model_sync_revert_watchdog_request.py
  tests/unit/nodes/node_sync_revert_watchdog_effect/test_handler_sync_revert_watchdog.py
  tests/unit/nodes/node_sync_revert_watchdog_effect/test_handler_sync_revert_watchdog_history_window.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16736): give the sweep runner the OCC contracts dod_verify verifies against (#2936)
  .github/workflows/evidence-autoclose-sweep.yml
Due: none

fix(OMN-16759): close the END marker, re-stamp the fingerprint and the ledger checksum
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_gateway_link_health_write_effect/0001_create_gateway_link_health.sql
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(OMN-16761): retire the legacy `onex run` alias, core owns the run verb (#2934)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/cli/model_receipt_runtime_summary.py
  src/omnibase_infra/cli/omnimarket_drift_guard.py
  src/omnibase_infra/cli/receipt_mode.py
  tests/unit/cli/conftest.py
  tests/unit/cli/test_cli_node.py
  tests/unit/cli/test_onex_run.py
  tests/unit/cli/test_onex_run_alias_retired.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16767): db_io must not steal a typed def-B handler into the projection arm (#2937)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_omn16767_db_io_typed_handler_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16774): wire event-chain tests as a required per-PR CI gate
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/integration/chains/__init__.py
  tests/integration/chains/test_event_chain_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

diag(OMN-16788): surface per-ticket dod_verify check detail + credential capability from the sweep runner
  .github/workflows/evidence-autoclose-sweep.yml
Due: none

fix(OMN-16759): deliver gateway_link_health through the loop that can reach it — unblock every staging deploy (#2935)
  docker/migrations/forward/100_create_gateway_link_health.sql
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_gateway_link_health_write_effect/0001_create_gateway_link_health.sql
  docker/migrations/rollback/rollback_100_create_gateway_link_health.sql
  docker/migrations/rollback/rollback_node_gateway_link_health_0001.sql
  docker/migrations/schema_fingerprint.sha256
  tests/integration/migrations/test_100_gateway_link_health_verdicts.py
  tests/unit/db/test_migration_100.py
  tests/unit/db/test_migration_no_database_level_privilege_omn16759.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16777): count what actually moves, and ride it on the heartbeat we already emit
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/observability/__init__.py
  src/omnibase_infra/models/observability/model_consumer_flow_delta.py
  src/omnibase_infra/models/observability/model_node_flow_window.py
  src/omnibase_infra/models/observability/model_topic_produce_delta.py
  src/omnibase_infra/models/registration/model_node_heartbeat_event.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/observability/__init__.py
  src/omnibase_infra/runtime/observability/consumer_flow_counters.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/unit/runtime/auto_wiring/test_omn16777_consumer_flow_seam.py
  tests/unit/runtime/observability/__init__.py
  tests/unit/runtime/observability/test_omn16777_consumer_flow_counters.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16774): drop the env-dependent xfail and make the db_io row non-vacuous
  tests/integration/chains/test_event_chain_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16789): the alert dedup was defeated by a flap the monitor caused itself
  deploy/maintenance/omninode-system-slack-report.sh
  tests/unit/scripts/test_omninode_system_slack_report.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

diag(OMN-16788): surface per-ticket dod_verify check detail + credential capability from the sweep runner (#2938)
  .github/workflows/evidence-autoclose-sweep.yml
Due: none

fix(OMN-16767): the type-scoping predicate must agree with the dispatch it scopes
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_omn16767_db_io_typed_handler_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16788): read the dod_verify verdict from terminal_payload, not the workflow envelope
  .github/workflows/evidence-autoclose-sweep.yml
Due: none

feat(OMN-16774): wire event-chain tests as a required per-PR CI gate (#2939)
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/integration/chains/__init__.py
  tests/integration/chains/test_event_chain_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16789): the alert dedup was defeated by a flap the monitor caused itself (#2941)
  deploy/maintenance/omninode-system-slack-report.sh
  tests/unit/scripts/test_omninode_system_slack_report.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15911): an autoclose flip needs a check that proved behavior, not a count
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/enum_evidence_autoclose_decision.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_outcome.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_15911_behavior_proof_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16789): drop the phantom deploy-agent-8099 probe, a permanent false-RED
  deploy/maintenance/omninode-system-slack-report.sh
  tests/unit/scripts/test_omninode_system_slack_report.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16767): try the payload as given before the unwrapped candidate
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_omn16767_db_io_typed_handler_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16788): read the dod_verify verdict from terminal_payload, not the workflow envelope (#2942)
  .github/workflows/evidence-autoclose-sweep.yml
Due: none

feat(OMN-16795): wire the subscribe-wiring checker as a gate and enforce allowlist expiry
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/check_subscribe_wiring_health.py
  scripts/ci/ci_summary_gate.py
  tests/fixtures/omn16795/node_pr_state_write_effect-contract.yaml.captured
  tests/incident_replays/registry.yaml
  tests/unit/scripts/test_check_subscribe_wiring_health.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16767): the type-scoping predicate must agree with the dispatch it scopes (#2943)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_omn16767_db_io_typed_handler_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16789): drop the phantom deploy-agent-8099 probe, a permanent false-RED (#2944)
  deploy/maintenance/omninode-system-slack-report.sh
  tests/unit/scripts/test_omninode_system_slack_report.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15911): declare the proof-class guard in the autoclose node contract
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
Due: onex-validate-contracts

feat(OMN-16777): count what actually moves, and ride it on the heartbeat we already emit (#2945)
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/observability/__init__.py
  src/omnibase_infra/models/observability/model_consumer_flow_delta.py
  src/omnibase_infra/models/observability/model_node_flow_window.py
  src/omnibase_infra/models/observability/model_topic_produce_delta.py
  src/omnibase_infra/models/registration/model_node_heartbeat_event.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/observability/__init__.py
  src/omnibase_infra/runtime/observability/consumer_flow_counters.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/unit/runtime/auto_wiring/test_omn16777_consumer_flow_seam.py
  tests/unit/runtime/observability/__init__.py
  tests/unit/runtime/observability/test_omn16777_consumer_flow_counters.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16798): db_io must not suppress result delivery, and no consume may commit with no effect
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/auto_wiring/test_kafka_boundary_def_b_coercion_omn14716.py
  tests/unit/runtime/auto_wiring/test_omn16798_boundary_delivery_totality.py
  tests/unit/runtime/test_effect_result_applier_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16795): wire the subscribe-wiring checker as a gate and enforce allowlist expiry (#2948)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/check_subscribe_wiring_health.py
  scripts/ci/ci_summary_gate.py
  tests/fixtures/omn16795/node_pr_state_write_effect-contract.yaml.captured
  tests/incident_replays/registry.yaml
  tests/unit/scripts/test_check_subscribe_wiring_health.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15911): an autoclose flip needs a check that proved behavior, not a count (#2947)
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/enum_evidence_autoclose_decision.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_outcome.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_15911_behavior_proof_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16798): db_io must not suppress result delivery, and no consume may commit with no effect (#2949)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/auto_wiring/test_kafka_boundary_def_b_coercion_omn14716.py
  tests/unit/runtime/auto_wiring/test_omn16798_boundary_delivery_totality.py
  tests/unit/runtime/test_effect_result_applier_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16769): read-only DLQ depth/arrival monitor with red-run alerting
  .github/workflows/dlq-depth-monitor.yml
  pyproject.toml
  scripts/check-env-reads.sh
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/cli/skill_mapping.yaml
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/__init__.py
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/contract.yaml
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/handlers/handler_dlq_depth_evaluate.py
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/models/__init__.py
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/models/enum_dlq_depth_verdict.py
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/models/model_dlq_depth_evaluate_request.py
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/models/model_dlq_depth_evaluate_result.py
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/models/model_dlq_threshold_policy.py
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/models/model_dlq_topic_observation.py
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/models/model_dlq_topic_threshold_override.py
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/models/model_dlq_topic_verdict.py
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/node.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/__init__.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/adapters/__init__.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/adapters/aiokafka_dlq_offset_reader.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/handlers/handler_dlq_depth_monitor.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/models/__init__.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/models/model_dlq_depth_monitor_request.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/models/model_dlq_depth_monitor_result.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/node.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/protocols/__init__.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/protocols/protocol_cluster_metadata.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/protocols/protocol_dlq_admin_transport.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/protocols/protocol_topic_partition.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/nodes/node_dlq_depth_evaluate_compute/__init__.py
  tests/unit/nodes/node_dlq_depth_evaluate_compute/test_handler_dlq_depth_evaluate.py
  tests/unit/nodes/node_dlq_depth_monitor_effect/__init__.py
  tests/unit/nodes/node_dlq_depth_monitor_effect/test_handler_dlq_depth_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-16769): move raw Kafka client to event_bus, refresh parity baseline
  src/omnibase_infra/event_bus/dlq_offset_reader_kafka.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/adapters/__init__.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/handlers/handler_dlq_depth_monitor.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_cluster_metadata.py
  src/omnibase_infra/protocols/protocol_dlq_admin_transport.py
  src/omnibase_infra/protocols/protocol_topic_partition.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/nodes/node_dlq_depth_monitor_effect/test_handler_dlq_depth_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16769): keep the Kafka reader inside its declared handler module
  src/omnibase_infra/event_bus/dlq_offset_reader_kafka.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/handlers/handler_dlq_depth_monitor.py
  src/omnibase_infra/validation/validation_exemptions.yaml
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16769): declare handler classification, exclude the two env reads
  scripts/pull-all.sh
  src/omnibase_infra/nodes/node_dlq_depth_evaluate_compute/handlers/handler_dlq_depth_evaluate.py
  src/omnibase_infra/nodes/node_dlq_depth_monitor_effect/handlers/handler_dlq_depth_monitor.py
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16769): refresh runner image identity lock
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-16798): a record already on a dead-letter topic must not be re-DLQ'd onto itself
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_omn16798_boundary_delivery_totality.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
