Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

test(runtime): address review gate comments
  tests/unit/docker/test_docker_performance.py
  tests/unit/runtime/test_container_wiring_registration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): coordinate startup shutdown lifecycle
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/services/service_health.py
  tests/integration/test_omn_9741_health_liveness.py
  tests/unit/runtime/auto_wiring/test_wiring_subscribe.py
  tests/unit/runtime/test_runtime_host_process.py
  tests/unit/runtime/test_service_health.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(runtime): exercise workspace state defaults
  tests/integration/test_omn_9600_path_defaults.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9750): typed ModelLlmEndpointContract + loader (no runtime cutover yet) (#1419)
  src/omnibase_infra/models/contracts/enum_llm_endpoint_status.py
  src/omnibase_infra/models/contracts/model_llm_endpoint_contract.py
  src/omnibase_infra/models/contracts/model_llm_endpoint_entry.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/test_llm_endpoint_contract_integration.py
  tests/unit/models/contracts/__init__.py
  tests/unit/models/contracts/test_model_llm_endpoint_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9741): satisfy ONEX union budget after topic-alias addition
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_event_type_alias.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9751): address hostile_reviewer findings — correct tmp_path types, wrap yaml.YAMLError
  src/omnibase_infra/runtime/service_contract_loader.py
  tests/unit/models/contracts/test_model_service_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9751): split ModelFeatureFlag to own file, fix real YAML schema, add integration test
  src/omnibase_infra/models/contracts/model_feature_flag.py
  src/omnibase_infra/models/contracts/model_service_contract.py
  tests/integration/test_service_contract_loader_integration.py
  tests/unit/models/contracts/test_model_service_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9751): add ModelFeatureFlagContract + loader for runtime/event_bus contracts
  src/omnibase_infra/models/contracts/__init__.py
  src/omnibase_infra/models/contracts/model_service_contract.py
  src/omnibase_infra/runtime/service_contract_loader.py
  tests/unit/models/contracts/__init__.py
  tests/unit/models/contracts/test_model_service_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9755): SPI default handler-contract loader (concrete impl in infra per layering) (#1418)
  src/omnibase_infra/contracts/defaults/__init__.py
  src/omnibase_infra/contracts/defaults/loader.py
  tests/integration/test_spi_default_contract_loader.py
  tests/unit/contracts/defaults/__init__.py
  tests/unit/contracts/defaults/test_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9633): bump core pin to merged delegation models
  pyproject.toml
  tests/integration/nodes/test_node_remote_agent_invoke_effect_integration.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9633): add remote task state repository (#1412)
  docker/migrations/forward/069_create_remote_task_state.sql
  docker/migrations/rollback/rollback_069_create_remote_task_state.sql
  pyproject.toml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/remote_task_state_repository.py
  tests/integration/db/test_remote_task_state_repository.py
  tests/integration/nodes/test_node_remote_agent_invoke_effect_integration.py
  tests/unit/db/test_migration_069.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9741): align integration tests with new auto-wiring behavior
  tests/integration/runtime/test_async_container_pre_resolution_integration.py
  tests/integration/test_handler_event_type_alias_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9751): typed ModelFeatureFlagContract + loader for runtime + event_bus YAMLs (#1417)
  src/omnibase_infra/models/contracts/__init__.py
  src/omnibase_infra/models/contracts/model_feature_flag.py
  src/omnibase_infra/models/contracts/model_service_contract.py
  src/omnibase_infra/runtime/service_contract_loader.py
  tests/integration/test_service_contract_loader_integration.py
  tests/unit/models/contracts/__init__.py
  tests/unit/models/contracts/test_model_service_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9634): use real a2a sdk transport
  pyproject.toml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9635): implement A2A watch lifecycle loop
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/remote_task_state_repository.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9634): implement A2A submit handler
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/contract.yaml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9634): align A2A handler with core delegation models
  pyproject.toml
  scripts/check_subscribe_wiring_health.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  src/omnibase_infra/runtime/version_compatibility.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_node_scaffold.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9741): resolve CodeQL findings on conversation threads
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9741): use codeql inline marker instead of _= assignment
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9741): replace cast() with assert isinstance for ProtocolEventBusLike
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9741): rewrite bare-await statements to satisfy CodeQL
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9741): keep effects health liveness during startup (#1411)
  docker/catalog/services/autoheal.yaml
  docker/catalog/services/omninode-runtime.yaml
  docker/catalog/services/runtime-effects.yaml
  docker/catalog/services/runtime-worker.yaml
  docker/docker-compose.infra.yml
  scripts/deploy-runtime.sh
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/auto_wiring/models/model_event_bus_wiring.py
  src/omnibase_infra/runtime/auto_wiring/models/model_handler_routing_entry.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/services/service_health.py
  tests/integration/nodes/test_plugin_wire_dispatchers_single_authority.py
  tests/integration/runtime/test_async_container_pre_resolution_integration.py
  tests/integration/test_handler_event_type_alias_integration.py
  tests/integration/test_omn_9600_path_defaults.py
  tests/integration/test_omn_9741_health_liveness.py
  tests/scripts/test_deploy_runtime_no_env_file.py
  tests/unit/docker/test_docker_performance.py
  tests/unit/nodes/node_registration_orchestrator/test_plugin_wire_dispatchers_deferred.py
  tests/unit/runtime/auto_wiring/test_discovery.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_event_type_alias.py
  tests/unit/runtime/auto_wiring/test_wiring.py
  tests/unit/runtime/auto_wiring/test_wiring_subscribe.py
  tests/unit/runtime/test_container_wiring_registration.py
  tests/unit/runtime/test_node_subscription_wiring.py
  tests/unit/runtime/test_runtime_host_process.py
  tests/unit/runtime/test_service_health.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9774): build_loop projection consumer chain + build_loop_runs table
  docker/migrations/forward/070_build_loop_runs.sql
  docker/migrations/rollback/rollback_070_build_loop_runs.sql
  pyproject.toml
  src/omnibase_infra/enums/generated/__init__.py
  src/omnibase_infra/enums/generated/enum_omnimarket_topic.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/__init__.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_build_loop_projection_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/handlers/handler_build_loop_projection.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/models/__init__.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/models/model_payload_build_loop_append.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/node.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/registry/__init__.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/registry/registry_infra_build_loop_projection.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/__init__.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_build_loop_write_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/handlers/handler_build_loop_append.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/models/__init__.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/models/model_build_loop_append_result.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/node.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/registry/registry_infra_build_loop_write.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/test_build_loop_auto_wiring_boot.py
  tests/integration/test_runtime_consumes_build_loop_terminal_event.py
  tests/unit/nodes/node_build_loop_projection_compute/__init__.py
  tests/unit/nodes/node_build_loop_projection_compute/test_handler_build_loop_projection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-9774): regenerate schema fingerprint + nest handler ref in build_loop_write contract
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/nodes/node_build_loop_write_effect/contract.yaml
Due: onex-validate-contracts

fix(OMN-9774): address CR feedback + fix Tests Split 8/12 failures
  docker/migrations/rollback/rollback_070_build_loop_runs.sql
  scripts/check_subscribe_wiring_health.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_build_loop_projection_compute/handlers/handler_build_loop_projection.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/node.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/handlers/handler_build_loop_append.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/models/model_build_loop_append_result.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/node.py
  tests/integration/test_runtime_consumes_build_loop_terminal_event.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-9774): add missing _safe_correlation_id static method on HandlerBuildLoopAppend
  src/omnibase_infra/nodes/node_build_loop_write_effect/handlers/handler_build_loop_append.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9774): build_loop projection consumer chain + build_loop_runs table (#1421)
  docker/migrations/forward/070_build_loop_runs.sql
  docker/migrations/rollback/rollback_070_build_loop_runs.sql
  docker/migrations/schema_fingerprint.sha256
  pyproject.toml
  scripts/check_subscribe_wiring_health.py
  src/omnibase_infra/enums/generated/__init__.py
  src/omnibase_infra/enums/generated/enum_omnimarket_topic.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/__init__.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_build_loop_projection_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/handlers/handler_build_loop_projection.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/models/__init__.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/models/model_payload_build_loop_append.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/node.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/registry/__init__.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/registry/registry_infra_build_loop_projection.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/__init__.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_build_loop_write_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/handlers/handler_build_loop_append.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/models/__init__.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/models/model_build_loop_append_result.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/node.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/registry/registry_infra_build_loop_write.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/test_build_loop_auto_wiring_boot.py
  tests/integration/test_runtime_consumes_build_loop_terminal_event.py
  tests/unit/nodes/node_build_loop_projection_compute/__init__.py
  tests/unit/nodes/node_build_loop_projection_compute/test_handler_build_loop_projection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-9741): bind effects health before subscriptions
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/test_service_kernel_health_ordering.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9741): cover health startup ordering in integration gate
  tests/integration/test_omn_9741_service_kernel_health_ordering.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9741): stabilize health ordering regression
  tests/integration/test_omn_9741_service_kernel_health_ordering.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9741): update kernel health attach expectation
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9741): mark kernel health ordering test
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9741): assert service health attach ordering
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): assign build-loop contracts to effects profile
  src/omnibase_infra/nodes/node_build_loop_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_build_loop_projection_compute/handlers/handler_build_loop_projection.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/contract.yaml
  src/omnibase_infra/runtime/auto_wiring/__init__.py
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/auto_wiring/models/model_discovered_contract.py
  src/omnibase_infra/runtime/auto_wiring/profile_ownership.py
  src/omnibase_infra/runtime/intent_effects/__init__.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_build_loop_append.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/auto_wiring/test_raw_event_projection_wiring.py
  tests/unit/runtime/auto_wiring/test_runtime_profile_ownership.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(runtime): satisfy auto-wiring type gates
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9741): bind effects health before subscriptions (#1422)
  src/omnibase_infra/nodes/node_build_loop_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_build_loop_projection_compute/handlers/handler_build_loop_projection.py
  src/omnibase_infra/nodes/node_build_loop_write_effect/contract.yaml
  src/omnibase_infra/runtime/auto_wiring/__init__.py
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/auto_wiring/models/model_discovered_contract.py
  src/omnibase_infra/runtime/auto_wiring/profile_ownership.py
  src/omnibase_infra/runtime/intent_effects/__init__.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_build_loop_append.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/test_omn_9741_service_kernel_health_ordering.py
  tests/unit/runtime/auto_wiring/test_raw_event_projection_wiring.py
  tests/unit/runtime/auto_wiring/test_runtime_profile_ownership.py
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9836): add omnidash-v2 to pull-all.sh
  scripts/pull-all.sh
Due: none

feat(OMN-9836): add omnidash-v2 to pull-all.sh (#1423)
  scripts/pull-all.sh
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
