Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-10943): select omnimarket delegation route
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10943): allow declared terminal publish topics
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/unit/runtime/test_dispatch_result_applier_topic_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10943): align delegation quality contract port
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10943): clear 4 CodeQL findings on delegation runtime
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_inference_response.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/unit/runtime/test_handler_wiring_resolver_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10943): unblock CI — env coverage + contract sync for downstream nodes
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10943): allow plain-text quality criteria
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10943): clear sonar findings
  tests/integration/docker/test_docker_integration.py
  tests/unit/runtime/test_handler_wiring_resolver_integration.py
  tests/unit/runtime/test_runtime_local_ingress.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10943): remove spurious async from test handler stubs (S7503)
  tests/unit/runtime/test_handler_wiring_resolver_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10943): increase boundary margin in test_just_under_timeout_boundary
  tests/unit/handlers/models/test_model_operation_context.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10967): remove free-text skip bypass from integration-test-check.yml (#1592)
  .github/workflows/integration-test-check.yml
Due: none

fix(OMN-10962): remove orphaned dispatcher after delegation node migration
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_inference_response.py
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10962): move Literal import out of TYPE_CHECKING (CodeQL unused import)
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10943): expose handler operation aliases in local ingress
  contracts/OMN-10943.yaml
  docker/catalog/services/omninode-runtime.yaml
  docker/catalog/services/runtime-canary.yaml
  docker/catalog/services/runtime-effects.yaml
  docker/docker-compose.infra.yml
  docker/entrypoint-runtime.sh
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  src/omnibase_infra/runtime/runtime_local_ingress.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/runtime/service_pattern_b_broker.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/ci/test_env_parity.py
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/integration/test_runtime_local_ingress_operation_alias.py
  tests/unit/handlers/models/test_model_operation_context.py
  tests/unit/infra/test_canary_bundle.py
  tests/unit/infra/test_runtime_bundle_decomposition.py
  tests/unit/runtime/auto_wiring/test_wiring.py
  tests/unit/runtime/test_dispatch_result_applier_topic_routing.py
  tests/unit/runtime/test_handler_wiring_resolver_integration.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
  tests/unit/runtime/test_runtime_local_ingress.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
  tests/unit/runtime/test_service_pattern_b_broker.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10951): add omnimarket-projection-delegation to runtime-observability-projections bundle
  docker/catalog/bundles.yaml
Due: onex-validate-contracts

feat(OMN-10951): add omnimarket-projection-delegation to runtime-observability-projections bundle (#1593)
  docker/catalog/bundles.yaml
Due: onex-validate-contracts

ci(OMN-10956): gate infra node handlers
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/infra-node-allowlist.txt
  scripts/ci/reject-node-implementations.sh
  scripts/ci/tests/test_reject_node_implementations.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10959): add catalog ulimit rendering
  docker/catalog/services/redpanda.yaml
  src/omnibase_infra/docker/catalog/generator.py
  src/omnibase_infra/docker/catalog/manifest_schema.py
  src/omnibase_infra/docker/catalog/resolver.py
  tests/integration/docker/test_catalog_ulimits_render.py
  tests/unit/infra/test_catalog_generator.py
  tests/unit/infra/test_manifest_schema.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9877): add LLM adapter timeout contract
  src/omnibase_infra/adapters/llm/adapter_llm_provider_openai.py
  src/omnibase_infra/adapters/llm/model_llm_adapter_request.py
  tests/unit/adapters/llm/test_adapter_llm_provider_openai.py
  tests/unit/adapters/llm/test_model_llm_adapter_request.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-11050): rename imperative onboarding steps to verification semantics
  src/omnibase_infra/onboarding/graphs/canonical.yaml
  tests/unit/onboarding/test_cloud_hybrid_policies.py
  tests/unit/onboarding/test_loader.py
  tests/unit/onboarding/test_omnimarket_quickstart_policy.py
  tests/unit/onboarding/test_policy_resolver.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11052): update standalone_quickstart to target core_installed only
  src/omnibase_infra/onboarding/policies/standalone_quickstart.yaml
  tests/unit/onboarding/test_policy_resolver.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11052): update standalone_quickstart to target core_installed only (#1600)
  src/omnibase_infra/onboarding/policies/standalone_quickstart.yaml
  tests/unit/onboarding/test_policy_resolver.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11051): add setup policy targeting core_installed + secrets_configured
  src/omnibase_infra/onboarding/policies/setup.yaml
  tests/unit/onboarding/test_policy_resolver.py
  tests/unit/onboarding/test_setup_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11051): add setup policy targeting core_installed + secrets_configured (#1601)
  src/omnibase_infra/onboarding/policies/setup.yaml
  tests/unit/onboarding/test_policy_resolver.py
  tests/unit/onboarding/test_setup_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11056): add EnumOnboardingStatus and capability fields to output
  src/omnibase_infra/nodes/node_onboarding_orchestrator/handlers/handler_onboarding.py
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/enum_onboarding_status.py
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/model_onboarding_output.py
  tests/unit/nodes/node_onboarding_orchestrator/test_handler_onboarding.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11056): rename loop var to avoid mypy type-narrowing conflict
  src/omnibase_infra/nodes/node_onboarding_orchestrator/handlers/handler_onboarding.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11056): add EnumOnboardingStatus and capability fields to output (#1602)
  src/omnibase_infra/nodes/node_onboarding_orchestrator/handlers/handler_onboarding.py
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/enum_onboarding_status.py
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/model_onboarding_output.py
  tests/unit/nodes/node_onboarding_orchestrator/test_handler_onboarding.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci: disable setup-uv cache when requested
  .github/actions/setup-python-uv/action.yml
Due: none

fix(OMN-11050): classify mixed onboarding outcomes as partial
  contracts/OMN-11050.yaml
  src/omnibase_infra/nodes/node_onboarding_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_onboarding_orchestrator/handlers/handler_onboarding.py
  tests/integration/onboarding/test_onboarding_verification_semantics.py
  tests/unit/nodes/node_onboarding_orchestrator/test_handler_onboarding.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-10956): gate infra node handlers (#1595)
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/infra-node-allowlist.txt
  scripts/ci/reject-node-implementations.sh
  scripts/ci/tests/test_reject_node_implementations.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10959): add catalog ulimit rendering (#1594)
  .github/actions/setup-python-uv/action.yml
  docker/catalog/services/redpanda.yaml
  src/omnibase_infra/docker/catalog/generator.py
  src/omnibase_infra/docker/catalog/manifest_schema.py
  src/omnibase_infra/docker/catalog/resolver.py
  tests/integration/docker/test_catalog_ulimits_render.py
  tests/unit/infra/test_catalog_generator.py
  tests/unit/infra/test_manifest_schema.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-11050): disable uv cache in standards install jobs
  .github/workflows/omni-standards-compliance.yml
Due: none

ci(OMN-11050): avoid uv package cache in CI installs
  .github/actions/setup-python-uv/action.yml
  .github/workflows/ci.yml
  .github/workflows/omni-standards-compliance.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
