Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(ci): ruff lint + schema fingerprint for OMN-3737
  docker/migrations/schema_fingerprint.sha256
  tests/unit/runtime/test_migration_sentinel.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(scripts): restamp_fingerprint() calls installed module instead of missing script (#642)
  scripts/run-migrations.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(docker): replace broken migration runner with fingerprint stamp in entrypoint (OMN-3734) (#643)
  docker/entrypoint-runtime.sh
Due: none

feat(bootstrap): wire omnidash read-model migrations into Step 1d (OMN-3748)
  docs/env-example-full.txt
  docs/runbooks/apply-migrations.md
  scripts/bootstrap-infisical.sh
Due: onex-validate-markdown-links

fix(docker): reduce image size with CPU-only torch + cleanup (#640)
  .github/workflows/docker-build.yml
  docker/Dockerfile.runtime
Due: none

fix(ci): increase migration-gate healthcheck interval to 10s (OMN-3737)
  docker/docker-compose.infra.yml
Due: none

chore: purge cloud bus (29092) references from omnibase_infra (OMN-3752)
  docker/README.md
  docker/docker-compose.infra.yml
  docker/env-example-full.txt
  docs/architecture/SNAPSHOT_PUBLISHING.md
  docs/conventions/TERMINOLOGY_GUIDE.md
  docs/decisions/adr-004-performance-baseline-thresholds.md
  docs/env-example-full.txt
  docs/handoff/2026-02-23-omn-2287-phase2-review.md
  docs/operations/DLQ_REPLAY_RUNBOOK.md
  docs/testing/INTEGRATION_TESTING.md
  src/omnibase_infra/cli/git_hook_relay.py
  src/omnibase_infra/cli/infra_test/introspect.py
  src/omnibase_infra/cli/linear_relay.py
  src/omnibase_infra/services/observability/agent_actions/RUNBOOK.md
  src/omnibase_infra/tui/consumers/consumer_status.py
  tests/helpers/util_kafka.py
  tests/infrastructure_config.py
  tests/integration/.env.example
  tests/integration/docker/test_docker_integration.py
  tests/integration/event_bus/conftest.py
  tests/integration/handlers/README.md
  tests/integration/handlers/conftest.py
  tests/integration/registration/e2e/performance_utils.py
  tests/integration/registration/e2e/test_full_orchestrator_flow.py
  tests/integration/runtime/test_kafka_contract_source_integration.py
  tests/unit/event_bus/test_kafka_event_bus.py
  tests/unit/helpers/test_util_kafka.py
  tests/unit/nodes/test_node_rrh_validate_compute.py
  tests/unit/runtime/test_dependency_materializer.py
  tests/unit/runtime/test_kafka_broker_allowlist.py
  tests/unit/scripts/test_dlq_replay_config.py
  tests/unit/validation/test_demo_loop_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

chore: purge cloud bus (29092) references from omnibase_infra (OMN-3752) (#647)
  docker/README.md
  docker/docker-compose.infra.yml
  docker/env-example-full.txt
  docs/architecture/SNAPSHOT_PUBLISHING.md
  docs/conventions/TERMINOLOGY_GUIDE.md
  docs/decisions/adr-004-performance-baseline-thresholds.md
  docs/env-example-full.txt
  docs/handoff/2026-02-23-omn-2287-phase2-review.md
  docs/operations/DLQ_REPLAY_RUNBOOK.md
  docs/testing/INTEGRATION_TESTING.md
  src/omnibase_infra/cli/git_hook_relay.py
  src/omnibase_infra/cli/infra_test/introspect.py
  src/omnibase_infra/cli/linear_relay.py
  src/omnibase_infra/services/observability/agent_actions/RUNBOOK.md
  src/omnibase_infra/tui/consumers/consumer_status.py
  tests/helpers/util_kafka.py
  tests/infrastructure_config.py
  tests/integration/.env.example
  tests/integration/docker/test_docker_integration.py
  tests/integration/event_bus/conftest.py
  tests/integration/handlers/README.md
  tests/integration/handlers/conftest.py
  tests/integration/registration/e2e/performance_utils.py
  tests/integration/registration/e2e/test_full_orchestrator_flow.py
  tests/integration/runtime/test_kafka_contract_source_integration.py
  tests/unit/event_bus/test_kafka_event_bus.py
  tests/unit/helpers/test_util_kafka.py
  tests/unit/nodes/test_node_rrh_validate_compute.py
  tests/unit/runtime/test_dependency_materializer.py
  tests/unit/runtime/test_kafka_broker_allowlist.py
  tests/unit/scripts/test_dlq_replay_config.py
  tests/unit/validation/test_demo_loop_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

chore: remove RST-style separators flagged by AI-slop check (OMN-3752)
  tests/infrastructure_config.py
  tests/integration/registration/e2e/performance_utils.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(skill-lifecycle): convert emitted_at string to datetime for asyncpg (OMN-3757)
  src/omnibase_infra/services/observability/skill_lifecycle/writer_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(skill-lifecycle): address CI failures — no-migration marker, lint, slop check (OMN-3757)
  src/omnibase_infra/services/observability/skill_lifecycle/writer_postgres.py
  tests/infrastructure_config.py
  tests/integration/registration/e2e/performance_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(docs): sync remaining 29092 port refs and stale broker hostname (OMN-3757)
  docker/README.md
  docs/handoff/2026-02-23-omn-2287-phase2-review.md
Due: onex-validate-markdown-links

feat(event_bus): add TopicStartupValidator for registry-first topic assertions (OMN-3769)
  src/omnibase_infra/event_bus/__init__.py
  src/omnibase_infra/event_bus/model_topic_validation_result.py
  src/omnibase_infra/event_bus/service_topic_startup_validator.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/event_bus/test_topic_startup_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(scripts): add canonical system health gate (OMN-3772)
  scripts/system_health_check.sh
Due: none

fix(skill-lifecycle): convert emitted_at to datetime for asyncpg (#648)
  docker/README.md
  docs/handoff/2026-02-23-omn-2287-phase2-review.md
  src/omnibase_infra/services/observability/skill_lifecycle/writer_postgres.py
  tests/infrastructure_config.py
  tests/integration/registration/e2e/performance_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(scripts): migration_parity reports skip instead of warn for missing dirs (OMN-3776)
  scripts/system_health_check.sh
Due: none

chore: add cloud bus guard pre-commit hook (OMN-3777)
  .pre-commit-config.yaml
  scripts/check_no_cloud_bus_wrapper.sh
  scripts/validation/check_kafka_no_hardcoded_fallback.sh
Due: onex-validate-contracts

fix(scripts): migration_parity reports skip instead of warn for missing dirs (OMN-3776) (#651)
  scripts/system_health_check.sh
Due: none

fix: address PR review feedback (OMN-3777)
  docker/README.md
  docs/architecture/SNAPSHOT_PUBLISHING.md
  docs/env-example-full.txt
  scripts/check_no_cloud_bus_wrapper.sh
  src/omnibase_infra/tui/consumers/consumer_status.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(validation): remove broken inline comment after line continuation
  scripts/validation/check_kafka_no_hardcoded_fallback.sh
Due: none

chore: add cloud bus guard pre-commit hook (OMN-3777) (#652)
  .pre-commit-config.yaml
  docker/README.md
  docs/architecture/SNAPSHOT_PUBLISHING.md
  docs/env-example-full.txt
  scripts/check_no_cloud_bus_wrapper.sh
  src/omnibase_infra/tui/consumers/consumer_status.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix: extract EnumTopicValidationStatus to own file, fix formatting (OMN-3769)
  src/omnibase_infra/event_bus/__init__.py
  src/omnibase_infra/event_bus/enum_topic_validation_status.py
  src/omnibase_infra/event_bus/model_topic_validation_result.py
  src/omnibase_infra/event_bus/service_topic_startup_validator.py
  tests/unit/event_bus/test_topic_startup_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(event_bus): registry-first startup topic assertions (OMN-3769) (#649)
  src/omnibase_infra/event_bus/__init__.py
  src/omnibase_infra/event_bus/enum_topic_validation_status.py
  src/omnibase_infra/event_bus/model_topic_validation_result.py
  src/omnibase_infra/event_bus/service_topic_startup_validator.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/event_bus/test_topic_startup_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(health): idle-aware health check for skill-lifecycle-consumer (OMN-3784)
  src/omnibase_infra/services/observability/skill_lifecycle/consumer.py
  tests/unit/services/observability/skill_lifecycle/test_consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): pin actions/checkout@v4 and actions/setup-python@v5 (OMN-3809)
  .github/workflows/baselines-scheduler.yml
  .github/workflows/build-and-push-runtime.yml
  .github/workflows/check-handshake.yml
  .github/workflows/dependency-cascade.yml
  .github/workflows/docker-build.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/release-python-dry-run.yml
  .github/workflows/release-python-reusable.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat(runtime): instrument runtime with Phoenix OTEL traces (OMN-3811)
  docker/docker-compose.infra.yml
  pyproject.toml
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/tracing.py
  tests/unit/runtime/test_tracing.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(runtime): instrument runtime with Phoenix OTEL traces (OMN-3811) (#655)
  docker/docker-compose.infra.yml
  pyproject.toml
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/tracing.py
  tests/unit/runtime/test_tracing.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(docker): use venv Python for torch verification in builder stage [OMN-3819]
  docker/Dockerfile.runtime
Due: none

feat(handlers): make DbHandler circuit breaker thresholds configurable via env vars [OMN-1364]
  src/omnibase_infra/handlers/handler_db.py
  tests/unit/handlers/test_handler_db_circuit_breaker_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

release: omnibase_infra v0.16.0
  CHANGELOG.md
  docker/docker-compose.runners.yml
  pyproject.toml
  scripts/run-migrations.py
  scripts/validate-kafka-schema-handshake.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix: sort imports per ruff I001 in circuit breaker config tests
  tests/unit/handlers/test_handler_db_circuit_breaker_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(nodes): add NodeMergeGateEffect + migration [OMN-3140]
  docker/docker-compose.runners.yml
  docker/migrations/forward/038_create_merge_gate_decisions.sql
  docker/migrations/rollback/rollback_038_create_merge_gate_decisions.sql
  scripts/run-migrations.py
  src/omnibase_infra/nodes/node_merge_gate_effect/__init__.py
  src/omnibase_infra/nodes/node_merge_gate_effect/contract.yaml
  src/omnibase_infra/nodes/node_merge_gate_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_merge_gate_effect/handlers/handler_upsert_merge_gate.py
  src/omnibase_infra/nodes/node_merge_gate_effect/models/__init__.py
  src/omnibase_infra/nodes/node_merge_gate_effect/models/model_merge_gate_result.py
  src/omnibase_infra/nodes/node_merge_gate_effect/models/model_merge_gate_violation.py
  src/omnibase_infra/nodes/node_merge_gate_effect/node.py
  src/omnibase_infra/nodes/node_merge_gate_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_merge_gate_effect/registry/registry_infra_merge_gate_effect.py
  src/omnibase_infra/nodes/node_rrh_validate_compute/contract.yaml
  src/omnibase_infra/nodes/node_rrh_validate_compute/profiles.py
  tests/unit/nodes/node_merge_gate_effect/__init__.py
  tests/unit/nodes/node_merge_gate_effect/handlers/__init__.py
  tests/unit/nodes/node_merge_gate_effect/handlers/test_handler_upsert_merge_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

feat(handlers): make DbHandler circuit breaker thresholds configurable via env vars [OMN-1364] (#657)
  src/omnibase_infra/handlers/handler_db.py
  tests/unit/handlers/test_handler_db_circuit_breaker_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: add NodeDeltaBundleEffect + NodeDeltaMetricsEffect + migrations [OMN-3142]
  docker/migrations/forward/039_create_delta_bundles.sql
  docker/migrations/forward/040_create_delta_metrics_by_model.sql
  docker/migrations/rollback/rollback_039_create_delta_bundles.sql
  docker/migrations/rollback/rollback_040_create_delta_metrics_by_model.sql
  src/omnibase_infra/nodes/node_delta_bundle_effect/__init__.py
  src/omnibase_infra/nodes/node_delta_bundle_effect/contract.yaml
  src/omnibase_infra/nodes/node_delta_bundle_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_delta_bundle_effect/handlers/handler_update_outcome.py
  src/omnibase_infra/nodes/node_delta_bundle_effect/handlers/handler_write_bundle.py
  src/omnibase_infra/nodes/node_delta_bundle_effect/models/__init__.py
  src/omnibase_infra/nodes/node_delta_bundle_effect/models/model_payload_update_outcome.py
  src/omnibase_infra/nodes/node_delta_bundle_effect/models/model_payload_write_bundle.py
  src/omnibase_infra/nodes/node_delta_bundle_effect/node.py
  src/omnibase_infra/nodes/node_delta_bundle_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_delta_bundle_effect/registry/registry_infra_delta_bundle_effect.py
  src/omnibase_infra/nodes/node_delta_metrics_effect/__init__.py
  src/omnibase_infra/nodes/node_delta_metrics_effect/contract.yaml
  src/omnibase_infra/nodes/node_delta_metrics_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_delta_metrics_effect/handlers/handler_upsert_metrics.py
  src/omnibase_infra/nodes/node_delta_metrics_effect/models/__init__.py
  src/omnibase_infra/nodes/node_delta_metrics_effect/models/model_payload_upsert_metrics.py
  src/omnibase_infra/nodes/node_delta_metrics_effect/node.py
  src/omnibase_infra/nodes/node_delta_metrics_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_delta_metrics_effect/registry/registry_infra_delta_metrics_effect.py
  tests/unit/nodes/node_delta_bundle_effect/__init__.py
  tests/unit/nodes/node_delta_bundle_effect/test_models.py
  tests/unit/nodes/node_delta_bundle_effect/test_parse_stabilizes_label.py
  tests/unit/nodes/node_delta_metrics_effect/__init__.py
  tests/unit/nodes/node_delta_metrics_effect/test_models.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix: update version matrix for exact dependency pins
  src/omnibase_infra/runtime/version_compatibility.py
  tests/unit/runtime/test_version_compatibility.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(handlers): extract shared error handling to _handle_postgres_error [OMN-1365]
  src/omnibase_infra/handlers/handler_db.py
  tests/unit/handlers/test_handler_db.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(ci): bump CACHE_VERSION 0.4.0 -> 0.5.0
  .github/workflows/test.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
