Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

docs(OMN-15124): round-4 evidence — auto_create_off filled, MSK reachability finding
  docs/evidence/OMN-15124/2026-08-05-candidate-isolation-round4-evidence.md
  docs/evidence/OMN-15124/probes-round4/check_no_cloud_bus_wrapper.txt
  docs/evidence/OMN-15124/probes-round4/grep_plaintext_kafka_auth.txt
  docs/evidence/OMN-15124/probes-round4/msk_client_authentication.json
  docs/evidence/OMN-15124/probes-round4/msk_configuration_server_properties.txt
  docs/evidence/OMN-15124/probes-round4/nc_msk_broker_9098.txt
  docs/evidence/OMN-15124/probes-round4/nc_rds_5432.txt
  docs/evidence/OMN-15124/probes-round4/typed_config_authority.txt
Due: onex-validate-markdown-links

docs(OMN-15124): address CodeRabbit findings on round-4 evidence (PR #2668)
  docs/evidence/OMN-15124/2026-08-05-candidate-isolation-round4-evidence.md
  docs/evidence/OMN-15124/probes-round4/msk_configuration_revision2_server_properties.txt
  docs/evidence/OMN-15124/probes-round4/msk_describe_cluster.json
Due: onex-validate-markdown-links

fix(OMN-15717): add missing legacy-node-migrations.tsv to legacy-RDS fixture ledger
  docker/legacy-rds-fixture/ledger-control/forward/_ledger/legacy-node-migrations.tsv
Due: none

docs(OMN-15124): round-4 evidence — auto_create_off filled, MSK reachability finding (#2668)
  docs/evidence/OMN-15124/2026-08-05-candidate-isolation-round4-evidence.md
  docs/evidence/OMN-15124/probes-round4/check_no_cloud_bus_wrapper.txt
  docs/evidence/OMN-15124/probes-round4/grep_plaintext_kafka_auth.txt
  docs/evidence/OMN-15124/probes-round4/msk_client_authentication.json
  docs/evidence/OMN-15124/probes-round4/msk_configuration_revision2_server_properties.txt
  docs/evidence/OMN-15124/probes-round4/msk_configuration_server_properties.txt
  docs/evidence/OMN-15124/probes-round4/msk_describe_cluster.json
  docs/evidence/OMN-15124/probes-round4/nc_msk_broker_9098.txt
  docs/evidence/OMN-15124/probes-round4/nc_rds_5432.txt
  docs/evidence/OMN-15124/probes-round4/typed_config_authority.txt
Due: onex-validate-markdown-links

fix(OMN-15815): event-scope cr-thread-gate-caller.yml concurrency groups
  .github/workflows/cr-thread-gate-caller.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15717): fence node_pr_review_bot migration to close OMN-15376 red
  docker/migrations/forward/fenced-node-migrations.yaml
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15815): event-scope cr-thread-gate-caller.yml concurrency groups (#2710)
  .github/workflows/cr-thread-gate-caller.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15337): declare omnibase_infra logical database + delegation_workflow_state as omninode_internal (R-q)
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  scripts/generate_application_database_table_grants.py
  src/omnibase_infra/topology/application_database.py
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/unit/topology/test_application_database_table_grants.py
  tests/unit/topology/test_omnibase_infra_service_database.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15337): declare omnibase_infra logical database + delegation_workflow_state as omninode_internal (R-q) (#2665)
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  scripts/generate_application_database_table_grants.py
  src/omnibase_infra/topology/application_database.py
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/unit/topology/test_application_database_table_grants.py
  tests/unit/topology/test_omnibase_infra_service_database.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15717): declare node_pr_review_bot migration stream/domain + pre-merge declaration gate (#2678)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docker/legacy-rds-fixture/ledger-control/forward/_ledger/legacy-node-migrations.tsv
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/_ledger/bootstrap.sql
  docker/migrations/forward/_ledger/legacy-node-migrations.tsv
  docker/migrations/forward/fenced-node-migrations.yaml
  docker/migrations/forward/nodes/node_pr_review_bot/001_create_review_bot_bypass_log.sql
  scripts/ci/check_application_database_sql.py
  scripts/ci/ci_summary_gate.py
  scripts/provision-infisical.py
  scripts/provision-keycloak.py
  scripts/run-forward-migrations.sh
  scripts/seed-infisical.py
  scripts/sync-node-migrations.sh
  scripts/validation/validate_application_migration_manifest.py
  src/omnibase_infra/adapters/llm/adapter_llm_provider_openai.py
  src/omnibase_infra/handlers/registration_storage/models/model_update_registration_request.py
  src/omnibase_infra/models/registration/model_node_registration.py
  src/omnibase_infra/models/registration/model_node_registration_record.py
  src/omnibase_infra/nodes/node_event_forward_effect/contract.yaml
  src/omnibase_infra/nodes/node_event_forward_effect/contract_descriptor.py
  src/omnibase_infra/nodes/node_event_forward_effect/handlers/handler_event_forward.py
  src/omnibase_infra/nodes/node_registration_reducer/registration_reducer.py
  src/omnibase_infra/nodes/node_registration_storage_effect/models/model_registration_record.py
  src/omnibase_infra/nodes/node_registry_effect/models/model_registry_request.py
  src/omnibase_infra/nodes/node_setup_validate_effect/contract.yaml
  src/omnibase_infra/nodes/node_setup_validate_effect/handlers/handler_service_validate.py
  src/omnibase_infra/nodes/node_vector_store_effect/contract_descriptor.py
  src/omnibase_infra/services/contract_resolver/main.py
  src/omnibase_infra/services/registry_api/main.py
  src/omnibase_infra/utils/util_pydantic_validators.py
  tests/fixtures/omn15717/001_create_review_bot_bypass_log.sql.captured
  tests/incident_replays/registry.yaml
  tests/integration/migrations/test_application_migration_ledger_omn15413.py
  tests/scripts/test_node_migration_fence_parity.py
  tests/unit/migrations/test_node_migration_discovery.py
  tests/unit/nodes/node_event_forward_effect/test_contract_descriptor.py
  tests/unit/nodes/node_event_forward_effect/test_handler.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): repoint GUARD_INTRODUCTION_COMMIT at post-rebase guard-commit hash
  docker/migrations/forward/grandfathered-force-rls-migrations.yaml
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): make the FORCE-RLS grandfather ratchet CI-selector-reachable
  scripts/ci/detect_test_paths.py
  tests/unit/scripts/ci/test_detect_test_paths.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): supply the FORCE-RLS grandfather manifest in 2 stale runner test fixtures
  tests/unit/migrations/test_migration_gate_vacuity_fix.py
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): repair the FORCE-RLS guard's trigger condition (D1)
  docker/migrations/forward/grandfathered-force-rls-migrations.yaml
  scripts/run-forward-migrations.sh
  tests/scripts/test_forward_migration_advisory_lock.py
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): refuse unclassified FORCE ROW LEVEL SECURITY node migrations
  docker/migrations/forward/fenced-node-migrations.yaml
  scripts/run-forward-migrations.sh
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): make the migration-tree selector branch additive, not a swap
  scripts/ci/detect_test_paths.py
  tests/unit/scripts/ci/test_detect_test_paths.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): copy force-rls manifest into fixture proof
  docker/legacy-rds-fixture/Dockerfile
  scripts/deploy-runtime.sh
  scripts/runtime_build/stage_workspace.sh
  tests/ci/test_legacy_rds_fixture_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): repoint GUARD_INTRODUCTION_COMMIT after second rebase (post-#2678 merge conflict)
  docker/migrations/forward/grandfathered-force-rls-migrations.yaml
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): refuse unclassified FORCE ROW LEVEL SECURITY node migrations (#2666)
  docker/legacy-rds-fixture/Dockerfile
  docker/migrations/forward/fenced-node-migrations.yaml
  docker/migrations/forward/grandfathered-force-rls-migrations.yaml
  scripts/ci/detect_test_paths.py
  scripts/deploy-runtime.sh
  scripts/run-forward-migrations.sh
  scripts/runtime_build/stage_workspace.sh
  tests/ci/test_legacy_rds_fixture_contract.py
  tests/scripts/test_forward_migration_advisory_lock.py
  tests/scripts/test_node_migration_fence_parity.py
  tests/unit/migrations/test_migration_gate_vacuity_fix.py
  tests/unit/migrations/test_node_migration_discovery.py
  tests/unit/scripts/ci/test_detect_test_paths.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15567): close built_test_image fixture timeout gap, raise nightly job budget
  .github/workflows/nightly-integration.yml
  tests/integration/docker/conftest.py
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15567): reclaim per-test timeout budget for Docker build tests
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15567): reclaim per-test timeout budget for Docker build tests (#2663)
  .github/workflows/nightly-integration.yml
  tests/integration/docker/conftest.py
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15831): repoint squash-orphaned GUARD_INTRODUCTION_COMMIT + add self-diagnosing ancestry guard
  docker/migrations/forward/grandfathered-force-rls-migrations.yaml
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15832): recognize projection_api bus_backed exposures + snapshot kind in ContractTopicExtractor
  src/omnibase_infra/tools/contract_topic_extractor.py
  tests/unit/tools/test_contract_topic_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15831): repoint squash-orphaned GUARD_INTRODUCTION_COMMIT + add self-diagnosing ancestry guard (#2712)
  docker/migrations/forward/grandfathered-force-rls-migrations.yaml
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15832): recognize projection_api bus_backed exposures + snapshot kind in ContractTopicExtractor (#2713)
  src/omnibase_infra/tools/contract_topic_extractor.py
  tests/unit/tools/test_contract_topic_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15836): replace unmeasured test_monitor_logs timeout comment with measured evidence
  tests/unit/scripts/test_monitor_logs.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15836): replace unmeasured test_monitor_logs timeout comment with measured evidence (#2714)
  tests/unit/scripts/test_monitor_logs.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15819): rewrite preconditions as statically-provable SELECTs, not DO blocks
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_live_events/0002_create_omninode_internal_live_events.sql
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(OMN-15819): declare the new node migration in the application-migration manifest
  docker/migrations/forward/_ledger/application-migrations.tsv
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15819): node-owned live_events replacement + CI gate for cross-DB flat migrations
  docker/migrations/forward/098_create_omninode_internal_schema.sql
  docker/migrations/forward/099_create_omninode_internal_live_events.sql
  docker/migrations/forward/cross-database-flat-migrations.yaml
  docker/migrations/forward/nodes/node_projection_live_events/0002_create_omninode_internal_live_events.sql
  scripts/ci/check_flat_migration_foreign_connect.py
  tests/ci/test_flat_migration_no_foreign_connect_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15702): bump self-hosted runner fleet 2.334.0 -> 2.336.0 before GitHub deprecation cutoff
  docker/runners/Dockerfile
  docker/runners/runner-image.lock.json
  tests/ci/test_runner_image_node24_floor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15832): extend per-contract topic provisioning to projection_api + fix extractor expose-check gap
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/tools/contract_topic_extractor.py
  tests/unit/runtime/auto_wiring/test_omn15832_projection_topics_provisioned.py
  tests/unit/tools/test_contract_topic_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15702): bump self-hosted runner fleet 2.334.0 -> 2.336.0 before GitHub deprecation cutoff (#2715)
  docker/runners/Dockerfile
  docker/runners/runner-image.lock.json
  tests/ci/test_runner_image_node24_floor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15819): address CodeRabbit review threads on #2711
  docker/migrations/forward/098_create_omninode_internal_schema.sql
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/cross-database-flat-migrations.yaml
  docker/migrations/forward/nodes/node_projection_live_events/0002_create_omninode_internal_live_events.sql
  docker/migrations/schema_fingerprint.sha256
  scripts/ci/check_flat_migration_foreign_connect.py
  tests/ci/test_flat_migration_no_foreign_connect_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
