Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor(OMN-1610): Use ProtocolEventBusLike instead of concrete EventBusKafka type
  src/omnibase_infra/runtime/emit_daemon/daemon.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1647): Add PostgreSQL handlers for event ledger persistence
  src/omnibase_infra/nodes/node_ledger_write_effect/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/handler_ledger_append.py
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/handler_ledger_query.py
  src/omnibase_infra/nodes/node_ledger_write_effect/protocols/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/protocols/protocol_ledger_persistence.py
  src/omnibase_infra/nodes/node_ledger_write_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/registry/registry_infra_ledger_write.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1610): Update tests for CI failures
  tests/services/session/test_store.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1610): Fix CI test by bypassing pydantic-settings env loading
  tests/services/session/test_store.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1610): Implement emit daemon for persistent Kafka connections (#207)
  pyproject.toml
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/models/handlers/model_handler_source_config.py
  src/omnibase_infra/runtime/emit_daemon/__init__.py
  src/omnibase_infra/runtime/emit_daemon/cli.py
  src/omnibase_infra/runtime/emit_daemon/client.py
  src/omnibase_infra/runtime/emit_daemon/config.py
  src/omnibase_infra/runtime/emit_daemon/daemon.py
  src/omnibase_infra/runtime/emit_daemon/event_registry.py
  src/omnibase_infra/runtime/emit_daemon/model_daemon_request.py
  src/omnibase_infra/runtime/emit_daemon/model_daemon_response.py
  src/omnibase_infra/runtime/emit_daemon/queue.py
  src/omnibase_infra/services/session/config_store.py
  src/omnibase_infra/services/session/consumer.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/emit_daemon/__init__.py
  tests/integration/runtime/emit_daemon/conftest.py
  tests/integration/runtime/emit_daemon/test_emit_daemon_integration.py
  tests/services/session/test_store.py
  tests/unit/runtime/emit_daemon/__init__.py
  tests/unit/runtime/emit_daemon/test_client.py
  tests/unit/runtime/emit_daemon/test_config.py
  tests/unit/runtime/emit_daemon/test_event_registry.py
  tests/unit/runtime/emit_daemon/test_queue.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1647): Add correlation_id tracing and protocol consistency fixes
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/handler_ledger_query.py
  src/omnibase_infra/nodes/node_ledger_write_effect/protocols/protocol_ledger_persistence.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1647): Align protocol/handler signatures and improve error handling
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/handler_ledger_query.py
  src/omnibase_infra/nodes/node_ledger_write_effect/protocols/protocol_ledger_persistence.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1647): Add PostgreSQL handlers for event ledger persistence (#209)
  src/omnibase_infra/nodes/node_ledger_write_effect/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/handler_ledger_append.py
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/handler_ledger_query.py
  src/omnibase_infra/nodes/node_ledger_write_effect/protocols/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/protocols/protocol_ledger_persistence.py
  src/omnibase_infra/nodes/node_ledger_write_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/registry/registry_infra_ledger_write.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1519): Add RuntimeContractConfigLoader for declarative operation bindings
  src/omnibase_infra/models/runtime/__init__.py
  src/omnibase_infra/nodes/node_registration_orchestrator/registry/registry_infra_node_registration_orchestrator.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/constants_security.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_contract_load_result.py
  src/omnibase_infra/runtime/models/model_runtime_contract_config.py
  src/omnibase_infra/runtime/models/model_security_config.py
  src/omnibase_infra/runtime/runtime_contract_config_loader.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/runtime/models/test_model_security_config.py
  tests/unit/runtime/test_runtime_contract_config_loader.py
  tests/unit/runtime/test_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1519): Remove unused _allowed_namespaces and improve documentation
  src/omnibase_infra/runtime/models/model_runtime_contract_config.py
  src/omnibase_infra/runtime/runtime_contract_config_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1648): Add NodeLedgerProjectionCompute for event ledger persistence
  src/omnibase_infra/nodes/node_ledger_projection_compute/__init__.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_ledger_projection_compute/node.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/registry/__init__.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/registry/registry_infra_ledger_projection.py
  tests/unit/nodes/test_node_ledger_projection_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1648): Address code review feedback for NodeLedgerProjectionCompute
  src/omnibase_infra/nodes/__init__.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/node.py
  tests/unit/nodes/test_node_ledger_projection_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1653): Implement contract registry reducer with Postgres projection
  docker/migrations/005_create_contracts_topics.sql
  poetry.lock
  src/omnibase_infra/nodes/contract_registry_reducer/__init__.py
  src/omnibase_infra/nodes/contract_registry_reducer/contract.yaml
  src/omnibase_infra/nodes/contract_registry_reducer/models/__init__.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_contract_registry_state.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_deactivate_contract.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_mark_stale.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_update_heartbeat.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_update_topic.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_upsert_contract.py
  src/omnibase_infra/nodes/contract_registry_reducer/node.py
  src/omnibase_infra/nodes/contract_registry_reducer/reducer.py
  src/omnibase_infra/nodes/contract_registry_reducer/registry/__init__.py
  src/omnibase_infra/nodes/contract_registry_reducer/registry/registry_infra_contract_registry_reducer.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/nodes/test_contract_registry_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1519): Remove broken TestAllowedNamespaces tests
  tests/unit/runtime/test_runtime_contract_config_loader.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1648): Add NodeLedgerProjectionCompute for event ledger pers… (#211)
  src/omnibase_infra/nodes/__init__.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/__init__.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_ledger_projection_compute/node.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/registry/__init__.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/registry/registry_infra_ledger_projection.py
  tests/unit/nodes/test_node_ledger_projection_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1653): Fix I/O purity violations and schema type mismatch
  docker/migrations/005_create_contracts_topics.sql
  src/omnibase_infra/nodes/contract_registry_reducer/reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1654): Implement KafkaContractSource for cache-based contract discovery
  poetry.lock
  pyproject.toml
  src/omnibase_infra/enums/enum_handler_source_mode.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/kafka_contract_source.py
  tests/unit/runtime/test_kafka_contract_source.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1519): Add RuntimeContractConfigLoader for declarative operation bindings (#210)
  src/omnibase_infra/models/runtime/__init__.py
  src/omnibase_infra/nodes/node_registration_orchestrator/registry/registry_infra_node_registration_orchestrator.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/constants_security.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_contract_load_result.py
  src/omnibase_infra/runtime/models/model_runtime_contract_config.py
  src/omnibase_infra/runtime/models/model_security_config.py
  src/omnibase_infra/runtime/runtime_contract_config_loader.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/runtime/models/test_model_security_config.py
  tests/unit/runtime/test_runtime_contract_config_loader.py
  tests/unit/runtime/test_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1653): Fix Kafka metadata warning and add malformed YAML tests
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_upsert_contract.py
  src/omnibase_infra/nodes/contract_registry_reducer/reducer.py
  tests/integration/nodes/test_contract_registry_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1654): Add thread safety to KafkaContractSource
  src/omnibase_infra/runtime/kafka_contract_source.py
  tests/unit/runtime/test_kafka_contract_source.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1653): Update test expectations for CI failures
  tests/integration/runtime/test_bootstrap_source_integration.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1653): Address code review feedback for contract registry reducer
  docker/migrations/005_create_contracts_topics.sql
  src/omnibase_infra/nodes/contract_registry_reducer/contract.yaml
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_contract_registry_state.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_upsert_contract.py
  src/omnibase_infra/nodes/contract_registry_reducer/reducer.py
  tests/integration/nodes/test_contract_registry_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1654): Add public API, slots, and integration tests for KafkaContractSource
  src/omnibase_infra/runtime/kafka_contract_source.py
  tests/integration/runtime/test_kafka_contract_source_integration.py
  tests/unit/runtime/test_kafka_contract_source.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Use ModelTimeoutErrorContext for InfraTimeoutError in chaos tests
  tests/chaos/test_chaos_concurrent_scenarios.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1654): Address review feedback for KafkaContractSource
  src/omnibase_infra/runtime/kafka_contract_source.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Isolate handler registry in empty descriptors test
  tests/integration/runtime/test_bootstrap_source_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1653): Add topic cleanup intent on contract deregistration
  src/omnibase_infra/nodes/contract_registry_reducer/models/__init__.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_cleanup_topic_references.py
  src/omnibase_infra/nodes/contract_registry_reducer/reducer.py
  tests/integration/nodes/test_contract_registry_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1653): Address code review feedback for reducer robustness
  src/omnibase_infra/nodes/contract_registry_reducer/reducer.py
  tests/integration/nodes/test_contract_registry_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1654): Wire runtime integration for KafkaContractSource
  src/omnibase_infra/runtime/handler_source_resolver.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1653): Fix contract.yaml intent names and apply code review fixes
  docker/migrations/005_create_contracts_topics.sql
  src/omnibase_infra/nodes/contract_registry_reducer/contract.yaml
  src/omnibase_infra/nodes/contract_registry_reducer/node.py
  src/omnibase_infra/nodes/contract_registry_reducer/reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1654): Address code review feedback for KafkaContractSource
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_handler_source_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1653): Fix multi-topic idempotency and code review issues
  src/omnibase_infra/nodes/contract_registry_reducer/contract.yaml
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_contract_registry_state.py
  src/omnibase_infra/nodes/contract_registry_reducer/reducer.py
  tests/integration/nodes/test_contract_registry_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-1653): Extract helper methods and add logging tests
  src/omnibase_infra/nodes/contract_registry_reducer/reducer.py
  tests/integration/nodes/test_contract_registry_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1653): Address final code review issues for contract registry reducer
  docker/migrations/005_create_contracts_topics.sql
  src/omnibase_infra/nodes/contract_registry_reducer/contract.yaml
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_update_heartbeat.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1653): Implement contract registry reducer with Postgres pro… (#212)
  docker/migrations/005_create_contracts_topics.sql
  poetry.lock
  src/omnibase_infra/nodes/contract_registry_reducer/__init__.py
  src/omnibase_infra/nodes/contract_registry_reducer/contract.yaml
  src/omnibase_infra/nodes/contract_registry_reducer/models/__init__.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_contract_registry_state.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_cleanup_topic_references.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_deactivate_contract.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_mark_stale.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_update_heartbeat.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_update_topic.py
  src/omnibase_infra/nodes/contract_registry_reducer/models/model_payload_upsert_contract.py
  src/omnibase_infra/nodes/contract_registry_reducer/node.py
  src/omnibase_infra/nodes/contract_registry_reducer/reducer.py
  src/omnibase_infra/nodes/contract_registry_reducer/registry/__init__.py
  src/omnibase_infra/nodes/contract_registry_reducer/registry/registry_infra_contract_registry_reducer.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/chaos/test_chaos_concurrent_scenarios.py
  tests/integration/nodes/test_contract_registry_reducer.py
  tests/integration/runtime/test_bootstrap_source_integration.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-1654): Address PR review feedback for KafkaContractSource
  src/omnibase_infra/runtime/kafka_contract_source.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1654): Address final PR review feedback
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_handler_source_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1654): Implement KafkaContractSource for cache-based contrac… (#213)
  poetry.lock
  pyproject.toml
  src/omnibase_infra/enums/enum_handler_source_mode.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/handler_source_resolver.py
  src/omnibase_infra/runtime/kafka_contract_source.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/integration/runtime/test_kafka_contract_source_integration.py
  tests/unit/runtime/test_handler_source_resolver.py
  tests/unit/runtime/test_kafka_contract_source.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: bump version to 0.2.6, update omnibase-spi to 0.6.3
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: none

chore: bump version to 0.2.6, update omnibase-spi to 0.6.3 (#214)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
