Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(review): Address PR #286 review feedback for injection effectiveness module
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_injection_effectiveness_query.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_injection_effectiveness_query_result.py
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_ledger_sink_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_models.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] Use SET LOCAL statement_timeout in reader to prevent pool leakage
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_reader_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] Fix error double-wrapping, silent intent drops, and model config
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_projection_record.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_consul_register.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_upsert.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/runtime/service_intent_executor.py
  tests/unit/runtime/test_intent_effect_postgres_upsert.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] Fix silent data loss, category mismatch, and type safety
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_runtime_tick.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_upsert.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/runtime/service_intent_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] Add bounds validation for limit/offset and batch entry keys
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_ledger_sink_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_reader_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Use is-not-None for timeout default and readonly transactions
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] Add type validation for batch entries and document bounds
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/protocol_reader.py
  tests/unit/services/observability/injection_effectiveness/test_ledger_sink_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] Clarify batch return semantics and fix remaining edge cases
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/protocol_reader.py
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] Fix data loss, double-logging, type safety, and convention issues
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_projection_record.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_upsert.py
  src/omnibase_infra/runtime/service_intent_executor.py
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
  tests/unit/runtime/test_intent_effect_postgres_upsert.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] Fix query_timeout falsy check and add batch entry type validation
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/writer_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_ledger_sink_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2052): Separate forward/rollback migrations to prevent auto-application bug
  docker/README.md
  docker/docker-compose.e2e.yml
  docker/docker-compose.infra.yml
  docker/migrations/README.md
  docker/migrations/forward/000_create_multiple_databases.sh
  docker/migrations/forward/001_registration_projection.sql
  docker/migrations/forward/002_updated_at_audit_index.sql
  docker/migrations/forward/003_capability_fields.sql
  docker/migrations/forward/004_capability_fields_concurrent.sql
  docker/migrations/forward/005_create_contracts_topics.sql
  docker/migrations/forward/016_create_session_snapshots.sql
  docker/migrations/forward/020_create_agent_actions_table.sql
  docker/migrations/forward/021_create_agent_routing_decisions_table.sql
  docker/migrations/forward/022_create_agent_transformation_events_table.sql
  docker/migrations/forward/023_create_router_performance_metrics_table.sql
  docker/migrations/forward/024_create_agent_detection_failures_table.sql
  docker/migrations/forward/025_create_agent_execution_logs_table.sql
  docker/migrations/forward/026_injection_effectiveness_tables.sql
  docker/migrations/forward/027_create_agent_status_events_table.sql
  docker/migrations/rollback/rollback_016_create_session_snapshots.sql
  docker/migrations/rollback/rollback_020_agent_actions_table.sql
  docker/migrations/rollback/rollback_021_agent_routing_decisions_table.sql
  docker/migrations/rollback/rollback_022_agent_transformation_events_table.sql
  docker/migrations/rollback/rollback_023_router_performance_metrics_table.sql
  docker/migrations/rollback/rollback_024_agent_detection_failures_table.sql
  docker/migrations/rollback/rollback_025_agent_execution_logs_table.sql
  docker/migrations/rollback/rollback_026_injection_effectiveness_tables.sql
  docker/migrations/rollback/rollback_027_agent_status_events_table.sql
  docs/decisions/adr-projector-composite-key-upsert-workaround.md
  docs/operations/DATABASE_INDEX_MONITORING_RUNBOOK.md
  src/omnibase_infra/migrations/forward/001_create_event_ledger.sql
  src/omnibase_infra/migrations/forward/002_create_validation_event_ledger.sql
  src/omnibase_infra/migrations/rollback/rollback_001_drop_event_ledger.sql
  src/omnibase_infra/migrations/rollback/rollback_002_create_validation_event_ledger.sql
  src/omnibase_infra/migrations/rollback/rollback_002_drop_validation_event_ledger.sql
  src/omnibase_infra/services/session/store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(review): [major] Add kafka_topic type validation and fix ordering docstring
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/protocol_reader.py
  tests/unit/services/observability/injection_effectiveness/test_ledger_sink_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Reject bool-as-int and negative kafka partition/offset in batch
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_ledger_sink_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] Use SET LOCAL statement_timeout in writer to prevent pool leakage
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_injection_effectiveness_query.py
  src/omnibase_infra/services/observability/injection_effectiveness/writer_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Add consistent input validation to append_session_entry and offset upper bound
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_ledger_sink_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_reader_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Reject empty strings in batch and add offset upper bounds to all reader methods
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_ledger_sink_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_reader_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] Add startup validation, encoding fix, serialization consistency, and docs
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_projection_record.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/nodes/reducers/registration_reducer.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_upsert.py
  src/omnibase_infra/runtime/service_intent_routing_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

fix(review): [minor] Replace getattr with isinstance and add DispatchResultApplier type
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] Add session_id/correlation_id/event_payload validation to append_session_entry
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_injection_effectiveness_row.py
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_ledger_sink_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Re-export LedgerEntryDict from package __init__.py
  src/omnibase_infra/services/observability/injection_effectiveness/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Add correlation_id validation to batch and defer circuit breaker reset
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_ledger_sink_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Add explicit int() cast for COUNT(*) fetchval result
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Update stale docstrings for intent_type routing
  src/omnibase_infra/nodes/effects/registry_effect.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/handlers/handler_ledger_projection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2078): Add query reader and ledger sink for injection effectiveness (#286)
  src/omnibase_infra/services/observability/injection_effectiveness/__init__.py
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/__init__.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_injection_effectiveness_query.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_injection_effectiveness_query_result.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_injection_effectiveness_row.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_latency_breakdown_row.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_pattern_hit_rate_row.py
  src/omnibase_infra/services/observability/injection_effectiveness/protocol_reader.py
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/writer_postgres.py
  tests/unit/services/observability/__init__.py
  tests/unit/services/observability/injection_effectiveness/__init__.py
  tests/unit/services/observability/injection_effectiveness/conftest.py
  tests/unit/services/observability/injection_effectiveness/test_ledger_sink_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_models.py
  tests/unit/services/observability/injection_effectiveness/test_reader_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2052): Separate forward/rollback migrations to prevent auto-application bug (#287)
  docker/README.md
  docker/docker-compose.e2e.yml
  docker/docker-compose.infra.yml
  docker/migrations/README.md
  docker/migrations/forward/000_create_multiple_databases.sh
  docker/migrations/forward/001_registration_projection.sql
  docker/migrations/forward/002_updated_at_audit_index.sql
  docker/migrations/forward/003_capability_fields.sql
  docker/migrations/forward/004_capability_fields_concurrent.sql
  docker/migrations/forward/005_create_contracts_topics.sql
  docker/migrations/forward/016_create_session_snapshots.sql
  docker/migrations/forward/020_create_agent_actions_table.sql
  docker/migrations/forward/021_create_agent_routing_decisions_table.sql
  docker/migrations/forward/022_create_agent_transformation_events_table.sql
  docker/migrations/forward/023_create_router_performance_metrics_table.sql
  docker/migrations/forward/024_create_agent_detection_failures_table.sql
  docker/migrations/forward/025_create_agent_execution_logs_table.sql
  docker/migrations/forward/026_injection_effectiveness_tables.sql
  docker/migrations/forward/027_create_agent_status_events_table.sql
  docker/migrations/rollback/rollback_016_create_session_snapshots.sql
  docker/migrations/rollback/rollback_020_agent_actions_table.sql
  docker/migrations/rollback/rollback_021_agent_routing_decisions_table.sql
  docker/migrations/rollback/rollback_022_agent_transformation_events_table.sql
  docker/migrations/rollback/rollback_023_router_performance_metrics_table.sql
  docker/migrations/rollback/rollback_024_agent_detection_failures_table.sql
  docker/migrations/rollback/rollback_025_agent_execution_logs_table.sql
  docker/migrations/rollback/rollback_026_injection_effectiveness_tables.sql
  docker/migrations/rollback/rollback_027_agent_status_events_table.sql
  docs/decisions/adr-projector-composite-key-upsert-workaround.md
  docs/operations/DATABASE_INDEX_MONITORING_RUNBOOK.md
  src/omnibase_infra/migrations/forward/001_create_event_ledger.sql
  src/omnibase_infra/migrations/forward/002_create_validation_event_ledger.sql
  src/omnibase_infra/migrations/rollback/rollback_001_drop_event_ledger.sql
  src/omnibase_infra/migrations/rollback/rollback_002_create_validation_event_ledger.sql
  src/omnibase_infra/migrations/rollback/rollback_002_drop_validation_event_ledger.sql
  src/omnibase_infra/services/session/store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(review): [minor] Update stale docstring, replace getattr, DRY dispatchers, remove duck-typing
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/_util_envelope_extract.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_heartbeat.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_registration_acked.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_runtime_tick.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  src/omnibase_infra/runtime/service_intent_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] Document rollback 003/004 index overlap and autocommit requirement
  docker/migrations/rollback/rollback_003_capability_fields.sql
  docker/migrations/rollback/rollback_004_capability_fields_concurrent.sql
Due: none

fix(review): [minor] Add missing rollback files and standardize headers
  docker/migrations/README.md
  docker/migrations/forward/001_registration_projection.sql
  docker/migrations/forward/002_updated_at_audit_index.sql
  docker/migrations/forward/004_capability_fields_concurrent.sql
  docker/migrations/rollback/rollback_001_registration_projection.sql
  docker/migrations/rollback/rollback_002_updated_at_audit_index.sql
  docker/migrations/rollback/rollback_004_capability_fields_concurrent.sql
Due: onex-validate-markdown-links

fix(review): [minor] Standardize rollback headers, fix README glob, remove duplicate index
  docker/migrations/README.md
  docker/migrations/forward/016_create_session_snapshots.sql
  docker/migrations/rollback/rollback_001_registration_projection.sql
  docker/migrations/rollback/rollback_002_updated_at_audit_index.sql
  src/omnibase_infra/migrations/rollback/rollback_001_drop_event_ledger.sql
Due: onex-validate-markdown-links

fix(review): [minor] Update stale rollback path references in migration headers
  docker/migrations/forward/026_injection_effectiveness_tables.sql
  docker/migrations/forward/027_create_agent_status_events_table.sql
Due: none

fix(review): [minor] Standardize remaining rollback headers for 005 and src/002
  docker/migrations/rollback/rollback_005_create_contracts_topics.sql
  src/omnibase_infra/migrations/rollback/rollback_002_drop_validation_event_ledger.sql
Due: none

fix(review): [minor] Extract inline rollback SQL from migration 003 header
  docker/migrations/forward/003_capability_fields.sql
  docker/migrations/rollback/rollback_003_capability_fields.sql
Due: none

fix(review): [minor] Add forward/ prefix to rollback headers for 016, 020-027
  docker/migrations/rollback/rollback_016_create_session_snapshots.sql
  docker/migrations/rollback/rollback_020_agent_actions_table.sql
  docker/migrations/rollback/rollback_021_agent_routing_decisions_table.sql
  docker/migrations/rollback/rollback_022_agent_transformation_events_table.sql
  docker/migrations/rollback/rollback_023_router_performance_metrics_table.sql
  docker/migrations/rollback/rollback_024_agent_detection_failures_table.sql
  docker/migrations/rollback/rollback_025_agent_execution_logs_table.sql
  docker/migrations/rollback/rollback_026_injection_effectiveness_tables.sql
  docker/migrations/rollback/rollback_027_agent_status_events_table.sql
Due: none

fix(review): [minor] Update stale path references in upgrade guide
  docker/migrations/MIGRATION_UPGRADE_003a_to_004.md
Due: onex-validate-markdown-links

fix(review): [minor] Standardize rollback references in migration headers
  docker/migrations/forward/004_capability_fields_concurrent.sql
  docker/migrations/forward/005_create_contracts_topics.sql
  docker/migrations/forward/016_create_session_snapshots.sql
  docker/migrations/forward/020_create_agent_actions_table.sql
  docker/migrations/forward/021_create_agent_routing_decisions_table.sql
  docker/migrations/forward/022_create_agent_transformation_events_table.sql
  docker/migrations/forward/023_create_router_performance_metrics_table.sql
  docker/migrations/forward/024_create_agent_detection_failures_table.sql
  docker/migrations/forward/025_create_agent_execution_logs_table.sql
  docker/migrations/rollback/rollback_005_create_contracts_topics.sql
Due: none

fix(review): [major] Fix trigger idempotency and remove duplicate rollback
  docker/migrations/forward/016_create_session_snapshots.sql
  src/omnibase_infra/migrations/rollback/rollback_002_create_validation_event_ledger.sql
Due: none

fix(review): [minor] Update stale migration path reference in ADR-005
  docs/decisions/adr-005-denormalize-capability-fields-in-registration-projections.md
Due: onex-validate-markdown-links

fix(OMN-2052): Review fixes for migration forward/rollback split (#288)
  docker/migrations/MIGRATION_UPGRADE_003a_to_004.md
  docker/migrations/README.md
  docker/migrations/forward/001_registration_projection.sql
  docker/migrations/forward/002_updated_at_audit_index.sql
  docker/migrations/forward/003_capability_fields.sql
  docker/migrations/forward/004_capability_fields_concurrent.sql
  docker/migrations/forward/005_create_contracts_topics.sql
  docker/migrations/forward/016_create_session_snapshots.sql
  docker/migrations/forward/020_create_agent_actions_table.sql
  docker/migrations/forward/021_create_agent_routing_decisions_table.sql
  docker/migrations/forward/022_create_agent_transformation_events_table.sql
  docker/migrations/forward/023_create_router_performance_metrics_table.sql
  docker/migrations/forward/024_create_agent_detection_failures_table.sql
  docker/migrations/forward/025_create_agent_execution_logs_table.sql
  docker/migrations/forward/026_injection_effectiveness_tables.sql
  docker/migrations/forward/027_create_agent_status_events_table.sql
  docker/migrations/rollback/rollback_001_registration_projection.sql
  docker/migrations/rollback/rollback_002_updated_at_audit_index.sql
  docker/migrations/rollback/rollback_003_capability_fields.sql
  docker/migrations/rollback/rollback_004_capability_fields_concurrent.sql
  docker/migrations/rollback/rollback_005_create_contracts_topics.sql
  docker/migrations/rollback/rollback_016_create_session_snapshots.sql
  docker/migrations/rollback/rollback_020_agent_actions_table.sql
  docker/migrations/rollback/rollback_021_agent_routing_decisions_table.sql
  docker/migrations/rollback/rollback_022_agent_transformation_events_table.sql
  docker/migrations/rollback/rollback_023_router_performance_metrics_table.sql
  docker/migrations/rollback/rollback_024_agent_detection_failures_table.sql
  docker/migrations/rollback/rollback_025_agent_execution_logs_table.sql
  docker/migrations/rollback/rollback_026_injection_effectiveness_tables.sql
  docker/migrations/rollback/rollback_027_agent_status_events_table.sql
  docs/decisions/adr-005-denormalize-capability-fields-in-registration-projections.md
  src/omnibase_infra/migrations/rollback/rollback_001_drop_event_ledger.sql
  src/omnibase_infra/migrations/rollback/rollback_002_create_validation_event_ledger.sql
  src/omnibase_infra/migrations/rollback/rollback_002_drop_validation_event_ledger.sql
Due: onex-validate-markdown-links

fix(review): [major+minor] Replace getattr duck-typing, add transport_type, fix generic annotation
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/runtime/service_intent_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-2066): Add FK scan report for omnibase_infra DB-SPLIT-03
  docs/audits/fk-scan-omnibase-infra.md
Due: onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
