Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-12815): post contract endpoint_url verbatim in OpenAI-compatible effect
  contracts/OMN-12627.yaml
  contracts/OMN-12631.yaml
  contracts/OMN-12682.yaml
  contracts/OMN-12700.yaml
  contracts/OMN-12723.yaml
  contracts/OMN-12755.yaml
  contracts/OMN-12815.yaml
  scripts/deploy-agent/tests/unit/test_executor_lane_selection.py
  scripts/deploy-agent/tests/unit/test_executor_runtime_health_verify.py
  scripts/deploy-agent/tests/unit/test_executor_runtime_scope.py
  src/omnibase_infra/adapters/llm/adapter_code_analysis_enrichment.py
  src/omnibase_infra/adapters/llm/adapter_code_review_analysis.py
  src/omnibase_infra/adapters/llm/adapter_documentation_generation.py
  src/omnibase_infra/adapters/llm/adapter_llm_provider_openai.py
  src/omnibase_infra/adapters/llm/adapter_summarization_enrichment.py
  src/omnibase_infra/adapters/llm/adapter_test_boilerplate_generation.py
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/bifrost/handler_bifrost_gateway.py
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/model_llm_inference_request.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/adapters/llm/test_adapter_documentation_generation_integration.py
  tests/integration/test_llm_gpu_usage_evidence_integration.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_gpu_measurement.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible_class.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible_metrics.py
  tests/unit/nodes/node_llm_inference_effect/services/test_service_llm_metrics_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12815): post contract endpoint_url verbatim in OpenAI-compatible effect (#1910)
  contracts/OMN-12627.yaml
  contracts/OMN-12631.yaml
  contracts/OMN-12682.yaml
  contracts/OMN-12700.yaml
  contracts/OMN-12723.yaml
  contracts/OMN-12755.yaml
  contracts/OMN-12815.yaml
  scripts/deploy-agent/tests/unit/test_executor_lane_selection.py
  scripts/deploy-agent/tests/unit/test_executor_runtime_health_verify.py
  scripts/deploy-agent/tests/unit/test_executor_runtime_scope.py
  src/omnibase_infra/adapters/llm/adapter_code_analysis_enrichment.py
  src/omnibase_infra/adapters/llm/adapter_code_review_analysis.py
  src/omnibase_infra/adapters/llm/adapter_documentation_generation.py
  src/omnibase_infra/adapters/llm/adapter_llm_provider_openai.py
  src/omnibase_infra/adapters/llm/adapter_summarization_enrichment.py
  src/omnibase_infra/adapters/llm/adapter_test_boilerplate_generation.py
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/bifrost/handler_bifrost_gateway.py
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/model_llm_inference_request.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/adapters/llm/test_adapter_documentation_generation_integration.py
  tests/integration/test_llm_gpu_usage_evidence_integration.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_gpu_measurement.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible_class.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible_metrics.py
  tests/unit/nodes/node_llm_inference_effect/services/test_service_llm_metrics_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12825): wire receipt-honesty gate (queue-safe ratchet)
  .github/workflows/receipt-honesty.yml
Due: none

fix(OMN-12832): make stability broker advertise contract-owned (#1911)
  contracts/OMN-12522.yaml
  contracts/OMN-12631.yaml
  contracts/OMN-12832.yaml
  docker/README.md
  docker/docker-compose.stability-test.yml
  docker/env-example-full.txt
  docs/runbooks/stability-test-runtime-lane.md
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_runtime_lane_kafka_environment.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-12827): expose generated COMPUTE nodes as MCP tools (close-loop B2)
  contracts/OMN-12827.yaml
  src/omnibase_infra/services/mcp/service_mcp_tool_sync.py
  tests/unit/services/mcp/test_service_mcp_tool_sync_exposure.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12827): filter non-existent test dirs in CI smart-selection
  scripts/ci/detect_test_paths.py
  tests/unit/scripts/ci/test_detect_test_paths.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12835): allow declared compatibility publish topics
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  src/omnibase_infra/runtime/auto_wiring/models/model_discovered_contract.py
  tests/unit/runtime/auto_wiring/test_discovery.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-12827): expose generated COMPUTE nodes as MCP tools (close-loop B2) (#1914)
  contracts/OMN-12827.yaml
  scripts/ci/detect_test_paths.py
  src/omnibase_infra/services/mcp/service_mcp_tool_sync.py
  tests/unit/scripts/ci/test_detect_test_paths.py
  tests/unit/services/mcp/test_service_mcp_tool_sync_exposure.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12835): allow declared compatibility publish topics (#1915)
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  src/omnibase_infra/runtime/auto_wiring/models/model_discovered_contract.py
  tests/unit/runtime/auto_wiring/test_discovery.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12825): wire receipt-honesty gate (queue-safe ratchet) (#1912)
  .github/workflows/receipt-honesty.yml
Due: none

fix(OMN-12848): register dispatch route for sole-handler multi-topic contracts + cachetools in workspace image
  contracts/OMN-12848.yaml
  docker/Dockerfile.runtime
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_topics_for_handler_entry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-12848): sync yamlfmt-normalized contract from OCC
  contracts/OMN-12848.yaml
Due: onex-validate-contracts

fix(OMN-12848): register dispatch route for sole-handler multi-topic contracts + cachetools in workspace image (#1916)
  contracts/OMN-12848.yaml
  docker/Dockerfile.runtime
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_topics_for_handler_entry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12851): inject event publisher for auto-wired handlers
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_event_publisher_injection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12851): inject event publisher for auto-wired handlers (#1917)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_event_publisher_injection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12855): register GLM secret refs for runtime prefetch
  config/shared_key_registry.yaml
  docker/docker-compose.infra.yml
  src/omnibase_infra/runtime/config_discovery/transport_config_map.py
  tests/ci/test_env_parity.py
  tests/ci/test_runtime_env_anchor.py
  tests/integration/infra/test_prod_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/runtime/config_discovery/test_transport_config_map.py
  tests/unit/scripts/test_shared_key_registry_omn8778.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12855): require GLM escalation env refs
  docker/docker-compose.infra.yml
  tests/unit/config/test_shared_key_registry_omnimarket.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-12855): cover required GLM compose env
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12855): register GLM secret refs for runtime prefetch (#1921)
  config/shared_key_registry.yaml
  docker/docker-compose.infra.yml
  src/omnibase_infra/runtime/config_discovery/transport_config_map.py
  tests/ci/test_env_parity.py
  tests/ci/test_runtime_env_anchor.py
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_prod_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/config/test_shared_key_registry_omnimarket.py
  tests/unit/runtime/config_discovery/test_transport_config_map.py
  tests/unit/scripts/test_shared_key_registry_omn8778.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12819): reject incomplete bifrost target endpoints
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12819): reject incomplete bifrost target endpoints (#1922)
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(health): probe full chat endpoint siblings
  src/omnibase_infra/services/service_llm_endpoint_health.py
  tests/unit/services/test_service_llm_endpoint_health.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(health): probe full chat endpoint siblings (#1923)
  src/omnibase_infra/services/service_llm_endpoint_health.py
  tests/unit/services/test_service_llm_endpoint_health.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-12860): render logical secret resolver overlay
  contracts/OMN-12860.yaml
  contracts/services/runtime_policy.contract.yaml
  docker/docker-compose.infra.yml
  docker/docker-compose.stability-test.yml
  docker/entrypoint-runtime.sh
  docker/runtime-policy.env
  scripts/render_runtime_policy_env.py
  src/omnibase_infra/runtime/models/model_runtime_profile_policy.py
  src/omnibase_infra/runtime/render_secret_resolver_config.py
  tests/ci/test_runtime_env_anchor.py
  tests/ci/test_runtime_policy_contract.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/integration/runtime/test_runtime_policy_contract.py
  tests/unit/docker/test_runtime_entrypoint_volume_bootstrap.py
  tests/unit/runtime/test_render_secret_resolver_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-12860): cover secret resolver env requirements
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12860): harden secret resolver overlay loading
  src/omnibase_infra/runtime/render_secret_resolver_config.py
  tests/integration/runtime/test_runtime_policy_contract.py
  tests/unit/runtime/test_render_secret_resolver_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-12860): render logical secret resolver overlay (#1924)
  contracts/OMN-12860.yaml
  contracts/services/runtime_policy.contract.yaml
  docker/docker-compose.infra.yml
  docker/docker-compose.stability-test.yml
  docker/entrypoint-runtime.sh
  docker/runtime-policy.env
  scripts/render_runtime_policy_env.py
  src/omnibase_infra/runtime/models/model_runtime_profile_policy.py
  src/omnibase_infra/runtime/render_secret_resolver_config.py
  tests/ci/test_runtime_env_anchor.py
  tests/ci/test_runtime_policy_contract.py
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/integration/runtime/test_runtime_policy_contract.py
  tests/unit/docker/test_runtime_entrypoint_volume_bootstrap.py
  tests/unit/runtime/test_render_secret_resolver_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12860): preserve runtime policy JSON when sourced
  docker/runtime-policy.env
  scripts/render_runtime_policy_env.py
  tests/ci/test_runtime_policy_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12860): preserve runtime policy JSON when sourced (#1925)
  docker/runtime-policy.env
  scripts/render_runtime_policy_env.py
  tests/ci/test_runtime_policy_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12865): validate generated stability compose
  docker/catalog/bundles.yaml
  docker/catalog/services/keycloak.yaml
  docker/catalog/services/projection-api.yaml
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_compose_gen.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-12865): align runtime bundle decomposition
  tests/unit/infra/test_runtime_bundle_decomposition.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12865): provision keycloak db on warm volumes
  docker/migrations/forward/042_create_keycloak_db.sql
  tests/unit/migrations/test_keycloak_db_migration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-12865): stamp migration schema fingerprint
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(OMN-12865): make keycloak db migration runner-native
  docker/migrations/forward/042_create_keycloak_db.sql
  docker/migrations/schema_fingerprint.sha256
  scripts/run-forward-migrations.sh
  scripts/run-migrations.py
  tests/unit/migrations/test_keycloak_db_migration.py
  tests/unit/scripts/test_run_migrations.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-12865): avoid nested uv in compose render check
  tests/integration/infra/test_stability_test_runtime_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-12865): set pythonpath for compose render subprocess
  tests/integration/infra/test_stability_test_runtime_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12865): harden migration database directive parsing
  scripts/deploy-agent/tests/unit/test_executor_compose_gen.py
  scripts/run-forward-migrations.sh
  scripts/run-migrations.py
  tests/unit/migrations/test_node_migration_discovery.py
  tests/unit/scripts/test_run_migrations.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12865): validate generated stability compose (#1926)
  docker/catalog/bundles.yaml
  docker/catalog/services/keycloak.yaml
  docker/catalog/services/projection-api.yaml
  docker/migrations/forward/042_create_keycloak_db.sql
  docker/migrations/schema_fingerprint.sha256
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_compose_gen.py
  scripts/run-forward-migrations.sh
  scripts/run-migrations.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_runtime_bundle_decomposition.py
  tests/unit/migrations/test_keycloak_db_migration.py
  tests/unit/migrations/test_node_migration_discovery.py
  tests/unit/scripts/test_run_migrations.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12885): repair delegation node migration idempotency
  docker/migrations/forward/nodes/node_projection_delegation/0007_delegation_events.sql
  docker/migrations/forward/nodes/node_projection_delegation/0012_generation_output_columns.sql
  docker/migrations/forward/nodes/node_projection_delegation/0013_generation_proof_fields.sql
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

style(OMN-12885): format migration discovery test
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
