Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-17161): refresh runner image identity lock
  docker/runners/runner-image.lock.json
Due: none

feat(OMN-17182): arm the Linear Done guard — its assertion has been dark since it landed
  .github/workflows/linear-done-guard-armed.yml
Due: none

chore(OMN-13912): post-release dev version bump to 0.38.15 + runner identity relock (#3038)
  docker/runners/runner-image.lock.json
  pyproject.toml
  uv.lock
Due: none

feat(OMN-17161): promote h101 (stickybeatz) into the pre-push pool (#3034)
  docs/runbooks/lab-prepush-host-table.md
  scripts/hooks/prepush_hosts.tsv
  tests/unit/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

test(OMN-17152): derive projection binding DSN envs from topology (#3031)
  tests/helpers/application_db_topology.py
  tests/integration/chains/test_event_chain_gate.py
  tests/integration/chains/test_projection_capability_chain_gate.py
  tests/integration/projectors/test_handler_wiring_projection_dispatch.py
  tests/integration/projectors/test_projection_terminal_event_emission.py
  tests/integration/runtime/test_projection_handler_db_injection_integration.py
  tests/integration/test_projection_handler_wiring_runtime_dispatch.py
  tests/unit/helpers/test_application_db_topology.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_db_injection.py
  tests/unit/runtime/auto_wiring/test_omn16767_db_io_typed_handler_dispatch.py
  tests/unit/runtime/auto_wiring/test_omn16874_projection_runner_dispatch.py
  tests/unit/runtime/auto_wiring/test_typed_db_io_loading.py
  tests/unit/runtime/test_handler_wiring_state_io.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16770): bind the savings-correlation pool to the application database, not omnibase_infra (#3032)
  src/omnibase_infra/nodes/node_savings_estimation_compute/contract.yaml
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/nodes/node_savings_estimation_compute/test_correlation_pool_binding_omn16770.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-17204): lane map states the hook edge's bus lane instead of leaving it to .env sourcing order
  deploy/lane-census/lane-manifest.yaml
Due: onex-validate-contracts

fix(OMN-16366): set committer identity in hermetic omnimarket clone fixture
  tests/scripts/test_check_omnimarket_venv_drift.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16989): lift h201's omnibase_infra denial, and close the false-red classes behind it
  docs/runbooks/lab-prepush-host-table.md
  scripts/ci/check_deploy_scope_dod.py
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_hosts.tsv
  tests/ci/test_check_deploy_scope_dod.py
  tests/scripts/test_fresh_deploy_fitness_gates.py
  tests/unit/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

test(OMN-16366): add integration proof for drift repair
  tests/integration/test_omnimarket_venv_drift_repair_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17182): re-trigger OCC autobind for a clean single-ticket companion
  .github/workflows/linear-done-guard-armed.yml
Due: none

fix(OMN-6790): pin the judge lane's GLM default to the z.ai Coding Plan surface
  docker/docker-compose.judge.yml
  tests/test_glm_endpoint_surface_omn6790.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-16991): record h201's measured omnibase_core heavy-lane capability in the host table
  scripts/hooks/prepush_hosts.tsv
Due: none

docs(OMN-17204): lane map states the hook edge's bus lane instead of leaving it to .env sourcing order (#3039)
  deploy/lane-census/lane-manifest.yaml
Due: onex-validate-contracts

feat(OMN-17190): reconcile both workspace venvs from the lock, and self-heal the drift refusal
  scripts/pull-all.sh
  scripts/reconcile-workspace-venvs.sh
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/cli_node.py
  src/omnibase_infra/cli/cli_skill.py
  src/omnibase_infra/cli/omnimarket_drift_guard.py
  src/omnibase_infra/cli/workspace_reconcile.py
  tests/scripts/test_reconcile_workspace_venvs.py
  tests/unit/cli/test_omnimarket_drift_guard.py
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16366): --repair fast-forwards canonical omnimarket clone; guard names full-path repair command (#3036)
  scripts/check-omnimarket-venv-drift.sh
  src/omnibase_infra/cli/omnimarket_drift_guard.py
  tests/integration/test_omnimarket_venv_drift_repair_integration.py
  tests/scripts/test_check_omnimarket_venv_drift.py
  tests/unit/cli/test_omnimarket_drift_guard.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17205): onex ledger read — the operator's cloud-ledger probe, no cluster access
  pyproject.toml
  src/omnibase_infra/cli/cli_ledger.py
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_cloud_ledger_verdict.py
  src/omnibase_infra/gateway/client/cloud_ledger_reader.py
  src/omnibase_infra/gateway/client/gateway_transport_httpx.py
  src/omnibase_infra/gateway/models/model_cloud_ledger_read.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/gateway/test_cli_ledger.py
  tests/unit/gateway/test_cloud_ledger_read.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17205): allowlist ProtocolCloudLedgerTransport in the infra protocol-ownership registry
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17205): regenerate the runner-image identity after the pyproject entry-point add
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-16989): lift h201's omnibase_infra denial, and close the false-red classes behind it (#3041)
  docs/runbooks/lab-prepush-host-table.md
  scripts/ci/check_deploy_scope_dod.py
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_hosts.tsv
  tests/ci/test_check_deploy_scope_dod.py
  tests/scripts/test_fresh_deploy_fitness_gates.py
  tests/unit/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-6790): pin the judge lane's GLM default to the z.ai Coding Plan surface (#3040)
  docker/docker-compose.judge.yml
  tests/test_glm_endpoint_surface_omn6790.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17023): section row/byte caps + archive roll in ledger_lock.py, and a row-anchored watermark reader
  deploy/lane-census/lane-manifest.yaml
  docs/tooling/ledger-lock.md
  scripts/ledger_lock.py
  scripts/ledger_watermark.py
  tests/unit/scripts/test_ledger_section_caps_omn17023.py
  tests/unit/scripts/test_ledger_watermark_omn17023.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-17190): reconcile both workspace venvs from the lock, and self-heal the drift refusal (#3043)
  scripts/pull-all.sh
  scripts/reconcile-workspace-venvs.sh
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/cli_node.py
  src/omnibase_infra/cli/cli_skill.py
  src/omnibase_infra/cli/omnimarket_drift_guard.py
  src/omnibase_infra/cli/workspace_reconcile.py
  tests/scripts/test_reconcile_workspace_venvs.py
  tests/unit/cli/test_omnimarket_drift_guard.py
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17205): authenticate the operator's cloud-ledger read with a tenant API key
  deploy/lane-census/lane-manifest.yaml
  src/omnibase_infra/cli/cli_auth.py
  src/omnibase_infra/cli/cli_ledger.py
  src/omnibase_infra/gateway/client/cloud_ledger_reader.py
  src/omnibase_infra/gateway/client/store_gateway_credential.py
  src/omnibase_infra/gateway/models/model_gateway_api_key.py
  src/omnibase_infra/gateway/models/model_gateway_credential.py
  src/omnibase_infra/gateway/models/model_gateway_credential_base.py
  tests/unit/gateway/test_cli_ledger.py
  tests/unit/gateway/test_cloud_ledger_api_key_auth.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17023): report rows a roll archived before the reader had read them
  docs/tooling/ledger-lock.md
  scripts/ledger_watermark.py
  tests/unit/scripts/test_ledger_watermark_omn17023.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-17018): register node_dispatch_queue_drainer in skill_mapping.yaml
  deploy/lane-census/lane-manifest.yaml
  src/omnibase_infra/cli/skill_mapping.yaml
  tests/unit/cli/test_cli_skill.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17205): onex ledger read — the operator's cloud-ledger probe, no cluster access (#3044)
  deploy/lane-census/lane-manifest.yaml
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/cli/cli_auth.py
  src/omnibase_infra/cli/cli_ledger.py
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_cloud_ledger_verdict.py
  src/omnibase_infra/gateway/client/cloud_ledger_reader.py
  src/omnibase_infra/gateway/client/gateway_transport_httpx.py
  src/omnibase_infra/gateway/client/store_gateway_credential.py
  src/omnibase_infra/gateway/models/model_cloud_ledger_read.py
  src/omnibase_infra/gateway/models/model_gateway_api_key.py
  src/omnibase_infra/gateway/models/model_gateway_credential.py
  src/omnibase_infra/gateway/models/model_gateway_credential_base.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/gateway/test_cli_ledger.py
  tests/unit/gateway/test_cloud_ledger_api_key_auth.py
  tests/unit/gateway/test_cloud_ledger_read.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-16991): record h201's measured omnibase_core heavy-lane capability in the host table (#3042)
  scripts/hooks/prepush_hosts.tsv
Due: none

fix(OMN-17240): pre-push bundle transports tag state; release-identity fails closed on absent tags
  docs/runbooks/lab-prepush-host-table.md
  scripts/check_release_identity.py
  scripts/hooks/prepush_dispatch.sh
  src/omnibase_infra/nodes/node_release_identity_compute/handlers/handler_release_identity.py
  src/omnibase_infra/nodes/node_release_identity_compute/models/model_release_identity_request.py
  tests/scripts/test_check_release_identity.py
  tests/unit/nodes/test_node_release_identity_compute.py
  tests/unit/scripts/test_prepush_bundle_tag_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-17199): ratchet the reader end — a bus_backed exposure with no rendering consumer fails CI
  .github/workflows/exposure-reader-coverage.yml
  scripts/ci/ci_summary_gate.py
  src/omnibase_infra/validators/bus_backed_exposure_readers.py
  tests/ci/test_ci_summary_gate.py
  tests/ci/test_omn17199_exposure_reader_gate_wiring.py
  tests/unit/validators/test_omn17199_bus_backed_exposure_readers.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17199): resolve the validator's own package env in the gate job
  .github/workflows/exposure-reader-coverage.yml
  tests/ci/test_omn17199_exposure_reader_gate_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17187): remove the orphaned error-triaged.v1 emission from node_runtime_error_triage_effect
  scripts/check_contract_topic_parity.py
  scripts/verify_error_triage_e2e.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_runtime_error_triage_effect/contract.yaml
  src/omnibase_infra/nodes/node_runtime_error_triage_effect/handlers/handler_runtime_error_triage.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  src/omnibase_infra/topics/service_topic_registry.py
  src/omnibase_infra/topics/topic_keys.py
  tests/integration/nodes/test_handler_mandatory_di_params_integration.py
  tests/unit/nodes/test_handler_mandatory_di_params.py
  tests/unit/nodes/test_handler_runtime_error_triage.py
  tests/unit/topics/test_service_topic_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17187): add runtime error triage flip proof
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_runtime_error_triage_effect.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_runtime_error_triage_effect.json
  scripts/ci/canonical_handler_shape_baseline.py
  tests/unit/nodes/test_handler_runtime_error_triage.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17187): pin the triage contract's refreshed updated date to 2026-08-30
  tests/integration/test_omn_6659_type_suppression_contract_touch.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17240): contract.yaml records the tag-state provenance inputs and the fail-closed decision
  src/omnibase_infra/nodes/node_release_identity_compute/contract.yaml
Due: onex-validate-contracts

fix(OMN-17190): the drift self-heal refuses from a foreign interpreter, and ships one entry point
  docs/runbooks/onex-cli-entrypoint.md
  scripts/onex
  scripts/reconcile-workspace-venvs.sh
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/cli_node.py
  src/omnibase_infra/cli/cli_skill.py
  src/omnibase_infra/cli/omnimarket_drift_guard.py
  tests/scripts/test_onex_wrapper.py
  tests/unit/cli/test_omnimarket_drift_guard.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-17023): §5 section row/byte caps + archive roll in ledger_lock.py, and a row-anchored watermark reader (#3049)
  docs/tooling/ledger-lock.md
  scripts/ledger_lock.py
  scripts/ledger_watermark.py
  tests/unit/scripts/test_ledger_section_caps_omn17023.py
  tests/unit/scripts/test_ledger_watermark_omn17023.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-17199): ratchet the reader end — a bus_backed exposure with no rendering consumer fails CI (#3048)
  .github/workflows/exposure-reader-coverage.yml
  scripts/ci/ci_summary_gate.py
  src/omnibase_infra/validators/bus_backed_exposure_readers.py
  tests/ci/test_ci_summary_gate.py
  tests/ci/test_omn17199_exposure_reader_gate_wiring.py
  tests/unit/validators/test_omn17199_bus_backed_exposure_readers.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17187): remove the orphaned error-triaged.v1 emission from node_runtime_error_triage_effect (#3045)
  scripts/check_contract_topic_parity.py
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_runtime_error_triage_effect.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_runtime_error_triage_effect.json
  scripts/ci/canonical_handler_shape_baseline.py
  scripts/verify_error_triage_e2e.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_runtime_error_triage_effect/contract.yaml
  src/omnibase_infra/nodes/node_runtime_error_triage_effect/handlers/handler_runtime_error_triage.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  src/omnibase_infra/topics/service_topic_registry.py
  src/omnibase_infra/topics/topic_keys.py
  tests/integration/nodes/test_handler_mandatory_di_params_integration.py
  tests/integration/test_omn_6659_type_suppression_contract_touch.py
  tests/unit/nodes/test_handler_mandatory_di_params.py
  tests/unit/nodes/test_handler_runtime_error_triage.py
  tests/unit/topics/test_service_topic_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
