Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-10445): support pydantic v1 webhook serialization
  scripts/publish_pr_merged_event.py
  scripts/publish_pr_webhook_event.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10445): harden CI runner checks
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  tests/ci/test_ci_workflow_resilience.py
  tests/integration/docker/conftest.py
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10519): make a2a task handler runtime-wirable
  contracts/OMN-10519.yaml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10519): cover A2A runtime discovery
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/contract.yaml
  tests/integration/test_remote_agent_invoke_runtime_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10519): preserve falsy A2A injections
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10519): make A2A task handler runtime-wirable (#1494)
  contracts/OMN-10519.yaml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/contract.yaml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  tests/integration/test_remote_agent_invoke_runtime_discovery.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10518): avoid recursive runtime image chown
  contracts/OMN-10518.yaml
  docker/Dockerfile.runtime
Due: onex-validate-contracts

fix(OMN-10518): add runtime deploy evidence
  contracts/OMN-10518.yaml
Due: onex-validate-contracts

fix(OMN-10445): preserve runner memory limits in source
  contracts/OMN-10445.yaml
  docker/docker-compose.runners.yml
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10445): add runner deploy validation evidence
  contracts/OMN-10445.yaml
Due: onex-validate-contracts

feat(OMN-10500): add omnimarket. to trusted handler and plugin namespace prefixes (#1493)
  contracts/OMN-10500.yaml
  src/omnibase_infra/runtime/constants_security.py
  tests/integration/runtime/test_security_namespace_defaults_integration.py
  tests/unit/runtime/test_constants_security.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10518): avoid recursive runtime image chown (#1495)
  contracts/OMN-10518.yaml
  docker/Dockerfile.runtime
Due: onex-validate-contracts

ci(OMN-10445): resolve postgres service host in migration test
  .github/workflows/ci.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-10445): install compose plugin for docker tests
  .github/workflows/docker-build.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-10445): install psql for migration assertion
  .github/workflows/ci.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-10445): support no-sudo psql install
  .github/workflows/ci.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-10445): allow cache cleanup for short gates
  .github/workflows/ci.yml
  .github/workflows/env-parity.yml
Due: none

ci(OMN-10445): avoid psql package install in migration gate
  .github/workflows/ci.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-10445): skip uv cache for short gates
  .github/actions/setup-python-uv/action.yml
  .github/workflows/ci.yml
  .github/workflows/env-parity.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-10445): disable uv cache on ci gates
  .github/workflows/ci.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-10445): skip docker uv cache restore
  .github/workflows/docker-build.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-10445): disable boundary uv cache cleanup
  .github/workflows/ci.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-10445): harden infra runtime gate tests
  tests/ci/test_reusable_runtime_boot_schema.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10445): isolate setup orchestrator preflight mocks
  tests/integration/test_setup_orchestrator_e2e.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10445): make hook timing cycle test deterministic
  tests/integration/observability/test_hook_observability.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: harden local runtime topic bootstrap
  contracts/runtime/contract_loader_effect.yaml
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  docker/docker-compose.infra.yml
  src/omnibase_infra/event_bus/service_topic_manager.py
  tests/unit/event_bus/test_service_topic_manager.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(compose): add OMNIDASH_ANALYTICS_DB_URL to runtime-env anchor
  docker/docker-compose.infra.yml
Due: none

chore(release): omnibase-infra 0.34.2
  pyproject.toml
  uv.lock
Due: none

fix(OMN-10530): sync infra fallback dependency floors
  src/omnibase_infra/runtime/version_compatibility.py
  tests/integration/test_omnibase_spi_runtime_protocol_floor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-10530): add infra release deploy gate contract
  contracts/OMN-10530.yaml
Due: onex-validate-contracts

docs(OMN-10530): add infra release contract title
  contracts/OMN-10530.yaml
Due: onex-validate-contracts

chore(release, OMN-10530): omnibase-infra 0.34.2 (#1498)
  contracts/OMN-10530.yaml
  pyproject.toml
  src/omnibase_infra/runtime/version_compatibility.py
  tests/integration/test_omnibase_spi_runtime_protocol_floor.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(omnibase_infra): add InvariantViolation exception
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_invariant_violation.py
  tests/unit/test_invariant_violation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-8063): add InvariantViolation integration coverage
  tests/integration/test_invariant_violation.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: add seed-keycloak orchestrator + make keycloak default-on [OMN-10089]
  docker/docker-compose.infra.yml
  docs/plans/2026-05-04-seed-keycloak-orchestrator.md
  scripts/seed-keycloak.sh
Due: onex-validate-markdown-links

fix: address CI failures on PR #1500 [OMN-10089]
  contracts/OMN-10089.yaml
  docs/plans/2026-05-04-seed-keycloak-orchestrator.md
  scripts/seed-keycloak.sh
Due: onex-validate-contracts, onex-validate-markdown-links

fix(OMN-8063): preserve invariant violation correlation context
  src/omnibase_infra/errors/error_invariant_violation.py
  tests/unit/test_invariant_violation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-8063): mark invariant violation coverage
  tests/integration/test_invariant_violation.py
  tests/unit/test_invariant_violation.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
