Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

black-format:
  name: black (auto-format)
  entry: poetry run black
  language: system
  args:
  - --line-length
  - '88'
  - --target-version
  - py312
  stages:
  - commit

isort-format:
  name: isort (auto-sort imports)
  entry: poetry run isort
  language: system
  args:
  - --filter-files
  - --profile
  - black
  - --line-length
  - '88'
  stages:
  - commit

ruff-fix:
  name: ruff (auto-fix linting issues)
  entry: poetry run ruff check --fix
  language: system
  stages:
  - commit

mypy-type-check:
  name: mypy (type checking)
  entry: poetry run mypy
  language: system
  args:
  - --show-error-codes
  - --no-error-summary
  stages:
  - commit

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - commit

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - commit

fix(validator): address PR #124 review feedback [OMN-1099]
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_direct_dispatch.py
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_handler_publishing.py
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_orchestrator_fsm.py
  tests/unit/nodes/architecture_validator/validators/__init__.py
  tests/unit/nodes/architecture_validator/validators/test_rule_classes.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): address PR review feedback for resource management and logging [OMN-1097]
  src/omnibase_infra/models/handlers/model_handler_descriptor.py
  src/omnibase_infra/runtime/handler_contract_source.py
  src/omnibase_infra/runtime/protocol_contract_descriptor.py
  tests/unit/runtime/test_handler_contract_source.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(nodes): address PR #115 release-ready round 4 review feedback [OMN-1103]
  src/omnibase_infra/nodes/node_registry_effect/contract.yaml
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_consul_deregister.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_consul_register.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_partial_retry.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_postgres_deactivate.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_postgres_upsert.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(validator): use duck typing instead of isinstance for ONEX compliance [OMN-1099]
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_direct_dispatch.py
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_handler_publishing.py
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_orchestrator_fsm.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(model): add contract_type validation to ModelCapabilityFields [OMN-1134]
  scripts/backfill_capabilities.py
  src/omnibase_infra/models/projection/model_capability_fields.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): address PR review feedback for docstrings, types, and logging [OMN-1097]
  src/omnibase_infra/models/handlers/model_handler_descriptor.py
  src/omnibase_infra/runtime/handler_contract_source.py
  src/omnibase_infra/runtime/protocol_contract_source.py
  tests/unit/runtime/test_handler_contract_source.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(tests): resolve API compatibility test failures [OMN-1263]
  pyproject.toml
  src/omnibase_infra/services/__init__.py
  tests/integration/registration/e2e/test_runtime_e2e.py
  tests/performance/database/conftest.py
  tests/performance/database/test_query_performance.py
  tests/performance/event_bus/test_event_bus_load.py
  tests/unit/nodes/reducers/test_registration_reducer.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

refactor(enums): extract enums from mixins and standardize service naming [OMN-1270]
  docs/patterns/consul_integration.md
  scripts/dlq_replay.py
  src/omnibase_infra/dlq/__init__.py
  src/omnibase_infra/dlq/constants_dlq.py
  src/omnibase_infra/dlq/service_dlq_tracking.py
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_circuit_state.py
  src/omnibase_infra/enums/enum_retry_error_category.py
  src/omnibase_infra/handlers/handler_consul.py
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_async_circuit_breaker.py
  src/omnibase_infra/mixins/mixin_retry_execution.py
  src/omnibase_infra/models/__init__.py
  src/omnibase_infra/models/model_retry_error_classification.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/chaos/test_recovery_circuit_breaker.py
  tests/unit/mixins/test_circuit_breaker_transitions.py
  tests/unit/mixins/test_mixin_async_circuit_breaker.py
  tests/unit/registration/effect/test_effect_circuit_breaker.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(nodes): make NodeRegistryEffect fully declarative [OMN-1103]
  src/omnibase_infra/nodes/node_registry_effect/contract.yaml
  src/omnibase_infra/nodes/node_registry_effect/node.py
  tests/integration/nodes/test_node_registry_effect_integration.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

refactor(nodes): make NodeRegistryEffect fully declarative [OMN-1103] (#115)
  docs/patterns/README.md
  docs/patterns/operation_routing.md
  docs/patterns/retry_backoff_compensation_strategy.md
  docs/patterns/utility_directory_structure.md
  src/omnibase_infra/nodes/effects/README.md
  src/omnibase_infra/nodes/effects/models/model_backend_result.py
  src/omnibase_infra/nodes/effects/protocol_consul_client.py
  src/omnibase_infra/nodes/effects/protocol_postgres_adapter.py
  src/omnibase_infra/nodes/effects/registry_effect.py
  src/omnibase_infra/nodes/node_registration_orchestrator/node.py
  src/omnibase_infra/nodes/node_registry_effect/__init__.py
  src/omnibase_infra/nodes/node_registry_effect/contract.yaml
  src/omnibase_infra/nodes/node_registry_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_consul_deregister.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_consul_register.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_partial_retry.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_postgres_deactivate.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_postgres_upsert.py
  src/omnibase_infra/nodes/node_registry_effect/models/__init__.py
  src/omnibase_infra/nodes/node_registry_effect/models/model_partial_retry_request.py
  src/omnibase_infra/nodes/node_registry_effect/node.py
  src/omnibase_infra/nodes/node_registry_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_registry_effect/registry/registry_infra_registry_effect.py
  src/omnibase_infra/shared/__init__.py
  src/omnibase_infra/utils/__init__.py
  src/omnibase_infra/utils/util_error_sanitization.py
  tests/integration/nodes/test_node_registry_effect_integration.py
  tests/integration/registration/e2e/test_two_way_registration_e2e.py
  tests/integration/registration/effect/test_doubles.py
  tests/unit/nodes/effects/test_sanitize_backend_error.py
  tests/unit/nodes/node_registry_effect/__init__.py
  tests/unit/nodes/node_registry_effect/handlers/__init__.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_consul_deregister.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_consul_register.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_partial_retry.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_postgres_deactivate.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_postgres_upsert.py
  tests/unit/nodes/test_node_registration_orchestrator.py
  tests/unit/registration/effect/test_effect_partial_failure.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(validator): address PR #124 release-ready review feedback [OMN-1099]
  src/omnibase_infra/nodes/architecture_validator/validators/__init__.py
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_direct_dispatch.py
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_handler_publishing.py
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_orchestrator_fsm.py
  tests/integration/nodes/architecture_validator/__init__.py
  tests/integration/nodes/architecture_validator/conftest.py
  tests/integration/nodes/architecture_validator/test_rule_integration.py
  tests/unit/nodes/architecture_validator/validators/test_rule_classes_property.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(enums): add EnumContractType and address PR review feedback [OMN-1134]
  docker/migrations/003_capability_fields.sql
  docker/migrations/003a_capability_fields_concurrent.sql
  scripts/backfill_capabilities.py
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_contract_type.py
  src/omnibase_infra/handlers/models/model_db_query_payload.py
  src/omnibase_infra/handlers/models/vault/model_vault_secret_payload.py
  src/omnibase_infra/models/projection/model_capability_fields.py
  src/omnibase_infra/models/projection/model_registration_projection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

refactor(types): create types/ directory and organize TypedDicts [OMN-1269]
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/discovery/__init__.py
  src/omnibase_infra/models/discovery/model_node_introspection_event.py
  src/omnibase_infra/models/dispatch/model_topic_parser.py
  src/omnibase_infra/types/__init__.py
  src/omnibase_infra/types/type_cache_info.py
  src/omnibase_infra/types/type_dsn.py
  src/omnibase_infra/types/typed_dict/__init__.py
  src/omnibase_infra/types/typed_dict/typed_dict_introspection_cache.py
  src/omnibase_infra/types/typed_dict/typed_dict_performance_metrics_cache.py
  src/omnibase_infra/types/typed_dict_capabilities.py
  src/omnibase_infra/utils/util_dsn_validation.py
  tests/unit/mixins/test_mixin_node_introspection.py
  tests/unit/utils/test_util_dsn_validation.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): address all PR #123 review feedback for release readiness [OMN-1097]
  docs/milestones/MVP_v0.1.0_CORE.md
  src/omnibase_infra/models/handlers/model_contract_discovery_result.py
  src/omnibase_infra/runtime/handler_contract_source.py
  src/omnibase_infra/runtime/protocol_contract_descriptor.py
  src/omnibase_infra/runtime/protocol_contract_source.py
  tests/unit/runtime/test_handler_contract_source.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

docs: address PR #126 review feedback [OMN-1270]
  src/omnibase_infra/dlq/service_dlq_tracking.py
  src/omnibase_infra/models/model_retry_error_classification.py
  src/omnibase_infra/validation/validation_exemptions.yaml
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(validator): address PR #124 release-ready review - severity alignment and test fixes [OMN-1099]
  src/omnibase_infra/nodes/architecture_validator/contract.yaml
  src/omnibase_infra/nodes/architecture_validator/validators/__init__.py
  tests/integration/nodes/architecture_validator/test_rule_integration.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(tests): address PR #125 review feedback and linter errors [OMN-1263]
  tests/integration/registration/e2e/test_runtime_e2e.py
  tests/performance/database/conftest.py
  tests/unit/nodes/reducers/test_registration_reducer.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(projector): add graceful JSON parse error handling in projection reader [OMN-1134]
  src/omnibase_infra/projectors/projection_reader_registration.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

refactor: remove DLQReplayTracker alias per no-backwards-compat policy [OMN-1270]
  src/omnibase_infra/dlq/__init__.py
  src/omnibase_infra/dlq/constants_dlq.py
  src/omnibase_infra/dlq/service_dlq_tracking.py
  src/omnibase_infra/enums/enum_circuit_state.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(validator): address PR #124 release-ready nitpicks [OMN-1099]
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_direct_dispatch.py
  tests/integration/nodes/architecture_validator/test_rule_integration.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): address PR #123 final review feedback for release readiness [OMN-1097]
  docs/milestones/MVP_v0.1.0_CORE.md
  src/omnibase_infra/models/handlers/model_contract_discovery_result.py
  src/omnibase_infra/runtime/handler_contract_source.py
  tests/unit/runtime/test_handler_contract_source.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(validator): align ARCH-001 violation severity with contract [OMN-1099]
  src/omnibase_infra/nodes/architecture_validator/validators/validator_no_direct_dispatch.py
  tests/integration/nodes/architecture_validator/__init__.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(projector): use ProtocolConfigurationError for empty tags validation [OMN-1134]
  src/omnibase_infra/projectors/projection_reader_registration.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/projectors/test_projection_reader_registration.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(types): address PR #127 review feedback [OMN-1269]
  src/omnibase_infra/models/dispatch/__init__.py
  src/omnibase_infra/models/dispatch/model_topic_parser.py
  src/omnibase_infra/types/__init__.py
  src/omnibase_infra/types/type_cache_info.py
  src/omnibase_infra/types/typed_dict/typed_dict_performance_metrics_cache.py
  src/omnibase_infra/types/typed_dict_capabilities.py
  src/omnibase_infra/utils/util_dsn_validation.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(validation): resolve linter errors and add validation exemptions [OMN-1263]
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/conftest.py
  tests/integration/registration/e2e/conftest.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(validation): update exemption patterns for renamed model file [OMN-1270]
  src/omnibase_infra/validation/validation_exemptions.yaml
Due: onex-validate-contracts

feat(runtime): implement HandlerContractSource with filesystem discovery [OMN-1097] (#123)
  docs/architecture/RUNTIME_HOST_IMPLEMENTATION_PLAN.md
  docs/milestones/MVP_v0.1.0_CORE.md
  src/omnibase_infra/models/handlers/__init__.py
  src/omnibase_infra/models/handlers/model_contract_discovery_result.py
  src/omnibase_infra/models/handlers/model_handler_descriptor.py
  src/omnibase_infra/runtime/handler_contract_source.py
  src/omnibase_infra/runtime/protocol_contract_descriptor.py
  src/omnibase_infra/runtime/protocol_contract_source.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/runtime/test_handler_contract_source.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(ci): resolve lint and test failures [OMN-1269]
  src/omnibase_infra/models/discovery/model_node_introspection_event.py
  src/omnibase_infra/models/dispatch/model_topic_parser.py
  src/omnibase_infra/utils/util_dsn_validation.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix: address PR #126 review feedback for release readiness [OMN-1270]
  src/omnibase_infra/enums/enum_circuit_state.py
  src/omnibase_infra/mixins/mixin_retry_execution.py
  src/omnibase_infra/validation/validation_exemptions.yaml
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(review): address PR #128 CodeRabbit feedback
  CHANGELOG.md
  docs/operations/THREAD_POOL_TUNING_RUNBOOK.md
  src/omnibase_infra/mixins/mixin_retry_execution.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(deps): regenerate poetry.lock and address PR review feedback [OMN-1263]
  poetry.lock
  tests/integration/registration/e2e/test_runtime_e2e.py
  tests/performance/database/conftest.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

refactor(enums): extract enums from mixins and standardize service naming [OMN-1270] (#126)
  docs/patterns/consul_integration.md
  scripts/dlq_replay.py
  src/omnibase_infra/dlq/__init__.py
  src/omnibase_infra/dlq/constants_dlq.py
  src/omnibase_infra/dlq/service_dlq_tracking.py
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_circuit_state.py
  src/omnibase_infra/enums/enum_retry_error_category.py
  src/omnibase_infra/handlers/handler_consul.py
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_async_circuit_breaker.py
  src/omnibase_infra/mixins/mixin_retry_execution.py
  src/omnibase_infra/models/__init__.py
  src/omnibase_infra/models/model_retry_error_classification.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/chaos/test_recovery_circuit_breaker.py
  tests/unit/mixins/test_circuit_breaker_transitions.py
  tests/unit/mixins/test_mixin_async_circuit_breaker.py
  tests/unit/registration/effect/test_effect_circuit_breaker.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(tests): resolve CI failures and PR review feedback [OMN-1134]
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/projectors/test_gin_index_usage.py
  tests/integration/projectors/test_projection_reader_gin_indexes.py
  tests/integration/registration/effect/test_registry_effect_integration.py
  tests/unit/projectors/test_projector_registration_capabilities.py
  tests/unit/registration/effect/test_effect_partial_failure.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

style: reformat with ruff 0.14.x for CI compatibility [OMN-1263]
  tests/integration/registration/e2e/test_runtime_e2e.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(types): address PR #127 nitpick feedback [OMN-1269]
  src/omnibase_infra/types/__init__.py
  src/omnibase_infra/types/typed_dict/typed_dict_introspection_cache.py
  src/omnibase_infra/utils/util_dsn_validation.py
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

refactor(registry): standardize registry class naming and location [OMN-1271]
  src/omnibase_infra/handlers/models/consul/__init__.py
  src/omnibase_infra/handlers/models/consul/model_consul_deregister_payload.py
  src/omnibase_infra/handlers/models/consul/model_consul_kv_get_found_payload.py
  src/omnibase_infra/handlers/models/consul/model_consul_kv_get_not_found_payload.py
  src/omnibase_infra/handlers/models/consul/model_consul_kv_get_recurse_payload.py
  src/omnibase_infra/handlers/models/consul/model_consul_kv_put_payload.py
  src/omnibase_infra/handlers/models/consul/model_consul_register_payload.py
  src/omnibase_infra/handlers/models/consul/model_payload_consul.py
  src/omnibase_infra/handlers/models/consul/registry_payload_consul.py
  src/omnibase_infra/handlers/models/http/__init__.py
  src/omnibase_infra/handlers/models/http/model_http_get_payload.py
  src/omnibase_infra/handlers/models/http/model_http_post_payload.py
  src/omnibase_infra/handlers/models/http/model_payload_http.py
  src/omnibase_infra/handlers/models/http/registry_payload_http.py
  src/omnibase_infra/handlers/models/vault/__init__.py
  src/omnibase_infra/handlers/models/vault/model_payload_vault.py
  src/omnibase_infra/handlers/models/vault/model_vault_delete_payload.py
  src/omnibase_infra/handlers/models/vault/model_vault_list_payload.py
  src/omnibase_infra/handlers/models/vault/model_vault_renew_token_payload.py
  src/omnibase_infra/handlers/models/vault/model_vault_secret_payload.py
  src/omnibase_infra/handlers/models/vault/model_vault_write_payload.py
  src/omnibase_infra/handlers/models/vault/registry_payload_vault.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/__init__.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_consul_registration_intent.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_postgres_upsert_intent.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_reducer_execution_result.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_registration_intent.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_registry_intent.py
  src/omnibase_infra/protocols/protocol_message_dispatcher.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/handler_registry.py
  src/omnibase_infra/runtime/registry/__init__.py
  src/omnibase_infra/runtime/registry/registry_event_bus_binding.py
  src/omnibase_infra/runtime/registry/registry_protocol_binding.py
  src/omnibase_infra/runtime/registry_dispatcher.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/test_dispatch_context_integration.py
  tests/unit/nodes/node_registration_orchestrator/models/test_registry_intent.py
  tests/unit/runtime/test_dispatcher_registry.py
  tests/unit/runtime/test_import_order.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(tests): resolve API compatibility test failures [OMN-1263] (#125)
  poetry.lock
  pyproject.toml
  src/omnibase_infra/services/__init__.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/conftest.py
  tests/integration/registration/e2e/conftest.py
  tests/integration/registration/e2e/test_runtime_e2e.py
  tests/performance/database/conftest.py
  tests/performance/database/test_query_performance.py
  tests/performance/event_bus/test_event_bus_load.py
  tests/unit/nodes/reducers/test_registration_reducer.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(tests): remove deleted shared submodule from smoke test [OMN-1134]
  tests/unit/test_smoke.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

Path conditions:
  black-format: any of: \.py$, but not: ^(archived/|tests/fixtures/).*$
  isort-format: any of: \.py$, but not: ^(archived/|tests/fixtures/)
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
