Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-15538): workflow-level timeout+cache budget fix, binding test, re-derived deadline
  .github/workflows/ci.yml
  scripts/ci/check_pin_reachability.py
  tests/ci/test_pin_reachability_omn15538.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15538): keep cache-enabled: "false" on pin-reachability, timeout-only fix
  .github/workflows/ci.yml
  scripts/ci/check_pin_reachability.py
  tests/ci/test_pin_reachability_omn15538.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-15725): unpin occ-preflight core-ref from stale 8a47e092 to dev
  .github/workflows/ci.yml
  .github/workflows/hostile-reviewer.yml
Due: none

fix(OMN-14627): sync vendored node migrations
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0003_capability_scores_tenant_id_to_uuid.sql
  docker/migrations/forward/nodes/node_projection_registration/0004_node_service_registry_no_force_rls.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15356): sync node service registry migration
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_registration/0004_node_service_registry_no_force_rls.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15538): sync vendored node migrations
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0003_capability_scores_tenant_id_to_uuid.sql
  docker/migrations/forward/nodes/node_projection_registration/0004_node_service_registry_no_force_rls.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10318): sync vendored node migrations
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0003_capability_scores_tenant_id_to_uuid.sql
  docker/migrations/forward/nodes/node_projection_registration/0004_node_service_registry_no_force_rls.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15123): sync vendored node migrations
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0003_capability_scores_tenant_id_to_uuid.sql
  docker/migrations/forward/nodes/node_projection_registration/0004_node_service_registry_no_force_rls.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10856): sync vendored node migrations
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0003_capability_scores_tenant_id_to_uuid.sql
  docker/migrations/forward/nodes/node_projection_registration/0004_node_service_registry_no_force_rls.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15700): derive savings consumer groups canonically
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/runtime/test_savings_estimator_subscription_group.py
  tests/unit/services/observability/savings_estimation/test_consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15700): harden savings subscription guard
  tests/integration/runtime/test_savings_estimator_subscription_group.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10318): classify legacy schema repair migrations
  scripts/ci/check_application_database_sql.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15700): prove per-topic consumer isolation
  tests/integration/runtime/test_savings_estimator_subscription_group.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15700): exercise public subscription path
  tests/integration/runtime/test_savings_estimator_subscription_group.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15732): break infra-dev merge deadlock -- exempt node-migration-sync-forced vendor files from OMN-15361 legacy-schema lint
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0003_capability_scores_tenant_id_to_uuid.sql
  docker/migrations/forward/nodes/node_projection_registration/0004_node_service_registry_no_force_rls.sql
  scripts/ci/check_application_database_sql.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-15732): update exemption comment for the reverted 0003 inline mapping
  scripts/ci/check_application_database_sql.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15732): re-vendor 0003 from the reverted omnimarket inline mapping
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0003_capability_scores_tenant_id_to_uuid.sql
Due: none

fix(OMN-15732): break infra-dev merge deadlock -- exempt vendor files from OMN-15361 legacy-schema lint (#2683)
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0003_capability_scores_tenant_id_to_uuid.sql
  docker/migrations/forward/nodes/node_projection_registration/0004_node_service_registry_no_force_rls.sql
  scripts/ci/check_application_database_sql.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15737): preserve original 1-space indent in fixture json
  tests/ci/fixtures/omn15496_merge_time_external_check_runs.json
Due: none

fix(OMN-15737): admit Dep Provenance Gate into CI Summary EXPECTED_EXTERNAL_CONTEXTS
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/omn15496_merge_time_external_check_runs.json
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15737): declare the 2 newly-vendored node migrations in the manifest
  docker/migrations/forward/_ledger/application-migrations.tsv
Due: none

chore(OMN-15730): sync node-migration vendor tree (pre-existing drift, unblocks always-run gate)
  .github/workflows/artifact-reconciliation-webhook.yml
  .github/workflows/auto-merge.yml
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/dep-provenance-gate.yml
  .github/workflows/hostile-reviewer.yml
  .github/workflows/pr-merged-event.yml
  .github/workflows/precommit-parity-gate.yml
  .github/workflows/prod-promotion-lineage.yml
  .github/workflows/required-check-skip-guard-caller.yml
  .github/workflows/runner-routing-audit.yml
  .github/workflows/runtime-rebuild-trigger.yml
  .github/workflows/todo-audit-on-merge.yml
Due: none

fix(OMN-15336): qualify vendored registry RLS reversal
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15718): bound compose-up deadlines + reconcile stranded rollback containers
  scripts/deploy-runtime.sh
  scripts/runtime_build/compose_wait_timeout.sh
  scripts/runtime_build/refresh_stability_lane.sh
  tests/scripts/test_compose_wait_timeout.py
  tests/scripts/test_deploy_runtime_compose_wait_timeout_wiring.py
  tests/scripts/test_deploy_runtime_warmup_restore.py
  tests/scripts/test_refresh_stability_lane_compose_wait_timeout_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14551): propagate x-replay-count header through _publish_raw_to_dlq
  src/omnibase_infra/event_bus/mixin_kafka_dlq.py
  tests/unit/event_bus/test_kafka_event_bus.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14551): flip ONEX_BOUNDARY_DLQ_ENABLED on dev lane
  contracts/services/runtime_policy.contract.yaml
  docker/runtime-policy.env
  tests/ci/test_runtime_policy_contract.py
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14551): propagate replay lineage to the parsed-message DLQ shape
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/mixin_kafka_dlq.py
  tests/unit/event_bus/test_kafka_event_bus.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15737): dedupe stale vendor-migration TSV rows introduced by dev rebase
  docker/migrations/forward/_ledger/application-migrations.tsv
Due: none

fix(OMN-15730): use event-specific concurrency identity, disable webhook cancel
  .github/workflows/artifact-reconciliation-webhook.yml
  .github/workflows/auto-merge.yml
  .github/workflows/cr-thread-gate-caller.yml
Due: none

chore(OMN-13034): regenerate lane-census snapshot (9-day-stale -> fresh)
  deploy/lane-census/census-snapshot.json
Due: none

feat(OMN-15751): sync desired-clients.json with house-tenant-gateway client
  docker/keycloak/desired-clients.json
Due: none

feat(OMN-15730): CI concurrency auto-cancel — omnibase_infra (#2682)
  .github/workflows/artifact-reconciliation-webhook.yml
  .github/workflows/auto-merge.yml
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/dep-provenance-gate.yml
  .github/workflows/hostile-reviewer.yml
  .github/workflows/pr-merged-event.yml
  .github/workflows/precommit-parity-gate.yml
  .github/workflows/prod-promotion-lineage.yml
  .github/workflows/required-check-skip-guard-caller.yml
  .github/workflows/runner-routing-audit.yml
  .github/workflows/runtime-rebuild-trigger.yml
  .github/workflows/todo-audit-on-merge.yml
Due: none

fix(OMN-15740): wire gateway COMPUTE handlers into ServiceGatewayForwarder transform seam
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_gateway_forwarder.py
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_forwarder_service_handler_seam.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-13034): regenerate lane-census snapshot (9-day-stale -> fresh) (#2691)
  deploy/lane-census/census-snapshot.json
Due: none

fix(OMN-15741): path-verifying canary healthcheck for the gateway forwarder (G1)
  docker/docker-compose.gateway.yml
  docker/gateway/beta-gateway-canary.yaml
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/nodes/node_bus_forwarder_effect/contract.yaml
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/__init__.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_canary_config.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_forwarder_config.py
  src/omnibase_infra/runtime/gateway_canary_probe.py
  src/omnibase_infra/runtime/gateway_forwarder.py
  tests/integration/gateway/test_bus_forwarder_contract_integration.py
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_delivery_service.py
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_forwarder_config.py
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_forwarder_service.py
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_topic_transform.py
  tests/unit/nodes/node_bus_forwarder_effect/test_handler_dispatch_entrypoints.py
  tests/unit/runtime/test_gateway_canary_probe.py
  tests/unit/runtime/test_gateway_forwarder_runtime.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
