Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

ci(OMN-13950): pin fixed skip-token reusable
  .github/workflows/call-reject-skip.yml
Due: none

ci(OMN-13950): harden uv sync validator gates
  .github/workflows/url-authority-gate.yml
  .github/workflows/validate-validator-requirements.yml
  .github/workflows/validator-runtime-profiles.yml
Due: none

ci(OMN-13950): extend compose env gate timeout
  .github/workflows/ci.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci: skip advisory runtime boot smoke on PRs
  .github/workflows/ci.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-13950): quote docker workflow shell outputs
  .github/workflows/docker-build.yml
Due: none

ci(OMN-13950): optimize Docker build fleet load
  .github/workflows/call-reject-skip.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/fresh-deploy-fitness.yml
  .github/workflows/url-authority-gate.yml
  .github/workflows/validate-validator-requirements.yml
  .github/workflows/validator-runtime-profiles.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14155): sync kafka replay contract for auth kwargs
  docker/migrations/forward/nodes/node_projection_delegation/0022_delegation_events_tenant_id.sql
  docker/migrations/forward/nodes/node_projection_savings/080_savings_estimates_tenant_id.sql
  src/omnibase_infra/nodes/node_kafka_replay_compute/contract.yaml
Due: onex-validate-contracts

fix(OMN-14155): wire MSK-IAM auth kwargs into remaining direct aiokafka construction sites (#2238)
  src/omnibase_infra/nodes/node_kafka_replay_compute/contract.yaml
  src/omnibase_infra/nodes/node_kafka_replay_compute/handlers/handler_replay.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/observability/runner_health/cli_runner_health.py
  src/omnibase_infra/projectors/snapshot_publisher_registration.py
  src/omnibase_infra/services/observability/agent_actions/consumer.py
  src/omnibase_infra/services/observability/consumer_health/consumer.py
  src/omnibase_infra/services/observability/context_audit/consumer.py
  src/omnibase_infra/services/observability/infra_routing_decisions/consumer.py
  src/omnibase_infra/services/observability/injection_effectiveness/consumer.py
  src/omnibase_infra/services/observability/llm_cost_aggregation/consumer.py
  src/omnibase_infra/services/observability/skill_lifecycle/consumer.py
  src/omnibase_infra/services/post_merge/consumer.py
  src/omnibase_infra/services/session/consumer.py
  src/omnibase_infra/services/waitlist_signup_notifier/consumer.py
  src/omnibase_infra/tui/consumers/consumer_status.py
  tests/ci/test_no_raw_aiokafka_construction_without_auth.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-14172): roll out integration silent-skip guard to omnibase_infra
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/check_integration_skips.py
  scripts/ci/ci_summary_gate.py
  scripts/ci/integration_skip_guard.yaml
  tests/ci/test_check_integration_skips.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): narrow integration skip guard proofs
  .github/workflows/ci.yml
  scripts/ci/integration_skip_guard.yaml
Due: onex-validate-contracts

fix(ci): make integration guard proof self-contained
  .github/workflows/ci.yml
  scripts/ci/integration_skip_guard.yaml
  tests/integration/handlers/test_registration_storage_postgres_uuid_cast.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-14172): fix integration guard review follow-ups
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/integration_skip_guard.yaml
Due: onex-validate-contracts

ci(OMN-14172): roll out integration silent-skip guard to omnibase_infra (#2242)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/check_integration_skips.py
  scripts/ci/ci_summary_gate.py
  scripts/ci/integration_skip_guard.yaml
  tests/ci/test_check_integration_skips.py
  tests/integration/handlers/test_registration_storage_postgres_uuid_cast.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13946): add libatomic1 to runner image (Pyright node runtime defect) (#2207)
  docker/runners/Dockerfile
  docker/runners/runner-image.lock.json
  src/omnibase_infra/cli/cli_skill.py
  src/omnibase_infra/cli/omnimarket_drift_guard.py
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13947): suppress runner drift alert noise
  docker/runners/runner-monitor.sh
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-13947): bypass corrupted uv cache in URL authority gate
  .github/workflows/url-authority-gate.yml
Due: none

feat(OMN-14027): Layer-B egress cache (devpi) + fleet-wide uv concurrency cap — canary
  config/runner_fleet.yaml
  docker/docker-compose.pypi-cache.yml
  docker/docker-compose.runners.yml
  docker/pypi-cache/Dockerfile
  docker/pypi-cache/entrypoint.sh
  docs/runbooks/pypi-cache-egress-rollout.md
  src/omnibase_infra/observability/runner_health/__init__.py
  src/omnibase_infra/observability/runner_health/model_pypi_cache_config.py
  src/omnibase_infra/observability/runner_health/model_runner_fleet_config.py
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

ci(OMN-13947): host infra ownership lint
  .github/workflows/ci.yml
Due: none

ci(OMN-13947): retry URL authority core fetch
  .github/workflows/url-authority-gate.yml
Due: none

fix(OMN-13996): wrap malformed projector timestamps
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  tests/unit/runtime/test_projector_sql_operations.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14027): Layer-B egress cache (devpi) + fleet-wide uv concurrency cap — canary (#2244)
  config/runner_fleet.yaml
  docker/docker-compose.pypi-cache.yml
  docker/docker-compose.runners.yml
  docker/pypi-cache/Dockerfile
  docker/pypi-cache/entrypoint.sh
  docs/runbooks/pypi-cache-egress-rollout.md
  src/omnibase_infra/observability/runner_health/__init__.py
  src/omnibase_infra/observability/runner_health/model_pypi_cache_config.py
  src/omnibase_infra/observability/runner_health/model_runner_fleet_config.py
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-13947): suppress runner drift alert noise (#2243)
  .github/workflows/ci.yml
  .github/workflows/url-authority-gate.yml
  docker/runners/runner-monitor.sh
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-13996): overseer-tick raw ledger projection (WS-L slice 1, receiving end) (#2216)
  .github/workflows/docker-build.yml
  .github/workflows/url-authority-gate.yml
  docker/migrations/forward/088_create_overseer_tick_ledger.sql
  docker/migrations/rollback/rollback_088_create_overseer_tick_ledger.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/projectors/contracts/overseer_tick_projector.yaml
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  tests/ci/test_ci_workflow_resilience.py
  tests/integration/dlq/conftest.py
  tests/integration/event_bus/test_adapter_protocol_event_publisher_kafka.py
  tests/integration/handlers/conftest.py
  tests/integration/test_dispatch_roundtrip.py
  tests/integration/test_node_registration.py
  tests/unit/runtime/test_overseer_tick_projector.py
  tests/unit/runtime/test_projector_sql_operations.py
  tests/unit/runtime/test_verification_receipt_projector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14190): onex occ stamp/validate CLI for OCC PR metadata
  pyproject.toml
  src/omnibase_infra/cli/cli_occ.py
  tests/unit/cli/test_cli_occ.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-14190): regen uv.lock for omnibase-compat 0.5.6
  uv.lock
Due: none

fix(ci): refresh runner image identity lock
  docker/runners/runner-image.lock.json
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14208): opt-in state_io runtime dispatch seam (load-before/CAS-persist-after) + delegation_workflow_state migration
  docker/migrations/forward/090_create_delegation_workflow_state.sql
  scripts/check-env-reads.sh
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/state_io/__init__.py
  src/omnibase_infra/runtime/state_io/state_store_adapter.py
  tests/integration/test_state_io_concurrent_dispatch.py
  tests/unit/runtime/test_handler_wiring_state_io.py
  tests/unit/runtime/test_state_store_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14190): onex CLI stamp/validate for OCC PR metadata (#2245)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/cli/cli_occ.py
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
  tests/unit/cli/test_cli_occ.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14208): wire state_io codec.flush bridge + recover_stale_rows (pair-verify M0/M1/G1)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/state_io/state_store_adapter.py
  tests/integration/test_state_io_concurrent_dispatch.py
  tests/unit/runtime/test_state_store_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14208): refresh schema fingerprint
  docker/migrations/schema_fingerprint.sha256
Due: none
