Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-16426): flatten nested Keycloak URL expansion in docker-compose.infra.yml (#2852)
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
Due: onex-validate-contracts

fix(OMN-16412): reject non-loopback ambient DB URL in migration shape-drift fixture (#2855)
  .github/workflows/ci.yml
  .github/workflows/nightly-integration.yml
  tests/integration/migrations/test_node_migration_shape_drift_omn15376.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16433): pin sibling-lock-refresh's uv lock to the canonical public index (#2857)
  .github/workflows/sibling-lock-refresh.yml
Due: none

fix(OMN-16422): bound node_dlq_replay_effect run() to stop the OMN-16418 re-drain storm (#2858)
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  tests/unit/nodes/node_dlq_replay_effect/test_handler_dlq_replay_bounded_run_omn16422.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16406): stop and reclaim orphaned buildx ephemeral builders on .201 (#2856)
  .github/workflows/docker-build.yml
  deploy/disk-gc/install-buildx-orphan-sweep.sh
  deploy/disk-gc/onex-buildx-orphan-sweep.service
  deploy/disk-gc/onex-buildx-orphan-sweep.timer
  docs/runbooks/runner-disk-admission-gate.md
  scripts/buildx-orphan-sweep.sh
  tests/scripts/test_buildx_orphan_sweep.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-16229): prove trivy ignores are unfixed
  .github/workflows/build-and-push-runtime.yml
  .github/workflows/build-workspace-candidate-runtime.yml
  docs/patterns/security_patterns.md
  scripts/ci/check_trivyignore_expiry.py
  tests/ci/test_check_trivyignore_expiry.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-16023): assert exact attach-token audience set and lifetime bound
  src/omnibase_infra/nodes/node_gateway_attach_effect/contract.yaml
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_attach_config.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/service_keycloak_token_validator.py
  tests/unit/nodes/node_gateway_attach_effect/test_renewal_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16023): reject coerced JWT timestamp claims
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/service_keycloak_token_validator.py
  tests/unit/nodes/node_gateway_attach_effect/test_renewal_contract.py
  tests/unit/nodes/node_gateway_attach_effect/test_service_keycloak_token_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-16023): RED — dual-audience and over-long tokens are accepted
  tests/unit/nodes/node_gateway_attach_effect/test_handlers.py
  tests/unit/nodes/node_gateway_attach_effect/test_service_keycloak_token_validator.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16110): add gateway/Keycloak secret-resolver mappings to runtime policy
  contracts/services/runtime_policy.contract.yaml
  docker/runtime-policy.env
  tests/ci/test_runtime_policy_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15977): make guard-refusal subprocess test hermetic to ambient CI env
  tests/ci/test_pytest_full_suite_host_guard.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15977): direct pytest full-suite invocations bypass .200 host guard
  conftest.py
  scripts/hooks/pytest_full_suite_host_guard.py
  scripts/validation/validate_clean_root.py
  tests/ci/test_pytest_full_suite_host_guard.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15977): isolate pytest host guard subprocess env
  scripts/hooks/pytest_full_suite_host_guard.py
  tests/ci/test_pytest_full_suite_host_guard.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16229): expiring-ignore policy for fix-unavailable CVEs in the Trivy image gate (#2794)
  .github/workflows/build-and-push-runtime.yml
  .github/workflows/build-workspace-candidate-runtime.yml
  .github/workflows/ci.yml
  .trivyignore
  docs/patterns/security_patterns.md
  scripts/ci/check_trivyignore_expiry.py
  scripts/ci/ci_summary_gate.py
  scripts/validation/validate_clean_root.py
  tests/ci/test_check_trivyignore_expiry.py
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

chore(deps): bump omnibase-core to 0.46.11 (OMN-16322)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/runtime/version_compatibility.py
  tests/fixtures/seams/core_release/0.46.11_expected_symbols.json
  tests/unit/runtime/test_seam_released_core_pin.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16322): repair core bump infra gates
  docker/docker-compose.infra.yml
  docker/required-env-vars.manifest.txt
  docs/env-example-full.txt
Due: none

fix(OMN-15977): direct pytest full-suite invocations bypass .200 host guard (#2734)
  conftest.py
  scripts/hooks/pytest_full_suite_host_guard.py
  scripts/validation/validate_clean_root.py
  tests/ci/test_pytest_full_suite_host_guard.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-16023): stabilize timestamp validation parameter ids
  tests/unit/nodes/node_gateway_attach_effect/test_service_keycloak_token_validator.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(deps): bump omnibase-core to 0.46.11 (OMN-16322) (#2836)
  docker/docker-compose.infra.yml
  docker/required-env-vars.manifest.txt
  docker/runners/runner-image.lock.json
  docs/env-example-full.txt
  pyproject.toml
  src/omnibase_infra/runtime/version_compatibility.py
  tests/fixtures/seams/core_release/0.46.11_expected_symbols.json
  tests/unit/runtime/test_seam_released_core_pin.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16110): add gateway/Keycloak secret-resolver mappings to runtime policy (#2764)
  contracts/services/runtime_policy.contract.yaml
  docker/runtime-policy.env
  tests/ci/test_runtime_policy_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16023): assert exact attach-token audience set and lifetime bound (#2737)
  src/omnibase_infra/nodes/node_gateway_attach_effect/contract.yaml
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_attach_config.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/service_keycloak_token_validator.py
  tests/unit/nodes/node_gateway_attach_effect/test_handlers.py
  tests/unit/nodes/node_gateway_attach_effect/test_renewal_contract.py
  tests/unit/nodes/node_gateway_attach_effect/test_service_keycloak_token_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16265): refresh runner image identity after dev merge
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-16265): include gateway attach secrets in runtime policy test
  tests/integration/runtime/test_runtime_policy_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16265): permanent fault-injection fixture node for DLQ offset-withholding proof (#2809)
  docker/catalog/bundles.yaml
  docker/catalog/services/fault-inject-fixture.yaml
  docker/runners/runner-image.lock.json
  docs/runbooks/fault-inject-fixture-dlq-offset-withholding.md
  pyproject.toml
  scripts/check_subscribe_wiring_health.py
  scripts/ci/infra-node-allowlist.txt
  scripts/deploy-agent/tests/unit/test_executor_prod_image_slot_omn15181.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/__init__.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/contract.yaml
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/handlers/handler_fault_inject_fixture.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/models/__init__.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/models/model_fault_inject_fixture_command.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/models/model_fault_inject_fixture_result.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/node.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_dev_runtime_compose_render.py
  tests/integration/infra/test_judge_compose_render.py
  tests/integration/runtime/test_runtime_policy_contract.py
  tests/unit/nodes/test_node_fault_inject_fixture_compute/__init__.py
  tests/unit/nodes/test_node_fault_inject_fixture_compute/test_handler_fault_inject_fixture.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, onex-validate-markdown-links

fix(OMN-16444): bake AWS CLI v2 into the omnibase-ci runner image
  docker/runners/Dockerfile
  tests/ci/test_runner_image_awscli.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16444): bake AWS CLI v2 into the omnibase-ci runner image (#2859)
  docker/runners/Dockerfile
  tests/ci/test_runner_image_awscli.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16425): scrub leaky PREPUSH_ALLOW_LOCAL_FULL_SUITE in host-identity guard test
  tests/ci/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16425): scrub leaky PREPUSH_ALLOW_LOCAL_FULL_SUITE in host-identity guard test (#2860)
  tests/ci/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16449): scoped MSK-bastion DNS sidecar for gateway-forwarder (interim bridge)
  docker/docker-compose.gateway.yml
  docker/gateway/dns-bastion/Dockerfile
  docker/gateway/dns-bastion/dnsmasq.conf
  docker/gateway/dns-bastion/entrypoint.sh
Due: none

fix(OMN-16432): pin receipt-gate reusable workflow to fixed core SHA
  .github/workflows/call-receipt-gate.yml
Due: none

feat(OMN-15863): host cross-repo dashboard/web topic parity script
  scripts/check_dashboard_topic_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16449): scoped MSK-bastion DNS sidecar for gateway-forwarder (interim bridge) (#2862)
  docker/docker-compose.gateway.yml
  docker/gateway/dns-bastion/Dockerfile
  docker/gateway/dns-bastion/dnsmasq.conf
  docker/gateway/dns-bastion/entrypoint.sh
Due: none

fix(OMN-16432): pin receipt-gate reusable workflow to fixed core SHA (#2861)
  .github/workflows/call-receipt-gate.yml
Due: none

feat(OMN-15863): host cross-repo dashboard/web topic parity script (#2863)
  scripts/check_dashboard_topic_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-16456): pin desired-state invariants for the Keycloak signup-admin client
  docker/keycloak/desired-clients.json
  tests/unit/scripts/test_desired_clients_signup_admin.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16460): build the gateway-dns-bastion sidecar image in deploy-gateway.sh
  scripts/deploy-gateway.sh
Due: none

fix(OMN-16450): restore node migration shape proof
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegation_routing_reducer/0001_create_delegation_routing_tenant_overlay.sql
  docker/migrations/forward/nodes/node_projection_tenant_credentials/0000_create_tenant_inference_credentials.sql
  tests/integration/migrations/test_node_migration_shape_drift_omn15376.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16480): replace inheritable PREPUSH_ALLOW_* gate overrides with single-use scoped grant tokens
  scripts/hooks/prepush_override_grant.py
  scripts/hooks/prepush_smart_tests.sh
  scripts/hooks/pytest_full_suite_host_guard.py
  tests/ci/test_gate_overrides_are_not_env_vars.py
  tests/ci/test_prepush_hook_host_identity_guard.py
  tests/ci/test_pytest_full_suite_host_guard.py
  tests/unit/scripts/test_prepush_override_grant.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-15683): vendor node_projection_delegation migration 0031 (tenant_id TEXT->UUID)
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0031_delegation_events_tenant_id_to_uuid.sql
Due: none

test(OMN-16456): pin desired-state invariants for the Keycloak signup-admin client (#2864)
  docker/keycloak/desired-clients.json
  tests/unit/scripts/test_desired_clients_signup_admin.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
