Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(review): [major/minor] sync cause-chain not-found patterns, drop HTTP 400 from folder-create suppress set, test env isolation
  scripts/register-repo.py
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] document HTTP 400 intent, soften adapter claim, add KAFKA_GROUP_ID and KAFKA_ACKS to registry
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] URL scheme validation in _load_infisical_adapter, CONSUL_ENABLED in transport map, test env cleanup, update docstring
  scripts/register-repo.py
  src/omnibase_infra/runtime/config_discovery/transport_config_map.py
  tests/unit/runtime/config_discovery/test_transport_config_map.py
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] fix cause-chain auth downgrade logic, add pool_min > pool_max validator test
  scripts/register-repo.py
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] move INFISICAL_ADDR validation to command entry points, remove ValueError from adapter factory
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] document VAULT_ADDR prefetch gap, clarify _load_infisical_adapter validation contract
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] move onboard-repo INFISICAL_ADDR validation after dry-run gate, add QUERY_TIMEOUT_SECONDS to DATABASE transport keys
  config/shared_key_registry.yaml
  scripts/register-repo.py
  src/omnibase_infra/runtime/config_discovery/transport_config_map.py
  tests/unit/runtime/config_discovery/test_transport_config_map.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] explicit auth re-raise before not-found logic in _upsert_secret, clarify QUERY_TIMEOUT_SECONDS comment
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] remove redundant secret-not-found check, add QDRANT_URL to registry and transport map, migration re-seed note
  config/shared_key_registry.yaml
  docs/plans/2026-02-21-zero-repo-env-files.md
  scripts/register-repo.py
  src/omnibase_infra/runtime/config_discovery/transport_config_map.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(review): [major] add INFISICAL_PROJECT_ID pre-flight check to cmd_seed_shared
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] add QDRANT_URL transport map test, QUERY_TIMEOUT_SECONDS env var resolution test
  tests/unit/runtime/config_discovery/test_transport_config_map.py
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] add empty-list guards to _bootstrap_keys and _identity_defaults to prevent credential seeding
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] print SystemExit string messages to stderr before returning 1 in command handlers
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] swap guard ordering in _bootstrap_keys/_identity_defaults — empty-list check before element-type check
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] simplify SystemExit handler, clarify _upsert_secret auth guard comment
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs: add handoff doc for OMN-2287 phase 2 local-review session
  docs/handoff/2026-02-23-omn-2287-phase2-review.md
Due: onex-validate-markdown-links

feat: add shared_key_registry.yaml as authoritative shared key definition [OMN-2478] (#393)
  config/shared_key_registry.yaml
Due: onex-validate-contracts

docs: add onboard-repo-setup.md documenting ~/.omnibase/scripts/onboard-repo.py [OMN-2479] (#394)
  docs/plans/onboard-repo-setup.md
Due: onex-validate-markdown-links

docs: document ~/.omnibase/.env setup for transitional shared vars [OMN-2481] (#396)
  docs/plans/omnibase-env-setup.md
Due: onex-validate-markdown-links

docs: add delete-repo-env-files.md with script for OMN-2482 cleanup [OMN-2482] (#397)
  docs/plans/delete-repo-env-files.md
Due: onex-validate-markdown-links

docs: add smoke-test-zero-repo-env.md with test results and re-run instructions [OMN-2483] (#398)
  docs/plans/smoke-test-zero-repo-env.md
Due: onex-validate-markdown-links

docs: document future Infisical prerequisite for shrinking ~/.omnibase/.env [OMN-2484] (#399)
  docs/plans/shrink-omnibase-env-future.md
Due: onex-validate-markdown-links

fix(review): [major/minor] restore INFISICAL_ADDR opt-in, add registry guards, fix stale comment
  config/shared_key_registry.yaml
  docker/docker-compose.infra.yml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] add QDRANT keys to registry, fix _read_registry_data docstring, clean up path
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] POSTGRES_POOL_*_SIZE names, remove dead KAFKA_HOST_SERVERS, plan doc completion note
  config/shared_key_registry.yaml
  docs/plans/2026-02-21-zero-repo-env-files.md
  src/omnibase_infra/runtime/config_discovery/transport_config_map.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(review): [minor] cmd_seed_shared identity_defaults guard, TODO migration comment
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] remove broad auth substring, move _AUTH_INDICATORS to module-level, KAFKA_HOST_SERVERS comment, remove dead test setenv
  config/shared_key_registry.yaml
  scripts/register-repo.py
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] mypy type annotations in register-repo.py, YAML comment style
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] annotate yaml.safe_load return in _read_registry_data
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] utf-8 encoding on open, docstring clarity, header semantics note
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] docstring cleanup, POSTGRES_DSN comment, DSN encoding caveat
  config/shared_key_registry.yaml
  docker/docker-compose.infra.yml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] narrow _upsert_secret exception, cast return type, remove vacuous encoding, add missing ValidationError test
  scripts/register-repo.py
  src/omnibase_infra/services/session/config_store.py
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] clear ambient POSTGRES_* vars in pool defaults test
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] narrow auth indicators, fix test kwarg, QUERY_TIMEOUT_SECONDS comment, valkey ordering
  config/shared_key_registry.yaml
  scripts/register-repo.py
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
