Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(ci): bump contract versions for nodes with handler changes
  src/omnibase_infra/nodes/node_scope_extract_compute/contract.yaml
  src/omnibase_infra/nodes/node_scope_file_read_effect/contract.yaml
Due: onex-validate-contracts

fix: remove unused _DEFAULT_OUTPUT_PATH constant (CodeQL)
  src/omnibase_infra/nodes/node_scope_workflow_orchestrator/handlers/handler_scope_extract_complete.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: defer watch_root resolution to start() for autowiring compliance
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/handlers/handler_contract_file_watcher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: restore ImportError check to __init__ for watchdog absence
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/handlers/handler_contract_file_watcher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): skip cr-thread-gate job on push events (merge queue rebase branches)
  .github/workflows/cr-thread-gate.yml
Due: none

fix(ci): fix cr-thread-gate on push/merge-queue events via two-job pattern
  .github/workflows/cr-thread-gate.yml
Due: none

fix(tests): remove unused call_count var + drop unused os import (CodeQL)
  tests/integration/test_systemd_oom_sweeps_integration.py
  tests/unit/scripts/test_monitor_logs_omn8872.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(handlers): OMN-8735 auto-wiring compliance for 2 missed handlers
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_cli_subprocess.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_runtime_tick.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(handlers): OMN-8735 follow-up — HandlerLlmCliSubprocess + HandlerRuntimeTick
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_cli_subprocess.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_runtime_tick.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess.py
  tests/unit/nodes/node_registration_orchestrator/test_handler_runtime_tick.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

style: ruff format handler_runtime_tick.py [skip-contract-sync]
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_runtime_tick.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(ci): Wave D deploy-gate runtime-change PRs require deploy ticket evidence (OMN-8912)
  .github/workflows/deploy-gate.yml
  scripts/validate-pr-deploy-required.sh
  scripts/validation/validate_pr_deploy_required.py
  tests/ci/test_validate_pr_deploy_required.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(integration): add deploy-gate integration tests (OMN-8912)
  tests/integration/test_validate_pr_deploy_required_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(integration): add MonitorAlertEmitter integration tests (OMN-8885)
  tests/integration/test_monitor_alert_emitter_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(monitor): correct topic naming — use omnibase-infra producer segment [OMN-8885]
  scripts/monitor_alert_contract.yaml
  scripts/monitor_logs.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(monitor): Kafka dual-emit from monitor_logs.py for alert-detected events (OMN-8885)
  scripts/ci_check_kafka_no_localhost_default.py
  scripts/monitor_alert_contract.yaml
  scripts/monitor_logs.py
  src/omnibase_infra/adapters/project_tracker/linear_project_tracker_adapter.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  tests/unit/scripts/test_monitor_alert_emitter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(contracts): OMN-8735 follow-up — touch contract.yaml for Contract Sync Gate
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
Due: onex-validate-contracts

test(integration): OMN-8735 follow-up — add HandlerLlmCliSubprocess + HandlerRuntimeTick to auto-wiring compliance suite
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  tests/integration/handlers/test_handler_autowiring_compliance.py
  tests/integration/test_handler_autowiring_compliance_followup.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(test): remove unused EnumCliBackendStatus import (CodeQL)
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(monitor): add SystemdHealthSweep + OOMKillSweep daemon threads (OMN-8872) (#1314)
  scripts/monitor_logs.py
  tests/integration/test_systemd_oom_sweeps_integration.py
  tests/unit/scripts/test_monitor_logs_omn8872.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(monitor): fail-closed topic load, redact payload, remove unused import [OMN-8885]
  scripts/monitor_logs.py
  tests/unit/scripts/test_monitor_alert_emitter.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): remove unused imports flagged by CodeQL [OMN-8912]
  scripts/validation/validate_pr_deploy_required.py
  tests/ci/test_validate_pr_deploy_required.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): CR Thread Gate — add merge_group trigger + format() pr-number to fix 0-job failures
  .github/workflows/cr-thread-gate.yml
Due: none

fix(ci): port working cr-gate workflow files from omniclaude [OMN-9032]
  .github/workflows/cr-thread-gate.yml
Due: none

fix(ci): port working cr-gate workflow files from omniclaude [OMN-9032]
  .github/workflows/cr-thread-gate-caller.yml
Due: none

fix(ci): CR Thread Gate caller job emits 'gate / CodeRabbit Thread Check' [OMN-9032] (#1326)
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
Due: none

test(monitor_alert): source ~/.omnibase/.env before Kafka-path tests [OMN-8885]
  tests/integration/test_monitor_alert_emitter_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(deploy-gate): CodeQL import consolidation + unused vars + pytest marker [OMN-8912]
  scripts/validation/validate_pr_deploy_required.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(deploy-gate): CodeQL import consolidation + unused vars + pytest marker [OMN-8912]
  tests/ci/test_validate_pr_deploy_required.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(monitor): Kafka dual-emit from monitor_logs.py for alert-detected events (OMN-8885) (#1317)
  scripts/ci_check_kafka_no_localhost_default.py
  scripts/monitor_alert_contract.yaml
  scripts/monitor_logs.py
  src/omnibase_infra/adapters/project_tracker/linear_project_tracker_adapter.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  tests/integration/test_monitor_alert_emitter_integration.py
  tests/unit/scripts/test_monitor_alert_emitter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): branch-protection-audit gate (OMN-9034)
  .github/workflows/branch-protection-audit.yml
  CLAUDE.md
  scripts/audit-branch-protection.sh
  tests/ci/test_branch_protection_audit.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(ci): assign contract_path in test_non_deploy_check_is_not_evidence (F821)
  tests/ci/test_validate_pr_deploy_required.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(ci): Wave D deploy-gate — runtime-change PRs require deploy ticket evidence (OMN-8912) (#1318)
  .github/workflows/deploy-gate.yml
  scripts/validate-pr-deploy-required.sh
  scripts/validation/validate_pr_deploy_required.py
  tests/ci/test_validate_pr_deploy_required.py
  tests/integration/test_validate_pr_deploy_required_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(infra): durable .201 systemd --user timers for overseer/merge-sweep/health ticks [OMN-9035]
  scripts/install-tick-daemons.sh
  scripts/systemd/onex-tick-health.service
  scripts/systemd/onex-tick-health.timer
  scripts/systemd/onex-tick-merge-sweep.service
  scripts/systemd/onex-tick-merge-sweep.timer
  scripts/systemd/onex-tick-overseer.service
  scripts/systemd/onex-tick-overseer.timer
  scripts/ticks/health-tick.sh
  scripts/ticks/merge-sweep-tick.sh
  scripts/ticks/overseer-tick.sh
  tests/scripts/systemd/__init__.py
  tests/scripts/systemd/test_tick_scripts.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(monitor): add FileTailer + JournalTailer for non-Docker log sources (OMN-8871)
  deploy/systemd/onex-log-monitor.service
  scripts/monitor_logs.py
  tests/unit/scripts/test_monitor_logs_file_tailer.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(integration): add FileTailer and JournalTailer integration tests (OMN-8871)
  tests/integration/test_file_journal_tailers_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(monitor): handle copytruncate rotation + resolve 7 CodeQL/CR threads
  scripts/monitor_logs.py
  tests/integration/test_file_journal_tailers_integration.py
  tests/unit/scripts/test_monitor_logs_file_tailer.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(monitor): fix resource leak + align empty-string handling in _journal_units [OMN-8871]
  scripts/monitor_logs.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): remove hardcoded /Volumes path in test_clean_repo [OMN-9034]
  tests/ci/test_branch_protection_audit.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(monitor): resolve 2 CR threads on FileTailer rotation + _disabled sentinel [OMN-8871]
  scripts/monitor_logs.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): resolve 10 CR/CodeQL threads on branch-protection-audit [OMN-9034]
  .github/workflows/branch-protection-audit.yml
  scripts/audit-branch-protection.sh
  scripts/audit_branch_protection_lib.py
  scripts/audit_branch_protection_lib_cli.py
  tests/ci/test_branch_protection_audit.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
