Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-13807): reconcile canonical embedding endpoint :8100 -> :8002 (#2170)
  contracts/llm_endpoints.yaml
  docs/architecture/LLM_INFRASTRUCTURE.md
  tests/scripts/test_check_llm_endpoint_env_contract.py
  tests/unit/contracts/test_llm_endpoints_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-13768): reorder RuntimeHostProcess attach before Kafka subscriptions; graceful /ready runtime_pending branch (#2172)
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/services/health_checker.py
  tests/integration/test_omn_9741_service_kernel_health_ordering.py
  tests/unit/runtime/test_service_health.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13760): remove systemd watchdog from deploy-agent (fixes 30s SIGABRT crash-loop)
  scripts/deploy-agent/deploy/deploy-agent.service
  scripts/deploy-agent/deploy/deploy-agent.service.d/override.conf
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/tests/unit/test_deploy_agent_service_source.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13760): remove systemd watchdog from deploy-agent (fixes 30s SIGABRT crash-loop) (#2173)
  scripts/deploy-agent/deploy/deploy-agent.service
  scripts/deploy-agent/deploy/deploy-agent.service.d/override.conf
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/tests/unit/test_deploy_agent_service_source.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13829): install node-skill package (omnimarket) into infra venv
  docs/runbooks/node-skill-package-install.md
  scripts/install-node-skill-package.sh
  tests/scripts/test_install_node_skill_package.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-13830): emit skill lifecycle events from receipt-mode CLI
  src/omnibase_infra/cli/receipt_mode.py
  tests/unit/cli/test_cli_node_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-13830): emit skill lifecycle events from receipt-mode CLI so headless onex skill runs populate skill_executions (#2175)
  src/omnibase_infra/cli/receipt_mode.py
  tests/unit/cli/test_cli_node_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13829): install node-skill package (omnimarket) into infra venv [HOLD] (#2174)
  docs/runbooks/node-skill-package-install.md
  scripts/install-node-skill-package.sh
  tests/scripts/test_install_node_skill_package.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-13834): register dispatch_engine in skill_mapping.yaml
  src/omnibase_infra/cli/skill_mapping.yaml
Due: onex-validate-contracts

feat(OMN-13834): register dispatch_engine in skill_mapping.yaml (#2176)
  src/omnibase_infra/cli/skill_mapping.yaml
Due: onex-validate-contracts

fix(OMN-13829): reframe node-skill co-install as canonical + repin omnimarket to freshest dev
  docs/runbooks/node-skill-package-install.md
  scripts/install-node-skill-package.sh
  tests/scripts/test_install_node_skill_package.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-13829): reframe node-skill co-install as canonical + repin omnimarket to freshest dev (#2177)
  docs/runbooks/node-skill-package-install.md
  scripts/install-node-skill-package.sh
  tests/scripts/test_install_node_skill_package.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-13825): honor contract-declared topic for topic_match reducer route registration
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/auto_wiring/models/model_handler_routing_entry.py
  tests/unit/runtime/auto_wiring/test_topic_match_route_registration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13805): re-sync vendored omnimarket node migrations (skill_executions)
  docker/migrations/forward/nodes/node_projection_skill_executions/0001_create_skill_execution_snapshots.sql
Due: none

fix(OMN-13825): sync skill execution node migration
  docker/migrations/forward/nodes/node_projection_skill_executions/0001_create_skill_execution_snapshots.sql
Due: none

fix(OMN-13825): honor contract-declared topic for topic_match reducer route registration (#2178)
  docker/migrations/forward/nodes/node_projection_skill_executions/0001_create_skill_execution_snapshots.sql
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/auto_wiring/models/model_handler_routing_entry.py
  tests/unit/runtime/auto_wiring/test_topic_match_route_registration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13826): lane-aware container resolution in deploy-runtime verify_deployment
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_no_env_file.py
  tests/scripts/test_deploy_runtime_verify_container_name.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13827): hot-patch ledger preflight accepts dev+main lineage merge_commit list
  scripts/preflight_hotpatch_ledger.py
  tests/unit/scripts/test_preflight_hotpatch_ledger.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-12548): dispatch-selection parity gate (Mode A) + CI wiring
  .github/workflows/dispatch-parity-gate.yml
  docs/evidence/OMN-12548/README.md
  docs/evidence/OMN-12548/determinism-audit-report.md
  docs/evidence/OMN-12548/determinism-audit.json
  tests/fixtures/dispatch_parity/__init__.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/fixtures/dispatch_parity/harness.py
  tests/integration/runtime/test_dispatch_selection_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-13827): hot-patch ledger preflight accepts dev+main lineage merge_commit list (#2181)
  scripts/preflight_hotpatch_ledger.py
  tests/unit/scripts/test_preflight_hotpatch_ledger.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13826): lane-aware container resolution in deploy-runtime verify_deployment (#2180)
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_no_env_file.py
  tests/scripts/test_deploy_runtime_verify_container_name.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-12548): refresh lane census snapshot
  deploy/lane-census/census-snapshot.json
Due: none

test(OMN-12548): dispatch-selection parity gate (Mode A) + CI wiring (#2182)
  .github/workflows/dispatch-parity-gate.yml
  deploy/lane-census/census-snapshot.json
  docs/evidence/OMN-12548/README.md
  docs/evidence/OMN-12548/determinism-audit-report.md
  docs/evidence/OMN-12548/determinism-audit.json
  tests/fixtures/dispatch_parity/__init__.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/fixtures/dispatch_parity/harness.py
  tests/integration/runtime/test_dispatch_selection_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-12549): flip dispatch parity to Mode B + retarget ProtocolDispatchEngine to spi
  pyproject.toml
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_dispatch_engine.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  src/omnibase_infra/runtime/kafka_contract_source.py
  tests/fixtures/dispatch_parity/harness.py
  tests/integration/runtime/test_dispatch_selection_parity.py
  tests/unit/contracts/test_protocol_ownership.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-12549): regenerate parity fixture + runner-image digest for git-override env
  docker/runners/runner-image.lock.json
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
Due: none

fix(OMN-12549): refresh infra protocol and runner identity locks
  contracts/runtime/runtime_protocol.lock.json
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13867): decouple advisory Test-Failure Ratchet from required CI Summary + resilient JUnit-shard download
  .github/workflows/ci.yml
Due: none

feat(OMN-12549): flip dispatch parity to Mode B + retarget ProtocolDispatchEngine to spi (S0-seam) (#2184)
  contracts/runtime/runtime_protocol.lock.json
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_dispatch_engine.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  src/omnibase_infra/runtime/kafka_contract_source.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/fixtures/dispatch_parity/harness.py
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
  tests/integration/runtime/test_dispatch_selection_parity.py
  tests/unit/contracts/test_protocol_ownership.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13867): decouple advisory Test-Failure Ratchet from required CI Summary + resilient JUnit-shard download (#2185)
  .github/workflows/ci.yml
Due: none

fix(OMN-13870): deflake test_transient_error_retried retry-loop race
  tests/unit/utils/test_util_consumer_restart.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13852): register routes for six guard-tripped orchestrators + provision NO_DISPATCHER DLQ topics
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_chain_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_merge_sweep_workflow_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_routing_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_rsd_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_scope_workflow_orchestrator/contract.yaml
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/fixtures/dispatch_parity/harness.py
  tests/integration/runtime/test_dispatch_selection_parity.py
  tests/integration/runtime/test_omn13852_orchestrator_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13870): deflake test_transient_error_retried retry-loop race (#2186)
  tests/unit/utils/test_util_consumer_restart.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13852): register routes for six guard-tripped orchestrators + provision NO_DISPATCHER DLQ topics (#2183)
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_chain_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_merge_sweep_workflow_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_routing_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_rsd_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_scope_workflow_orchestrator/contract.yaml
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/fixtures/dispatch_parity/harness.py
  tests/integration/runtime/test_dispatch_selection_parity.py
  tests/integration/runtime/test_omn13852_orchestrator_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-13873): dep-provenance gate — forbid first-party git-source overrides on dev/main
  .github/workflows/dep-provenance-gate.yml
  .pre-commit-config.yaml
  scripts/check_dep_provenance.py
  tests/scripts/test_check_dep_provenance.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13873): harden dep provenance gate
  .github/workflows/dep-provenance-gate.yml
  pyproject.toml
  scripts/check_dep_provenance.py
  tests/scripts/test_check_dep_provenance.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13873): refresh runner image identity
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-13873): align runner identity backmerge test
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
