Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

chore: salvage legacy worktree OMN-7528/omnibase_infra
  uv.lock
Due: none

chore: salvage legacy worktree OMN-8691/omnibase_infra
  uv.lock
Due: none

chore: salvage legacy worktree OMN-8697/omnibase_infra
  uv.lock
Due: none

chore: salvage legacy worktree OMN-8713/omnibase_infra
  uv.lock
Due: none

chore: salvage legacy worktree OMN-8773/omnibase_infra
  scripts/ci_check_kafka_no_localhost_default.py
  src/omnibase_infra/adapters/project_tracker/linear_project_tracker_adapter.py
  src/omnibase_infra/adapters/project_tracker/local_stub_project_tracker.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  src/omnibase_infra/services/project_tracker/resolver.py
  tests/integration/adapters/test_linear_project_tracker_adapter_integration.py
  tests/integration/services/test_resolver_integration.py
  tests/services/test_resolver.py
  tests/unit/adapters/test_linear_project_tracker_adapter.py
  tests/unit/adapters/test_linear_project_tracker_adapter_omn8773.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

prep(OMN-10281): define stability-test runtime lane
  contracts/OMN-10281.yaml
  docker/docker-compose.stability-test.yml
  docs/runbooks/stability-test-runtime-lane.md
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

chore: salvage legacy worktree OMN-8778/omnibase_infra
  config/shared_key_registry.yaml
  tests/unit/scripts/test_shared_key_registry_coverage.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10281): align repo contract schema
  contracts/OMN-10281.yaml
Due: onex-validate-contracts

chore: salvage legacy worktree OMN-9197/omnibase_infra
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: salvage legacy worktree OMN-9215-coderabbit/omnibase_infra
  contracts/OMN-9215.yaml
  tests/integration/test_handler_event_type_alias_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9471): add runtime build source selector (#1450)
  contracts/OMN-9471.yaml
  docker/Dockerfile.runtime
  docker/docker-compose.infra.yml
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/events.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_build_source.py
  scripts/deploy-agent/tests/unit/test_executor_cache_bust.py
  scripts/deploy-agent/tests/unit/test_executor_self_update.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

prep(OMN-10281): define stability-test runtime lane (#1451)
  contracts/OMN-10281.yaml
  docker/docker-compose.stability-test.yml
  docs/runbooks/stability-test-runtime-lane.md
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-9573): resolve topic lint repo path automatically
  scripts/validation/run_topic_lint.sh
  tests/scripts/test_run_topic_lint_path_resolution.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-8738): recover compose catalog manifests
  docker/catalog/bundles.yaml
  docker/catalog/services/omnidash.yaml
  docker/catalog/services/omnimarket-projection-baselines.yaml
  docker/catalog/services/omnimarket-projection-delegation.yaml
  docker/catalog/services/omnimarket-projection-llm-cost.yaml
  docker/catalog/services/omnimarket-projection-registration.yaml
  docker/catalog/services/omnimarket-projection-savings.yaml
  docker/catalog/services/omnimarket-projection-session-outcome.yaml
  docker/catalog/services/omnimemory-kreuzberg.yaml
  docker/catalog/services/omnimemory-memgraph.yaml
  docker/catalog/services/omnimemory-qdrant.yaml
  docker/catalog/services/omnimemory-valkey.yaml
  tests/unit/infra/test_omn8738_compose_migration_manifests.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-8738): recover compose catalog manifests (#1453)
  docker/catalog/bundles.yaml
  docker/catalog/services/omnidash.yaml
  docker/catalog/services/omnimarket-projection-baselines.yaml
  docker/catalog/services/omnimarket-projection-delegation.yaml
  docker/catalog/services/omnimarket-projection-llm-cost.yaml
  docker/catalog/services/omnimarket-projection-registration.yaml
  docker/catalog/services/omnimarket-projection-savings.yaml
  docker/catalog/services/omnimarket-projection-session-outcome.yaml
  docker/catalog/services/omnimemory-kreuzberg.yaml
  docker/catalog/services/omnimemory-memgraph.yaml
  docker/catalog/services/omnimemory-qdrant.yaml
  docker/catalog/services/omnimemory-valkey.yaml
  tests/unit/infra/test_omn8738_compose_migration_manifests.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9573): resolve topic lint repo path automatically (#1452)
  scripts/validation/run_topic_lint.sh
  tests/scripts/test_run_topic_lint_path_resolution.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9551): address runtime health review blockers
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/integration/test_runtime_crash_loop_fix.py
  tests/unit/services/test_service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-9551): add runtime deploy contracts
  contracts/OMN-9552.yaml
  contracts/OMN-9553.yaml
  contracts/OMN-9554.yaml
Due: onex-validate-contracts

feat(OMN-10332): enforce llm metric idempotency
  docker/migrations/forward/071_add_llm_call_metrics_idempotency_unique.sql
  docker/migrations/rollback/rollback_071_add_llm_call_metrics_idempotency_unique.sql
  tests/ci/test_llm_call_metrics_idempotency_migration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-10332): stamp schema fingerprint
  docker/migrations/schema_fingerprint.sha256
Due: none

test(OMN-10281): prove stability runtime compose render
  docs/runbooks/stability-test-runtime-lane.md
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-10333): add llm metric attribution columns
  docker/migrations/forward/072_add_llm_call_metrics_attribution.sql
  docker/migrations/rollback/rollback_072_add_llm_call_metrics_attribution.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/services/observability/llm_cost_aggregation/writer_postgres.py
  tests/unit/db/test_migration_072.py
  tests/unit/services/observability/llm_cost_aggregation/test_writer_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-9608): fix 26 anchor slug mismatches in omnibase_infra arch docs
  docs/architecture/LLM_INFRASTRUCTURE.md
  docs/architecture/MCP_SERVICE_ARCHITECTURE.md
  docs/architecture/REGISTRATION_WORKFLOW.md
  docs/architecture/TOPIC_CATALOG_ARCHITECTURE.md
  docs/conventions/ERROR_HANDLING_BEST_PRACTICES.md
  docs/guides/HANDLER_AUTHORING_GUIDE.md
  docs/guides/MCP_INTEGRATION_GUIDE.md
  scripts/validation/validate_markdown_links.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

test(OMN-10281): make stability compose render CI-safe
  tests/integration/infra/test_stability_test_runtime_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10332): prove llm metric idempotency
  src/omnibase_infra/services/observability/llm_cost_aggregation/writer_postgres.py
  tests/ci/test_llm_call_metrics_idempotency_migration.py
  tests/unit/services/observability/llm_cost_aggregation/test_writer_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10332): add idempotency integration coverage
  tests/integration/observability/test_llm_call_metrics_idempotency.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10338): add gpu usage evidence to llm metrics
  docker/migrations/forward/073_add_llm_call_metrics_gpu_fields.sql
  docker/migrations/rollback/rollback_073_add_llm_call_metrics_gpu_fields.sql
  src/omnibase_infra/configs/pricing_manifest.yaml
  src/omnibase_infra/models/pricing/__init__.py
  src/omnibase_infra/models/pricing/model_compute_cost_entry.py
  src/omnibase_infra/models/pricing/model_pricing_table.py
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/model_llm_inference_request.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/service_llm_metrics_publisher.py
  tests/unit/db/test_migration_073.py
  tests/unit/models/pricing/test_model_pricing_table.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_gpu_measurement.py
  tests/unit/nodes/node_llm_inference_effect/services/test_service_llm_metrics_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10332): align writer dedup key with unique index
  src/omnibase_infra/services/observability/llm_cost_aggregation/writer_postgres.py
  tests/unit/services/observability/llm_cost_aggregation/test_writer_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9608): update heading-to-anchor tests for GitHub-compatible algorithm
  tests/unit/validation/test_validate_markdown_links.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10332): cover null-session idempotency
  contracts/OMN-10332.yaml
  docker/migrations/forward/071_add_llm_call_metrics_idempotency_unique.sql
  docker/migrations/schema_fingerprint.sha256
  tests/ci/test_llm_call_metrics_idempotency_migration.py
  tests/integration/observability/test_llm_call_metrics_idempotency.py
  tests/unit/services/observability/llm_cost_aggregation/test_writer_postgres.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10340): add savings pipeline API
  docker/migrations/forward/074_create_savings_estimates.sql
  docker/migrations/rollback/rollback_074_create_savings_estimates.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/services/cost_api/__init__.py
  src/omnibase_infra/services/cost_api/handlers.py
  src/omnibase_infra/services/cost_api/model_cost_api_base.py
  src/omnibase_infra/services/cost_api/model_cost_breakdown.py
  src/omnibase_infra/services/cost_api/model_cost_breakdown_item.py
  src/omnibase_infra/services/cost_api/model_cost_summary.py
  src/omnibase_infra/services/cost_api/model_cost_trend.py
  src/omnibase_infra/services/cost_api/model_cost_trend_point.py
  src/omnibase_infra/services/cost_api/model_savings_summary.py
  src/omnibase_infra/services/cost_api/model_savings_summary_item.py
  src/omnibase_infra/services/cost_api/model_savings_unavailable.py
  src/omnibase_infra/services/cost_api/model_token_usage.py
  src/omnibase_infra/services/cost_api/model_types.py
  src/omnibase_infra/services/cost_api/models.py
  src/omnibase_infra/services/cost_api/router.py
  src/omnibase_infra/services/registry_api/main.py
  src/omnibase_infra/services/registry_api/routes.py
  tests/integration/api/test_cost_api_routes.py
  tests/integration/migrations/test_074_savings_estimates.py
  tests/unit/db/test_migration_074.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10332): align dedup edge case expectation
  tests/unit/services/observability/llm_cost_aggregation/test_writer_edge_cases.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-10340): add infra deploy evidence contract
  contracts/OMN-10340.yaml
Due: onex-validate-contracts

fix(OMN-10332): align dedup key hash truncation
  src/omnibase_infra/services/observability/llm_cost_aggregation/writer_postgres.py
  tests/unit/services/observability/llm_cost_aggregation/test_writer_edge_cases.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10342): emit cost projection snapshots
  contracts/OMN-10342.yaml
  scripts/validation/lint_topic_names.py
  src/omnibase_infra/nodes/node_projection_cost_by_repo/__init__.py
  src/omnibase_infra/nodes/node_projection_cost_by_repo/handlers/__init__.py
  src/omnibase_infra/nodes/node_projection_cost_by_repo/handlers/handler_projection_cost_by_repo.py
  src/omnibase_infra/nodes/node_projection_cost_by_repo/node.py
  src/omnibase_infra/nodes/node_projection_cost_summary/__init__.py
  src/omnibase_infra/nodes/node_projection_cost_summary/handlers/__init__.py
  src/omnibase_infra/nodes/node_projection_cost_summary/handlers/handler_projection_cost_summary.py
  src/omnibase_infra/nodes/node_projection_cost_summary/node.py
  src/omnibase_infra/nodes/node_projection_cost_token_usage/__init__.py
  src/omnibase_infra/nodes/node_projection_cost_token_usage/handlers/__init__.py
  src/omnibase_infra/nodes/node_projection_cost_token_usage/handlers/handler_projection_cost_token_usage.py
  src/omnibase_infra/nodes/node_projection_cost_token_usage/node.py
  src/omnibase_infra/services/cost_api/handlers.py
  src/omnibase_infra/services/cost_api/snapshot_cache.py
  tests/fixtures/cost_observability/task-11-by-repo.fixtures.jsonl
  tests/fixtures/cost_observability/task-11-by-repo.golden.json
  tests/fixtures/cost_observability/task-11-summary.fixtures.jsonl
  tests/fixtures/cost_observability/task-11-summary.golden.json
  tests/fixtures/cost_observability/task-11-token-usage.fixtures.jsonl
  tests/fixtures/cost_observability/task-11-token-usage.golden.json
  tests/integration/api/test_cost_api_routes.py
  tests/integration/nodes/test_node_projection_cost_snapshots.py
  tests/unit/scripts/validation/test_lint_topic_names.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

feat(OMN-10342): emit cost projection snapshots (#1465)
  contracts/OMN-10342.yaml
  scripts/validation/lint_topic_names.py
  src/omnibase_infra/nodes/node_projection_cost_by_repo/__init__.py
  src/omnibase_infra/nodes/node_projection_cost_by_repo/handlers/__init__.py
  src/omnibase_infra/nodes/node_projection_cost_by_repo/handlers/handler_projection_cost_by_repo.py
  src/omnibase_infra/nodes/node_projection_cost_by_repo/node.py
  src/omnibase_infra/nodes/node_projection_cost_summary/__init__.py
  src/omnibase_infra/nodes/node_projection_cost_summary/handlers/__init__.py
  src/omnibase_infra/nodes/node_projection_cost_summary/handlers/handler_projection_cost_summary.py
  src/omnibase_infra/nodes/node_projection_cost_summary/node.py
  src/omnibase_infra/nodes/node_projection_cost_token_usage/__init__.py
  src/omnibase_infra/nodes/node_projection_cost_token_usage/handlers/__init__.py
  src/omnibase_infra/nodes/node_projection_cost_token_usage/handlers/handler_projection_cost_token_usage.py
  src/omnibase_infra/nodes/node_projection_cost_token_usage/node.py
  src/omnibase_infra/services/cost_api/handlers.py
  src/omnibase_infra/services/cost_api/snapshot_cache.py
  tests/fixtures/cost_observability/task-11-by-repo.fixtures.jsonl
  tests/fixtures/cost_observability/task-11-by-repo.golden.json
  tests/fixtures/cost_observability/task-11-summary.fixtures.jsonl
  tests/fixtures/cost_observability/task-11-summary.golden.json
  tests/fixtures/cost_observability/task-11-token-usage.fixtures.jsonl
  tests/fixtures/cost_observability/task-11-token-usage.golden.json
  tests/integration/api/test_cost_api_routes.py
  tests/integration/nodes/test_node_projection_cost_snapshots.py
  tests/unit/scripts/validation/test_lint_topic_names.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

feat(OMN-10343): estimate runner usage savings
  contracts/OMN-10343.yaml
  src/omnibase_infra/configs/pricing_manifest.yaml
  src/omnibase_infra/enums/generated/__init__.py
  src/omnibase_infra/enums/generated/enum_omninode_topic.py
  src/omnibase_infra/models/pricing/__init__.py
  src/omnibase_infra/models/pricing/model_pricing_table.py
  src/omnibase_infra/models/pricing/model_runner_cost_policy.py
  src/omnibase_infra/nodes/node_runner_usage_effect/__init__.py
  src/omnibase_infra/nodes/node_runner_usage_effect/contract.yaml
  src/omnibase_infra/nodes/node_runner_usage_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_runner_usage_effect/handlers/handler_runner_usage_savings.py
  src/omnibase_infra/nodes/node_runner_usage_effect/models/__init__.py
  src/omnibase_infra/nodes/node_runner_usage_effect/models/model_runner_savings_estimated.py
  src/omnibase_infra/nodes/node_runner_usage_effect/models/model_runner_usage_event.py
  src/omnibase_infra/nodes/node_runner_usage_effect/node.py
  src/omnibase_infra/topics/service_topic_registry.py
  src/omnibase_infra/topics/topic_keys.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/ci/test_pricing_manifest_schema.py
  tests/fixtures/cost_observability/task-12-runner.fixtures.jsonl
  tests/fixtures/cost_observability/task-12-runner.golden.json
  tests/integration/nodes/test_node_runner_usage_effect.py
  tests/unit/models/pricing/test_model_pricing_table.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

test(OMN-10344): add cost observability proof-of-life e2e
  tests/proof_of_life/test_cost_observability_e2e.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10332): enforce LLM metric idempotency (#1454)
  contracts/OMN-10332.yaml
  docker/migrations/forward/071_add_llm_call_metrics_idempotency_unique.sql
  docker/migrations/rollback/rollback_071_add_llm_call_metrics_idempotency_unique.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/services/observability/llm_cost_aggregation/writer_postgres.py
  tests/ci/test_llm_call_metrics_idempotency_migration.py
  tests/integration/observability/test_llm_call_metrics_idempotency.py
  tests/unit/services/observability/llm_cost_aggregation/test_writer_edge_cases.py
  tests/unit/services/observability/llm_cost_aggregation/test_writer_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10281): prove stability runtime compose render (#1455)
  docs/runbooks/stability-test-runtime-lane.md
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links
