Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(OMN-20240): declare the new lab model-server facts: vLLM qwen3 reasoning parser on .201, 65536-token llama.cpp context on .202 (#4399)
  deploy/systemd/vllm-gpu0-qwen38-27b.service
  docker/lane-overlays/dev.bifrost.yaml
  tests/ci/test_vllm_qwen38_27b_service_unit.py
  tests/fixtures/bifrost_served_models_probe.json
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20231): a dispatch venv advances across an omnibase-core bump (#4382)
  tests/scripts/test_reconcile_workspace_venvs.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20213): the dev lane's onex-api declares its own Redpanda admin API (#4380)
  docker/docker-compose.dev-lane.yml
  tests/ci/test_dev_lane_tenant_path_omn17530.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20213): the CI bus declares a scoped lab-work login, its ACLs and the lab-work topics (#4395)
  deploy/lane-census/lane-manifest.yaml
  docker/docker-compose.ci-bus.yml
  tests/unit/docker/test_ci_bus_broker_isolation_omn18691.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17292): delete the provider_quota_state bridge entry now that the omnimarket pin declares it
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17292): prove the provider_quota_state bridge retirement keeps migrations and writer grants
  tests/integration/topology/test_provider_quota_state_bridge_retired_omn17292.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19969): vendor savings migration 093 ahead of omnimarket#3172
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_savings/093_savings_series_persisted_baseline.sql
Due: onex-validate-contracts

fix(OMN-20255): the .201 dev deploy agent stages workspace builds from the deploy-source tree, not the lanes' canonical clones (#4401)
  scripts/deploy-agent/deploy/deploy-agent-dev.service
  scripts/deploy-agent/tests/unit/test_dev_unit_omni_home_deploy_source_omn20255.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17427): probe the pre-PR pool hosts concurrently so pool status costs the slowest host, not the sum (#4403)
  scripts/runtime_build/prepr_runtime_pool.py
  tests/unit/scripts/test_prepr_runtime_pool_omn18893.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20260): publish the lakshman lane Redpanda admin API on loopback only (#4410)
  docker/docker-compose.lakshman.yml
  tests/ci/test_lakshman_lane_governance_boundary.py
  tests/unit/docker/test_lakshman_redpanda_admin_loopback_omn20260.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13912): regenerate the runner image identity lock for the 0.38.62 bump
  docker/runners/runner-image.lock.json
Due: none

feat(OMN-19969): vendor savings migration 093 ahead of omnimarket#3172 (#4409)
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_savings/093_savings_series_persisted_baseline.sql
Due: onex-validate-contracts

fix(OMN-18595): regenerate runner image lock for the omnibase-core 0.47.28 bump
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-20201): the application-database SQL lint never reads an unquoted reserved key word as a relation target (#4413)
  scripts/ci/application_database_sql_baseline.yaml
  src/omnibase_infra/validation/application_database_domain_enforcement.py
  tests/integration/test_application_database_sql_reserved_keyword_targets_omn20201.py
  tests/unit/validation/test_application_database_sql_enforcement_regressions.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20260): publish the dev lane Redpanda admin API on loopback only (#4408)
  docker/docker-compose.infra.yml
  tests/ci/test_application_database_acl_connect_inputs.py
  tests/unit/docker/test_docker_security.py
  tests/unit/docker/test_redpanda_admin_loopback_omn20260.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19968): vendor node_projection_llm_cost migration 0003 ahead of the omnimarket usage-source fix
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_llm_cost/0003_usage_source_shared_vocabulary.sql
Due: onex-validate-contracts

fix(OMN-20277): the workflow-verdict reader unions three listing reads by run id, so a page that hides the newest run cannot decide (#4416)
  scripts/ci/lab_pass_receipt.py
  tests/ci/test_lab_pass_workflow_verdict_omn18866.py
  tests/ci/test_workflow_verdict_union_reads.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20260): gated apply path for governed-lane compose-config grants (#4418)
  scripts/apply_governed_compose_config.py
  tests/unit/scripts/test_apply_governed_compose_config_omn20260.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19812): add integration test for four-page 2000-row window with full final page
  tests/integration/nodes/test_board_probe_consumer_flow_omn19931.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19812): update node_board_probe_effect contract.yaml
  src/omnibase_infra/nodes/node_board_probe_effect/contract.yaml
Due: onex-validate-contracts

feat(OMN-19200): the C29 probe grades Gemini, the second beta customer provider (#4423)
  scripts/ci/c29_customer_byo_key_probe.py
  tests/ci/test_c29_customer_byo_key_probe_omn19200.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20276): classify 0051 in the operator fence manifest (it lifts and restores FORCE ROW LEVEL SECURITY)
  docker/migrations/forward/fenced-node-migrations.yaml
Due: onex-validate-contracts

fix(OMN-19812): C28 measures the end of a full final page instead of assuming truncation (#4421)
  scripts/ci/c28_consumer_flow_probe.py
  src/omnibase_infra/nodes/node_board_probe_effect/contract.yaml
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/_consumer_flow_collection.py
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/_consumer_flow_constants.py
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/handler_consumer_flow.py
  src/omnibase_infra/nodes/node_board_probe_effect/models/typed_dict_consumer_flow.py
  tests/ci/test_c28_consumer_flow_probe.py
  tests/integration/nodes/test_board_probe_consumer_flow_omn19931.py
  tests/unit/nodes/node_board_probe_effect/test_handler_consumer_flow.py
  tests/unit/nodes/node_board_probe_effect/test_handler_docker_consumer_flow_target.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20260): publish the ci-bus, stability-test and judge Redpanda admin API on loopback only (#4411)
  docker/docker-compose.ci-bus.yml
  docker/docker-compose.judge.yml
  docker/docker-compose.stability-test.yml
  tests/unit/docker/test_redpanda_admin_loopback_omn20260.py
  tests/unit/infra/test_judge_compose_profile.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20299): update stand-in delegate request model to include metadata
  tests/integration/cli/test_delegate_pre_publish_failure_omn19131.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19968): exempt the vendored llm-cost 0003 from schema qualification, as its legacy-schema siblings are
  scripts/ci/check_application_database_sql.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20298): decouple shape-gate detectors from lint preflight
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  config/runner_routing_policy.yaml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_lint_validator_runner.py
  tests/ci/test_shape_gate_jobs_independent_omn20298.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20298): planted detector behind preflight, do not merge
  .github/workflows/planted-shape-gate.yml
Due: none

fix(OMN-17292): drop delegation_dispositions legacy declaration now in pinned contracts
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20306): a second principal issuer gives each developer machine its own CI-bus login for lab work
  deploy/lab/developer-onboarding.yaml
  deploy/lab/developer-principal-grants.ci-bus.yaml
  deploy/lane-census/lane-manifest.yaml
  docker/Dockerfile.principal-issuer
  docker/docker-compose.principal-issuer-ci-bus.yml
  scripts/generate_claude_lane_block.py
  scripts/lab_principal_issuer.py
  tests/scripts/test_lab_principal_issuer_ci_bus_omn20306.py
  tests/scripts/test_lab_principal_issuer_omn20150.py
  tests/unit/docker/test_ci_bus_broker_isolation_omn18691.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20299): onex delegate derives a caller lane when no rule names one, so no CLI run writes a null caller_lane (#4427)
  src/omnibase_infra/cli/delegate_caller.py
  src/omnibase_infra/cli/model_delegate_caller.py
  tests/integration/cli/test_delegate_pre_publish_failure_omn19131.py
  tests/integration/cli/test_delegate_ticket_cli_omn19514.py
  tests/unit/cli/test_cli_delegate_caller_identity.py
  tests/unit/cli/test_cli_delegate_caller_never_null.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19626): repoint infra ledger parser and timer callers
  scripts/ledger_watermark.py
  scripts/worktree_prune_timer.py
  tests/scripts/test_worktree_prune_timer.py
  tests/unit/scripts/test_ledger_watermark_omn17023.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20308): the fleet canary sums every declared action pool
  scripts/ci/runner_fleet_canary.sh
  tests/ci/test_runner_listener_liveness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19626): use canonical ledger fixture in row model tests
  tests/unit/scripts/test_ledger_row_model_omn17403.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20290): a TLA+ model of the delegated code edit loop, with TLC evidence that each mutation breaks its property (#4425)
  formal/delegated_code_edit_loop/DelegatedCodeEditLoop.tla
  formal/delegated_code_edit_loop/Model.cfg
  formal/delegated_code_edit_loop/mut_cap.cfg
  formal/delegated_code_edit_loop/mut_check.cfg
  formal/delegated_code_edit_loop/mut_claim.cfg
  formal/delegated_code_edit_loop/mut_glob.cfg
  formal/delegated_code_edit_loop/results/Model.out
  formal/delegated_code_edit_loop/results/model.sha256
  formal/delegated_code_edit_loop/results/mut_cap.out
  formal/delegated_code_edit_loop/results/mut_check.out
  formal/delegated_code_edit_loop/results/mut_claim.out
  formal/delegated_code_edit_loop/results/mut_glob.out
  formal/delegated_code_edit_loop/run_checks.sh
  tests/unit/formal/test_delegated_code_edit_loop_model.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test: add integration test for delegation dispositions pin declared in OMN-17292
  tests/integration/topology/test_delegation_dispositions_pin_declared_omn17292.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17292): drop delegation_dispositions bridge-derivation test for the retired bridge
  tests/unit/migrations/test_omn20242_delegation_dispositions_vendor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20298): declare require_serial on check-shape-gate-independence hook
  .pre-commit-config.yaml
Due: onex-validate-contracts

feat(OMN-20298): shape-gate detectors run on every PR, whatever the preflight says (#4429)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  config/runner_routing_policy.yaml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_lint_validator_runner.py
  tests/ci/test_shape_gate_jobs_independent_omn20298.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
