Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

feat(OMN-20010): vendor claude_hook_events migration 0003, the span model, description and workflow_phase columns (#4276)
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_claude_hook_events/0003_add_span_model_and_description.sql
  tests/unit/migrations/test_omn20010_claude_agent_spans_model_vendor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19937): cover board probe runtime publish seam
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/integration/nodes/test_board_probe_forwarder_refused_topic_omn19930.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15359): add operator tenant provenance path (#4275)
  deploy/lane-census/lane-manifest.yaml
  docker/docker-compose.lakshman.yml
  docker/lakshman.env.example
  docker/projection-runtime-binding/lakshman-tenant-registry-writer.yaml
  scripts/run-forward-migrations.sh
  tests/ci/test_lane_projection_writer_coverage_omn17562.py
  tests/integration/infra/test_lakshman_compose_render.py
  tests/unit/infra/test_operator_role_omnidash_warm_volume_omn15359.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19958): runner OOM kills alert in the pass that sees them, on every runner host (#4264)
  docker/runners/runner-monitor.sh
  scripts/runner_fleet_event.py
  tests/unit/observability/runner_health/test_runner_monitor_alert_dwell_omn19169.py
  tests/unit/observability/runner_health/test_runner_monitor_auto_bounce.py
  tests/unit/observability/runner_health/test_runner_monitor_bounce_safety.py
  tests/unit/observability/runner_health/test_runner_monitor_customer_plane_alerting.py
  tests/unit/observability/runner_health/test_runner_monitor_empty_state_omn19717.py
  tests/unit/observability/runner_health/test_runner_monitor_fleet_emit_omn18768.py
  tests/unit/observability/runner_health/test_runner_monitor_omnipc2_fleet_prefix_omn19842.py
  tests/unit/observability/runner_health/test_runner_monitor_oom_kill_delta.py
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
  tests/unit/scripts/test_runner_fleet_event_omn18768.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19957): context-audit-consumer and contract-resolver get a 512 MiB limit on every lane (#4268)
  docker/catalog/services/context-audit-consumer.yaml
  docker/catalog/services/contract-resolver.yaml
  docker/docker-compose.infra.yml
  tests/ci/test_compose_service_memory_limits.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19959): lane container OOM kills and limit hits alert, with peaks and CI jobs attributed (#4267)
  deploy/lane-census/install-lane-census.sh
  deploy/lane-census/onex-disk-gc.service.d/20-lane-census.conf
  deploy/lane-census/standalone/onex-lane-census.service
  deploy/lane-census/standalone/onex-lane-census.timer
  scripts/lane-census-check.sh
  scripts/lane_census_inventory.py
  scripts/lane_container_memory_event.py
  tests/unit/scripts/fake_docker_engine_omn19959.py
  tests/unit/scripts/fixtures/lane_container_memory/event.v1.json
  tests/unit/scripts/fixtures/lane_container_memory/lane-manifest.yaml
  tests/unit/scripts/fixtures/lane_container_memory/runner_fleet.yaml
  tests/unit/scripts/test_lane_census_inventory.py
  tests/unit/scripts/test_lane_census_timer_dropin.py
  tests/unit/scripts/test_lane_container_memory_event.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(migrations): vendor delegation data_source migrations 0049 and 0050 [OMN-19970]
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0049_delegation_events_data_source.sql
  docker/migrations/forward/nodes/node_projection_delegation/0050_delegation_summary_excludes_fixture_savings.sql
  tests/unit/migrations/test_omn19970_data_source_vendor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19451): delegation-health check on runtime PRs, in shadow (#4288)
  .github/workflows/delegation-health-check.yml
  .github/workflows/delegation-health-reusable.yml
  config/delegation_health_check.yaml
  scripts/ci/delegation_health_check.py
  tests/ci/test_delegation_health_check_omn19451.py
  tests/ci/test_incident_replay_omn19451.py
  tests/fixtures/omn19451/omnimarket-run-35832924275.gh-api.json.captured
  tests/fixtures/omn19451/omnimarket-run-36394450393.gh-api.json.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18863): a push to dev reads the landed PR's paired omnimarket source, as merge_group does (#4306)
  scripts/resolve_node_migration_source_ref.py
  tests/scripts/test_resolve_node_migration_source_ref.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20077): CI Summary judges a running check-run or job row that already carries a failure conclusion (#4311)
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17427): the application SQL gate diffs a pull request's merge ref against its first parent, not the stale event base.sha (#4309)
  .github/workflows/ci.yml
  scripts/ci/check_application_database_sql.py
  tests/ci/test_application_database_sql_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15358): declare app_dashboard's two read grants as node migrations
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegation_routing_reducer/0006_grant_app_dashboard_overlay.sql
  docker/migrations/forward/nodes/node_projection_savings/091_grant_app_dashboard_savings_series.sql
Due: none

fix(OMN-15358): declare the two grant migrations rebased onto dev and make the savings-series grant kind-neutral
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_savings/091_grant_app_dashboard_savings_series.sql
Due: onex-validate-contracts

backup(OMN-18370): snapshot of omnibase_infra uncommitted state before removal
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/test_ci_summary_gate_replacement_in_flight.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

backup(OMN-18370): snapshot of omnibase_infra-negctl-c6c1c47c8 uncommitted state before removal
  tests/integration/bus_acl_boundary/__init__.py
  tests/integration/bus_acl_boundary/forwarder_process.py
  tests/integration/bus_acl_boundary/test_forwarder_refused_topic.py
  tests/integration/customer_path/redpanda_sasl_harness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19977): drop the OMNIMARKET_SRC-gated vendor comparison that skips in CI
  tests/unit/migrations/test_omn19977_metering_summary_vendor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

backup(OMN-18370): snapshot of omnibase_infra uncommitted state before removal
  scripts/ci/label_runtime_train.py
  tests/scripts/test_label_runtime_train_omn19568.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

backup(OMN-18370): snapshot of omnibase_infra uncommitted state before removal
  .github/workflows/runtime-rebuild-trigger-reusable.yml
  scripts/ci/release_train.py
  scripts/runtime_change_classifier.py
  scripts/trigger_rebuild_on_merge.py
  tests/scripts/test_trigger_dependency_manifests_omn18671.py
  tests/scripts/test_trigger_inert_version_bump_omn19375.py
  tests/scripts/test_trigger_packaged_source_omn19378.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

backup(OMN-18370): snapshot of omnibase_infra uncommitted state before removal
  scripts/worktree_prune_timer.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

backup(OMN-18370): snapshot of omnibase_infra uncommitted state before removal
  scripts/validate_delegation_cohort_keys.py
  src/omnibase_infra/models/__init__.py
  src/omnibase_infra/models/delegation/__init__.py
  src/omnibase_infra/models/delegation/model_delegation_cohort_key.py
  tests/ci/test_delegation_stable_cohort_key_omn18925.py
  tests/fixtures/delegation/offset489_incomplete_cohort_key.json
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

backup(OMN-18370): snapshot of omnibase_infra uncommitted state before removal
  scripts/check_deployed_migration_tree_sync.py
  scripts/deploy-runtime.sh
  tests/scripts/test_check_deployed_migration_tree_sync.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

backup(OMN-18370): snapshot of replay-31ad10c84 uncommitted state before removal
  scripts/ci/assert_push_side_derivation.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19561): migration 109 passes the application SQL gate and has a live-trigger proof
  .github/workflows/ci.yml
  docker/migrations/forward/109_delegation_workflow_state_updated_at_only_on_transition.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/validation/application_database_domain_enforcement.py
  tests/integration/migrations/test_delegation_updated_at_absorb_omn19561.py
  tests/unit/runtime/test_state_io_updated_at_absorb_omn19561.py
  tests/unit/validation/test_application_database_domain_enforcement.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

backup(OMN-18370): snapshot of omnibase_infra uncommitted state before removal
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(migrations): vendor delegation data_source migrations 0049 and 0050 [OMN-19970] (#4310)
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0049_delegation_events_data_source.sql
  docker/migrations/forward/nodes/node_projection_delegation/0050_delegation_summary_excludes_fixture_savings.sql
  tests/unit/migrations/test_omn19970_data_source_vendor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19972): the local bundle publishes on loopback only and names no lab host (#4297)
  docker/catalog/bundles.yaml
  src/omnibase_infra/docker/catalog/generator.py
  src/omnibase_infra/docker/catalog/manifest_schema.py
  src/omnibase_infra/docker/catalog/resolver.py
  tests/integration/test_catalog_local_render_loopback_omn19972.py
  tests/unit/infra/test_catalog_local_profile.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19451): the shadow delegation health check cannot fail CI Summary through the default-deny sweep (#4312)
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19967): onex delegate names every delegation config key an env var overrides (#4282)
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/delegate_env_config_overrides.py
  src/omnibase_infra/cli/model_delegate_env_config_override.py
  tests/integration/cli/test_delegate_env_config_overrides_cli_omn19967.py
  tests/unit/cli/test_delegate_env_config_overrides_omn19967.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19937): vendor the board_probe_results projection migrations ahead of omnimarket#3061 (#4302)
  config/migration_classes.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_board_probe_results/0000_create_board_probe_results.sql
  docker/migrations/forward/nodes/node_projection_board_probe_results/0001_grant_omninode_runtime_board_probe_results.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/migrations/test_omninode_internal_live_acl_gate_omn17886.py
  tests/unit/migrations/test_omn19937_board_probe_results_vendor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19931): consumer_flow board check, coverage contract and validator, C28 workflow shim (#4283)
  .github/workflows/chain-canary-c28-consumer-flow.yml
  .pre-commit-config.yaml
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/lab_proof/enum_lab_proof_check.py
  src/omnibase_infra/nodes/node_board_probe_effect/board_check_coverage.yaml
  src/omnibase_infra/nodes/node_board_probe_effect/contract.yaml
  src/omnibase_infra/nodes/node_board_probe_effect/coverage_validator.py
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/_consumer_flow_collection.py
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/_consumer_flow_constants.py
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/_consumer_flow_lane.py
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/_error_consumer_flow_boot_changed.py
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/_error_consumer_flow_input.py
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/handler_consumer_flow.py
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/handler_docker_consumer_flow_target.py
  src/omnibase_infra/nodes/node_board_probe_effect/models/__init__.py
  src/omnibase_infra/nodes/node_board_probe_effect/models/enum_board_check_id.py
  src/omnibase_infra/nodes/node_board_probe_effect/models/model_board_check_coverage.py
  src/omnibase_infra/nodes/node_board_probe_effect/models/model_consumer_flow_check.py
  src/omnibase_infra/nodes/node_board_probe_effect/models/model_consumer_flow_observation.py
  src/omnibase_infra/nodes/node_board_probe_effect/models/model_consumer_flow_request.py
  src/omnibase_infra/nodes/node_board_probe_effect/models/typed_dict_consumer_flow.py
  src/omnibase_infra/nodes/node_board_probe_effect/node.py
  src/omnibase_infra/nodes/node_board_probe_effect/protocols/__init__.py
  src/omnibase_infra/nodes/node_board_probe_effect/protocols/protocol_consumer_flow_target.py
  tests/ci/test_c28_consumer_flow_probe.py
  tests/incident_replays/registry.yaml
  tests/integration/nodes/test_board_probe_consumer_flow_omn19931.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/nodes/node_board_probe_effect/fixtures/consumer_flow_recorded.json
  tests/unit/nodes/node_board_probe_effect/fixtures/coverage_missing.yaml
  tests/unit/nodes/node_board_probe_effect/fixtures/coverage_phantom.yaml
  tests/unit/nodes/node_board_probe_effect/fixtures/coverage_reason.yaml
  tests/unit/nodes/node_board_probe_effect/test_consumer_flow_coverage.py
  tests/unit/nodes/node_board_probe_effect/test_consumer_flow_workflow.py
  tests/unit/nodes/node_board_probe_effect/test_handler_consumer_flow.py
  tests/unit/nodes/node_board_probe_effect/test_handler_docker_consumer_flow_target.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-19558): consume deadline covers the delegate-skill wait and a DLQ replay keeps its original message id (#4289)
  docker/catalog/services/omninode-runtime.yaml
  docker/catalog/services/runtime-effects.yaml
  docker/catalog/services/runtime-worker.yaml
  src/omnibase_infra/event_bus/mixin_kafka_dlq.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_message.py
  tests/integration/event_bus/test_omn19558_dlq_replay_identity_roundtrip.py
  tests/unit/infra/test_omn19558_consume_deadline_covers_delegate_skill_budget.py
  tests/unit/nodes/node_dlq_replay_effect/test_omn19558_replay_keeps_message_id.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19453): onex doctor names each customer delegation fault with its one fix (#4287)
  docker/runners/runner-image.lock.json
  pyproject.toml
  scripts/ci/test_selection_adjacency.yaml
  src/omnibase_infra/doctor/__init__.py
  src/omnibase_infra/doctor/checks/__init__.py
  src/omnibase_infra/doctor/checks/check_delegation_gateway.py
  src/omnibase_infra/doctor/checks/check_delegation_identity.py
  src/omnibase_infra/doctor/checks/check_delegation_key.py
  src/omnibase_infra/doctor/checks/check_delegation_local_model.py
  src/omnibase_infra/doctor/checks/check_delegation_quota.py
  src/omnibase_infra/doctor/delegation_doctor_support.py
  src/omnibase_infra/doctor/enum_delegation_doctor_fault.py
  src/omnibase_infra/doctor/model_delegation_diagnosis.py
  src/omnibase_infra/doctor/protocol_models_transport.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/doctor/test_delegation_doctor_wire_omn19453.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/doctor/__init__.py
  tests/unit/doctor/test_delegation_doctor_omn19453.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15358): declare app_dashboard's two read grants as node migrations (#3991)
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegation_routing_reducer/0006_grant_app_dashboard_overlay.sql
  docker/migrations/forward/nodes/node_projection_savings/091_grant_app_dashboard_savings_series.sql
Due: onex-validate-contracts

feat(OMN-19932): base-branch check runs become branch-head observations (#4286)
  src/omnibase_infra/enums/generated/enum_github_topic.py
  src/omnibase_infra/nodes/node_github_webhook_ingress_effect/contract.yaml
  src/omnibase_infra/nodes/node_github_webhook_ingress_effect/handlers/handler_github_webhook_ingress.py
  src/omnibase_infra/nodes/node_github_webhook_ingress_effect/models/__init__.py
  src/omnibase_infra/nodes/node_github_webhook_ingress_effect/models/model_github_branch_head_observation.py
  src/omnibase_infra/nodes/node_github_webhook_ingress_effect/webhook_fold.py
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/nodes/test_node_github_webhook_ingress_effect_integration.py
  tests/unit/nodes/node_github_webhook_ingress_effect/test_webhook_fold.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20113): the local bundle's delegation writer binds the lab principals
  Makefile
  docker/catalog/bundles.yaml
  docker/catalog/services/forward-migration.yaml
  docker/local.env.example
  scripts/reconcile-host.sh
  src/omnibase_infra/docker/catalog/generator.py
  tests/integration/infra/test_laptop_profile_env_file_render_omn19496.py
  tests/unit/infra/test_catalog_local_profile.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19561): an absorbed duplicate or stale event no longer moves delegation_workflow_state updated_at (#4290)
  .github/workflows/ci.yml
  config/migration_classes.yaml
  docker/migrations/forward/109_delegation_workflow_state_updated_at_only_on_transition.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/validation/application_database_domain_enforcement.py
  tests/integration/migrations/test_delegation_updated_at_absorb_omn19561.py
  tests/unit/runtime/test_state_io_updated_at_absorb_omn19561.py
  tests/unit/validation/test_application_database_domain_enforcement.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19451): the delegation health check enforces, and reads no staging-plane verdict (#4318)
  .github/workflows/delegation-health-check.yml
  .github/workflows/delegation-health-reusable.yml
  config/delegation_health_check.yaml
  config/runner_routing_policy.yaml
  scripts/ci/ci_summary_gate.py
  scripts/ci/delegation_health_check.py
  tests/ci/test_ci_summary_gate.py
  tests/ci/test_delegation_health_check_omn19451.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20010): vendor claude_hook_events migration 0004, null the hashed span lineage values
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_claude_hook_events/0004_null_hashed_span_lineage.sql
  tests/unit/migrations/test_omn20010_null_hashed_span_lineage_vendor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20010): vendor claude_hook_events migration 0004, null the hashed span lineage values (#4320)
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_claude_hook_events/0004_null_hashed_span_lineage.sql
  tests/unit/migrations/test_omn20010_null_hashed_span_lineage_vendor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19937): regenerate the dispatch parity baseline after the dev merge
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
Due: none
