Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

feat(OMN-9632): scaffold remote agent invoke effect
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/contract.yaml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/node.py
  tests/integration/nodes/test_node_remote_agent_invoke_effect_integration.py
  tests/unit/nodes/node_remote_agent_invoke_effect/__init__.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_node_scaffold.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-9632): add local stub models and integration test to unblock CI
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/contract.yaml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/models/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/models/enum_agent_task_status.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/models/model_agent_task_lifecycle_event.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/models/model_invocation_command.py
  tests/integration/test_remote_agent_invoke_effect_contract.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_node_scaffold.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9633): add remote task state repository
  docker/migrations/rollback/rollback_069_create_remote_task_state.sql
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/remote_task_state_repository.py
  tests/integration/db/test_remote_task_state_repository.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9633): normalize postgres retry typing
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/remote_task_state_repository.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9634): implement A2A submit handler
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/contract.yaml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9641): add A2A wiring and runtime boot coverage
  src/omnibase_infra/nodes/node_delegation_routing_reducer/contract.yaml
  tests/integration/delegation/test_a2a_bridge_wiring.py
  tests/integration/delegation/test_effect_runtime_boot.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9637): add orchestrator A2A dispatch and lifecycle path
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatch_resolver.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_agent_task_lifecycle.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_invocation_command.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/enums.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/handlers/handler_delegation_workflow.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/lifecycle_reactor.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/wiring.py
  src/omnibase_infra/nodes/node_delegation_routing_reducer/contract.yaml
  src/omnibase_infra/nodes/node_delegation_routing_reducer/handlers/handler_delegation_routing.py
  tests/unit/delegation/test_delegation_contracts.py
  tests/unit/delegation/test_delegation_orchestrator.py
  tests/unit/nodes/node_delegation_orchestrator/test_agent_lifecycle_path.py
  tests/unit/nodes/node_delegation_orchestrator/test_dispatch_resolver.py
  tests/unit/nodes/node_delegation_orchestrator/test_lifecycle_reactor.py
  tests/unit/nodes/node_delegation_routing_reducer/test_invocation_command_emission.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9642): fix .201 runtime boot proof
  tests/integration/delegation/test_effect_runtime_boot.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9634): use real a2a sdk transport
  pyproject.toml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9635): implement A2A watch lifecycle loop
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/remote_task_state_repository.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9634): implement real A2A submit and watch path (#1414)
  pyproject.toml
  scripts/check_subscribe_wiring_health.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/contract.yaml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/remote_task_state_repository.py
  src/omnibase_infra/runtime/version_compatibility.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_node_scaffold.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9633): add remote task state repository (#1412)
  pyproject.toml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/remote_task_state_repository.py
  tests/integration/db/test_remote_task_state_repository.py
  tests/integration/nodes/test_node_remote_agent_invoke_effect_integration.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9632): register node_remote_agent_invoke_effect entry point
  pyproject.toml
Due: none

fix(OMN-9551): apply ruff format + add integration test for crash-loop fix
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/integration/test_runtime_crash_loop_fix.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9632): wrap A2A transport errors and resolve CR feedback (#1410)
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  tests/integration/nodes/test_node_remote_agent_invoke_effect_integration.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9632): scaffold remote agent invoke effect (#1410)
  pyproject.toml
  scripts/check_subscribe_wiring_health.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/contract.yaml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/models/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/models/enum_agent_task_status.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/models/model_agent_task_lifecycle_event.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/models/model_invocation_command.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/node.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/remote_task_state_repository.py
  src/omnibase_infra/runtime/version_compatibility.py
  tests/integration/db/test_remote_task_state_repository.py
  tests/integration/nodes/test_node_remote_agent_invoke_effect_integration.py
  tests/integration/test_remote_agent_invoke_effect_contract.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/nodes/node_remote_agent_invoke_effect/__init__.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_node_scaffold.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-9637): address A2A lifecycle review findings
  docker/migrations/forward/069_create_remote_task_state.sql
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_agent_task_lifecycle.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_invocation_command.py
  src/omnibase_infra/nodes/node_delegation_routing_reducer/contract.yaml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/remote_task_state_repository.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/services/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/services/lifecycle_event_sink.py
  tests/integration/db/test_remote_task_state_repository.py
  tests/integration/delegation/test_a2a_bridge_wiring.py
  tests/integration/delegation/test_effect_runtime_boot.py
  tests/unit/db/test_migration_069.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_node_scaffold.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9637): refresh contract and schema fingerprint
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/contract.yaml
Due: onex-validate-contracts

fix(OMN-9637): restrict dispatcher envelope imports to typing
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_agent_task_lifecycle.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_invocation_command.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9637): satisfy dispatcher envelope CodeQL usage
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_agent_task_lifecycle.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_invocation_command.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9637): classify malformed dispatcher envelopes
  src/omnibase_infra/nodes/node_delegation_orchestrator/contract_topics.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_agent_task_lifecycle.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_invocation_command.py
  tests/unit/nodes/node_delegation_orchestrator/test_dispatcher_malformed_envelopes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-9637): point deploy gate to reusable main
  .github/workflows/deploy-gate.yml
Due: none

ci(OMN-9637): add deploy evidence contracts
  contracts/OMN-9620.yaml
  contracts/OMN-9629.yaml
  contracts/OMN-9637.yaml
  src/omnibase_infra/event_bus/topic_constants.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/contract_topics.py
  src/omnibase_infra/nodes/node_delegation_routing_reducer/contract.yaml
  tests/unit/delegation/test_delegation_wiring.py
  tests/unit/nodes/node_delegation_orchestrator/test_dispatcher_malformed_envelopes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10081): add runtime local ingress transport
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_local_runtime_ingress_config.py
  src/omnibase_infra/runtime/models/model_runtime_config.py
  src/omnibase_infra/runtime/runtime_local_ingress.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_runtime_local_ingress.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10082): type local runtime ingress protocol
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_local_runtime_ingress_error.py
  src/omnibase_infra/runtime/models/model_local_runtime_ingress_health.py
  src/omnibase_infra/runtime/models/model_local_runtime_ingress_request.py
  src/omnibase_infra/runtime/models/model_local_runtime_ingress_response.py
  src/omnibase_infra/runtime/runtime_local_ingress.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_runtime_local_ingress.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: add boot_grace_seconds to ServiceRuntimeHealthMonitor to suppress early emit [OMN-9552]
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/unit/services/test_service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: wire RUNTIME_HEALTH_BOOT_GRACE_SECONDS env var in service_kernel [OMN-9554]
  src/omnibase_infra/runtime/service_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: exclude UnknownTopicOrPartitionError from circuit breaker failure count [OMN-9553]
  src/omnibase_infra/event_bus/event_bus_kafka.py
  tests/unit/event_bus/test_circuit_breaker_topic_error.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: add Keycloak healthcheck to docker-compose.infra.yml [OMN-10089]
  docker/docker-compose.infra.yml
Due: none

feat: split keycloak desired-state — realm.json keeps realm/IdPs, desired-clients.json owns clients [OMN-10087]
  .pre-commit-config.yaml
  docker/keycloak/desired-clients.json
  docker/keycloak/omninode-realm.json
  scripts/check-realm-no-clients.sh
Due: onex-validate-contracts
