Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-11973): defer missing handler entrypoint failures
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_handle_async_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11879): add version field to all 100 contracts (#1746)
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/verification/contract.yaml
Due: onex-validate-contracts

fix(OMN-11879): replace deprecated version field with contract_version in verification contract
  src/omnibase_infra/verification/contract.yaml
Due: onex-validate-contracts

fix(OMN-11879): replace deprecated version field with contract_version in verification contract (#1750)
  src/omnibase_infra/verification/contract.yaml
Due: onex-validate-contracts

fix(OMN-11973): remove stale src/omnibase_infra/migrations COPY from Dockerfile.migrate (#1744)
  docker/Dockerfile.migrate
  docker/migrations/schema_fingerprint.sha256
  scripts/run-migrations.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_handle_async_dispatch.py
  tests/unit/scripts/test_run_migrations.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12198): synthesize envelope for raw non-envelope Kafka payloads in auto-wiring callback
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12162): Resolve stub handler_registry.register_handlers_from_config
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/handler_registry.py
  tests/unit/runtime/test_handler_registry_stub_removed.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12195): pin OMNIMARKET_REF to dev branch in runtime Dockerfile
  docker/Dockerfile.runtime
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_cache_bust.py
  scripts/deploy-runtime.sh
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12196): resolve bifrost source contract from omnimarket package on first boot
  docker/docker-compose.infra.yml
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-E0): inject ContainerBackedDelegationDispatchPort at auto-wiring time
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12151): skip terminal event when handle_async returns None
  contracts/runtime/runtime_protocol.lock.json
  src/omnibase_infra/protocols/protocol_dispatch_result_applier.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/unit/runtime/test_service_dispatch_result_applier.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-12151): re-stamp schema fingerprint after rebase onto dev
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(OMN-12195): stamp schema fingerprint
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(OMN-12196): stamp schema fingerprint and allowlist BIFROST_SOURCE_CONTRACT_PATH empty-default
  docker/migrations/schema_fingerprint.sha256
  tests/unit/infra/test_compose_no_silent_fallbacks.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-E0): resolve validator violations in delegation dispatch port
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/protocols/protocol_delegation_dispatch_port.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12162): Resolve stub handler_registry.register_handlers_from_config (#1753)
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/handler_registry.py
  tests/unit/runtime/test_handler_registry_stub_removed.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12195): pin OMNIMARKET_REF to dev branch in runtime Dockerfile (#1747)
  docker/Dockerfile.runtime
  docker/migrations/schema_fingerprint.sha256
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_cache_bust.py
  scripts/deploy-runtime.sh
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12164): Fix datetime.now() in omnibase_infra handlers
  src/omnibase_infra/nodes/node_rsd_score_compute/handlers/handler_rsd_score_calculate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12198): synthesize envelope for raw non-envelope Kafka payloads in auto-wiring callback (#1752)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-12006): inject ContainerBackedDelegationDispatchPort at auto-wiring time (#1755)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/protocols/protocol_delegation_dispatch_port.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12151): skip terminal event when handle_async returns None (#1745)
  contracts/runtime/runtime_protocol.lock.json
  src/omnibase_infra/protocols/protocol_dispatch_result_applier.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/unit/runtime/test_service_dispatch_result_applier.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12196): resolve bifrost source contract from omnimarket package on first boot (#1748)
  docker/docker-compose.infra.yml
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/unit/infra/test_compose_no_silent_fallbacks.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-12193): Create AdapterProjectTrackerLinear migration target
  src/omnibase_infra/adapters/project_tracker/adapter_project_tracker_linear.py
  src/omnibase_infra/adapters/project_tracker/model_project_tracker_team.py
  tests/unit/adapters/test_adapter_project_tracker_linear.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12164): update rsd score contract for UTC decay
  src/omnibase_infra/nodes/node_rsd_score_compute/contract.yaml
Due: onex-validate-contracts

fix(OMN-12164): Fix datetime.now() in omnibase_infra handlers (#1754)
  src/omnibase_infra/nodes/node_rsd_score_compute/contract.yaml
  src/omnibase_infra/nodes/node_rsd_score_compute/handlers/handler_rsd_score_calculate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12193): satisfy project tracker validators
  src/omnibase_infra/adapters/project_tracker/adapter_project_tracker_linear.py
  src/omnibase_infra/adapters/project_tracker/enum_project_tracker_issue_status_type.py
  src/omnibase_infra/adapters/project_tracker/model_project_tracker_issue_status.py
  src/omnibase_infra/adapters/project_tracker/model_project_tracker_label.py
  tests/unit/adapters/test_adapter_project_tracker_linear.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-12193): Create AdapterProjectTrackerLinear migration target
  src/omnibase_infra/adapters/project_tracker/adapter_project_tracker_linear.py
  src/omnibase_infra/adapters/project_tracker/enum_project_tracker_issue_status_type.py
  src/omnibase_infra/adapters/project_tracker/model_project_tracker_issue_status.py
  src/omnibase_infra/adapters/project_tracker/model_project_tracker_label.py
  src/omnibase_infra/adapters/project_tracker/model_project_tracker_team.py
  tests/unit/adapters/test_adapter_project_tracker_linear.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-12184): Convert boundary @dataclass to Pydantic BaseModel in omnibase_infra
  src/omnibase_infra/runtime/models/model_handshake_check_result.py
  src/omnibase_infra/runtime/models/model_handshake_result.py
  src/omnibase_infra/runtime/models/model_plugin_discovery_entry.py
  src/omnibase_infra/runtime/node_invocation_adapter.py
  src/omnibase_infra/runtime/runtime_host_process.py
  src/omnibase_infra/runtime/runtime_local_ingress.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  src/omnibase_infra/runtime/service_pattern_b_broker.py
  src/omnibase_infra/services/eval/eval_regression_check.py
  src/omnibase_infra/services/eval/metric_collector.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/test_pattern_b_broker_omnimarket.py
  tests/integration/runtime/test_runtime_local_ingress.py
  tests/integration/test_pattern_b_broker_terminal_waiter.py
  tests/unit/runtime/test_node_invocation_adapter.py
  tests/unit/runtime/test_runtime_local_ingress.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
  tests/unit/runtime/test_service_pattern_b_broker.py
  tests/unit/services/eval/test_metric_collector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: release v0.37.0 — bump core/spi pins
  pyproject.toml
Due: none

fix(OMN-12184): derive demo reset topic prefixes from constants
  src/omnibase_infra/cli/model_demo_reset_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-12184): add deploy gate contract
  contracts/OMN-12184.yaml
Due: onex-validate-contracts
