Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(tests): isolate config_prefetcher from host env; fix integration-test environment string
  tests/integration/event_bus/test_adapter_protocol_event_publisher_kafka.py
  tests/integration/event_bus/test_dlq_integration.py
  tests/integration/event_bus/test_kafka_event_bus_integration.py
  tests/integration/runtime/test_kafka_contract_source_integration.py
  tests/integration/services/mcp/test_service_mcp_tool_sync.py
  tests/unit/runtime/config_discovery/test_config_prefetcher.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): complete dispatcher auto-ack + fix tests [OMN-3444]
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  tests/unit/nodes/node_registration_orchestrator/test_dispatcher_node_introspected.py
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): resolve mypy arg-type and ai-slop boilerplate violations [OMN-3444]
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: add TCB_OUTCOME_REGISTRATION — copied from PHASE_METRICS_REGISTRATION, 3 fields changed
  src/omnibase_infra/runtime/emit_daemon/topics.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: restamp event_registry_fingerprint.json after adding TCB_OUTCOME_REGISTRATION
  src/omnibase_infra/runtime/emit_daemon/event_registry_fingerprint.json
Due: none

feat(registration): ONEX_REGISTRATION_AUTO_ACK — direct-publish ack command [OMN-3444]
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

style: ruff format auto-fix in test_handler_node_introspected [OMN-3444]
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): use SUFFIX_NODE_REGISTRATION_ACKED constant; fix wiring.py boilerplate docstring [OMN-3444]
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): use ProtocolEventBus type; wrap ack in ModelEventEnvelope for publish_envelope [OMN-3444]
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(registration): move auto-ack from handler to dispatcher [OMN-3444]
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ops(registration): expose ONEX_REGISTRATION_AUTO_ACK to runtime containers [OMN-3446]
  docker/docker-compose.infra.yml
Due: none

style: ruff format fix on test_handler_node_introspected after rebase [OMN-3446]
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

style: ruff format test_docker_security.py (CI lint fix)
  tests/unit/docker/test_docker_security.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(monitor): pass VALKEY_PASSWORD to redis.Redis for dedup auth (OMN-3407)
  scripts/monitor_logs.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(infra): migrate to local Docker Redpanda (OMN-3431) (#557)
  docker/docker-compose.infra.yml
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/docker/test_docker_security.py
  tests/unit/runtime/test_kafka_broker_allowlist.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(keycloak): fix provision-keycloak.py for Keycloak 26 compatibility (OMN-3460)
  docker/keycloak/omninode-realm.json
  scripts/provision-keycloak.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(infra): wire NodeBaselinesBatchCompute to daily scheduler [OMN-3335]
  .github/workflows/baselines-scheduler.yml
  scripts/run_baselines_batch_compute.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ops(infra): document runtime-effects profile requirement for Cost Trends [OMN-3337]
  docker/docker-compose.infra.yml
Due: none

chore(ingest): add expiry comment to ModelRoutingDecisionIngest shim (OMN-3465)
  src/omnibase_infra/services/observability/agent_actions/models/model_routing_decision_ingest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): increase docker-build timeout to 45m for ML dep install (OMN-3460)
  .github/workflows/docker-build.yml
Due: none

fix(monitor): address CodeRabbit review findings [OMN-3408]
  docker/migrations/forward/033_create_db_error_tickets.sql
  src/omnibase_infra/handlers/handler_linear_db_error_reporter.py
  src/omnibase_infra/handlers/models/model_db_error_ticket_result.py
  src/omnibase_infra/nodes/node_db_error_linear_effect/node.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

chore(ci): regen schema fingerprint after post-rebase migration drift [OMN-3408]
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(monitor): pass VALKEY_PASSWORD to redis.Redis for dedup auth (OMN-3407) (#562)
  scripts/monitor_logs.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(infra): add pytest_configure bus_local isolation to event_bus integration tests (OMN-3476)
  tests/integration/.env.example
  tests/integration/event_bus/conftest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): rewrite module docstring to avoid ai-slop check false positives (OMN-3476)
  tests/integration/event_bus/conftest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): increase docker-build timeout 20→45 min to survive GHA cache export
  .github/workflows/docker-build.yml
Due: none

fix(tests): guard pytest_configure hook to avoid polluting full-suite runs (OMN-3476)
  tests/integration/event_bus/conftest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(infra): add pytest_configure bus_local isolation to event_bus integration tests (OMN-3476) (#568)
  tests/integration/.env.example
  tests/integration/event_bus/conftest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(infra): provision k3s data-plane namespace for cloud bus tunnel (OMN-3488)
  docs/operations/K3S_DATA_PLANE_RUNBOOK.md
  k8s/data-plane/namespace.yaml
  k8s/data-plane/redpanda-service.yaml
  k8s/data-plane/redpanda-statefulset.yaml
  scripts/provision-k3s-data-plane.sh
  scripts/validation/validate_clean_root.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(ci): increase docker-build timeout 20→45 min to survive GHA cache export (#567)
  .github/workflows/docker-build.yml
Due: none

chore(ingest): add expiry comment to ModelRoutingDecisionIngest shim (OMN-3465) (#566)
  src/omnibase_infra/services/observability/agent_actions/models/model_routing_decision_ingest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(infra): address CodeRabbit review comments on k3s data-plane PR (OMN-3488)
  docs/operations/K3S_DATA_PLANE_RUNBOOK.md
  k8s/data-plane/redpanda-service.yaml
  k8s/data-plane/redpanda-statefulset.yaml
  scripts/provision-k3s-data-plane.sh
Due: onex-validate-contracts, onex-validate-markdown-links

Revert "feat(infra): provision k3s data-plane namespace for cloud bus tunnel (OMN-3488) (#569)"
  docs/operations/K3S_DATA_PLANE_RUNBOOK.md
  k8s/data-plane/namespace.yaml
  k8s/data-plane/redpanda-service.yaml
  k8s/data-plane/redpanda-statefulset.yaml
  scripts/provision-k3s-data-plane.sh
  scripts/validation/validate_clean_root.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

release: omnibase_infra v0.14.0
  CHANGELOG.md
  pyproject.toml
  src/omnibase_infra/__init__.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

release: omnibase_infra v0.14.0 (#571)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_infra/__init__.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(ci): ECR CI pipeline for omnibase_infra runtime image (OMN-3519)
  .github/actions/resolve-ecr-digest/action.yml
  .github/workflows/build-and-push-runtime.yml
Due: none

feat(scripts): add migration freeze expiry gate with 30/60-day policy [OMN-3533]
  scripts/check_migration_freeze.sh
  scripts/validation/validate_migration_freeze.py
  tests/ci/test_validate_migration_freeze.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(db): fix duplicate migration 006, add 3 missing tables to schema manifest (OMN-3525)
  docker/migrations/forward/035_create_skill_executions.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/migrations/forward/007_create_skill_executions.sql
  src/omnibase_infra/runtime/model_schema_manifest.py
  tests/unit/test_schema_fingerprint.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(ci): ECR CI pipeline for omnibase_infra runtime image (OMN-3519) (#572)
  .github/actions/resolve-ecr-digest/action.yml
  .github/workflows/build-and-push-runtime.yml
Due: none
