Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix: address review feedback for merge gate effect
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/enums/generated/enum_platform_topic.py
  src/omnibase_infra/nodes/node_merge_gate_effect/handlers/handler_upsert_merge_gate.py
  src/omnibase_infra/nodes/node_merge_gate_effect/models/model_merge_gate_result.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(nodes): address PR review feedback for NodeMergeGateEffect
  docker/docker-compose.runners.yml
  docker/migrations/forward/038_create_merge_gate_decisions.sql
  src/omnibase_infra/nodes/node_merge_gate_effect/contract.yaml
  src/omnibase_infra/nodes/node_merge_gate_effect/handlers/handler_upsert_merge_gate.py
  src/omnibase_infra/nodes/node_merge_gate_effect/models/model_merge_gate_result.py
  src/omnibase_infra/nodes/node_merge_gate_effect/models/model_merge_gate_violation.py
  src/omnibase_infra/nodes/node_merge_gate_effect/registry/registry_infra_merge_gate_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix mypy narrowing for ast.AnnAssign.value
  src/omnibase_infra/tools/contract_topic_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): update tests for effective correlation ID and idempotent quarantine
  tests/unit/nodes/node_merge_gate_effect/handlers/test_handler_upsert_merge_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: register EventBus as ProtocolEventBusPublisher, fix container env paths
  docker/docker-compose.infra.yml
  scripts/cloud-bus-tunnel.sh
  src/omnibase_infra/runtime/service_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3894: add USE_EVENT_ROUTING to docker-compose passthrough
  docker/docker-compose.infra.yml
  docs/env-example-full.txt
Due: none

OMN-3893: decouple prefetch contract scan from handler contract paths
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_prefetch_contract_isolation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3901: add CI invariant script for x-runtime-env completeness
  docker/docker-compose.infra.yml
  scripts/ci_check_runtime_env_passthrough.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3900: add CI invariant for node contract discoverability
  scripts/ci_check_contract_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3927: add artifact registry models and YAML loader
  src/omnibase_infra/registry/__init__.py
  src/omnibase_infra/registry/loader.py
  src/omnibase_infra/registry/models/__init__.py
  src/omnibase_infra/registry/models/model_artifact_registry.py
  tests/unit/registry/__init__.py
  tests/unit/registry/fixtures/invalid_registry.yaml
  tests/unit/registry/fixtures/malformed_registry.yaml
  tests/unit/registry/fixtures/valid_registry.yaml
  tests/unit/registry/test_artifact_registry_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3931: add domain event models for artifact reconciliation pipeline
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/__init__.py
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/models/__init__.py
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/models/model_update_trigger.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/__init__.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/models/__init__.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/models/model_impact_analysis_result.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/models/model_impacted_artifact.py
  src/omnibase_infra/nodes/node_update_plan_reducer/__init__.py
  src/omnibase_infra/nodes/node_update_plan_reducer/models/__init__.py
  src/omnibase_infra/nodes/node_update_plan_reducer/models/model_update_plan.py
  src/omnibase_infra/nodes/node_update_plan_reducer/models/model_update_task.py
  tests/unit/nodes/test_artifact_reconciliation_models.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-3927): split models into one-per-file and use UUID for artifact_id
  src/omnibase_infra/registry/models/model_artifact_registry.py
  src/omnibase_infra/registry/models/model_artifact_registry_entry.py
  src/omnibase_infra/registry/models/model_source_trigger.py
  tests/unit/registry/fixtures/valid_registry.yaml
  tests/unit/registry/test_artifact_registry_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: use UUID type for ID fields in artifact reconciliation models
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/models/model_update_trigger.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/models/model_impact_analysis_result.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/models/model_impacted_artifact.py
  src/omnibase_infra/nodes/node_update_plan_reducer/models/model_update_plan.py
  src/omnibase_infra/nodes/node_update_plan_reducer/models/model_update_task.py
  tests/unit/nodes/test_artifact_reconciliation_models.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: add python-snappy to runtime image for agent-actions-consumer
  docker/Dockerfile.runtime
Due: none

OMN-3900: add CI invariant for node contract discoverability (#685)
  scripts/ci_check_contract_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3927: Artifact Registry Models + Loader (#687)
  src/omnibase_infra/registry/__init__.py
  src/omnibase_infra/registry/loader.py
  src/omnibase_infra/registry/models/__init__.py
  src/omnibase_infra/registry/models/model_artifact_registry.py
  src/omnibase_infra/registry/models/model_artifact_registry_entry.py
  src/omnibase_infra/registry/models/model_source_trigger.py
  tests/unit/registry/__init__.py
  tests/unit/registry/fixtures/invalid_registry.yaml
  tests/unit/registry/fixtures/malformed_registry.yaml
  tests/unit/registry/fixtures/valid_registry.yaml
  tests/unit/registry/test_artifact_registry_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3931: domain event models for artifact reconciliation (#688)
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/__init__.py
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/models/__init__.py
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/models/model_update_trigger.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/__init__.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/models/__init__.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/models/model_impact_analysis_result.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/models/model_impacted_artifact.py
  src/omnibase_infra/nodes/node_update_plan_reducer/__init__.py
  src/omnibase_infra/nodes/node_update_plan_reducer/models/__init__.py
  src/omnibase_infra/nodes/node_update_plan_reducer/models/model_update_plan.py
  src/omnibase_infra/nodes/node_update_plan_reducer/models/model_update_task.py
  tests/unit/nodes/test_artifact_reconciliation_models.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: return None vs empty set to distinguish extraction errors from valid empty mapping
  scripts/ci_check_runtime_env_passthrough.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3898: document Infisical seed verification and verified transport folders
  docs/operations/INFISICAL_SEED_VERIFICATION_OMN3898.md
Due: onex-validate-markdown-links

fix: bump omninode-claude to 0.5.1 for contract validation fix (OMN-3906)
  docker/Dockerfile.runtime
Due: none

OMN-3898: document Infisical seed verification and verified transport folders (#689)
  docs/operations/INFISICAL_SEED_VERIFICATION_OMN3898.md
Due: onex-validate-markdown-links

fix(OMN-3902): set degraded_error status on soft prefetch failures
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_health_config_prefetch_status.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3902: expose config_prefetch_status in /health endpoint
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_health_config_prefetch_status.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3938: seed artifact registry with 15 real omnibase_infra artifacts
  src/omnibase_infra/registry/artifact_registry.yaml
  tests/unit/registry/test_registry_quality.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3935: add Impact Analyzer COMPUTE node with scoring handler
  src/omnibase_infra/nodes/node_impact_analyzer_compute/__init__.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/contract.yaml
  src/omnibase_infra/nodes/node_impact_analyzer_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/handlers/constants.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/handlers/handler_impact_analysis.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/node.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/registry/__init__.py
  src/omnibase_infra/nodes/node_impact_analyzer_compute/registry/registry_infra_impact_analyzer.py
  tests/unit/nodes/node_impact_analyzer_compute/__init__.py
  tests/unit/nodes/node_impact_analyzer_compute/test_impact_analysis.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

OMN-3902: expose config_prefetch_status in /health endpoint (#686)
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_health_config_prefetch_status.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: fix ruff formatting in test_registry_quality.py
  tests/unit/registry/test_registry_quality.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-3935): generate missing enum_artifact_topic.py for impact analyzer topics
  src/omnibase_infra/enums/generated/__init__.py
  src/omnibase_infra/enums/generated/enum_artifact_topic.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-3988): investigate non-node dirs under nodes/ — effects, handlers, reducers
  docs/investigations/OMN-3988-non-node-dirs-under-nodes.md
Due: onex-validate-markdown-links

fix(enums): remove duplicate EnumMessageCategory, re-export from omnibase_core (OMN-4015)
  scripts/demo_runtime_verification.py
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_message_category.py
  src/omnibase_infra/enums/enum_node_output_type.py
  tests/helpers/dispatchers.py
  tests/integration/runtime/test_binding_resolution_dispatch_flow.py
  tests/integration/runtime/test_contract_routing_introspection.py
  tests/integration/runtime/test_dispatch_context_integration.py
  tests/unit/models/dispatch/test_model_topic_parser.py
  tests/unit/models/validation/test_category_match_result_factories.py
  tests/unit/models/validation/test_custom_bool_behavior.py
  tests/unit/nodes/node_registration_orchestrator/models/test_custom_bool_behavior.py
  tests/unit/runtime/registry/test_model_message_type_entry.py
  tests/unit/runtime/registry/test_registry_message_type.py
  tests/unit/runtime/test_dispatch_context_enforcer.py
  tests/unit/runtime/test_dispatch_context_integration.py
  tests/unit/runtime/test_dispatcher_registry.py
  tests/unit/runtime/test_message_dispatch_engine.py
  tests/unit/validation/test_execution_shape_violations.py
  tests/unit/validation/test_routing_coverage_validator.py
  tests/unit/validation/test_topic_category_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-3988): fix ai-slop step narration headings in investigation doc
  docs/investigations/OMN-3988-non-node-dirs-under-nodes.md
Due: onex-validate-markdown-links

OMN-3903: add infisical_folders check (#12) to system_health_check.sh
  scripts/system_health_check.sh
Due: none

ci: mark docker-integration-tests as continue-on-error
  .github/workflows/docker-build.yml
Due: none

OMN-4046: skip test_health_endpoint_accessible when Postgres unavailable in CI
  tests/integration/docker/conftest.py
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-4044: make provision-infisical.py folder creation idempotent when credentials exist
  scripts/provision-infisical.py
  tests/unit/scripts/test_provision_infisical.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-3988: investigate non-node dirs under nodes/ (effects/, handlers/, reducers/) (#693)
  docs/investigations/OMN-3988-non-node-dirs-under-nodes.md
Due: onex-validate-markdown-links

chore: fix pre-existing AI-slop boilerplate in conftest.py module docstring
  tests/integration/docker/conftest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): remove boilerplate docstring openers; pin validate-string-versions to SHA
  .pre-commit-config.yaml
  tests/integration/nodes/node_architecture_validator/conftest.py
  tests/integration/nodes/node_architecture_validator/test_rule_integration.py
  tests/unit/nodes/node_architecture_validator/conftest.py
  tests/unit/nodes/node_architecture_validator/test_node_architecture_validator.py
  tests/unit/nodes/node_architecture_validator/validators/test_rule_classes.py
  tests/unit/nodes/node_architecture_validator/validators/test_rule_classes_property.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
