Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-20276): reconcile delegation events backfill shape and ACLs
  config/migration_down_executions.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0051_delegation_events_failed_outcome_backfill.sql
  tests/integration/migrations/test_088_savings_views_invoker_scoped_omn18159.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20275): supersede bare deploy-gate skips in CI summary gate
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19626): use canonical ledger package in infra callers (#4432)
  scripts/ledger_watermark.py
  scripts/worktree_prune_timer.py
  tests/scripts/test_worktree_prune_timer.py
  tests/unit/scripts/test_ledger_row_model_omn17403.py
  tests/unit/scripts/test_ledger_watermark_omn17023.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20318): a DLQ replay run summary is logged, not published onto the quarantine sink
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  tests/integration/dlq/test_dlq_replay_dispatch_bound_omn17137.py
  tests/unit/nodes/node_dlq_replay_effect/test_handler_dlq_replay.py
  tests/unit/nodes/node_dlq_replay_effect/test_omn20318_run_summary_not_published_to_quarantine.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20298): repin shape-gate independence guard to new module path
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: onex-validate-contracts

fix(OMN-20319): the companion-merge heal skips runs past GitHub's 30-day re-run window instead of failing the pass
  .github/workflows/occ-companion-merge-heal.yml
  scripts/ci/occ_companion_merge_heal.py
  tests/ci/test_occ_companion_merge_heal_omn18812.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20317): deselect stale suites and fix integration test drift
  .github/workflows/nightly-integration.yml
  .github/workflows/nightly-tests.yml
  config/env_gated_test_skips.yaml
  tests/integration/handlers/test_registration_storage_handler_swapping.py
  tests/integration/ledger/conftest.py
  tests/integration/ledger/test_ledger_e2e_pipeline.py
  tests/integration/runtime/db/test_postgres_repository_runtime_integration.py
  tests/integration/runtime/test_golden_chain_live_runtime.py
  tests/integration/runtime/test_kafka_contract_source_integration.py
  tests/integration/services/mcp/test_service_mcp_tool_sync.py
  tests/integration/test_consumer_health_pipeline.py
  tests/integration/test_runtime_health_monitor.py
  tests/integration/transport/_kafka_env.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20308): runner-slice and rolling-mode tests match the secondary-host script
  tests/unit/scripts/test_deploy_runners_rolling_mode_omn18415.py
  tests/unit/scripts/test_deploy_runners_runner_slice_omn19077.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20275): developer principals may write the ledger append command and read its terminals (#4417)
  deploy/lab/developer-principal-grants.yaml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
  tests/scripts/test_lab_principal_issuer_omn20150.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20319): the companion-merge heal skips runs past GitHub's 30-day re-run window instead of failing the pass (#4437)
  .github/workflows/occ-companion-merge-heal.yml
  scripts/ci/occ_companion_merge_heal.py
  tests/ci/test_occ_companion_merge_heal_omn18812.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20308): runner spread declaration and a fleet canary that sums every action pool (#4431)
  .github/workflows/runner-pool-spread.yml
  config/runner_fleet.yaml
  docker/docker-compose.runners-omnipc2-ci-runner.yml
  docker/docker-compose.runners-omnipc2-customer-plane-runner.yml
  docker/docker-compose.runners.yml
  docker/runners/git-mirror-refresh.sh
  docker/runners/systemd/pools/omnipc2-ci-runner/omnirunners.slice
  scripts/ci/runner_fleet_canary.sh
  scripts/deploy-runners.sh
  src/omnibase_infra/observability/runner_health/model_runner_fleet_config.py
  src/omnibase_infra/observability/runner_health/model_runner_fleet_host.py
  src/omnibase_infra/observability/runner_health/model_runner_fleet_pool.py
  tests/ci/test_customer_plane_runner_credential_free_omn18392.py
  tests/ci/test_runner_kubeconfig_mount.py
  tests/ci/test_runner_listener_liveness.py
  tests/ci/test_runner_local_llm_secret_env_omn18415.py
  tests/ci/test_runner_pool_spread_omn19895.py
  tests/integration/observability/test_runner_fleet_multihost_contract.py
  tests/scripts/test_deploy_runners_host_targeting.py
  tests/unit/observability/runner_health/test_runner_fleet_config.py
  tests/unit/observability/runner_health/test_runner_fleet_hosts.py
  tests/unit/scripts/test_deploy_runners_rolling_mode_omn18415.py
  tests/unit/scripts/test_deploy_runners_runner_slice_omn19077.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20318): a DLQ replay run summary is logged, not published onto the quarantine sink (#4435)
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  tests/integration/dlq/test_dlq_replay_dispatch_bound_omn17137.py
  tests/unit/nodes/node_dlq_replay_effect/test_handler_dlq_replay.py
  tests/unit/nodes/node_dlq_replay_effect/test_omn20318_run_summary_not_published_to_quarantine.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(cli): prove installed delegation code against registry default (OMN-17427)
  src/omnibase_infra/cli/model_omnimarket_registry_stamp.py
  src/omnibase_infra/cli/omnimarket_drift_guard.py
  tests/unit/cli/test_omnimarket_drift_guard.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(cli): prove detached registry boundary with integration fixtures (OMN-17427)
  docker/runners/runner-image.lock.json
  pyproject.toml
  tests/integration/cli/test_detached_registry_provenance_omn17427.py
  tests/unit/cli/test_omnimarket_drift_guard.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20159): the lakshman lane runtime-effects carries the projection read binding
  docker/docker-compose.lakshman.yml
  docker/projection-runtime-binding/lakshman-runtime-read.yaml
  tests/integration/infra/test_lakshman_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20298): set pass_filenames to false for shape-gate-independence
  .pre-commit-config.yaml
Due: onex-validate-contracts

feat(OMN-20304): canonical-file-shape ratchet blocks new scripts, plugins and exceptions
  .github/workflows/ci.yml
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
  config/runner_routing_policy.yaml
  scripts/ci/ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20276): vendor the delegation_events outcome backfill and its recorded rollback ahead of omnimarket (#4422)
  config/migration_classes.yaml
  config/migration_down_executions.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0051_delegation_events_failed_outcome_backfill.sql
  docker/migrations/rollback/rollback_node_projection_delegation_0051.sql
  tests/integration/migrations/test_088_savings_views_invoker_scoped_omn18159.py
  tests/unit/migrations/test_omn20276_outcome_backfill_vendor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20260): align judge broker compose with running container
  docker/docker-compose.judge.yml
  docker/judge.env.example
  tests/integration/infra/test_judge_compose_render.py
  tests/unit/infra/test_judge_compose_profile.py
  tests/unit/infra/test_redpanda_memory_per_lane_dial_omn19085.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20298): repin shape-gate independence guard to new module path (#4436)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: onex-validate-contracts

fix(OMN-20260): align judge broker compose with running container (#4434)
  docker/docker-compose.judge.yml
  docker/judge.env.example
  tests/integration/infra/test_judge_compose_render.py
  tests/unit/infra/test_judge_compose_profile.py
  tests/unit/infra/test_redpanda_memory_per_lane_dial_omn19085.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20304): canonical-file-shape ratchet blocks new scripts, plugins and exceptions (#4433)
  .github/workflows/ci.yml
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
  config/runner_routing_policy.yaml
  scripts/ci/ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(migrations): add node_projection_work_ledger migration 0002_work_ledger_typed_records.sql
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_work_ledger/0002_work_ledger_typed_records.sql
Due: onex-validate-contracts

fix(OMN-20320): the savings overview measures local_token_pct instead of reporting a literal zero
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_savings/094_savings_overview_local_token_pct.sql
  tests/integration/migrations/test_094_savings_overview_local_token_pct_omn20320.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(cli): move model_omnimarket_registry_stamp to canonical location (OMN-17427)
  src/omnibase_infra/cli/omnimarket_drift_guard.py
  src/omnibase_infra/models/delegation/model_omnimarket_registry_stamp.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to b1b406d0c8a6
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

fix(OMN-20317): cast the dispatch callback argument instead of suppressing the type error
  tests/integration/ledger/test_ledger_e2e_pipeline.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20320): the savings overview measures local_token_pct instead of reporting a literal zero (#4438)
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_savings/094_savings_overview_local_token_pct.sql
  tests/integration/migrations/test_094_savings_overview_local_token_pct_omn20320.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20295): route the direct-model-call job through the runner selector
  .github/workflows/direct-model-call.yml
Due: none

feat(OMN-20295): wire the direct-model-call gate into omnibase_infra as a CI job and a pre-commit hook
  .github/workflows/direct-model-call.yml
  .onex_ratchets/direct_model_call_baseline.yaml
  .pre-commit-config.yaml
  tests/fixtures/direct_model_call/clean.py.txt
  tests/fixtures/direct_model_call/s5a.py.txt
  tests/fixtures/direct_model_call/s5c.py.txt
  tests/fixtures/direct_model_call/s5g.py.txt
  tests/fixtures/direct_model_call/s6.py.txt
Due: onex-validate-contracts

fix(OMN-20295): register Direct Model Call Gate in CI summary contexts
  config/runner_routing_policy.yaml
  scripts/ci/ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(cli): resolve detached registry provenance for delegation (OMN-17427) (#4440)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/cli/omnimarket_drift_guard.py
  src/omnibase_infra/models/delegation/model_omnimarket_registry_stamp.py
  tests/integration/cli/test_detached_registry_provenance_omn17427.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20317): rewrite empty async generator to 'for message in (): yield message' to resolve OMN-20304 suppression-growth failure in test_omn20318_run_summary_not_published_to_quarantine.py
  tests/unit/nodes/node_dlq_replay_effect/test_omn20318_run_summary_not_published_to_quarantine.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Add require_serial to check-direct-model-call hook
  .pre-commit-config.yaml
Due: onex-validate-contracts

fix(OMN-20317): nightly-integration and nightly-tests — deselect suites owned elsewhere, fix integration test drift (#4439)
  .github/workflows/nightly-integration.yml
  .github/workflows/nightly-tests.yml
  config/env_gated_test_skips.yaml
  tests/integration/handlers/test_registration_storage_handler_swapping.py
  tests/integration/ledger/conftest.py
  tests/integration/ledger/test_ledger_e2e_pipeline.py
  tests/integration/runtime/db/test_postgres_repository_runtime_integration.py
  tests/integration/runtime/test_golden_chain_live_runtime.py
  tests/integration/runtime/test_kafka_contract_source_integration.py
  tests/integration/services/mcp/test_service_mcp_tool_sync.py
  tests/integration/test_consumer_health_pipeline.py
  tests/integration/test_runtime_health_monitor.py
  tests/integration/transport/_kafka_env.py
  tests/unit/nodes/node_dlq_replay_effect/test_omn20318_run_summary_not_published_to_quarantine.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20154): hold the reconcile-host lock of the build context's tree, not only OMNI_HOME's (#4446)
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_reconcile_lock_omn20154.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(migrations): add node_projection_work_ledger migration 0002_work_ledger_typed_records.sql (#4444)
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_work_ledger/0002_work_ledger_typed_records.sql
Due: onex-validate-contracts

fix(OMN-20210): the .202 ci runners keep their tool caches on /scratch instead of their writable layer (#4445)
  docker/docker-compose.runners-omnipc2-ci-runner.yml
  tests/ci/test_omnipc2_ci_runner_scratch_caches.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18596): use TCP pg_isready in legacy RDS fixture healthchecks
  docker/legacy-rds-fixture/compose.yml
Due: none

fix(OMN-17427): exclude lab-105 from the pre-PR runtime pool (#4447)
  config/prepr_runtime_pool.yaml
  tests/unit/scripts/test_prepr_runtime_pool_omn18893.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
