Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-14805): sync source attestor contract for handle flip
  src/omnibase_infra/nodes/node_runtime_source_attestor_effect/contract.yaml
Due: onex-validate-contracts

feat(OMN-14805): flip node_runtime_source_attestor_effect to canonical def-B (handflip)
  config/validation/handler_dispatch_entrypoint_baseline.yaml
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_runtime_source_attestor_effect.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_runtime_source_attestor_effect.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_runtime_source_attestor_effect/handlers/handler_source_attestation.py
  src/omnibase_infra/nodes/node_runtime_source_attestor_effect/node.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/nodes/test_node_runtime_source_attestor_effect_integration.py
  tests/unit/nodes/node_runtime_source_attestor_effect/test_source_attestation.py
  tests/unit/nodes/node_runtime_source_attestor_effect/test_source_attestation_dispatch_entrypoint_omn14805.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

ci(OMN-14805): harden hosted side-gate skips
  .github/workflows/artifact-reconciliation-webhook.yml
  .github/workflows/runner-disk-preflight.yml
Due: none

feat(OMN-14821): regenerate node_build_loop_projection_compute to canonical def-B
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_build_loop_projection_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_build_loop_projection_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/handlers/handler_build_loop_projection.py
  tests/unit/nodes/node_build_loop_projection_compute/test_build_loop_projection_dispatch_entrypoint_omn14821.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-14805): address review-thread gate hardening
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/dispatcher-route-coverage.yml
Due: none

feat(OMN-14822): regenerate node_invariant_evaluate_compute to canonical def-B
  config/validation/handler_dispatch_entrypoint_baseline.yaml
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_invariant_evaluate_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_invariant_evaluate_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/contract.yaml
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/handlers/handler_invariant_evaluate.py
  tests/integration/test_omn_11548_invariant_evaluate_compute.py
  tests/unit/nodes/node_invariant_evaluate_compute/test_handler_invariant_evaluate.py
  tests/unit/nodes/node_invariant_evaluate_compute/test_invariant_evaluate_dispatch_entrypoint_omn14822.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-14805): drop redundant runner disk hosted tweak
  .github/workflows/runner-disk-preflight.yml
Due: none

feat(OMN-14805): flip node_runtime_source_attestor_effect to canonical def-B (handflip) (#2349)
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/dispatcher-route-coverage.yml
  config/validation/handler_dispatch_entrypoint_baseline.yaml
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_runtime_source_attestor_effect.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_runtime_source_attestor_effect.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_runtime_source_attestor_effect/contract.yaml
  src/omnibase_infra/nodes/node_runtime_source_attestor_effect/handlers/handler_source_attestation.py
  src/omnibase_infra/nodes/node_runtime_source_attestor_effect/node.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/nodes/test_node_runtime_source_attestor_effect_integration.py
  tests/unit/nodes/node_runtime_source_attestor_effect/test_source_attestation.py
  tests/unit/nodes/node_runtime_source_attestor_effect/test_source_attestation_dispatch_entrypoint_omn14805.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

feat(OMN-14818): regenerate node_auth_gate_compute to canonical def-B
  config/validation/handler_dispatch_entrypoint_baseline.yaml
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_auth_gate_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_auth_gate_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_auth_gate_compute/handlers/handler_auth_gate.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/fixtures/golden/node_auth_gate_compute/all_pass.json
  tests/fixtures/golden/node_auth_gate_compute/emergency_with_reason.json
  tests/fixtures/golden/node_auth_gate_compute/expired.json
  tests/fixtures/golden/node_auth_gate_compute/no_auth.json
  tests/fixtures/golden/node_auth_gate_compute/path_not_allowed.json
  tests/fixtures/golden/node_auth_gate_compute/whitelist_plan.json
  tests/unit/nodes/node_auth_gate_compute/test_node_auth_gate_compute_dispatch_entrypoint.py
  tests/unit/nodes/node_auth_gate_compute/test_node_auth_gate_compute_golden_equivalence.py
  tests/unit/nodes/test_node_auth_gate_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-14805): match pinned CR reusable inputs
  .github/workflows/cr-thread-gate-caller.yml
Due: none

test(OMN-14805): isolate runner monitor auto-bounce lock
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-14824): record pre-flip def-A goldens for node_merge_sweep_classify_compute
  tests/fixtures/golden/node_merge_sweep_classify_compute/empty.json
  tests/fixtures/golden/node_merge_sweep_classify_compute/mixed_require_approval.json
  tests/fixtures/golden/node_merge_sweep_classify_compute/no_approval_required.json
Due: none

test(OMN-14805): cache type-checking scan state
  tests/ci/test_architecture_compliance.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14824): regenerate node_merge_sweep_classify_compute handler to canonical def-B
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_merge_sweep_classify_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_merge_sweep_classify_compute/handlers/handler_classify_prs.py
  tests/unit/nodes/test_merge_sweep_canary/test_classify_compute_dispatch_entrypoint.py
  tests/unit/nodes/test_merge_sweep_canary/test_classify_compute_golden_equivalence.py
  tests/unit/nodes/test_merge_sweep_canary/test_handler_classify_prs.py
  tests/unit/nodes/test_merge_sweep_canary/test_merge_sweep_workflow_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14811): wire OCC-autobind trigger (caller -> omniclaude reusable, lane=dev) (#2351)
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-preflight.yml
Due: none

feat(OMN-14826): regenerate node_pr_state_projection_compute to canonical def-B
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_pr_state_projection_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_pr_state_projection_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_pr_state_projection_compute/handlers/handler_pr_state_projection.py
  tests/unit/nodes/node_pr_state_projection_compute/test_pr_state_projection_dispatch_entrypoint_omn14826.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-14824): equivalence proof for node_merge_sweep_classify_compute def-B flip
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_merge_sweep_classify_compute.equivalence.json
Due: none

test(OMN-14805): unblock CR gate and local pre-push follow-up (#2356)
  .github/workflows/cr-thread-gate-caller.yml
  tests/ci/test_architecture_compliance.py
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14825): regenerate node_model_router_compute to canonical def-B
  config/validation/handler_dispatch_entrypoint_baseline.yaml
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_model_router_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_model_router_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_model_router_compute/handlers/handler_score_models.py
  src/omnibase_infra/services/routing_api/routes.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/fixtures/golden/node_model_router_compute/legacy_equivalence_goldens.json
  tests/integration/test_model_router_registry_scoring_integration.py
  tests/unit/nodes/test_model_router/test_score_models.py
  tests/unit/nodes/test_model_router/test_score_models_defb_omn14825.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14823): regenerate node_ledger_projection_compute to canonical def-B
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_ledger_projection_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_ledger_projection_compute.handlers.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_ledger_projection_compute.handlers.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_ledger_projection_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/handlers/handler_ledger_projection.py
  tests/unit/nodes/test_node_ledger_projection_compute_defb_omn14823.py
  tests/unit/runtime/test_ledger_projection_dispatch_reachability.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14826): sync pr state projection contract
  src/omnibase_infra/nodes/node_pr_state_projection_compute/contract.yaml
Due: onex-validate-contracts

feat(OMN-14828): regenerate node_rsd_score_compute to canonical def-B
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_rsd_score_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_rsd_score_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_rsd_score_compute/handlers/handler_rsd_score_calculate.py
  tests/unit/nodes/node_rsd_score_compute/test_rsd_score_dispatch_entrypoint_omn14828.py
  tests/unit/nodes/test_rsd_priority_engine/test_handler_rsd_score_calculate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14826): resolve pr state projection review threads
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_pr_state_projection_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_pr_state_projection_compute.json
  tests/unit/nodes/node_pr_state_projection_compute/test_pr_state_projection_dispatch_entrypoint_omn14826.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14830): regenerate node_runner_fleet_health_compute to canonical def-B
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_runner_fleet_health_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_runner_fleet_health_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_runner_fleet_health_compute/handlers/handler_runner_fleet_health_evaluate.py
  tests/unit/nodes/node_runner_fleet_maintain/test_runner_fleet_health_compute.py
  tests/unit/nodes/node_runner_fleet_maintain/test_runner_fleet_health_dispatch_entrypoint_omn14830.py
  tests/unit/nodes/node_runner_fleet_maintain/test_runner_fleet_maintain_workflow_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14831): regenerate node_validation_ledger_projection_compute to canonical def-B
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_validation_ledger_projection_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_validation_ledger_projection_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
  tests/unit/nodes/node_validation_ledger_projection_compute/__init__.py
  tests/unit/nodes/node_validation_ledger_projection_compute/test_validation_ledger_projection_dispatch_entrypoint_omn14831.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14826): regenerate node_pr_state_projection_compute to canonical def-B (#2357)
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_pr_state_projection_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_pr_state_projection_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_pr_state_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_pr_state_projection_compute/handlers/handler_pr_state_projection.py
  tests/unit/nodes/node_pr_state_projection_compute/test_pr_state_projection_dispatch_entrypoint_omn14826.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14830): sync runner fleet health contract
  src/omnibase_infra/nodes/node_runner_fleet_health_compute/contract.yaml
Due: onex-validate-contracts

test(OMN-14832): record def-A scope-extract goldens (base_ref_exec_sha anchor)
  tests/fixtures/golden/node_scope_extract_compute/backtick_bare_dotted_and_skips.json
  tests/fixtures/golden/node_scope_extract_compute/backtick_pathlike_no_extension.json
  tests/fixtures/golden/node_scope_extract_compute/files_affected_section.json
Due: none

feat(OMN-14832): flip HandlerScopeExtract to canonical def-B (def_b_commit)
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_scope_extract_compute/handlers/handler_scope_extract.py
  tests/unit/nodes/node_scope_extract_compute/__init__.py
  tests/unit/nodes/node_scope_extract_compute/test_node_scope_extract_compute_golden_equivalence.py
  tests/unit/nodes/node_scope_extract_compute/test_scope_extract_dispatch_entrypoint_omn14832.py
  tests/unit/nodes/test_scope_canary/test_handler_scope_extract.py
  tests/unit/nodes/test_scope_canary/test_scope_workflow_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-14832): adequacy + equivalence proof for scope-extract def-B flip
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_scope_extract_compute.equivalence.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_scope_extract_compute.json
Due: none

feat(OMN-14830): regenerate node_runner_fleet_health_compute to canonical def-B (#2363)
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_runner_fleet_health_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_runner_fleet_health_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_runner_fleet_health_compute/contract.yaml
  src/omnibase_infra/nodes/node_runner_fleet_health_compute/handlers/handler_runner_fleet_health_evaluate.py
  tests/unit/nodes/node_runner_fleet_maintain/test_runner_fleet_health_compute.py
  tests/unit/nodes/node_runner_fleet_maintain/test_runner_fleet_health_dispatch_entrypoint_omn14830.py
  tests/unit/nodes/node_runner_fleet_maintain/test_runner_fleet_maintain_workflow_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14828): sync rsd score node contract
  src/omnibase_infra/nodes/node_rsd_score_compute/contract.yaml
Due: onex-validate-contracts

feat(OMN-14828): regenerate node_rsd_score_compute to canonical def-B (#2362)
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_rsd_score_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_rsd_score_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_rsd_score_compute/contract.yaml
  src/omnibase_infra/nodes/node_rsd_score_compute/handlers/handler_rsd_score_calculate.py
  tests/unit/nodes/node_rsd_score_compute/test_rsd_score_dispatch_entrypoint_omn14828.py
  tests/unit/nodes/test_rsd_priority_engine/test_handler_rsd_score_calculate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14816): regenerate node_broker_disk_watermark_compute to canonical def-B
  config/validation/handler_dispatch_entrypoint_baseline.yaml
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_broker_disk_watermark_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_broker_disk_watermark_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_broker_disk_watermark_compute/contract.yaml
  src/omnibase_infra/nodes/node_broker_disk_watermark_compute/handlers/handler_broker_disk_watermark.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/nodes/test_broker_disk_watermark_dispatch_entrypoint_omn14816.py
  tests/unit/nodes/test_handler_broker_disk_watermark.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14810): def-B equivalence flip for node_contract_validate_compute (canary-2, proof-author lane) (#2350)
  config/validation/handler_dispatch_entrypoint_baseline.yaml
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_contract_validate_compute.equivalence.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_contract_validate_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_contract_validate_compute/contract.yaml
  src/omnibase_infra/nodes/node_contract_validate_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_contract_validate_compute/handlers/handler_contract_validate.py
  tests/fixtures/golden/node_contract_validate_compute/file_not_found.json
  tests/fixtures/golden/node_contract_validate_compute/model_compliance.json
  tests/fixtures/golden/node_contract_validate_compute/valid_effect_yaml.json
  tests/integration/test_omn_11550_contract_validate_compute.py
  tests/unit/nodes/node_contract_validate_compute/test_handler_contract_validate.py
  tests/unit/nodes/node_contract_validate_compute/test_node_contract_validate_compute_golden_equivalence.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14822): regenerate node_invariant_evaluate_compute to canonical def-B (#2352)
  config/validation/handler_dispatch_entrypoint_baseline.yaml
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_invariant_evaluate_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_invariant_evaluate_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/contract.yaml
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/handlers/handler_invariant_evaluate.py
  tests/integration/test_omn_11548_invariant_evaluate_compute.py
  tests/unit/nodes/node_invariant_evaluate_compute/test_handler_invariant_evaluate.py
  tests/unit/nodes/node_invariant_evaluate_compute/test_invariant_evaluate_dispatch_entrypoint_omn14822.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14821): sync build loop projection contract
  src/omnibase_infra/nodes/node_build_loop_projection_compute/contract.yaml
Due: onex-validate-contracts

feat(OMN-14821): regenerate node_build_loop_projection_compute to canonical def-B (#2353)
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_build_loop_projection_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_build_loop_projection_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  src/omnibase_infra/nodes/node_build_loop_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_build_loop_projection_compute/handlers/handler_build_loop_projection.py
  tests/unit/nodes/node_build_loop_projection_compute/test_build_loop_projection_dispatch_entrypoint_omn14821.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
