Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix: update _FALLBACK_MATRIX to match new dependency pins [OMN-5099]
  src/omnibase_infra/runtime/version_compatibility.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: standardize pyproject.toml config for cross-repo alignment [OMN-5079]
  pyproject.toml
Due: none

chore: add no-untyped-metadata pre-commit hook and type safety PR checklist [OMN-5063]
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  scripts/check_no_untyped_metadata.py
  tests/scripts/__init__.py
  tests/scripts/test_check_no_untyped_metadata.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(deps): bump core 0.27.1, spi 0.17.0, release 0.20.1 [OMN-5099] (#835)
  pyproject.toml
  src/omnibase_infra/runtime/version_compatibility.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(docs): repair broken pre-commit anchor in CONTRIBUTING.md [OMN-5093]
  CONTRIBUTING.md
Due: onex-validate-markdown-links

fix(lint): narrow blind except clauses and fix ONEX_EXCLUDE placement
  src/omnibase_infra/capabilities/contract_node_capability_extractor.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/mcp/model_mcp_tool_definition.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: add centralized no-untyped-metadata hook from onex_change_control [OMN-5135]
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: onex-validate-contracts

feat(docker): bump runtime plugin pins and add CI checks [OMN-5102][OMN-5108][OMN-5110]
  .github/workflows/plugin-pin-cascade.yml
  .github/workflows/test.yml
  docker/Dockerfile.runtime
Due: none

chore: add centralized no-untyped-metadata hook from onex_change_control [OMN-5135] (#838)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: onex-validate-contracts

feat(docker): bump runtime plugin pins and add CI checks [OMN-5102][OMN-5108][OMN-5110] (#839)
  .github/workflows/plugin-pin-cascade.yml
  .github/workflows/test.yml
  docker/Dockerfile.runtime
Due: none

fix: registration FSM direct-to-active when auto_ack enabled [OMN-5132]
  src/omnibase_infra/nodes/node_registration_orchestrator/services/registration_reducer_service.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  tests/unit/nodes/node_registration_orchestrator/services/test_registration_reducer_service.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): restore local markdown link validator and fix untyped metadata exclusions [OMN-5084]
  .pre-commit-config.yaml
  scripts/validate.py
  scripts/validation/validate_markdown_links.py
  src/omnibase_infra/handlers/mcp/adapter_onex_to_mcp.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/mcp/model_mcp_tool_definition.py
  src/omnibase_infra/runtime/models/model_policy_context.py
  src/omnibase_infra/runtime/models/model_policy_result.py
  tests/unit/validation/test_validate_markdown_links.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(readme): restructure to 7-section OSS format [OMN-5093] (#834)
  CONTRIBUTING.md
  README.md
Due: onex-validate-markdown-links

fix(docker): upgrade PyJWT to clear CVE-2026-32597 and add --no-cache build option [OMN-5136]
  .github/workflows/build-and-push-runtime.yml
  pyproject.toml
  uv.lock
Due: none

fix(docker): increase health check start_period to stop autoheal restart loop [OMN-5095]
  docker/docker-compose.infra.yml
Due: none

fix(docker): upgrade PyJWT to clear CVE-2026-32597 and add --no-cache build option [OMN-5136] (#841)
  .github/workflows/build-and-push-runtime.yml
  pyproject.toml
  uv.lock
Due: none

docs(docker): add runbook timing comment on worker healthcheck [OMN-5095]
  docker/docker-compose.infra.yml
Due: none

fix(docker): increase health check start_period to stop autoheal restart loop [OMN-5095] (#842)
  docker/docker-compose.infra.yml
Due: none

fix(docker): bump runtime memory limits — workers crash-loop at 256MB [OMN-5140]
  docker/docker-compose.infra.yml
Due: none

release: omnibase_infra v0.21.0
  pyproject.toml
  src/omnibase_infra/runtime/version_compatibility.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: bump runtime plugin pins to latest release
  docker/Dockerfile.runtime
Due: none

feat: add omnidash lifecycle script and container error scanner [OMN-5141]
  scripts/container-error-to-linear.py
  scripts/omnidash-lifecycle.sh
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: add _resolve_output_topic() with output_topic_map to DispatchResultApplier [OMN-5132]
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/unit/runtime/test_dispatch_result_applier_topic_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: wire published_events_map into registration orchestrator plugin [OMN-5132]
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(introspection): populate metadata.description from contract [OMN-5132]
  src/omnibase_infra/mixins/mixin_node_introspection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: remove AWAITING_ACK state entirely, always direct-to-active [OMN-5132]
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/services/registration_reducer_service.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  tests/integration/handlers/test_handler_no_publish_constraint.py
  tests/integration/registration/test_registration_visibility.py
  tests/unit/nodes/node_registration_orchestrator/services/test_registration_reducer_service.py
  tests/unit/nodes/node_registration_orchestrator/test_dispatcher_node_introspected.py
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test: add integration tests with real contract for topic routing [OMN-5132]
  tests/unit/runtime/test_dispatch_result_applier_topic_routing.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: add load_published_events_map() for contract-aware topic routing [OMN-5132]
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: add output_topic_map field to ModelDomainPluginConfig [OMN-5132]
  src/omnibase_infra/runtime/models/model_domain_plugin_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(test): update snapshot state test for direct-to-active FSM [OMN-5132]
  tests/integration/projectors/test_snapshot_state_transitions.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: add startup diagnostics for contract topic-map routing [OMN-5132]
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: bump version to 0.21.1 [release]
  pyproject.toml
Due: none

feat: add health-check for published_events_map [OMN-5159]
  src/omnibase_infra/runtime/health/__init__.py
  src/omnibase_infra/runtime/health/health_published_events_map.py
  tests/unit/runtime/health/__init__.py
  tests/unit/runtime/health/test_health_published_events_map.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: add health-check for published_events_map [OMN-5159] (#848)
  src/omnibase_infra/runtime/health/__init__.py
  src/omnibase_infra/runtime/health/health_published_events_map.py
  tests/unit/runtime/health/__init__.py
  tests/unit/runtime/health/test_health_published_events_map.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: wire check_published_events_map_health into runtime health_check() [OMN-5164]
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/health/test_health_published_events_map_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: bump version to 0.21.1 [release] (#847)
  pyproject.toml
Due: none

fix: remove vestigial ONEX_ENV and environment-prefixed topic names [OMN-5189]
  docker/docker-compose.e2e.yml
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_kafka_environment.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  src/omnibase_infra/event_bus/topic_constants.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/registration/model_event_bus_topic_entry.py
  src/omnibase_infra/models/registration/model_node_event_bus_config.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_topic_update.py
  src/omnibase_infra/protocols/protocol_dispatch_engine.py
  src/omnibase_infra/runtime/contract_registration_event_router.py
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/runtime/util_validation.py
  src/omnibase_infra/services/contract_publisher/config.py
  src/omnibase_infra/services/service_timeout_emitter.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/event_bus/test_dlq_integration.py
  tests/unit/event_bus/test_kafka_event_bus.py
  tests/unit/event_bus/test_topic_constants.py
  tests/unit/mixins/test_mixin_node_introspection_event_bus.py
  tests/unit/runtime/test_kernel.py
  tests/unit/runtime/test_message_dispatch_engine.py
  tests/unit/services/contract_publisher/test_config.py
  tests/unit/services/contract_publisher/test_service.py
  tests/unit/services/test_timeout_emitter.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: remove vestigial ONEX_ENV and environment-prefixed topic names [OMN-5189] (#860)
  docker/docker-compose.e2e.yml
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_kafka_environment.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  src/omnibase_infra/event_bus/topic_constants.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/registration/model_event_bus_topic_entry.py
  src/omnibase_infra/models/registration/model_node_event_bus_config.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_topic_update.py
  src/omnibase_infra/protocols/protocol_dispatch_engine.py
  src/omnibase_infra/runtime/contract_registration_event_router.py
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/runtime/util_validation.py
  src/omnibase_infra/services/contract_publisher/config.py
  src/omnibase_infra/services/service_timeout_emitter.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/event_bus/test_dlq_integration.py
  tests/unit/event_bus/test_kafka_event_bus.py
  tests/unit/event_bus/test_topic_constants.py
  tests/unit/mixins/test_mixin_node_introspection_event_bus.py
  tests/unit/runtime/test_kernel.py
  tests/unit/runtime/test_message_dispatch_engine.py
  tests/unit/services/contract_publisher/test_config.py
  tests/unit/services/contract_publisher/test_service.py
  tests/unit/services/test_timeout_emitter.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(utils): add ONEX topic format validator module [OMN-5205]
  src/omnibase_infra/utils/util_onex_topic_format.py
  tests/unit/utils/test_util_onex_topic_format.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
