Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-11069): wire boot_overlay to typed ModelConfigRequirements
  src/omnibase_infra/runtime/overlay/boot_overlay.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-10814): add deploy gate contract
  contracts/OMN-10814.yaml
Due: onex-validate-contracts

test(OMN-10814): address CodeRabbit nitpicks — env sentinels and resolve() removal
  tests/integration/nodes/test_node_merge_gate_effect_config_injection_integration.py
  tests/unit/nodes/node_merge_gate_effect/handlers/test_handler_upsert_merge_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-11294): capture delegate skill stability proof
  docs/operations/OMN-11294_delegate_skill_stability_runtime_hot_patch_proof.md
Due: onex-validate-markdown-links

ci(OMN-10475): wire zone-filter caller — skip heavy matrix on docs / declarative-evidence diffs (#1646)
  .github/workflows/ci.yml
Due: none

feat(OMN-11142): add OmniGate check executor (#1626)
  .github/workflows/omnigate.yml
  pyproject.toml
  scripts/ci/test_selection_adjacency.yaml
  src/omnibase_infra/gate/__init__.py
  src/omnibase_infra/gate/action_verify.py
  src/omnibase_infra/gate/executor.py
  src/omnibase_infra/gate/signer.py
  src/omnibase_infra/gate/validator_registry.py
  tests/integration/gate/__init__.py
  tests/integration/gate/test_omnigate_executor_integration.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/gate/__init__.py
  tests/unit/gate/test_action_verify.py
  tests/unit/gate/test_executor.py
  tests/unit/gate/test_signer.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-11294): capture delegate skill stability proof (#1676)
  docs/operations/OMN-11294_delegate_skill_stability_runtime_hot_patch_proof.md
Due: onex-validate-markdown-links

fix(OMN-10814): add config injection path for LINEAR_API_KEY in node_merge_gate_effect (#1647)
  contracts/OMN-10814.yaml
  src/omnibase_infra/nodes/node_merge_gate_effect/contract.yaml
  src/omnibase_infra/nodes/node_merge_gate_effect/handlers/handler_upsert_merge_gate.py
  tests/integration/nodes/test_node_merge_gate_effect_config_injection_integration.py
  tests/unit/nodes/node_merge_gate_effect/handlers/test_handler_upsert_merge_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10972): unblock hardened infra gates
  .github/workflows/ci.yml
  src/omnibase_infra/adapters/protocol_postgres_adapter.py
  src/omnibase_infra/nodes/node_registry_effect/contract.yaml
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11161,OMN-11162,OMN-11163): flip 3 advisory gates to blocking in omnibase_infra
  .github/workflows/ci.yml
  .github/workflows/omni-standards-compliance.yml
Due: none

fix(OMN-10972): align deploy contract interface enum
  contracts/OMN-10972.yaml
Due: onex-validate-contracts

test(OMN-11163): update migration-conflict-check test for blocking gate
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10972): repair hardened gate checks
  .github/workflows/omni-standards-compliance.yml
  contracts/OMN-10972.yaml
  contracts/OMN-11161.yaml
  contracts/OMN-11162.yaml
  contracts/OMN-11163.yaml
  tests/ci/test_ci_workflow_resilience.py
  tests/integration/test_registry_effect_protocol_dependencies.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11069): fix overlay resolver integration tests — pass ModelConfigRequirements not Path
  tests/integration/overlay/conftest.py
  tests/integration/overlay/test_overlay_end_to_end.py
  tests/integration/overlay/test_overlay_resolver_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10972): flip advisory gates to blocking in omnibase_infra (#1648)
  .github/workflows/ci.yml
  .github/workflows/omni-standards-compliance.yml
  contracts/OMN-10972.yaml
  contracts/OMN-11161.yaml
  contracts/OMN-11162.yaml
  contracts/OMN-11163.yaml
  src/omnibase_infra/adapters/protocol_postgres_adapter.py
  src/omnibase_infra/nodes/node_registry_effect/contract.yaml
  tests/ci/test_ci_workflow_resilience.py
  tests/integration/test_registry_effect_protocol_dependencies.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11069): resolve 5 CodeRabbit threads — freeze resolved mapping, hash includes requiredness, correlation context on missing config, validator resolution fail-closed, redact gate results
  .github/workflows/omnigate.yml
  src/omnibase_infra/gate/validator_registry.py
  src/omnibase_infra/runtime/overlay/model_frozen_str_mapping_validator.py
  src/omnibase_infra/runtime/overlay/model_overlay_resolution_result.py
  src/omnibase_infra/runtime/overlay/overlay_config_resolver.py
  tests/integration/gate/test_omnigate_executor_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11069): fix mypy type error in _contract_requirements_hash sorted key
  src/omnibase_infra/runtime/overlay/overlay_config_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11069): extend onboarding to generate overlay files (#1619)
  contracts/OMN-11069.yaml
  docker/Dockerfile.runtime
  src/omnibase_infra/nodes/node_onboarding_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_onboarding_orchestrator/handlers/handler_onboarding.py
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/model_onboarding_input.py
  src/omnibase_infra/runtime/overlay/__init__.py
  src/omnibase_infra/runtime/overlay/errors.py
  src/omnibase_infra/runtime/overlay/model_overlay_env_injection_result.py
  src/omnibase_infra/runtime/overlay/model_overlay_resolution_result.py
  src/omnibase_infra/runtime/overlay/overlay_config_resolver.py
  src/omnibase_infra/runtime/overlay/overlay_file_loader.py
  src/omnibase_infra/runtime/overlay/overlay_from_env.py
  src/omnibase_infra/runtime/overlay/overlay_writer.py
  tests/integration/runtime/test_overlay_config_resolver_integration.py
  tests/integration/runtime/test_overlay_file_loader_integration.py
  tests/unit/nodes/node_onboarding_orchestrator/test_handler_onboarding_interactive.py
  tests/unit/runtime/overlay/conftest.py
  tests/unit/runtime/overlay/test_overlay_config_resolver.py
  tests/unit/runtime/overlay/test_overlay_file_loader.py
  tests/unit/runtime/overlay/test_overlay_from_env.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11200): add projection freshness SLA monitor (#1642)
  contracts/OMN-11200.yaml
  scripts/check_contract_topic_parity.py
  src/omnibase_infra/models/health/model_projection_degraded_event.py
  src/omnibase_infra/models/health/model_projection_recovered_event.py
  src/omnibase_infra/runtime/freshness_monitor.py
  src/omnibase_infra/topics/service_topic_registry.py
  src/omnibase_infra/topics/topic_keys.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/test_freshness_monitor_integration.py
  tests/unit/runtime/test_freshness_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11247): inject runtime manifest postgres pool
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/integration/test_runtime_host_dynamic_registration.py
  tests/unit/runtime/test_handler_wiring_resolver_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11247): add integration test for manifest postgres_pool injection
  tests/integration/runtime/test_manifest_pool_injection_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11247): harden runtime suite harness
  tests/integration/runtime/test_auto_wiring_resolver_end_to_end.py
  tests/unit/runtime/test_handler_wiring_resolver_integration.py
  tests/unit/runtime/test_kernel.py
  tests/unit/runtime/test_policy_registry_performance.py
  tests/unit/runtime/test_runtime_host_dynamic_registration.py
  tests/unit/scripts/test_pull_all.py
  tests/unit/services/session_registry/test_session_graph_projector.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11247): remove unused AsyncMock import (CodeQL finding)
  tests/integration/runtime/test_manifest_pool_injection_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11247): inject runtime manifest postgres pool (#1677)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/integration/runtime/test_auto_wiring_resolver_end_to_end.py
  tests/integration/runtime/test_manifest_pool_injection_integration.py
  tests/integration/test_runtime_host_dynamic_registration.py
  tests/unit/runtime/test_handler_wiring_resolver_integration.py
  tests/unit/runtime/test_kernel.py
  tests/unit/runtime/test_policy_registry_performance.py
  tests/unit/runtime/test_runtime_host_dynamic_registration.py
  tests/unit/scripts/test_pull_all.py
  tests/unit/services/session_registry/test_session_graph_projector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-11299): add deploy-gate contract and integration test for composite upsert key
  contracts/OMN-11299.yaml
  tests/integration/test_sync_db_adapter_composite_conflict_key.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11299): support composite projection upsert keys
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_db_injection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9120): use docker exec for psql in compose mode, drop sudo requirement
  .github/workflows/reusable-runtime-boot.yml
Due: none

fix(OMN-9120): avoid inherited secrets in boot smoke
  .github/workflows/ci.yml
Due: none

test(OMN-9120): integration tests for InvalidPartitionsError retry in consumer start
  tests/integration/event_bus/test_kafka_invalid_partitions_retry_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9120): wait for host-side postgres+kafka ports before launching runtime
  .github/workflows/reusable-runtime-boot.yml
Due: none

fix(OMN-9120): remove non-existent tests/unit/protocols/ from adjacency map
  scripts/ci/test_selection_adjacency.yaml
  tests/unit/scripts/ci/test_detect_test_paths.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
