Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

ci(OMN-18200): pin the sibling rebuild guard's script checkout to its own workflow commit
  .github/workflows/dependency-cascade.yml
  .github/workflows/runtime-rebuild-trigger-reusable.yml
  tests/ci/test_reusable_inner_checkout_ref_omn18200.py
  tests/ci/test_runtime_rebuild_sibling_workflow_omn18268.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18413): update the pinned-sha regression test for the re-pin
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-18413): re-pin the orphaned omniclaude reusable references (#3598)
  .github/required-checks.yaml
  .github/workflows/call-reject-skip.yml
  .github/workflows/deploy-gate.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-18412): the router refuses to place a private repository on a hosted runner (#3596)
  .github/workflows/runner-route-probe.yml
  .github/workflows/runner-route-reusable.yml
  scripts/ci/runner_route_decision.py
  tests/ci/test_incident_replay_omn18031.py
  tests/ci/test_runner_route_decision.py
  tests/ci/test_runner_route_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ops(OMN-18411): cap the .201 omnibase-ci fleet at 60 runners (#3599)
  config/runner_fleet.yaml
  docker/docker-compose.runners.yml
  tests/ci/test_runner_kubeconfig_mount.py
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18389): record the link-5 bounded wait in node_chain_canary_effect's contract
  src/omnibase_infra/nodes/node_chain_canary_effect/contract.yaml
Due: onex-validate-contracts

ci(OMN-18200): pin the sibling rebuild guard's script checkout to its own workflow commit (#3601)
  .github/workflows/dependency-cascade.yml
  .github/workflows/runtime-rebuild-trigger-reusable.yml
  tests/ci/test_reusable_inner_checkout_ref_omn18200.py
  tests/ci/test_runtime_rebuild_sibling_workflow_omn18268.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10856): classify ONEX_IMAGE_DIGEST/ONEX_DEPLOYMENT_SHA as K8S_ONLY_KEYS
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18389): the chain canary waits for the writer it grades, and hop 0 publishes under the chain's own identity (#3600)
  src/omnibase_infra/nodes/node_chain_canary_effect/contract.yaml
  src/omnibase_infra/nodes/node_chain_canary_effect/handlers/handler_chain_canary.py
  src/omnibase_infra/runtime/service_pattern_b_broker.py
  tests/integration/runtime/test_chain_head_identity_seam_omn18389.py
  tests/unit/nodes/node_chain_canary_effect/test_handler_chain_canary_ledger.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ops(OMN-18415): give the omnibase-ci runner fleet the local-LLM HMAC key
  docker/docker-compose.runners.yml
  scripts/deploy-runners.sh
  tests/ci/test_runner_kubeconfig_mount.py
  tests/ci/test_runner_local_llm_secret_env_omn18415.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ops(OMN-18415): add the serial, busy-checked rolling mode the env change needs
  scripts/deploy-runners.sh
  tests/unit/scripts/test_deploy_runners_rolling_mode_omn18415.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18412): the CI runner routing decision is a COMPUTE node, declared by its contract
  .github/workflows/runner-route-reusable.yml
  config/runner_routing_policy.yaml
  scripts/audit-runner-routing.py
  scripts/ci/infra-node-allowlist.txt
  scripts/ci/runner_route_decision.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/__init__.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/contract.yaml
  src/omnibase_infra/nodes/node_ci_runner_route_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/handlers/handler_ci_runner_route.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/models/__init__.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/models/enum_ci_runner_route_decision.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/models/enum_ci_runner_route_force.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/models/enum_ci_runner_route_reason.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/models/enum_ci_runner_route_visibility.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/models/model_ci_runner_fleet_observation.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/models/model_ci_runner_lab_host.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/models/model_ci_runner_lab_observation.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/models/model_ci_runner_route_decision.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/models/model_ci_runner_route_evidence.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/models/model_ci_runner_route_policy.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/models/model_ci_runner_route_request.py
  src/omnibase_infra/nodes/node_ci_runner_route_compute/node.py
  tests/ci/test_incident_replay_omn18031.py
  tests/ci/test_node_ci_runner_route_contract.py
  tests/ci/test_runner_route_decision.py
  tests/ci/test_runner_route_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

ops(OMN-18415): add the canary limit to the rolling fleet deploy
  scripts/deploy-runners.sh
  tests/unit/scripts/test_deploy_runners_rolling_mode_omn18415.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18414): the evidence closer reads the declared Gate: grammar instead of its own
  src/omnibase_infra/contracts/gate_binding_grammar.json
  src/omnibase_infra/gate_binding/__init__.py
  src/omnibase_infra/gate_binding/enum_gate_binding_probe.py
  src/omnibase_infra/gate_binding/grammar.py
  src/omnibase_infra/gate_binding/model_gate_binding.py
  src/omnibase_infra/gate_binding/model_gate_binding_accepted_fixture.py
  src/omnibase_infra/gate_binding/model_gate_binding_fixtures.py
  src/omnibase_infra/gate_binding/model_gate_binding_form.py
  src/omnibase_infra/gate_binding/model_gate_binding_grammar.py
  src/omnibase_infra/gate_binding/model_gate_binding_line_fixture.py
  src/omnibase_infra/gate_binding/model_gate_binding_normalization.py
  src/omnibase_infra/gate_binding/model_gate_binding_rejected_fixture.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_gate_binding_grammar.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_16106_unconfirmed_readback_is_a_refusal.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18412): exercise the routing decision as CI invokes it
  tests/integration/test_ci_runner_route_cli_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10856): clarify blank build identity placeholders
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ops(OMN-18415): give the omnibase-ci runner fleet the local-LLM HMAC key (#3603)
  docker/docker-compose.runners.yml
  scripts/deploy-runners.sh
  tests/ci/test_runner_kubeconfig_mount.py
  tests/ci/test_runner_local_llm_secret_env_omn18415.py
  tests/unit/scripts/test_deploy_runners_rolling_mode_omn18415.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18414): integration coverage for the gate-binding conjunct
  tests/integration/nodes/test_gate_binding_conjunct_omn18414.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18418): the delegate lane probe uses the runtime's own Kafka client family
  src/omnibase_infra/backends/backend_probe.py
  tests/unit/backends/test_omn18418_lane_probe_client_family.py
  tests/unit/event_bus/test_omn18012_confluent_admin_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10856): classify ONEX_IMAGE_DIGEST/ONEX_DEPLOYMENT_SHA as K8S_ONLY_KEYS (#3602)
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18412): an expression in a workflow_call output description fails every caller at startup
  .github/workflows/runner-route-reusable.yml
  tests/ci/test_runner_route_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18418): prove the lane probe against a real auth-required broker
  tests/integration/customer_path/test_omn18418_lane_probe_against_a_real_broker.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18412): the route job must sync the environment, or it reports green while inert
  .github/workflows/runner-route-probe.yml
  .github/workflows/runner-route-reusable.yml
  tests/ci/test_runner_route_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-18414): record the gate-binding grammar change in the node contract
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18418): the delegate lane probe uses the runtime's own Kafka client family, so an MSK IAM lane can be asked about consumers (#3606)
  src/omnibase_infra/backends/backend_probe.py
  tests/integration/customer_path/test_omn18418_lane_probe_against_a_real_broker.py
  tests/unit/backends/test_omn18418_lane_probe_client_family.py
  tests/unit/event_bus/test_omn18012_confluent_admin_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18412): register the routing node's entry point
  pyproject.toml
Due: none

fix(OMN-18414): declare the gate_binding module in the test-selection adjacency map
  scripts/ci/test_selection_adjacency.yaml
Due: onex-validate-contracts

chore(OMN-18412): refresh the dispatch-parity baseline for the new contract
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
Due: none

chore(OMN-17292): advance omnimarket contract pin to 0ae90c5f2278 [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

fix(OMN-18419): the delegation chain records its causal edges, and the replay grades the tree it declares
  .github/workflows/chain-canary.yml
  scripts/check_subscribe_wiring_health.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/chain_replay.py
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/contract.yaml
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/handlers/handler_delegation_chain_ledger.py
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/models/__init__.py
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/models/model_declared_chain_hop.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/contract.yaml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_pattern_b_broker.py
  tests/integration/runtime/test_chain_causal_edge_seam_omn18419.py
  tests/unit/nodes/node_delegation_chain_ledger_effect/test_chain_replay.py
  tests/unit/nodes/node_delegation_chain_ledger_effect/test_handler_delegation_chain_ledger.py
  tests/unit/nodes/test_node_ledger_projection_compute.py
  tests/unit/runtime/test_ledger_projection_dispatch_reachability.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18420): a lab-pass receipt is this job's own, not one left on the shared host
  .github/workflows/runtime-rebuild-trigger-reusable.yml
  .github/workflows/runtime-rebuild-trigger.yml
  config/ci_evidence_policy.yaml
  scripts/ci/lab_pass_receipt.py
  tests/ci/test_lab_pass_receipt_isolation_omn18420.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18414): the evidence closer reads the declared Gate: grammar instead of its own (#3605)
  scripts/ci/test_selection_adjacency.yaml
  src/omnibase_infra/contracts/gate_binding_grammar.json
  src/omnibase_infra/gate_binding/__init__.py
  src/omnibase_infra/gate_binding/enum_gate_binding_probe.py
  src/omnibase_infra/gate_binding/grammar.py
  src/omnibase_infra/gate_binding/model_gate_binding.py
  src/omnibase_infra/gate_binding/model_gate_binding_accepted_fixture.py
  src/omnibase_infra/gate_binding/model_gate_binding_fixtures.py
  src/omnibase_infra/gate_binding/model_gate_binding_form.py
  src/omnibase_infra/gate_binding/model_gate_binding_grammar.py
  src/omnibase_infra/gate_binding/model_gate_binding_line_fixture.py
  src/omnibase_infra/gate_binding/model_gate_binding_normalization.py
  src/omnibase_infra/gate_binding/model_gate_binding_rejected_fixture.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  tests/integration/nodes/test_gate_binding_conjunct_omn18414.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_gate_binding_grammar.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_16106_unconfirmed_readback_is_a_refusal.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
