Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

Path conditions:
  black-format: any of: \.py$, but not: ^(archived/|tests/fixtures/).*$
  isort-format: any of: \.py$, but not: ^(archived/|tests/fixtures/)
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$

fix(handlers): return correlation_id as UUID, not string (OMN-252)
  src/omnibase_infra/handlers/handler_db.py
  src/omnibase_infra/handlers/handler_http.py
  tests/unit/handlers/test_handler_db.py
  tests/unit/handlers/test_handler_http.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(runtime): implement BaseRuntimeHostProcess infrastructure wrapper (OMN-249)
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/runtime_host_process.py
  src/omnibase_infra/runtime/wiring.py
  src/omnibase_infra/validation/infra_validators.py
  tests/unit/runtime/__init__.py
  tests/unit/runtime/test_runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): add exception context logging to health check (OMN-249)
  src/omnibase_infra/runtime/runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(tests): update INFRA_MAX_UNIONS test to expect 30 (OMN-249)
  tests/unit/validation/test_validator_defaults.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): add proper infrastructure error handling with ModelInfraErrorContext (OMN-249)
  src/omnibase_infra/enums/enum_infra_transport_type.py
  src/omnibase_infra/errors/infra_errors.py
  src/omnibase_infra/runtime/runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): address PR #30 review feedback for RuntimeHostProcess (OMN-249)
  src/omnibase_infra/runtime/runtime_host_process.py
  tests/unit/runtime/test_runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): address additional PR #30 review feedback (OMN-249)
  src/omnibase_infra/runtime/runtime_host_process.py
  tests/unit/runtime/test_runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): address PR #30 nitpicks and add degraded health state (OMN-249)
  src/omnibase_infra/runtime/runtime_host_process.py
  src/omnibase_infra/runtime/wiring.py
  tests/unit/runtime/test_runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(runtime): add contract-driven kernel bootstrap entrypoint (OMN-468)
  contracts/runtime/runtime_config.yaml
  pyproject.toml
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/kernel.py
  tests/unit/runtime/test_kernel.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): address PR #31 review feedback for kernel bootstrap (OMN-468)
  src/omnibase_infra/runtime/kernel.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_enabled_protocols_config.py
  src/omnibase_infra/runtime/models/model_event_bus_config.py
  src/omnibase_infra/runtime/models/model_logging_config.py
  src/omnibase_infra/runtime/models/model_runtime_config.py
  src/omnibase_infra/runtime/models/model_shutdown_config.py
  tests/unit/runtime/test_kernel.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): address PR #31 release-ready feedback (OMN-468)
  contracts/runtime/runtime_config.yaml
  src/omnibase_infra/runtime/kernel.py
  src/omnibase_infra/runtime/models/model_enabled_protocols_config.py
  src/omnibase_infra/runtime/models/model_event_bus_config.py
  src/omnibase_infra/runtime/models/model_logging_config.py
  src/omnibase_infra/runtime/models/model_runtime_config.py
  src/omnibase_infra/runtime/models/model_shutdown_config.py
  tests/unit/runtime/test_kernel.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): remove backwards compatibility property per zero-compat policy (OMN-468)
  src/omnibase_infra/runtime/kernel.py
  src/omnibase_infra/runtime/models/model_runtime_config.py
  tests/unit/runtime/test_kernel.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): address PR #31 final review feedback (OMN-468)
  src/omnibase_infra/runtime/kernel.py
  tests/unit/runtime/test_kernel.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): address PR #31 release-ready final review (OMN-468)
  src/omnibase_infra/runtime/kernel.py
  src/omnibase_infra/runtime/models/model_runtime_config.py
  tests/unit/runtime/test_kernel.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(docker): add runtime Docker infrastructure (OMN-312, OMN-313)
  docker/.dockerignore
  docker/.env.example
  docker/Dockerfile.runtime
  docker/docker-compose.runtime.yml
Due: none

fix(docker): use internal network for standalone operation
  .claude/settings.local.json
  docker/docker-compose.runtime.yml
Due: none

feat(runtime): add HTTP health server for Docker health checks
  docker/docker-compose.runtime.yml
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/health_server.py
  src/omnibase_infra/runtime/kernel.py
  tests/unit/runtime/test_health_server.py
  tests/unit/runtime/test_kernel.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(docker): address PR #32 review feedback
  docker/.dockerignore
  docker/Dockerfile.runtime
Due: none

fix(docker): address PR #32 review feedback - security and OCI labels
  docker/.dockerignore
  docker/.env.example
  docker/Dockerfile.runtime
  docker/docker-compose.runtime.yml
Due: none

fix(docker): address all PR #32 review issues - security, performance, docs
  LICENSE
  docker/.dockerignore
  docker/.env.example
  docker/Dockerfile.runtime
  src/omnibase_infra/runtime/health_server.py
  src/omnibase_infra/runtime/kernel.py
  tests/unit/docker/__init__.py
  tests/unit/docker/test_docker_performance.py
  tests/unit/docker/test_docker_security.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(docker): address all PR #32 review issues - security, performance, docs
  docker/README.md
  src/omnibase_infra/runtime/health_server.py
  src/omnibase_infra/runtime/kernel.py
  src/omnibase_infra/runtime/validation.py
  src/omnibase_infra/utils/__init__.py
  src/omnibase_infra/utils/correlation.py
  tests/integration/docker/__init__.py
  tests/integration/docker/conftest.py
  tests/integration/docker/test_docker_integration.py
  tests/unit/runtime/test_kernel.py
  tests/unit/runtime/test_validation.py
  tests/unit/utils/__init__.py
  tests/unit/utils/test_correlation.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): enhance port validation and improve error reporting
  src/omnibase_infra/runtime/health_server.py
  src/omnibase_infra/runtime/kernel.py
  tests/unit/runtime/test_kernel.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(ci): separate Docker tests into dedicated workflow
  .github/workflows/docker-build.yml
  .github/workflows/test.yml
Due: none

fix(docker): address all PR #32 review issues - final round
  .github/workflows/docker-build.yml
  .github/workflows/test.yml
  docker/.env.example
  docker/Dockerfile.runtime
  src/omnibase_infra/runtime/kernel.py
  tests/integration/docker/conftest.py
  tests/integration/docker/test_docker_integration.py
  tests/unit/docker/test_docker_security.py
  tests/unit/runtime/test_kernel.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(docker): address all PR #32 review issues - release ready
  .github/workflows/docker-build.yml
  README.md
  contracts/.gitkeep
  docker/.dockerignore
  docker/.env.example
  docker/README.md
  docker/docker-compose.runtime.yml
  src/omnibase_infra/runtime/kernel.py
  src/omnibase_infra/runtime/validation.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(docker): address remaining PR #32 review issues - final cleanup
  .github/workflows/docker-build.yml
  docker/.dockerignore
  docker/.env.example
  docker/docker-compose.runtime.yml
Due: none

fix(docker): address all PR #32 review issues - release ready
  .github/workflows/docker-build.yml
  .github/workflows/test.yml
  docker/.dockerignore
  docker/.env.example
  docker/README.md
  docker/docker-compose.runtime.yml
  src/omnibase_infra/runtime/kernel.py
  tests/integration/docker/test_docker_integration.py
  tests/unit/docker/conftest.py
  tests/unit/docker/test_docker_performance.py
  tests/unit/docker/test_docker_security.py
  tests/unit/runtime/test_health_server.py
  tests/unit/runtime/test_kernel.py
  tests/unit/runtime/test_validation.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

test(kernel): add non-numeric port validation edge case tests
  tests/unit/runtime/test_kernel.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

refactor(runtime): align handler prefixes with canonical operation namespaces
  src/omnibase_infra/enums/enum_infra_transport_type.py
  src/omnibase_infra/errors/infra_errors.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/handler_registry.py
  src/omnibase_infra/runtime/models/model_enabled_protocols_config.py
  src/omnibase_infra/runtime/runtime_host_process.py
  src/omnibase_infra/runtime/wiring.py
  tests/unit/errors/test_infra_errors.py
  tests/unit/runtime/test_handler_registry.py
  tests/unit/runtime/test_health_server.py
  tests/unit/runtime/test_runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(test): update test expectation for valkey enum serialization
  tests/unit/errors/test_infra_errors.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

ci: remove smoke tests, run full test suite directly
  .github/workflows/test.yml
Due: none

fix(pr-review): address all PR #33 nitpicks - release ready
  CHANGELOG.md
  contracts/runtime/runtime_config.yaml
  src/omnibase_infra/handlers/__init__.py
  src/omnibase_infra/handlers/handler_db.py
  src/omnibase_infra/handlers/models/__init__.py
  src/omnibase_infra/handlers/models/model_db_describe_response.py
  src/omnibase_infra/handlers/models/model_db_health_response.py
  src/omnibase_infra/handlers/models/model_db_query_payload.py
  src/omnibase_infra/handlers/models/model_db_query_response.py
  src/omnibase_infra/runtime/handler_registry.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_enabled_protocols_config.py
  src/omnibase_infra/runtime/models/model_protocol_registration_config.py
  tests/unit/docker/test_docker_security.py
  tests/unit/errors/test_infra_errors.py
  tests/unit/handlers/test_handler_db.py
  tests/unit/runtime/test_handler_registry.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

docs: update remaining REDIS→VALKEY docstring references
  src/omnibase_infra/errors/infra_errors.py
  src/omnibase_infra/runtime/handler_registry.py
  tests/unit/runtime/test_validation.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): critical runtime fixes for handler shutdown, health aggregation, and routing validation
  .gitignore
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/infra_errors.py
  src/omnibase_infra/runtime/runtime_host_process.py
  tests/unit/runtime/test_handler_registry.py
  tests/unit/runtime/test_runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): address PR #34 review feedback - performance and error handling
  src/omnibase_infra/runtime/runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(runtime): make health check timeout configurable via config dict
  src/omnibase_infra/runtime/runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(runtime): add parallel shutdown, timeout validation, and shutdown priority
  src/omnibase_infra/runtime/runtime_host_process.py
  tests/integration/runtime/__init__.py
  tests/integration/runtime/test_shutdown_health_integration.py
  tests/unit/runtime/test_runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

refactor(runtime): extract ProtocolLifecycleExecutor from RuntimeHostProcess
  src/omnibase_infra/runtime/protocol_lifecycle_executor.py
  src/omnibase_infra/runtime/runtime_host_process.py
  tests/unit/runtime/test_protocol_lifecycle_executor.py
  tests/unit/runtime/test_runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(runtime): add minimal envelope validation before dispatch [OMN-817]
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/infra_errors.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/envelope_validator.py
  src/omnibase_infra/runtime/runtime_host_process.py
  tests/unit/runtime/test_envelope_validator.py
  tests/unit/runtime/test_runtime_host_process.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

chore: migrate from black/isort to ruff for formatting and import sorting
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/envelope_validator.py
  src/omnibase_infra/runtime/runtime_host_process.py
  tests/unit/docker/test_docker_security.py
  tests/unit/runtime/test_envelope_validator.py
  tests/unit/runtime/test_protocol_lifecycle_executor.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports
