Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore(OMN-12527): delete dead IntentExecutionRouter
  src/omnibase_infra/runtime/intent_execution_router.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_intent_execution_summary.py
  src/omnibase_infra/runtime/protocols/__init__.py
  src/omnibase_infra/runtime/protocols/protocol_intent_executor.py
  tests/integration/registration/e2e/test_two_way_registration_e2e.py
  tests/unit/models/test_model_serialization_roundtrip.py
  tests/unit/runtime/test_intent_execution_router.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12531): pass kafka api version to pattern b terminal consumer
  src/omnibase_infra/runtime/service_pattern_b_broker.py
  tests/unit/runtime/test_service_pattern_b_broker.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12523): configure kafka client api version
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  tests/unit/event_bus/test_kafka_config_api_version.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12448): do not retry consumer startup cancellation
  src/omnibase_infra/event_bus/event_bus_kafka.py
  tests/integration/event_bus/test_kafka_concurrent_subscribe_startup.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12448): retry standards uv installs
  .github/workflows/omni-standards-compliance.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12448): drop duplicate UV_HTTP_TIMEOUT env key in omni-standards
  .github/workflows/omni-standards-compliance.yml
Due: none

fix(OMN-12448): bound consumer-startup concurrency + retry-then-raise in EventBusKafka
  src/omnibase_infra/event_bus/configs/kafka_event_bus_config.yaml
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  tests/integration/event_bus/test_kafka_concurrent_subscribe_startup.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12448): retry typed consumer startup failures
  src/omnibase_infra/event_bus/event_bus_kafka.py
  tests/integration/event_bus/test_kafka_concurrent_subscribe_startup.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-7466): ruff format runtime boot schema test
  tests/ci/test_reusable_runtime_boot_schema.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-7466): install compose plugin for runtime boot
  .github/workflows/reusable-runtime-boot.yml
  tests/ci/test_reusable_runtime_boot_schema.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-7466): harden redpanda boot diagnostics
  .github/workflows/reusable-runtime-boot.yml
  tests/ci/test_reusable_runtime_boot_schema.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12416): clear dispatch review blockers
  .github/workflows/security-scan.yml
  src/omnibase_infra/runtime/message_dispatch_engine.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/ci/test_ci_workflow_resilience.py
  tests/integration/test_auto_wiring_real_manifest.py
  tests/unit/runtime/test_message_dispatch_engine_type_scoping.py
  tests/unit/runtime/test_service_dispatch_result_applier.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12416): scope CodeQL to source paths
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12416): regenerate runner image identity lock after shared-env change
  docker/runners/runner-image.lock.json
Due: none

ci(OMN-12416): retry runtime plugin dependency installs
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12416): retry boundary sibling dependency install
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12416): extend architecture handshake timeout budget
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12416): type-scope multi-handler dispatch + per-handler result application
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/message_dispatch_engine.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/runtime/auto_wiring/test_handler_wiring_payload_type_matcher.py
  tests/unit/runtime/test_message_dispatch_engine_type_scoping.py
  tests/unit/runtime/test_service_dispatch_result_applier.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12416): retry runtime docker uv sync
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12416): retry runtime torch CPU wheel installs
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12416): harden retrying uv installs
  .github/actions/setup-python-uv/action.yml
  .github/workflows/docker-build.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-12416): align integration sentinels with current registry surfaces
  tests/integration/test_auto_wiring_real_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12528): cap stability topic provisioning
  contracts/services/runtime_policy.contract.yaml
  docker/docker-compose.stability-test.yml
  docker/runtime-policy.env
  scripts/render_runtime_policy_env.py
  src/omnibase_infra/runtime/models/model_runtime_profile_policy.py
  tests/ci/test_runtime_policy_contract.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-12416): harden runner image tarball downloads
  docker/runners/Dockerfile
  tests/ci/test_runner_image_node24_floor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12448): bound consumer-startup concurrency + retry-then-raise in EventBusKafka (#1795)
  .github/workflows/omni-standards-compliance.yml
  src/omnibase_infra/event_bus/configs/kafka_event_bus_config.yaml
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  tests/ci/test_ci_workflow_resilience.py
  tests/integration/event_bus/test_kafka_concurrent_subscribe_startup.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12444): define stability session health runtime contract
  docker/Dockerfile.runtime
  docker/docker-compose.stability-test.yml
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/docker/test_runtime_session_health_tools.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12416): type-scope multi-handler dispatch + per-handler result application (#1781)
  .github/actions/setup-python-uv/action.yml
  .github/workflows/docker-build.yml
  .github/workflows/security-scan.yml
  docker/runners/Dockerfile
  docker/runners/runner-image.lock.json
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/message_dispatch_engine.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/ci/test_ci_workflow_resilience.py
  tests/ci/test_runner_image_node24_floor.py
  tests/integration/test_auto_wiring_real_manifest.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_payload_type_matcher.py
  tests/unit/runtime/test_message_dispatch_engine_type_scoping.py
  tests/unit/runtime/test_service_dispatch_result_applier.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12449): hot-load market nodes — shared trusted-namespace constant + resolve handler from handler_routing (#1796)
  src/omnibase_infra/runtime/kafka_contract_source.py
  src/omnibase_infra/runtime/runtime_host_process.py
  tests/ci/test_ci_workflow_resilience.py
  tests/unit/runtime/test_kafka_contract_source.py
  tests/unit/runtime/test_live_contract_materialization.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12444): require explicit stability infra selector env
  docker/docker-compose.stability-test.yml
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12444): define stability session health runtime contract (#1794)
  docker/Dockerfile.runtime
  docker/docker-compose.stability-test.yml
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/docker/test_runtime_session_health_tools.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-12531): make kafka api version config tests self-contained
  tests/unit/event_bus/test_kafka_config_api_version.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

style(OMN-12531): format kafka api version tests
  tests/unit/event_bus/test_kafka_config_api_version.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12531): pass Kafka API version to Pattern B terminal consumer (#1810)
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  src/omnibase_infra/runtime/service_pattern_b_broker.py
  tests/unit/event_bus/test_kafka_config_api_version.py
  tests/unit/runtime/test_service_pattern_b_broker.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12522): advertise stability broker on connected network
  contracts/OMN-12522.yaml
  docker/docker-compose.stability-test.yml
  docs/runbooks/stability-test-runtime-lane.md
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
