Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(OMN-11550): add contract validation compute node
  pyproject.toml
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/nodes/node_contract_validate_compute/__init__.py
  src/omnibase_infra/nodes/node_contract_validate_compute/contract.yaml
  src/omnibase_infra/nodes/node_contract_validate_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_contract_validate_compute/handlers/handler_contract_validate.py
  src/omnibase_infra/nodes/node_contract_validate_compute/models/__init__.py
  src/omnibase_infra/nodes/node_contract_validate_compute/models/model_contract_validate_input.py
  src/omnibase_infra/nodes/node_contract_validate_compute/node.py
  tests/unit/nodes/node_contract_validate_compute/test_handler_contract_validate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

test(OMN-11550): add contract validate integration coverage
  tests/integration/test_omn_11550_contract_validate_compute.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11548): add invariant evaluation compute node
  pyproject.toml
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/__init__.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/contract.yaml
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/evaluator_invariant.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/handlers/handler_invariant_evaluate.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/models/__init__.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/models/model_invariant_evaluate_all_input.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/models/model_invariant_evaluate_batch_input.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/models/model_invariant_evaluate_input.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/node.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/nodes/node_invariant_evaluate_compute/test_handler_invariant_evaluate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

test(OMN-11602): add github api poll golden chain (#1710)
  tests/integration/runtime/test_github_api_poll_golden_chain.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11548): add invariant evaluate integration coverage
  tests/integration/test_omn_11548_invariant_evaluate_compute.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9331): wait for compose readiness before endpoint probe
  .github/workflows/reusable-runtime-boot.yml
  tests/ci/test_reusable_runtime_boot_schema.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11621): cover ai slop validator
  tests/unit/scripts/test_check_ai_slop.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11621): cover ai slop validator (#1713)
  tests/unit/scripts/test_check_ai_slop.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-6679): narrow infra Any annotations
  src/omnibase_infra/models/llm/model_llm_function_def.py
  src/omnibase_infra/models/llm/model_llm_usage.py
  src/omnibase_infra/models/pricing/model_pricing_table.py
  src/omnibase_infra/models/runtime/model_resolved_dependencies.py
  src/omnibase_infra/nodes/node_decision_store_query_compute/models/model_result_decision_list.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/model_llm_inference_request.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_projection_record.py
  src/omnibase_infra/nodes/node_registry_api_effect/models/model_registry_api_response.py
  src/omnibase_infra/runtime/contract_dependency_resolver.py
  src/omnibase_infra/runtime/contract_loaders/handler_routing_loader.py
  src/omnibase_infra/runtime/contract_loaders/tiered_resolution_contract_loader.py
  src/omnibase_infra/runtime/dependency_materializer.py
  src/omnibase_infra/runtime/models/model_materialized_resources.py
  src/omnibase_infra/runtime/providers/provider_http_client.py
  src/omnibase_infra/runtime/providers/provider_kafka_producer.py
  src/omnibase_infra/runtime/providers/provider_postgres_pool.py
  src/omnibase_infra/services/observability/llm_cost_aggregation/config.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/linter_contract.py
  src/omnibase_infra/validation/service_artifact_store.py
  src/omnibase_infra/verification/contract_parser.py
  src/omnibase_infra/verification/event_emission.py
  src/omnibase_infra/verification/probes/probe_projection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11595): register GitHub API poller in effects runtime (#1709)
  docker/catalog/services/runtime-effects.yaml
  src/omnibase_infra/enums/generated/__init__.py
  src/omnibase_infra/enums/generated/enum_runtime_topic.py
  src/omnibase_infra/nodes/node_github_pr_poller_effect/contract.yaml
  src/omnibase_infra/nodes/node_github_pr_poller_effect/handlers/handler_github_api_poll.py
  tests/integration/runtime/test_github_api_poll_golden_chain.py
  tests/integration/test_github_pr_poller_effect_runtime_profile.py
  tests/unit/infra/test_runtime_bundle_decomposition.py
  tests/unit/nodes/node_github_pr_poller_effect/test_triage_state.py
  tests/unit/runtime/auto_wiring/test_runtime_profile_ownership.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-6659): cover type suppression contract sync
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/contract.yaml
  src/omnibase_infra/nodes/node_impact_analyzer_compute/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_runtime_error_triage_effect/contract.yaml
  src/omnibase_infra/nodes/node_session_state_effect/contract.yaml
  tests/integration/test_omn_6659_type_suppression_contract_touch.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-11564): delete unwired dead code subsystems (~480 lines) (#1708)
  scripts/ci/run_duplication_sweep.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  src/omnibase_infra/plugins/examples/plugin_json_normalizer_error_handling.py
  src/omnibase_infra/services/session_registry/graph_projector.py
  src/omnibase_infra/services/session_registry/store.py
  src/omnibase_infra/validation/infra_validators.py
  tests/helpers/util_kafka.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/integration/test_omn_11564_dead_subsystem_removal.py
  tests/unit/services/session_registry/test_session_graph_projector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-6679): widen projection row probe typing
  src/omnibase_infra/verification/probes/probe_projection.py
  tests/integration/test_omn_6679_projection_probe_rows.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11548): add invariant handler descriptor
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/contract.yaml
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/handlers/handler_invariant_evaluate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11550): wire contract validation handler descriptor
  src/omnibase_infra/nodes/node_contract_validate_compute/contract.yaml
  src/omnibase_infra/nodes/node_contract_validate_compute/handlers/handler_contract_validate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11548): add metadata.description to invariant evaluate contract
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/contract.yaml
Due: onex-validate-contracts

chore(OMN-6679): narrow infra Any annotations (#1715)
  src/omnibase_infra/models/llm/model_llm_function_def.py
  src/omnibase_infra/models/llm/model_llm_usage.py
  src/omnibase_infra/models/pricing/model_pricing_table.py
  src/omnibase_infra/models/runtime/model_resolved_dependencies.py
  src/omnibase_infra/nodes/node_decision_store_query_compute/models/model_result_decision_list.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/model_llm_inference_request.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_projection_record.py
  src/omnibase_infra/nodes/node_registry_api_effect/models/model_registry_api_response.py
  src/omnibase_infra/runtime/contract_dependency_resolver.py
  src/omnibase_infra/runtime/contract_loaders/handler_routing_loader.py
  src/omnibase_infra/runtime/contract_loaders/tiered_resolution_contract_loader.py
  src/omnibase_infra/runtime/dependency_materializer.py
  src/omnibase_infra/runtime/models/model_materialized_resources.py
  src/omnibase_infra/runtime/providers/provider_http_client.py
  src/omnibase_infra/runtime/providers/provider_kafka_producer.py
  src/omnibase_infra/runtime/providers/provider_postgres_pool.py
  src/omnibase_infra/services/observability/llm_cost_aggregation/config.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/linter_contract.py
  src/omnibase_infra/validation/service_artifact_store.py
  src/omnibase_infra/verification/contract_parser.py
  src/omnibase_infra/verification/event_emission.py
  src/omnibase_infra/verification/probes/probe_projection.py
  tests/integration/test_omn_6679_projection_probe_rows.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11573): propagate correlation IDs and resolve CI findings
  src/omnibase_infra/adapters/github/adapter_github_client.py
  src/omnibase_infra/nodes/node_github_pr_poller_effect/handlers/handler_github_api_poll.py
  tests/integration/adapters/test_github_http_client_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11570): own local runtime in infra
  pyproject.toml
  src/omnibase_infra/cli/cli_node.py
  src/omnibase_infra/protocols/protocol_local_runtime_bus.py
  src/omnibase_infra/protocols/protocol_local_runtime_callable_target.py
  src/omnibase_infra/protocols/protocol_local_runtime_dump_model.py
  src/omnibase_infra/protocols/protocol_local_runtime_message.py
  src/omnibase_infra/protocols/protocol_local_runtime_payload_model.py
  src/omnibase_infra/runtime/runtime_local.py
  src/omnibase_infra/runtime/runtime_local_adapter.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/fixtures/handler_proof_noop.py
  tests/fixtures/workflows/terminal_reducer_unpadded.yaml
  tests/fixtures/workflows/two_handler_chain.yaml
  tests/test_runtime_local_input_flag.py
  tests/unit/cli/test_cli_node.py
  tests/unit/cli/test_onex_run.py
  tests/unit/runtime/test_runtime_local_event_bus_override.py
  tests/unit/runtime/test_runtime_local_execution.py
  tests/unit/runtime/test_runtime_local_reducer_state_sink.py
  tests/unit/runtime/test_runtime_local_terminal_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci: add dev PR workflow triggers
  .github/workflows/call-receipt-gate.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/check-handshake.yml
  .github/workflows/check-sibling-compat.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/deploy-gate.yml
  .github/workflows/docker-build.yml
  .github/workflows/env-parity.yml
  .github/workflows/integration-test-check.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/pr-merged-event.yml
  .github/workflows/runtime-rebuild-trigger.yml
  .github/workflows/security-scan.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
Due: none

feat(OMN-11550): add contract validation compute node (#1711)
  pyproject.toml
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/nodes/node_contract_validate_compute/__init__.py
  src/omnibase_infra/nodes/node_contract_validate_compute/contract.yaml
  src/omnibase_infra/nodes/node_contract_validate_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_contract_validate_compute/handlers/handler_contract_validate.py
  src/omnibase_infra/nodes/node_contract_validate_compute/models/__init__.py
  src/omnibase_infra/nodes/node_contract_validate_compute/models/model_contract_validate_input.py
  src/omnibase_infra/nodes/node_contract_validate_compute/node.py
  tests/integration/test_omn_11550_contract_validate_compute.py
  tests/unit/nodes/node_contract_validate_compute/test_handler_contract_validate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

test(OMN-11570): add runtime local integration smoke
  tests/integration/test_runtime_local_smoke.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11724): pull dev and main in workspace sync
  scripts/pull-all.sh
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11573): consolidate github poller http adapter (#1707)
  src/omnibase_infra/adapters/github/adapter_github_client.py
  src/omnibase_infra/nodes/node_github_pr_poller_effect/contract.yaml
  src/omnibase_infra/nodes/node_github_pr_poller_effect/handlers/handler_github_api_poll.py
  tests/integration/adapters/test_github_http_client_integration.py
  tests/integration/runtime/test_github_api_poll_golden_chain.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/nodes/node_github_pr_poller_effect/test_handler_github_api_poll.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11673): move runtime policy into contracts (#1704)
  .pre-commit-config.yaml
  contracts/OMN-11673.yaml
  contracts/services/runtime_policy.contract.yaml
  docker/catalog/services/agent-actions-consumer.yaml
  docker/catalog/services/consumer-health-projection.yaml
  docker/catalog/services/contract-resolver.yaml
  docker/catalog/services/decision-store-consumer.yaml
  docker/catalog/services/injection-effectiveness-consumer.yaml
  docker/catalog/services/llm-cost-aggregation-consumer.yaml
  docker/catalog/services/omninode-runtime.yaml
  docker/catalog/services/retry-worker.yaml
  docker/catalog/services/runtime-effects.yaml
  docker/catalog/services/runtime-worker.yaml
  docker/catalog/services/savings-estimation-consumer.yaml
  docker/docker-compose.infra.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.stability-test.yml
  docker/runtime-policy.env
  scripts/check_required_env_vars.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_compose_gen.py
  scripts/deploy-runtime.sh
  scripts/render_runtime_policy_env.py
  src/omnibase_infra/runtime/models/model_runtime_policy_contract.py
  src/omnibase_infra/runtime/models/model_runtime_process_policy.py
  src/omnibase_infra/runtime/models/model_runtime_profile_policy.py
  tests/ci/test_plugin_env_service_completeness.py
  tests/ci/test_runtime_policy_contract.py
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/integration/runtime/test_runtime_policy_contract.py
  tests/unit/infra/test_stability_test_runtime_lane.py
  tests/unit/models/test_model_serialization_roundtrip.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11548): add invariant evaluation compute node (#1712)
  pyproject.toml
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/__init__.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/contract.yaml
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/evaluator_invariant.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/handlers/handler_invariant_evaluate.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/models/__init__.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/models/model_invariant_evaluate_all_input.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/models/model_invariant_evaluate_batch_input.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/models/model_invariant_evaluate_input.py
  src/omnibase_infra/nodes/node_invariant_evaluate_compute/node.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/test_omn_11548_invariant_evaluate_compute.py
  tests/unit/nodes/node_invariant_evaluate_compute/test_handler_invariant_evaluate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-11570): repair local runtime CI gates
  src/omnibase_infra/runtime/runtime_local_adapter.py
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-9331): isolate runtime boot compose stack
  .github/workflows/reusable-runtime-boot.yml
  docker/docker-compose.e2e.yml
Due: none

test(OMN-9331): align runtime boot schema with dynamic compose network
  tests/ci/test_reusable_runtime_boot_schema.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci: add dev PR workflow triggers (#1716)
  .github/workflows/call-receipt-gate.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/check-handshake.yml
  .github/workflows/check-sibling-compat.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/deploy-gate.yml
  .github/workflows/docker-build.yml
  .github/workflows/env-parity.yml
  .github/workflows/integration-test-check.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/pr-merged-event.yml
  .github/workflows/runtime-rebuild-trigger.yml
  .github/workflows/security-scan.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
Due: none

fix(OMN-11724): pull dev and main in workspace sync (#1717)
  scripts/pull-all.sh
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9331): address runtime boot review threads
  .github/workflows/reusable-runtime-boot.yml
  scripts/check-pinned-wheels.py
  tests/scripts/test_check_pinned_wheels.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
