Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-15358): declare app_dashboard's two read grants as node migrations
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegation_routing_reducer/0006_grant_app_dashboard_overlay.sql
  docker/migrations/forward/nodes/node_projection_savings/091_grant_app_dashboard_savings_series.sql
Due: none

fix(OMN-19200): C29 moves to the omnipc2 customer machine, as a provider-only customer (#3989)
  .github/workflows/c29-customer-byo-key-delegation.yml
  .pre-commit-config.yaml
  config/ci_evidence_policy.yaml
  scripts/ci/c29_customer_byo_key_probe.py
  tests/ci/test_c29_customer_byo_key_probe_omn19200.py
  tests/ci/test_ci_evidence_policy.py
  tests/fixtures/omn19200/observations_documented_surface_refused.json
  tests/fixtures/omn19200/observations_working_path.json
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17397): an unaccepted task class dies with its engine code, not retryable (#3992)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/boundary_failure_terminal.py
  tests/integration/runtime/test_omn17397_unaccepted_task_class_terminal.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16852): the catalog render stops handing the runtime build an empty OMNI_HOME (#3996)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/docker/catalog/generator.py
  tests/integration/test_catalog_render_no_omni_home_default_omn16852.py
  tests/unit/infra/test_catalog_generator.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19091): consumer-lag reads in-process via aiokafka, adds STALE_INDETERMINATE (#3946)
  config/lab_alarm.json
  config/skip_count_baseline.yaml
  scripts/lab_alarm.py
  tests/ci/test_lab_alarm_omn18867.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18202): the dependency cascade stops stamping downstream bump PRs with the upstream release's companion (#3998)
  .github/workflows/dependency-cascade.yml
  tests/ci/test_dependency_cascade_no_self_stamp_omn18202.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test: cover tenant GUC policy routes for OMN-17422
  tests/unit/runtime/auto_wiring/test_projection_domain_adapters.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18942): an unchanged finding inside the dedup window does not re-alert (#4000)
  .github/workflows/pr-ci-zombie-detector.yml
  config/runner_routing_policy.yaml
  scripts/ci/nonrequired_check_failure_rate.py
  tests/ci/test_nonrequired_check_alert_dedup_omn18942.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19250): repo copy of vllm-gpu0 unit matches live --speculative-config MTP flag (#4003)
  deploy/systemd/vllm-gpu0-qwen38-27b.service
Due: none

fix(OMN-19241): lease the shared DLQ replay producers and bound a record that keeps failing (#4002)
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/models/model_dlq_replay_run_result.py
  tests/integration/dlq/test_dlq_replay_shared_producers_omn19241.py
  tests/unit/nodes/node_dlq_replay_effect/test_omn19241_shared_producer_lifecycle.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19256): ledger_lock.py calls the rolling ledger row grammar and fails closed without it (#4006)
  scripts/ledger_lock.py
  tests/unit/scripts/test_ledger_cost_sentence_omn18554.py
  tests/unit/scripts/test_ledger_lock_executor_attribution.py
  tests/unit/scripts/test_ledger_repo_root_path_guard_omn16729.py
  tests/unit/scripts/test_ledger_row_grammar_caller_omn19256.py
  tests/unit/scripts/test_ledger_row_model_omn17403.py
  tests/unit/scripts/test_ledger_section_caps_omn17023.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19258): the PR CI zombie detector fails red when it could not see (#4007)
  .github/workflows/pr-ci-zombie-detector.yml
  config/ci_evidence_policy.yaml
  scripts/ci/pr_ci_zombie_detector.py
  tests/ci/test_ci_evidence_policy.py
  tests/ci/test_pr_ci_zombie_detector_workflow.py
  tests/unit/scripts/ci/test_pr_ci_zombie_detector.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19256): worktree-prune-timer writes STATUS, not refused NOTE (#4008)
  scripts/worktree_prune_timer.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19258): the PR CI zombie detector authenticates as the onexbot App, not a personal PAT (#4009)
  .github/workflows/pr-ci-zombie-detector.yml
  tests/ci/test_alert_token_source_omn18254.py
  tests/ci/test_pr_ci_zombie_detector_workflow.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17422): cover tenant GUC policy write scope (#4004)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validation/check_tenant_guc_domain_parity.py
  tests/ci/test_incident_replay_omn17422.py
  tests/ci/test_tenant_guc_domain_parity.py
  tests/fixtures/omn17422/0027_generation_events_tenant_rls.6194dc4d9.sql.captured
  tests/fixtures/omn17422/0043_generation_events_drop_tenant_posture.4139b1fad.sql.captured
  tests/incident_replays/registry.yaml
  tests/unit/runtime/auto_wiring/test_projection_domain_adapters.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18855): add a create operation to bulk_pr_throttle so PR creation is paced (#3967)
  scripts/ci/bulk_pr_throttle.py
  scripts/ci/tests/test_bulk_pr_throttle.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18866): C15 chain canary blocks staging delivery via a fail-closed workflow-verdict reader (#4010)
  .github/workflows/deliver-dev-candidate-to-staging.yml
  scripts/ci/lab_pass_receipt.py
  tests/ci/test_lab_pass_workflow_verdict_omn18866.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17423): re-home credential log redaction into the shared runtime path
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/check_no_credential_in_log.py
  scripts/ci/tests/fixtures/credential_in_log_fixture.py
  scripts/ci/tests/test_check_no_credential_in_log.py
  src/omnibase_infra/runtime/secret_resolver.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/utils/util_dlq_credential_redaction.py
  src/omnibase_infra/utils/util_log_credential_redaction.py
  tests/unit/utils/test_util_log_credential_redaction.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18691): the bus forwarder can be configured as a lane mirror only
  src/omnibase_infra/nodes/node_bus_forwarder_effect/handlers/handler_consume_inbound.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/handlers/handler_forward_outbound.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_forwarder_config.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_forwarder_runtime_config.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_gateway_forwarder.py
  src/omnibase_infra/runtime/gateway_canary_probe.py
  src/omnibase_infra/runtime/gateway_forwarder.py
  tests/unit/nodes/node_bus_forwarder_effect/test_mirror_only_forwarder_omn18691.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18691): the mirror-only path moves an OCC autobind command end to end
  tests/integration/gateway/test_mirror_only_forwarder_omn18691.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19311): D11 blocks staging delivery -- the lab-pass-gate job refuses unless the stability-test delegation nightly is a fresh success (#4012)
  .github/workflows/deliver-dev-candidate-to-staging.yml
  scripts/ci/lab_pass_receipt.py
  tests/ci/test_lab_pass_workflow_verdict_omn18866.py
  tests/ci/test_workflow_verdict_omn_d11.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19088): lane census evaluates only the lanes declared for its host (#4017)
  deploy/lane-census/lane-manifest.yaml
  scripts/lane-census-check.sh
  scripts/lane_census_event.py
  scripts/lane_census_plan.py
  tests/unit/scripts/test_lane_census_host_scope_omn19088.py
  tests/unit/scripts/test_lane_census_inventory.py
  tests/unit/scripts/test_lane_census_plan.py
  tests/unit/scripts/test_prepr_pool_lane_census_omn18890.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19312): lab-pass gate all-of required lanes, bounded wait, runtime-ancestor subject (#4014)
  scripts/ci/lab_pass_receipt.py
  tests/ci/test_lab_pass_receipt_gate_omn17530.py
  tests/unit/ci/test_queued_ahead_is_not_a_lane_failure_omn18976.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19206): bake Playwright chromium's system libraries into the omnibase-ci runner image (#4020)
  .github/workflows/runner-image-build-smoke.yml
  .pre-commit-config.yaml
  docker/runners/Dockerfile
  docker/runners/runner-image.lock.json
  tests/ci/test_runner_image_playwright_chromium_libs_omn19206.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19087): check all five compose password formats before any container starts (#4018)
  .env.example
  docker/.env.example
  docker/dogfood.env.example
  docker/env-example-full.txt
  docker/judge.env.example
  docker/lakshman.env.example
  scripts/deploy-runtime.sh
  scripts/preflight_password_contract.py
  scripts/preflight_required_compose_env.py
  tests/scripts/test_deploy_runtime_registry_commit_on_success.py
  tests/scripts/test_password_contract_omn19087.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19072): every runtime_build sibling set comes from the manifest (#4022)
  scripts/runtime_build/cut-lab-ref.sh
  scripts/runtime_build/cut_release_train_tag.sh
  scripts/runtime_build/prepr_verify_lane.sh
  scripts/runtime_build/refresh_dev_lane.sh
  scripts/runtime_build/refresh_stability_lane.sh
  scripts/runtime_build/sibling_clone_manifest.sh
  scripts/runtime_build/stage_workspace.sh
  tests/scripts/test_cut_lab_ref.py
  tests/scripts/test_cut_release_train_tag_ref_resolution.py
  tests/scripts/test_sibling_clone_manifest_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17991): enforce effects-only deployment and immutable source pins
  pyproject.toml
  scripts/deploy-runtime.sh
  scripts/runtime_build/SCOPED_EFFECTS_DEPLOY.md
  scripts/runtime_build/build_effects_candidate.py
  scripts/runtime_build/deploy_source_ref.py
  scripts/runtime_build/scoped_effects_deploy.py
  scripts/runtime_build/scoped_effects_plan.py
  scripts/runtime_build/scoped_image_probe.py
  scripts/runtime_build/stage_workspace.sh
  tests/scripts/test_build_effects_candidate.py
  tests/scripts/test_deploy_source_ref.py
  tests/scripts/test_effects_deploy_entrypoint.py
  tests/scripts/test_scoped_effects_deploy.py
  tests/scripts/test_scoped_effects_plan.py
  tests/scripts/test_stage_workspace_deploy_ref.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

test: isolate delivery-chain validation fixtures (OMN-17991) Onex-Lane: drain-infra-queue2 Onex-Session: da187d2eda1046ba8c872a1c681d3a84
  tests/audit/test_no_dead_delegation_flags.py
  tests/integration/tools/test_topic_pipeline_e2e.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17991): regenerate stale runner identity lock; remove doc moved to knowledge-base-internal#195
  scripts/runtime_build/SCOPED_EFFECTS_DEPLOY.md
Due: onex-validate-markdown-links

fix(OMN-17991): scrub git-location env in test fixtures, reconcile stale baseline count
  config/governed_helper_baseline.json
  tests/scripts/test_build_effects_candidate.py
  tests/scripts/test_deploy_source_ref.py
  tests/scripts/test_stage_workspace_deploy_ref.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17991): regenerate runner identity lock (shared_env_digest stale after dev integration)
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-18942): the registry repository's scheduled workflows reach the alerter (#4019)
  .github/workflows/alerter-injected-red-canary.yml
  .github/workflows/pr-ci-zombie-detector.yml
  config/runner_routing_policy.yaml
  scripts/ci/nonrequired_check_failure_rate.py
  tests/ci/test_alert_token_source_omn18254.py
  tests/ci/test_alerter_injected_red_canary_omn18942.py
  tests/unit/scripts/test_fleet_failure_sink_omn18942.py
  tests/unit/scripts/test_fleet_scheduled_share_omn18942.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17423): an integration proof, and a gate rule measured against real code
  scripts/ci/check_no_credential_in_log.py
  scripts/ci/tests/fixtures/credential_in_log_fixture.py
  scripts/ci/tests/test_check_no_credential_in_log.py
  src/omnibase_infra/utils/util_dlq_credential_redaction.py
  src/omnibase_infra/utils/util_log_credential_redaction.py
  tests/integration/observability/test_omn17423_credential_log_redaction.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19251): delete dead .200 ds4-flash lane-overlay entries (stopgap ahead of Phase A) (#4005)
  config/skip_count_baseline.yaml
  docker/lane-overlays/dev.bifrost.yaml
  docker/lane-overlays/dogfood.bifrost.yaml
  docker/lane-overlays/judge.bifrost.yaml
  docker/lane-overlays/lakshman.bifrost.yaml
  tests/ci/test_bifrost_lane_overlay.py
  tests/fixtures/bifrost_lane_overlay_v3.yaml
  tests/integration/runtime/test_committed_lab_overlays_render_omn18570.py
  tests/integration/runtime/test_served_id_reaches_the_rendered_contract_omn18626.py
  tests/unit/runtime/test_bifrost_served_model_probe_fixture.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19086): stage proof roots from a pinned snapshot and refuse a dirty or off-pin root (#4024)
  scripts/runtime_build/cut-lab-ref.sh
  scripts/runtime_build/stage_pinned_proof_root.py
  tests/scripts/test_cut_lab_ref.py
  tests/scripts/test_stage_pinned_proof_root_omn19086.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18931): the rebuild trigger learns the bounded delegation lane keys (#4030)
  scripts/trigger_rebuild_on_merge.py
  tests/unit/scripts/test_trigger_learns_delegation_route_keys_omn18931.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17423): name the log sentinels for their shape, not for a credential
  tests/integration/observability/test_omn17423_credential_log_redaction.py
  tests/unit/utils/test_util_log_credential_redaction.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17423): baseline the credential-in-log gate as honest debt
  tests/incident_replays/registry.yaml
Due: onex-validate-contracts

feat(OMN-17423): re-home credential log redaction into the shared runtime path (#4016)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/check_no_credential_in_log.py
  scripts/ci/tests/fixtures/credential_in_log_fixture.py
  scripts/ci/tests/test_check_no_credential_in_log.py
  src/omnibase_infra/runtime/secret_resolver.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/utils/util_dlq_credential_redaction.py
  src/omnibase_infra/utils/util_log_credential_redaction.py
  tests/incident_replays/registry.yaml
  tests/integration/observability/test_omn17423_credential_log_redaction.py
  tests/unit/utils/test_util_log_credential_redaction.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18349): the deploy health wait honours the runtime's declared start budget (#4032)
  scripts/deploy-runtime.sh
  scripts/runtime_build/runtime_health_wait.sh
  tests/scripts/test_runtime_health_wait_omn18349.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
