Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(review): [minor] skip tool calls with empty function name to prevent untyped ValidationError
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_ollama.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2112): add node_llm_embedding_effect with models, handlers, node, contract, registry (#327)
  src/omnibase_infra/nodes/node_llm_embedding_effect/__init__.py
  src/omnibase_infra/nodes/node_llm_embedding_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_embedding_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_llm_embedding_effect/handlers/handler_embedding_ollama.py
  src/omnibase_infra/nodes/node_llm_embedding_effect/handlers/handler_embedding_openai_compatible.py
  src/omnibase_infra/nodes/node_llm_embedding_effect/models/__init__.py
  src/omnibase_infra/nodes/node_llm_embedding_effect/models/model_llm_embedding_request.py
  src/omnibase_infra/nodes/node_llm_embedding_effect/models/model_llm_embedding_response.py
  src/omnibase_infra/nodes/node_llm_embedding_effect/node.py
  src/omnibase_infra/nodes/node_llm_embedding_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_llm_embedding_effect/registry/registry_infra_llm_embedding_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-2107): address local review findings across all severity levels
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/model_llm_inference_request.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] explicit operation type guard and copyright year update
  src/omnibase_infra/nodes/node_llm_inference_effect/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_ollama.py
  src/omnibase_infra/nodes/node_llm_inference_effect/node.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-2107): fix TOCTOU race in auth lock and minor review findings
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2107): move generated_text=None inside guard for clarity
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] add warning for discarded content and debug log for non-numeric usage
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_ollama.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-2113): add unit tests for embedding node handlers and models
  tests/unit/nodes/node_llm_embedding_effect/__init__.py
  tests/unit/nodes/node_llm_embedding_effect/handlers/__init__.py
  tests/unit/nodes/node_llm_embedding_effect/handlers/test_handler_embedding_ollama.py
  tests/unit/nodes/node_llm_embedding_effect/handlers/test_handler_embedding_openai_compatible.py
  tests/unit/nodes/node_llm_embedding_effect/models/__init__.py
  tests/unit/nodes/node_llm_embedding_effect/models/test_model_llm_embedding_request.py
  tests/unit/nodes/node_llm_embedding_effect/models/test_model_llm_embedding_response.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] explicit response-parsing guard, float rounding, content type check, prompt assertion
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_ollama.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2113): resolve mypy strict type annotations in embedding tests
  tests/unit/nodes/node_llm_embedding_effect/handlers/test_handler_embedding_ollama.py
  tests/unit/nodes/node_llm_embedding_effect/handlers/test_handler_embedding_openai_compatible.py
  tests/unit/nodes/node_llm_embedding_effect/models/test_model_llm_embedding_request.py
  tests/unit/nodes/node_llm_embedding_effect/models/test_model_llm_embedding_response.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2113): use actual non-UTC timezone in test_timestamp_with_non_utc_tz
  tests/unit/nodes/node_llm_embedding_effect/models/test_model_llm_embedding_response.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): sanitize diff_summary, propagate correlation_id, handle artifact errors
  src/omnibase_infra/errors/error_event_registry_fingerprint.py
  src/omnibase_infra/runtime/emit_daemon/event_registry.py
  tests/unit/runtime/emit_daemon/test_event_registry_fingerprint.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): sanitize artifact path in missing-fingerprint error message
  src/omnibase_infra/runtime/emit_daemon/event_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-2113): embedding node unit tests (#329)
  tests/unit/nodes/node_llm_embedding_effect/__init__.py
  tests/unit/nodes/node_llm_embedding_effect/handlers/__init__.py
  tests/unit/nodes/node_llm_embedding_effect/handlers/test_handler_embedding_ollama.py
  tests/unit/nodes/node_llm_embedding_effect/handlers/test_handler_embedding_openai_compatible.py
  tests/unit/nodes/node_llm_embedding_effect/models/__init__.py
  tests/unit/nodes/node_llm_embedding_effect/models/test_model_llm_embedding_request.py
  tests/unit/nodes/node_llm_embedding_effect/models/test_model_llm_embedding_response.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-2108): add 73 unit tests for HandlerLlmOllama
  tests/unit/nodes/node_llm_inference_effect/__init__.py
  tests/unit/nodes/node_llm_inference_effect/handlers/__init__.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_ollama_class.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_ollama_handle.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_ollama_pure.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2088): add event registry fingerprint + startup assertion (#326)
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_event_registry_fingerprint.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/runtime/emit_daemon/__init__.py
  src/omnibase_infra/runtime/emit_daemon/event_registry.py
  src/omnibase_infra/runtime/emit_daemon/event_registry_fingerprint.json
  src/omnibase_infra/runtime/emit_daemon/model_event_registry_fingerprint.py
  src/omnibase_infra/runtime/emit_daemon/model_event_registry_fingerprint_element.py
  src/omnibase_infra/runtime/emit_daemon/topics.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/runtime/emit_daemon/test_event_registry.py
  tests/unit/runtime/emit_daemon/test_event_registry_fingerprint.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor+nitpick] defensive correlation_id, docstrings, JSON-serialize list args
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_ollama.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2107): replace list[Any] with list[dict[str, object]] to pass ONEX validator
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2108): add HandlerLlmOllama with node scaffold (#328)
  src/omnibase_infra/nodes/node_llm_inference_effect/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_ollama.py
  src/omnibase_infra/nodes/node_llm_inference_effect/node.py
  tests/unit/nodes/node_llm_inference_effect/__init__.py
  tests/unit/nodes/node_llm_inference_effect/handlers/__init__.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_ollama_class.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_ollama_handle.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_ollama_pure.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

feat(OMN-2222): wire intelligence plugin DB config, schema, and topic provisioning
  docker/.env.example
  docker/docker-compose.e2e.yml
  docker/docker-compose.infra.yml
  docker/migrations/forward/001_create_omniintelligence_schema.sh
Due: none

feat(OMN-2151): add full check catalog, artifact storage, and flake detection
  src/omnibase_infra/models/validation/__init__.py
  src/omnibase_infra/models/validation/model_flake_detection_result.py
  src/omnibase_infra/models/validation/model_flake_record.py
  src/omnibase_infra/validation/artifact_store.py
  src/omnibase_infra/validation/checks/__init__.py
  src/omnibase_infra/validation/checks/check_artifact.py
  src/omnibase_infra/validation/checks/check_executor.py
  src/omnibase_infra/validation/checks/check_measurement.py
  src/omnibase_infra/validation/checks/check_registry.py
  src/omnibase_infra/validation/checks/check_risk.py
  src/omnibase_infra/validation/flake_detector.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/linter_contract.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  src/omnibase_infra/validation/validator_chain_propagation.py
  tests/unit/validation/test_artifact_store.py
  tests/unit/validation/test_check_catalog.py
  tests/unit/validation/test_flake_detector.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2107): widen _parse_tool_calls param to list[JsonType] for mypy compatibility
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] replace assert with explicit guards in CLI entrypoints
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_registration_acked.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/runtime/util_schema_fingerprint.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] migration idempotency, timezone validator, remove stale TODO
  docker/migrations/forward/001_create_omniintelligence_schema.sh
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_reducer_context.py
  src/omnibase_infra/nodes/node_registration_orchestrator/services/registration_reducer_service.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): harden validation checks — path traversal, zombie proc, shell injection, mutable registry
  src/omnibase_infra/validation/artifact_store.py
  src/omnibase_infra/validation/checks/__init__.py
  src/omnibase_infra/validation/checks/check_artifact.py
  src/omnibase_infra/validation/checks/check_executor.py
  src/omnibase_infra/validation/checks/check_registry.py
  src/omnibase_infra/validation/checks/check_risk.py
  tests/unit/validation/test_artifact_store.py
  tests/unit/validation/test_check_catalog.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): move inline import, remove dead code, fix multiline regex patterns
  src/omnibase_infra/validation/artifact_store.py
  src/omnibase_infra/validation/checks/check_executor.py
  src/omnibase_infra/validation/checks/check_risk.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2107): address PR #325 review feedback
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/model_llm_inference_request.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2192): install omniintelligence in runtime Docker image (#323)
  docker/.env.example
  docker/Dockerfile.runtime
  docker/docker-compose.e2e.yml
  docker/docker-compose.infra.yml
  docker/entrypoint-runtime.sh
  docker/migrations/forward/001_create_omniintelligence_schema.sh
  docker/migrations/forward/030_add_schema_fingerprint.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/event_bus/event_bus_inmemory.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_registration_acked.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_reducer_context.py
  src/omnibase_infra/nodes/node_registration_orchestrator/services/registration_reducer_service.py
  src/omnibase_infra/runtime/constants_security.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/runtime/util_schema_fingerprint.py
  tests/integration/docker/test_docker_integration.py
  tests/unit/test_cli_schema_fingerprint.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2107): add HandlerLlmOpenaiCompatible for OpenAI wire-format inference (#325)
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/model_llm_inference_request.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-2109): add inference handler unit tests for OpenAI-compatible and Ollama
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_ollama.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): rename validation modules to match naming conventions, fix artifact path bug
  src/omnibase_infra/validation/checks/__init__.py
  src/omnibase_infra/validation/checks/handler_artifact.py
  src/omnibase_infra/validation/checks/handler_check_executor.py
  src/omnibase_infra/validation/checks/handler_measurement.py
  src/omnibase_infra/validation/checks/handler_risk.py
  src/omnibase_infra/validation/checks/registry_check.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/service_artifact_store.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/validation/test_artifact_store.py
  tests/unit/validation/test_check_catalog.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] remove unused imports and strengthen auth injection test
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_ollama.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2155): add A/B baseline comparison compute node with cost/outcome metrics
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_run_variant.py
  src/omnibase_infra/models/baseline/__init__.py
  src/omnibase_infra/models/baseline/model_attribution_record.py
  src/omnibase_infra/models/baseline/model_baseline_run_config.py
  src/omnibase_infra/models/baseline/model_baseline_run_result.py
  src/omnibase_infra/models/baseline/model_cost_delta.py
  src/omnibase_infra/models/baseline/model_cost_metrics.py
  src/omnibase_infra/models/baseline/model_outcome_delta.py
  src/omnibase_infra/models/baseline/model_outcome_metrics.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/__init__.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/contract.yaml
  src/omnibase_infra/nodes/node_baseline_comparison_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/handlers/handler_baseline_comparison.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/models/__init__.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/models/model_baseline_comparison_input.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/node.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/registry/__init__.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/registry/registry_infra_baseline_comparison.py
  tests/unit/test_baseline_comparison_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(review): [minor] remove unused cast import and verify auth client cleanup
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] use canonical import path for JsonType
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): harden executor race condition, bound regex patterns, remove mutable registry
  src/omnibase_infra/validation/checks/handler_artifact.py
  src/omnibase_infra/validation/checks/handler_check_executor.py
  src/omnibase_infra/validation/checks/handler_risk.py
  src/omnibase_infra/validation/checks/registry_check.py
  src/omnibase_infra/validation/flake_detector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] fix import sort order for JsonType
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] use fictional test URL instead of deprecated localhost:11434
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_ollama.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2155): add variant pairing validation to ModelBaselineComparisonInput
  src/omnibase_infra/nodes/node_baseline_comparison_compute/models/model_baseline_comparison_input.py
  tests/unit/test_baseline_comparison_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2155): address CodeRabbit review — correlation_id fallback, handler category, field naming
  src/omnibase_infra/models/baseline/model_attribution_record.py
  src/omnibase_infra/models/baseline/model_baseline_run_config.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/handlers/handler_baseline_comparison.py
  tests/unit/test_baseline_comparison_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
