Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-15449): type-ignore the run_id kwarg against the pre-fix core pin
  src/omnibase_infra/cli/receipt_mode.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15449): xfail(strict) the real-dispatch tests blocked on the paired core PR; fix mypy strict
  tests/unit/cli/test_cli_node_receipt.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15449): bump omnibase-core pin to 0.46.9, remove xfail markers and type-ignore workaround
  src/omnibase_infra/cli/receipt_mode.py
  tests/unit/cli/test_cli_delegate.py
  tests/unit/cli/test_cli_node_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15449): xfail(strict) the two run_receipt_mode-dependent delegate tests
  tests/unit/cli/test_cli_delegate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16293): wire real savings-estimation correlation, delete legacy buffer
  config/validation/runtime_profiles_allowlist.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_savings_estimation_compute/0001_create_savings_signal_tables.sql
  scripts/check_contract_topic_parity.py
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/enums/generated/enum_omniclaude_topic.py
  src/omnibase_infra/enums/generated/enum_omniintelligence_topic.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/contract.yaml
  src/omnibase_infra/nodes/node_savings_estimation_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/handlers/handler_savings_correlation.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/models/__init__.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/models/enum_catch_severity.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/models/model_savings_correlation_batch_command.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/models/model_savings_correlation_batch_output.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/node.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/services/observability/savings_estimation/__init__.py
  src/omnibase_infra/services/observability/savings_estimation/config.py
  src/omnibase_infra/services/observability/savings_estimation/consumer.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/integration/observability/test_savings_estimation_dispatch_eval_projection.py
  tests/integration/observability/test_savings_estimation_e2e.py
  tests/integration/observability/test_savings_estimation_non_dispatch_projection.py
  tests/integration/runtime/test_handler_routing_loader_typed_integration.py
  tests/integration/runtime/test_savings_correlation_contract_wiring.py
  tests/integration/runtime/test_savings_estimator_subscription_group.py
  tests/integration/test_savings_estimation_non_dispatch_projection.py
  tests/unit/nodes/node_savings_estimation_compute/test_handler_savings_correlation.py
  tests/unit/observability/test_savings_estimation_config.py
  tests/unit/services/observability/savings_estimation/__init__.py
  tests/unit/services/observability/savings_estimation/test_consumer.py
  tests/unit/services/test_savings_estimation_non_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-16293): allowlist self-only command topic, bump migration manifest pin
  scripts/check_subscribe_wiring_health.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16293): remove stale allowlist entry for deleted ServiceSavingsEstimator
  .onex_ratchets/noncanonical_class_allowlist.yaml
Due: onex-validate-contracts

fix(OMN-15978): reconcile runner fleet config to live 88-runner fleet (#2791)
  config/runner_fleet.yaml
  docker/docker-compose.runners.yml
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-15570): refresh runner image identity lock
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-16107): allowlist approved 2-parent commits + surface real gh errors in merge-queue bypass audit (#2769)
  scripts/audit-merge-method-on-main.sh
  tests/unit/test_audit_merge_method_on_main.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16204): widen node_bus_forwarder_effect mirror_topics.outbound with omniclaude session-lifecycle pair (#2789)
  src/omnibase_infra/nodes/node_bus_forwarder_effect/contract.yaml
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_forwarder_config.py
  tests/unit/runtime/test_gateway_forwarder_runtime.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16390): drop stale onex-change-control sibling-lock-pin arg
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_build_context.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15570): qualify gateway link health storage
  .github/workflows/ci.yml
  docker/migrations/forward/100_create_gateway_link_health.sql
  docker/migrations/rollback/rollback_100_create_gateway_link_health.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/__init__.py
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/handlers/handler_gateway_link_health_upsert.py
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/node.py
  src/omnibase_infra/validation/application_database_domain_enforcement.py
  tests/integration/migrations/test_100_gateway_link_health_verdicts.py
  tests/unit/db/test_migration_100.py
  tests/unit/validation/test_application_database_sql_enforcement_regressions.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-15631): reconcile tenant overlay drifted shape
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegation_routing_reducer/0001_create_delegation_routing_tenant_overlay.sql
  tests/integration/migrations/test_node_migration_shape_drift_omn15376.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16390): drop stale onex-change-control sibling-lock-pin arg (#2841)
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_build_context.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15631): align tenant overlay vendor reconciliation
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegation_routing_reducer/0001_create_delegation_routing_tenant_overlay.sql
Due: none

chore(OMN-15631): vendor node_delegation_routing_reducer 0001 migration (#2820)
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegation_routing_reducer/0001_create_delegation_routing_tenant_overlay.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/physical_schema_mapping.py
  tests/integration/migrations/test_node_migration_shape_drift_omn15376.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-15631): resync tenant overlay migration vendor copy
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegation_routing_reducer/0001_create_delegation_routing_tenant_overlay.sql
Due: none

fix(OMN-16385): drop dead CREATE EXTENSION pgcrypto from migration 045
  docker/migrations/forward/045_create_validation_event_ledger.sql
Due: none

fix(OMN-16363): pre-job disk-admission gate breaks runner ENOSPC write-amplification loop
  .github/workflows/runner-disk-preflight.yml
  deploy/disk-gc/install-runner-disk-guard.sh
  deploy/disk-gc/onex-runner-disk-guard.service
  deploy/disk-gc/onex-runner-disk-guard.timer
  docker/docker-compose.runners.yml
  docker/runners/runner-job-started.sh
  docs/runbooks/runner-disk-admission-gate.md
  scripts/runner-disk-admission-restore.sh
  tests/scripts/test_runner_disk_admission_restore.py
  tests/scripts/test_runner_job_started_disk_admission.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

chore(OMN-16363): regenerate application-database table grants (OMN-15361 drift)
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
Due: onex-validate-contracts

fix(OMN-16385): regenerate schema fingerprint after 045 edit
  docker/migrations/schema_fingerprint.sha256
Due: none

chore(OMN-15631): resync tenant overlay migration vendor copy (#2843)
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegation_routing_reducer/0001_create_delegation_routing_tenant_overlay.sql
Due: none

fix(OMN-16363): pre-job disk-admission gate breaks runner ENOSPC write-amplification loop (#2842)
  .github/workflows/runner-disk-preflight.yml
  deploy/disk-gc/install-runner-disk-guard.sh
  deploy/disk-gc/onex-runner-disk-guard.service
  deploy/disk-gc/onex-runner-disk-guard.timer
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/docker-compose.runners.yml
  docker/runners/runner-job-started.sh
  docs/runbooks/runner-disk-admission-gate.md
  scripts/runner-disk-admission-restore.sh
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  tests/scripts/test_runner_disk_admission_restore.py
  tests/scripts/test_runner_job_started_disk_admission.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-15918): wire gateway_attach Keycloak secret-resolver mappings into dev-lane contract
  contracts/services/runtime_policy.contract.yaml
  docker/docker-compose.infra.yml
  docker/runtime-policy.env
Due: onex-validate-contracts

chore(OMN-13034): regenerate lane-census snapshot (14-day-stale -> fresh)
  deploy/lane-census/census-snapshot.json
Due: none

fix(OMN-16373): repin cr-thread-gate/reject-deploy-gate-skip to omniclaude main
  .github/workflows/call-reject-skip.yml
  .github/workflows/cr-thread-gate-caller.yml
Due: none

fix(OMN-16293): move savings-correlation wiring test to direct child of tests/integration/
  tests/integration/test_savings_correlation_contract_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16363): keep dependabot CI gates runnable
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-16373): update pinned no-checkout SHA constant to match repin
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16373): repin cr-thread-gate/reject-deploy-gate-skip to omniclaude main (#2847)
  .github/workflows/call-reject-skip.yml
  .github/workflows/cr-thread-gate-caller.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15959): update stale version/date pins for node_llm_inference_effect
  tests/integration/test_omn12816_main_promotion_coverage.py
  tests/integration/test_omn_6659_type_suppression_contract_touch.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15959): delete zombie handler_llm_cli_subprocess.py from node_llm_inference_effect (#2728)
  .github/workflows/hostile-reviewer.yml
  docs/evidence/OMN-12548/determinism-audit.json
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/models/coding_agent/enum_cli_backend_status.py
  src/omnibase_infra/nodes/node_coding_agent_invoke_effect/contract.yaml
  src/omnibase_infra/nodes/node_coding_agent_invoke_effect/handlers/handler_coding_agent_invoke.py
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_cli_subprocess.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/integration/handlers/test_handler_autowiring_compliance.py
  tests/integration/test_handler_autowiring_compliance_followup.py
  tests/integration/test_omn12816_main_promotion_coverage.py
  tests/integration/test_omn_6659_type_suppression_contract_touch.py
  tests/scripts/test_validate_pr_contract_sync.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess_claude_opencode.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess_execution.py
  tests/unit/runtime/auto_wiring/test_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16385): schema-qualification gate — bridge validation_event_ledger
  docker/migrations/forward/045_create_validation_event_ledger.sql
  src/omnibase_infra/topology/physical_schema_mapping.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16293): schema-qualify savings-signal tables to omninode_internal
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_savings_estimation_compute/0001_create_savings_signal_tables.sql
  scripts/ci/check_application_database_sql.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/handlers/handler_savings_correlation.py
  tests/unit/nodes/node_savings_estimation_compute/test_handler_savings_correlation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16385): regenerate schema fingerprint after 045 content edit
  docker/migrations/schema_fingerprint.sha256
Due: none

chore(OMN-13034): regenerate lane-census snapshot (14-day-stale -> fresh) (#2846)
  deploy/lane-census/census-snapshot.json
Due: none
