Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(review): [major/minor] Fix test for optional VALKEY_PASSWORD, docs
  docker/.env.example
  docker/README.md
  tests/unit/docker/test_docker_security.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(review): [minor] Fix misleading nested variable in .env.example
  docker/.env.example
Due: none

feat(OMN-1930): Add typed introspection injection to RuntimeHostProcess (#251)
  src/omnibase_infra/models/runtime/__init__.py
  src/omnibase_infra/models/runtime/model_runtime_introspection_config.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_node_introspection.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/integration/runtime/test_runtime_introspection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): Add Infisical env vars to compose config validation test
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(gateway): Add correlation_id to structured log extras and normalize unsigned paths [OMN-1899]
  src/omnibase_infra/gateway/utils/util_key_loader.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Remove unnecessary GITHUB_TOKEN build secret
  .env.example
  docker/.env.example
  docker/Dockerfile.runtime
  docker/README.md
  docker/docker-compose.infra.yml
  tests/integration/docker/test_docker_integration.py
  tests/unit/docker/test_docker_security.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(gateway): Enforce reject_unsigned without public_key, add correlation_id to init logs [OMN-1899]
  pyproject.toml
  src/omnibase_infra/runtime/service_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Quote VALKEY_PASSWORD in healthcheck, clarify REDIS_URL dependency
  docker/docker-compose.infra.yml
Due: none

fix(review): [major] Add inbound validation tests and narrow exception handling
  src/omnibase_infra/gateway/services/service_envelope_validator.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/integration/gateway/test_gateway_config.py
  tests/integration/gateway/test_runtime_gateway_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(deps): bump omnibase-core to ^0.15.0, version to 0.4.1
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/omnibase_infra/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

chore(deps): bump omnibase-core to ^0.15.0, version to 0.4.1 (#252)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/omnibase_infra/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(review): [major/minor] Update stale docs for consolidated compose, fix DSN
  README.md
  docker/docker-compose.infra.yml
  docs/getting-started/quickstart.md
Due: onex-validate-markdown-links

fix(review): [major/minor] Fix README ports, rename REDIS to VALKEY, Infisical vars
  .env.example
  README.md
  docker/docker-compose.infra.yml
  docker/init-scripts/create-multiple-databases.sh
Due: onex-validate-markdown-links

fix(review): [minor] Distinct OTEL_SERVICE_NAME per runtime service
  docker/docker-compose.infra.yml
Due: none

fix(gateway): Reject unverifiable signed envelopes, auto-generate trace_id, propagate correlation_id [OMN-1899]
  src/omnibase_infra/runtime/service_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Correct Valkey network exposure docstring
  tests/unit/docker/test_docker_security.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): Address PR #249 review feedback - correlation_id consistency and test markers [OMN-1899]
  src/omnibase_infra/gateway/services/service_envelope_signer.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/integration/runtime/test_runtime_introspection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Add missing pytest.mark.unit markers and fix comment ordering
  tests/integration/registration/handlers/conftest.py
  tests/unit/test_cryptography_compatibility.py
  tests/unit/types/test_types_module_exports.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1972): Add canonical TopicResolver and declarative orchestrator subscriptions
  contracts/runtime/runtime_config.yaml
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  src/omnibase_infra/runtime/publisher_topic_scoped.py
  src/omnibase_infra/runtime/request_response_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/services/contract_publisher/service.py
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/topic_resolver.py
  tests/unit/contracts/__init__.py
  tests/unit/contracts/test_orchestrator_contract_event_bus.py
  tests/unit/mixins/test_mixin_node_introspection_event_bus.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
  tests/unit/runtime/test_kernel_no_hardcoded_topics.py
  tests/unit/runtime/test_publisher_topic_scoped.py
  tests/unit/topics/test_topic_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1908): Add cross-repo validation ledger persistence layer
  src/omnibase_infra/migrations/002_create_validation_event_ledger.sql
  src/omnibase_infra/migrations/002_rollback_create_validation_event_ledger.sql
  src/omnibase_infra/models/validation_ledger/__init__.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_append_result.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_entry.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_query.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_replay_batch.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/__init__.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/node.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_validation_ledger_repository.py
  src/omnibase_infra/runtime/db/__init__.py
  src/omnibase_infra/runtime/db/postgres_validation_ledger_repository.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/handlers/test_handler_validation_ledger_projection.py
  tests/unit/models/validation/test_validation_ledger_models.py
  tests/unit/runtime/test_postgres_validation_ledger_repository.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(review): [minor] Remove unused timezone imports
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
  tests/unit/handlers/test_handler_validation_ledger_projection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(gateway): Serialize dict envelope before signing to prevent UUID TypeError [OMN-1899]
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/integration/gateway/test_runtime_gateway_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): Address PR #253 review feedback and fix CI failures
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/integration/registration/test_introspection_event_bus_e2e.py
  tests/integration/runtime/test_event_bus_contract_wiring.py
  tests/unit/handlers/test_handler_validation_ledger_projection.py
  tests/unit/nodes/test_orchestrator_decision_paths.py
  tests/unit/nodes/test_orchestrator_purity.py
  tests/unit/runtime/test_postgres_validation_ledger_repository.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Stale docs, platform-dependent matching, and type inconsistency [OMN-1899]
  src/omnibase_infra/gateway/models/model_gateway_config.py
  src/omnibase_infra/gateway/services/service_policy_engine.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): Address remaining PR #253 review feedback
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/topics/topic_resolver.py
  tests/unit/contracts/test_orchestrator_contract_event_bus.py
  tests/unit/runtime/test_kernel_no_hardcoded_topics.py
  tests/unit/runtime/test_postgres_validation_ledger_repository.py
  tests/unit/topics/test_topic_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): Address all PR #248 review feedback
  .env.example
  docker/.env.example
  docker/README.md
  docker/docker-compose.e2e.yml
  docker/docker-compose.infra.yml
  src/omnibase_infra/utils/util_dsn_validation.py
  tests/integration/docker/test_docker_integration.py
  tests/unit/docker/test_docker_performance.py
  tests/unit/docker/test_docker_security.py
  tests/unit/utils/test_util_dsn_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-1932): Wire snapshot publisher into registration handlers (Phase 3)
  docs/ops/snapshot_topic_configuration.md
  src/omnibase_infra/models/projection/model_registration_snapshot.py
  src/omnibase_infra/models/projection/model_snapshot_topic_config.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_registration_acked.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_runtime_tick.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  src/omnibase_infra/projectors/snapshot_publisher_registration.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/util_container_wiring.py
  tests/integration/projectors/test_snapshot_state_transitions.py
  tests/replay/test_snapshot_plus_tail.py
  tests/unit/models/projection/test_model_snapshot_topic_config.py
  tests/unit/projectors/test_snapshot_cache_operations.py
  tests/unit/projectors/test_snapshot_publisher_registration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(review): [minor] Add missing container init, use tuple on frozen model, fix copyright year
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_replay_batch.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/node.py
  src/omnibase_infra/runtime/db/postgres_validation_ledger_repository.py
  src/omnibase_infra/topics/topic_resolver.py
  tests/unit/models/validation/test_validation_ledger_models.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

feat(OMN-1897): Add infrastructure Docker Compose for local development (#248)
  .env.example
  README.md
  docker/.env.example
  docker/Dockerfile.runtime
  docker/README.md
  docker/docker-compose.e2e.yml
  docker/docker-compose.infra.yml
  docker/docker-compose.runtime.yml
  docker/init-scripts/create-multiple-databases.sh
  docs/getting-started/quickstart.md
  src/omnibase_infra/runtime/models/model_runtime_scheduler_config.py
  src/omnibase_infra/utils/util_dsn_validation.py
  tests/integration/docker/conftest.py
  tests/integration/docker/test_docker_integration.py
  tests/integration/registration/handlers/conftest.py
  tests/unit/docker/conftest.py
  tests/unit/docker/test_docker_performance.py
  tests/unit/docker/test_docker_security.py
  tests/unit/event_bus/test_kafka_event_bus.py
  tests/unit/test_cryptography_compatibility.py
  tests/unit/types/test_types_module_exports.py
  tests/unit/utils/test_util_dsn_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(review): [major] Fix ONEX topic naming to valid 5-segment format
  src/omnibase_infra/migrations/002_create_validation_event_ledger.sql
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_append_result.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_entry.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_query.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/__init__.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/node.py
  src/omnibase_infra/protocols/protocol_validation_ledger_repository.py
  tests/unit/handlers/test_handler_validation_ledger_projection.py
  tests/unit/models/validation/test_validation_ledger_models.py
  tests/unit/runtime/test_postgres_validation_ledger_repository.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

feat(OMN-1976): Add DependencyMaterializer for contract-driven resource creation
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_infra_resource_type.py
  src/omnibase_infra/runtime/dependency_materializer.py
  src/omnibase_infra/runtime/models/model_http_client_config.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  src/omnibase_infra/runtime/models/model_materialized_resources.py
  src/omnibase_infra/runtime/models/model_materializer_config.py
  src/omnibase_infra/runtime/models/model_postgres_pool_config.py
  src/omnibase_infra/runtime/providers/__init__.py
  src/omnibase_infra/runtime/providers/provider_http_client.py
  src/omnibase_infra/runtime/providers/provider_kafka_producer.py
  src/omnibase_infra/runtime/providers/provider_postgres_pool.py
  tests/unit/runtime/test_dependency_materializer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Strict-mode validators and pytestmark ordering [OMN-1899]
  src/omnibase_infra/gateway/models/model_gateway_config.py
  tests/unit/observability/wiring_health/test_mixin_emission_counter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [critical+major+minor] Security and concurrency fixes for DependencyMaterializer
  src/omnibase_infra/runtime/dependency_materializer.py
  src/omnibase_infra/runtime/models/model_postgres_pool_config.py
  src/omnibase_infra/runtime/providers/provider_postgres_pool.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1932): Replace substring heuristic with type-based bus detection in no-publish constraint tests
  tests/integration/handlers/test_handler_no_publish_constraint.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [critical+major+minor] Race condition, env validation, and config hardening
  src/omnibase_infra/runtime/dependency_materializer.py
  src/omnibase_infra/runtime/models/model_http_client_config.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  src/omnibase_infra/runtime/models/model_materializer_config.py
  src/omnibase_infra/runtime/models/model_postgres_pool_config.py
  tests/unit/runtime/test_dependency_materializer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(gateway): Add runtime gateway with envelope signing and realm enforcement [OMN-1899] (#249)
  pyproject.toml
  src/omnibase_infra/gateway/__init__.py
  src/omnibase_infra/gateway/enums/__init__.py
  src/omnibase_infra/gateway/enums/enum_validation_error.py
  src/omnibase_infra/gateway/models/__init__.py
  src/omnibase_infra/gateway/models/model_gateway_config.py
  src/omnibase_infra/gateway/services/__init__.py
  src/omnibase_infra/gateway/services/service_envelope_signer.py
  src/omnibase_infra/gateway/services/service_envelope_validator.py
  src/omnibase_infra/gateway/services/service_policy_engine.py
  src/omnibase_infra/gateway/utils/__init__.py
  src/omnibase_infra/gateway/utils/util_key_loader.py
  src/omnibase_infra/runtime/models/model_runtime_config.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/gateway/__init__.py
  tests/integration/gateway/conftest.py
  tests/integration/gateway/test_envelope_signer.py
  tests/integration/gateway/test_envelope_validator.py
  tests/integration/gateway/test_gateway_config.py
  tests/integration/gateway/test_key_loader.py
  tests/integration/gateway/test_policy_engine.py
  tests/integration/gateway/test_runtime_gateway_integration.py
  tests/integration/runtime/test_runtime_introspection.py
  tests/unit/observability/wiring_health/test_mixin_emission_counter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] Shutdown safety, pool size validation, exception narrowing
  src/omnibase_infra/runtime/dependency_materializer.py
  src/omnibase_infra/runtime/models/model_http_client_config.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  src/omnibase_infra/runtime/models/model_postgres_pool_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Exception coverage and dependency conflict detection
  src/omnibase_infra/runtime/dependency_materializer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1932): Fix snapshot state bug, resource leak, and stale docs
  src/omnibase_infra/models/projection/model_registration_snapshot.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_registration_acked.py
  src/omnibase_infra/projectors/snapshot_publisher_registration.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/projectors/test_snapshot_state_transitions.py
  tests/unit/projectors/test_snapshot_publisher_registration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1932): Update stale key format references in topic config and publisher docs
  src/omnibase_infra/models/projection/model_snapshot_topic_config.py
  src/omnibase_infra/projectors/snapshot_publisher_registration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
