Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-18544): the compose cloud runner stops declaring schema_migrations and reads the corpus's key
  .pre-commit-config.yaml
  docker/migrations/cloud/run-cloud-migrations.sh
  tests/unit/db/test_schema_migrations_tracker_shape_agreement_omn18544.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18545): build the lab overlay in the deploy job's finally so a failed migration preflight can be repaired
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/deploy_agent/lab_overlay.py
  scripts/deploy-agent/tests/unit/test_gateway_lane_scope_omn18134.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-17864): bump the occ-preflight reusable pin to the release containing the companion-wait (#3659)
  .github/workflows/ci.yml
  .github/workflows/hostile-reviewer.yml
Due: none

fix(OMN-18544): free the legacy tracker's index names when it is moved aside
  docker/migrations/cloud/run-cloud-migrations.sh
  tests/unit/db/test_schema_migrations_tracker_shape_agreement_omn18544.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18545): the failing path takes a bounded repair build, not the full lane apply
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/lab_overlay.py
  scripts/deploy-agent/tests/unit/test_lab_overlay_build_order_omn18545.py
  scripts/deploy-agent/tests/unit/test_lab_overlay_repair_build_omn18545.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18544): refuse a lane the convergence did not reach, and close the gate's own escapes
  docker/migrations/cloud/run-cloud-migrations.sh
  tests/unit/db/test_schema_migrations_tracker_shape_agreement_omn18544.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18545): target the repair build at the migration preflight and give it its own record key
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/deploy_agent/lab_overlay.py
  scripts/deploy-agent/tests/unit/test_gateway_lane_scope_omn18134.py
  scripts/deploy-agent/tests/unit/test_lab_overlay_build_order_omn18545.py
  scripts/deploy-agent/tests/unit/test_lab_overlay_repair_build_omn18545.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18544): derive the carried columns from the catalog, and close the gate's remaining escapes
  .pre-commit-config.yaml
  docker/migrations/cloud/run-cloud-migrations.sh
  tests/unit/db/test_schema_migrations_tracker_shape_agreement_omn18544.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18542): size the test-split matrix from the test population, not the path count (#3665)
  .github/workflows/ci.yml
  scripts/ci/detect_test_paths.py
  tests/ci/test_tests_split_job_budget_omn18542.py
  tests/unit/scripts/ci/test_detect_test_paths.py
  tests/unit/scripts/ci/test_split_count_sizing_omn18542.py
  tests/unit/scripts/test_prepush_remote_verify.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-18273): omnibase_infra automated pushes use the App identity (#3657)
  .github/workflows/dependency-cascade.yml
  .github/workflows/dev-baseline-publisher.yml
  .github/workflows/omnimarket-contract-pin-refresh.yml
  .github/workflows/plugin-pin-cascade.yml
  .github/workflows/sibling-lock-refresh.yml
  tests/ci/test_automated_pusher_identity_omn18273.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18544): exclude the derived key from the carried set, and refuse the runner's own idiom
  docker/migrations/cloud/run-cloud-migrations.sh
  tests/unit/db/test_schema_migrations_tracker_shape_agreement_omn18544.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18550): a boot that cannot finish says which contract and which probe
  src/omnibase_infra/runtime/health/contract_attach_readiness_gate.py
  src/omnibase_infra/runtime/models/model_contract_attach_gate_status.py
  src/omnibase_infra/runtime/runtime_host_process.py
  src/omnibase_infra/runtime/runtime_local_ingress.py
  tests/unit/runtime/test_boot_failure_attribution_omn18550.py
  tests/unit/runtime/test_runtime_local_ingress.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18550): the shipped contract corpus is checked for a self-collision
  tests/integration/runtime/test_local_ingress_self_collision_omn18550.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18545): reach the cloud-migrate build from a failed migration preflight, via a bounded repair path (#3666)
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/deploy_agent/lab_overlay.py
  scripts/deploy-agent/tests/unit/test_gateway_lane_scope_omn18134.py
  scripts/deploy-agent/tests/unit/test_lab_overlay_build_order_omn18545.py
  scripts/deploy-agent/tests/unit/test_lab_overlay_repair_build_omn18545.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18544): the compose cloud runner stops declaring schema_migrations and reads the corpus's key (#3667)
  .pre-commit-config.yaml
  docker/migrations/cloud/run-cloud-migrations.sh
  tests/unit/db/test_schema_migrations_tracker_shape_agreement_omn18544.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18550): a boot that cannot finish says which contract and which probe (#3669)
  src/omnibase_infra/runtime/health/contract_attach_readiness_gate.py
  src/omnibase_infra/runtime/models/model_contract_attach_gate_status.py
  src/omnibase_infra/runtime/runtime_host_process.py
  src/omnibase_infra/runtime/runtime_local_ingress.py
  tests/integration/runtime/test_local_ingress_self_collision_omn18550.py
  tests/unit/runtime/test_boot_failure_attribution_omn18550.py
  tests/unit/runtime/test_runtime_local_ingress.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18553): declare the 13 unaliased cloud migrations, and make the refusal name its offenders
  .pre-commit-config.yaml
  docker/migrations/forward/_ledger/cloud-migration-aliases.tsv
  scripts/run-forward-migrations.sh
  tests/unit/db/test_cloud_migration_alias_staleness_omn18553.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18553): advance the exact-manifest ratchet for the 13 declared aliases
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18553): keep autoclose coverage fixtures fresh
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18125_coverage_corpus.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18553): declare the 13 unaliased cloud migrations, and make the refusal name its offenders (#3670)
  .pre-commit-config.yaml
  docker/migrations/forward/_ledger/cloud-migration-aliases.tsv
  scripts/run-forward-migrations.sh
  tests/unit/db/test_cloud_migration_alias_staleness_omn18553.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18125_coverage_corpus.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18555): companion fixtures derive their timestamp instead of pinning it
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18125_coverage_corpus.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18135_readback_join.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18555_companion_fixture_clock.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18555): companion fixtures derive their timestamp instead of pinning it (#3671)
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18125_coverage_corpus.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18135_readback_join.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18555_companion_fixture_clock.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18113): the dev lane's onex-api pin is advanced by a script, not by hand
  scripts/deploy-agent/deploy_agent/lab_overlay.py
  scripts/runtime_build/refresh_dev_lane.sh
  scripts/runtime_build/repoint_dev_lane_onex_api.py
  scripts/runtime_build/tests/test_repoint_dev_lane_onex_api_omn18113.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18113): an image with no Labels key at all is resident, not collected
  scripts/runtime_build/repoint_dev_lane_onex_api.py
  scripts/runtime_build/tests/test_repoint_dev_lane_onex_api_omn18113.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17819): split the gate venv from the dispatch venv so the reconciler stops poisoning the canonical clone
  scripts/onex
  scripts/reconcile-host.sh
  scripts/reconcile-workspace-venvs.sh
  src/omnibase_infra/cli/omnimarket_drift_guard.py
  src/omnibase_infra/runtime/venv_purity.py
  tests/scripts/test_onex_wrapper.py
  tests/scripts/test_onex_wrapper_floor_omn17309.py
  tests/scripts/test_reconcile_clone_origin_drift_omn17295.py
  tests/scripts/test_reconcile_host_omn17307.py
  tests/scripts/test_reconcile_uv_privilege_omn17335.py
  tests/scripts/test_reconcile_workspace_venvs.py
  tests/unit/runtime/test_venv_purity.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: release omnibase-infra 0.38.29 (OMN-16976)
  CHANGELOG.md
Due: onex-validate-markdown-links

test(OMN-17819): cover dispatch gate venv split
  tests/integration/scripts/test_dispatch_gate_venv_split_omn17819.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18113): the dev lane's onex-api pin is advanced by a script, not by hand (#3673)
  scripts/deploy-agent/deploy_agent/lab_overlay.py
  scripts/runtime_build/refresh_dev_lane.sh
  scripts/runtime_build/repoint_dev_lane_onex_api.py
  scripts/runtime_build/tests/test_repoint_dev_lane_onex_api_omn18113.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17295): the documented lane probe has to be a command that runs
  src/omnibase_infra/cli/cli_delegate.py
  tests/unit/cli/test_delegate_locus.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: release omnibase-infra 0.38.29 (OMN-16976) (#3675)
  CHANGELOG.md
Due: onex-validate-markdown-links

fix(OMN-17214): attribute every auto-wiring publish seam to its subscription
  .pre-commit-config.yaml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/observability/__init__.py
  src/omnibase_infra/runtime/observability/consumer_flow_counters.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/ci/test_omn17214_publish_flow_attribution_gate.py
  tests/unit/runtime/auto_wiring/test_omn17214_publish_flow_attribution.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17819): clear an ambient UV_PROJECT_ENVIRONMENT before every project-default sync
  scripts/reconcile-workspace-venvs.sh
  tests/scripts/test_reconcile_uv_privilege_omn17335.py
  tests/scripts/test_reconcile_workspace_venvs.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17819): bump omnibase-infra to 0.38.30 for the packaged-source change
  pyproject.toml
  uv.lock
Due: none

fix(OMN-17214): integration proof that attribution survives the dispatch stack
  pyproject.toml
  tests/integration/observability/test_omn17214_publish_attribution_through_dispatch.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17295): the documented lane probe has to be a command that runs (#3676)
  src/omnibase_infra/cli/cli_delegate.py
  tests/unit/cli/test_delegate_locus.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18565): the kernel projection seam carries the envelope tenant, and delegation_events stops defaulting one
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0042_delegation_events_drop_house_tenant_default.sql
  pyproject.toml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_db_injection.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Revert "chore(OMN-17819): bump omnibase-infra to 0.38.30 for the packaged-source change"
  pyproject.toml
  uv.lock
Due: none

chore(OMN-17214): regenerate the runner image identity lock after the version bump
  docker/runners/runner-image.lock.json
Due: none

test(OMN-18565): real-Postgres integration proof for the vendored 0042
  tests/integration/db/test_delegation_events_tenant_default_removed_omn18565.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-13912): refresh runner image identity
  docker/runners/runner-image.lock.json
Due: none
