Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

OMN-20805: runner repair environment is Environment= lines so a host overrides it by drop-in
  scripts/deploy-runners.sh
  tests/ci/fixtures/rolling_runner_registration_preflight.json
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-17427): the pre-merge runtime boot also boots the dev lane's configuration class (#4777)
  .github/workflows/ci.yml
  .github/workflows/reusable-runtime-boot.yml
  .pre-commit-config.yaml
  contracts/OMN-17427.yaml
  tests/ci/fixtures/omnimarket_release_tags_omn17427.json
  tests/ci/test_runtime_boot_dev_lane_class_omn17427.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19558): preserve the typed cause of broker timeouts
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18595): advance frozen core pins to 0.47.37 for the cascade bump
  tests/fixtures/seams/core_release/0.46.11_expected_symbols.json
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-20805: root services carry HOME and LOGNAME as the cron environment did
  deploy/maintenance/systemd/omninode-host-maintenance-sync.service
  deploy/maintenance/systemd/omninode-inference-log-retention.service
  deploy/maintenance/systemd/omninode-runner-tree-converge.service
  deploy/maintenance/systemd/omninode-system-slack-report-alert.service
  deploy/maintenance/systemd/omninode-system-slack-report-digest.service
  deploy/maintenance/systemd/omninode-workspace-reconcile.service
  tests/ci/test_cron_entries_have_completion_evidence_omn20805.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-17427: Bind evidence requirements and DoD evidence to hotpatch ledger reconcile tests
  contracts/OMN-17427.yaml
Due: onex-validate-contracts

fix(OMN-20422): bind this PR's own evidence in the contract
  contracts/OMN-20422.yaml
Due: onex-validate-contracts

fix(OMN-18595): rebind AC2 to test that fails at merge base
  contracts/OMN-18595.yaml
Due: onex-validate-contracts

OMN-19558: move broker timeout regression to integration tests
  tests/integration/delegation/test_omn19558_broker_timeout_cause.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Fix OMN-18595 AC2 evidence path selector
  contracts/OMN-18595.yaml
Due: onex-validate-contracts

fix(OMN-20782): bind AC2/AC3 and select anti-growth omniclaude block
  contracts/OMN-20782.yaml
  tests/ci/test_anti_growth_baselines_omn19677.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20782): omnibase_infra enforces the five hygiene classes on added lines (#4785)
  .github/workflows/public-repo-hygiene.yml
  .pre-commit-config.yaml
  .public-repo-hygiene.yaml
  contracts/OMN-20782.yaml
  tests/ci/fixtures/public_repo_hygiene_added_lines_omn20782.json
  tests/ci/test_anti_growth_baselines_omn19677.py
  tests/ci/test_public_repo_hygiene_enforcement_omn20782.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20008): vendor metering_summary 0004, savings as a share of the baseline
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_metering_summary/0004_metering_summary_savings_pct.sql
  tests/unit/migrations/test_omn20008_metering_savings_pct_vendor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): remove private host detail from fixture comment
  scripts/deploy-agent/tests/unit/conftest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20837): add integration test and contract for slug
  contracts/OMN-20837.yaml
  tests/integration/ci/test_knowledge_base_slug_omn20837.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20837): read knowledge-base repo names from config/runner_fleet.yaml
  tests/unit/observability/runner_health/test_runner_fleet_config.py
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-20837): omnibase_infra names the renamed public repository knowledge_base (#4794)
  README.md
  config/lab_proof_profiles.yaml
  config/runner_fleet.yaml
  config/runner_routing_policy.yaml
  contracts/OMN-20837.yaml
  docker/runners/git-mirror-refresh.sh
  scripts/pull-all.sh
  src/omnibase_infra/backends/auto_configure.py
  tests/integration/ci/test_knowledge_base_slug_omn20837.py
  tests/unit/backends/test_bus_resolution_order.py
  tests/unit/observability/runner_health/test_runner_fleet_config.py
  tests/unit/scripts/ci/test_validate_lab_proof_profiles.py
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-18894): resolve slot via policy and add contracts
  contracts/OMN-18894.yaml
  tests/unit/scripts/test_prepr_tenant_lifecycle_omn18894.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-18894: wire slot gateway tenant lifecycle (#4712)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  contracts/OMN-18894.yaml
  docker/docker-compose.prepr.yml
  scripts/runtime_build/prepr_teardown_slot.py
  scripts/runtime_build/prepr_teardown_slot.sh
  scripts/runtime_build/prepr_verify_lane.sh
  scripts/smoke/smoke_delegation.sh
  tests/unit/scripts/test_prepr_tenant_lifecycle_omn18894.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(deps, OMN-18606): refresh lane census snapshot to clear drift gate
  deploy/lane-census/census-snapshot.json
Due: none

fix(OMN-19131): name --timeout and the ceiling in the timeout refusal line
  src/omnibase_infra/cli/delegate_human_output.py
  tests/unit/cli/test_delegate_human_output_omn19131.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(ci): add contracts/OMN-9050.yaml for the core pin bump [OMN-9050]
  contracts/OMN-9050.yaml
Due: onex-validate-contracts

fix(OMN-19131): bind runtime ceiling guidance coverage
  contracts/OMN-19131.yaml
  tests/integration/cli/test_delegate_ceiling_guidance_omn19131.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20844): onex delegate takes --model and C29 probe grades chosen model
  contracts/OMN-20844.yaml
  scripts/ci/c29_customer_byo_key_probe.py
  src/omnibase_infra/cli/cli_delegate.py
  tests/ci/fixtures/c29_chosen_model_receipt_omn20844.json
  tests/ci/test_c29_customer_byo_key_probe_omn19200.py
  tests/ci/test_c29_probe_model_choice_omn20844.py
  tests/ci/test_c29_probe_verdict_branches.py
  tests/unit/cli/test_delegate_model_choice_omn20844.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-19558: Adds contracts/OMN-19558.yaml for repo-evidence / dod-verify
  contracts/OMN-19558.yaml
Due: onex-validate-contracts

OMN-20805: Add contracts/OMN-20805.yaml for repo-evidence
  contracts/OMN-20805.yaml
Due: onex-validate-contracts

fix(OMN-19131): name --timeout and the ceiling in the timeout refusal line (#4797)
  contracts/OMN-19131.yaml
  src/omnibase_infra/cli/delegate_human_output.py
  tests/integration/cli/test_delegate_ceiling_guidance_omn19131.py
  tests/unit/cli/test_delegate_human_output_omn19131.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-19558: Bind AC1 and AC2 to existing tests in OMN-19558.yaml
  contracts/OMN-19558.yaml
Due: onex-validate-contracts

ci(OMN-20422): pin omniintelligence to 30f37eca so a self-negating reviewer finding no longer blocks (#4784)
  .github/sibling-pins.yaml
  .github/workflows/ci.yml
  .github/workflows/contract-topic-graph.yml
  .github/workflows/hostile-reviewer.yml
  contracts/OMN-20422.yaml
  tests/ci/fixtures/hostile_reviewer_pin_omn20422_cli_review.json
  tests/ci/test_hostile_reviewer_pin_omn20422.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20805): bind AC2 dod_evidence and drop flagged drift entries
  contracts/OMN-20805.yaml
  deploy/unit-drift-manifest.yaml
  tests/unit/scripts/test_maintenance_sync_timer_activation_omn20805.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-19558: drop AC1 and AC2 acceptance entries and dod_evidence items from contracts/OMN-19558.yaml
  contracts/OMN-19558.yaml
Due: onex-validate-contracts

test(ci): add handshake core pin test and bind in contract [OMN-9050]
  contracts/OMN-9050.yaml
  tests/ci/test_check_handshake_core_pin_omn9050.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-20805: every lab-host cron entry this repo installs records each run's completion through a systemd timer (#4793)
  contracts/OMN-20805.yaml
  deploy/maintenance/cron.d/omninode-host-maintenance-sync
  deploy/maintenance/cron.d/omninode-runner-tree-converge
  deploy/maintenance/cron.d/omninode-system-slack-report
  deploy/maintenance/cron.d/omninode-workspace-reconcile
  deploy/maintenance/omninode-host-maintenance-sync.sh
  deploy/maintenance/omninode-system-slack-report.sh
  deploy/maintenance/omninode-workspace-reconcile.sh
  deploy/maintenance/systemd/omninode-host-maintenance-sync.service
  deploy/maintenance/systemd/omninode-host-maintenance-sync.timer
  deploy/maintenance/systemd/omninode-inference-log-retention.service
  deploy/maintenance/systemd/omninode-inference-log-retention.timer
  deploy/maintenance/systemd/omninode-runner-tree-converge.service
  deploy/maintenance/systemd/omninode-runner-tree-converge.timer
  deploy/maintenance/systemd/omninode-system-slack-report-alert.service
  deploy/maintenance/systemd/omninode-system-slack-report-alert.timer
  deploy/maintenance/systemd/omninode-system-slack-report-digest.service
  deploy/maintenance/systemd/omninode-system-slack-report-digest.timer
  deploy/maintenance/systemd/omninode-workspace-reconcile.service
  deploy/maintenance/systemd/omninode-workspace-reconcile.timer
  deploy/push-lanes/onex-foreign-prepush-detect.service
  deploy/push-lanes/onex-foreign-prepush-detect.timer
  scripts/check_reconciler_privilege.py
  scripts/deploy-runners.sh
  scripts/push_lanes/deploy-push-lanes.sh
  tests/ci/fixtures/rolling_runner_registration_preflight.json
  tests/ci/test_cron_entries_have_completion_evidence_omn20805.py
  tests/scripts/test_maintenance_sync_clone_privilege_omn17443.py
  tests/scripts/test_runner_tree_converge_omn18567.py
  tests/scripts/test_workspace_reconcile_cron_omn17311.py
  tests/unit/observability/runner_health/test_runner_fleet_config.py
  tests/unit/scripts/test_deploy_runners_add_service_omn18408.py
  tests/unit/scripts/test_maintenance_sync_converge_omn17898.py
  tests/unit/scripts/test_maintenance_sync_timer_activation_omn20805.py
  tests/unit/scripts/test_omninode_host_maintenance_sync.py
  tests/unit/scripts/test_omninode_system_slack_report.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19558): preserve typed broker timeout cause (#4789)
  contracts/OMN-19558.yaml
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/integration/delegation/test_omn19558_broker_timeout_cause.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17427): retire hot-patch ledger rows through a reconcile node (#4776)
  contracts/OMN-17427.yaml
  pyproject.toml
  scripts/preflight_hotpatch_ledger.py
  src/omnibase_infra/enums/generated/enum_platform_topic.py
  src/omnibase_infra/handlers/handler_hotpatch_ledger_reconcile.py
  src/omnibase_infra/models/model_hotpatch_ledger_reconcile_request.py
  src/omnibase_infra/models/model_hotpatch_ledger_reconcile_result.py
  src/omnibase_infra/nodes/node_hotpatch_ledger_reconcile_effect/__init__.py
  src/omnibase_infra/nodes/node_hotpatch_ledger_reconcile_effect/contract.yaml
  src/omnibase_infra/nodes/node_hotpatch_ledger_reconcile_effect/node.py
  src/omnibase_infra/runtime/topics.yaml
  tests/fixtures/dispatch_parity/selection-oracle-v2.json
  tests/integration/hotpatch/__init__.py
  tests/integration/hotpatch/test_hotpatch_ledger_reconcile_integration_omn17427.py
  tests/unit/handlers/test_handler_hotpatch_ledger_reconcile.py
  tests/unit/scripts/test_preflight_hotpatch_ledger.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

test(OMN-18596): add contract and test for memory pin
  contracts/OMN-18596.yaml
  tests/unit/docker/test_runtime_memory_pin_omn18596.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20743): emit check and workflow run observations
  src/omnibase_infra/enums/generated/enum_github_topic.py
  src/omnibase_infra/nodes/node_github_webhook_ingress_effect/contract.yaml
  src/omnibase_infra/nodes/node_github_webhook_ingress_effect/models/__init__.py
  src/omnibase_infra/nodes/node_github_webhook_ingress_effect/models/model_github_check_run_observation.py
  src/omnibase_infra/nodes/node_github_webhook_ingress_effect/models/model_github_workflow_run_observation.py
  src/omnibase_infra/nodes/node_github_webhook_ingress_effect/webhook_fold.py
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/unit/nodes/node_github_webhook_ingress_effect/test_webhook_fold_red_checks.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20844): contract enum, integration test, dispatch port model
  contracts/OMN-20844.yaml
  src/omnibase_infra/runtime/protocols/protocol_delegation_dispatch_port.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/helpers/cli_registry_stand_in/node_delegate_stand_in/model_stand_in_delegate_request.py
  tests/integration/cli/test_delegate_model_choice_cli_omn20844.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17292): align reader and dispatch gates with the contract pin
  .github/sibling-pins.yaml
  .github/workflows/duplication-sweep.yml
  .github/workflows/exposure-reader-coverage.yml
  src/omnibase_infra/runtime/protocols/protocol_delegation_dispatch_port.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  src/omnibase_infra/validators/bus_backed_exposure_readers.py
  tests/ci/fixtures/local_page_readers/credentials.json
  tests/ci/test_pinned_local_page_readers.py
  tests/integration/runtime/test_delegation_dispatch_port_handler_compat.py
  tests/unit/validators/test_omn17199_bus_backed_exposure_readers.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
