Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(review): [minor] Replace no-op _require_frozen stub with NotImplementedError
  src/omnibase_infra/runtime/registry/mixin_payload_query.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] Restore missing test coverage and regression guards
  tests/unit/runtime/test_domain_plugin_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-2021): Add smoke plugin fixture and seam test for discovery contract (#274)
  tests/unit/runtime/test_domain_plugin_discovery_seam.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Move EntryPoint import under TYPE_CHECKING guard
  tests/integration/runtime/test_domain_plugin_entry_point_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Add missing whitespace-version validation test
  tests/unit/runtime/registry/test_registry_payload.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Remove unused import and add strict-mode test coverage
  tests/unit/runtime/test_domain_plugin_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2022): Integration test for real entry_point discovery (#278)
  tests/integration/runtime/test_domain_plugin_entry_point_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Add has_errors negative-case assertions and no-colon path test
  tests/unit/runtime/test_domain_plugin_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-2020): Add 22 unit tests for plugin discovery mechanism (#276)
  tests/unit/runtime/test_domain_plugin_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: Bump version to 0.6.0 with core 0.16.0 and spi 0.7.0
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/omnibase_infra/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

chore: Bump version to 0.6.0 with core 0.16.0 and spi 0.7.0 (#279)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/omnibase_infra/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-2036): Add ProtocolPayloadRegistry and RegistryPayload (#277)
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_payload_registry.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_payload_registry.py
  src/omnibase_infra/runtime/registry/__init__.py
  src/omnibase_infra/runtime/registry/mixin_payload_query.py
  src/omnibase_infra/runtime/registry/mixin_payload_registration.py
  src/omnibase_infra/runtime/registry/registry_payload.py
  tests/unit/runtime/registry/test_registry_payload.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2037): Use event_type as primary routing key in MessageDispatchEngine
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2038): Propagate event_type through EventBusSubcontractWiring
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Strip event_type whitespace and update stale docstring
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Normalize event_type once to eliminate redundant strip calls
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2038): Address PR #281 review feedback
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2037): Use event_type as primary routing key in dispatch (#280)
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2038): Add missing topic arg to integration test deserialization calls
  tests/integration/runtime/test_event_bus_contract_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2047): Add omniclaude to trusted plugin namespace prefixes
  src/omnibase_infra/runtime/constants_security.py
  src/omnibase_infra/runtime/models/model_security_config.py
  tests/unit/runtime/test_constants_security.py
  tests/unit/runtime/test_domain_plugin_discovery.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2040): Add DLQ routing for unknown event_type in dispatch engine
  src/omnibase_infra/event_bus/__init__.py
  src/omnibase_infra/event_bus/topic_constants.py
  src/omnibase_infra/models/dispatch/model_dispatch_result.py
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  tests/unit/event_bus/test_topic_constants.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2038): Propagate event_type through EventBusSubcontractWiring (#281)
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  tests/integration/runtime/test_event_bus_contract_wiring.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2047): Add omniclaude to trusted plugin namespace prefixes (#282)
  src/omnibase_infra/runtime/constants_security.py
  src/omnibase_infra/runtime/models/model_security_config.py
  tests/unit/runtime/test_constants_security.py
  tests/unit/runtime/test_domain_plugin_discovery.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Fix misleading comment, incomplete docstring, and add edge case tests
  src/omnibase_infra/event_bus/topic_constants.py
  tests/unit/event_bus/test_topic_constants.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Update stale comments and add dlq_topic to Attributes docstring
  src/omnibase_infra/event_bus/topic_constants.py
  src/omnibase_infra/models/dispatch/model_dispatch_result.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2040): Update stale test for expanded DLQ category validation
  tests/integration/event_bus/test_dlq_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2050): Wire MessageDispatchEngine as single consumer path
  src/omnibase_infra/models/dispatch/model_dispatch_result.py
  src/omnibase_infra/nodes/node_registration_orchestrator/__init__.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/introspection_event_router.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/runtime/service_intent_executor.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
  tests/unit/runtime/test_kernel_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2040): Add DLQ routing for unknown event_type (#283)
  src/omnibase_infra/event_bus/__init__.py
  src/omnibase_infra/event_bus/topic_constants.py
  src/omnibase_infra/models/dispatch/model_dispatch_result.py
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  tests/integration/event_bus/test_dlq_integration.py
  tests/unit/event_bus/test_topic_constants.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Add exception-safety test for _derive_dlq_topic wrapper
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Add missing @pytest.mark.unit to TestDispatchDlqRouting
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2040): Add missing test marker and exception-safety test (#285)
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2050): Inject dispatch engine into RuntimeHostProcess and add intent effects
  src/omnibase_infra/enums/enum_message_category.py
  src/omnibase_infra/nodes/contract_registry_reducer/reducer.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/handlers/handler_ledger_projection.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_heartbeat.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_registration_acked.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_runtime_tick.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  src/omnibase_infra/nodes/reducers/registration_reducer.py
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  src/omnibase_infra/runtime/intent_effects/__init__.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_consul_register.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_upsert.py
  src/omnibase_infra/runtime/service_intent_routing_loader.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/integration/ledger/test_ledger_e2e_pipeline.py
  tests/integration/nodes/test_intent_flow_integration.py
  tests/integration/registration/e2e/conftest.py
  tests/integration/registration/e2e/test_full_orchestrator_flow.py
  tests/integration/registration/e2e/test_runtime_e2e.py
  tests/integration/registration/workflow/test_workflow_a0_a2.py
  tests/integration/registration/workflow/test_workflow_a3_a4.py
  tests/replay/test_idempotent_replay.py
  tests/replay/test_state_reconstruction.py
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
  tests/unit/nodes/reducers/test_reducer_performance.py
  tests/unit/nodes/reducers/test_registration_reducer.py
  tests/unit/nodes/test_node_ledger_projection_compute.py
  tests/unit/registration/dispatchers/test_dispatcher_node_heartbeat.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
  tests/unit/runtime/test_intent_effect_consul_register.py
  tests/unit/runtime/test_intent_effect_postgres_upsert.py
  tests/unit/runtime/test_intent_routing_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

fix(OMN-2050): Align tests with simplified HandlerNodeIntrospected signature
  tests/integration/handlers/test_handler_no_publish_constraint.py
  tests/integration/projectors/test_snapshot_state_transitions.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2050): Fix mypy arg-type error in intent_effect_postgres_upsert
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_upsert.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2050): Fix data loss, crash, and missing Consul info from review
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_heartbeat.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_registration_acked.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_runtime_tick.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/reducers/models/model_payload_consul_register.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_consul_register.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/runtime/service_intent_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

feat(OMN-2078): Add query reader and ledger sink for injection effectiveness
  src/omnibase_infra/services/observability/injection_effectiveness/__init__.py
  src/omnibase_infra/services/observability/injection_effectiveness/ledger_sink_postgres.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/__init__.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_injection_effectiveness_query.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_injection_effectiveness_query_result.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_injection_effectiveness_row.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_latency_breakdown_row.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_pattern_hit_rate_row.py
  src/omnibase_infra/services/observability/injection_effectiveness/protocol_reader.py
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
  tests/unit/services/observability/__init__.py
  tests/unit/services/observability/injection_effectiveness/__init__.py
  tests/unit/services/observability/injection_effectiveness/conftest.py
  tests/unit/services/observability/injection_effectiveness/test_ledger_sink_postgres.py
  tests/unit/services/observability/injection_effectiveness/test_models.py
  tests/unit/services/observability/injection_effectiveness/test_reader_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2050): Re-raise output event publish errors and model cleanup
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/__init__.py
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_projection_record.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/runtime/service_intent_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Add explicit type annotation for asyncpg fetchval return
  src/omnibase_infra/services/observability/injection_effectiveness/reader_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2050): Document partial failure, harden intent routing, add schema refs
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_upsert.py
  src/omnibase_infra/runtime/service_intent_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2050): Fix type safety, missing validation, and silent data loss
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_upsert.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/runtime/service_intent_executor.py
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  tests/unit/runtime/test_intent_effect_postgres_upsert.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
