Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

feat(OMN-16106): the evidence closer applies on its schedule
  .github/workflows/evidence-autoclose-sweep.yml
  tests/ci/test_evidence_autoclose_sweep_apply_input.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15060): serialize runtime-sized pre-push selections (#3193)
  scripts/hooks/prepush_smart_tests.sh
  scripts/trigger_rebuild_on_merge.py
  tests/unit/scripts/test_prepush_host_table.py
  tests/unit/scripts/test_prepush_smart_tests_seam.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11833): cap local topic provisioning
  docker/catalog/bundles.yaml
  tests/unit/infra/test_catalog_generator.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17923): the runner proofs must outlive the suite-wide pytest timeout
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17872): the disk guard halts on free space, not on a percentage (#3194)
  scripts/disk-gc.sh
  scripts/disk-watermark-check.sh
  scripts/disk-watermark-thresholds.json
  scripts/disk_watermark_event.py
  scripts/disk_watermark_thresholds.py
  tests/ci/test_runner_disk_preflight.py
  tests/unit/scripts/test_disk_gc_dry_run.py
  tests/unit/scripts/test_disk_watermark_event.py
  tests/unit/scripts/test_disk_watermark_free_space_floor_omn17872.py
  tests/unit/scripts/test_disk_watermark_mac_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16106): the evidence closer applies on its schedule (#3195)
  .github/workflows/evidence-autoclose-sweep.yml
  tests/ci/test_evidence_autoclose_sweep_apply_input.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11833): cap local topic provisioning (#3196)
  docker/catalog/bundles.yaml
  tests/unit/infra/test_catalog_generator.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11833): omit unset Claude credential mount
  docker/catalog/services/runtime-effects.yaml
  src/omnibase_infra/docker/catalog/cli.py
  src/omnibase_infra/docker/catalog/generator.py
  src/omnibase_infra/docker/catalog/manifest_schema.py
  src/omnibase_infra/docker/catalog/model_optional_directory_bind_mount.py
  src/omnibase_infra/docker/catalog/resolver.py
  tests/unit/infra/test_catalog_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17923): retire migration 104 until the onex-dev projection carries validator_ro (#3197)
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/104_create_validator_ro_role.sql
  docker/migrations/forward/_ledger/retired-flat-migrations.tsv
  docker/migrations/rollback/rollback_104_create_validator_ro_role.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  tests/scripts/test_node_migration_fence_parity.py
  tests/unit/db/test_migration_104_omn17792.py
  tests/unit/db/test_migration_104_retired_omn17923.py
  tests/unit/topology/test_validator_ro_principal_omn17792.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to 1a27e01c26de [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

fix(OMN-11833): omit unset Claude credential mount (#3198)
  docker/catalog/services/runtime-effects.yaml
  src/omnibase_infra/docker/catalog/cli.py
  src/omnibase_infra/docker/catalog/generator.py
  src/omnibase_infra/docker/catalog/manifest_schema.py
  src/omnibase_infra/docker/catalog/model_optional_directory_bind_mount.py
  src/omnibase_infra/docker/catalog/resolver.py
  tests/unit/infra/test_catalog_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17908): sweep the status_unreadable guard across every policy axis
  tests/unit/runtime/health/test_container_healthcheck.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17908): sweep the status_unreadable guard across every policy axis (#3200)
  tests/unit/runtime/health/test_container_healthcheck.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16979): widen the outbound hook set behind a fail-closed egress gate
  src/omnibase_infra/nodes/node_bus_forwarder_effect/contract.yaml
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/__init__.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_egress_redaction.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_forwarder_config.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_gateway_forwarder.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_gateway_topic_transform.py
  src/omnibase_infra/runtime/gateway_forwarder.py
  tests/unit/nodes/node_bus_forwarder_effect/test_egress_redaction_omn16979.py
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_forwarder_config.py
  tests/unit/nodes/node_bus_forwarder_effect/test_https_ingest_omn16459.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17034.py
  tests/unit/runtime/test_gateway_forwarder_runtime.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17342): a bounded backfill enumeration arm for the evidence closer
  .github/workflows/evidence-autoclose-sweep.yml
  src/omnibase_infra/cli/skill_mapping.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/__init__.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/enum_evidence_autoclose_arm.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_outcome.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_sweep_request.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_sweep_result.py
  tests/ci/test_evidence_autoclose_sweep_apply_input.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_17342_backfill_arm.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17342): sync node_evidence_autoclose_sweep_effect contract to the backfill fields
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
Due: onex-validate-contracts

fix(OMN-16979): make the content-bearing interlock a rule, not a topic list
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_forwarder_config.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_gateway_topic_transform.py
  tests/unit/nodes/node_bus_forwarder_effect/test_egress_redaction_omn16979.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17342): a bounded backfill enumeration arm for the evidence closer (#3201)
  .github/workflows/evidence-autoclose-sweep.yml
  src/omnibase_infra/cli/skill_mapping.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/__init__.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/enum_evidence_autoclose_arm.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_outcome.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_sweep_request.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_sweep_result.py
  tests/ci/test_evidence_autoclose_sweep_apply_input.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_17342_backfill_arm.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16979): widen the outbound hook set behind a fail-closed egress gate (#3202)
  src/omnibase_infra/nodes/node_bus_forwarder_effect/contract.yaml
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/__init__.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_egress_redaction.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_forwarder_config.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_gateway_forwarder.py
  src/omnibase_infra/runtime/gateway_forwarder.py
  tests/unit/nodes/node_bus_forwarder_effect/test_egress_redaction_omn16979.py
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_forwarder_config.py
  tests/unit/nodes/node_bus_forwarder_effect/test_https_ingest_omn16459.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17034.py
  tests/unit/runtime/test_gateway_forwarder_runtime.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to 47d6311989aa [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

feat(OMN-17658): the closer's safety fences, and the arming authority moved into the contract
  .github/workflows/evidence-autoclose-sweep.yml
  src/omnibase_infra/cli/skill_mapping.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/__init__.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/enum_evidence_autoclose_decision.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/enum_evidence_autoclose_mode.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/enum_evidence_autoclose_trigger.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_outcome.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_sweep_request.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_sweep_result.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/ci/test_evidence_autoclose_sweep_apply_input.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_15911_behavior_proof_gate.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_16808_comment_idempotency.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_16821_non_probative_denominator.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_17342_backfill_arm.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_17658_closer_safety_fences.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_17891_exclusion_fence.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17919): key the lane mirror on the wire header, not a decoded envelope
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_lane_mirror.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_lane_mirror.py
  tests/unit/nodes/node_bus_forwarder_effect/conftest.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17919_wire_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17658): the closer's safety fences, and the arming authority moved into the contract (#3204)
  .github/workflows/evidence-autoclose-sweep.yml
  src/omnibase_infra/cli/skill_mapping.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/__init__.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/enum_evidence_autoclose_decision.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/enum_evidence_autoclose_mode.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/enum_evidence_autoclose_trigger.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_outcome.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_sweep_request.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_sweep_result.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/ci/test_evidence_autoclose_sweep_apply_input.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_15911_behavior_proof_gate.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_16808_comment_idempotency.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_16821_non_probative_denominator.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_17342_backfill_arm.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_17658_closer_safety_fences.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_17891_exclusion_fence.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17919): key the lane mirror on the wire header, not a decoded envelope (#3205)
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_lane_mirror.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_lane_mirror.py
  tests/unit/nodes/node_bus_forwarder_effect/conftest.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17919_wire_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17934): the bound readback raced Linear's history connection and under-reported a real write
  .github/workflows/evidence-autoclose-sweep.yml
  src/omnibase_infra/cli/skill_mapping.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_sweep_request.py
  tests/ci/test_evidence_autoclose_sweep_apply_input.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_17658b_readback_eventual_consistency.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17919): dial the stability lane on its external listener, not its internal one
  docker/gateway/beta-gateway-canary.yaml
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17034.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17919_advertised_listener.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17934): the bound readback raced Linear's history connection and under-reported a real write (#3206)
  .github/workflows/evidence-autoclose-sweep.yml
  src/omnibase_infra/cli/skill_mapping.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_sweep_request.py
  tests/ci/test_evidence_autoclose_sweep_apply_input.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_17658b_readback_eventual_consistency.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17919): dial the stability lane on its external listener, not its internal one (#3207)
  docker/gateway/beta-gateway-canary.yaml
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17034.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17919_advertised_listener.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17624): refresh gates wait for a monitor verdict instead of signing off blind
  scripts/runtime_build/health_payload.py
  scripts/runtime_build/tests/test_health_payload_omn17563.py
  scripts/runtime_build/tests/test_health_verdict_wait_omn17624.py
  scripts/runtime_build/tests/test_verify_stability_refresh.py
  scripts/runtime_build/verify_dev_refresh.py
  scripts/runtime_build/verify_stability_refresh.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to 9d80e0291127 [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

fix(OMN-17793): fail closed on invalid architecture source checkout
  scripts/check_architecture.sh
  scripts/validate.py
  tests/unit/scripts/test_check_architecture_core_path.py
  tests/unit/validation/test_validate_architecture_layers.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17857): validate race topic metadata spec
  src/omnibase_infra/event_bus/service_topic_manager.py
  tests/unit/event_bus/test_service_topic_manager.py
  tests/unit/event_bus/test_topic_provisioner_rf_policy_omn15395.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17624): refresh gates wait for a monitor verdict instead of signing off blind (#3208)
  scripts/runtime_build/health_payload.py
  scripts/runtime_build/tests/test_health_payload_omn17563.py
  scripts/runtime_build/tests/test_health_verdict_wait_omn17624.py
  scripts/runtime_build/tests/test_verify_stability_refresh.py
  scripts/runtime_build/verify_dev_refresh.py
  scripts/runtime_build/verify_stability_refresh.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17624): enforce verdict freshness by default, stop waiting on terminal failures, stop understating the bound
  scripts/runtime_build/health_payload.py
  scripts/runtime_build/tests/test_health_payload_omn17563.py
  scripts/runtime_build/tests/test_health_verdict_wait_omn17624.py
  scripts/runtime_build/tests/test_verify_stability_refresh.py
  scripts/runtime_build/verify_dev_refresh.py
  scripts/runtime_build/verify_stability_refresh.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17857): validate race topic metadata spec (#3210)
  src/omnibase_infra/event_bus/service_topic_manager.py
  tests/unit/event_bus/test_service_topic_manager.py
  tests/unit/event_bus/test_topic_provisioner_rf_policy_omn15395.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16106): the closer's Linear reads survive a transient fault
  src/omnibase_infra/cli/skill_mapping.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_sweep_request.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_linear_client_transient_retry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17624): address health verdict review gaps
  scripts/runtime_build/health_payload.py
  scripts/runtime_build/tests/test_health_verdict_wait_omn17624.py
  scripts/runtime_build/verify_dev_refresh.py
  scripts/runtime_build/verify_stability_refresh.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17871): pin verified RSD artifact provenance
  docker/lane-overlays/dev.rsd-model-artifact-provenance.example.yaml
  src/omnibase_infra/runtime/models/model_rsd_model_artifact_provenance.py
  tests/unit/runtime/test_rsd_model_artifact_provenance.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
