Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-15179): fail-loud build-loop trigger, home script + deploy path in repo
  scripts/deploy-build-loop-trigger.sh
  scripts/onex-build-loop-trigger.sh
  scripts/systemd/onex-build-loop.service
  tests/unit/scripts/test_onex_build_loop_trigger.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15186): bump omnibase-core pin past delegation completion model
  docker/runners/runner-image.lock.json
  pyproject.toml
  tests/integration/test_state_io_outbox_seam_red.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-15181: parameterize prod compose image slot for pinned-digest deploys
  docker/docker-compose.prod.yml
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_executor_prod_digest.py
  scripts/deploy-agent/tests/unit/test_executor_prod_image_slot_omn15181.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15168): pair steel terminal topic and handler routing
  scripts/check_subscribe_wiring_health.py
  scripts/validation/lint_topic_names.py
  src/omnibase_infra/enums/generated/__init__.py
  src/omnibase_infra/enums/generated/enum_steel_onslaught_topic.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/contract.yaml
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/unit/nodes/test_contract_subscription_audit.py
  tests/unit/nodes/test_node_ledger_projection_compute.py
  tests/unit/runtime/test_ledger_projection_dispatch_reachability.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-15179: fail-loud build-loop trigger, home script + deploy path in repo
  scripts/deploy-build-loop-trigger.sh
  scripts/onex-build-loop-trigger.sh
  scripts/systemd/onex-build-loop.service
  tests/unit/scripts/test_onex_build_loop_trigger.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15181): per-service stability-digest resolution in deploy-agent (round 4, Finding 11)
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_agent_prod_stability_digest_guard_wiring_omn15181.py
  scripts/deploy-agent/tests/unit/test_executor_prod_digest.py
  scripts/deploy-agent/tests/unit/test_executor_prod_per_service_stability_digest_omn15181.py
  scripts/deploy-agent/tests/unit/test_executor_prod_verify_failure_semantics_omn15181.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15188): thread topic through KafkaContractSource dynamic materialization
  src/omnibase_infra/runtime/kafka_contract_source.py
  tests/integration/runtime/test_kafka_contract_source_topic_match_same_operation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15181): per-service stability digest resolution
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_agent_prod_stability_digest_guard_wiring_omn15181.py
  scripts/deploy-agent/tests/unit/test_executor_prod_digest.py
  scripts/deploy-agent/tests/unit/test_executor_prod_per_service_stability_digest_omn15181.py
  scripts/deploy-agent/tests/unit/test_executor_prod_verify_failure_semantics_omn15181.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15188): thread topic through Kafka contract materialization
  src/omnibase_infra/runtime/kafka_contract_source.py
  tests/integration/runtime/test_kafka_contract_source_topic_match_same_operation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15195): remove direct env reads from runner health bridge
  src/omnibase_infra/nodes/node_runner_fleet_health_compute/handlers/handler_runner_fleet_health_evaluate.py
  src/omnibase_infra/nodes/node_runner_health_snapshot_effect/handlers/handler_runner_fleet_snapshot.py
  src/omnibase_infra/observability/runner_health/model_runner_fleet_config.py
  src/omnibase_infra/utils/util_runtime_packages.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-15195): pin deploy gate to pyyaml resolver
  .github/required-checks.yaml
  .github/workflows/deploy-gate.yml
Due: onex-validate-contracts

docs(OMN-15198): slim CLAUDE.md 43049 -> 18136 bytes per context-engineering doctrine
  CLAUDE.md
  docs/patterns/service_catalog.md
Due: onex-validate-markdown-links

docs(OMN-15198): slim CLAUDE.md 43049 -> 18136 bytes per context-engineering doctrine (#2482)
  CLAUDE.md
  docs/patterns/service_catalog.md
Due: onex-validate-markdown-links

fix(OMN-15195): correct omniclaude deploy-gate pin
  .github/required-checks.yaml
  .github/workflows/deploy-gate.yml
Due: onex-validate-contracts

ci(OMN-15195): retry PR webhook file pagination
  .github/workflows/artifact-reconciliation-webhook.yml
Due: none

ci(OMN-15195): use org token for env parity sibling checkout
  .github/workflows/env-parity.yml
Due: none

ci(OMN-15195): fix infra sweep blocker gates
  .github/workflows/artifact-reconciliation-webhook.yml
  scripts/validate_handler_contracts.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-15212): correct live-false ModelIntentPayloadBase-removed-in-0.6.2 claim
  CLAUDE.md
  docs/standards/ONEX_TERMINOLOGY.md
  src/omnibase_infra/models/validation_ledger/model_payload_validation_ledger_append.py
  src/omnibase_infra/nodes/node_registration_reducer/models/model_payload_ledger_append.py
  src/omnibase_infra/nodes/node_registration_reducer/models/model_payload_postgres_upsert_registration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

ci(OMN-15195): use cross-repo token for env parity sibling checkout
  .github/workflows/env-parity.yml
Due: none

docs(OMN-15212): correct live-false ModelIntentPayloadBase-removed-in-0.6.2 claim (#2483)
  CLAUDE.md
  docs/standards/ONEX_TERMINOLOGY.md
  src/omnibase_infra/models/validation_ledger/model_payload_validation_ledger_append.py
  src/omnibase_infra/nodes/node_registration_reducer/models/model_payload_ledger_append.py
  src/omnibase_infra/nodes/node_registration_reducer/models/model_payload_postgres_upsert_registration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-15169): steel dispatch golden chain — topic to event_ledger row
  tests/fixtures/golden_chains/steel_dispatch_ledger_negative_evidence.json
  tests/fixtures/golden_chains/steel_dispatch_ledger_success.json
  tests/integration/runtime/test_steel_dispatch_golden_chain_live_runtime.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-14974): build runtime candidates on hosted runner
  .github/workflows/build-workspace-candidate-runtime.yml
  tests/ci/test_workspace_candidate_build.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-14974): bind hosted candidate runner policy
  config/runner_routing_policy.yaml
  tests/integration/test_workspace_candidate_runner_routing.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-14974): build runtime candidates on hosted runner (#2485)
  .github/workflows/build-workspace-candidate-runtime.yml
  config/runner_routing_policy.yaml
  tests/ci/test_workspace_candidate_build.py
  tests/integration/test_workspace_candidate_runner_routing.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15214): OCC companion-merged STRICT gate — make merged-product+open-companion unreachable
  .github/workflows/ci.yml
  scripts/ci/check_occ_companion_merged.py
  scripts/ci/ci_summary_gate.py
  tests/ci/test_check_occ_companion_merged.py
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15214): OCC companion-merged STRICT gate — companion must merge before product PR
  .github/workflows/ci.yml
  scripts/ci/check_occ_companion_merged.py
  scripts/ci/ci_summary_gate.py
  tests/ci/test_check_occ_companion_merged.py
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14974): create TLS context for managed Kafka
  src/omnibase_infra/event_bus/kafka_auth.py
  tests/unit/event_bus/test_msk_auth_direct_clients.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14974): create TLS context for managed Kafka (#2487)
  src/omnibase_infra/event_bus/kafka_auth.py
  tests/unit/event_bus/test_msk_auth_direct_clients.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15215): attach consumers for topic_match contracts in the runtime routing loader
  src/omnibase_infra/models/routing/model_routing_subcontract.py
  src/omnibase_infra/runtime/auto_wiring/__init__.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/contract_loaders/handler_routing_loader.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/auto_wiring/test_not_ready_reconciliation_omn15215.py
  tests/unit/runtime/contract_loaders/test_handler_routing_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): bound managed Kafka topic warm
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/test_topic_provisioner_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15215): attach topic-match consumers after readiness
  src/omnibase_infra/models/routing/model_routing_subcontract.py
  src/omnibase_infra/runtime/auto_wiring/__init__.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/contract_loaders/handler_routing_loader.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/auto_wiring/test_not_ready_reconciliation_omn15215.py
  tests/unit/runtime/contract_loaders/test_handler_routing_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15169): add steel dispatch golden-chain proof
  tests/fixtures/golden_chains/steel_dispatch_ledger_negative_evidence.json
  tests/fixtures/golden_chains/steel_dispatch_ledger_success.json
  tests/integration/runtime/test_steel_dispatch_golden_chain_live_runtime.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): bound managed Kafka topic warm (#2489)
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/test_topic_provisioner_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
