Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

test: isolate delivery-chain validation fixtures (OMN-17991)
  tests/audit/test_no_dead_delegation_flags.py
  tests/integration/tools/test_topic_pipeline_e2e.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(keycloak): set fullScopeAllowed=false on all 9 clients (OMN-17848 AC1-3) (#3407)
  docker/keycloak/desired-clients.json
  scripts/seed-keycloak-clients.py
  scripts/tests/test_keycloak_desired_clients_contract.py
  scripts/tests/test_seed_keycloak_clients.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18135): the closer joins readbacks to state-shaped criteria, and names the bar (#3409)
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18135_readback_join.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18134): bring the gateway compose project under the deploy agent's DEV scope (#3411)
  scripts/deploy-agent/deploy_agent/events.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/pyproject.toml
  scripts/deploy-agent/tests/unit/conftest.py
  scripts/deploy-agent/tests/unit/test_executor_runtime_scope.py
  scripts/deploy-agent/tests/unit/test_gateway_lane_scope_omn18134.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18135): the state vocabulary reads the criteria it was written for
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18135_readback_join.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18120): give the canary healthcheck the lane-credential map its own loader demands
  docker/docker-compose.gateway.yml
  src/omnibase_infra/runtime/gateway_canary_probe.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn18120_dev_lane_sasl.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18120): give the canary healthcheck the lane-credential map its own loader demands (#3412)
  docker/docker-compose.gateway.yml
  src/omnibase_infra/runtime/gateway_canary_probe.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn18120_dev_lane_sasl.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18135): the state vocabulary reads the criteria it was written for (#3413)
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18135_readback_join.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18134): deploy-gateway.sh reload step is state-aware
  scripts/deploy-gateway.sh
  tests/scripts/test_deploy_gateway.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18135): each added state marker is tested on its own, and proven load-bearing
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18135_readback_join.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18162): retire the pre-push test leg in omnibase_infra
  .github/workflows/microbenchmarks-nightly.yml
  .pre-commit-config.yaml
  scripts/hooks/prepush_smart_tests.sh
  scripts/tests/test_seed_keycloak_clients.py
  tests/ci/test_prepush_test_leg_retired_omn18162.py
  tests/unit/runtime/test_policy_registry_performance.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18135): each added state marker is tested on its own, and proven load-bearing (#3414)
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18135_readback_join.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18162): retire the pre-push test leg in omnibase_infra (#3415)
  .github/workflows/microbenchmarks-nightly.yml
  .pre-commit-config.yaml
  scripts/hooks/prepush_smart_tests.sh
  scripts/tests/test_seed_keycloak_clients.py
  tests/ci/test_prepush_test_leg_retired_omn18162.py
  tests/unit/runtime/test_policy_registry_performance.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18162): fold the nightly into nightly-tests.yml, drop the env gate, date the doctrine
  .github/workflows/microbenchmarks-nightly.yml
  .github/workflows/nightly-tests.yml
  .pre-commit-config.yaml
  CLAUDE.md
  tests/ci/test_prepush_test_leg_retired_omn18162.py
  tests/unit/runtime/test_policy_registry_performance.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

test(OMN-15744): golden and error chain tests for the MSK SNI bastion path
  .github/workflows/msk-bastion-canary.yml
  .github/workflows/nightly-integration.yml
  pyproject.toml
  tests/ci/test_msk_bastion_canary_workflow.py
  tests/integration/bastion/__init__.py
  tests/integration/bastion/test_msk_sni_bastion_chain.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18134): deploy-gateway.sh reload step is state-aware (#3416)
  scripts/deploy-gateway.sh
  tests/scripts/test_deploy_gateway.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18162): fold the nightly into nightly-tests.yml, drop the env gate, date the doctrine (#3417)
  .github/workflows/microbenchmarks-nightly.yml
  .github/workflows/nightly-tests.yml
  .pre-commit-config.yaml
  CLAUDE.md
  tests/ci/test_prepush_test_leg_retired_omn18162.py
  tests/unit/runtime/test_policy_registry_performance.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

chore(OMN-15744): regenerate runner image identity lock
  docker/runners/runner-image.lock.json
Due: none

chore(OMN-17292): advance omnimarket contract pin to 20f5dec734db [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

feat(OMN-17812): canonical desired-user-profile.json + AC3 contract tests (7 pass)
  docker/keycloak/desired-user-profile.json
  scripts/tests/test_desired_user_profile_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17812): canonical desired-user-profile.json + AC3 contract tests (7 pass) (#3420)
  docker/keycloak/desired-user-profile.json
  scripts/tests/test_desired_user_profile_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15744): golden and error chain tests for the MSK SNI bastion path (#3418)
  .github/workflows/msk-bastion-canary.yml
  .github/workflows/nightly-integration.yml
  docker/runners/runner-image.lock.json
  pyproject.toml
  tests/ci/test_msk_bastion_canary_workflow.py
  tests/integration/bastion/__init__.py
  tests/integration/bastion/test_msk_sni_bastion_chain.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18159): the runtime kernel's projection adapter can perform an attested write
  pyproject.toml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_projection_attested_write_omn18159.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18159): rebind the runner image identity to the bumped core pin
  docker/runners/runner-image.lock.json
Due: none

chore(OMN-18159): carry the core pin bump through its two dependent seams
  src/omnibase_infra/runtime/version_compatibility.py
  tests/fixtures/seams/core_release/0.46.11_expected_symbols.json
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18159): the runtime kernel's projection adapter can perform an attested write (#3422)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/version_compatibility.py
  tests/fixtures/seams/core_release/0.46.11_expected_symbols.json
  tests/unit/runtime/auto_wiring/test_projection_attested_write_omn18159.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to aa21e5d8f3b6 [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

feat(OMN-18159): vendor 0039 and declare the aggregate views' read grants
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0039_delegation_aggregate_views_per_tenant.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/physical_schema_mapping.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
