Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-15570): mirror gateway heartbeat onto local bus; drift-pin SQL thresholds (OMN-15762)
  docker/migrations/forward/098_create_gateway_link_health.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_gateway_forwarder.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/unit/db/test_migration_098.py
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_forwarder_service.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15570): gateway link-health projection (G3, gateway lift Phase 0)
  docker/migrations/forward/098_create_gateway_link_health.sql
  docker/migrations/rollback/rollback_098_create_gateway_link_health.sql
  pyproject.toml
  scripts/check_subscribe_wiring_health.py
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/__init__.py
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/handlers/handler_gateway_link_health_projection.py
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/models/__init__.py
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/models/model_payload_gateway_link_health_upsert.py
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/node.py
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/registry/__init__.py
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/registry/registry_infra_gateway_link_health_projection.py
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/__init__.py
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/handlers/handler_gateway_link_health_upsert.py
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/models/__init__.py
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/models/model_gateway_link_health_upsert_result.py
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/node.py
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/registry/registry_infra_gateway_link_health_write.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/nodes/node_gateway_link_health_projection_compute/__init__.py
  tests/unit/nodes/node_gateway_link_health_projection_compute/test_handler_gateway_link_health_projection.py
  tests/unit/nodes/node_gateway_link_health_write_effect/__init__.py
  tests/unit/nodes/node_gateway_link_health_write_effect/handlers/__init__.py
  tests/unit/nodes/node_gateway_link_health_write_effect/handlers/test_handler_gateway_link_health_upsert.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(hook): check-required-env-vars validates the diff, not the host
  .pre-commit-config.yaml
  docker/required-env-vars.manifest.txt
  scripts/check_required_env_vars.py
  tests/scripts/test_check_required_env_vars.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15570): renumber gateway link-health migration 098 to 100
  docker/migrations/forward/100_create_gateway_link_health.sql
  docker/migrations/rollback/rollback_100_create_gateway_link_health.sql
  docker/migrations/schema_fingerprint.sha256
  tests/unit/db/test_migration_100.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-15570): correct now-false G1/G2 scope disclosure after rebase
  docker/migrations/forward/100_create_gateway_link_health.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/models/model_payload_gateway_link_health_upsert.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16170): raise sqlparse floor to 0.6.0 to fix 3 HIGH CVEs
  pyproject.toml
  uv.lock
Due: none

fix(OMN-15578): NOT-READY/reconciliation-exhausted warnings carry per-topic reason+detail
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_omn15578_readiness_failure_log_fields.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15570): consume the heartbeat's self-reported status in the link-health projection
  docker/migrations/forward/100_create_gateway_link_health.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/handlers/handler_gateway_link_health_projection.py
  src/omnibase_infra/nodes/node_gateway_link_health_projection_compute/models/model_payload_gateway_link_health_upsert.py
  src/omnibase_infra/nodes/node_gateway_link_health_write_effect/handlers/handler_gateway_link_health_upsert.py
  tests/integration/migrations/test_100_gateway_link_health_verdicts.py
  tests/unit/db/test_migration_100.py
  tests/unit/nodes/node_gateway_link_health_projection_compute/test_handler_gateway_link_health_projection.py
  tests/unit/nodes/node_gateway_link_health_write_effect/handlers/test_handler_gateway_link_health_upsert.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16187): make local core bring-up work with locally-generated secrets
  .env.example
  .pre-commit-config.yaml
  docker/catalog/bundles.yaml
  scripts/generate-local-env.sh
  src/omnibase_infra/docker/catalog/cli.py
  tests/unit/docker/test_catalog_env_file_resolution.py
  tests/unit/docker/test_infisical_first_config.py
  tests/unit/docker/test_local_bringup_no_private_vault.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16171): stop source-only gates re-running on PR body edits
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/duplication-sweep.yml
  .github/workflows/url-authority-gate.yml
  tests/ci/test_edited_trigger_scope_omn16171.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16191): re-point infra eval services at omnibase_core instead of onex_change_control
  src/omnibase_infra/services/eval/eval_event_emitter.py
  src/omnibase_infra/services/eval/eval_regression_check.py
  src/omnibase_infra/services/eval/service_eval_runner.py
  tests/unit/services/eval/test_eval_event_emitter.py
  tests/unit/services/eval/test_eval_regression_check.py
  tests/unit/services/eval/test_service_eval_runner.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16171): heal stale occ-preflight in place instead of re-running the whole matrix on every body edit
  .github/workflows/ci.yml
  .github/workflows/occ-preflight-heal.yml
  tests/ci/test_edited_trigger_scope_omn16171.py
  tests/ci/test_occ_eval_path_trigger_coverage.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16090): hook_events topology grant — public, matching physical location
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
Due: onex-validate-contracts

fix(OMN-16171): make the self-heal guard read the world, not its own config
  tests/ci/test_occ_eval_path_trigger_coverage.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16204): widen node_bus_forwarder_effect mirror_topics.outbound with omniclaude session-lifecycle pair
  src/omnibase_infra/nodes/node_bus_forwarder_effect/contract.yaml
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_forwarder_config.py
  tests/unit/runtime/test_gateway_forwarder_runtime.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15468): status derivation reads the terminal payload's verdict
  src/omnibase_infra/runtime/contract_terminal_events.py
  src/omnibase_infra/runtime/service_pattern_b_broker.py
  tests/unit/runtime/test_omn15468_status_reads_payload_verdict.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15978): reconcile runner fleet config to live 88-runner fleet
  config/runner_fleet.yaml
  docker/docker-compose.runners.yml
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16216): draft-state CI admission gate on omnibase_infra
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .github/workflows/deploy-gate.yml
  .github/workflows/hostile-reviewer.yml
  .github/workflows/security-scan.yml
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16170): regenerate runner image identity after sqlparse relock
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-16041): sync contract.yaml for node_runner_fleet_health_compute + node_runner_health_snapshot_effect
  src/omnibase_infra/nodes/node_runner_fleet_health_compute/contract.yaml
  src/omnibase_infra/nodes/node_runner_health_snapshot_effect/contract.yaml
Due: onex-validate-contracts

fix(OMN-16090): hook_events topology grant — public, matching physical location (#2787)
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
Due: onex-validate-contracts

chore(OMN-16041): backmerge main lineage into dev alongside the v0.38.5 promotion (#2745)
  .github/required-checks.yaml
  .github/workflows/artifact-reconciliation-webhook.yml
  .github/workflows/deploy-gate.yml
  .github/workflows/env-parity.yml
  scripts/validate_handler_contracts.py
  src/omnibase_infra/nodes/node_runner_fleet_health_compute/contract.yaml
  src/omnibase_infra/nodes/node_runner_fleet_health_compute/handlers/handler_runner_fleet_health_evaluate.py
  src/omnibase_infra/nodes/node_runner_health_snapshot_effect/contract.yaml
  src/omnibase_infra/nodes/node_runner_health_snapshot_effect/handlers/handler_runner_fleet_snapshot.py
  src/omnibase_infra/observability/runner_health/model_runner_fleet_config.py
  src/omnibase_infra/utils/util_runtime_packages.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16146): bump manifest golden-count test to 102
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16146): vendor node_projection_registration 0005 migration
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_registration/0005_create_projection_watermarks.sql
Due: none

fix(OMN-16146): grant projection_watermarks table + regenerate catalogs
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
Due: onex-validate-contracts

fix(OMN-16146): regenerate catalogs post-rebase onto OMN-16090's hook_events fix
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
Due: onex-validate-contracts

fix(OMN-16146): bridge projection_watermarks into public per OMN-15359
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/physical_schema_mapping.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16170): raise sqlparse floor to 0.6.0 to fix 3 HIGH CVEs (#2783)
  docker/runners/runner-image.lock.json
  pyproject.toml
  uv.lock
Due: none

fix(OMN-16146): schema-qualify projection_watermarks (revert public bridge)
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_registration/0005_create_projection_watermarks.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/physical_schema_mapping.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16146): re-vendor 0005 with OMN-15376 shape-reconciliation block
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_registration/0005_create_projection_watermarks.sql
Due: none

fix(OMN-16234): regenerate application-database table grants + rendered topology catalogs
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
Due: onex-validate-contracts

fix(OMN-16146): vendor node_projection_registration 0005 migration (#2795)
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_registration/0005_create_projection_watermarks.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15718): bound compose-up deadlines + reconcile stranded rollback containers (#2677)
  scripts/deploy-runtime.sh
  scripts/runtime_build/compose_wait_timeout.sh
  scripts/runtime_build/refresh_stability_lane.sh
  tests/scripts/test_compose_wait_timeout.py
  tests/scripts/test_deploy_runtime_compose_wait_timeout_wiring.py
  tests/scripts/test_deploy_runtime_warmup_restore.py
  tests/scripts/test_refresh_stability_lane_compose_wait_timeout_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16228): scan uv.lock for known CVEs in PR CI
  .github/workflows/ci.yml
  scripts/ci/check_lockfile_cve.py
  scripts/ci/ci_summary_gate.py
  tests/ci/test_check_lockfile_cve.py
  tests/fixtures/omn-16170-sqlparse-cve/osv_dev_sqlparse_0.4.4_query_response.json.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16228): raise lockfile-cve-scan timeout 5->15 min (live proof finding)
  .github/workflows/ci.yml
Due: none

fix(OMN-16228): run osv-scanner as a native binary, not docker -v (live proof finding)
  .github/workflows/ci.yml
Due: none
