Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-16385): drop dead CREATE EXTENSION pgcrypto from migration 045 (#2844)
  docker/migrations/forward/045_create_validation_event_ledger.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/topology/physical_schema_mapping.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: none

fix(OMN-15918): wire gateway_attach Keycloak secret-resolver mappings into dev-lane contract (#2845)
  contracts/services/runtime_policy.contract.yaml
  docker/docker-compose.infra.yml
  docker/runtime-policy.env
Due: onex-validate-contracts

fix(OMN-16293): wire real savings-estimation correlation, delete legacy buffer (#2818)
  .onex_ratchets/noncanonical_class_allowlist.yaml
  config/validation/runtime_profiles_allowlist.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_savings_estimation_compute/0001_create_savings_signal_tables.sql
  docs/evidence/OMN-12548/determinism-audit.json
  scripts/check_contract_topic_parity.py
  scripts/check_subscribe_wiring_health.py
  scripts/ci/check_application_database_sql.py
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/enums/generated/enum_omniclaude_topic.py
  src/omnibase_infra/enums/generated/enum_omniintelligence_topic.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/contract.yaml
  src/omnibase_infra/nodes/node_savings_estimation_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/handlers/handler_savings_correlation.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/models/__init__.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/models/enum_catch_severity.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/models/model_savings_correlation_batch_command.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/models/model_savings_correlation_batch_output.py
  src/omnibase_infra/nodes/node_savings_estimation_compute/node.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/services/observability/savings_estimation/__init__.py
  src/omnibase_infra/services/observability/savings_estimation/config.py
  src/omnibase_infra/services/observability/savings_estimation/consumer.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/integration/observability/test_savings_estimation_dispatch_eval_projection.py
  tests/integration/observability/test_savings_estimation_e2e.py
  tests/integration/observability/test_savings_estimation_non_dispatch_projection.py
  tests/integration/runtime/test_handler_routing_loader_typed_integration.py
  tests/integration/runtime/test_savings_estimator_subscription_group.py
  tests/integration/test_savings_correlation_contract_wiring.py
  tests/integration/test_savings_estimation_non_dispatch_projection.py
  tests/unit/nodes/node_savings_estimation_compute/test_handler_savings_correlation.py
  tests/unit/observability/test_savings_estimation_config.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
  tests/unit/services/observability/savings_estimation/__init__.py
  tests/unit/services/observability/savings_estimation/test_consumer.py
  tests/unit/services/test_savings_estimation_non_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

docs(OMN-16363): formalize tune2fs Layer 0 filesystem-reserve fix
  docs/runbooks/runner-disk-admission-gate.md
Due: onex-validate-markdown-links

docs(OMN-16363): formalize tune2fs Layer 0 filesystem-reserve fix (#2849)
  docs/runbooks/runner-disk-admission-gate.md
Due: onex-validate-markdown-links

fix(OMN-16265): register fault-inject-fixture entry point + wiring-health allowlist
  pyproject.toml
  scripts/check_subscribe_wiring_health.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16265): permanent fault-injection fixture node for DLQ offset-withholding proof
  docker/catalog/bundles.yaml
  docker/catalog/services/fault-inject-fixture.yaml
  docs/runbooks/fault-inject-fixture-dlq-offset-withholding.md
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/__init__.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/contract.yaml
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/handlers/handler_fault_inject_fixture.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/models/__init__.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/models/model_fault_inject_fixture_command.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/models/model_fault_inject_fixture_result.py
  src/omnibase_infra/nodes/node_fault_inject_fixture_compute/node.py
  tests/unit/nodes/test_node_fault_inject_fixture_compute/__init__.py
  tests/unit/nodes/test_node_fault_inject_fixture_compute/test_handler_fault_inject_fixture.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, onex-validate-markdown-links

fix(OMN-16265): regenerate CI oracles stale from the pyproject.toml entry-point fix
  docker/runners/runner-image.lock.json
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
Due: none

fix(OMN-16265): require explicit gateway attach Keycloak URLs
  docker/docker-compose.infra.yml
  docker/required-env-vars.manifest.txt
Due: none

fix(OMN-16414): guard onexbot-occ-writer app-token mint steps for fork PRs
  .github/workflows/ci.yml
  .github/workflows/env-parity.yml
  .github/workflows/omni-standards-compliance.yml
Due: none

test(OMN-16265): seed gateway attach URLs for deploy-agent compose config
  scripts/deploy-agent/tests/unit/test_executor_prod_image_slot_omn15181.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-16414): update pinned OMNI_REPO_CLONE_TOKEN expectation for fork fallback
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16110): inline nested KEYCLOAK_REALM default in docker-compose.infra.yml
  docker/docker-compose.infra.yml
Due: none

test(OMN-16265): seed gateway attach URLs in compose render fixtures
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_dev_runtime_compose_render.py
  tests/integration/infra/test_judge_compose_render.py
  tests/integration/infra/test_prod_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16424): regenerate stale adequacy receipt for node_coding_agent_invoke_effect
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_coding_agent_invoke_effect.json
Due: none

fix(OMN-16420): gateway canary healthcheck stops crying wolf on a live leg
  src/omnibase_infra/runtime/gateway_canary_probe.py
  tests/unit/runtime/test_gateway_canary_probe.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15468): seed gateway attach URLs in compose fixtures
  docker/docker-compose.infra.yml
  docker/required-env-vars.manifest.txt
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_dev_runtime_compose_render.py
  tests/integration/infra/test_judge_compose_render.py
  tests/integration/infra/test_prod_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16426): flatten nested Keycloak URL expansion in docker-compose.infra.yml
  docker/docker-compose.infra.yml
Due: none

fix(OMN-16414): guard onexbot-occ-writer app-token mint steps for fork PRs (#2850)
  .github/workflows/ci.yml
  .github/workflows/env-parity.yml
  .github/workflows/omni-standards-compliance.yml
  docker/docker-compose.infra.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16159): bake ticket ref into sibling-lock-refresh bot PR title (#2781)
  .github/workflows/sibling-lock-refresh.yml
Due: none

test(OMN-15468): seed gateway attach URLs for deploy-agent compose tests
  scripts/deploy-agent/tests/unit/test_executor_prod_image_slot_omn15181.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15484): sync merge-hold-gate vocabulary_ref to bumped uses: SHA
  .github/workflows/ci.yml
Due: none

fix(OMN-15578): NOT-READY/reconciliation-exhausted warnings carry per-topic reason+detail (#2784)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_omn15578_readiness_failure_log_fields.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15468): suppress subshell pull-all summaries
  scripts/pull-all.sh
Due: none

fix(OMN-16424): regenerate stale adequacy receipt for node_coding_agent_invoke_effect (#2853)
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_coding_agent_invoke_effect.json
Due: none

build(edge-delegation-worker): outbound-only claim/infer/publish/ack worker (OMN-forwarder scout follow-up) (#2854)
  scripts/edge_delegation_worker/__init__.py
  scripts/edge_delegation_worker/cli.py
  scripts/edge_delegation_worker/credential_loader.py
  scripts/edge_delegation_worker/delegation_channel.py
  scripts/edge_delegation_worker/gateway_control_plane.py
  scripts/edge_delegation_worker/local_model_bridge.py
  scripts/edge_delegation_worker/models.py
  scripts/edge_delegation_worker/topic_constants.py
  scripts/edge_delegation_worker/worker_cycle.py
  tests/unit/scripts/edge_delegation_worker/__init__.py
  tests/unit/scripts/edge_delegation_worker/fakes.py
  tests/unit/scripts/edge_delegation_worker/test_credential_loader.py
  tests/unit/scripts/edge_delegation_worker/test_delegation_channel.py
  tests/unit/scripts/edge_delegation_worker/test_gateway_control_plane.py
  tests/unit/scripts/edge_delegation_worker/test_local_model_bridge.py
  tests/unit/scripts/edge_delegation_worker/test_worker_cycle.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15468): status derivation reads the terminal payload's verdict (#2790)
  docker/docker-compose.infra.yml
  docker/required-env-vars.manifest.txt
  scripts/deploy-agent/tests/unit/test_executor_prod_image_slot_omn15181.py
  scripts/pull-all.sh
  src/omnibase_infra/runtime/contract_terminal_events.py
  src/omnibase_infra/runtime/service_pattern_b_broker.py
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_dev_runtime_compose_render.py
  tests/integration/infra/test_judge_compose_render.py
  tests/integration/infra/test_prod_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/runtime/test_omn15468_status_reads_payload_verdict.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15449): fail-closed anchor join on workflow_result.json (#2796)
  src/omnibase_infra/cli/receipt_mode.py
  tests/fixtures/seams/core_release/0.46.9_expected_symbols.json
  tests/unit/cli/test_cli_node_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16420): gateway canary healthcheck stops crying wolf on a live leg (#2851)
  src/omnibase_infra/runtime/gateway_canary_probe.py
  tests/unit/runtime/test_gateway_canary_probe.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16412): reject non-loopback ambient DB URL in migration shape-drift fixture
  .github/workflows/ci.yml
  .github/workflows/nightly-integration.yml
  tests/integration/migrations/test_node_migration_shape_drift_omn15376.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16422): bound node_dlq_replay_effect run() to stop the OMN-16418 re-drain storm
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  tests/unit/nodes/node_dlq_replay_effect/test_handler_dlq_replay_bounded_run_omn16422.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16406): stop and reclaim orphaned buildx ephemeral builders on .201
  .github/workflows/docker-build.yml
  deploy/disk-gc/install-buildx-orphan-sweep.sh
  deploy/disk-gc/onex-buildx-orphan-sweep.service
  deploy/disk-gc/onex-buildx-orphan-sweep.timer
  docs/runbooks/runner-disk-admission-gate.md
  scripts/buildx-orphan-sweep.sh
  tests/scripts/test_buildx_orphan_sweep.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-16433): pin sibling-lock-refresh's uv lock to the canonical public index
  .github/workflows/sibling-lock-refresh.yml
Due: none

fix(OMN-16426): refresh application table grants
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
Due: onex-validate-contracts
