Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(tests): remove unused ModelStubProject import [OMN-8815]
  tests/unit/adapters/test_local_stub_project_tracker.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(lint): apply ruff format to renderer_markdown.py [OMN-8810]
  src/omnibase_infra/onboarding/renderers/renderer_markdown.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(contract): remove dead ENABLE_LOCAL_DELEGATION flag [OMN-8779]
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  tests/audit/test_no_dead_delegation_flags.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: ruff format test_no_dead_delegation_flags to pass CI lint gate
  tests/audit/test_no_dead_delegation_flags.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(contract): remove dead ENABLE_LOCAL_DELEGATION flag [OMN-8779] (#1302)
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  tests/audit/test_no_dead_delegation_flags.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(flags): remove USE_ONEX_ROUTING_NODES from env template + validate_env [OMN-8781]
  docs/env-master-template.env
  scripts/validate_env.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(adapters): add LinearProjectTrackerAdapter wrapping MCP calls [OMN-8816]
  src/omnibase_infra/adapters/project_tracker/linear_project_tracker_adapter.py
  tests/unit/adapters/test_linear_project_tracker_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(adapters): replace Any with object to satisfy ONEX Any-type gate [OMN-8816]
  src/omnibase_infra/adapters/project_tracker/linear_project_tracker_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: ruff format adapter file [OMN-8816]
  src/omnibase_infra/adapters/project_tracker/linear_project_tracker_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(resolver): add resolve_project_tracker() — central tracker DI authority [OMN-8817]
  src/omnibase_infra/services/project_tracker/__init__.py
  src/omnibase_infra/services/project_tracker/resolver.py
  tests/services/test_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci: fix cr-thread-gate caller signature (OMN-8829 follow-up)
  .github/workflows/cr-thread-gate.yml
Due: none

ci: fix cr-thread-gate caller signature (OMN-8829 follow-up) (#1307)
  .github/workflows/cr-thread-gate.yml
Due: none

chore(security): add verify-merge-queue-no-bypass.sh (OMN-8843)
  scripts/verify-merge-queue-no-bypass.sh
Due: none

fix(compose): join runtime-effects to omnimemory-network for PluginMemory (OMN-8852)
  docker/docker-compose.infra.yml
Due: none

fix(compose): join runtime-effects to omnimemory-network for PluginMemory (OMN-8852) (#1309)
  docker/docker-compose.infra.yml
Due: none

chore(systemd): daemonize monitor_logs.py as onex-log-monitor.service on .201 (OMN-8870)
  deploy/systemd/onex-log-monitor.service
Due: none

fix(dockerfile): remove ONEX_INPUT_TOPIC/OUTPUT_TOPIC from runtime ENV (OMN-8784)
  docker/Dockerfile.runtime
Due: none

fix(ci): update cr-thread-gate to @main ref (OMN-8898)
  .github/workflows/cr-thread-gate.yml
Due: none

fix(dockerfile): remove ONEX_INPUT_TOPIC/OUTPUT_TOPIC from runtime ENV (OMN-8784) (#1312)
  docker/Dockerfile.runtime
Due: none

feat(ci): Wave C contract-sync gate — fail PRs that drift handler/skill without contract update (OMN-8915)
  .github/workflows/ci.yml
  scripts/ci_check_kafka_no_localhost_default.py
  scripts/validate-pr-contract-sync.sh
  src/omnibase_infra/adapters/project_tracker/linear_project_tracker_adapter.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  src/omnibase_infra/services/project_tracker/resolver.py
  tests/scripts/test_validate_pr_contract_sync.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): update imports after LinearProjectTrackerAdapter → AdapterLinearProjectTracker rename (OMN-8915)
  tests/integration/adapters/test_linear_project_tracker_adapter_integration.py
  tests/integration/services/test_resolver_integration.py
  tests/services/test_resolver.py
  tests/unit/adapters/test_linear_project_tracker_adapter.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(ci): Wave G-companion — auto-trigger rebuild on runtime_change PR merge [OMN-8917]
  .github/workflows/runtime-rebuild-trigger.yml
  scripts/trigger_rebuild_on_merge.py
  tests/unit/scripts/test_pr_merged_rebuild_trigger.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(ci): Wave C contract-sync gate — fail PRs that drift handler/skill without contract update (OMN-8915) (#1316)
  .github/workflows/ci.yml
  scripts/ci_check_kafka_no_localhost_default.py
  scripts/validate-pr-contract-sync.sh
  src/omnibase_infra/adapters/project_tracker/linear_project_tracker_adapter.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  src/omnibase_infra/services/project_tracker/resolver.py
  tests/integration/adapters/test_linear_project_tracker_adapter_integration.py
  tests/integration/services/test_resolver_integration.py
  tests/scripts/test_validate_pr_contract_sync.py
  tests/services/test_resolver.py
  tests/unit/adapters/test_linear_project_tracker_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(ci): add validate-pr-contracts script + tests (OMN-8909)
  scripts/validate_pr_contracts.py
  tests/ci/test_validate_pr_contracts.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: CR threads on omnibase_infra#1321 + pre-existing hook violations (OMN-8909)
  scripts/validate_pr_contracts.py
  scripts/validation/check_kafka_no_hardcoded_fallback.sh
  src/omnibase_infra/adapters/project_tracker/linear_project_tracker_adapter.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  tests/ci/test_validate_pr_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(env): remove stale ONEX_INPUT_TOPIC injections post OMN-8784 (OMN-8888)
  docker/catalog/services/omninode-runtime.yaml
  docker/catalog/services/runtime-effects.yaml
  docker/catalog/services/runtime-worker.yaml
  docker/docker-compose.infra.yml
Due: onex-validate-contracts

feat(ci): validate-pr-contracts Layer 1 gate (OMN-8909) (#1321)
  scripts/validate_pr_contracts.py
  scripts/validation/check_kafka_no_hardcoded_fallback.sh
  src/omnibase_infra/adapters/project_tracker/linear_project_tracker_adapter.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  tests/ci/test_validate_pr_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(security): strengthen merge queue verification (CR feedback)
  scripts/verify-merge-queue-no-bypass.sh
Due: none

feat(monitor): add SystemdHealthSweep + OOMKillSweep daemon threads (OMN-8872)
  scripts/monitor_logs.py
  src/omnibase_infra/adapters/project_tracker/linear_project_tracker_adapter.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  tests/unit/scripts/test_monitor_logs_omn8872.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-8854): add all_subscribe_topics() alias to ModelAutoWiringManifest
  src/omnibase_infra/adapters/project_tracker/linear_project_tracker_adapter.py
  src/omnibase_infra/runtime/auto_wiring/models/model_auto_wiring_manifest.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  tests/unit/runtime/auto_wiring/test_discovery.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(integration): add SystemdHealthSweep and OOMKillSweep integration tests (OMN-8872)
  tests/integration/test_systemd_oom_sweeps_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(integration): add ModelAutoWiringManifest integration tests (OMN-8854)
  tests/integration/test_auto_wiring_manifest_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(security): verify-merge-queue-no-bypass.sh (OMN-8843) (#1308)
  scripts/verify-merge-queue-no-bypass.sh
Due: none

fix(handlers): OMN-8735 auto-wiring compliance for 12 handlers
  src/omnibase_infra/handlers/handler_intent.py
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/handlers/handler_contract_file_watcher.py
  src/omnibase_infra/nodes/node_chain_retrieval_effect/handlers/handler_chain_retrieval.py
  src/omnibase_infra/nodes/node_chain_store_effect/handlers/handler_chain_store.py
  src/omnibase_infra/nodes/node_consumer_health_triage_effect/handlers/handler_consumer_health_triage.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/handlers/handler_ledger_projection.py
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  src/omnibase_infra/nodes/node_merge_gate_effect/handlers/handler_upsert_merge_gate.py
  src/omnibase_infra/nodes/node_onboarding_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_onboarding_orchestrator/handlers/handler_onboarding.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_runtime_error_triage_effect/handlers/handler_runtime_error_triage.py
  src/omnibase_infra/nodes/node_scope_workflow_orchestrator/handlers/__init__.py
  src/omnibase_infra/nodes/node_scope_workflow_orchestrator/handlers/handler_scope_check_initiate.py
  src/omnibase_infra/nodes/node_scope_workflow_orchestrator/handlers/handler_scope_extract_complete.py
  src/omnibase_infra/nodes/node_scope_workflow_orchestrator/handlers/handler_scope_file_read_complete.py
  src/omnibase_infra/nodes/node_scope_workflow_orchestrator/handlers/handler_scope_manifest_write_complete.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(handlers): add mypy null-guard assertions for OMN-8735 compliance
  src/omnibase_infra/nodes/node_chain_retrieval_effect/handlers/handler_chain_retrieval.py
  src/omnibase_infra/nodes/node_consumer_health_triage_effect/handlers/handler_consumer_health_triage.py
  src/omnibase_infra/nodes/node_merge_gate_effect/handlers/handler_upsert_merge_gate.py
  src/omnibase_infra/nodes/node_runtime_error_triage_effect/handlers/handler_runtime_error_triage.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(integration): OMN-8735 handler auto-wiring compliance tests [skip-contract-sync]
  tests/integration/handlers/test_handler_autowiring_compliance.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(contracts): OMN-8735 contract sync — mark 10 nodes as compliance-updated
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/contract.yaml
  src/omnibase_infra/nodes/node_chain_retrieval_effect/contract.yaml
  src/omnibase_infra/nodes/node_chain_store_effect/contract.yaml
  src/omnibase_infra/nodes/node_consumer_health_triage_effect/contract.yaml
  src/omnibase_infra/nodes/node_ledger_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_merge_gate_effect/contract.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_runtime_error_triage_effect/contract.yaml
  src/omnibase_infra/nodes/node_scope_workflow_orchestrator/contract.yaml
Due: onex-validate-contracts

fix(test): update INV-4 wiring exemptions for OMN-8735 handlers
  tests/ci/test_handler_architecture_invariants.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(integration): tighten exception assertions in manifest tests (OMN-8854)
  tests/integration/test_auto_wiring_manifest_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: resolve 4 CodeRabbit Major threads on handler compliance
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/handlers/handler_contract_file_watcher.py
  src/omnibase_infra/nodes/node_scope_extract_compute/handlers/handler_scope_extract.py
  src/omnibase_infra/nodes/node_scope_extract_compute/models/model_scope_extract_input.py
  src/omnibase_infra/nodes/node_scope_extract_compute/models/model_scope_extracted.py
  src/omnibase_infra/nodes/node_scope_file_read_effect/handlers/handler_scope_file_read.py
  src/omnibase_infra/nodes/node_scope_file_read_effect/models/model_scope_file_read_request.py
  src/omnibase_infra/nodes/node_scope_file_read_effect/models/model_scope_file_read_result.py
  src/omnibase_infra/nodes/node_scope_workflow_orchestrator/handlers/handler_scope_check_initiate.py
  src/omnibase_infra/nodes/node_scope_workflow_orchestrator/handlers/handler_scope_extract_complete.py
  src/omnibase_infra/nodes/node_scope_workflow_orchestrator/handlers/handler_scope_file_read_complete.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
