Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

feat(OMN-1931): Separate /ready from /health with Kafka readiness checking
  src/omnibase_infra/event_bus/event_bus_inmemory.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/models/__init__.py
  src/omnibase_infra/event_bus/models/model_event_bus_readiness.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/services/service_health.py
  tests/unit/event_bus/test_readiness.py
  tests/unit/runtime/test_kernel_wiring.py
  tests/unit/runtime/test_service_health.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): Address all remaining PR #253 review feedback
  src/omnibase_infra/models/dispatch/model_dispatch_outputs.py
  src/omnibase_infra/nodes/node_intent_storage_effect/__init__.py
  src/omnibase_infra/nodes/node_intent_storage_effect/contract.yaml
  src/omnibase_infra/nodes/node_intent_storage_effect/node.py
  src/omnibase_infra/nodes/node_ledger_write_effect/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_ledger_write_effect/node.py
  src/omnibase_infra/nodes/node_registration_orchestrator/README.md
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_node_liveness_expired.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/services/service_timeout_emitter.py
  src/omnibase_infra/topics/topic_resolver.py
  tests/integration/runtime/test_intent_storage_routing_integration.py
  tests/unit/nodes/test_orchestrator_decision_paths.py
  tests/unit/nodes/test_orchestrator_purity.py
  tests/unit/nodes/test_orchestrator_time_injection.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
  tests/unit/services/test_timeout_emitter.py
  tests/unit/topics/test_topic_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, onex-validate-markdown-links

fix(review): [minor] Acks type safety, __init__ exports, ConfigDict, and conflict detection
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/dependency_materializer.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  src/omnibase_infra/runtime/models/model_materialized_resources.py
  src/omnibase_infra/runtime/providers/provider_kafka_producer.py
  tests/unit/runtime/test_dependency_materializer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1931): Address PR #256 review feedback
  src/omnibase_infra/event_bus/models/model_event_bus_readiness.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/services/service_health.py
  tests/unit/event_bus/test_readiness.py
  tests/unit/runtime/test_kernel_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [critical+major+minor] PR #255 review fixes and test coverage
  src/omnibase_infra/runtime/dependency_materializer.py
  src/omnibase_infra/runtime/models/model_http_client_config.py
  src/omnibase_infra/runtime/models/model_materializer_config.py
  src/omnibase_infra/runtime/models/model_postgres_pool_config.py
  src/omnibase_infra/runtime/providers/provider_http_client.py
  src/omnibase_infra/runtime/providers/provider_kafka_producer.py
  src/omnibase_infra/runtime/providers/provider_postgres_pool.py
  tests/unit/runtime/test_dependency_materializer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1932): Address PR #254 review feedback - resilience, sanitization, types
  docs/ops/snapshot_topic_configuration.md
  src/omnibase_infra/models/projection/model_registration_snapshot.py
  src/omnibase_infra/models/projection/model_snapshot_topic_config.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_registration_acked.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_runtime_tick.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  src/omnibase_infra/projectors/snapshot_publisher_registration.py
  src/omnibase_infra/runtime/service_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(review): Address all PR #253 review feedback for release readiness
  docker/docker-compose.e2e.yml
  docs/architecture/REGISTRATION_ORCHESTRATOR_ARCHITECTURE.md
  docs/architecture/overview.md
  docs/guides/registration-example.md
  docs/reference/contracts.md
  docs/reference/node-archetypes.md
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_replay_batch.py
  src/omnibase_infra/nodes/node_registration_orchestrator/README.md
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/models/model_node_liveness_expired.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/topics/topic_resolver.py
  tests/integration/gateway/test_runtime_gateway_integration.py
  tests/unit/handlers/test_handler_validation_ledger_projection.py
  tests/unit/models/validation/test_validation_ledger_models.py
  tests/unit/nodes/test_orchestrator_decision_paths.py
  tests/unit/topics/test_topic_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-1932): Fix mypy errors from protocol type annotation changes
  src/omnibase_infra/protocols/protocol_snapshot_publisher.py
  src/omnibase_infra/runtime/service_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1932): Update stale key format docs in protocol, clarify snapshot-projector coupling
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/protocols/protocol_snapshot_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1932): Fix protocol type mismatch in snapshot publisher wiring
  src/omnibase_infra/protocols/protocol_snapshot_publisher.py
  src/omnibase_infra/runtime/util_container_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1932): Propagate correlation_id to snapshot publish_from_projection
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_registration_acked.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] Error sanitization, close ordering, YAML size limit, test coverage
  src/omnibase_infra/runtime/dependency_materializer.py
  src/omnibase_infra/runtime/models/model_materialized_resources.py
  tests/unit/runtime/test_dependency_materializer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1932): Update stale key format reference in publish_snapshot docstring
  src/omnibase_infra/projectors/snapshot_publisher_registration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1931): Address remaining PR #256 review feedback
  src/omnibase_infra/event_bus/event_bus_inmemory.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/services/service_health.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): Fix CI failures and address remaining PR #253 review nitpicks
  docs/architecture/REGISTRATION_ORCHESTRATOR_ARCHITECTURE.md
  tests/integration/nodes/test_registration_orchestrator_integration.py
  tests/performance/event_bus/test_event_bus_throughput.py
  tests/unit/nodes/test_orchestrator_decision_paths.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-1932): Sanitize debounce error logs and move inline import to module level
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/projectors/snapshot_publisher_registration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1976): Integrate DependencyMaterializer into RuntimeHostProcess lifecycle (r4)
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_dependency_materializer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1931): Separate /ready from /health with Kafka readiness checking (#256)
  src/omnibase_infra/event_bus/event_bus_inmemory.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/models/__init__.py
  src/omnibase_infra/event_bus/models/model_event_bus_readiness.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/services/service_health.py
  tests/unit/event_bus/test_readiness.py
  tests/unit/runtime/test_kernel_wiring.py
  tests/unit/runtime/test_service_health.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1976): Add DependencyMaterializer for contract-driven resource creation (#255)
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_infra_resource_type.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/dependency_materializer.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_http_client_config.py
  src/omnibase_infra/runtime/models/model_kafka_producer_config.py
  src/omnibase_infra/runtime/models/model_materialized_resources.py
  src/omnibase_infra/runtime/models/model_materializer_config.py
  src/omnibase_infra/runtime/models/model_postgres_pool_config.py
  src/omnibase_infra/runtime/providers/__init__.py
  src/omnibase_infra/runtime/providers/provider_http_client.py
  src/omnibase_infra/runtime/providers/provider_kafka_producer.py
  src/omnibase_infra/runtime/providers/provider_postgres_pool.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_dependency_materializer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1932): Wire snapshot publisher into registration handlers (#254)
  docs/ops/snapshot_topic_configuration.md
  src/omnibase_infra/models/projection/model_registration_snapshot.py
  src/omnibase_infra/models/projection/model_snapshot_topic_config.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_introspected.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_node_registration_acked.py
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_runtime_tick.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  src/omnibase_infra/projectors/snapshot_publisher_registration.py
  src/omnibase_infra/protocols/protocol_snapshot_publisher.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/util_container_wiring.py
  tests/integration/handlers/test_handler_no_publish_constraint.py
  tests/integration/projectors/test_snapshot_state_transitions.py
  tests/replay/test_snapshot_plus_tail.py
  tests/unit/models/projection/test_model_snapshot_topic_config.py
  tests/unit/projectors/test_snapshot_cache_operations.py
  tests/unit/projectors/test_snapshot_publisher_registration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-1908): Add cross-repo validation ledger persistence
  src/omnibase_infra/migrations/002_create_validation_event_ledger.sql
  src/omnibase_infra/migrations/002_drop_validation_event_ledger.sql
  src/omnibase_infra/models/validation_ledger/__init__.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_append_result.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_entry.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_query.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_replay_batch.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/__init__.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/node.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/registry/__init__.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/registry/registry_infra_validation_ledger_projection.py
  src/omnibase_infra/protocols/protocol_validation_ledger_repository.py
  src/omnibase_infra/runtime/db/postgres_validation_ledger_repository.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/models/validation_ledger/__init__.py
  tests/unit/models/validation_ledger/test_validation_ledger_models.py
  tests/unit/nodes/test_node_validation_ledger_projection_compute.py
  tests/unit/runtime/test_postgres_validation_ledger_repository.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

feat(OMN-1989): Wire live contract materialization at runtime from Kafka events
  src/omnibase_infra/runtime/kafka_contract_source.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/runtime/test_live_contract_materialization.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] correct stale docs and index name references
  src/omnibase_infra/migrations/002_drop_validation_event_ledger.sql
  src/omnibase_infra/runtime/db/postgres_validation_ledger_repository.py
  tests/unit/nodes/test_node_ledger_projection_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] timestamp test coverage, error tracing, and conventions
  src/omnibase_infra/migrations/002_create_validation_event_ledger.sql
  src/omnibase_infra/nodes/node_ledger_projection_compute/handlers/handler_ledger_projection.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/registry/registry_infra_validation_ledger_projection.py
  tests/unit/handlers/test_handler_validation_ledger_projection.py
  tests/unit/nodes/test_node_ledger_projection_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1989): Move subscription wiring under handler mutation lock
  src/omnibase_infra/runtime/service_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1989): Strip HANDLER_IDENTITY_PREFIX in live materialization
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_live_contract_materialization.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1989): Address CodeRabbit review feedback
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_live_contract_materialization.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): naive timestamp UTC coercion, base64 strict validation, error tracing
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/handler_ledger_append.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): sanitize error text, strict base64 validation, correlation tracing
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_entry.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
  src/omnibase_infra/runtime/db/postgres_validation_ledger_repository.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1989): Fix incomplete rollback and step ordering in live materialization
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_live_contract_materialization.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] base64 newline tolerance, SHA-256 hash validation, explicit error_code
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_entry.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
  tests/unit/models/validation/test_validation_ledger_models.py
  tests/unit/runtime/test_postgres_validation_ledger_repository.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] correct stale envelope_hash docstring example
  src/omnibase_infra/runtime/db/postgres_validation_ledger_repository.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Add positive-path test for _wire_live_handler_subscriptions
  tests/unit/runtime/test_live_contract_materialization.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): remove redundant type prefix, correct docstring hash examples
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
  src/omnibase_infra/protocols/protocol_validation_ledger_repository.py
  tests/unit/runtime/test_postgres_validation_ledger_repository.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): Add in-flight guard and correlation_id to live materialization
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/test_live_contract_materialization.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] Move CAPABILITY_CHANGE publish outside handler mutation lock
  src/omnibase_infra/runtime/service_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): header correlation_id, error prefix, docstrings, doc consistency
  src/omnibase_infra/migrations/002_drop_validation_event_ledger.sql
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_append_result.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_entry.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_query.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_replay_batch.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_validation_ledger_repository.py
  src/omnibase_infra/runtime/db/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1989): Wire live contract materialization at runtime from Kafka events (#258)
  src/omnibase_infra/runtime/kafka_contract_source.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/runtime/test_live_contract_materialization.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1908): Add cross-repo validation ledger persistence (#257)
  src/omnibase_infra/migrations/002_create_validation_event_ledger.sql
  src/omnibase_infra/migrations/002_drop_validation_event_ledger.sql
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_append_result.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_entry.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_query.py
  src/omnibase_infra/models/validation_ledger/model_validation_ledger_replay_batch.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/handlers/handler_ledger_projection.py
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/handler_ledger_append.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/handlers/handler_validation_ledger_projection.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/registry/__init__.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/registry/registry_infra_validation_ledger_projection.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_validation_ledger_repository.py
  src/omnibase_infra/runtime/db/__init__.py
  src/omnibase_infra/runtime/db/postgres_validation_ledger_repository.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/handlers/test_handler_validation_ledger_projection.py
  tests/unit/models/validation/test_validation_ledger_models.py
  tests/unit/nodes/test_node_ledger_projection_compute.py
  tests/unit/runtime/test_postgres_validation_ledger_repository.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1990): Wire remaining registry workflow gaps
  src/omnibase_infra/cli/commands.py
  src/omnibase_infra/event_bus/__init__.py
  src/omnibase_infra/event_bus/service_topic_manager.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/__init__.py
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_heartbeat.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  src/omnibase_infra/validation/infra_validators.py
  tests/unit/event_bus/test_service_topic_manager.py
  tests/unit/registration/dispatchers/__init__.py
  tests/unit/registration/dispatchers/test_dispatcher_node_heartbeat.py
  tests/unit/registration/dispatchers/test_wiring_heartbeat.py
  tests/unit/test_cli_registry_commands.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
