Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

feat(registry-api): harden projection-backed registry surface
  src/omnibase_infra/services/registry_api/models/__init__.py
  src/omnibase_infra/services/registry_api/models/model_registry_discovery_response.py
  src/omnibase_infra/services/registry_api/models/model_registry_node_detail_view.py
  src/omnibase_infra/services/registry_api/models/model_registry_node_view.py
  src/omnibase_infra/services/registry_api/models/model_registry_summary.py
  src/omnibase_infra/services/registry_api/routes.py
  src/omnibase_infra/services/registry_api/service.py
  tests/unit/services/registry_api/test_registry_discovery_semantics.py
  tests/unit/services/registry_api/test_registry_node_identity.py
  tests/unit/services/registry_api/test_registry_node_projection_fields.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(docker): pass GIT_SHA build-arg for runtime image provenance (OMN-9330) (#1384)
  src/omnibase_infra/docker/catalog/cli.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(registry-api): add projection tail integration coverage
  tests/integration/projectors/test_registry_api_projection_tail_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(registration): register HandlerNodeHeartbeat under concrete class for auto-wiring Phase 0 (OMN-9463)
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(registration): make HandlerTopicCatalogQuery zero-arg constructible (OMN-9464)
  src/omnibase_infra/nodes/node_registration_orchestrator/handlers/handler_topic_catalog_query.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(registration): register HandlerNodeHeartbeat under concrete class for auto-wiring Phase 0 (OMN-9463) (#1386)
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: remove polymorphic-agent references from models, tests, and migrations [OMN-9504] (#1382)
  CLAUDE.md
  docker/migrations/forward/022_create_agent_transformation_events_table.sql
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/handlers/handler_http.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  src/omnibase_infra/services/observability/agent_actions/models/__init__.py
  src/omnibase_infra/services/observability/agent_actions/models/model_agent_action.py
  src/omnibase_infra/services/observability/agent_actions/models/model_agent_status_event.py
  src/omnibase_infra/services/observability/agent_actions/models/model_detection_failure.py
  src/omnibase_infra/services/observability/agent_actions/models/model_performance_metric.py
  src/omnibase_infra/services/observability/agent_actions/models/model_routing_decision.py
  src/omnibase_infra/services/observability/agent_actions/models/model_transformation_event.py
  src/omnibase_infra/services/observability/agent_actions/tests/test_model_routing_decision_ingest.py
  src/omnibase_infra/services/observability/agent_actions/tests/test_models.py
  src/omnibase_infra/services/observability/agent_actions/tests/test_routing_decision_schema_handshake.py
  src/omnibase_infra/services/observability/agent_actions/tests/test_writer.py
  tests/integration/handlers/test_http_handler_integration.py
  tests/unit/handlers/test_handler_http.py
  tests/unit/services/observability/injection_effectiveness/test_context_enrichment_injection_recorded.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(runtime): defer auto-wiring subscriptions until after freeze
  src/omnibase_infra/runtime/auto_wiring/__init__.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/auto_wiring/test_wiring_subscribe.py
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(runtime): satisfy mypy for deferred auto-wiring ordering
  src/omnibase_infra/runtime/service_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9547): arm auto-merge explicitly as SQUASH to prevent silent queue drop
  .github/workflows/auto-merge.yml
Due: none

fix: add boot_grace_seconds to ServiceRuntimeHealthMonitor to suppress early emit [OMN-9552]
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/unit/services/test_service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(registry-api): harden projection-backed registry surface [OMN-9543] (#1385)
  src/omnibase_infra/services/registry_api/models/__init__.py
  src/omnibase_infra/services/registry_api/models/model_registry_discovery_response.py
  src/omnibase_infra/services/registry_api/models/model_registry_node_detail_view.py
  src/omnibase_infra/services/registry_api/models/model_registry_node_view.py
  src/omnibase_infra/services/registry_api/models/model_registry_summary.py
  src/omnibase_infra/services/registry_api/routes.py
  src/omnibase_infra/services/registry_api/service.py
  tests/integration/projectors/test_registry_api_projection_tail_integration.py
  tests/unit/services/registry_api/test_registry_discovery_semantics.py
  tests/unit/services/registry_api/test_registry_node_identity.py
  tests/unit/services/registry_api/test_registry_node_projection_fields.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: exclude UnknownTopicOrPartitionError from circuit breaker failure count [OMN-9553]
  src/omnibase_infra/event_bus/event_bus_kafka.py
  tests/unit/event_bus/test_circuit_breaker_topic_error.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: wire RUNTIME_HEALTH_BOOT_GRACE_SECONDS env var in service_kernel [OMN-9554]
  src/omnibase_infra/runtime/service_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9547): arm auto-merge explicitly as SQUASH to prevent silent queue drop (#1389)
  .github/workflows/auto-merge.yml
Due: none

chore(runtime): clean up stale ONEX_OUTPUT_TOPIC / ONEX_INPUT_TOPIC references [OMN-9409]
  contracts/runtime/runtime_config.yaml
  docker/README.md
  docker/env-example-full.txt
  docs/env-example-full.txt
  docs/standards/TOPIC_TAXONOMY.md
  docs/testing/INTEGRATION_TESTING.md
  src/omnibase_infra/runtime/models/model_runtime_config.py
  tests/integration/registration/e2e/conftest.py
  tests/integration/registration/e2e/test_runtime_e2e.py
  tests/unit/runtime/test_stale_topic_env_var_docs_removal.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat: OMN-9556 register subscribe-capable event bus in container
  src/omnibase_infra/nodes/node_delegation_orchestrator/plugin.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/test_event_bus_subscriber_container_resolution.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9409): address CodeRabbit minor feedback on stale-topic guard
  tests/unit/runtime/test_stale_topic_env_var_docs_removal.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(runtime): clean up stale ONEX_OUTPUT_TOPIC refs from source docs [OMN-9409] (#1390)
  contracts/runtime/runtime_config.yaml
  docker/README.md
  docker/env-example-full.txt
  docs/env-example-full.txt
  docs/standards/TOPIC_TAXONOMY.md
  docs/testing/INTEGRATION_TESTING.md
  src/omnibase_infra/runtime/models/model_runtime_config.py
  tests/integration/registration/e2e/conftest.py
  tests/integration/registration/e2e/test_runtime_e2e.py
  tests/unit/runtime/test_stale_topic_env_var_docs_removal.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(infra): import DEFAULT_INTROSPECTION_TOPIC from model SoT [OMN-9154]
  src/omnibase_infra/cli/infra_test/introspect.py
  tests/unit/cli/infra_test/test_introspect.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(infra): import DEFAULT_INTROSPECTION_TOPIC from model SoT [OMN-9154] (#1392)
  src/omnibase_infra/cli/infra_test/introspect.py
  tests/unit/cli/infra_test/test_introspect.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(runtime): prove subscriber bus wiring source
  tests/unit/runtime/test_event_bus_subscriber_container_resolution.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(runtime): add subscriber bus integration coverage
  contracts/OMN-9556.yaml
  tests/integration/runtime/test_event_bus_subscriber_container_resolution.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(contract): use valid evidence kind for OMN-9556
  contracts/OMN-9556.yaml
Due: onex-validate-contracts

fix(contract): verify OMN-9556 PR base branch
  contracts/OMN-9556.yaml
Due: onex-validate-contracts

fix: hostile-reviewer gate fixes — correct error type, IS-A comment, test conventions [OMN-9551]
  docs/plans/2026-04-23-runtime-crash-loop-fix.md
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/unit/event_bus/test_circuit_breaker_topic_error.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

test(runtime): add deferred auto-wiring integration evidence
  contracts/OMN-9550.yaml
  tests/integration/runtime/test_auto_wiring_deferred_subscription_order.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(runtime): assert deferred subscriptions are awaited
  tests/integration/runtime/test_auto_wiring_deferred_subscription_order.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): consolidate registration subscription ownership
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_dispatch_result_applier.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/nodes/node_registration_orchestrator/test_plugin_wire_dispatchers_deferred.py
  tests/unit/runtime/auto_wiring/test_wiring_subscribe.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(contract): add OMN-9557 deploy evidence
  contracts/OMN-9557.yaml
Due: onex-validate-contracts

feat(runtime): OMN-9556 register subscribe-capable event bus in container (#1391)
  contracts/OMN-9556.yaml
  src/omnibase_infra/nodes/node_delegation_orchestrator/plugin.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/runtime/test_event_bus_subscriber_container_resolution.py
  tests/unit/runtime/test_event_bus_subscriber_container_resolution.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): consolidate registration subscription ownership [OMN-9557] (#1394)
  contracts/OMN-9557.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_dispatch_result_applier.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/nodes/node_registration_orchestrator/test_plugin_wire_dispatchers_deferred.py
  tests/unit/runtime/auto_wiring/test_wiring_subscribe.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): filter node entry points by contract [OMN-9645]
  pyproject.toml
  scripts/generate_entry_points.py
  tests/scripts/test_generate_entry_points.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): use confluent group state for health monitor [OMN-9646]
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/unit/services/test_service_runtime_health_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): guard llm endpoint env drift [OMN-9647]
  contracts/llm_endpoints.yaml
  docker/catalog/model_registry.yaml
  scripts/check_llm_endpoint_env_contract.py
  scripts/check_llm_endpoints.sh
  tests/scripts/test_check_llm_endpoint_env_contract.py
  tests/unit/contracts/test_llm_endpoints_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
