Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-15699): route internal PR CI to trusted runners (#2654)
  .github/workflows/artifact-reconciliation-webhook.yml
  .github/workflows/auto-tag-on-merge.yml
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/check-env-reads-gate.yml
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/dep-provenance-gate.yml
  .github/workflows/dispatch-parity-gate.yml
  .github/workflows/dispatcher-route-coverage.yml
  .github/workflows/duplication-sweep.yml
  .github/workflows/fresh-deploy-fitness.yml
  .github/workflows/hostile-reviewer.yml
  .github/workflows/integration-test-check.yml
  .github/workflows/main-target-guard.yml
  .github/workflows/no-bare-compose-teardown.yml
  .github/workflows/node-migration-sync.yml
  .github/workflows/non-dev-base-guard.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/precommit-parity-gate.yml
  .github/workflows/product-readiness-shadow.yml
  .github/workflows/receipt-honesty.yml
  .github/workflows/runner-disk-preflight.yml
  .github/workflows/runner-routing-audit.yml
  .github/workflows/security-scan.yml
  .github/workflows/seed-provenance-check.yml
  .github/workflows/shellcheck-gate.yml
  .github/workflows/skill-node-mapping-sync.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/url-authority-gate.yml
  .github/workflows/validate-validator-requirements.yml
  .github/workflows/validator-runtime-profiles.yml
  config/runner_routing_policy.yaml
  scripts/audit-runner-routing.py
  tests/ci/test_runner_routing_audit.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15617): remediation round 1 — silent-skip ordering + PATH word-split (#2652)
  scripts/ci/resolve_modern_bash.sh
  tests/unit/observability/runner_health/test_runner_monitor_auto_bounce.py
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15703): bump stale omnimarket CI fallback pin (point-in-time mitigation) (#2657)
  .github/workflows/ci.yml
Due: none

chore(deps): refresh runner identity for cryptography bump
  docker/runners/runner-image.lock.json
  uv.lock
Due: none

fix(OMN-15692): bump url-authority-gate omnibase_core pins to pull in msk-direct-broker-endpoint rule (rule 5)
  .github/workflows/url-authority-gate.yml
  .pre-commit-config.yaml
Due: onex-validate-contracts

fix(OMN-15692): re-pin to omnibase_core#1547's actual dev merge commit
  .github/workflows/url-authority-gate.yml
  .pre-commit-config.yaml
Due: onex-validate-contracts

fix(OMN-15703): live-resolve omnimarket dev HEAD instead of hardcoded pin
  .github/workflows/ci.yml
Due: none

fix(OMN-15703): fork-guard the live-resolve omnimarket step's token
  .github/workflows/ci.yml
  tests/ci/test_application_database_domain_enforcement_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15703): live-resolve omnimarket dev HEAD instead of hardcoded CI pin (#2659)
  .github/workflows/ci.yml
  tests/ci/test_application_database_domain_enforcement_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15711): package receipt hash-chaining as `onex occ compute-contract-hash`
  src/omnibase_infra/cli/cli_occ.py
  tests/unit/cli/test_cli_occ.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15711): package receipt hash-chaining as onex occ compute-contract-hash (#2660)
  src/omnibase_infra/cli/cli_occ.py
  tests/unit/cli/test_cli_occ.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10318): bake seed-keycloak-clients.py into omninode-runtime image
  docker/Dockerfile.runtime
Due: none

docs(OMN-10318): document required merge/rebuild ordering for seed-keycloak-clients COPY
  docker/Dockerfile.runtime
Due: none

feat(OMN-15349): single-source the node-migration operator fence baseline
  docker/migrations/forward/fenced-node-migrations.yaml
  scripts/run-forward-migrations.sh
  tests/helpers/util_migration_shape.py
  tests/integration/migrations/test_application_migration_ledger_omn15413.py
  tests/integration/migrations/test_node_migration_discovery_applies.py
  tests/scripts/test_forward_migration_advisory_lock.py
  tests/scripts/test_node_migration_fence_parity.py
  tests/unit/migrations/test_migration_gate_vacuity_fix.py
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15349): include fence manifest in legacy fixture
  docker/legacy-rds-fixture/Dockerfile
  tests/ci/test_legacy_rds_fixture_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15349): single-source the node-migration operator fence baseline (#2662)
  docker/legacy-rds-fixture/Dockerfile
  docker/migrations/forward/fenced-node-migrations.yaml
  scripts/run-forward-migrations.sh
  tests/ci/test_legacy_rds_fixture_contract.py
  tests/helpers/util_migration_shape.py
  tests/integration/migrations/test_application_migration_ledger_omn15413.py
  tests/integration/migrations/test_node_migration_discovery_applies.py
  tests/scripts/test_forward_migration_advisory_lock.py
  tests/scripts/test_node_migration_fence_parity.py
  tests/unit/migrations/test_migration_gate_vacuity_fix.py
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14627): add non-prod Keycloak client for local omniweb auth
  docker/keycloak/desired-clients.json
Due: none

fix(OMN-15336): refuse unclassified FORCE ROW LEVEL SECURITY node migrations
  docker/migrations/forward/fenced-node-migrations.yaml
  scripts/run-forward-migrations.sh
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-15123): round-4 freeze packet — 14/19 fields, AWS SSO recovery fills 6
  docs/evidence/OMN-15123/2026-08-05-one-tenant-contract-freeze-round4.md
  docs/evidence/OMN-15123/probes-round4/aws_region.txt
  docs/evidence/OMN-15123/probes-round4/aws_sts_get_caller_identity.json
  docs/evidence/OMN-15123/probes-round4/ecr_migrate_image.json
  docs/evidence/OMN-15123/probes-round4/ecr_runtime_image.json
  docs/evidence/OMN-15123/probes-round4/kubectl_attempt.txt
  docs/evidence/OMN-15123/probes-round4/msk_cluster_arn.txt
  docs/evidence/OMN-15123/probes-round4/rds_instance.txt
Due: onex-validate-markdown-links

feat(OMN-10856): runtime topology manifest — profile identity + image/deploy SHA binding
  src/omnibase_infra/runtime/auto_wiring/introspection_manifest_identity.py
  src/omnibase_infra/runtime/auto_wiring/models/__init__.py
  src/omnibase_infra/runtime/auto_wiring/models/model_auto_wiring_manifest.py
  src/omnibase_infra/runtime/auto_wiring/models/model_runtime_build_sha.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/auto_wiring/test_runtime_topology_manifest_identity_omn10856.py
  tests/unit/runtime/test_service_kernel_introspection_identity_wiring_omn10856.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-15125): first dated Aug-5 readiness/rollback packet — honest NO-GO
  docs/evidence/OMN-15125/2026-08-05-aug5-readiness-rollback-packet.md
  docs/evidence/OMN-15125/probes/manifest_round3_runtime.json
  docs/evidence/OMN-15125/probes/manifest_round4_runtime.json
  docs/evidence/OMN-15125/probes/round_history_runtime.json
  docs/evidence/OMN-15125/probes/vuln_scan_round4.json
Due: onex-validate-markdown-links

docs(OMN-15123): correct field count to 12 full + 1 partial of 19
  docs/evidence/OMN-15123/2026-08-05-one-tenant-contract-freeze-round4.md
Due: onex-validate-markdown-links

feat(OMN-15356): canonical UUID conversion for capability_scores.tenant_id
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0003_capability_scores_tenant_id_to_uuid.sql
  docker/tenant-uuid-conversion-proof/Dockerfile
  docker/tenant-uuid-conversion-proof/compose.yml
  docker/tenant-uuid-conversion-proof/seed-roles.sql
  scripts/ci/prove_tenant_uuid_conversion.py
  tests/integration/test_tenant_uuid_conversion_proof_omn15356.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): vendor node_service_registry NO FORCE ROW LEVEL SECURITY
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_registration/0004_node_service_registry_no_force_rls.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): repair the FORCE-RLS guard's trigger condition (D1)
  docker/migrations/forward/grandfathered-force-rls-migrations.yaml
  scripts/run-forward-migrations.sh
  tests/scripts/test_forward_migration_advisory_lock.py
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): make the FORCE-RLS grandfather ratchet CI-selector-reachable
  scripts/ci/detect_test_paths.py
  tests/unit/scripts/ci/test_detect_test_paths.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): make the migration-tree selector branch additive, not a swap
  scripts/ci/detect_test_paths.py
  tests/unit/scripts/ci/test_detect_test_paths.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): supply the FORCE-RLS grandfather manifest in 2 stale runner test fixtures
  tests/unit/migrations/test_migration_gate_vacuity_fix.py
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15356): admit governed UUID migration
  .pre-commit-config.yaml
  scripts/ci/check_application_database_sql.py
  scripts/validation/validate_precommit_pin_parity.py
  tests/ci/test_application_database_sql_gate.py
  tests/scripts/test_deploy_runtime_core_contracts_resolution.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15538): bounded retry + realistic timeout in pin-reachability transport
  scripts/ci/check_pin_reachability.py
  tests/ci/test_pin_reachability_omn15538.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15538): bound aggregate pin-reachability wall time + rate-limit fixes
  scripts/ci/check_pin_reachability.py
  tests/ci/test_pin_reachability_omn15538.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15538): guard _explain deadline, retry HTTPException, floor Retry-After
  scripts/ci/check_pin_reachability.py
  tests/ci/test_pin_reachability_omn15538.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-15125): first dated Aug-5 readiness/rollback packet — NO-GO (#2669)
  docs/evidence/OMN-15125/2026-08-05-aug5-readiness-rollback-packet.md
  docs/evidence/OMN-15125/probes/manifest_round3_runtime.json
  docs/evidence/OMN-15125/probes/manifest_round4_runtime.json
  docs/evidence/OMN-15125/probes/round_history_runtime.json
  docs/evidence/OMN-15125/probes/vuln_scan_round4.json
Due: onex-validate-markdown-links

fix(OMN-15336): copy force-rls manifest into fixture proof
  docker/legacy-rds-fixture/Dockerfile
  scripts/deploy-runtime.sh
  scripts/runtime_build/stage_workspace.sh
  tests/ci/test_legacy_rds_fixture_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15538): lower run deadline to 220s with real margin, true 150s tail test
  scripts/ci/check_pin_reachability.py
  tests/ci/test_pin_reachability_omn15538.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
