Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-18434): make the git-env-scrub hook diff-scoped, not tree-wide
  .pre-commit-config.yaml
Due: onex-validate-contracts

fix(OMN-18438): the dev lane provisions role_omninode and applies the omninode_cloud corpus on a governed refresh
  docker/docker-compose.infra.yml
  docker/docker-compose.judge.yml
  scripts/deploy-runtime.sh
  scripts/run-forward-migrations.sh
  tests/scripts/test_deploy_runtime_compose_wait_timeout_wiring.py
  tests/scripts/test_deploy_runtime_dev_lane_cloud_migrations_omn18438.py
  tests/unit/infra/test_service_role_db_access_omn18438.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18436): derive the compose-dev settle budget from the lane's declared boot budget
  .github/workflows/runtime-rebuild-trigger-reusable.yml
  .github/workflows/runtime-rebuild-trigger.yml
  config/lab_pass_settle_budget.yaml
  scripts/ci/check_dev_lane_staleness.py
  scripts/ci/check_lane_sibling_revision.py
  scripts/ci/lab_pass_receipt.py
  scripts/ci/lane_settle_budget.py
  tests/ci/test_dev_lane_staleness.py
  tests/ci/test_incident_replay_omn18436.py
  tests/ci/test_lab_pass_receipt_gate_omn17530.py
  tests/ci/test_lab_pass_settle_budget.py
  tests/fixtures/omn18436/lab-pass-receipt-compose-dev-4853e0e1.json.captured
  tests/fixtures/omn18436/lab-pass-receipt-compose-dev-6e41f3e0.json.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18408): split the VERIFY/CRON probes onto a dedicated omnibase-verify runner
  .github/workflows/chain-canary.yml
  .github/workflows/dev-lane-liveness.yml
  .github/workflows/dev-lane-staleness.yml
  .github/workflows/msk-bastion-canary.yml
  .github/workflows/runtime-rebuild-trigger.yml
  config/runner_routing_policy.yaml
  docker/docker-compose.runners.yml
  docker/runners/runner-monitor.sh
  scripts/deploy-runners.sh
  tests/ci/test_chain_canary_workflow.py
  tests/ci/test_dev_lane_liveness.py
  tests/ci/test_dlq_and_baselines_lane_broker_omn17163.py
  tests/ci/test_lab_overlay_autoapply_omn18200.py
  tests/ci/test_msk_bastion_canary_workflow.py
  tests/ci/test_verify_runner_credential_read_only_omn18408.py
  tests/ci/test_verify_runner_runs_on_omn18408.py
  tests/unit/observability/runner_health/test_runner_monitor_auto_bounce.py
  tests/unit/observability/runner_health/test_runner_monitor_bounce_safety.py
  tests/unit/observability/runner_health/test_runner_monitor_customer_plane_alerting.py
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
  tests/unit/scripts/test_deploy_runners_add_service_omn18408.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18435): score a runtime lane inside its declared start_period as booting, not down (#3634)
  deploy/maintenance/omninode-system-slack-report.sh
  tests/unit/scripts/test_omninode_system_slack_report.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18438): the dev lane provisions role_omninode and applies the omninode_cloud corpus on a governed refresh (#3636)
  docker/docker-compose.infra.yml
  docker/docker-compose.judge.yml
  scripts/deploy-runtime.sh
  scripts/run-forward-migrations.sh
  tests/scripts/test_deploy_runtime_compose_wait_timeout_wiring.py
  tests/scripts/test_deploy_runtime_dev_lane_cloud_migrations_omn18438.py
  tests/unit/infra/test_service_role_db_access_omn18438.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15310): report a conflicted PR as a conflict, not as a never-reporting required context
  scripts/omninode-ci-required-context-probe.py
  tests/fixtures/omn15550/conflict_unknown/repos_OmniNode_ai_omnibase_infra_actions_runs_head_sha_2173c0c53a46624be1efd4cff91cd07f3f8df13b_per_page_100.json
  tests/fixtures/omn15550/conflict_unknown/repos_OmniNode_ai_omnibase_infra_branches_dev_protection_required_status_checks.json
  tests/fixtures/omn15550/conflict_unknown/repos_OmniNode_ai_omnibase_infra_commits_2173c0c53a46624be1efd4cff91cd07f3f8df13b_check_runs_per_page_100.json
  tests/fixtures/omn15550/conflict_unknown/repos_OmniNode_ai_omnibase_infra_commits_2173c0c53a46624be1efd4cff91cd07f3f8df13b_status_per_page_100.json
  tests/fixtures/omn15550/conflict_unknown/repos_OmniNode_ai_omnibase_infra_pulls_2575.json
  tests/fixtures/omn15550/conflict_unknown/repos_OmniNode_ai_omnibase_infra_pulls_state_open_per_page_100.json
  tests/fixtures/omn15550/conflicted/repos_OmniNode_ai_omnibase_infra_actions_runs_head_sha_2173c0c53a46624be1efd4cff91cd07f3f8df13b_per_page_100.json
  tests/fixtures/omn15550/conflicted/repos_OmniNode_ai_omnibase_infra_branches_dev_protection_required_status_checks.json
  tests/fixtures/omn15550/conflicted/repos_OmniNode_ai_omnibase_infra_commits_2173c0c53a46624be1efd4cff91cd07f3f8df13b_check_runs_per_page_100.json
  tests/fixtures/omn15550/conflicted/repos_OmniNode_ai_omnibase_infra_commits_2173c0c53a46624be1efd4cff91cd07f3f8df13b_status_per_page_100.json
  tests/fixtures/omn15550/conflicted/repos_OmniNode_ai_omnibase_infra_pulls_2575.json
  tests/fixtures/omn15550/conflicted/repos_OmniNode_ai_omnibase_infra_pulls_state_open_per_page_100.json
  tests/unit/scripts/test_omninode_ci_required_context_probe.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17477): make the self-hosted runner fleet multi-arch and multi-host
  .github/workflows/arm64-verify-runner-proof.yml
  .github/workflows/runner-image-build-smoke.yml
  config/runner_fleet.yaml
  docker/docker-compose.runners-omninode-mini-runner.yml
  docker/docker-compose.runners.yml
  docker/runners/Dockerfile
  docker/runners/entrypoint.sh
  scripts/ci/runner_route_decision.py
  scripts/deploy-runners.sh
  scripts/hooks/prepush_hosts.tsv
  src/omnibase_infra/observability/runner_health/enum_runner_host_arch.py
  src/omnibase_infra/observability/runner_health/model_runner_fleet_config.py
  src/omnibase_infra/observability/runner_health/model_runner_fleet_host.py
  tests/ci/test_runner_entrypoint_socket_gid_portability.py
  tests/ci/test_runner_image_multiarch.py
  tests/ci/test_runner_route_decision.py
  tests/scripts/test_deploy_runners_host_targeting.py
  tests/unit/observability/runner_health/test_runner_fleet_hosts.py
  tests/unit/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18436): derive the compose-dev settle budget from the lane's declared boot budget (#3637)
  .github/workflows/runtime-rebuild-trigger-reusable.yml
  .github/workflows/runtime-rebuild-trigger.yml
  config/lab_pass_settle_budget.yaml
  scripts/ci/check_dev_lane_staleness.py
  scripts/ci/check_lane_sibling_revision.py
  scripts/ci/lab_pass_receipt.py
  scripts/ci/lane_settle_budget.py
  tests/ci/test_dev_lane_staleness.py
  tests/ci/test_incident_replay_omn18436.py
  tests/ci/test_lab_pass_receipt_gate_omn17530.py
  tests/ci/test_lab_pass_settle_budget.py
  tests/fixtures/omn18436/lab-pass-receipt-compose-dev-4853e0e1.json.captured
  tests/fixtures/omn18436/lab-pass-receipt-compose-dev-6e41f3e0.json.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18408): scope the five moved probes to the lab host, not just the verify class
  .github/workflows/chain-canary.yml
  .github/workflows/dev-lane-liveness.yml
  .github/workflows/dev-lane-staleness.yml
  .github/workflows/msk-bastion-canary.yml
  .github/workflows/runtime-rebuild-trigger.yml
  docker/docker-compose.runners.yml
  tests/ci/test_chain_canary_workflow.py
  tests/ci/test_dev_lane_liveness.py
  tests/ci/test_dlq_and_baselines_lane_broker_omn17163.py
  tests/ci/test_lab_overlay_autoapply_omn18200.py
  tests/ci/test_msk_bastion_canary_workflow.py
  tests/ci/test_verify_runner_credential_read_only_omn18408.py
  tests/ci/test_verify_runner_runs_on_omn18408.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17295): a run that produced no receipt is a timeout, not a join refusal
  src/omnibase_infra/cli/receipt_mode.py
  tests/unit/cli/test_cli_node_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18434): refuse a new unguarded git subprocess call site in tests (#3633)
  .github/workflows/git-env-scrub.yml
  .pre-commit-config.yaml
  tests/test_git_env_isolation_omn18434.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17295): integration proof that a run with no terminal reports its own outcome
  tests/integration/test_omn17295_no_terminal_reports_timeout.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18408): split the VERIFY/CRON probes onto a dedicated omnibase-verify runner (#3638)
  .github/workflows/chain-canary.yml
  .github/workflows/dev-lane-liveness.yml
  .github/workflows/dev-lane-staleness.yml
  .github/workflows/msk-bastion-canary.yml
  .github/workflows/runtime-rebuild-trigger.yml
  config/runner_routing_policy.yaml
  docker/docker-compose.runners.yml
  docker/runners/runner-monitor.sh
  scripts/deploy-runners.sh
  tests/ci/test_chain_canary_workflow.py
  tests/ci/test_dev_lane_liveness.py
  tests/ci/test_dlq_and_baselines_lane_broker_omn17163.py
  tests/ci/test_lab_overlay_autoapply_omn18200.py
  tests/ci/test_msk_bastion_canary_workflow.py
  tests/ci/test_verify_runner_credential_read_only_omn18408.py
  tests/ci/test_verify_runner_runs_on_omn18408.py
  tests/unit/observability/runner_health/test_runner_monitor_auto_bounce.py
  tests/unit/observability/runner_health/test_runner_monitor_bounce_safety.py
  tests/unit/observability/runner_health/test_runner_monitor_customer_plane_alerting.py
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
  tests/unit/scripts/test_deploy_runners_add_service_omn18408.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15310): report a conflicted PR as a conflict, not as a never-reporting required context (#3639)
  scripts/omninode-ci-required-context-probe.py
  tests/fixtures/omn15550/conflict_unknown/repos_OmniNode_ai_omnibase_infra_actions_runs_head_sha_2173c0c53a46624be1efd4cff91cd07f3f8df13b_per_page_100.json
  tests/fixtures/omn15550/conflict_unknown/repos_OmniNode_ai_omnibase_infra_branches_dev_protection_required_status_checks.json
  tests/fixtures/omn15550/conflict_unknown/repos_OmniNode_ai_omnibase_infra_commits_2173c0c53a46624be1efd4cff91cd07f3f8df13b_check_runs_per_page_100.json
  tests/fixtures/omn15550/conflict_unknown/repos_OmniNode_ai_omnibase_infra_commits_2173c0c53a46624be1efd4cff91cd07f3f8df13b_status_per_page_100.json
  tests/fixtures/omn15550/conflict_unknown/repos_OmniNode_ai_omnibase_infra_pulls_2575.json
  tests/fixtures/omn15550/conflict_unknown/repos_OmniNode_ai_omnibase_infra_pulls_state_open_per_page_100.json
  tests/fixtures/omn15550/conflicted/repos_OmniNode_ai_omnibase_infra_actions_runs_head_sha_2173c0c53a46624be1efd4cff91cd07f3f8df13b_per_page_100.json
  tests/fixtures/omn15550/conflicted/repos_OmniNode_ai_omnibase_infra_branches_dev_protection_required_status_checks.json
  tests/fixtures/omn15550/conflicted/repos_OmniNode_ai_omnibase_infra_commits_2173c0c53a46624be1efd4cff91cd07f3f8df13b_check_runs_per_page_100.json
  tests/fixtures/omn15550/conflicted/repos_OmniNode_ai_omnibase_infra_commits_2173c0c53a46624be1efd4cff91cd07f3f8df13b_status_per_page_100.json
  tests/fixtures/omn15550/conflicted/repos_OmniNode_ai_omnibase_infra_pulls_2575.json
  tests/fixtures/omn15550/conflicted/repos_OmniNode_ai_omnibase_infra_pulls_state_open_per_page_100.json
  tests/unit/scripts/test_omninode_ci_required_context_probe.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18408): --add recreates a runner that never registered, instead of restarting it
  scripts/deploy-runners.sh
  tests/unit/scripts/test_deploy_runners_add_service_omn18408.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17295): a run that produced no receipt is a timeout, not a correlation-join refusal (#3640)
  src/omnibase_infra/cli/receipt_mode.py
  tests/integration/test_omn17295_no_terminal_reports_timeout.py
  tests/unit/cli/test_cli_node_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17477): join the host inventory to the compose files that realise it
  tests/integration/observability/test_runner_fleet_multihost_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17137): bound the whole DLQ replay DISPATCH, not just its record loop
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_dlq_dependency_lifecycle.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  tests/unit/nodes/node_dlq_replay_effect/test_handler_dlq_replay_lifecycle_bound_omn17137.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17137): integration proof that the awaited DISPATCH is bounded
  tests/integration/dlq/test_dlq_replay_dispatch_bound_omn17137.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-16964): pin delegation dispatch parity
  tests/integration/runtime/test_dispatch_selection_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-16964): prove delegation ledger projection
  tests/unit/nodes/node_delegation_chain_ledger_effect/test_handler_delegation_chain_ledger.py
  tests/unit/nodes/test_node_ledger_projection_compute.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-17477): run the arm64 proof on the PRs that provision the arm64 host
  .github/workflows/arm64-verify-runner-proof.yml
Due: none

fix(OMN-17477): read the ELF header instead of shelling out to file(1)
  .github/workflows/arm64-verify-runner-proof.yml
Due: none

test(OMN-18172): define the attribution query and prove it partitions canary traffic (#3627)
  tests/integration/db/test_chain_canary_attribution_query_omn18172.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17137): bound the whole DLQ replay dispatch, not just its record loop (#3643)
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_dlq_dependency_lifecycle.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  tests/integration/dlq/test_dlq_replay_dispatch_bound_omn17137.py
  tests/unit/nodes/node_dlq_replay_effect/test_handler_dlq_replay_lifecycle_bound_omn17137.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18408): --add recreates a runner that never registered, instead of restarting it (#3641)
  scripts/deploy-runners.sh
  tests/unit/scripts/test_deploy_runners_add_service_omn18408.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17477): re-pin the four assertions this change deliberately moves
  tests/ci/test_customer_plane_runner_credential_free_omn18392.py
  tests/ci/test_runner_image_awscli.py
  tests/ci/test_runner_image_node24_floor.py
  tests/ci/test_verify_runner_credential_read_only_omn18408.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18438): the deploy agent's own scope runs the dev lane's omninode_cloud one-shots
  scripts/deploy-agent/deploy_agent/events.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_dev_lane_cloud_migrations_omn18438.py
  scripts/deploy-agent/tests/unit/test_executor_runtime_scope.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18408): the additive mode shipped a scrubber placeholder as its registration handle
  scripts/deploy-runners.sh
  tests/unit/scripts/test_deploy_runners_add_service_omn18408.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18434): let pre-commit filter the git-env-scrub hook, drop always_run
  .pre-commit-config.yaml
Due: onex-validate-contracts

test(OMN-17477): clear the two CodeQL alerts this file raised
  tests/unit/observability/runner_health/test_runner_fleet_hosts.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18438): the deploy agent's own scope runs the dev lane's omninode_cloud one-shots (#3645)
  scripts/deploy-agent/deploy_agent/events.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_dev_lane_cloud_migrations_omn18438.py
  scripts/deploy-agent/tests/unit/test_executor_runtime_scope.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17477): make the self-hosted runner fleet multi-arch and multi-host (#3642)
  .github/workflows/arm64-verify-runner-proof.yml
  .github/workflows/runner-image-build-smoke.yml
  config/runner_fleet.yaml
  docker/docker-compose.runners-omninode-mini-runner.yml
  docker/docker-compose.runners.yml
  docker/runners/Dockerfile
  docker/runners/entrypoint.sh
  scripts/ci/runner_route_decision.py
  scripts/deploy-runners.sh
  scripts/hooks/prepush_hosts.tsv
  src/omnibase_infra/observability/runner_health/enum_runner_host_arch.py
  src/omnibase_infra/observability/runner_health/model_runner_fleet_config.py
  src/omnibase_infra/observability/runner_health/model_runner_fleet_host.py
  tests/ci/test_customer_plane_runner_credential_free_omn18392.py
  tests/ci/test_runner_entrypoint_socket_gid_portability.py
  tests/ci/test_runner_image_awscli.py
  tests/ci/test_runner_image_multiarch.py
  tests/ci/test_runner_image_node24_floor.py
  tests/ci/test_runner_route_decision.py
  tests/ci/test_verify_runner_credential_read_only_omn18408.py
  tests/integration/observability/test_runner_fleet_multihost_contract.py
  tests/scripts/test_deploy_runners_host_targeting.py
  tests/unit/observability/runner_health/test_runner_fleet_hosts.py
  tests/unit/scripts/test_maintenance_sync_converge_omn17898.py
  tests/unit/scripts/test_omninode_host_maintenance_sync.py
  tests/unit/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18408): the additive mode shipped a scrubber placeholder as its registration handle (#3646)
  scripts/deploy-runners.sh
  tests/unit/scripts/test_deploy_runners_add_service_omn18408.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18431): bake ffmpeg into the omnibase-ci runner image so a private repository's tests have a placement
  .github/workflows/runner-image-build-smoke.yml
  docker/runners/Dockerfile
  docker/runners/runner-image.lock.json
Due: none

chore(OMN-18431): declare omnistream's routing scope so its required check is audited at all
  config/runner_routing_policy.yaml
Due: onex-validate-contracts

feat(OMN-17477): declare .105 as the fleet's third host and prove it per host
  .github/workflows/arm64-verify-runner-proof.yml
  config/runner_fleet.yaml
  docker/docker-compose.runners-omninode-air-runner.yml
  tests/integration/observability/test_runner_fleet_multihost_contract.py
  tests/unit/observability/runner_health/test_runner_fleet_hosts.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18434): let pre-commit filter the git-env-scrub hook, drop always_run (#3647)
  .pre-commit-config.yaml
Due: onex-validate-contracts

chore(OMN-18426): add strip-ai-coauthor-trailer commit-msg hook (#3621)
  .pre-commit-config.yaml
Due: onex-validate-contracts
