Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

chore(OMN-18205): declare the omninode_infra trusted-seam shadow and audit it
  config/runner_routing_policy.yaml
Due: onex-validate-contracts

chore(OMN-18205): record the omninode_infra shadow attempt and keep the repo audited
  config/runner_routing_policy.yaml
Due: onex-validate-contracts

chore(OMN-18205): audit omninode_infra routing, and record the shadow attempt that was reverted (#3462)
  config/runner_routing_policy.yaml
Due: onex-validate-contracts

chore(OMN-18205): declare OMNI_INFRA_FLEET_RUNS_ON_JSON as unset-by-design
  config/runner_routing_policy.yaml
Due: onex-validate-contracts

docs(OMN-18205): note the companion-citation trap this PR's own history hit
  config/runner_routing_policy.yaml
Due: onex-validate-contracts

fix(OMN-18233): closer ignores a closed cascade bump only on a verified-supersession predicate
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/cascade_supersession.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/__init__.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_cascade_provenance.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_supersession_verdict.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18233_verified_supersession.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to 3c314dbb54cd [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

chore(OMN-18205): declare OMNI_INFRA_FLEET_RUNS_ON_JSON as unset-by-design (#3463)
  config/runner_routing_policy.yaml
Due: onex-validate-contracts

feat(OMN-18247): assert declared evidence artifacts non-empty at the uploader
  .github/workflows/ci.yml
  .github/workflows/deliver-dev-candidate-to-staging.yml
  .github/workflows/runtime-rebuild-trigger.yml
  .pre-commit-config.yaml
  config/ci_evidence_policy.yaml
  scripts/ci/assert_evidence_artifact.py
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_evidence_policy.py
  tests/ci/test_incident_replay_omn18247.py
  tests/fixtures/ci_evidence_policy/dev-lane-liveness.pre-repair.yml.captured
  tests/fixtures/omn18247/lab-load-run34694995666.zip.captured
  tests/fixtures/omn18247/lab-load-run34711967693.zip.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18233): move the supersession predicate out of handlers/, it is not a handler
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/cascade_supersession.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18233_verified_supersession.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18247): include savings grants in tenant writer proof
  tests/integration/migrations/test_102_tenant_projection_writer_role_omn15425.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18233): sync autoclose contract for supersession predicate
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
Due: onex-validate-contracts

fix(OMN-17426): scope the read-only grant check to the savings node's own migration
  tests/integration/migrations/test_102_tenant_projection_writer_role_omn15425.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17426): scope the read-only grant check to the savings node's own migration (#3467)
  tests/integration/migrations/test_102_tenant_projection_writer_role_omn15425.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18247): harden evidence artifact gate
  .github/workflows/dev-lane-liveness.yml
  scripts/ci/assert_evidence_artifact.py
  tests/ci/test_ci_evidence_policy.py
  tests/ci/test_incident_replay_omn18247.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18247): return this PR to item 10's scope
  .github/workflows/dev-lane-liveness.yml
  tests/ci/test_ci_evidence_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18086): add delete_secret to AdapterInfisical and InfisicalSecretStore; idempotent 404 handling
  src/omnibase_infra/adapters/_internal/adapter_infisical.py
  src/omnibase_infra/secret_stores/infisical_secret_store.py
  tests/unit/adapters/test_adapter_infisical.py
  tests/unit/secret_stores/test_infisical_secret_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18233): compare cascade pins by source
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/cascade_supersession.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18233_verified_supersession.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18238): a proposed acceptance-criterion binding does not satisfy the closer
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18238_draft_bindings.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18238): pin draft binding precedence
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18238_draft_bindings.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18247): assert declared evidence artifacts non-empty at the uploader (#3466)
  .github/workflows/ci.yml
  .github/workflows/deliver-dev-candidate-to-staging.yml
  .github/workflows/runtime-rebuild-trigger.yml
  .pre-commit-config.yaml
  config/ci_evidence_policy.yaml
  scripts/ci/assert_evidence_artifact.py
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_evidence_policy.py
  tests/ci/test_incident_replay_omn18247.py
  tests/fixtures/ci_evidence_policy/dev-lane-liveness.pre-repair.yml.captured
  tests/fixtures/omn18247/lab-load-run34694995666.zip.captured
  tests/fixtures/omn18247/lab-load-run34711967693.zip.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18086): harden infisical secret deletion
  src/omnibase_infra/adapters/_internal/adapter_infisical.py
  src/omnibase_infra/secret_stores/infisical_secret_store.py
  tests/unit/adapters/test_adapter_infisical.py
  tests/unit/secret_stores/test_infisical_secret_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18233): pin the gap fingerprint to the contract version it now declares
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18253): the lab-load probe reports honestly in its conclusion and its artifact
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/probe_lab_load.py
  tests/ci/test_incident_replay_omn18253.py
  tests/ci/test_lab_load_probe_omn18253.py
  tests/fixtures/omn18253/dev-lane-liveness.pre-repair.yml.captured
  tests/fixtures/omn18253/lab-load-probe-job103556840056.log.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18134): the accepted command's pin reaches the gateway deploy script
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_gateway_lane_scope_omn18134.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18233): closer ignores a closed cascade bump only on a verified-supersession predicate (#3465)
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/cascade_supersession.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/__init__.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_cascade_provenance.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_supersession_verdict.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18233_verified_supersession.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18134): harden gateway deploy ref propagation
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_gateway_lane_scope_omn18134.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18086): require verified infisical secret deletion
  src/omnibase_infra/adapters/_internal/adapter_infisical.py
  src/omnibase_infra/secret_stores/infisical_secret_store.py
  tests/unit/adapters/test_adapter_infisical.py
  tests/unit/secret_stores/test_infisical_secret_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-18238): declare the proposal rule in the node contract and bump its version
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18253): store the captured probe log gzipped, not raw
  tests/ci/test_incident_replay_omn18253.py
  tests/fixtures/omn18253/lab-load-probe-job103556840056.log.captured
  tests/fixtures/omn18253/lab-load-probe-job103556840056.log.gz.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18134): the accepted command's pin reaches the gateway deploy script (#3471)
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_gateway_lane_scope_omn18134.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18253): move OMN-18031's lab-probe guards onto the repaired shape
  tests/ci/test_runner_route_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18086): add delete_secret to AdapterInfisical and InfisicalSecretStore (#3468)
  src/omnibase_infra/adapters/_internal/adapter_infisical.py
  src/omnibase_infra/secret_stores/infisical_secret_store.py
  tests/unit/adapters/test_adapter_infisical.py
  tests/unit/secret_stores/test_infisical_secret_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
