Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(OMN-1613): Fix topic whitespace handling, add format validation, use error context factory
  src/omnibase_infra/handlers/mixins/mixin_consul_service.py
  src/omnibase_infra/handlers/mixins/mixin_consul_topic_index.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1616): Replace loose dict[str, object] typing with TypedDict
  src/omnibase_infra/event_bus/testing/adapter_protocol_event_publisher_inmemory.py
  src/omnibase_infra/types/typed_dict/__init__.py
  src/omnibase_infra/types/typed_dict/typed_dict_envelope_build_params.py
  tests/integration/event_bus/test_adapter_protocol_event_publisher_inmemory.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1547): Address PR review feedback
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/unit/topics/test_platform_topic_suffixes.py
  tests/unit/topics/test_util_topic_composition.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1518): Sanitize error messages and fix type hint consistency
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-1547): Add clarifying comments for PR review feedback
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/topics/util_topic_composition.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1613): Address PR #199 review feedback for validation and error handling
  src/omnibase_infra/handlers/mixins/mixin_consul_service.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  tests/integration/registration/conftest.py
  tests/integration/registration/test_introspection_event_bus_e2e.py
  tests/unit/mixins/test_mixin_node_introspection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1616): Add reset_metrics() and fix TypedDict required fields
  src/omnibase_infra/event_bus/testing/adapter_protocol_event_publisher_inmemory.py
  src/omnibase_infra/types/typed_dict/typed_dict_envelope_build_params.py
  tests/integration/event_bus/test_adapter_protocol_event_publisher_inmemory.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1621): Address code review feedback - OnexError wrapping and UUID handling
  src/omnibase_infra/handlers/models/model_filesystem_config.py
  src/omnibase_infra/models/validation/model_coverage_metrics.py
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  src/omnibase_infra/runtime/publisher_topic_scoped.py
  tests/integration/runtime/test_event_bus_contract_wiring.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
  tests/unit/runtime/test_publisher_topic_scoped.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1547): Address PR review issues
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/discovery/model_introspection_config.py
  tests/unit/topics/test_util_topic_composition.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-1518): Replace string-based error matching with typed error codes
  src/omnibase_infra/runtime/binding_resolver.py
  src/omnibase_infra/runtime/contract_loaders/operation_bindings_loader.py
  tests/unit/runtime/contract_loaders/test_operation_bindings_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1621): Skip flaky worker scaling test in CI
  tests/performance/registration/effect/test_idempotency_store_performance.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1613): Fix topic placeholder validation order for better error messages
  src/omnibase_infra/mixins/mixin_node_introspection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1518): Add warning logs and improve mock detection in dispatch engine
  src/omnibase_infra/runtime/contract_loaders/operation_bindings_loader.py
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1547): Add namespace max length validation and export test
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/util_topic_composition.py
  tests/unit/topics/test_platform_topic_suffixes.py
  tests/unit/topics/test_util_topic_composition.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1613): Update topic query tests to use make_runtime_config helper
  tests/unit/runtime/test_runtime_host_topic_query.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-1518): Make binding guardrails contract-configurable
  src/omnibase_infra/models/bindings/__init__.py
  src/omnibase_infra/models/bindings/constants.py
  src/omnibase_infra/models/bindings/model_operation_bindings_subcontract.py
  src/omnibase_infra/nodes/handlers/db/contract.yaml
  src/omnibase_infra/runtime/binding_resolver.py
  src/omnibase_infra/runtime/contract_loaders/operation_bindings_loader.py
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  src/omnibase_infra/validation/infra_validators.py
  tests/unit/runtime/contract_loaders/test_operation_bindings_loader.py
  tests/unit/runtime/test_binding_expression_parser.py
  tests/unit/runtime/test_operation_binding_resolver.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1621): Add contract-driven event bus subscription wiring (#200)
  src/omnibase_infra/handlers/models/model_filesystem_config.py
  src/omnibase_infra/models/validation/model_coverage_metrics.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_dispatch_engine.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  src/omnibase_infra/runtime/publisher_topic_scoped.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/integration/runtime/test_event_bus_contract_wiring.py
  tests/performance/registration/effect/test_idempotency_store_performance.py
  tests/unit/runtime/test_event_bus_subcontract_wiring.py
  tests/unit/runtime/test_publisher_topic_scoped.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1614, OMN-1616): Add canonical publish interface ADR and test adapter (#201)
  docs/decisions/README.md
  docs/decisions/adr-canonical-publish-interface-policy.md
  poetry.lock
  pyproject.toml
  src/omnibase_infra/event_bus/testing/__init__.py
  src/omnibase_infra/event_bus/testing/adapter_protocol_event_publisher_inmemory.py
  src/omnibase_infra/event_bus/testing/model_publisher_metrics.py
  src/omnibase_infra/types/typed_dict/__init__.py
  src/omnibase_infra/types/typed_dict/typed_dict_envelope_build_params.py
  tests/integration/event_bus/test_adapter_protocol_event_publisher_inmemory.py
  tests/unit/event_bus/testing/__init__.py
  tests/unit/event_bus/testing/test_model_publisher_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1610): Implement emit daemon for persistent Kafka connections
  pyproject.toml
  src/omnibase_infra/runtime/emit_daemon/__init__.py
  src/omnibase_infra/runtime/emit_daemon/cli.py
  src/omnibase_infra/runtime/emit_daemon/client.py
  src/omnibase_infra/runtime/emit_daemon/config.py
  src/omnibase_infra/runtime/emit_daemon/daemon.py
  src/omnibase_infra/runtime/emit_daemon/event_registry.py
  src/omnibase_infra/runtime/emit_daemon/queue.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/emit_daemon/__init__.py
  tests/integration/runtime/emit_daemon/conftest.py
  tests/integration/runtime/emit_daemon/test_emit_daemon_integration.py
  tests/unit/runtime/emit_daemon/__init__.py
  tests/unit/runtime/emit_daemon/test_client.py
  tests/unit/runtime/emit_daemon/test_config.py
  tests/unit/runtime/emit_daemon/test_event_registry.py
  tests/unit/runtime/emit_daemon/test_queue.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1547): Update test to expect fail-fast behavior for session consumer
  tests/services/session/test_consumer.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-1613): Extract topic name pattern to shared constants module
  src/omnibase_infra/constants_topic_patterns.py
  src/omnibase_infra/handlers/mixins/mixin_consul_service.py
  src/omnibase_infra/handlers/mixins/mixin_consul_topic_index.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1547): Replace hardcoded topics with validated suffix constants (#206)
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/discovery/model_introspection_config.py
  src/omnibase_infra/models/projection/model_snapshot_topic_config.py
  src/omnibase_infra/runtime/models/model_runtime_scheduler_config.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
  src/omnibase_infra/services/mcp/service_mcp_tool_sync.py
  src/omnibase_infra/services/session/config_consumer.py
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  src/omnibase_infra/topics/util_topic_composition.py
  tests/services/session/test_consumer.py
  tests/unit/mixins/test_mixin_node_introspection.py
  tests/unit/models/projection/test_model_snapshot_topic_config.py
  tests/unit/runtime/test_runtime_scheduler.py
  tests/unit/topics/__init__.py
  tests/unit/topics/test_platform_topic_suffixes.py
  tests/unit/topics/test_util_topic_composition.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1610): Address code review feedback for emit daemon
  src/omnibase_infra/runtime/emit_daemon/cli.py
  src/omnibase_infra/runtime/emit_daemon/config.py
  src/omnibase_infra/runtime/emit_daemon/daemon.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1610): Address additional code review feedback for emit daemon
  src/omnibase_infra/runtime/emit_daemon/cli.py
  src/omnibase_infra/runtime/emit_daemon/config.py
  src/omnibase_infra/runtime/emit_daemon/daemon.py
  src/omnibase_infra/runtime/emit_daemon/event_registry.py
  src/omnibase_infra/runtime/emit_daemon/queue.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1610): Address all PR #207 review issues from CodeRabbit
  src/omnibase_infra/runtime/emit_daemon/cli.py
  src/omnibase_infra/runtime/emit_daemon/client.py
  src/omnibase_infra/runtime/emit_daemon/config.py
  src/omnibase_infra/runtime/emit_daemon/daemon.py
  src/omnibase_infra/runtime/emit_daemon/event_registry.py
  src/omnibase_infra/runtime/emit_daemon/queue.py
  tests/integration/runtime/emit_daemon/conftest.py
  tests/integration/runtime/emit_daemon/test_emit_daemon_integration.py
  tests/unit/runtime/emit_daemon/test_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1518): Implement declarative topic→operation→handler routing (#198)
  scripts/validate_handler_contracts.py
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_binding_resolution.py
  src/omnibase_infra/models/__init__.py
  src/omnibase_infra/models/bindings/__init__.py
  src/omnibase_infra/models/bindings/constants.py
  src/omnibase_infra/models/bindings/model_binding_resolution_result.py
  src/omnibase_infra/models/bindings/model_operation_binding.py
  src/omnibase_infra/models/bindings/model_operation_bindings_subcontract.py
  src/omnibase_infra/models/bindings/model_parsed_binding.py
  src/omnibase_infra/models/dispatch/__init__.py
  src/omnibase_infra/models/dispatch/model_debug_trace_snapshot.py
  src/omnibase_infra/models/dispatch/model_materialized_dispatch.py
  src/omnibase_infra/nodes/handlers/consul/contract.yaml
  src/omnibase_infra/nodes/handlers/db/contract.yaml
  src/omnibase_infra/nodes/handlers/graph/contract.yaml
  src/omnibase_infra/nodes/handlers/http/contract.yaml
  src/omnibase_infra/nodes/handlers/intent/contract.yaml
  src/omnibase_infra/nodes/handlers/mcp/contract.yaml
  src/omnibase_infra/nodes/handlers/vault/contract.yaml
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/binding_resolver.py
  src/omnibase_infra/runtime/contract_loaders/__init__.py
  src/omnibase_infra/runtime/contract_loaders/operation_bindings_loader.py
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  src/omnibase_infra/runtime/util_wiring.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/test_binding_resolution_dispatch_flow.py
  tests/unit/models/dispatch/test_model_materialized_dispatch.py
  tests/unit/runtime/contract_loaders/test_operation_bindings_loader.py
  tests/unit/runtime/test_binding_expression_parser.py
  tests/unit/runtime/test_dispatch_context_integration.py
  tests/unit/runtime/test_message_dispatch_engine.py
  tests/unit/runtime/test_operation_binding_resolver.py
  tests/unit/runtime/test_util_wiring.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1613): Add event bus topic storage to registry for dynamic topic routing (#199)
  src/omnibase_infra/constants_topic_patterns.py
  src/omnibase_infra/handlers/handler_consul.py
  src/omnibase_infra/handlers/mixins/__init__.py
  src/omnibase_infra/handlers/mixins/mixin_consul_service.py
  src/omnibase_infra/handlers/mixins/mixin_consul_topic_index.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/registration/__init__.py
  src/omnibase_infra/models/registration/model_event_bus_topic_entry.py
  src/omnibase_infra/models/registration/model_node_event_bus_config.py
  src/omnibase_infra/models/registration/model_node_introspection_event.py
  src/omnibase_infra/nodes/reducers/models/model_payload_consul_register.py
  src/omnibase_infra/nodes/reducers/registration_reducer.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/integration/registration/conftest.py
  tests/integration/registration/test_introspection_event_bus_e2e.py
  tests/integration/routing/__init__.py
  tests/integration/routing/test_topic_routing_registry.py
  tests/unit/handlers/test_handler_consul_topic_index.py
  tests/unit/mixins/test_mixin_node_introspection.py
  tests/unit/mixins/test_mixin_node_introspection_event_bus.py
  tests/unit/models/registration/test_model_node_event_bus_config.py
  tests/unit/nodes/reducers/models/__init__.py
  tests/unit/nodes/reducers/models/test_model_payload_consul_register_event_bus.py
  tests/unit/nodes/reducers/test_registration_reducer.py
  tests/unit/runtime/test_runtime_host_topic_query.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

fix(OMN-1610): Fix test failures and security issues in emit daemon
  src/omnibase_infra/runtime/emit_daemon/cli.py
  tests/unit/runtime/emit_daemon/test_client.py
  tests/unit/runtime/emit_daemon/test_config.py
  tests/unit/runtime/emit_daemon/test_event_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1610): Address code review feedback for emit daemon
  src/omnibase_infra/runtime/emit_daemon/client.py
  src/omnibase_infra/runtime/emit_daemon/daemon.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1610): Add max backoff cap and configurable socket permissions
  src/omnibase_infra/runtime/emit_daemon/config.py
  src/omnibase_infra/runtime/emit_daemon/daemon.py
  src/omnibase_infra/validation/infra_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-1610): Replace union types with strongly typed input model
  src/omnibase_infra/runtime/emit_daemon/config.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/validation_exemptions.yaml
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1646): Add event ledger schema and models
  src/omnibase_infra/migrations/001_create_event_ledger.sql
  src/omnibase_infra/nodes/node_ledger_write_effect/models/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/models/model_ledger_append_result.py
  src/omnibase_infra/nodes/node_ledger_write_effect/models/model_ledger_entry.py
  src/omnibase_infra/nodes/node_ledger_write_effect/models/model_ledger_query.py
  src/omnibase_infra/nodes/node_ledger_write_effect/models/model_ledger_query_result.py
  src/omnibase_infra/nodes/reducers/models/__init__.py
  src/omnibase_infra/nodes/reducers/models/model_payload_ledger_append.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

feat(OMN-1646): Add node structure, tests, and rollback for event ledger
  src/omnibase_infra/migrations/001_drop_event_ledger.sql
  src/omnibase_infra/nodes/node_ledger_write_effect/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_ledger_write_effect/node.py
  tests/unit/nodes/node_ledger_write_effect/__init__.py
  tests/unit/nodes/node_ledger_write_effect/test_models.py
  tests/unit/nodes/reducers/models/test_model_payload_ledger_append.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1610): Address all PR #207 release-ready review issues
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/models/handlers/model_handler_source_config.py
  src/omnibase_infra/runtime/emit_daemon/cli.py
  src/omnibase_infra/runtime/emit_daemon/daemon.py
  src/omnibase_infra/runtime/emit_daemon/queue.py
  src/omnibase_infra/services/session/config_store.py
  src/omnibase_infra/services/session/consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1610): Fix event loss and concurrent response mixing bugs
  src/omnibase_infra/runtime/emit_daemon/client.py
  src/omnibase_infra/runtime/emit_daemon/queue.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1646): Address code review feedback for event ledger models
  src/omnibase_infra/nodes/node_ledger_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_ledger_write_effect/models/model_ledger_append_result.py
  src/omnibase_infra/nodes/node_ledger_write_effect/models/model_ledger_entry.py
  src/omnibase_infra/nodes/reducers/models/model_payload_ledger_append.py
  tests/unit/nodes/node_ledger_write_effect/test_models.py
  tests/unit/nodes/reducers/models/test_model_payload_ledger_append.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

refactor(OMN-1610): Replace dict[str, object] soup with typed daemon protocol models
  src/omnibase_infra/runtime/emit_daemon/__init__.py
  src/omnibase_infra/runtime/emit_daemon/client.py
  src/omnibase_infra/runtime/emit_daemon/daemon.py
  src/omnibase_infra/runtime/emit_daemon/model_daemon_request.py
  src/omnibase_infra/runtime/emit_daemon/model_daemon_response.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/emit_daemon/test_emit_daemon_integration.py
  tests/unit/runtime/emit_daemon/test_client.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1646): Use JsonType for onex_headers type safety
  src/omnibase_infra/nodes/node_ledger_write_effect/models/model_ledger_entry.py
  src/omnibase_infra/nodes/reducers/models/model_payload_ledger_append.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

feat(OMN-1646): Add event ledger schema and models (#208)
  src/omnibase_infra/migrations/001_create_event_ledger.sql
  src/omnibase_infra/migrations/001_drop_event_ledger.sql
  src/omnibase_infra/nodes/node_ledger_write_effect/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_ledger_write_effect/models/__init__.py
  src/omnibase_infra/nodes/node_ledger_write_effect/models/model_ledger_append_result.py
  src/omnibase_infra/nodes/node_ledger_write_effect/models/model_ledger_entry.py
  src/omnibase_infra/nodes/node_ledger_write_effect/models/model_ledger_query.py
  src/omnibase_infra/nodes/node_ledger_write_effect/models/model_ledger_query_result.py
  src/omnibase_infra/nodes/node_ledger_write_effect/node.py
  src/omnibase_infra/nodes/reducers/models/__init__.py
  src/omnibase_infra/nodes/reducers/models/model_payload_ledger_append.py
  tests/unit/nodes/node_ledger_write_effect/__init__.py
  tests/unit/nodes/node_ledger_write_effect/test_models.py
  tests/unit/nodes/reducers/models/test_model_payload_ledger_append.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
