Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-15242): wire omnimarket venv drift-repair into pull-all.sh
  scripts/pull-all.sh
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15242): wire omnimarket venv drift-repair into pull-all.sh (#2527)
  scripts/pull-all.sh
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15330): provision contract-declared DLQ topics per contract at boot
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_omn15330_contract_dlq_topics_provisioned.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15330): provision contract-declared DLQ topics per contract at boot (#2528)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_omn15330_contract_dlq_topics_provisioned.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14974): vendor generation access migration
  docker/migrations/forward/nodes/node_projection_delegation/0027_generation_events_tenant_rls.sql
  tests/unit/migrations/test_generation_events_access_omn14974.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14974): vendor generation access migration (#2529)
  docker/migrations/forward/nodes/node_projection_delegation/0027_generation_events_tenant_rls.sql
  tests/unit/migrations/test_generation_events_access_omn14974.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15344): wire the flip-bundle seam gate into this repo + freeze its parity-RED-on-base debt
  .github/workflows/ci.yml
  scripts/ci/parity_red_on_base_baseline.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15344): wire the flip-bundle seam gate into this repo + freeze its parity-RED-on-base debt (#2530)
  .github/workflows/ci.yml
  scripts/ci/parity_red_on_base_baseline.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15348): RT-6 deploy readback respects RUNTIME_BUILD_SERVICES_OVERRIDE
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_rt6_scoped_readback.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15348): RT-6 deploy readback respects RUNTIME_BUILD_SERVICES_OVERRIDE (#2531)
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_rt6_scoped_readback.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): compose migration runner honours the k8s operator fence (skip+record, never apply)
  scripts/run-forward-migrations.sh
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15343): 094 gates every privileged role statement on an observed divergence
  docker/migrations/forward/094_create_app_dashboard_role.sql
  tests/integration/migrations/test_094_app_dashboard_role.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): drop RST table separators from the fence-parity docstring (ai-slop md_separator)
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-15343): restamp migration schema fingerprint after 094 change
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(OMN-15190): dev-lane liveness as a firing surface, not an unwired script
  .github/workflows/runner-fleet-canary.yml
  scripts/system_health_check.sh
  tests/ci/test_dev_lane_liveness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15351): 0027 tolerates absent role_omnidash instead of aborting every dev-lane deploy
  docker/migrations/forward/nodes/node_projection_delegation/0027_generation_events_tenant_rls.sql
  tests/integration/db/test_generation_events_role_tolerance_omn15351.py
  tests/unit/migrations/test_generation_events_access_omn14974.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15336): compose migration runner honours the k8s operator fence (skip+record, never apply) (#2532)
  scripts/run-forward-migrations.sh
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15343): 094 gates every privileged role statement on an observed divergence (#2533)
  docker/migrations/forward/094_create_app_dashboard_role.sql
  docker/migrations/schema_fingerprint.sha256
  tests/integration/migrations/test_094_app_dashboard_role.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15190): split lane probe into its own workflow, leave the fleet-canary guard intact
  .github/workflows/dev-lane-liveness.yml
  .github/workflows/runner-fleet-canary.yml
  tests/ci/test_dev_lane_liveness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15351): 0027 tolerates absent role_omnidash instead of aborting every dev-lane deploy (#2535)
  docker/migrations/forward/nodes/node_projection_delegation/0027_generation_events_tenant_rls.sql
  tests/integration/db/test_generation_events_role_tolerance_omn15351.py
  tests/unit/migrations/test_generation_events_access_omn14974.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15190): dev-lane liveness as a firing surface — keep-alive severity + scheduled probe (#2534)
  .github/workflows/dev-lane-liveness.yml
  scripts/system_health_check.sh
  tests/ci/test_dev_lane_liveness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14968): dev-lane runtime-worker replicas resolve fail-closed per lane
  docker/README.md
  docker/docker-compose.infra.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.stability-test.yml
  docker/env-example-full.txt
  docs/env-example-full.txt
  docs/runbooks/stability-test-runtime-lane.md
  scripts/deploy-agent/tests/unit/test_runtime_worker_census.py
  scripts/render_runtime_policy_env.py
  src/omnibase_infra/runtime/models/model_runtime_process_policy.py
  tests/ci/test_runtime_policy_contract.py
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_dev_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-14968): dev-lane runtime-worker replicas resolve fail-closed per lane (#2536)
  docker/README.md
  docker/docker-compose.infra.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.stability-test.yml
  docker/env-example-full.txt
  docs/env-example-full.txt
  docs/runbooks/stability-test-runtime-lane.md
  scripts/deploy-agent/tests/unit/test_runtime_worker_census.py
  scripts/render_runtime_policy_env.py
  src/omnibase_infra/runtime/models/model_runtime_process_policy.py
  tests/ci/test_runtime_policy_contract.py
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_dev_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-14974): reconcile observability projection schema
  docker/migrations/forward/nodes/node_projection_delegation/0028_reconcile_delegation_observability_views.sql
  docker/migrations/forward/nodes/node_projection_registration/0003_reconcile_heartbeat_observability.sql
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14974): tolerate fenced registration base
  docker/migrations/forward/nodes/node_projection_registration/0003_reconcile_heartbeat_observability.sql
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14974): reconcile observability projection schema (#2538)
  docker/migrations/forward/nodes/node_projection_delegation/0028_reconcile_delegation_observability_views.sql
  docker/migrations/forward/nodes/node_projection_registration/0003_reconcile_heartbeat_observability.sql
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14974): preserve projection envelope identity
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_db_injection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14974): preserve projection envelope identity (#2539)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_db_injection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15379): lane-scope the node-migration fence release to the lab lane
  docker/docker-compose.dev-lane.yml
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-runtime.sh
  scripts/run-forward-migrations.sh
  tests/scripts/test_deploy_runtime_lane_overlay.py
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15379): lane-scope the node-migration fence release to the lab lane (#2540)
  docker/docker-compose.dev-lane.yml
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-runtime.sh
  scripts/run-forward-migrations.sh
  tests/scripts/test_deploy_runtime_lane_overlay.py
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15352): commit-on-success registry write + :latest tag rollback
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_registry_commit_on_success.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15378): wire scripts/deploy-agent/tests into CI + guard uncollected roots
  .github/workflows/deploy-agent-tests.yml
  .pre-commit-config.yaml
  scripts/deploy-agent/tests/unit/test_executor_lane_selection.py
  scripts/validation/validate_test_root_collection.py
  tests/ci/test_validate_test_root_collection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15378): add missing DEV_REDPANDA_ADVERTISE_HOST placeholder for real-docker prod tests
  scripts/deploy-agent/tests/unit/test_executor_prod_image_slot_omn15181.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15378): declare deploy-agent-tests as a MISSING direct gate in the enforcement parity manifest
  scripts/enforcement_parity_manifest.yaml
Due: onex-validate-contracts

fix(OMN-15395): contract-driven topic replication + fail-closed RF1 rejection
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_topic_provisioning.py
  src/omnibase_infra/event_bus/service_topic_manager.py
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/contract.yaml
  src/omnibase_infra/nodes/node_row_count_diagnostic_effect/contract.yaml
  src/omnibase_infra/nodes/node_runner_fleet_health_compute/contract.yaml
  src/omnibase_infra/nodes/node_runner_fleet_maintain_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_runner_health_snapshot_effect/contract.yaml
  src/omnibase_infra/nodes/node_topic_migration_executor_effect/handlers/handler_topic_migration_executor.py
  src/omnibase_infra/nodes/node_topic_migration_executor_effect/models/model_topic_migration_command.py
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/enum_topic_provisioning_profile.py
  src/omnibase_infra/topics/managed_staging_topic_checker.py
  src/omnibase_infra/topics/model_canary_namespace.py
  src/omnibase_infra/topics/model_topic_provisioning_diff.py
  src/omnibase_infra/topics/model_topic_provisioning_policy.py
  src/omnibase_infra/topics/model_topic_spec.py
  tests/unit/event_bus/test_service_topic_manager.py
  tests/unit/event_bus/test_topic_provisioner_rf_policy_omn15395.py
  tests/unit/nodes/node_topic_migration_executor_effect/test_handler_topic_migration_executor.py
  tests/unit/tools/test_contract_topic_config.py
  tests/unit/topics/test_no_contract_declares_rf1.py
  tests/unit/topics/test_topic_provisioning_policy.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15352): commit-on-success registry write + :latest tag rollback (#2541)
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_registry_commit_on_success.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15378): wire scripts/deploy-agent/tests into CI + guard uncollected roots (#2542)
  .github/workflows/deploy-agent-tests.yml
  .pre-commit-config.yaml
  scripts/deploy-agent/tests/unit/test_executor_lane_selection.py
  scripts/deploy-agent/tests/unit/test_executor_prod_image_slot_omn15181.py
  scripts/enforcement_parity_manifest.yaml
  scripts/validation/validate_test_root_collection.py
  tests/ci/test_validate_test_root_collection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
