Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-15038): resync vendored node migrations
  docker/migrations/forward/nodes/node_projection_delegation/0024_drop_unwired_routing_columns.sql
Due: none

fix(OMN-14498): route auto-wired sync-publisher publish failures to DLQ instead of swallowing
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_sync_event_publisher_dlq_omn14498.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15066): surface LLM retry-loop attempts at INFO
  src/omnibase_infra/mixins/mixin_llm_http_transport.py
  tests/unit/mixins/test_mixin_llm_http_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15104): detect self-hosted runner fleet image drift
  scripts/ci/check_runner_fleet_image_drift.py
  scripts/deploy-runners.sh
  tests/ci/test_check_runner_fleet_image_drift.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15059): guard pre-push full-suite escalation to the .200 host
  scripts/hooks/prepush_smart_tests.sh
  tests/ci/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-14498): make topic drift required jobs fail-closed
  .github/workflows/ci.yml
Due: none

fix(OMN-14498, OMN-15029): route sync publisher failures to DLQ
  .github/workflows/ci.yml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_sync_event_publisher_dlq_omn14498.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15038): vendor delegation projection drop migration
  docker/migrations/forward/nodes/node_projection_delegation/0024_drop_unwired_routing_columns.sql
Due: none

ci(OMN-15038): allow paired market migration source refs
  .github/workflows/node-migration-sync.yml
  scripts/resolve_node_migration_source_ref.py
  tests/scripts/test_resolve_node_migration_source_ref.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15038): vendor delegation projection drop migration
  .github/workflows/node-migration-sync.yml
  docker/migrations/forward/nodes/node_projection_delegation/0024_drop_unwired_routing_columns.sql
  scripts/resolve_node_migration_source_ref.py
  tests/scripts/test_resolve_node_migration_source_ref.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-15108): migrate 2 decorative validator workflows into ci.yml
  .github/workflows/ci.yml
  .github/workflows/validate-validator-requirements.yml
  .github/workflows/validator-runtime-profiles.yml
Due: none

fix(OMN-15114): close runner host artifact staleness + detect it durably
  scripts/ci/check_runner_host_artifact_freshness.py
  scripts/deploy-runners.sh
  tests/ci/test_check_runner_host_artifact_freshness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15114): close runner host artifact staleness + detect it durably (#2440)
  scripts/ci/check_runner_host_artifact_freshness.py
  scripts/deploy-runners.sh
  tests/ci/test_check_runner_host_artifact_freshness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15114): stop the freshness checker reporting its own absence as drift
  scripts/deploy-runners.sh
  tests/ci/test_check_runner_host_artifact_freshness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15115): raise ModelLlmInferenceRequest timeout ceiling + add per-model max_retries
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/model_llm_inference_request.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible.py
  tests/unit/nodes/node_llm_inference_effect/models/test_model_llm_inference_request_resilience.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15114): stop the freshness checker reporting its own absence as drift (#2441)
  scripts/deploy-runners.sh
  tests/ci/test_check_runner_host_artifact_freshness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-15108): apply required runner override to migrated validators
  .github/workflows/ci.yml
  .github/workflows/validate-validator-requirements.yml
  .github/workflows/validator-runtime-profiles.yml
Due: none

fix(OMN-15115): sync llm inference contract timeout
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
Due: onex-validate-contracts

ci(OMN-15108): migrate 2 decorative validator workflows into ci.yml (#2439)
  .github/workflows/ci.yml
  .github/workflows/validate-validator-requirements.yml
  .github/workflows/validator-runtime-profiles.yml
Due: none

fix(OMN-14933): preserve candidate build ancestry
  .github/workflows/build-workspace-candidate-runtime.yml
Due: none

test(OMN-15115): sync llm inference contract runtime expectations
  tests/integration/runtime/test_llm_inference_contract_runtime_bus.py
  tests/integration/test_omn12816_main_promotion_coverage.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15115): raise ModelLlmInferenceRequest timeout ceiling + per-model max_retries (#2442)
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/model_llm_inference_request.py
  tests/integration/runtime/test_llm_inference_contract_runtime_bus.py
  tests/integration/test_omn12816_main_promotion_coverage.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible.py
  tests/unit/nodes/node_llm_inference_effect/models/test_model_llm_inference_request_resilience.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14933): preserve candidate build ancestry (#2443)
  .github/workflows/build-workspace-candidate-runtime.yml
Due: none

fix(OMN-15122): deploy-runtime.sh step 3b resolves omnibase_core runtime contracts from workspace path
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_core_contracts_resolution.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15122): deploy-runtime.sh step 3b resolves omnibase_core runtime contracts from workspace path (#2444)
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_core_contracts_resolution.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15115): raise ModelLlmInferenceRequest timeout ceiling + per-model max_retries (#2442)
  docker/migrations/forward/nodes/node_merge_state_projection/0001_create_merge_state_transitions.sql
  docker/migrations/forward/nodes/node_projection_baselines/0001_create_baselines_tables.sql
  docker/migrations/forward/nodes/node_projection_baselines/0002_realign_child_tables_to_producer_schema.sql
  docker/migrations/forward/nodes/node_projection_baselines_quality/002_realign_quality_snapshots_to_producer_schema.sql
  docker/migrations/forward/nodes/node_projection_baselines_roi/002_realign_roi_snapshots_to_producer_schema.sql
  docker/migrations/forward/nodes/node_projection_context_roi/002_add_factor_subset_hash_and_routing_source.sql
  docker/migrations/forward/nodes/node_projection_delegation/0022_delegation_events_tenant_id.sql
  docker/migrations/forward/nodes/node_projection_delegation/0023_delegation_rls_tenant_isolation.sql
  docker/migrations/forward/nodes/node_projection_delegation/0024_drop_unwired_routing_columns.sql
  docker/migrations/forward/nodes/node_projection_registration/0002_node_service_registry_tenant_rls.sql
  docker/migrations/forward/nodes/node_projection_savings/080_savings_estimates_tenant_id.sql
  docker/migrations/forward/nodes/node_projection_savings/081_savings_estimates_rls_tenant_isolation.sql
  docker/migrations/forward/nodes/node_projection_skill_executions/0001_create_skill_execution_snapshots.sql
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/model_llm_inference_request.py
  tests/integration/runtime/test_llm_inference_contract_runtime_bus.py
  tests/integration/test_omn12816_main_promotion_coverage.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible.py
  tests/unit/nodes/node_llm_inference_effect/models/test_model_llm_inference_request_resilience.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15131): stage_workspace.sh invokes check_sibling_lock_pins.py with an interpreter that has pydantic
  scripts/runtime_build/stage_workspace.sh
  tests/scripts/test_stage_workspace_sibling_lock_pins_interpreter.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14397): remove stale auto_merge skill mapping
  src/omnibase_infra/cli/skill_mapping.yaml
  tests/unit/cli/test_cli_skill.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15131): stage_workspace.sh invokes check_sibling_lock_pins.py with an interpreter that has pydantic (#2446)
  scripts/runtime_build/stage_workspace.sh
  tests/scripts/test_stage_workspace_sibling_lock_pins_interpreter.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15134): self-heal workspace-reset hook against root-owned debris
  docker/runners/Dockerfile
  docker/runners/runner-job-started.sh
  tests/scripts/test_runner_job_started_root_owned_debris.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14627): allow managed staging auth callback
  docker/keycloak/desired-clients.json
  scripts/seed-keycloak-clients.py
  scripts/tests/test_keycloak_desired_clients_contract.py
  scripts/tests/test_seed_keycloak_clients.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15115): promote LLM request retry schema to main (#2447)
  docker/migrations/forward/nodes/node_merge_state_projection/0001_create_merge_state_transitions.sql
  docker/migrations/forward/nodes/node_projection_baselines/0001_create_baselines_tables.sql
  docker/migrations/forward/nodes/node_projection_baselines/0002_realign_child_tables_to_producer_schema.sql
  docker/migrations/forward/nodes/node_projection_baselines_quality/002_realign_quality_snapshots_to_producer_schema.sql
  docker/migrations/forward/nodes/node_projection_baselines_roi/002_realign_roi_snapshots_to_producer_schema.sql
  docker/migrations/forward/nodes/node_projection_context_roi/002_add_factor_subset_hash_and_routing_source.sql
  docker/migrations/forward/nodes/node_projection_delegation/0022_delegation_events_tenant_id.sql
  docker/migrations/forward/nodes/node_projection_delegation/0023_delegation_rls_tenant_isolation.sql
  docker/migrations/forward/nodes/node_projection_delegation/0024_drop_unwired_routing_columns.sql
  docker/migrations/forward/nodes/node_projection_registration/0002_node_service_registry_tenant_rls.sql
  docker/migrations/forward/nodes/node_projection_savings/080_savings_estimates_tenant_id.sql
  docker/migrations/forward/nodes/node_projection_savings/081_savings_estimates_rls_tenant_isolation.sql
  docker/migrations/forward/nodes/node_projection_skill_executions/0001_create_skill_execution_snapshots.sql
  src/omnibase_infra/cli/skill_mapping.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  src/omnibase_infra/nodes/node_llm_inference_effect/models/model_llm_inference_request.py
  tests/integration/runtime/test_llm_inference_contract_runtime_bus.py
  tests/integration/test_omn12816_main_promotion_coverage.py
  tests/unit/cli/test_cli_skill.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible.py
  tests/unit/nodes/node_llm_inference_effect/models/test_model_llm_inference_request_resilience.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15134): self-heal workspace-reset hook against root-owned debris (#2448)
  docker/runners/Dockerfile
  docker/runners/runner-job-started.sh
  tests/scripts/test_runner_job_started_root_owned_debris.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15137): provision omnibase_spi via a shared sibling-clone manifest
  scripts/runtime_build/ensure_runner_clones.sh
  scripts/runtime_build/sibling_clone_manifest.sh
  scripts/runtime_build/stage_workspace.sh
  tests/scripts/test_ensure_runner_clones.py
  tests/scripts/test_sibling_clone_manifest_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14627): allow managed staging auth callback (#2449)
  docker/keycloak/desired-clients.json
  scripts/seed-keycloak-clients.py
  scripts/tests/test_keycloak_desired_clients_contract.py
  scripts/tests/test_seed_keycloak_clients.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
