Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

feat(OMN-18944): the production backup's failure reaches a person (#3903)
  deploy/maintenance/omninode-system-slack-report.sh
  tests/scripts/test_postgres_backup_freshness_row_omn18944.py
  tests/unit/scripts/test_fleet_failure_sink_omn18942.py
  tests/unit/scripts/test_omninode_system_slack_report.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18979): hold the layer-5 sweep to the strict bar and name the ten (#3908)
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18976): re-point the two OMN-18144 tests the rename moved
  tests/ci/test_declined_measurement_omn18144.py
  tests/ci/test_verify_queue_position_omn18144.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18918): carry the source message coordinates to the projection seam (#3898)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/delivery_context.py
  src/omnibase_infra/runtime/dispatch_envelope_context.py
  src/omnibase_infra/runtime/event_bus_subcontract_wiring.py
  src/omnibase_infra/runtime/message_dispatch_engine.py
  src/omnibase_infra/runtime/protocols/protocol_contract_scoped_dispatch_engine.py
  src/omnibase_infra/runtime/version_compatibility.py
  tests/fixtures/seams/core_release/0.46.11_expected_symbols.json
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
  tests/integration/runtime/test_omn17802_core_pin_fallback_matrix.py
  tests/integration/test_omn18918_delivery_coordinates_end_to_end.py
  tests/integration/test_omn18918_scoped_boundary_delivery.py
  tests/integration/test_omnibase_spi_runtime_protocol_floor.py
  tests/integration/test_source_coordinate_carry_omn18955.py
  tests/unit/runtime/test_omn18918_delivery_coordinates.py
  tests/unit/runtime/test_source_coordinate_injection_omn18955.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18949): gate census drift in CI, and report live lane drift to a person
  .github/workflows/lane-census-staleness.yml
  deploy/maintenance/omninode-system-slack-report.sh
  scripts/check_lane_census_drift.py
  scripts/generate_claude_lane_block.py
  tests/ci/test_incident_replay_omn18949.py
  tests/fixtures/omn18949/generate_claude_lane_block-2e4eec05c.py.captured
  tests/fixtures/omn18949/lane-manifest-2e4eec05c.yaml.captured
  tests/incident_replays/registry.yaml
  tests/unit/scripts/test_check_lane_census_drift_omn18949.py
  tests/unit/scripts/test_fleet_failure_sink_omn18942.py
  tests/unit/scripts/test_lane_census_sink_omn18949.py
  tests/unit/scripts/test_omninode_system_slack_report.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18976): a merge queued behind another deploy is not a failed lab pass
  .github/workflows/runtime-rebuild-trigger.yml
  scripts/ci/check_dev_lane_staleness.py
  tests/ci/test_convergence_horizon_omn18144.py
  tests/ci/test_declined_measurement_omn18144.py
  tests/ci/test_verify_queue_position_omn18144.py
  tests/unit/ci/test_queued_ahead_is_not_a_lane_failure_omn18976.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18976): answer for the merges that were queued behind a converged one
  .github/workflows/runtime-rebuild-trigger.yml
  config/ci_evidence_policy.yaml
  scripts/ci/check_dev_lane_staleness.py
  scripts/ci/lab_pass_receipt.py
  tests/ci/test_ci_evidence_policy.py
  tests/unit/ci/test_reemission_window_omn18976.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18979): order a same-second check-run pair by completion, not by id
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18988): declare the re-emitter advisory, because it is an emitter
  .github/workflows/runtime-rebuild-trigger.yml
Due: none

fix(OMN-18938): add the parity direction that starts from our own signature
  .github/workflows/delegation-consumer-kwarg-parity.yml
  .github/workflows/delegation-seam-gate.yml
  config/runner_routing_policy.yaml
  pyproject.toml
  scripts/ci/ci_summary_gate.py
  src/omnibase_infra/runtime/protocols/protocol_delegation_dispatch_port.py
  tests/integration/runtime/test_delegation_dispatch_port_consumer_kwarg_parity.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18988): put the advisory marker where the gate reads it
  .github/workflows/runtime-rebuild-trigger.yml
Due: none

chore(OMN-18993): vendor and declare the delegate-skill command-claims migration
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegate_skill_orchestrator/0001_delegate_skill_command_claims.sql
Due: none

feat(OMN-18988): classify a binding failure, and bind from the lane itself
  scripts/ci/lab_pass_receipt.py
  tests/unit/ci/test_binding_class_reemission_omn18988.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18990): a control-topic lag sample is only a count while it is current
  scripts/ci/check_dev_lane_staleness.py
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/lag_refresher.py
  scripts/deploy-agent/deploy_agent/queue_depth.py
  scripts/deploy-agent/tests/unit/test_deploy_agent_coalesce_omn18143.py
  scripts/deploy-agent/tests/unit/test_lag_sample_freshness_omn18990.py
  scripts/deploy-agent/tests/unit/test_queue_depth_omn18144.py
  tests/ci/test_queue_lag_staleness_omn18990.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18992): tell a guard-refused zero apart from a writer that wrote nothing
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/fixtures/omn18992/zero-rows-window-430ff3434.log.captured
  tests/unit/runtime/test_omn18992_guard_refused_zero_rows.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18916): grade the chain by declared hop identity, not by position (#3905)
  config/skip_count_baseline.yaml
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/chain_replay.py
  tests/integration/nodes/node_delegation_chain_ledger_effect/test_chain_tree_replay_dispatch_omn18419.py
  tests/unit/nodes/node_delegation_chain_ledger_effect/test_chain_replay.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18992): version 0.38.49 and the runner image identity
  docker/runners/runner-image.lock.json
  pyproject.toml
  uv.lock
Due: none

chore(OMN-18938): restamp the runner image identity after the version bump
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-18993): re-vendor the claims migration schema-qualified
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegate_skill_orchestrator/0001_delegate_skill_command_claims.sql
Due: none

fix(OMN-18938): add the parity direction that starts from our own signature, and make its absence a failure (#3917)
  .github/workflows/delegation-consumer-kwarg-parity.yml
  .github/workflows/delegation-seam-gate.yml
  config/runner_routing_policy.yaml
  docker/runners/runner-image.lock.json
  pyproject.toml
  scripts/ci/ci_summary_gate.py
  src/omnibase_infra/runtime/protocols/protocol_delegation_dispatch_port.py
  tests/integration/runtime/test_delegation_dispatch_port_consumer_kwarg_parity.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18988): re-emit for any receipt whose only failures are binding-class
  .github/workflows/runtime-rebuild-trigger.yml
  config/ci_evidence_policy.yaml
  scripts/ci/check_dev_lane_staleness.py
  scripts/ci/lab_pass_receipt.py
  tests/unit/ci/test_binding_class_reemission_omn18988.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-18991): record the cancelled-row divergence between the two gates
  scripts/ci/ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18992): drive the real dispatch callback, not a replay of its branch
  tests/integration/runtime/test_omn18992_guard_refused_zero_rows_integration.py
  tests/unit/runtime/test_omn18992_guard_refused_zero_rows.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18949): gate census drift in CI, and report live lane drift to a person (#3913)
  .github/workflows/lane-census-staleness.yml
  deploy/maintenance/omninode-system-slack-report.sh
  scripts/check_lane_census_drift.py
  scripts/generate_claude_lane_block.py
  tests/ci/test_incident_replay_omn18949.py
  tests/fixtures/omn18949/generate_claude_lane_block-2e4eec05c.py.captured
  tests/fixtures/omn18949/lane-manifest-2e4eec05c.yaml.captured
  tests/incident_replays/registry.yaml
  tests/unit/scripts/test_check_lane_census_drift_omn18949.py
  tests/unit/scripts/test_fleet_failure_sink_omn18942.py
  tests/unit/scripts/test_lane_census_sink_omn18949.py
  tests/unit/scripts/test_omninode_system_slack_report.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18990): a control-topic lag sample is only a count while it is current (#3920)
  scripts/ci/check_dev_lane_staleness.py
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/lag_refresher.py
  scripts/deploy-agent/deploy_agent/queue_depth.py
  scripts/deploy-agent/tests/unit/test_deploy_agent_coalesce_omn18143.py
  scripts/deploy-agent/tests/unit/test_lag_sample_freshness_omn18990.py
  scripts/deploy-agent/tests/unit/test_queue_depth_omn18144.py
  tests/ci/test_queue_lag_staleness_omn18990.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18976): a merge queued behind another deploy is not a failed lab pass (#3914)
  .github/workflows/runtime-rebuild-trigger.yml
  scripts/ci/check_dev_lane_staleness.py
  tests/ci/test_convergence_horizon_omn18144.py
  tests/ci/test_declined_measurement_omn18144.py
  tests/ci/test_verify_queue_position_omn18144.py
  tests/unit/ci/test_queued_ahead_is_not_a_lane_failure_omn18976.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18993): re-vendor the claims migration without the tenant column
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegate_skill_orchestrator/0001_delegate_skill_command_claims.sql
Due: none

feat(OMN-18988): answer for any sha the converged image contains whose only failures were binding-class
  .github/workflows/runtime-rebuild-trigger.yml
  config/ci_evidence_policy.yaml
  scripts/ci/check_dev_lane_staleness.py
  scripts/ci/lab_pass_receipt.py
  tests/ci/test_ci_evidence_policy.py
  tests/unit/ci/test_binding_class_reemission_omn18988.py
  tests/unit/ci/test_reemission_window_omn18976.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18991): a lone cancellation is pending inside the grace and named outside it
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18992): tell a guard-refused zero apart from a writer that wrote nothing (#3919)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/fixtures/omn18992/zero-rows-window-430ff3434.log.captured
  tests/integration/runtime/test_omn18992_guard_refused_zero_rows_integration.py
  tests/unit/runtime/test_omn18992_guard_refused_zero_rows.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18991): order a same-second check-run pair by completion, not by id (#3916)
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19018): give the lag refresh a thread of its own
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/tests/unit/test_lag_refresh_executor_omn19018.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18988): state the LAN-bound runner guard per job, not per file
  tests/scripts/test_trigger_redeploy_start.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18988): re-emit a lab-pass receipt for any sha the converged image contains whose only failures were binding-class (#3922)
  .github/workflows/runtime-rebuild-trigger.yml
  config/ci_evidence_policy.yaml
  scripts/ci/check_dev_lane_staleness.py
  scripts/ci/lab_pass_receipt.py
  tests/ci/test_ci_evidence_policy.py
  tests/scripts/test_trigger_redeploy_start.py
  tests/unit/ci/test_binding_class_reemission_omn18988.py
  tests/unit/ci/test_reemission_window_omn18976.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18993): count the vendored claims migration in the manifest assertion
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19031): vendor the consumer-flow node_id index so the migrate bundle carries it
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_consumer_flow/0005_add_node_id_ingest_index.sql
Due: none

fix(OMN-19018): give the lag refresh a thread of its own (#3924)
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/tests/unit/test_lag_refresh_executor_omn19018.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19034): arm the census drift-count assertion AC-1 asked for, and point its reporting leg at the census the host writes
  .github/workflows/lane-census-staleness.yml
  deploy/lane-census/census-snapshot.json
  deploy/lane-census/lane-manifest.yaml
  deploy/maintenance/omninode-system-slack-report.sh
  scripts/check_lane_census_drift.py
  tests/unit/scripts/test_check_lane_census_drift_omn18949.py
  tests/unit/scripts/test_lane_census_sink_omn18949.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18942): a finding with nowhere to go may not exit zero
  .github/workflows/pr-ci-zombie-detector.yml
  scripts/ci/nonrequired_check_failure_rate.py
  tests/unit/scripts/test_fleet_failure_sink_omn18942.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: release omnibase_infra 0.38.51 (OMN-18595)
  CHANGELOG.md
Due: onex-validate-markdown-links
