Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-10079): publish terminal outputs for brokered runtime commands
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/auto_wiring/models/model_discovered_contract.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/auto_wiring/test_wiring.py
  tests/unit/runtime/test_service_pattern_b_broker.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10079): add runtime ingress deploy evidence
  contracts/OMN-10079.yaml
  tests/integration/test_pattern_b_terminal_result_applier.py
  uv.lock
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10079): title runtime ingress deploy contract
  contracts/OMN-10079.yaml
Due: onex-validate-contracts

docs(OMN-10637): add deploy-gate contract for Bifrost delegation routing
  contracts/OMN-10637.yaml
Due: onex-validate-contracts

docs(OMN-10637): add required title field to contract for OCC schema validation
  contracts/OMN-10637.yaml
Due: onex-validate-contracts

test(OMN-10079): add deploy-gate runtime proof
  contracts/OMN-10079.yaml
Due: onex-validate-contracts

feat(OMN-10616): wire quality gate to read DoD from contract
  src/omnibase_infra/nodes/node_delegation_quality_gate_reducer/handlers/handler_quality_gate.py
  src/omnibase_infra/nodes/node_delegation_quality_gate_reducer/models/__init__.py
  src/omnibase_infra/nodes/node_delegation_quality_gate_reducer/models/model_quality_gate_input.py
  src/omnibase_infra/nodes/node_delegation_quality_gate_reducer/models/model_quality_gate_result.py
  tests/integration/test_invariant_violation.py
  tests/unit/nodes/node_delegation_quality_gate_reducer/handlers/test_handler_quality_gate.py
  tests/unit/test_invariant_violation.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10615): bump contract version + add deploy-gate ticket contract
  contracts/OMN-10615.yaml
  src/omnibase_infra/nodes/node_delegation_routing_reducer/contract.yaml
Due: onex-validate-contracts

fix(OMN-10616): bump contract version + add deploy-gate ticket contract + rebase main
  contracts/OMN-10616.yaml
  src/omnibase_infra/nodes/node_delegation_quality_gate_reducer/contract.yaml
Due: onex-validate-contracts

test(OMN-10615): integration coverage for routing reducer contract loading
  tests/integration/delegation/test_routing_reducer_contract_loading.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10079): publish terminal outputs for brokered runtime commands
  contracts/OMN-10079.yaml
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/auto_wiring/models/model_discovered_contract.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/integration/test_pattern_b_terminal_result_applier.py
  tests/unit/runtime/auto_wiring/test_wiring.py
  tests/unit/runtime/test_service_pattern_b_broker.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10637): Bifrost delegation routing rules config for task classes (#1514)
  arch-handler-contract-compliance-allowlist.yaml
  contracts/OMN-10637.yaml
  src/omnibase_infra/configs/bifrost_delegation.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/bifrost/config_loader_bifrost_delegation.py
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/bifrost/model_bifrost_delegation_config.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/test_invariant_violation.py
  tests/unit/nodes/node_llm_inference_effect/handlers/bifrost/test_bifrost_delegation_config.py
  tests/unit/test_invariant_violation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10616): fail closed on unsupported DoD check names
  src/omnibase_infra/nodes/node_delegation_quality_gate_reducer/handlers/handler_quality_gate.py
  tests/unit/nodes/node_delegation_quality_gate_reducer/handlers/test_handler_quality_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10616): wire quality gate to read DoD from contract (#1513)
  contracts/OMN-10616.yaml
  src/omnibase_infra/nodes/node_delegation_quality_gate_reducer/contract.yaml
  src/omnibase_infra/nodes/node_delegation_quality_gate_reducer/handlers/handler_quality_gate.py
  src/omnibase_infra/nodes/node_delegation_quality_gate_reducer/models/__init__.py
  src/omnibase_infra/nodes/node_delegation_quality_gate_reducer/models/model_quality_gate_input.py
  src/omnibase_infra/nodes/node_delegation_quality_gate_reducer/models/model_quality_gate_result.py
  tests/unit/nodes/node_delegation_quality_gate_reducer/handlers/test_handler_quality_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10616): add integration test for quality-gate contract loading
  tests/integration/delegation/test_quality_gate_contract_loading.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): project materialized node dispatches
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/runtime/test_projection_handler_db_injection_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): project materialized node dispatches (#1518)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/runtime/test_projection_handler_db_injection_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10615): clear routing reducer CodeQL globals
  src/omnibase_infra/nodes/node_delegation_routing_reducer/handlers/handler_delegation_routing.py
  tests/integration/delegation/test_routing_reducer_contract_loading.py
  tests/unit/nodes/node_delegation_routing_reducer/handlers/test_handler_delegation_routing_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10558): remove unnecessary env store close delete
  src/omnibase_infra/secret_stores/adapter_env_secret_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10615): wire routing reducer to read task-class contracts (#1512)
  contracts/OMN-10615.yaml
  src/omnibase_infra/configs/task_class_contracts.v1.yaml
  src/omnibase_infra/nodes/node_delegation_routing_reducer/contract.yaml
  src/omnibase_infra/nodes/node_delegation_routing_reducer/handlers/handler_delegation_routing.py
  tests/integration/delegation/test_routing_reducer_contract_loading.py
  tests/unit/nodes/node_delegation_routing_reducer/handlers/test_handler_delegation_routing_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10558): AdapterEnvSecretStore (nullable env-var lookup) (#1507)
  src/omnibase_infra/secret_stores/__init__.py
  src/omnibase_infra/secret_stores/adapter_env_secret_store.py
  tests/integration/test_adapter_env_secret_store_integration.py
  tests/unit/secret_stores/__init__.py
  tests/unit/secret_stores/test_adapter_env_secret_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10616): harden quality gate contract fixture
  tests/integration/delegation/test_quality_gate_contract_loading.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10557): add secret store integration coverage
  tests/integration/test_infisical_secret_store_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10557): InfisicalSecretStore wrapper
  src/omnibase_infra/secret_stores/__init__.py
  src/omnibase_infra/secret_stores/infisical_secret_store.py
  src/omnibase_infra/validation/validator_no_direct_adapter.py
  tests/unit/secret_stores/test_infisical_secret_store.py
  tests/unit/validators/test_rule_no_direct_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10616): add integration test for quality-gate contract loading (#1517)
  tests/integration/delegation/test_quality_gate_contract_loading.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10534): add deploy-gate contract, env-parity fix, and integration test
  contracts/OMN-10534.yaml
  tests/ci/test_env_parity.py
  tests/integration/event_bus/test_topic_provisioner_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10563): address registry runtime gate failures
  contracts/OMN-10534.yaml
  contracts/OMN-10563.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  scripts/register-repo.py
  src/omnibase_infra/tools/contract_topic_extractor.py
  tests/ci/test_env_parity.py
  tests/unit/event_bus/test_service_topic_manager.py
  tests/unit/scripts/test_register_repo.py
  tests/unit/tools/test_contract_topic_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10534): address runtime contract review blockers
  contracts/runtime/contract_loader_effect.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  docker/docker-compose.infra.yml
  src/omnibase_infra/event_bus/service_topic_manager.py
  src/omnibase_infra/tools/contract_topic_extractor.py
  src/omnibase_infra/topics/model_topic_spec.py
  tests/unit/event_bus/test_service_topic_manager.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10563): align contract interface metadata
  contracts/OMN-10563.yaml
Due: onex-validate-contracts

fix(OMN-10534): address topic provisioner review follow-ups
  contracts/OMN-10534.yaml
  tests/integration/event_bus/test_topic_provisioner_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10534): use valid interfaces_touched enum in contract
  contracts/OMN-10534.yaml
Due: onex-validate-contracts

feat(OMN-10563): register omnimarket service keys; schema v1.2
  config/shared_key_registry.yaml
  scripts/register-repo.py
  tests/unit/config/test_shared_key_registry_omnimarket.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: harden local runtime topic bootstrap
  contracts/runtime/contract_loader_effect.yaml
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  docker/docker-compose.infra.yml
  src/omnibase_infra/event_bus/service_topic_manager.py
  tests/unit/event_bus/test_service_topic_manager.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10557): keep infisical secret store union count stable
  src/omnibase_infra/secret_stores/infisical_secret_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10563): resolve runtime registry review blockers
  contracts/OMN-10563.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/runtime_orchestrator.yaml
  scripts/register-repo.py
  src/omnibase_infra/tools/contract_topic_extractor.py
  tests/unit/scripts/test_register_repo.py
  tests/unit/tools/test_contract_topic_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10557): InfisicalSecretStore wrapper over AdapterInfisical (#1506)
  src/omnibase_infra/secret_stores/__init__.py
  src/omnibase_infra/secret_stores/infisical_secret_store.py
  src/omnibase_infra/validation/validator_no_direct_adapter.py
  tests/integration/test_infisical_secret_store_integration.py
  tests/unit/secret_stores/test_infisical_secret_store.py
  tests/unit/validators/test_rule_no_direct_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10563): remove runtime compose empty defaults
  docker/docker-compose.infra.yml
  src/omnibase_infra/event_bus/service_topic_manager.py
  tests/unit/event_bus/test_service_topic_manager.py
  tests/unit/infra/test_compose_no_silent_fallbacks.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
