Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-10757): harden canonical env fallback validator (#1553)
  scripts/validate_no_env_fallbacks.py
  tests/unit/scripts/validation/test_validate_no_env_fallbacks.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10771): input adapter protocol + CLI adapter + fake adapter (#1549)
  src/omnibase_infra/onboarding/adapter_cli_input.py
  src/omnibase_infra/onboarding/adapter_fake_input.py
  src/omnibase_infra/onboarding/protocol_input_adapter.py
  src/omnibase_infra/validation/infra_validators.py
  tests/integration/test_input_adapter_integration.py
  tests/unit/onboarding/test_adapter_cli_input.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10780): transition reducer — pure state machine for interactive onboarding
  src/omnibase_infra/onboarding/transition_reducer.py
  src/omnibase_infra/validation/infra_validators.py
  tests/integration/onboarding/__init__.py
  tests/integration/onboarding/test_transition_reducer_integration.py
  tests/unit/onboarding/test_transition_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10780): update INFRA_MAX_UNIONS test assertion from 148 to 149
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10769): add pure condition evaluator for interactive onboarding transitions
  tests/unit/onboarding/test_condition_evaluator.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10769): cover condition evaluator not-in branches
  tests/integration/onboarding/__init__.py
  tests/integration/onboarding/test_condition_evaluator_policy_integration.py
  tests/unit/onboarding/test_condition_evaluator.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10780): bump INFRA_MAX_UNIONS to 150 after rebase onto OMN-10771
  src/omnibase_infra/validation/infra_validators.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10769): align tests with evaluator LHS-is-state-key semantics
  tests/unit/onboarding/test_condition_evaluator.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10769): pure condition evaluator for interactive onboarding transitions (#1547)
  tests/integration/onboarding/__init__.py
  tests/integration/onboarding/test_condition_evaluator_policy_integration.py
  tests/unit/onboarding/test_condition_evaluator.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10780): harden graph validation + add contract for receipt gate
  contracts/OMN-10780.yaml
  src/omnibase_infra/onboarding/transition_reducer.py
  tests/unit/onboarding/test_transition_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10780): rename shadowed variable to fix mypy strict assignment error
  src/omnibase_infra/onboarding/transition_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10780): use valid dod_evidence source literal (generated, not ci)
  contracts/OMN-10780.yaml
Due: onex-validate-contracts

feat(OMN-10780): transition reducer — pure state machine for interactive onboarding (#1552)
  contracts/OMN-10780.yaml
  src/omnibase_infra/onboarding/transition_reducer.py
  src/omnibase_infra/validation/infra_validators.py
  tests/integration/onboarding/test_transition_reducer_integration.py
  tests/unit/onboarding/test_transition_reducer.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10782): interactive executor — drives onboarding flow via adapter + reducer
  contracts/OMN-10782.yaml
  src/omnibase_infra/onboarding/interactive_executor.py
  src/omnibase_infra/onboarding/model_interactive_result.py
  src/omnibase_infra/onboarding/model_step_result.py
  src/omnibase_infra/onboarding/models_interactive.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/onboarding/test_interactive_executor_integration.py
  tests/unit/onboarding/test_interactive_executor.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10782): wrap reducer TransitionError into InteractiveExecutorError
  src/omnibase_infra/onboarding/interactive_executor.py
  tests/unit/onboarding/test_interactive_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10782): use valid check_type enum values in contract
  contracts/OMN-10782.yaml
Due: onex-validate-contracts

fix(OMN-10782): add required title field to contract
  contracts/OMN-10782.yaml
Due: onex-validate-contracts

feat(OMN-10782): interactive executor — drives onboarding flow via adapter + reducer (#1555)
  contracts/OMN-10782.yaml
  src/omnibase_infra/onboarding/interactive_executor.py
  src/omnibase_infra/onboarding/model_interactive_result.py
  src/omnibase_infra/onboarding/model_step_result.py
  src/omnibase_infra/onboarding/models_interactive.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/onboarding/test_interactive_executor_integration.py
  tests/unit/onboarding/test_interactive_executor.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10797): condition evaluator supports quoted-literal LHS
  contracts/OMN-10797.yaml
  src/omnibase_infra/onboarding/condition_evaluator.py
  src/omnibase_infra/onboarding/policies/interactive_onboarding.yaml
  tests/unit/onboarding/test_condition_evaluator.py
  tests/unit/onboarding/test_interactive_onboarding_policy.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10797): integration test + corrected contract schema
  contracts/OMN-10797.yaml
  tests/integration/onboarding/test_condition_evaluator_quoted_lhs_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10797): condition evaluator supports quoted-literal LHS (#1557)
  contracts/OMN-10797.yaml
  src/omnibase_infra/onboarding/condition_evaluator.py
  src/omnibase_infra/onboarding/policies/interactive_onboarding.yaml
  tests/integration/onboarding/test_condition_evaluator_quoted_lhs_integration.py
  tests/unit/onboarding/test_condition_evaluator.py
  tests/unit/onboarding/test_interactive_onboarding_policy.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10790): add ge=0/ge=1 bounds to compliance fields
  src/omnibase_infra/nodes/node_delegation_orchestrator/models/model_delegation_result.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/models/model_task_delegated_event.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-10790): add ticket contract with deploy evidence for deploy-gate
  contracts/OMN-10790.yaml
Due: onex-validate-contracts

fix(OMN-10790): add ProtocolInputAdapter to protocol ownership allowlist
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-10790): add integration tests for compliance fields wire compatibility
  tests/integration/delegation/test_compliance_fields_wire_compat.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10790): add tokens_to_compliance + compliance_attempts to delegation models
  src/omnibase_infra/nodes/node_delegation_orchestrator/models/model_delegation_result.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/models/model_task_delegated_event.py
  tests/unit/nodes/node_delegation_orchestrator/models/test_compliance_fields.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10784): address CodeRabbit review findings
  src/omnibase_infra/nodes/node_onboarding_orchestrator/handlers/handler_onboarding.py
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/model_onboarding_input.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10784): integration test + contract sync + deploy keyword
  contracts/OMN-10784.yaml
  src/omnibase_infra/nodes/node_onboarding_orchestrator/contract.yaml
  tests/integration/onboarding/test_handler_onboarding_interactive_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10784): wire interactive executor into onboarding handler
  contracts/OMN-10784.yaml
  src/omnibase_infra/nodes/node_onboarding_orchestrator/handlers/handler_onboarding.py
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/model_onboarding_input.py
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/model_onboarding_output.py
  tests/unit/nodes/node_onboarding_orchestrator/test_handler_onboarding_interactive.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10784): add ProtocolInputAdapter to KNOWN_INFRA_PROTOCOLS allowlist
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10784): enforce dry_run/env_output_path invariant in model
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/model_onboarding_input.py
  tests/integration/onboarding/test_handler_onboarding_interactive_integration.py
  tests/unit/nodes/node_onboarding_orchestrator/test_handler_onboarding_interactive.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10790): add tokens_to_compliance + compliance_attempts to delegation models (#1554)
  contracts/OMN-10790.yaml
  src/omnibase_infra/nodes/node_delegation_orchestrator/models/model_delegation_result.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/models/model_task_delegated_event.py
  tests/integration/delegation/test_compliance_fields_wire_compat.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/nodes/node_delegation_orchestrator/models/test_compliance_fields.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-10792): handler compliance loop and result model
  contracts/OMN-10792.yaml
  pyproject.toml
  src/omnibase_infra/nodes/node_delegation_orchestrator/handlers/handler_compliance_loop.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/models/model_compliance_loop_result.py
  tests/unit/nodes/node_delegation_orchestrator/handlers/test_handler_compliance_loop.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
