Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

test(OMN-19939): verify exact runtime broker grants
  tests/unit/nodes/node_broker_grant_derive_compute/test_broker_grant_derivation.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): validate fix-forward labels before green success return (OMN-19451) (#4608)
  scripts/ci/delegation_health_check.py
  tests/ci/test_delegation_health_check_omn19451.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20613): bridge delegation_budget_applied_events in the grant derivation
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-16553): regenerate runner image lock for dependency bump [bot]
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-20613): exempt the vendored 0056/0057 from the SQL lint and prove them on Postgres
  scripts/ci/check_application_database_sql.py
  tests/integration/migrations/test_delegation_budget_applied_events_omn20613.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20613): the 102 grant-set proof reads unqualified writer grants
  tests/integration/migrations/test_102_tenant_projection_writer_role_omn15425.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ledger): validate --consent rows (OMN-16728) (#4603)
  scripts/ledger_lock.py
  tests/unit/scripts/test_ledger_row_grammar_caller_omn19256.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19939): verify exact runtime broker grants (#4611)
  tests/unit/nodes/node_broker_grant_derive_compute/test_broker_grant_derivation.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20159): the dev lane's runtime-effects reads through the projection read binding (#4569)
  docker/docker-compose.dev-105.yml
  docker/docker-compose.dev-200.yml
  docker/docker-compose.dev-202.yml
  docker/docker-compose.dev-lane.yml
  docker/docker-compose.prepr.yml
  docker/projection-runtime-binding/runtime-read.yaml
  tests/integration/infra/test_dev_runtime_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20613): vendor the budget applied-events migrations, fence the RLS step, grant the writer (#4595)
  config/migration_classes.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/fenced-node-migrations.yaml
  docker/migrations/forward/nodes/node_projection_delegation/0056_delegation_budget_applied_events.sql
  docker/migrations/forward/nodes/node_projection_delegation/0057_delegation_budget_applied_events_rls.sql
  scripts/ci/check_application_database_sql.py
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/migrations/test_102_tenant_projection_writer_role_omn15425.py
  tests/integration/migrations/test_delegation_budget_applied_events_omn20613.py
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19453): assert onex.doctor entry points exist (#4601)
  tests/unit/doctor/test_delegation_doctor_omn19453.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20135): exempt ticketless dependency-bot bumps in the merge group too
  .github/workflows/ci.yml
  scripts/ci/classify_contract_compliance_scope.py
  tests/ci/test_contract_compliance_job_wiring.py
  tests/ci/test_run_contract_compliance_with_evidence.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20135): exempt ticketless dependency-bot bumps in the merge group
  .github/workflows/ci.yml
  scripts/ci/classify_contract_compliance_scope.py
  tests/ci/test_run_contract_compliance_with_evidence.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20006): substitute dev-202 for frozen dev-201 in receipt lanes
  .github/workflows/deliver-dev-candidate-to-staging.yml
  config/deploy_lane_routing.yaml
  config/release_train_policy.yaml
  scripts/ci/instance_receipt_lanes.py
  scripts/ci/lab_pass_receipt.py
  scripts/ci/release_train.py
  scripts/deploy-agent/deploy_agent/routing.py
  scripts/deploy-agent/tests/unit/test_deploy_agent_instances_as_data_omn19543.py
  scripts/deploy-agent/tests/unit/test_dev_202_omnimarket_route_omn19510.py
  scripts/deploy-agent/tests/unit/test_lane_flags_freeze_omn17427.py
  tests/ci/test_delivery_gate_compose_dev_202_omn19508.py
  tests/ci/test_deploy_lane_verify_route_omn19507.py
  tests/ci/test_verify_runner_runs_on_omn18408.py
  tests/scripts/ci/test_frozen_lane_substitute_omn20006.py
  tests/scripts/ci/test_instance_receipt_lanes_omn19543.py
  tests/scripts/ci/test_lab_pass_gate_no_force_skip.py
  tests/scripts/test_release_train_lab_evidence_compose_dev_202_omn19508.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17427): exit 1 on onex-runtime start for rollback proof
  docker/entrypoint-runtime.sh
Due: none

fix(OMN-19566): post the pr-head lab-proof-receipt check run by default
  .github/workflows/lab-proof-receipt.yml
  scripts/runtime_build/prepr_runtime_pool.py
  tests/unit/scripts/test_prepr_pool_pr_head_receipt_omn19566.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20135): exempt queued dependency-bot bumps from Contract Compliance
  .github/workflows/ci.yml
  scripts/ci/classify_contract_compliance_scope.py
  tests/ci/test_run_contract_compliance_with_evidence.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-20640: Add opt-in integration test for terminal readback (#4604)
  tests/integration/projectors/test_projection_terminal_event_emission.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19566): post the pr-head lab-proof-receipt check run by default (#4621)
  .github/workflows/lab-proof-receipt.yml
  scripts/runtime_build/prepr_runtime_pool.py
  tests/unit/scripts/test_prepr_pool_pr_head_receipt_omn19566.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18829): resolve lab delegation tenant from host declaration
  docker/docker-compose.runners-omnipc2-ci-runner.yml
  docker/docker-compose.runners.yml
  src/omnibase_infra/cli/cli_delegate.py
  tests/ci/test_runner_kubeconfig_mount.py
  tests/unit/cli/conftest.py
  tests/unit/cli/test_delegate_tenant_omn17427.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18829): carry wrapper workspace binding into tenant resolution
  src/omnibase_infra/cli/cli_delegate.py
  tests/unit/cli/test_delegate_tenant_omn17427.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(omninode-runtime): bind DELEGATION_ROUTING_TIERS_PATH in runtime catalog
  docker/catalog/services/omninode-runtime.yaml
  docker/catalog/services/runtime-effects.yaml
  tests/unit/docker/test_delegation_routing_tiers_path_binding_omn15645.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-14975): cover missing declared RLS migration copies
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-19739): retire infra owned canonical guard sources
  .onex_ratchets/canonical_file_shape_baseline.txt
  scripts/delete_orphan_branch.py
  scripts/git-hooks/canonical-clone/commit-msg
  scripts/git-hooks/canonical-clone/pre-commit
  scripts/git-hooks/canonical-clone/pre-merge-commit
  scripts/git-hooks/canonical-clone/pre-push
  scripts/git-hooks/canonical-clone/reference-transaction
  scripts/git-hooks/canonical_clone_guard.sh
  scripts/git-hooks/canonical_clone_paths.sh
  scripts/git-hooks/canonical_clone_ref_guard.sh
  scripts/install-canonical-clone-git-hooks.sh
  scripts/runtime_build/deploy_source_ref.py
  tests/ci/test_canonical_clone_guard_chains_hook_chain.py
  tests/ci/test_canonical_clone_ref_guard.py
  tests/ci/test_canonical_clone_registry_roots.py
  tests/ci/test_install_canonical_clone_git_hooks.py
  tests/scripts/test_delete_orphan_branch.py
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19741): resolve shared guards from the moved operator package
  scripts/ledger_lock.py
  src/omnibase_infra/nodes/node_merge_sweep_classify_compute/contract.yaml
  tests/unit/scripts/test_ledger_lock_replay_omn18757.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18829): add integration test for lab host tenant resolution
  tests/integration/cli/test_delegate_lab_host_tenant_omn18829.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19743): read workspace configuration from its owning repository
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_hosts.tsv
  src/omnibase_infra/handlers/handler_workspace_runtime_config_materializer.py
  src/omnibase_infra/models/workspace/model_workspace_runtime_config_sidecar.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/cli/test_omn19193_workspace_default_transport_cli.py
  tests/integration/handlers/test_workspace_runtime_config_materialization_omn19212.py
  tests/unit/cli/test_omn19193_workspace_tier1_transport.py
  tests/unit/cli/test_omn19212_materialised_workspace_transport.py
  tests/unit/handlers/test_handler_workspace_runtime_config_materializer.py
  tests/unit/scripts/test_prepush_actor_fallback.py
  tests/unit/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20387): check every cloud row of the pricing manifest against the provider's published rate
  src/omnibase_infra/configs/pricing_manifest.yaml
  tests/unit/configs/test_pricing_manifest_fill_omn20372.py
  tests/unit/configs/test_pricing_manifest_sonnet_5_5_omn19969.py
  tests/unit/configs/test_pricing_manifest_verified_omn20387.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11187): correlate projection terminal readback
  tests/integration/projectors/test_projection_terminal_event_emission.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19741): load shared guard package dependencies
  scripts/ledger_lock.py
  tests/unit/scripts/test_ledger_row_grammar_caller_omn19256.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-18829: Stamp lab caller delegations from the declared host tenant (#4624)
  docker/docker-compose.runners-omnipc2-ci-runner.yml
  docker/docker-compose.runners.yml
  src/omnibase_infra/cli/cli_delegate.py
  tests/ci/test_runner_kubeconfig_mount.py
  tests/integration/cli/test_delegate_lab_host_tenant_omn18829.py
  tests/unit/cli/conftest.py
  tests/unit/cli/test_delegate_tenant_omn17427.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20610): MCP tool execution reports a 402 as a typed payment refusal, no breaker failure, no server body (#4632)
  src/omnibase_infra/adapters/adapter_onex_tool_execution.py
  src/omnibase_infra/handlers/mcp/adapter_onex_to_mcp.py
  tests/integration/adapters/test_adapter_onex_tool_execution_402_integration.py
  tests/unit/adapters/test_adapter_onex_tool_execution_402.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17427): lift the dev-201 Tech Week freeze (#4633)
  config/deploy_lane_routing.yaml
  scripts/deploy-agent/tests/unit/test_lane_flags_freeze_omn17427.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19743): read workspace configuration from its owning repository (#4630)
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_hosts.tsv
  src/omnibase_infra/handlers/handler_workspace_runtime_config_materializer.py
  src/omnibase_infra/models/workspace/model_workspace_runtime_config_sidecar.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/cli/test_omn19193_workspace_default_transport_cli.py
  tests/integration/handlers/test_workspace_runtime_config_materialization_omn19212.py
  tests/unit/cli/test_omn19193_workspace_tier1_transport.py
  tests/unit/cli/test_omn19212_materialised_workspace_transport.py
  tests/unit/handlers/test_handler_workspace_runtime_config_materializer.py
  tests/unit/scripts/test_prepush_actor_fallback.py
  tests/unit/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-14975): cover missing declared RLS migration copies (#4625)
  tests/unit/migrations/test_node_migration_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(acl): grant lab callers PR handoff access (OMN-17427)
  deploy/lab/developer-principal-grants.yaml
  tests/scripts/test_lab_principal_issuer_omn20150.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20637): align deploy callers on declared clone root
  scripts/deploy-agent/deploy/deploy-agent-dev.service
  scripts/deploy-agent/deploy/deploy-agent-launch.sh
  scripts/deploy-agent/tests/unit/test_deploy_agent_launcher_omn18073.py
  scripts/deploy-runtime.sh
  scripts/runtime_build/refresh_stability_lane.sh
  scripts/runtime_build/sibling_clone_manifest.sh
  scripts/runtime_build/stage_workspace.sh
  tests/scripts/test_stage_workspace_deploy_ref.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

OMN-14975: Add node migration discovery tests to CI gate
  .github/workflows/node-migration-sync.yml
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20006): budget gateway canary for authenticated cloud startup
  docker/docker-compose.gateway.yml
  src/omnibase_infra/nodes/node_bus_forwarder_effect/contract.yaml
  tests/unit/runtime/test_gateway_canary_probe.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
