Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(OMN-1139): improve typing and robustness in notification publisher
  src/omnibase_infra/runtime/transition_notification_outbox.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
  src/omnibase_infra/validation/validation_exemptions.yaml
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1282): enforce fail-fast configuration - no defaults for CORS and contract validation
  src/omnibase_infra/runtime/handler_bootstrap_source.py
  src/omnibase_infra/runtime/handler_contract_config_loader.py
  src/omnibase_infra/services/registry_api/main.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1282): contract-driven handler config and MCP lifecycle fixes (#182)
  src/omnibase_infra/cli/cli_mcp.py
  src/omnibase_infra/cli/commands.py
  src/omnibase_infra/configs/widget_mapping.yaml
  src/omnibase_infra/handlers/handler_mcp.py
  src/omnibase_infra/handlers/service_discovery/handler_service_discovery_consul.py
  src/omnibase_infra/handlers/service_discovery/models/model_service_info.py
  src/omnibase_infra/models/handlers/model_handler_descriptor.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/handler_bootstrap_source.py
  src/omnibase_infra/runtime/handler_contract_config_loader.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/runtime/util_wiring.py
  src/omnibase_infra/services/registry_api/__init__.py
  src/omnibase_infra/services/registry_api/main.py
  src/omnibase_infra/services/registry_api/models/__init__.py
  src/omnibase_infra/services/registry_api/models/model_capability_widget_mapping.py
  src/omnibase_infra/services/registry_api/models/model_pagination_info.py
  src/omnibase_infra/services/registry_api/models/model_registry_discovery_response.py
  src/omnibase_infra/services/registry_api/models/model_registry_health_response.py
  src/omnibase_infra/services/registry_api/models/model_registry_instance_view.py
  src/omnibase_infra/services/registry_api/models/model_registry_node_view.py
  src/omnibase_infra/services/registry_api/models/model_registry_summary.py
  src/omnibase_infra/services/registry_api/models/model_response_list_instances.py
  src/omnibase_infra/services/registry_api/models/model_response_list_nodes.py
  src/omnibase_infra/services/registry_api/models/model_warning.py
  src/omnibase_infra/services/registry_api/models/model_widget_defaults.py
  src/omnibase_infra/services/registry_api/models/model_widget_mapping.py
  src/omnibase_infra/services/registry_api/routes.py
  src/omnibase_infra/services/registry_api/service.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/test_bootstrap_source_integration.py
  tests/unit/handlers/service_discovery/__init__.py
  tests/unit/handlers/service_discovery/test_handler_consul_extended.py
  tests/unit/handlers/test_handler_filesystem.py
  tests/unit/handlers/test_handler_mcp.py
  tests/unit/runtime/test_handler_bootstrap_source.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1139): add DLQ support to TransitionNotificationOutbox
  src/omnibase_infra/runtime/models/model_transition_notification_outbox_metrics.py
  src/omnibase_infra/runtime/transition_notification_outbox.py
  tests/unit/runtime/test_transition_notification_outbox.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1139): address minor PR review feedback for configurability and clarity
  src/omnibase_infra/runtime/models/model_projector_notification_config.py
  src/omnibase_infra/runtime/models/model_transition_notification_publisher_metrics.py
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
  tests/unit/runtime/test_projector_shell_notification_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Update omnibase-core dependency to ^0.9.0
  pyproject.toml
Due: none

chore: Regenerate poetry.lock for omnibase-core ^0.9.0
  poetry.lock
Due: none

chore: Bump version to 0.2.2
  pyproject.toml
  src/omnibase_infra/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-1139): improve documentation for circuit breaker and metrics clarity
  src/omnibase_infra/runtime/models/model_transition_notification_publisher_metrics.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1139): add topic pattern validation and improve batch error logging
  src/omnibase_infra/runtime/models/model_projector_notification_config.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1139): stricter topic validation and remove unused metrics method
  src/omnibase_infra/runtime/models/model_projector_notification_config.py
  src/omnibase_infra/runtime/models/model_transition_notification_publisher_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1139): use safe to_regclass() and fix test model naming
  docker/migrations/validate_migration_state.sql
  tests/integration/projectors/test_projector_notification_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Resolve 83 mypy type errors for omnibase-core ^0.9.0 compatibility
  src/omnibase_infra/cli/commands.py
  src/omnibase_infra/errors/error_compute_registry.py
  src/omnibase_infra/errors/error_event_bus_registry.py
  src/omnibase_infra/errors/error_infra.py
  src/omnibase_infra/errors/error_policy_registry.py
  src/omnibase_infra/handlers/handler_graph.py
  src/omnibase_infra/handlers/mixins/mixin_consul_kv.py
  src/omnibase_infra/handlers/mixins/mixin_consul_service.py
  src/omnibase_infra/mixins/mixin_async_circuit_breaker.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/nodes/architecture_validator/registry/registry_infra_architecture_validator.py
  src/omnibase_infra/nodes/node_registration_orchestrator/introspection_event_router.py
  src/omnibase_infra/nodes/node_registration_orchestrator/registry/registry_infra_node_registration_orchestrator.py
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  src/omnibase_infra/nodes/node_registration_storage_effect/registry/registry_infra_registration_storage.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_partial_retry.py
  src/omnibase_infra/nodes/node_service_discovery_effect/registry/registry_infra_service_discovery.py
  src/omnibase_infra/plugins/plugin_compute_base.py
  src/omnibase_infra/protocols/protocol_event_projector.py
  src/omnibase_infra/runtime/binding_config_resolver.py
  src/omnibase_infra/runtime/contract_handler_discovery.py
  src/omnibase_infra/runtime/handler_bootstrap_source.py
  src/omnibase_infra/runtime/handler_contract_source.py
  src/omnibase_infra/runtime/handler_plugin_loader.py
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/models/model_health_check_result.py
  src/omnibase_infra/runtime/projector_plugin_loader.py
  src/omnibase_infra/runtime/registry/registry_protocol_binding.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/runtime/util_container_wiring.py
  src/omnibase_infra/services/mcp/service_mcp_tool_discovery.py
  src/omnibase_infra/services/registry_api/service.py
  src/omnibase_infra/services/service_capability_query.py
  src/omnibase_infra/services/service_timeout_emitter.py
  src/omnibase_infra/validation/infra_validators.py
  tests/unit/runtime/test_binding_config_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Address remaining 31 mypy errors from CI environment
  src/omnibase_infra/cli/commands.py
  src/omnibase_infra/handlers/handler_db.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/nodes/node_registration_orchestrator/registry/registry_infra_node_registration_orchestrator.py
  src/omnibase_infra/nodes/node_service_discovery_effect/registry/registry_infra_service_discovery.py
  src/omnibase_infra/runtime/binding_config_resolver.py
  src/omnibase_infra/runtime/secret_resolver.py
  src/omnibase_infra/services/registry_api/service.py
  src/omnibase_infra/services/service_health.py
  src/omnibase_infra/services/service_timeout_emitter.py
  src/omnibase_infra/validation/infra_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1139): address PR review - correlation ID consistency and code quality
  src/omnibase_infra/runtime/transition_notification_outbox.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Correct type ignore comment for type-abstract error
  src/omnibase_infra/nodes/node_service_discovery_effect/registry/registry_infra_service_discovery.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1139): address PR review - add metrics and improve validation
  src/omnibase_infra/runtime/models/model_projector_notification_config.py
  src/omnibase_infra/runtime/models/model_transition_notification_outbox_metrics.py
  src/omnibase_infra/runtime/models/model_transition_notification_publisher_metrics.py
  src/omnibase_infra/runtime/transition_notification_outbox.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Update tests for ModelEventEnvelope wrapping changes
  tests/unit/mixins/test_mixin_node_introspection.py
  tests/unit/nodes/test_registry_infra_registration_storage.py
  tests/unit/services/test_timeout_emitter.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1139): add derived metrics helpers and DLQ monitoring improvements
  src/omnibase_infra/runtime/models/model_transition_notification_outbox_metrics.py
  src/omnibase_infra/runtime/models/model_transition_notification_publisher_metrics.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Update integration tests for ModelEventEnvelope and API changes
  tests/integration/mixins/test_mixin_node_introspection_contract_integration.py
  tests/integration/registration/workflow/test_workflow_a0_a2.py
  tests/integration/runtime/test_binding_config_resolver_security.py
  tests/unit/nodes/test_registry_infra_service_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Update tests for ModelEventEnvelope and ModelSemVer API changes
  tests/integration/timeouts/test_restart_safe_timeouts.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_partial_retry.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1139): address PR review - error masking, exports, and test improvements
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/mixins/__init__.py
  src/omnibase_infra/runtime/mixins/mixin_projector_notification_publishing.py
  src/omnibase_infra/runtime/transition_notification_outbox.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
  tests/unit/runtime/test_projector_shell_notification_integration.py
  tests/unit/runtime/test_transition_notification_outbox.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1139): use attribute access for Pydantic notification payloads in tests
  tests/integration/projectors/test_projector_notification_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Correct attribute name in validation helper functions
  src/omnibase_infra/cli/commands.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1139): address PR review - tests, documentation, and nitpicks
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_transition_notification_outbox_config.py
  src/omnibase_infra/runtime/models/model_transition_notification_publisher_metrics.py
  src/omnibase_infra/runtime/transition_notification_outbox.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
  src/omnibase_infra/schemas/schema_transition_notification_outbox.sql
  tests/unit/runtime/test_projector_shell_notification_integration.py
  tests/unit/runtime/test_transition_notification_outbox.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1139): use correct field name in outbox metrics tests
  tests/unit/runtime/test_transition_notification_outbox.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Address PR #183 review feedback
  src/omnibase_infra/errors/error_compute_registry.py
  src/omnibase_infra/errors/error_event_bus_registry.py
  src/omnibase_infra/errors/error_infra.py
  src/omnibase_infra/errors/error_policy_registry.py
  src/omnibase_infra/handlers/handler_db.py
  src/omnibase_infra/nodes/node_registration_storage_effect/registry/registry_infra_registration_storage.py
  src/omnibase_infra/nodes/node_registry_effect/handlers/handler_partial_retry.py
  src/omnibase_infra/plugins/plugin_compute_base.py
  src/omnibase_infra/runtime/binding_config_resolver.py
  src/omnibase_infra/runtime/handler_contract_source.py
  src/omnibase_infra/runtime/mixin_semver_cache.py
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/registry/registry_protocol_binding.py
  src/omnibase_infra/runtime/registry_policy.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/services/mcp/service_mcp_tool_discovery.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_partial_retry.py
  tests/unit/runtime/test_handler_contract_source.py
  tests/unit/runtime/test_projector_shell.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1139): address final PR review - race condition and error handling
  src/omnibase_infra/runtime/transition_notification_outbox.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
  tests/unit/runtime/test_transition_notification_outbox.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: Bump omnibase-core to 0.9.1
  poetry.lock
  pyproject.toml
Due: none

feat(OMN-1408): add MCP E2E integration tests
  tests/integration/services/mcp/e2e/__init__.py
  tests/integration/services/mcp/e2e/conftest.py
  tests/integration/services/mcp/e2e/test_mcp_error_handling.py
  tests/integration/services/mcp/e2e/test_mcp_invoke_node.py
  tests/integration/services/mcp/e2e/test_mcp_tool_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1139): implement TransitionNotificationPublisher with ProjectorShell integration (#181)
  docker/migrations/validate_migration_state.sql
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/constants_notification.py
  src/omnibase_infra/runtime/mixins/__init__.py
  src/omnibase_infra/runtime/mixins/mixin_projector_notification_publishing.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_projector_notification_config.py
  src/omnibase_infra/runtime/models/model_transition_notification_outbox_config.py
  src/omnibase_infra/runtime/models/model_transition_notification_outbox_metrics.py
  src/omnibase_infra/runtime/models/model_transition_notification_publisher_metrics.py
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/runtime/protocols/__init__.py
  src/omnibase_infra/runtime/transition_notification_outbox.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
  src/omnibase_infra/schemas/schema_transition_notification_outbox.sql
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/projectors/test_projector_notification_integration.py
  tests/unit/runtime/test_projector_shell_notification_integration.py
  tests/unit/runtime/test_transition_notification_outbox.py
  tests/unit/runtime/test_transition_notification_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Address CI failures and refactor HandlerContractSource
  src/omnibase_infra/nodes/architecture_validator/contract_architecture_validator.yaml
  src/omnibase_infra/nodes/effects/contract.yaml
  src/omnibase_infra/nodes/node_registration_storage_effect/contract.yaml
  src/omnibase_infra/nodes/node_registry_effect/contract.yaml
  src/omnibase_infra/runtime/handler_contract_source.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Add cast for mypy kwargs unpacking compatibility
  src/omnibase_infra/errors/error_compute_registry.py
  src/omnibase_infra/errors/error_event_bus_registry.py
  src/omnibase_infra/errors/error_infra.py
  src/omnibase_infra/errors/error_policy_registry.py
  src/omnibase_infra/runtime/handler_contract_source.py
  src/omnibase_infra/runtime/registry/registry_protocol_binding.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1408): cleanup MCP E2E tests - imports and type annotations
  tests/integration/services/mcp/e2e/conftest.py
  tests/integration/services/mcp/e2e/test_mcp_error_handling.py
  tests/integration/services/mcp/e2e/test_mcp_invoke_node.py
  tests/integration/services/mcp/e2e/test_mcp_tool_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1408): add missing annotations imports and remove redundant import
  tests/integration/services/mcp/e2e/conftest.py
  tests/integration/services/mcp/e2e/test_mcp_invoke_node.py
  tests/integration/services/mcp/e2e/test_mcp_tool_discovery.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Update test fixtures to use structured contract_version format
  tests/unit/runtime/test_handler_contract_source.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1100): implement RegistryContractSource for Consul KV discovery
  scripts/demo_registry_contracts.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/registry_contract_source.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1408): make error assertion mandatory in nonexistent tool test
  tests/integration/services/mcp/e2e/test_mcp_error_handling.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Update handler contracts to use structured contract_version format
  src/omnibase_infra/contracts/handlers/filesystem/handler_contract.yaml
  src/omnibase_infra/contracts/handlers/mcp/handler_contract.yaml
  tests/integration/handlers/test_filesystem_handler_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1100): address code review issues in RegistryContractSource
  scripts/demo_registry_contracts.py
  src/omnibase_infra/runtime/registry_contract_source.py
  tests/unit/runtime/test_registry_contract_source.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
