Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

test(OMN-19031): the manifest declaration count moves 202 -> 203 with the new row
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18993): re-vendor the corrected claims migration and its runtime grant
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegate_skill_orchestrator/0001_delegate_skill_command_claims.sql
  docker/migrations/forward/nodes/node_delegate_skill_orchestrator/0001_grant_omninode_runtime_delegate_skill_command_claims.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19034): arm the census drift-count assertion AC-1 asked for, and point its reporting leg at the census the host writes (#3926)
  .github/workflows/lane-census-staleness.yml
  deploy/lane-census/census-snapshot.json
  deploy/lane-census/lane-manifest.yaml
  deploy/maintenance/omninode-system-slack-report.sh
  scripts/check_lane_census_drift.py
  tests/unit/scripts/test_check_lane_census_drift_omn18949.py
  tests/unit/scripts/test_lane_census_sink_omn18949.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18867): a durable lab alarm on three bounded conditions, raised once each
  config/lab_alarm.json
  scripts/lab_alarm.py
  scripts/launchd/com.omninode.lab-alarm.plist.template
  scripts/launchd/install-lab-alarm.sh
  tests/ci/test_lab_alarm_omn18867.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18993): pin the vendored claim pair migration contract
  tests/integration/migrations/test_delegate_skill_command_claims_omn18993.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19031): vendor the consumer-flow node_id index so the migrate bundle carries it (#3925)
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_consumer_flow/0005_add_node_id_ingest_index.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18910): grade whether a projection is writing, not only moving
  src/omnibase_infra/models/health/model_projection_apply_flow_verdict.py
  src/omnibase_infra/models/observability/__init__.py
  src/omnibase_infra/models/observability/model_projection_apply_delta.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/health/projection_apply_flow.py
  src/omnibase_infra/runtime/observability/__init__.py
  src/omnibase_infra/runtime/observability/projection_apply_counters.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/unit/runtime/health/test_projection_apply_flow_omn18910.py
  tests/unit/services/test_runtime_health_projection_apply_dimensions_omn18910.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19045): publish a ledger lock and its holder metadata in one rename
  scripts/ledger_lock.py
  tests/unit/scripts/test_ledger_lock.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18993): read the expiry check against the pin, not the trailer tree
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18910): drive the apply-flow dimensions through the real wiring seam
  tests/integration/test_projection_apply_flow_wiring_seam_omn18910.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18867): deliver a raised alarm to the channel the operator consented to
  config/skip_count_baseline.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_consumer_flow/0005_add_node_id_ingest_index.sql
  scripts/lab_alarm.py
  tests/ci/test_lab_alarm_omn18867.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19045): publish a ledger lock and its holder metadata in one rename (#3931)
  scripts/ledger_lock.py
  tests/unit/scripts/test_ledger_lock.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18866): the emitting job may not claim coverage the receipt does not carry
  .github/workflows/runtime-rebuild-trigger.yml
  tests/ci/test_lab_pass_receipt_integration_probes_omn18866.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19043): retry a Kafka connect, and leave a receipt when it never lands
  pyproject.toml
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/model_delegate_transport_refusal.py
  src/omnibase_infra/cli/model_receipt_runtime_summary.py
  src/omnibase_infra/cli/receipt_mode.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/kafka_connect_retry.py
  src/omnibase_infra/event_bus/models/config/model_kafka_connect_retry_policy.py
  src/omnibase_infra/runtime/providers/provider_kafka_producer.py
  tests/unit/cli/test_delegate_transport_terminal_omn18925.py
  tests/unit/event_bus/test_kafka_connect_retry_omn18925.py
  tests/unit/runtime/test_dependency_materializer.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18910): grade whether a projection is writing, not only moving (#3932)
  src/omnibase_infra/models/health/model_projection_apply_flow_verdict.py
  src/omnibase_infra/models/observability/__init__.py
  src/omnibase_infra/models/observability/model_projection_apply_delta.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/health/projection_apply_flow.py
  src/omnibase_infra/runtime/observability/__init__.py
  src/omnibase_infra/runtime/observability/projection_apply_counters.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/integration/test_projection_apply_flow_wiring_seam_omn18910.py
  tests/unit/runtime/health/test_projection_apply_flow_omn18910.py
  tests/unit/services/test_runtime_health_projection_apply_dimensions_omn18910.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18867): drop the vendored migration this branch was carrying; dev landed it
  docker/migrations/forward/_ledger/application-migrations.tsv
Due: none

test(OMN-19043): prove the unreachable-broker receipt through the real command
  tests/integration/cli/test_delegate_transport_typed_refusal.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18993): vendor and declare the delegate-skill command-claims migration (#3918)
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_delegate_skill_orchestrator/0001_delegate_skill_command_claims.sql
  docker/migrations/forward/nodes/node_delegate_skill_orchestrator/0001_grant_omninode_runtime_delegate_skill_command_claims.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/migrations/test_delegate_skill_command_claims_omn18993.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-19043): re-stamp the runner image identity after the version bump
  docker/runners/runner-image.lock.json
Due: none

feat(OMN-18867): a durable lab alarm on FAIL receipts, restart loops and growing consumer lag (#3930)
  config/lab_alarm.json
  config/skip_count_baseline.yaml
  scripts/lab_alarm.py
  scripts/launchd/com.omninode.lab-alarm.plist.template
  scripts/launchd/install-lab-alarm.sh
  tests/ci/test_lab_alarm_omn18867.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18866): the emitting job may not claim coverage the receipt does not carry (#3933)
  .github/workflows/runtime-rebuild-trigger.yml
  tests/ci/test_lab_pass_receipt_integration_probes_omn18866.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18693): restore delegation shadow migration
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0044_restore_delegation_shadow_comparisons.sql
  pyproject.toml
  uv.lock
Due: none

fix(OMN-18693): grant dashboard shadow reads
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0044_restore_delegation_shadow_comparisons.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18693): release shadow migration on dogfood
  docker/docker-compose.dogfood.yml
  docker/migrations/forward/fenced-node-migrations.yaml
  scripts/run-forward-migrations.sh
  tests/integration/infra/test_dogfood_compose_render.py
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(deps): restore range pins for the --no-deps runtime plugin installs
  docker/Dockerfile.runtime
Due: none

fix(OMN-17292): delete the dod_verify_runs interim grant entry the pin now derives
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18999): vendor the prod-promotion-gate projection migrations
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_prod_promotion_gate/0000_create_prod_promotion_gate_decisions.sql
  docker/migrations/forward/nodes/node_projection_prod_promotion_gate/0001_grant_omninode_runtime_prod_promotion_gate_decisions.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
Due: onex-validate-contracts

chore(OMN-18999): bridge the infra-first window for prod_promotion_gate_decisions
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18999): ratchet the migration-manifest count to the two vendored declarations
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18999): prove the prod_promotion_gate_decisions bridge derives the grant it ships
  tests/integration/topology/test_omn18999_prod_promotion_gate_bridge.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18693): re-vendor 0044 at the current node source head
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0044_restore_delegation_shadow_comparisons.sql
Due: none

fix(OMN-18693): rebind the runner image identity to the rebased lock
  docker/runners/runner-image.lock.json
Due: none

test(OMN-17292): cover the dod_verify_runs bridge retirement
  tests/integration/topology/test_dod_verify_runs_bridge_retired_omn18900.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18942): a finding with nowhere to go may not exit zero (#3928)
  .github/workflows/pr-ci-zombie-detector.yml
  scripts/ci/nonrequired_check_failure_rate.py
  tests/unit/scripts/test_fleet_failure_sink_omn18942.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18867): the lab alarm's launchd agent had no lab host to read
  scripts/launchd/com.omninode.lab-alarm.plist.template
  scripts/launchd/install-lab-alarm.sh
  tests/ci/test_lab_alarm_omn18867.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19043): give the connect retry policy real roundtrip coverage
  tests/unit/models/test_model_serialization_roundtrip.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18867): the lab alarm's launchd agent had no lab host to read (#3937)
  scripts/launchd/com.omninode.lab-alarm.plist.template
  scripts/launchd/install-lab-alarm.sh
  tests/ci/test_lab_alarm_omn18867.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18893): the pre-PR verify pool bring-up entrypoint and its refusals (#3938)
  docker/docker-compose.prepr.yml
  scripts/preflight_lane_deploy_attribution.py
  scripts/provision_db_slot.sh
  scripts/runtime_build/prepr_slot_policy.py
  scripts/runtime_build/prepr_verify_lane.sh
  scripts/runtime_build/prepr_verify_rendered_slot.py
  tests/unit/scripts/test_prepr_verify_lane_entrypoint_omn18893.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
