Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-9877): update auto-wiring test for OMN-10278 RESOLVED_VIA_KNOWN_PARAMS subsumption
  tests/integration/runtime/test_auto_wiring_resolver_end_to_end.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10781): update auto-wiring test for OMN-10278 RESOLVED_VIA_KNOWN_PARAMS subsumption
  tests/integration/runtime/test_auto_wiring_resolver_end_to_end.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: prevent delegation intent terminal topic fallback
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/unit/runtime/test_dispatch_result_applier_topic_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-10781): address CodeRabbit review findings
  contracts/OMN-10781.yaml
  src/omnibase_infra/onboarding/adapter_cli_input.py
  src/omnibase_infra/onboarding/adapter_fake_input.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9877): address CodeRabbit review findings
  tests/unit/runtime/test_node_subscription_wiring.py
  tests/unit/services/test_service_runtime_health_monitor.py
  tests/unit/tools/test_contract_topic_extractor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-10781): normalize pyproject.toml whitespace
  pyproject.toml
Due: none

chore(OMN-10781): document intentional branch pins in pyproject.toml
  pyproject.toml
Due: none

chore(OMN-10781): annotate branch pins with uv.lock SHA note
  pyproject.toml
Due: none

fix(OMN-9877): add @pytest.mark.unit to pre-existing sync tests in TestPackageNodeSubscriptionWiring
  tests/unit/runtime/test_node_subscription_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11095): add integration coverage + DoD contract for delegation topic routing
  contracts/OMN-11095.yaml
  tests/integration/runtime/test_delegation_intent_topic_routing_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11064): use env var interpolation for onboarding verification targets (#1605)
  src/omnibase_infra/onboarding/graphs/canonical.yaml
  src/omnibase_infra/probes/verification_executor.py
  tests/unit/probes/test_verification_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11069): CI gate blocking new os.environ reads outside approved overlay modules (#1610)
  .pre-commit-config.yaml
  scripts/check-env-reads.sh
  tests/unit/runtime/test_check_env_reads_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11095): prevent delegation intent terminal topic fallback (#1615)
  contracts/OMN-11095.yaml
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/integration/runtime/test_delegation_intent_topic_routing_integration.py
  tests/unit/runtime/test_dispatch_result_applier_topic_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: release v0.36.0
  pyproject.toml
  uv.lock
Due: none

ci: extend release gate timeouts
  .github/workflows/ci.yml
Due: none

ci: extend sibling compat timeout
  .github/workflows/check-sibling-compat.yml
Due: none

fix(OMN-11104): keep release tests dependency-neutral
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  src/omnibase_infra/runtime/version_compatibility.py
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/integration/onboarding/test_onboarding_verification_semantics.py
  tests/integration/runtime/test_pattern_b_broker_omnimarket.py
  tests/integration/runtime/test_runtime_boot_clean.py
  tests/integration/test_omnibase_spi_runtime_protocol_floor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-11104): add infra deploy gate evidence
  contracts/OMN-11104.yaml
Due: onex-validate-contracts

fix(OMN-11104): address release review findings
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-11104): clarify deploy evidence contract
  contracts/OMN-11104.yaml
Due: onex-validate-contracts

fix(OMN-11104): stabilize release CI rerun
  .github/workflows/check-sibling-compat.yml
  src/omnibase_infra/runtime/version_compatibility.py
  tests/unit/runtime/test_event_bus_subscriber_container_resolution.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11069): add OverlayWriter + cold-start detection tests
  src/omnibase_infra/runtime/overlay/__init__.py
  src/omnibase_infra/runtime/overlay/boot_overlay.py
  src/omnibase_infra/runtime/overlay/errors.py
  src/omnibase_infra/runtime/overlay/model_overlay_env_injection_result.py
  src/omnibase_infra/runtime/overlay/model_overlay_resolution_manifest.py
  src/omnibase_infra/runtime/overlay/model_overlay_resolution_result.py
  src/omnibase_infra/runtime/overlay/overlay_config_resolver.py
  src/omnibase_infra/runtime/overlay/overlay_file_loader.py
  src/omnibase_infra/runtime/overlay/overlay_writer.py
  tests/unit/runtime/overlay/__init__.py
  tests/unit/runtime/overlay/test_cold_start.py
  tests/unit/runtime/overlay/test_overlay_writer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11104): address release review follow-ups
  pyproject.toml
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11069): add integration tests for OverlayWriter + cold-start pipeline
  tests/integration/test_overlay_writer_coldstart_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11069): address CodeRabbit review findings on OverlayWriter PR
  src/omnibase_infra/runtime/overlay/model_overlay_resolution_result.py
  src/omnibase_infra/runtime/overlay/overlay_file_loader.py
  tests/unit/runtime/overlay/test_overlay_writer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-11104): release v0.36.0 (#1617)
  .github/workflows/check-sibling-compat.yml
  .github/workflows/ci.yml
  contracts/OMN-11104.yaml
  pyproject.toml
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  src/omnibase_infra/runtime/version_compatibility.py
  tests/integration/onboarding/test_onboarding_verification_semantics.py
  tests/integration/runtime/test_pattern_b_broker_omnimarket.py
  tests/integration/runtime/test_runtime_boot_clean.py
  tests/integration/test_omnibase_spi_runtime_protocol_floor.py
  tests/unit/runtime/test_event_bus_subscriber_container_resolution.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-11104): install aws cli for ecr workflows
  .github/workflows/build-and-push-migrate-image.yml
  .github/workflows/build-and-push-runtime.yml
Due: none

fix(OMN-11069): tighten integration test permission assertion to exact 0o600 mode
  tests/integration/test_overlay_writer_coldstart_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11069): E2E proof of life + runtime integration tests
  docs/examples/overlay.yaml
  src/omnibase_infra/runtime/overlay/overlay_writer.py
  tests/integration/runtime/overlay/__init__.py
  tests/integration/runtime/overlay/test_overlay_end_to_end.py
  tests/integration/runtime/overlay/test_overlay_runtime_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11104): align deploy contract interface enum
  contracts/OMN-11104.yaml
Due: onex-validate-contracts

feat(OMN-11069): add contracts/OMN-11069.yaml to satisfy deploy-gate
  contracts/OMN-11069.yaml
Due: onex-validate-contracts

ci(OMN-11104): install aws cli for ecr workflows (#1620)
  .github/workflows/build-and-push-migrate-image.yml
  .github/workflows/build-and-push-runtime.yml
  contracts/OMN-11104.yaml
Due: onex-validate-contracts

feat: add isolated prod runtime compose lane
  docker/docker-compose.prod.yml
Due: none

fix: refresh runtime compat for delegation DTOs
  docker/Dockerfile.runtime
  docker/docker-compose.stability-test.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
