Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

test(OMN-18125): the second measured shape, where provenance DOES declare a binding (#3397)
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18125_coverage_corpus.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18116): prove postgres readiness with a real query, not pg_isready
  tests/unit/db/test_migration_103_omn17301.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18116): restamp the runner image identity for the core pin bump
  docker/runners/runner-image.lock.json
Due: none

test(OMN-18083): keep live overlay guard in binding workflow
  tests/unit/scripts/test_omn_18083_lane_model_tracks_the_live_overlay.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16964): create the ledger_chain relation and point chain-canary link 5 at it by name (#3381)
  .github/workflows/chain-canary.yml
  .github/workflows/ci.yml
  docker/migrations/forward/105_create_ledger_chain.sql
  docker/migrations/schema_fingerprint.sha256
  scripts/check_schema_fingerprint.py
  scripts/run-forward-migrations.sh
  src/omnibase_infra/cli/skill_mapping.yaml
  src/omnibase_infra/nodes/node_chain_canary_effect/contract.yaml
  src/omnibase_infra/nodes/node_chain_canary_effect/handlers/handler_chain_canary.py
  src/omnibase_infra/nodes/node_chain_canary_effect/lane_transport.py
  src/omnibase_infra/nodes/node_chain_canary_effect/model_lane_ledger_readback.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/enum_chain_canary_verdict.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/enum_ledger_replay_status.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/model_chain_canary_request.py
  src/omnibase_infra/topology/physical_schema_mapping.py
  tests/unit/db/test_migration_104_retired_omn17923.py
  tests/unit/infra/test_login_only_role_grants_omn18060.py
  tests/unit/nodes/node_chain_canary_effect/test_handler_chain_canary.py
  tests/unit/nodes/node_chain_canary_effect/test_handler_chain_canary_ledger.py
  tests/unit/nodes/node_chain_canary_effect/test_handler_chain_canary_ledger_env.py
  tests/unit/nodes/node_chain_canary_effect/test_handler_chain_canary_readback.py
  tests/unit/nodes/node_chain_canary_effect/test_lane_ledger_readback.py
  tests/unit/validation/test_application_database_sql_enforcement_regressions.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18083): keep live overlay probe on its binding workflow
  tests/unit/scripts/test_omn_18083_lane_model_tracks_the_live_overlay.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17530): the health-dimension check reads the block the runtime serves (#3398)
  scripts/ci/lab_pass_receipt.py
  tests/ci/test_lab_pass_receipt_gate_omn17530.py
  tests/fixtures/omn17530/compose_dev_health.captured.json
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to f36822c59b48 [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

feat(OMN-18116): originate the causal edge and carry it on the wire (#3399)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/event_bus/adapters/adapter_protocol_event_publisher_kafka.py
  src/omnibase_infra/event_bus/envelope_header_identity.py
  src/omnibase_infra/event_bus/event_bus_inmemory.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/mixin_kafka_broadcast.py
  src/omnibase_infra/event_bus/models/model_event_headers.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/runtime/version_compatibility.py
  tests/fixtures/seams/core_release/0.46.11_expected_symbols.json
  tests/unit/db/test_migration_103_omn17301.py
  tests/unit/runtime/test_causal_edge_origination.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18083): guard rebuild trigger against live lane overlay drift (#3395)
  tests/unit/scripts/test_omn_18083_lane_model_tracks_the_live_overlay.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17530): the convergence verdict claims only what the guard can observe
  .github/workflows/runtime-rebuild-trigger.yml
  scripts/ci/check_dev_lane_staleness.py
  tests/ci/test_dev_lane_staleness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18140): vendor the delegation writer-attestation migration
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0038_delegation_events_writer_identity.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18140): vendor the delegation writer-attestation migration (#3401)
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0038_delegation_events_writer_identity.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17530): the convergence verdict claims only what the guard can observe (#3402)
  .github/workflows/runtime-rebuild-trigger.yml
  scripts/ci/check_dev_lane_staleness.py
  tests/ci/test_dev_lane_staleness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15504): give the dev lane the poll margin every other lane already has
  docker/docker-compose.dev-lane.yml
  src/omnibase_infra/nodes/node_chain_canary_effect/handlers/handler_chain_canary.py
  tests/unit/nodes/node_chain_canary_effect/test_handler_chain_canary_stall_attribution_omn15504.py
  tests/unit/scripts/test_omn15504_dev_lane_consumer_poll_interval.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17530): the lab probe waits for the recreate instead of racing it
  .github/workflows/runtime-rebuild-trigger.yml
  scripts/ci/lab_pass_receipt.py
  tests/ci/test_lab_pass_receipt_gate_omn17530.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-15504): vendor the owed node_projection_delegation 0038 migration
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0038_delegation_events_writer_identity.sql
Due: none

fix(OMN-15504): record the canary attribution change in its node contract
  src/omnibase_infra/nodes/node_chain_canary_effect/contract.yaml
Due: onex-validate-contracts

chore(OMN-15504): move the migration-declaration count pin 174 -> 175
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17530): the lab probe waits for the recreate instead of racing it (#3404)
  .github/workflows/runtime-rebuild-trigger.yml
  scripts/ci/lab_pass_receipt.py
  tests/ci/test_lab_pass_receipt_gate_omn17530.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15504): give the dev lane the poll margin every other lane already has (#3403)
  docker/docker-compose.dev-lane.yml
  src/omnibase_infra/nodes/node_chain_canary_effect/contract.yaml
  src/omnibase_infra/nodes/node_chain_canary_effect/handlers/handler_chain_canary.py
  tests/unit/nodes/node_chain_canary_effect/test_handler_chain_canary_stall_attribution_omn15504.py
  tests/unit/scripts/test_omn15504_dev_lane_consumer_poll_interval.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18114): put the tenant-projection carrier in both lanes' refresh build scope
  .pre-commit-config.yaml
  scripts/runtime_build/refresh_dev_lane.sh
  scripts/runtime_build/refresh_stability_lane.sh
  tests/scripts/test_stability_lane_rollback_omn18061.py
  tests/unit/scripts/test_omn18114_lane_carrier_build_scope.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18043): vendor consumer-flow cursor migration
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_consumer_flow/0001_add_projection_cursor.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to 1f98554bb591 [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

fix(keycloak): set fullScopeAllowed=false on all 9 clients with scope mappings for role-bearing service accounts (OMN-17848 AC1-3)
  docker/keycloak/desired-clients.json
  scripts/seed-keycloak-clients.py
  scripts/tests/test_keycloak_desired_clients_contract.py
  scripts/tests/test_seed_keycloak_clients.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18043): vendor consumer-flow cursor migration (#3406)
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_consumer_flow/0001_add_projection_cursor.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18135): the closer joins readbacks to state-shaped criteria, and names the bar
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_18135_readback_join.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(keycloak): die on non-200 scope-mappings GET; add failure test (OMN-17848)
  scripts/seed-keycloak-clients.py
  scripts/tests/test_keycloak_desired_clients_contract.py
  scripts/tests/test_seed_keycloak_clients.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18134): bring the gateway compose project under the deploy agent's DEV scope
  scripts/deploy-agent/deploy_agent/events.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/pyproject.toml
  scripts/deploy-agent/tests/unit/conftest.py
  scripts/deploy-agent/tests/unit/test_executor_runtime_scope.py
  scripts/deploy-agent/tests/unit/test_gateway_lane_scope_omn18134.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18114): put the tenant-projection carrier in both lanes' refresh build scope (#3408)
  .pre-commit-config.yaml
  scripts/runtime_build/refresh_dev_lane.sh
  scripts/runtime_build/refresh_stability_lane.sh
  tests/scripts/test_stability_lane_rollback_omn18061.py
  tests/unit/scripts/test_omn18114_lane_carrier_build_scope.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
