Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ci: add published_events consistency checker to pre-commit and CI (#816)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  scripts/__init__.py
  scripts/validation/check_published_events_consistency.py
  src/omnibase_infra/nodes/node_intent_storage_effect/contract.yaml
  src/omnibase_infra/nodes/node_ledger_write_effect/contract.yaml
  tests/unit/validation/test_check_published_events_consistency.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(lint): copy model-dump-json-mode lint script and register hook [OMN-4918]
  .pre-commit-config.yaml
  scripts/validation/validate_model_dump_json_mode.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(serialization): triage all bare model_dump() calls in omnibase_infra [OMN-4919]
  .pre-commit-config.yaml
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  src/omnibase_infra/models/handlers/model_bootstrap_handler_descriptor.py
  src/omnibase_infra/models/projection/model_snapshot_topic_config.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_get_contract.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_get_node.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_get_topic.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_list_contracts.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_list_nodes.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_list_topics.py
  src/omnibase_infra/plugins/examples/plugin_json_normalizer_error_handling.py
  src/omnibase_infra/runtime/binding_config_resolver.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_update.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_upsert.py
  src/omnibase_infra/runtime/models/model_runtime_scheduler_config.py
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  src/omnibase_infra/services/service_health.py
  src/omnibase_infra/types/type_dsn.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(registration): update stale workaround comment now that topic routing is fixed
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_introspected.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(docker): bump Dockerfile.runtime plugin pins to latest releases (#818)
  docker/Dockerfile.runtime
Due: none

test(models): add parametrized JSON roundtrip test for boundary models [OMN-4920]
  tests/unit/models/test_model_serialization_roundtrip.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(registration): update stale workaround comment now that topic routing is fixed (#814)
  src/omnibase_infra/nodes/node_registration_orchestrator/dispatchers/dispatcher_node_introspected.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): update idempotency guard test for mode="json" serialization + strict lint check [OMN-4912]
  scripts/validation/validate_model_dump_json_mode.py
  tests/unit/runtime/test_runtime_idempotency_guard.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(infra): expose Redpanda Admin API port 9644 in docker-compose [OMN-4959]
  docker/docker-compose.infra.yml
Due: none

feat(scripts): rehome cross-repo governance scripts from omni_home [OMN-4922]
  pyproject.toml
  scripts/audit-branch-protection.py
  scripts/audit-env-files.sh
  scripts/check_no_cloud_bus_wrapper.sh
  scripts/check_version_pins.py
  scripts/cloud-bus-tunnel.sh
  scripts/enable-merge-queue.sh
  scripts/feature_spec_overrides.yaml
  scripts/generate_deep_dive.py
  scripts/generate_feature_inventory.py
  scripts/generate_ticket_plan.py
  scripts/pre-commit-versions.yaml
  scripts/preflight-check.sh
  scripts/pull-all.sh
  scripts/system_health_check.sh
  scripts/validation/check_kafka_no_hardcoded_fallback.sh
  scripts/validation/check_no_cloud_bus.sh
  scripts/version-matrix.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): add OMNICLAUDE_SKILLS_ROOT to env parity CONFIGMAP_DEBT_KEYS [OMN-4622]
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(topics): flip runtime to contract-first topic provisioning [OMN-4622]
  docker/docker-compose.infra.yml
  scripts/validation/check_topic_completeness.py
  scripts/validation/completeness-allowlist.yaml
  src/omnibase_infra/cli/topics.yaml
  src/omnibase_infra/enums/generated/__init__.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/enums/generated/enum_runtime_topic.py
  src/omnibase_infra/event_bus/service_topic_manager.py
  src/omnibase_infra/nodes/node_github_pr_poller_effect/contract.yaml
  src/omnibase_infra/nodes/node_gmail_intent_poller_effect/contract.yaml
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/services/observability/topics.yaml
  src/omnibase_infra/services/topics.yaml
  src/omnibase_infra/tools/contract_topic_extractor.py
  src/omnibase_infra/validation/demo_loop_gate.py
  tests/unit/tools/test_contract_topic_extractor_yaml.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(pr-poller): add activation guide for GitHub PR poller effect node [OMN-4972]
  src/omnibase_infra/nodes/node_github_pr_poller_effect/ACTIVATION.md
Due: onex-validate-markdown-links

docs(linear-relay): add activation guide for Linear snapshot automation [OMN-4973]
  src/omnibase_infra/cli/LINEAR_RELAY_ACTIVATION.md
Due: onex-validate-markdown-links

docs(validation): add activation guide for validation orchestrator [OMN-4971]
  src/omnibase_infra/nodes/node_validation_orchestrator/ACTIVATION.md
Due: onex-validate-markdown-links

docs(validation): add activation guide for validation orchestrator [OMN-4971] (#824)
  src/omnibase_infra/nodes/node_validation_orchestrator/ACTIVATION.md
Due: onex-validate-markdown-links

docs(linear-relay): add activation guide for Linear snapshot automation [OMN-4973] (#823)
  src/omnibase_infra/cli/LINEAR_RELAY_ACTIVATION.md
Due: onex-validate-markdown-links

release: omnibase_infra v0.20.0
  CHANGELOG.md
  pyproject.toml
  src/omnibase_infra/runtime/version_compatibility.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

release: omnibase_infra v0.20.0 (#825)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_infra/runtime/version_compatibility.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(serialization): bare model_dump() hotfixes + lint + roundtrip tests [OMN-4912] (#817)
  .pre-commit-config.yaml
  scripts/validation/validate_model_dump_json_mode.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  src/omnibase_infra/models/handlers/model_bootstrap_handler_descriptor.py
  src/omnibase_infra/models/projection/model_snapshot_topic_config.py
  src/omnibase_infra/nodes/node_merge_gate_effect/handlers/handler_upsert_merge_gate.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_get_contract.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_get_node.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_get_topic.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_list_contracts.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_list_nodes.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_list_topics.py
  src/omnibase_infra/observability/handlers/handler_logging_structured.py
  src/omnibase_infra/plugins/examples/plugin_json_normalizer_error_handling.py
  src/omnibase_infra/runtime/binding_config_resolver.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_update.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_upsert.py
  src/omnibase_infra/runtime/models/model_runtime_scheduler_config.py
  src/omnibase_infra/runtime/projector_shell.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/service_message_dispatch_engine.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  src/omnibase_infra/services/service_health.py
  src/omnibase_infra/types/type_dsn.py
  tests/unit/models/test_model_serialization_roundtrip.py
  tests/unit/runtime/test_runtime_idempotency_guard.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): pass OMNIBASE_INFRA_DB_URL secret so baselines-scheduler works on ubuntu-latest
  .github/workflows/baselines-scheduler.yml
Due: none

fix(topics): register validation Kafka topics in platform catalog [OMN-5050]
  src/omnibase_infra/enums/generated/enum_validation_topic.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_validation_orchestrator/contract.yaml
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(nodes): publish actual declared capabilities in node events [OMN-5049]
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/discovery/model_introspection_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(topics): replace raw topic literals with SUFFIX constants [OMN-5049]
  src/omnibase_infra/models/discovery/model_introspection_config.py
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): add SUFFIX_NODE_REGISTRATION_ACCEPTED to expected platform suffixes [OMN-5049]
  tests/unit/topics/test_platform_topic_suffixes.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): include ALL_VALIDATION_TOPIC_SPECS in parity and count tests [OMN-5050]
  tests/ci/test_topic_parity.py
  tests/unit/topics/test_platform_topic_suffixes.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(topics): register validation topics in platform catalog [OMN-5050] (#827)
  src/omnibase_infra/enums/generated/enum_validation_topic.py
  src/omnibase_infra/nodes/node_validation_ledger_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_validation_orchestrator/contract.yaml
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/ci/test_topic_parity.py
  tests/unit/topics/test_platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(scripts): remove duplicate subprocess call in audit-branch-protection.py [OMN-4922]
  scripts/audit-branch-protection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(capabilities): contract-driven node capability declaration via YAML [OMN-5054]
  src/omnibase_infra/capabilities/__init__.py
  src/omnibase_infra/capabilities/contract_node_capability_extractor.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/discovery/model_introspection_config.py
  src/omnibase_infra/nodes/node_decision_store_effect/contract.yaml
  src/omnibase_infra/nodes/node_ledger_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_registration_reducer/contract.yaml
  src/omnibase_infra/nodes/node_registration_storage_effect/contract.yaml
  tests/integration/capabilities/test_contract_node_capability_integration.py
  tests/unit/capabilities/test_contract_node_capability_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(topics): replace raw topic literals with canonical constants [OMN-5054]
  scripts/validation/topic_literal_baseline.txt
  src/omnibase_infra/models/discovery/model_introspection_config.py
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(capabilities): coerce None declared_capabilities to default ModelNodeCapabilities [OMN-5054]
  src/omnibase_infra/models/discovery/model_introspection_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(validation): switch to onex-validate-links from omnibase_core [OMN-5084]
  .pre-commit-config.yaml
  scripts/validate.py
  scripts/validation/validate_markdown_links.py
  tests/unit/validation/test_validate_markdown_links.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(docker): bump skill-lifecycle-consumer memory limit 128M -> 256M [OMN-5103]
  docker/docker-compose.infra.yml
Due: none

feat(capabilities): contract-driven node capability declaration [OMN-5054] (#829)
  scripts/validation/topic_literal_baseline.txt
  src/omnibase_infra/capabilities/__init__.py
  src/omnibase_infra/capabilities/contract_node_capability_extractor.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/discovery/model_introspection_config.py
  src/omnibase_infra/nodes/node_decision_store_effect/contract.yaml
  src/omnibase_infra/nodes/node_ledger_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_registration_reducer/contract.yaml
  src/omnibase_infra/nodes/node_registration_storage_effect/contract.yaml
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/integration/capabilities/test_contract_node_capability_integration.py
  tests/unit/capabilities/test_contract_node_capability_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs: create AGENT.md for LLM navigation [OMN-5089]
  AGENT.md
  scripts/validation/validate_clean_root.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

docs(readme): restructure to 7-section OSS format [OMN-5093]
  README.md
Due: onex-validate-markdown-links

chore: add stub-ok annotations for pre-existing false positives
  scripts/demo_runtime_verification.py
  src/omnibase_infra/cli/commands.py
  src/omnibase_infra/cli/infra_test/env.py
  src/omnibase_infra/cli/infra_test/verify.py
  src/omnibase_infra/handlers/handler_gmail_api.py
  src/omnibase_infra/nodes/node_update_plan_reducer/handlers/handler_create_plan.py
  src/omnibase_infra/nodes/node_validation_executor/handlers/handler_run_checks.py
  src/omnibase_infra/observability/handlers/handler_metrics_prometheus.py
  src/omnibase_infra/runtime/contract_loaders/handler_routing_loader.py
  src/omnibase_infra/runtime/handler_registry.py
  src/omnibase_infra/runtime/mixins/mixin_projector_notification_publishing.py
  src/omnibase_infra/runtime/mixins/mixin_projector_sql_operations.py
  src/omnibase_infra/runtime/registry/mixin_payload_query.py
  src/omnibase_infra/runtime/runtime_contract_config_loader.py
  src/omnibase_infra/services/service_topic_catalog.py
  src/omnibase_infra/testing/service_effect_mock_registry.py
  src/omnibase_infra/testing/service_effect_mock_registry_thread_local.py
  src/omnibase_infra/validation/linter_contract.py
  src/omnibase_infra/validation/mixin_any_type_exemption.py
  src/omnibase_infra/validation/mixin_execution_shape_violation_checks.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(deps): bump omnibase-core 0.27.0 -> 0.27.1, omnibase-spi 0.16.1 -> 0.17.0, release 0.20.1 [OMN-5099]
  pyproject.toml
  uv.lock
Due: none

fix: replace dict[str, object] metadata with TypedDict in omnibase_infra models [OMN-5060]
  src/omnibase_infra/handlers/mcp/adapter_onex_to_mcp.py
  src/omnibase_infra/models/mcp/model_mcp_tool_definition.py
  src/omnibase_infra/runtime/models/model_policy_context.py
  src/omnibase_infra/runtime/models/model_policy_result.py
  src/omnibase_infra/validation/validation_exemptions.yaml
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
