Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-17440): advance omnimarket ownership pin
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

chore(OMN-17292): advance omnimarket contract pin to 42fcaa15f0e5 [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

fix(OMN-17150): resolve the Bifrost lane overlay from the lane's own pin, never a dev-lane default
  docker/docker-compose.infra.yml
  docker/docker-compose.judge.yml
  docker/docker-compose.lakshman.yml
  docker/lane-overlays/judge.bifrost.yaml
  docker/lane-overlays/lakshman.bifrost.yaml
  pyproject.toml
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/ci/test_bifrost_lane_overlay.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17440): deliver 13 topology TABLE grants no migration ever issued (#3108)
  .github/omnimarket-contract-pin.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_contract_registry/0001_grant_omninode_runtime_contract_registry.sql
  docker/migrations/forward/nodes/node_merge_state_projection/0002_grant_omninode_runtime_merge_state_transitions.sql
  docker/migrations/forward/nodes/node_omnigate_projection/0001_grant_omninode_runtime_gate_projection_tables.sql
  docker/migrations/forward/nodes/node_pr_lifecycle_state_reducer/0002_grant_omninode_runtime_pr_lifecycle_ledger_entries.sql
  docker/migrations/forward/nodes/node_projection_baselines/0003_grant_omninode_runtime_baselines_tables.sql
  docker/migrations/forward/nodes/node_projection_intent_classification/0002_grant_omninode_runtime_intent_classification_events.sql
  docker/migrations/forward/nodes/node_projection_overnight/0002_grant_omninode_runtime_overnight_sessions_tables.sql
  docker/migrations/forward/nodes/node_projection_receipt_gate/0001_grant_omninode_runtime_receipt_gate_rows.sql
  scripts/validation/check_topology_grant_delivery.py
  tests/ci/test_topology_grant_delivery.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16367): evict per-run compose proof images at source and gate the invariant
  .github/workflows/application-acl-postgres16-proof.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/legacy-rds-fixture-proof.yml
  .pre-commit-config.yaml
  docker/application-acl-proof/compose.yml
  docker/application-domain-enforcement/compose.yml
  docker/domain-adapter-proof/compose.yml
  docker/legacy-rds-fixture/compose.yml
  tests/ci/test_compose_proof_teardown_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17485): demote .201 to a last-resort heavy placement target, and route .201-origin escalations off-box first (#3118)
  docs/runbooks/lab-prepush-host-table.md
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_hosts.tsv
  scripts/hooks/prepush_smart_tests.sh
  tests/unit/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-16634): add hcloud — AWS EC2 overflow/off-LAN capacity row for the governed pre-push picker
  scripts/hooks/prepush_hosts.tsv
  tests/unit/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17150): classify BIFROST_LANE_OVERLAY_PATH with its sibling Bifrost rendering knobs in env parity
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16367): evict per-run compose proof images at source and gate the invariant (#3121)
  .github/workflows/application-acl-postgres16-proof.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/legacy-rds-fixture-proof.yml
  .pre-commit-config.yaml
  docker/application-acl-proof/compose.yml
  docker/application-domain-enforcement/compose.yml
  docker/domain-adapter-proof/compose.yml
  docker/legacy-rds-fixture/compose.yml
  tests/ci/test_compose_proof_teardown_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17272): release main-sync must push as onexbot-occ-writer, not github-actions[bot] (#3115)
  .github/workflows/release.yml
Due: none

fix(OMN-17150): refresh runner image identity lock
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-13912): refresh runner image identity lock
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-17150): resolve the Bifrost lane overlay from the lane's own pin, never a dev-lane default (#3120)
  docker/docker-compose.infra.yml
  docker/docker-compose.judge.yml
  docker/docker-compose.lakshman.yml
  docker/lane-overlays/judge.bifrost.yaml
  docker/lane-overlays/lakshman.bifrost.yaml
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/ci/test_bifrost_lane_overlay.py
  tests/ci/test_env_parity.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16634): add hcloud — AWS EC2 overflow/off-LAN capacity row for the governed pre-push picker (#3119)
  scripts/hooks/prepush_hosts.tsv
  tests/unit/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17272): scope infra release App token for workflows
  .github/workflows/release.yml
  tests/ci/test_post_release_dev_bump_workflow.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17447): extend the grant gate to SEQUENCES and deliver all 10
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0004_grant_tenant_projection_writer_capability_scores_sequence.sql
  docker/migrations/forward/nodes/node_contract_registry/0002_grant_omninode_runtime_contract_registry_sequence.sql
  docker/migrations/forward/nodes/node_delegation_routing_reducer/0003_grant_tenant_projection_writer_overlay_sequence.sql
  docker/migrations/forward/nodes/node_merge_state_projection/0003_grant_omninode_runtime_merge_state_sequence.sql
  docker/migrations/forward/nodes/node_omnigate_projection/0002_grant_omninode_runtime_gate_activity_sequence.sql
  docker/migrations/forward/nodes/node_pr_lifecycle_state_reducer/0003_grant_omninode_runtime_pr_lifecycle_sequence.sql
  docker/migrations/forward/nodes/node_projection_dep_health/003_grant_tenant_projection_writer_dep_health_sequence.sql
  docker/migrations/forward/nodes/node_projection_intent_classification/0003_grant_omninode_runtime_intent_classification_sequence.sql
  docker/migrations/forward/nodes/node_projection_overnight/0003_grant_omninode_runtime_overnight_phases_sequence.sql
  docker/migrations/forward/nodes/node_projection_receipt_gate/0002_grant_omninode_runtime_receipt_gate_sequence.sql
  scripts/validation/check_topology_grant_delivery.py
  tests/ci/test_topology_grant_delivery.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17447): repair sequence grant enforcement
  .github/omnimarket-contract-pin.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0004_grant_tenant_projection_writer_capability_scores_sequence.sql
  docker/migrations/forward/nodes/node_contract_registry/0002_grant_omninode_runtime_contract_registry_sequence.sql
  docker/migrations/forward/nodes/node_delegation_routing_reducer/0003_grant_tenant_projection_writer_overlay_sequence.sql
  docker/migrations/forward/nodes/node_merge_state_projection/0003_grant_omninode_runtime_merge_state_sequence.sql
  docker/migrations/forward/nodes/node_omnigate_projection/0002_grant_omninode_runtime_gate_activity_sequence.sql
  docker/migrations/forward/nodes/node_pr_lifecycle_state_reducer/0003_grant_omninode_runtime_pr_lifecycle_sequence.sql
  docker/migrations/forward/nodes/node_projection_dep_health/003_grant_tenant_projection_writer_dep_health_sequence.sql
  docker/migrations/forward/nodes/node_projection_intent_classification/0003_grant_omninode_runtime_intent_classification_sequence.sql
  docker/migrations/forward/nodes/node_projection_overnight/0003_grant_omninode_runtime_overnight_phases_sequence.sql
  docker/migrations/forward/nodes/node_projection_receipt_gate/0002_grant_omninode_runtime_receipt_gate_sequence.sql
  scripts/validation/check_topology_grant_delivery.py
  src/omnibase_infra/topology/physical_schema_mapping.py
  src/omnibase_infra/validation/application_database_domain_enforcement.py
  tests/ci/test_topology_grant_delivery.py
  tests/unit/validation/test_application_database_sql_enforcement_regressions.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(runtime): resolve delegate transport from config authority
  contracts/runtime/runtime_config.yaml
  src/omnibase_infra/backends/auto_configure.py
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/runtime/models/enum_event_bus_profile.py
  src/omnibase_infra/runtime/models/model_event_bus_config.py
  src/omnibase_infra/runtime/runtime_host_process.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/tier0_runtime_config.yaml
  src/omnibase_infra/runtime/util_validation.py
  tests/integration/docker/conftest.py
  tests/integration/docker/test_docker_integration.py
  tests/unit/backends/test_bus_resolution_order.py
  tests/unit/cli/test_cli_delegate.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/models/test_model_event_bus_config.py
  tests/unit/runtime/test_kernel.py
  tests/unit/runtime/test_kernel_bus_delegation.py
  tests/unit/runtime/test_kernel_config_tier0.py
  tests/unit/runtime/test_kernel_registry.py
  tests/unit/runtime/test_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17272): scope infra release App token for workflows (#3122)
  .github/workflows/release.yml
  tests/ci/test_post_release_dev_bump_workflow.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17447): extend the grant gate to SEQUENCES and deliver all 10 (#3113)
  .github/omnimarket-contract-pin.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0004_grant_tenant_projection_writer_capability_scores_sequence.sql
  docker/migrations/forward/nodes/node_contract_registry/0002_grant_omninode_runtime_contract_registry_sequence.sql
  docker/migrations/forward/nodes/node_delegation_routing_reducer/0003_grant_tenant_projection_writer_overlay_sequence.sql
  docker/migrations/forward/nodes/node_merge_state_projection/0003_grant_omninode_runtime_merge_state_sequence.sql
  docker/migrations/forward/nodes/node_omnigate_projection/0002_grant_omninode_runtime_gate_activity_sequence.sql
  docker/migrations/forward/nodes/node_pr_lifecycle_state_reducer/0003_grant_omninode_runtime_pr_lifecycle_sequence.sql
  docker/migrations/forward/nodes/node_projection_dep_health/003_grant_tenant_projection_writer_dep_health_sequence.sql
  docker/migrations/forward/nodes/node_projection_intent_classification/0003_grant_omninode_runtime_intent_classification_sequence.sql
  docker/migrations/forward/nodes/node_projection_overnight/0003_grant_omninode_runtime_overnight_phases_sequence.sql
  docker/migrations/forward/nodes/node_projection_receipt_gate/0002_grant_omninode_runtime_receipt_gate_sequence.sql
  scripts/validation/check_topology_grant_delivery.py
  src/omnibase_infra/topology/physical_schema_mapping.py
  src/omnibase_infra/validation/application_database_domain_enforcement.py
  tests/ci/test_topology_grant_delivery.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
  tests/unit/validation/test_application_database_sql_enforcement_regressions.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(runtime): resolve delegate transport from config authority (#3123)
  contracts/runtime/runtime_config.yaml
  src/omnibase_infra/backends/auto_configure.py
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/runtime/models/enum_event_bus_profile.py
  src/omnibase_infra/runtime/models/model_event_bus_config.py
  src/omnibase_infra/runtime/runtime_host_process.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/runtime/tier0_runtime_config.yaml
  src/omnibase_infra/runtime/util_validation.py
  tests/integration/docker/conftest.py
  tests/integration/docker/test_docker_integration.py
  tests/unit/backends/test_bus_resolution_order.py
  tests/unit/cli/test_cli_delegate.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/models/test_model_event_bus_config.py
  tests/unit/runtime/test_kernel.py
  tests/unit/runtime/test_kernel_bus_delegation.py
  tests/unit/runtime/test_kernel_config_tier0.py
  tests/unit/runtime/test_kernel_registry.py
  tests/unit/runtime/test_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(cli): persist local delegation run artifacts
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/receipt_mode.py
  tests/unit/cli/test_cli_delegate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to 627f16b39a81 [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

feat(cli): persist local delegation run artifacts (#3125)
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/receipt_mode.py
  tests/unit/cli/test_cli_delegate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17277): arm the contractor integration note on merge
  .github/workflows/contractor-integration-note.yml
Due: none

fix(OMN-17502): let a Bifrost lane declare a cloud execution locale with zero local backends
  docker/lane-overlays/dev.bifrost.yaml
  docker/lane-overlays/judge.bifrost.yaml
  docker/lane-overlays/lakshman.bifrost.yaml
  docker/lane-overlays/onex-dev.bifrost.yaml
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/runtime/models/enum_bifrost_lane_locale.py
  src/omnibase_infra/runtime/models/model_bifrost_lane_overlay.py
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/ci/test_bifrost_lane_overlay.py
  tests/ci/test_env_parity.py
  tests/fixtures/bifrost_lane_overlay_v3.yaml
  tests/unit/runtime/models/test_model_bifrost_lane_overlay.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-17172): require the KB doc gate on omnibase_infra PRs
  .github/workflows/kb-doc-gate.yml
  scripts/ci/ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17277): arm the contractor integration note on merge (#3127)
  .github/workflows/contractor-integration-note.yml
Due: none

fix(OMN-17502): let a Bifrost lane declare a cloud execution locale with zero local backends (#3128)
  docker/lane-overlays/dev.bifrost.yaml
  docker/lane-overlays/judge.bifrost.yaml
  docker/lane-overlays/lakshman.bifrost.yaml
  docker/lane-overlays/onex-dev.bifrost.yaml
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/runtime/models/enum_bifrost_lane_locale.py
  src/omnibase_infra/runtime/models/model_bifrost_lane_overlay.py
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/ci/test_bifrost_lane_overlay.py
  tests/ci/test_env_parity.py
  tests/fixtures/bifrost_lane_overlay_v3.yaml
  tests/unit/runtime/models/test_model_bifrost_lane_overlay.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17497): a failure-path publish must not open the connection-wide breaker
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/topic_constants.py
  tests/unit/event_bus/test_omn17497_dlq_publish_breaker_scope.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17172): install local omnimarket in kafka sibling jobs
  .github/workflows/ci.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17497): install local omnimarket in kafka sibling jobs
  .github/workflows/ci.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17280): let a non-owner actor push through the governed pre-push dispatcher
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_hosts.tsv
  scripts/hooks/prepush_smart_tests.sh
  tests/ci/_prepush_lab_isolation.py
  tests/ci/test_gate_overrides_are_not_env_vars.py
  tests/unit/scripts/test_prepush_actor_fallback.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-17280): install omnimarket sibling in Kafka gates
  .github/workflows/ci.yml
Due: none

fix(OMN-17280): consult the same-host route before degrading to an unserialized run
  docs/tracking/ROLLING_WORK_LEDGER.md
  scripts/hooks/prepush_smart_tests.sh
  tests/unit/scripts/test_prepush_actor_fallback.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

ci(OMN-17280): install local Kafka sibling packages first
  .github/workflows/ci.yml
Due: none

fix(OMN-17512): add onex-api audience mapper to omnidash-spa client
  docker/keycloak/desired-clients.json
  scripts/tests/test_keycloak_desired_clients_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17510): register HandlerSavingsCorrelation's application-database pool for auto-wiring
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/test_savings_correlation_pool_di_omn17510.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-17512): install Kafka siblings without release-pin solving
  .github/workflows/ci.yml
  tests/ci/test_ci_workflow_resilience.py
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-17510): install Kafka siblings without release-pin solving
  .github/workflows/ci.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
