Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(OMN-13873): dep-provenance gate — forbid first-party git-source overrides on dev/main (#2187)
  .github/workflows/dep-provenance-gate.yml
  .pre-commit-config.yaml
  docker/runners/runner-image.lock.json
  pyproject.toml
  scripts/check_dep_provenance.py
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
  tests/scripts/test_check_dep_provenance.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-13875): CI Summary directly gates Contract Compliance Check
  .github/workflows/ci.yml
Due: none

ci(OMN-13875): CI Summary directly gates Contract Compliance Check (#2188)
  .github/workflows/ci.yml
Due: none

build(OMN-12549): remove core/spi git overrides, repin to released 0.46.3/0.23.1
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/runtime/version_compatibility.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-12549): update version-pin guard tests for 0.46.3/0.23.1 repin
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
  tests/integration/test_omnibase_spi_runtime_protocol_floor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

build(OMN-12549): remove core/spi git overrides, repin infra to released 0.46.3/0.23.1 (#2189)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/runtime/version_compatibility.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
  tests/integration/test_omnibase_spi_runtime_protocol_floor.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13815): lane-scope container_name for RUNTIME_SERVICES consumers in stability-test + prod overlays
  deploy/lane-census/lane-manifest.yaml
  docker/docker-compose.prod.yml
  docker/docker-compose.stability-test.yml
  tests/unit/infra/test_lane_container_name_disjointness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13815): lane-scope container_name for RUNTIME_SERVICES consumers in stability-test + prod overlays (#2190)
  deploy/lane-census/lane-manifest.yaml
  docker/docker-compose.prod.yml
  docker/docker-compose.stability-test.yml
  tests/unit/infra/test_lane_container_name_disjointness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-13914): add synchronize+reopened to pr-title-check trigger (#2191)
  .github/workflows/pr-title-check.yml
Due: none

fix(OMN-13865): bind receipt state root for skill runs
  src/omnibase_infra/cli/receipt_mode.py
  tests/fixtures/handler_proof_noop.py
  tests/unit/cli/test_cli_node_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13915): runner listener liveness — heartbeat healthcheck, entrypoint watchdog, fleet-status canary
  .github/workflows/runner-fleet-canary.yml
  docker/docker-compose.runners.yml
  docker/runners/entrypoint.sh
  docker/runners/healthcheck.sh
  docs/runbooks/runner-fleet-listener-liveness.md
  scripts/ci/runner_fleet_canary.sh
  tests/ci/test_runner_listener_liveness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

test(OMN-13915): update OMN-12433 egress assertion for RUNNER_HOME-anchored pgrep + gated curl
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13865): bind receipt state root for skill runs (#2193)
  src/omnibase_infra/cli/receipt_mode.py
  tests/fixtures/handler_proof_noop.py
  tests/unit/cli/test_cli_node_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13915): address CodeRabbit review — persist-credentials:false on canary checkout, ci marker for tests/ci module
  .github/workflows/runner-fleet-canary.yml
  tests/ci/test_runner_listener_liveness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13865): surface merge sweep handler receipts
  src/omnibase_infra/cli/receipt_mode.py
  src/omnibase_infra/cli/skill_mapping.yaml
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runners): make monitor alert cron durable
  config/runner_fleet.yaml
  scripts/deploy-runners.sh
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runners): survive listener self-update exits
  docker/runners/entrypoint.sh
  docker/runners/healthcheck.sh
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runners): keep offline listeners alert-only
  docker/runners/runner-monitor.sh
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runners): remediate idle offline listeners
  docker/runners/runner-monitor.sh
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13886): arch-aware coding-agent CLI install in Dockerfile.runtime
  docker/Dockerfile.runtime
Due: none

test(OMN-13886): update Dockerfile pin test for TARGETARCH-selected platform packages
  tests/scripts/test_check_dockerfile_pins.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13772): !override judge overlay networks/ports + keepalive census kind
  deploy/lane-census/lane-manifest.yaml
  docker/docker-compose.judge.yml
  scripts/lane_census_plan.py
  tests/integration/infra/test_judge_compose_render.py
  tests/unit/infra/test_judge_compose_profile.py
  tests/unit/scripts/test_lane_census_plan.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13915): COPY omni-curl script instead of BuildKit heredoc
  docker/runners/Dockerfile
  docker/runners/omni-curl.sh
Due: none

fix(OMN-13912): COPY omni-curl script instead of BuildKit heredoc
  docker/runners/Dockerfile
  docker/runners/omni-curl.sh
Due: none

fix(OMN-13915): drop comment-only compose change to clear deploy-gate
  docker/docker-compose.runners.yml
Due: none

feat(OMN-13925): rewire env_parity skill to live collect effect
  src/omnibase_infra/cli/skill_mapping.yaml
  tests/unit/cli/test_cli_skill.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13865): surface merge sweep handler receipts (#2196)
  src/omnibase_infra/cli/receipt_mode.py
  src/omnibase_infra/cli/skill_mapping.yaml
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13772): !override judge overlay networks/ports + keepalive census kind (#2197)
  deploy/lane-census/lane-manifest.yaml
  docker/docker-compose.judge.yml
  scripts/lane_census_plan.py
  tests/integration/infra/test_judge_compose_render.py
  tests/unit/infra/test_judge_compose_profile.py
  tests/unit/scripts/test_lane_census_plan.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Add MSK IAM auth support for Kafka runtime
  pyproject.toml
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/kafka_auth.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  src/omnibase_infra/event_bus/service_topic_manager.py
  src/omnibase_infra/event_bus/service_topic_startup_validator.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_get_health.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/event_bus/test_kafka_event_bus.py
  tests/unit/event_bus/test_service_topic_manager.py
  tests/unit/event_bus/test_topic_startup_validator.py
  tests/unit/nodes/test_handler_registry_api_operational.py
  tests/unit/runtime/test_handler_wiring_resolver_integration.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12986): unblock MSK IAM auth PR gates
  docker/runners/runner-image.lock.json
  src/omnibase_infra/event_bus/kafka_auth.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  src/omnibase_infra/nodes/node_registry_api_effect/contract.yaml
  tests/unit/event_bus/test_kafka_event_bus.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12986): guard topic manager auth setup
  src/omnibase_infra/event_bus/service_topic_manager.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12986): harden runner image downloads
  docker/runners/Dockerfile
  docker/runners/omni-curl
  src/omnibase_infra/event_bus/service_topic_startup_validator.py
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_get_health.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-13912): align runner curl gate with copied script
  tests/ci/test_runner_image_node24_floor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-12986): align runner curl gate with copied script
  tests/ci/test_runner_image_node24_floor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runners): repair persistent offline-idle drift
  docker/runners/runner-monitor.sh
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

style(OMN-13912): format runner monitor wedge test
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-12986): refresh runner identity backmerge guard
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13912): address runner monitor review threads
  docker/runners/entrypoint.sh
  docker/runners/healthcheck.sh
  tests/unit/observability/runner_health/test_runner_fleet_config.py
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13918): register redeploy as executable onex skill with explicit lane targeting
  src/omnibase_infra/cli/skill_mapping.yaml
  tests/unit/cli/test_cli_skill.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
