Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-19937): gate the full forward-migration proof behind ephemeral_pg
  .github/workflows/ci.yml
  tests/integration/migrations/test_102_tenant_projection_writer_role_omn15425.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19566): raise the pyjwt floor to 2.14.0 so the merge queue's lockfile CVE scan passes
  pyproject.toml
  uv.lock
Due: none

fix(OMN-19790): fence delegation_eval_items' 0001 grant alongside 0000, and prove the topology's writable-table set against its own grant file
  docker/migrations/forward/fenced-node-migrations.yaml
  tests/integration/migrations/test_102_tenant_projection_writer_role_omn15425.py
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19937): retire the board_probe_results supplemental declaration at pin fbf4f45c3a0c
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19566): regenerate runner image lock after the pyjwt floor bump
  docker/runners/runner-image.lock.json
Due: none

test(OMN-19937): assert the board_probe_results bridge stays retired
  tests/integration/topology/test_board_probe_results_bridge_retired_omn19937.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19566): vendor the lab_proof_receipts projection migrations ahead of omnimarket#3043 (#4265)
  config/migration_classes.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_lab_proof_receipts/0000_create_lab_proof_receipts.sql
  docker/migrations/forward/nodes/node_projection_lab_proof_receipts/0001_grant_omninode_runtime_lab_proof_receipts.sql
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/topology/test_lab_proof_receipts_bridge_omn19566.py
  tests/unit/migrations/test_omn19566_lab_proof_receipts_vendor.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20116): catalog round-trip test runs under its own compose project, and a ratchet refuses a test compose verb on a declared lane (#4324)
  tests/helpers/compose_isolation.py
  tests/integration/test_catalog_roundtrip.py
  tests/unit/infra/test_test_compose_isolation_omn17427.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20111): an unrelated failing clone no longer withholds the dispatch floor (#4322)
  scripts/onex
  scripts/reconcile-host.sh
  scripts/reconcile_verify_movement.py
  tests/scripts/test_dispatch_floor_omn20111.py
  tests/scripts/test_onex_wrapper_peer_lock_omn20111.py
  tests/scripts/test_reconcile_host_omn17307.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17427): a node-migration vendor PR resolves its paired omnimarket PR's live head when that head descends from the declared SHA (#4323)
  scripts/resolve_node_migration_source_ref.py
  tests/scripts/test_resolve_node_migration_source_ref.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19937): publish the board probe result event and the chain canary verdict (#4279)
  .github/workflows/ci.yml
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_board_probe_effect/contract.yaml
  src/omnibase_infra/nodes/node_board_probe_effect/contract_topics.py
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/handler_board_probe_result_publisher.py
  src/omnibase_infra/nodes/node_board_probe_effect/models/__init__.py
  src/omnibase_infra/nodes/node_board_probe_effect/models/enum_board_subject_kind.py
  src/omnibase_infra/nodes/node_board_probe_effect/models/model_board_probe_result_event.py
  src/omnibase_infra/nodes/node_chain_canary_effect/contract.yaml
  src/omnibase_infra/nodes/node_chain_canary_effect/models/__init__.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/model_chain_canary_result_event.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/integration/migrations/test_102_tenant_projection_writer_role_omn15425.py
  tests/integration/nodes/test_board_probe_forwarder_refused_topic_omn19930.py
  tests/unit/nodes/node_board_probe_effect/test_chain_canary_result_event.py
  tests/unit/nodes/node_board_probe_effect/test_model_board_probe_result_event.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20112): no omnibase_infra PR gate compares compose against the staging manifests (#4321)
  .github/workflows/contractor-integration-note.yml
  .github/workflows/env-parity.yml
  tests/ci/test_ci_workflow_resilience.py
  tests/ci/test_env_parity.py
  tests/ci/test_no_staging_pr_gate_omn20112.py
  tests/unit/infra/test_compose_lane_internal_dsn_omn16843.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20113): the local bundle's delegation writer binds the lab principals (#4319)
  Makefile
  docker/catalog/bundles.yaml
  docker/catalog/services/forward-migration.yaml
  docker/local.env.example
  scripts/reconcile-host.sh
  src/omnibase_infra/docker/catalog/generator.py
  tests/integration/infra/test_laptop_profile_env_file_render_omn19496.py
  tests/unit/infra/test_catalog_local_profile.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19973): a developer lane binding makes onex delegate dispatch to the lab by default
  pyproject.toml
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/cli_profile.py
  src/omnibase_infra/cli/commands.py
  src/omnibase_infra/cli/model_delegate_run_addressing.py
  src/omnibase_infra/cli/store_developer_profile.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/cli/conftest.py
  tests/unit/cli/test_cli_delegate.py
  tests/unit/cli/test_omn19973_developer_profile.py
  tests/unit/cli/test_omn19973_lane_binding_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17427): bump pyjwt to 2.15.1, the lockfile CVE scan fails every merge-group run (#4325)
  docker/runners/runner-image.lock.json
  pyproject.toml
  uv.lock
Due: none

fix(OMN-17427): the node-migration source resolver authenticates its GitHub API reads (#4330)
  .github/workflows/ci.yml
  .github/workflows/node-migration-sync.yml
  tests/ci/test_node_migration_resolver_authenticated_omn17427.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20127): the state_io outbox publishes for a row keyed on a domain key (#4331)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/test_state_io_outbox_domain_key_publish_omn20127.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19977): vendor the metering_summary projection migrations ahead of omnimarket#3079 (#4304)
  config/migration_classes.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_metering_summary/0000_create_metering_summary.sql
  docker/migrations/forward/nodes/node_projection_metering_summary/0001_grant_tenant_projection_writer_metering_summary.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/migrations/test_102_tenant_projection_writer_role_omn15425.py
  tests/integration/topology/test_metering_summary_grant_omn19977.py
  tests/unit/migrations/test_omn19977_metering_summary_vendor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19973): a developer lane binding makes onex delegate dispatch to the lab by default (#4329)
  pyproject.toml
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/cli_profile.py
  src/omnibase_infra/cli/commands.py
  src/omnibase_infra/cli/model_delegate_run_addressing.py
  src/omnibase_infra/cli/store_developer_profile.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/cli/test_omn19973_lane_binding_profile_cli.py
  tests/unit/cli/conftest.py
  tests/unit/cli/test_cli_delegate.py
  tests/unit/cli/test_omn19973_developer_profile.py
  tests/unit/cli/test_omn19973_lane_binding_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-20025): vendor goal verdict migration (#4328)
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_dod_verdict/0003_dod_verify_runs_goal.sql
  tests/integration/migrations/test_dod_verify_runs_omn18900.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(deps): regenerate runner image lock for omnibase_core 0.47.26
  docker/runners/runner-image.lock.json
Due: none

feat(OMN-19999): vendor the pr_state projection migrations ahead of omnimarket#3054 (#4303)
  config/migration_classes.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/flat-node-shape-parity.yaml
  docker/migrations/forward/nodes/node_projection_pr_state/0000_create_pr_state.sql
  docker/migrations/forward/nodes/node_projection_pr_state/0001_grant_omninode_runtime_pr_state.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/migrations/test_omninode_internal_live_acl_gate_omn17886.py
  tests/unit/migrations/test_omn19999_pr_state_vendor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19972): env_default_overrides refuses what it cannot rewrite safely
  src/omnibase_infra/docker/catalog/generator.py
  src/omnibase_infra/docker/catalog/resolver.py
  tests/integration/test_catalog_local_render_loopback_omn19972.py
  tests/unit/infra/test_catalog_local_profile.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19978): vendor the usage_by_model_day projection migrations ahead of omnimarket#3073 (#4301)
  config/migration_classes.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/fenced-node-migrations.yaml
  docker/migrations/forward/nodes/node_projection_usage_by_model_day/0000_create_usage_by_model_day.sql
  docker/migrations/forward/nodes/node_projection_usage_by_model_day/0001_grant_usage_by_model_day.sql
  scripts/ci/check_application_database_sql.py
  scripts/validation/check_topology_grant_delivery.py
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/ci/test_topology_grant_delivery.py
  tests/integration/topology/test_usage_by_model_day_grant_omn19978.py
  tests/scripts/test_node_migration_fence_parity.py
  tests/unit/migrations/test_omn19978_usage_by_model_day_vendor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20133): a pre-accept self-update rewinds before the settle wait, and a refused accept commit runs the job (#4334)
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/consumer.py
  scripts/deploy-agent/tests/unit/test_self_update_settle_eviction.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20135): Contract Compliance fails closed when the ticket contract is missing (#4335)
  .github/workflows/ci.yml
  config/ci_evidence_policy.yaml
  scripts/ci/classify_contract_compliance_scope.py
  scripts/ci/defer_test_passes_driver.py
  scripts/ci/deferred_test_passes_gate.py
  scripts/ci/resolve_contract_compliance_evidence.py
  scripts/ci/run_contract_compliance_with_evidence.py
  tests/ci/fixtures/omn17427_deferred/core1794_at_085759.json
  tests/ci/fixtures/omn17427_deferred/core1795_at_152044.json
  tests/ci/test_ci_evidence_policy.py
  tests/ci/test_ci_workflow_resilience.py
  tests/ci/test_contract_compliance_job_wiring.py
  tests/ci/test_contract_compliance_pr_scope.py
  tests/ci/test_deferred_test_passes_gate.py
  tests/ci/test_incident_replay_omn20135.py
  tests/ci/test_resolve_contract_compliance_pr.py
  tests/ci/test_run_contract_compliance_with_evidence.py
  tests/fixtures/omn20135/OMN-17427.yaml.captured
  tests/fixtures/omn20135/contract-compliance-job-109722692581.log.captured
  tests/fixtures/omn20135/omnibase_infra-pulls-4325.json.captured
  tests/fixtures/omn20135/omniintelligence-pulls-817.json.captured
  tests/fixtures/omn20135/onex_change_control-pulls-11857.json.captured
  tests/fixtures/omn20135/onex_change_control-pulls-5012.json.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17292): replace the retired metering_summary and lab_proof_receipts bridge tests with retirement proofs
  tests/integration/topology/test_lab_proof_receipts_bridge_omn19566.py
  tests/integration/topology/test_metering_lab_proof_bridges_retired_omn17292.py
  tests/integration/topology/test_metering_summary_grant_omn19977.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19790): declare ONEX_RUNTIME_LANE=dogfood in the laptop profile so lane-scoped omnimarket contracts stop failing closed
  docker/catalog/bundles.yaml
Due: onex-validate-contracts

feat(OMN-19513): vendor the work ledger projection migrations ahead of omnimarket#3050 (#4272)
  config/migration_classes.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_work_ledger/0000_create_work_ledger.sql
  docker/migrations/forward/nodes/node_projection_work_ledger/0001_grant_omninode_runtime_work_ledger.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/migrations/test_omninode_internal_live_acl_gate_omn17886.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20124): regenerate runner image identity lock after version bump
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-19972): env_default_overrides refuses what it cannot rewrite safely (#4339)
  src/omnibase_infra/docker/catalog/generator.py
  src/omnibase_infra/docker/catalog/resolver.py
  tests/integration/test_catalog_local_render_loopback_omn19972.py
  tests/unit/infra/test_catalog_local_profile.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-20146): regenerate runner image lock for the 0.38.61 uv.lock
  docker/runners/runner-image.lock.json
Due: none

ci(OMN-20147): Runtime Boot Smoke (compose) is strict in CI Summary on merge_group, and a runner without Compose fails it (#4344)
  .github/workflows/ci.yml
  .github/workflows/reusable-runtime-boot.yml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_gate.py
  tests/ci/test_reusable_runtime_boot_schema.py
  tests/unit/ci/test_reusable_runtime_boot_compose_absent_fails.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20132): the Receipt Gate caller pin advances to the omnibase_core#1814 squash (#4343)
  .github/workflows/call-receipt-gate.yml
  tests/ci/test_receipt_gate_caller_pin_omn20132.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20124): onex delegate prints the answer by default, full receipt JSON behind --json (#4341)
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/delegate_human_output.py
  src/omnibase_infra/cli/model_delegate_human_outcome.py
  src/omnibase_infra/cli/receipt_mode.py
  tests/integration/cli/test_delegate_timeout_typed_refusal.py
  tests/unit/cli/test_delegate_human_output_omn20124.py
  tests/unit/cli/test_delegate_output_form_follows_stdout_omn20124.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19972): the laptop stack serves the pages' exposures and CI proves each service healthy
  .github/workflows/reusable-runtime-boot.yml
  docker/catalog/bundles.yaml
  docker/catalog/services/omnimarket-projection-llm-cost.yaml
  src/omnibase_infra/docker/catalog/generator.py
  src/omnibase_infra/docker/catalog/manifest_schema.py
  src/omnibase_infra/docker/catalog/resolver.py
  tests/ci/test_runtime_boot_catalog_local_health_omn19972.py
  tests/unit/infra/test_catalog_local_profile.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20147): delete the Consul dual-registration e2e test; the runtime-backed suites tolerate no skip
  .github/workflows/reusable-runtime-boot.yml
  config/skip_count_baseline.yaml
  scripts/ci/runtime_boot_suites_skip_guard.yaml
  tests/ci/test_check_integration_skips.py
  tests/integration/registration/e2e/test_runtime_e2e.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20146): receipt mode has no emit spool, so a fresh install prints no spool warning (#4342)
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/cli_node.py
  src/omnibase_infra/cli/receipt_mode.py
  tests/integration/cli/test_receipt_mode_fresh_install_omn20146.py
  tests/unit/cli/test_cli_node_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20117): a redeploy no longer loses a record whose handler is still running (#4346)
  src/omnibase_infra/event_bus/concurrent_commit_ledger.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  tests/integration/event_bus/test_topic_provisioner_namespace_seam_omn19404.py
  tests/integration/test_topic_namespace_isolation_omn18891.py
  tests/unit/event_bus/test_omn20117_redeploy_keeps_in_flight_records.py
  tests/unit/event_bus/test_topic_namespace_transport_seams_omn18891.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19432): the venv reconciler exports the OMNI_HOME it resolved so lane-identity arming works under --omni-home (#4345)
  scripts/reconcile-workspace-venvs.sh
  tests/scripts/test_reconcile_exports_omni_home_omn19432.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
