Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(ci): add required status checks to branch protection (OMN-2184)
  .github/required-checks.yaml
  .github/workflows/test.yml
Due: onex-validate-contracts

test(OMN-2109): add inference handler unit tests (#331)
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_ollama.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-2110): add inference request and response model validation tests
  tests/unit/nodes/node_llm_inference_effect/models/__init__.py
  tests/unit/nodes/node_llm_inference_effect/models/test_model_llm_inference_request.py
  tests/unit/nodes/node_llm_inference_effect/models/test_model_llm_inference_response.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] add OpenAI handler unit tests, clarify metric docstrings
  src/omnibase_infra/models/baseline/model_cost_metrics.py
  src/omnibase_infra/models/baseline/model_outcome_metrics.py
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible_class.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

style(OMN-2110): fix lint issues from local review
  tests/unit/nodes/node_llm_inference_effect/models/test_model_llm_inference_request.py
  tests/unit/nodes/node_llm_inference_effect/models/test_model_llm_inference_response.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] add missing test coverage for embedding validators, serialization, and edge cases
  tests/unit/nodes/node_llm_inference_effect/models/test_model_llm_inference_request.py
  tests/unit/nodes/node_llm_inference_effect/models/test_model_llm_inference_response.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(ci): add required status checks to branch protection (OMN-2184) (#333)
  .github/required-checks.yaml
  .github/workflows/test.yml
Due: onex-validate-contracts

fix(OMN-2155): tighten ROI quality gate and requires_baseline promotion logic
  src/omnibase_infra/models/baseline/model_baseline_run_config.py
  src/omnibase_infra/models/baseline/model_cost_delta.py
  src/omnibase_infra/models/baseline/model_outcome_delta.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/handlers/handler_baseline_comparison.py
  tests/unit/test_baseline_comparison_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): pre-compile regex, lazy Path.home(), rename to follow conventions
  src/omnibase_infra/validation/checks/__init__.py
  src/omnibase_infra/validation/checks/handler_artifact.py
  src/omnibase_infra/validation/checks/handler_check_executor.py
  src/omnibase_infra/validation/checks/handler_measurement.py
  src/omnibase_infra/validation/checks/handler_risk.py
  src/omnibase_infra/validation/checks/registry_infra_check.py
  src/omnibase_infra/validation/service_artifact_store.py
  src/omnibase_infra/validation/service_flake_detector.py
  tests/unit/validation/test_check_catalog.py
  tests/unit/validation/test_flake_detector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): atomic symlink update, guard flake detector, clarify read semantics
  src/omnibase_infra/validation/checks/handler_artifact.py
  src/omnibase_infra/validation/service_artifact_store.py
  src/omnibase_infra/validation/service_flake_detector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-2110): add inference model validation tests (#334)
  tests/unit/nodes/node_llm_inference_effect/models/__init__.py
  tests/unit/nodes/node_llm_inference_effect/models/test_model_llm_inference_request.py
  tests/unit/nodes/node_llm_inference_effect/models/test_model_llm_inference_response.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2155): address PR #332 review — tighten ROI gate, add correlation_id validation
  src/omnibase_infra/models/baseline/model_baseline_run_config.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/handlers/handler_baseline_comparison.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/models/model_baseline_comparison_input.py
  tests/unit/test_baseline_comparison_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2111): assemble inference node with contract, registry, and operation validation
  src/omnibase_infra/nodes/node_llm_inference_effect/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/models/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2111): align registry node type with contract (EFFECT_GENERIC)
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2089): add bootstrap attestation gate in kernel handshake phase
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_handshake_check_result.py
  src/omnibase_infra/runtime/models/model_handshake_result.py
  src/omnibase_infra/runtime/protocol_domain_plugin.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/test_discover_from_entry_points.py
  tests/unit/runtime/test_domain_plugin_discovery.py
  tests/unit/runtime/test_domain_plugin_discovery_seam.py
  tests/unit/runtime/test_domain_plugin_shutdown.py
  tests/unit/runtime/test_handshake_validation.py
  tests/unit/test_db_ownership.py
  tests/unit/test_schema_fingerprint.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2155): A/B baseline comparison compute node (#332)
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_run_variant.py
  src/omnibase_infra/models/baseline/__init__.py
  src/omnibase_infra/models/baseline/model_attribution_record.py
  src/omnibase_infra/models/baseline/model_baseline_run_config.py
  src/omnibase_infra/models/baseline/model_baseline_run_result.py
  src/omnibase_infra/models/baseline/model_cost_delta.py
  src/omnibase_infra/models/baseline/model_cost_metrics.py
  src/omnibase_infra/models/baseline/model_outcome_delta.py
  src/omnibase_infra/models/baseline/model_outcome_metrics.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/__init__.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/contract.yaml
  src/omnibase_infra/nodes/node_baseline_comparison_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/handlers/handler_baseline_comparison.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/models/__init__.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/models/model_baseline_comparison_input.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/node.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/registry/__init__.py
  src/omnibase_infra/nodes/node_baseline_comparison_compute/registry/registry_infra_baseline_comparison.py
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_openai_compatible.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_openai_compatible_class.py
  tests/unit/test_baseline_comparison_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

test(OMN-2114): add MixinLlmHttpTransport unit tests
  tests/unit/mixins/test_mixin_llm_http_transport.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): rename FlakeDetector, harden symlink validation, fix CHECK-VAL-002 registry
  src/omnibase_infra/validation/checks/handler_artifact.py
  src/omnibase_infra/validation/checks/handler_measurement.py
  src/omnibase_infra/validation/checks/registry_infra_check.py
  src/omnibase_infra/validation/service_artifact_store.py
  src/omnibase_infra/validation/service_flake_detector.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/validation/test_artifact_store.py
  tests/unit/validation/test_check_catalog.py
  tests/unit/validation/test_flake_detector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2089): remove validate_handshake from Protocol to preserve optional contract
  src/omnibase_infra/runtime/protocol_domain_plugin.py
  tests/unit/runtime/test_handshake_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2111): add registry validation, handler registration, and doc fixes
  src/omnibase_infra/nodes/node_llm_inference_effect/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/models/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): preserve exception chain and align registry interface validation
  src/omnibase_infra/nodes/node_llm_inference_effect/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] improve test correctness and coverage
  tests/unit/mixins/test_mixin_llm_http_transport.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-2089): address PR #336 review feedback
  src/omnibase_infra/runtime/models/__init__.py
  tests/unit/runtime/test_discover_from_entry_points.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2089): bootstrap attestation gate in kernel handshake phase (#336)
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_handshake_check_result.py
  src/omnibase_infra/runtime/models/model_handshake_result.py
  src/omnibase_infra/runtime/protocol_domain_plugin.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/test_discover_from_entry_points.py
  tests/unit/runtime/test_domain_plugin_discovery.py
  tests/unit/runtime/test_domain_plugin_discovery_seam.py
  tests/unit/runtime/test_domain_plugin_shutdown.py
  tests/unit/runtime/test_handshake_validation.py
  tests/unit/test_db_ownership.py
  tests/unit/test_schema_fingerprint.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2149): add CI twins for schema + event registry fingerprint drift detection
  .github/required-checks.yaml
  .github/workflows/test.yml
  docker/migrations/schema_fingerprint.sha256
  scripts/check_event_registry_fingerprint.py
  scripts/check_schema_fingerprint.py
  tests/unit/test_ci_event_registry_fingerprint.py
  tests/unit/test_ci_schema_fingerprint.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): remove unused type: ignore for mypy --strict compliance
  tests/unit/mixins/test_mixin_llm_http_transport.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): harden symlink validation, fix CHECK-VAL-002 skip, drain subprocess pipes
  src/omnibase_infra/validation/checks/handler_artifact.py
  src/omnibase_infra/validation/checks/handler_check_executor.py
  src/omnibase_infra/validation/checks/handler_measurement.py
  src/omnibase_infra/validation/service_artifact_store.py
  tests/unit/validation/test_artifact_store.py
  tests/unit/validation/test_check_catalog.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] add catch-all exception handler in event registry fingerprint verify
  scripts/check_event_registry_fingerprint.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major+minor] strengthen assertions and expand test coverage
  tests/unit/mixins/test_mixin_llm_http_transport.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): eliminate TOCTOU in symlink update, add documentation for validation edge cases
  src/omnibase_infra/validation/checks/handler_artifact.py
  src/omnibase_infra/validation/checks/handler_check_executor.py
  src/omnibase_infra/validation/checks/handler_risk.py
  src/omnibase_infra/validation/service_artifact_store.py
  src/omnibase_infra/validation/service_flake_detector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-2114): add MixinLlmHttpTransport unit tests (#337)
  tests/unit/mixins/test_mixin_llm_http_transport.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-2160): extract duplicated rules from CLAUDE.md to shared config
  CLAUDE.md
Due: onex-validate-markdown-links

feat(OMN-2151): add full check catalog, artifact storage, and flake detection (#330)
  src/omnibase_infra/models/validation/__init__.py
  src/omnibase_infra/models/validation/model_flake_detection_result.py
  src/omnibase_infra/models/validation/model_flake_record.py
  src/omnibase_infra/validation/checks/__init__.py
  src/omnibase_infra/validation/checks/handler_artifact.py
  src/omnibase_infra/validation/checks/handler_check_executor.py
  src/omnibase_infra/validation/checks/handler_measurement.py
  src/omnibase_infra/validation/checks/handler_risk.py
  src/omnibase_infra/validation/checks/registry_infra_check.py
  src/omnibase_infra/validation/infra_validators.py
  src/omnibase_infra/validation/linter_contract.py
  src/omnibase_infra/validation/service_artifact_store.py
  src/omnibase_infra/validation/service_flake_detector.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  src/omnibase_infra/validation/validator_chain_propagation.py
  tests/unit/validation/test_artifact_store.py
  tests/unit/validation/test_check_catalog.py
  tests/unit/validation/test_flake_detector.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] harden CI twins -- unreadable artifact handling, cmd_stamp error guard, docstrings
  scripts/check_event_registry_fingerprint.py
  scripts/check_schema_fingerprint.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-2160): extract duplicated rules from CLAUDE.md to shared config (#339)
  CLAUDE.md
Due: onex-validate-markdown-links

fix(kafka): scope consumer group_id per topic to prevent rebalance storms
  docker/.env.example
  src/omnibase_infra/event_bus/event_bus_kafka.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(kafka): honor env var overrides when YAML config exists to prevent cross-container consumer group collisions
  contracts/runtime/runtime_config.yaml
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] validate kafka group_id before topic suffix, harden CI scripts
  docker/.env.example
  scripts/check_schema_fingerprint.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] update _start_consumer_for_topic docstring for topic-scoped group_id
  src/omnibase_infra/event_bus/event_bus_kafka.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] idempotent group_id suffix, env-var override validation, CI exit codes
  docker/.env.example
  scripts/check_event_registry_fingerprint.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/event_bus/test_kafka_event_bus.py
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
