Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-17372): stop opening one Kafka admin connection per boot topic (#3257)
  src/omnibase_infra/event_bus/service_topic_manager.py
  tests/unit/event_bus/test_topic_provisioner_admin_fanout_omn17372.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18012): the dev-lane render fixture must declare the new fail-closed vars
  tests/integration/infra/test_dev_runtime_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(validation): contain ARCH-004 root discovery
  scripts/validate.py
  tests/unit/validation/test_validate_imperative_orchestrator_worktree_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17372): readiness requires the wired command topics, not just the registry
  pyproject.toml
  src/omnibase_infra/runtime/enums/enum_contract_attach_gate_phase.py
  src/omnibase_infra/runtime/health/contract_attach_readiness_gate.py
  src/omnibase_infra/runtime/models/model_contract_attach_gate_status.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/models/test_model_serialization_roundtrip.py
  tests/unit/runtime/health/test_contract_attach_readiness_gate_omn17372.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17793): trust only known git executables
  scripts/validate.py
  tests/unit/validation/test_validate_imperative_orchestrator_worktree_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17201): a broker ack is not proof the DESTINATION lane took the record
  docker/docker-compose.gateway.yml
  pyproject.toml
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_lane_mirror.py
  src/omnibase_infra/event_bus/kafka_transport.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/__init__.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_lane_mirror_health.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_publish_receipt.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_gateway_forwarder.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_gateway_lane_mirror_health.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_lane_mirror.py
  src/omnibase_infra/runtime/gateway_canary_probe.py
  src/omnibase_infra/runtime/gateway_forwarder.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17201_destination_verification.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17919_advertised_listener.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17985): the health monitor's ownership filter reads one validated name
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/unit/services/test_runtime_health_monitor_profile_read.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to cc7fa5d29a8d [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

test(OMN-17849): pin Keycloak customer client exact sets (#3260)
  scripts/tests/test_keycloak_desired_clients_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17201): the canary probe's own tests must pass the new lane-mirror health path
  tests/unit/runtime/test_gateway_canary_probe.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18012): teach every lane client to speak SCRAM and give the dev lane a broker principal (#3258)
  docker/docker-compose.dev-lane.yml
  src/omnibase_infra/event_bus/kafka_auth.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  tests/integration/customer_path/__init__.py
  tests/integration/customer_path/redpanda_sasl_harness.py
  tests/integration/customer_path/test_omn18012_plaintext_client_is_refused.py
  tests/integration/infra/test_dev_runtime_compose_render.py
  tests/integration/infra/test_omn18012_dev_lane_broker_auth_scope.py
  tests/unit/event_bus/test_omn18012_sasl_scram_credentials.py
  tests/unit/event_bus/test_topic_provisioner_rf_policy_omn15395.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16106): an unconfirmed readback is a refusal, and a gate ticket is judged by its own probe (#3259)
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/contract.yaml
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/handlers/handler_evidence_autoclose_sweep.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/enum_evidence_autoclose_decision.py
  src/omnibase_infra/nodes/node_evidence_autoclose_sweep_effect/models/model_evidence_autoclose_outcome.py
  tests/ci/test_prepush_hook_host_identity_guard.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_handler_evidence_autoclose_sweep.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_16106_unconfirmed_readback_is_a_refusal.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_17658b_readback_eventual_consistency.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

perf(OMN-17372): one warm interpreter for the whole runtime boot preflight
  docker/entrypoint-runtime.sh
  pyproject.toml
  src/omnibase_infra/runtime/entrypoint_preflight.py
  src/omnibase_infra/runtime/util_schema_fingerprint.py
  tests/unit/docker/test_docker_security.py
  tests/unit/docker/test_runtime_entrypoint_delegation_tiers_self_heal.py
  tests/unit/docker/test_runtime_entrypoint_one_interpreter_omn17372.py
  tests/unit/docker/test_runtime_entrypoint_stamp_tolerance.py
  tests/unit/docker/test_runtime_entrypoint_volume_bootstrap.py
  tests/unit/runtime/test_entrypoint_preflight_omn17372.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17372): rebind the runner-image shared_env_digest to the bumped lock
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-17793): make Git root lookup portable (#3261)
  scripts/validate.py
  tests/unit/validation/test_validate_imperative_orchestrator_worktree_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16289): the main-sync App token needs contents:write, not only workflows:write
  .github/workflows/release.yml
  tests/ci/test_release_sync_main_dispatch.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16289): sync main through REST app identity
  .github/workflows/release.yml
  tests/ci/test_prepush_hook_host_identity_guard.py
  tests/ci/test_release_sync_main_dispatch.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16289): sync-only main fast-forward dispatch for an existing release tag
  .github/workflows/release.yml
  tests/ci/test_release_sync_main_dispatch.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18020): refresh dev SCRAM provisioner image
  scripts/runtime_build/refresh_dev_lane.sh
Due: none

fix(OMN-18020): refresh dev SCRAM provisioner image (#3269)
  scripts/runtime_build/refresh_dev_lane.sh
Due: none

fix(validation): validate linked worktree backlinks
  scripts/validate.py
  tests/unit/validation/test_validate_imperative_orchestrator_worktree_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16289): sync-only main fast-forward dispatch for an existing release tag (#3256)
  .github/workflows/release.yml
  tests/ci/test_prepush_hook_host_identity_guard.py
  tests/ci/test_release_sync_main_dispatch.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16939): give the deploy agent a dev-lane instance and a required lane fence (#3262)
  scripts/deploy-agent/deploy/deploy-agent-dev.service
  scripts/deploy-agent/deploy/deploy-agent.service
  scripts/deploy-agent/deploy/deploy-agent.service.d/override.conf
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/consumer.py
  scripts/deploy-agent/deploy_agent/lane_policy.py
  scripts/deploy-agent/tests/unit/conftest.py
  scripts/deploy-agent/tests/unit/test_consumer_signed_payload.py
  scripts/deploy-agent/tests/unit/test_deploy_agent_service_source.py
  scripts/deploy-agent/tests/unit/test_lane_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17372): align preflight fixtures with current dev
  tests/unit/runtime/test_entrypoint_preflight_omn17372.py
  tests/unit/topics/test_topic_provisioning_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17201): the dev mirror leg dials the ambiguous listener too
  docker/gateway/beta-gateway-canary.yaml
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17034.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17919_advertised_listener.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18012): make the customer-path boundary a per-PR gate, and prove the terminal readback against a real trimmed partition
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/integration/customer_path/conftest.py
  tests/integration/customer_path/test_delegation_terminal_readback.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18012): the provisioning-policy tests must supply the credentials the model now requires
  tests/unit/topics/test_topic_provisioning_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17985): the provisioning-policy fixtures name the credentials OMN-18012 now requires
  tests/unit/topics/test_topic_provisioning_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18024): retire the published cloud identity chain from the public tree
  .github/workflows/build-and-push-migrate-image.yml
  .github/workflows/build-and-push-runtime.yml
  docker/migrations/forward/_ledger/retired-flat-migrations.tsv
  docs/evidence/OMN-15124/probes-round4/check_no_cloud_bus_wrapper.txt
  docs/evidence/OMN-15124/probes-round4/grep_plaintext_kafka_auth.txt
  docs/evidence/OMN-15124/probes-round4/msk_client_authentication.json
  docs/evidence/OMN-15124/probes-round4/msk_configuration_revision2_server_properties.txt
  docs/evidence/OMN-15124/probes-round4/msk_configuration_server_properties.txt
  docs/evidence/OMN-15124/probes-round4/msk_describe_cluster.json
  docs/evidence/OMN-15124/probes-round4/nc_msk_broker_9098.txt
  docs/evidence/OMN-15124/probes-round4/nc_rds_5432.txt
  docs/evidence/OMN-15124/probes-round4/typed_config_authority.txt
  docs/evidence/OMN-15125/probes/manifest_round3_runtime.json
  docs/evidence/OMN-15125/probes/manifest_round4_runtime.json
  docs/evidence/OMN-15125/probes/round_history_runtime.json
  docs/evidence/OMN-15125/probes/vuln_scan_round4.json
  scripts/cloud-bus-tunnel.sh
  scripts/compare_environments.py
  scripts/k8s-pod-readiness-check.sh
  scripts/validation/exposed_identifiers_denylist.json
  tests/ci/test_exposed_identifier_gate.py
  tests/ci/test_incident_replay_omn17534.py
  tests/ci/test_incident_replay_omn17888.py
  tests/fixtures/omn17534/deploy-onex-staging-33609666720.rollout-diagnostics.log.captured
  tests/fixtures/omn17888/compare-2ea74bc4de76-116b49143e.gh-api.json.captured
  tests/incident_replays/registry.yaml
  tests/unit/topology/test_validator_ro_principal_omn17792.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17069): align omniweb web origins with ingress
  docker/keycloak/desired-clients.json
  scripts/tests/test_keycloak_desired_clients_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18024): repair the credential-less SASL fixtures #3258 left red on dev
  tests/unit/topics/test_topic_provisioning_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18016): adopt the public-repo hygiene gate in report mode
  .github/workflows/public-repo-hygiene.yml
  .public-repo-hygiene.yaml
  scripts/validation/validate_clean_root.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18012): give the SCRAM policy fixtures the credentials the model now demands
  tests/unit/topics/test_topic_provisioning_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17201): rebind the runner image identity to this branch's lockfile
  docker/runners/runner-image.lock.json
Due: none

feat(OMN-18026): read the contractor recipient set from its private source
  .github/workflows/contractor-integration-note.yml
Due: none

fix(OMN-16939): deploy-agent units fail fast on a busy port instead of killing the holder
  scripts/deploy-agent/deploy/deploy-agent-dev.service
  scripts/deploy-agent/deploy/deploy-agent.service
  scripts/deploy-agent/deploy/preflight_port_free.sh
  scripts/deploy-agent/tests/unit/test_deploy_agent_service_source.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17372): provide SASL fixture credentials
  tests/unit/topics/test_topic_provisioning_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17985): the health monitor's ownership filter reads one validated name (#3266)
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/unit/services/test_runtime_health_monitor_profile_read.py
  tests/unit/topics/test_topic_provisioning_policy.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16939): make the port preflight actually fail closed when its probe fails
  scripts/deploy-agent/deploy/deploy-agent-dev.service
  scripts/deploy-agent/deploy/deploy-agent.service
  scripts/deploy-agent/deploy/preflight_port_free.sh
  scripts/deploy-agent/tests/unit/test_deploy_agent_service_source.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
