Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(OMN-9633): add remote task state repository
  docker/migrations/forward/069_create_remote_task_state.sql
  docker/migrations/rollback/rollback_069_create_remote_task_state.sql
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/remote_task_state_repository.py
  tests/integration/db/test_remote_task_state_repository.py
  tests/unit/db/test_migration_069.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9633): normalize postgres retry typing
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/remote_task_state_repository.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(runtime): guard startup health headroom
  tests/unit/docker/test_docker_performance.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): harden startup health and dispatch freeze
  docker/catalog/services/autoheal.yaml
  docker/catalog/services/omninode-runtime.yaml
  docker/catalog/services/runtime-effects.yaml
  docker/catalog/services/runtime-worker.yaml
  docker/docker-compose.infra.yml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_wiring_subscribe.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-9727): F2 market node deployment runbook (#1407)
  docs/runbooks/market-node-deployment.md
Due: onex-validate-markdown-links

feat(OMN-9634): implement A2A submit handler
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/contract.yaml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9746): wire model_validate() into handler_routing_loader (contract validation spine)
  src/omnibase_infra/runtime/contract_loaders/handler_routing_loader.py
  src/omnibase_infra/runtime/contract_loaders/model_node_type_probe.py
  tests/unit/runtime/contract_loaders/test_handler_routing_loader_typed.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9635): implement A2A watch lifecycle loop
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/persistence/remote_task_state_repository.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9749): add ModelMonitorAlertContract and wire into monitor_logs
  scripts/monitor_logs.py
  src/omnibase_infra/models/contracts/__init__.py
  src/omnibase_infra/models/contracts/model_monitor_alert_contract.py
  tests/unit/contracts/test_model_monitor_alert_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9747): wire model_validate() into runtime_contract_config_loader
  src/omnibase_infra/runtime/runtime_contract_config_loader.py
  tests/unit/runtime/test_runtime_contract_config_loader_typed.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9749): address hostile_reviewer findings — import guard + ValidationError
  scripts/monitor_logs.py
  tests/unit/contracts/test_model_monitor_alert_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): restore registration dispatch routing
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_registration_orchestrator/wiring.py
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/auto_wiring/models/model_handler_routing_entry.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_event_type_alias.py
  tests/unit/runtime/test_container_wiring_registration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9746): catch ValidationError+ModelOnexError specifically; add pytest.mark.unit; add integration test
  src/omnibase_infra/runtime/contract_loaders/handler_routing_loader.py
  tests/integration/runtime/test_handler_routing_loader_typed_integration.py
  tests/unit/runtime/contract_loaders/test_handler_routing_loader_typed.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9747): wire model_validate() into runtime_contract_config_loader (#1416)
  src/omnibase_infra/runtime/runtime_contract_config_loader.py
  tests/unit/runtime/test_runtime_contract_config_loader_typed.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9755): concrete SPI default handler-contract loader in infra
  src/omnibase_infra/contracts/defaults/__init__.py
  src/omnibase_infra/contracts/defaults/loader.py
  tests/unit/contracts/defaults/__init__.py
  tests/unit/contracts/defaults/test_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9749): typed ModelMonitorAlertContract + wire into monitor_logs (#1415)
  scripts/monitor_logs.py
  src/omnibase_infra/models/contracts/__init__.py
  src/omnibase_infra/models/contracts/model_monitor_alert_contract.py
  tests/unit/contracts/test_model_monitor_alert_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9750): typed ModelLlmEndpointContract + loader (no runtime cutover yet)
  src/omnibase_infra/models/contracts/__init__.py
  src/omnibase_infra/models/contracts/enum_llm_endpoint_status.py
  src/omnibase_infra/models/contracts/model_llm_endpoint_contract.py
  src/omnibase_infra/models/contracts/model_llm_endpoint_entry.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/models/contracts/__init__.py
  tests/unit/models/contracts/test_model_llm_endpoint_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9634): use real a2a sdk transport
  pyproject.toml
  src/omnibase_infra/nodes/node_remote_agent_invoke_effect/handlers/handler_a2a_task.py
  tests/unit/nodes/node_remote_agent_invoke_effect/test_handler_a2a_task.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): use registration dispatcher adapters
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/nodes/node_registration_orchestrator/test_plugin_wire_dispatchers_deferred.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_event_type_alias.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9750): explicit utf-8 encoding in load_llm_endpoint_contract
  src/omnibase_infra/models/contracts/model_llm_endpoint_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9750): integration tests for load_llm_endpoint_contract against real YAML
  tests/integration/test_llm_endpoint_contract_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(runtime): update registration dispatcher ownership expectation
  tests/integration/nodes/test_plugin_wire_dispatchers_single_authority.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9750): add cross-field validator for running endpoint required fields
  src/omnibase_infra/models/contracts/model_llm_endpoint_entry.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/models/contracts/test_model_llm_endpoint_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9637): add orchestrator A2A dispatch and lifecycle path
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/contract.yaml
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatch_resolver.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_agent_task_lifecycle.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/dispatchers/dispatcher_invocation_command.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/enums.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/handlers/handler_delegation_workflow.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/lifecycle_reactor.py
  src/omnibase_infra/nodes/node_delegation_orchestrator/wiring.py
  src/omnibase_infra/nodes/node_delegation_routing_reducer/contract.yaml
  src/omnibase_infra/nodes/node_delegation_routing_reducer/handlers/handler_delegation_routing.py
  tests/unit/delegation/test_delegation_contracts.py
  tests/unit/delegation/test_delegation_orchestrator.py
  tests/unit/nodes/node_delegation_orchestrator/test_agent_lifecycle_path.py
  tests/unit/nodes/node_delegation_orchestrator/test_dispatch_resolver.py
  tests/unit/nodes/node_delegation_orchestrator/test_lifecycle_reactor.py
  tests/unit/nodes/node_delegation_routing_reducer/test_invocation_command_emission.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9746): remove unused _PROJECT_ROOT variable (CodeQL)
  tests/integration/runtime/test_handler_routing_loader_typed_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9755): add integration test for SPI default contract loader
  tests/integration/test_spi_default_contract_loader.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9751): add ModelFeatureFlagContract + loader for runtime/event_bus contracts
  src/omnibase_infra/models/contracts/model_service_contract.py
  src/omnibase_infra/runtime/service_contract_loader.py
  tests/unit/models/contracts/__init__.py
  tests/unit/models/contracts/test_model_service_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9751): split ModelFeatureFlag to own file, fix real YAML schema, add integration test
  src/omnibase_infra/models/contracts/model_feature_flag.py
  src/omnibase_infra/models/contracts/model_service_contract.py
  tests/integration/test_service_contract_loader_integration.py
  tests/unit/models/contracts/test_model_service_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9751): address hostile_reviewer findings — correct tmp_path types, wrap yaml.YAMLError
  src/omnibase_infra/runtime/service_contract_loader.py
  tests/unit/models/contracts/test_model_service_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-9746): wire model_validate() into handler_routing_loader (contract validation spine) (#1413)
  src/omnibase_infra/runtime/contract_loaders/handler_routing_loader.py
  src/omnibase_infra/runtime/contract_loaders/model_node_type_probe.py
  tests/integration/runtime/test_handler_routing_loader_typed_integration.py
  tests/unit/runtime/contract_loaders/test_handler_routing_loader_typed.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9641): add A2A wiring and runtime boot coverage
  src/omnibase_infra/nodes/node_delegation_routing_reducer/contract.yaml
  tests/integration/delegation/test_a2a_bridge_wiring.py
  tests/integration/delegation/test_effect_runtime_boot.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(deploy): target canonical runtime compose project
  scripts/deploy-runtime.sh
  tests/scripts/test_deploy_runtime_no_env_file.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-9642): fix .201 runtime boot proof
  tests/integration/delegation/test_effect_runtime_boot.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): support installed market package workflows
  docker/catalog/services/omninode-runtime.yaml
  docker/catalog/services/runtime-effects.yaml
  docker/docker-compose.infra.yml
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/auto_wiring/models/model_event_bus_wiring.py
  src/omnibase_infra/runtime/service_runtime_host_process.py
  tests/unit/runtime/auto_wiring/test_discovery.py
  tests/unit/runtime/auto_wiring/test_wiring.py
  tests/unit/runtime/test_node_subscription_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
