Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-19373): name the memo holder PascalCase so ONEX Validators passes
  src/omnibase_infra/runtime/auto_wiring/discovery.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19802): the compose-dev node_inventory check reads the manifest after the settle wait, not before it (#4175)
  scripts/ci/lab_pass_receipt.py
  tests/ci/test_lab_pass_receipt_node_inventory_omn18708.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19550): live-apply proof for the vendored session_content migration and its bridging declaration
  tests/integration/migrations/test_session_content_live_apply_omn19550.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: pin uncommitted worktree state before OMN-18370 cleanup on .201 [skip ci]
  workspace/deploy-source-refs.json
  workspace/sibling-pin-comparison.json
  workspace/sibling-vcs-provenance.json
Due: none

test(OMN-15425): mark the two defects this PR uncovered out of scope
  tests/integration/migrations/test_088_savings_views_invoker_scoped_omn18159.py
  tests/integration/migrations/test_ci_attempt_outcome_omn18903.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19373): the discovery sweep reuses an unchanged manifest instead of re-parsing 519 contracts (#4172)
  src/omnibase_infra/runtime/auto_wiring/discovery.py
  src/omnibase_infra/utils/util_runtime_packages.py
  tests/integration/test_discovery_cache_real_corpus_omn19373.py
  tests/unit/runtime/auto_wiring/test_discovery_cache_omn19373.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15425): run the provisioning proofs that skipped everywhere, and prove the sentinel rule (#4174)
  tests/integration/migrations/conftest.py
  tests/integration/migrations/test_088_savings_views_invoker_scoped_omn18159.py
  tests/integration/migrations/test_102_tenant_projection_writer_role_omn15425.py
  tests/integration/migrations/test_ci_attempt_outcome_omn18903.py
  tests/unit/runtime/auto_wiring/test_projection_domain_adapters.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19807): the node-migration source-ref resolver reads the queued PR's live body on a merge_group event, fail-closed (#4179)
  scripts/resolve_node_migration_source_ref.py
  tests/scripts/test_resolve_node_migration_source_ref.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19716): vendor the topic-activity projection migrations and grants (#4165)
  config/migration_classes.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_topic_activity/0000_create_topic_activity.sql
  docker/migrations/forward/nodes/node_projection_topic_activity/0001_grant_omninode_runtime_topic_activity.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/migrations/test_omninode_internal_live_acl_gate_omn17886.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17887): drop onex-lab's empty tenant schema by forward migration
  .github/workflows/ci.yml
  config/migration_classes.yaml
  config/skip_count_baseline.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_tenant_credentials/004_drop_empty_tenant_schema.sql
  docker/migrations/rollback/rollback_node_projection_tenant_credentials_004.sql
  tests/integration/migrations/test_drop_empty_tenant_schema_omn17887.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-17887): say in 004's header why the drop lives under node_projection_tenant_credentials
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_tenant_credentials/004_drop_empty_tenant_schema.sql
Due: none

feat(OMN-17454): supply both identities to split projection writers
  docker/dev-lane-required-env.manifest.txt
  docker/docker-compose.dev-lane.yml
  docker/docker-compose.stability-test.yml
  tests/ci/test_standalone_writer_declared_principal_omn18109.py
  tests/integration/infra/test_dev_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17887): make 004's header true about the flat gate and the tenant grant, and gate its proof on EPHEMERAL_POSTGRES_UNAVAILABLE
  .github/workflows/ci.yml
  config/skip_count_baseline.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_tenant_credentials/004_drop_empty_tenant_schema.sql
  tests/integration/migrations/test_drop_empty_tenant_schema_omn17887.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19801): the runtime error triage effect returns an empty effect output, and the log bridge does not feed a runtime-error consumer's own errors back to its topic (#4176)
  src/omnibase_infra/nodes/node_runtime_error_triage_effect/contract.yaml
  src/omnibase_infra/nodes/node_runtime_error_triage_effect/handlers/handler_runtime_error_triage.py
  src/omnibase_infra/observability/runtime_log_event_bridge.py
  src/omnibase_infra/runtime/observability/__init__.py
  src/omnibase_infra/runtime/observability/consumer_flow_counters.py
  tests/integration/test_omn_6659_type_suppression_contract_touch.py
  tests/integration/test_runtime_error_triage_no_undeliverable_output.py
  tests/unit/nodes/test_handler_runtime_error_triage.py
  tests/unit/observability/test_runtime_log_event_bridge.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17887): make the rest of 004's comments true: grants, default privileges, ownership, rollback scope
  config/skip_count_baseline.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_tenant_credentials/004_drop_empty_tenant_schema.sql
  docker/migrations/rollback/rollback_node_projection_tenant_credentials_004.sql
Due: onex-validate-contracts

test(OMN-15425): prove replay reconciliation and restart, the two AC4 halves nothing covered
  docker/domain-adapter-proof/prove.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19805): the C13 probe grades a customer model served on a declared private-network host (#4177)
  scripts/ci/c13_customer_local_probe.py
  tests/ci/test_c13_customer_local_probe_omn19179.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19766): the hygiene gate's validator floated to HEAD while its workflow stayed pinned
  .github/workflows/public-repo-hygiene.yml
Due: none

fix(OMN-19810): onex-path-shadow check resolves a symlink before failing (#4185)
  scripts/onex
  scripts/reconcile-host.sh
  tests/scripts/test_onex_wrapper.py
  tests/scripts/test_reconcile_host_omn17307.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15092): release node migration 0026 on the compose dev lab lane (#4183)
  docker/migrations/forward/fenced-node-migrations.yaml
  scripts/run-forward-migrations.sh
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19817): the dispatch protocol declares no_escalation and the kwarg-parity reader resolves the consumer's TypedDict-typed splat (#4192)
  src/omnibase_infra/runtime/protocols/protocol_delegation_dispatch_port.py
  tests/integration/runtime/test_delegation_dispatch_port_consumer_kwarg_parity.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15425): prove replay reconciliation and restart, the two AC4 halves nothing covered (#4191)
  docker/domain-adapter-proof/prove.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18608): the canonical-clone HEAD guard allows a same-branch checkout -B (#4189)
  scripts/git-hooks/canonical_clone_ref_guard.sh
  tests/ci/test_canonical_clone_ref_guard.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18812): re-run a preflight whose companion merged, in omnibase_infra (#4193)
  .github/workflows/occ-companion-merge-heal.yml
  scripts/ci/occ_companion_merge_heal.py
  tests/ci/test_incident_replay_omn18812.py
  tests/ci/test_occ_companion_merge_heal_omn18812.py
  tests/fixtures/omn18812/check-runs-3999.json.gz.captured
  tests/fixtures/omn18812/check-runs-4191.json.gz.captured
  tests/fixtures/omn18812/jobs-35898371776.json.gz.captured
  tests/fixtures/omn18812/jobs-35898372411.json.gz.captured
  tests/fixtures/omn18812/jobs-35898372640.json.gz.captured
  tests/fixtures/omn18812/jobs-35898373010.json.gz.captured
  tests/fixtures/omn18812/jobs-35899231397.json.gz.captured
  tests/fixtures/omn18812/jobs-35915880328.json.gz.captured
  tests/fixtures/omn18812/occ-pull-10983.json.gz.captured
  tests/fixtures/omn18812/occ-pull-11538.json.gz.captured
  tests/fixtures/omn18812/pull-3999.json.gz.captured
  tests/fixtures/omn18812/pull-4191.json.gz.captured
  tests/fixtures/omn18812/runs-3999.json.gz.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-19677): baselines can only shrink — omnibase_infra (#4162)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  config/runner_routing_policy.yaml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_anti_growth_baselines_omn19677.py
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19812): C28 producer -- consumer-flow observability re-measured on the dev lane, not read once by hand (#4190)
  .github/workflows/chain-canary-c28-consumer-flow.yml
  .pre-commit-config.yaml
  config/ci_evidence_policy.yaml
  config/lab_probe_windows.yaml
  scripts/ci/c28_consumer_flow_probe.py
  tests/ci/test_c28_consumer_flow_probe.py
  tests/ci/test_ci_evidence_policy.py
  tests/ci/test_verify_runner_runs_on_omn18408.py
  tests/fixtures/omn19812/rpk_describe_partitions.captured.txt
  tests/fixtures/omn19812/runtime_seam_probe_prefixed.captured.txt
  tests/fixtures/omn19812/runtime_seam_unprefixed.captured.txt
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18976): the re-emission floor is read from the receipts, and a non-runtime merge still answers (#4186)
  .github/workflows/runtime-rebuild-trigger.yml
  config/ci_evidence_policy.yaml
  scripts/ci/check_dev_lane_staleness.py
  tests/ci/test_ci_evidence_policy.py
  tests/ci/test_dev_lane_staleness.py
  tests/ci/test_nonruntime_merge_observes_omn18976.py
  tests/unit/ci/test_durable_reemission_floor_omn18976.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17454): resolve a standalone projection writer's bindings, one per domain (#4157)
  src/omnibase_infra/runtime/auto_wiring/standalone_projection_bindings.py
  tests/integration/runtime/test_standalone_projection_bindings_pg_omn17454.py
  tests/unit/runtime/auto_wiring/test_standalone_projection_bindings_omn17454.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-19766): re-pin the public-repo hygiene caller to omniclaude 6ccd525e2 (#4195)
  .github/workflows/advisory-job-gate.yml
  .github/workflows/kb-doc-gate.yml
  .github/workflows/public-repo-hygiene.yml
  .github/workflows/runner-label-exists-caller.yml
Due: none

fix(OMN-18596): the plugin pin cascade opens an attributable PR on the branch it cut from, and keeps the bounded ranges (#4202)
  .github/workflows/plugin-pin-cascade.yml
  scripts/update-plugin-pins.py
  tests/ci/test_plugin_pin_cascade_attributable_omn18596.py
  tests/unit/scripts/test_update_plugin_pins.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19842): runner-fleet emit's default name-prefix covers every declared host (#4201)
  docker/runners/runner-monitor.sh
  scripts/runner_fleet_event.py
  tests/unit/observability/runner_health/test_runner_monitor_omnipc2_fleet_prefix_omn19842.py
  tests/unit/scripts/test_runner_fleet_event_omn18768.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19851): the real-scan loop test asserts the worker thread on every runner instead of skipping by runner speed (#4205)
  tests/integration/test_runtime_health_discovery_off_loop_omn19373.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19124): the dogfood fault-pin guard admits an ordinary routing pin on every lane (#4170)
  src/omnibase_infra/runtime/dogfood_delegation_fault_routes.py
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/integration/runtime/test_routing_pin_admission_omn19124.py
  tests/unit/runtime/test_routing_pin_admission_omn19124.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19866): plugin-pin-cascade.yml's version-advance check accepts bounded-range pins (#4212)
  .github/workflows/plugin-pin-cascade.yml
  tests/ci/test_plugin_pin_cascade_bounded_range_verify_omn19866.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19733): consumer-flow deltas carry declares_output from the contract's publish_topics (#4171)
  src/omnibase_infra/models/observability/model_consumer_flow_delta.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/observability/consumer_flow_counters.py
  tests/integration/runtime/test_omn19733_sink_consumer_output_declaration.py
  tests/unit/runtime/observability/test_omn16777_consumer_flow_counters.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19860): onex delegate names the lane and session that issued it, and vendor delegation_events.caller_lane (#4206)
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0048_delegation_events_caller_lane.sql
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/delegate_caller.py
  src/omnibase_infra/cli/model_delegate_caller.py
  tests/integration/cli/test_delegate_pre_publish_failure_omn19131.py
  tests/unit/cli/test_cli_delegate_caller_identity.py
  tests/unit/migrations/test_omn19860_caller_lane_vendor.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19811): the chain canary reads the dev lane's deploy agent, waits out a redeploy and retries once when one overlapped a red (#4200)
  .github/workflows/chain-canary.yml
  config/lab_probe_windows.yaml
  scripts/deploy-agent/tests/unit/test_idle_converge_omn19509.py
  src/omnibase_infra/cli/skill_mapping.yaml
  src/omnibase_infra/nodes/node_chain_canary_effect/contract.yaml
  src/omnibase_infra/nodes/node_chain_canary_effect/deploy_agent_window.py
  src/omnibase_infra/nodes/node_chain_canary_effect/handlers/handler_chain_canary.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/enum_deploy_window_status.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/model_chain_canary_request.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/model_chain_canary_result.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/model_deploy_agent_snapshot.py
  src/omnibase_infra/nodes/node_chain_canary_effect/models/model_deploy_window_evidence.py
  tests/ci/test_chain_canary_workflow.py
  tests/integration/chain_canary/test_chain_canary_deploy_agent_window_omn19811.py
  tests/unit/nodes/node_chain_canary_effect/test_handler_chain_canary_deploy_aware.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17886): revoke omninode_runtime's privileges on the gateway_link_health_status view
  config/migration_classes.yaml
  config/omninode_internal_live_acl_allowlist.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_gateway_link_health_write_effect/0002_revoke_omninode_runtime_gateway_link_health_status.sql
  docker/migrations/rollback/rollback_node_gateway_link_health_0002.sql
  tests/integration/migrations/test_omninode_internal_live_acl_gate_omn17886.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15356): re-land the capability_scores tenant UUID conversion Docker proof (#4184)
  docker/tenant-uuid-conversion-proof/Dockerfile
  docker/tenant-uuid-conversion-proof/compose.yml
  docker/tenant-uuid-conversion-proof/seed-roles.sql
  scripts/ci/prove_tenant_uuid_conversion.py
  tests/integration/test_tenant_uuid_conversion_proof_omn15356.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
