Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(review): [minor] atomic tmp file cleanup symmetry for admin token write
  scripts/provision-infisical.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(runtime): wire NodeProjectionEffect before Kafka publish [OMN-2510]
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_projection.py
  src/omnibase_infra/models/dispatch/model_dispatch_result.py
  src/omnibase_infra/models/projection/__init__.py
  src/omnibase_infra/models/projection/model_projection_intent.py
  src/omnibase_infra/runtime/models/model_projection_result_local.py
  src/omnibase_infra/runtime/protocol_projection_effect.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/runtime/test_projection_ordering_integration.py
  tests/unit/runtime/test_projection_ordering.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] use result.projection_intents directly [OMN-2510]
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] fix mypy error in ProjectionError.__init__ [OMN-2510]
  src/omnibase_infra/errors/error_projection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2443): wire NodeLlmInferenceEffect to emit onex.evt.omniintelligence.llm-call-completed.v1 (#390)
  src/omnibase_infra/nodes/node_llm_inference_effect/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_ollama.py
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/protocol_llm_handler.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/service_llm_metrics_publisher.py
  tests/unit/nodes/node_llm_inference_effect/services/test_service_llm_metrics_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2287): Infisical automated provisioning — register-repo, transport aliases, zero-env plan (#387)
  .gitignore
  docs/plans/2026-02-21-zero-repo-env-files.md
  scripts/_infisical_util.py
  scripts/bootstrap-infisical.sh
  scripts/provision-infisical.py
  scripts/register-repo.py
  scripts/seed-infisical.py
  scripts/validation/validate_clean_root.py
  src/omnibase_infra/runtime/config_discovery/contract_config_extractor.py
  tests/unit/runtime/config_discovery/test_contract_config_extractor.py
  tests/unit/validation/test_validate_clean_root.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(session): remove env prefix so ConfigSessionStorage reads standard POSTGRES_* vars (#391)
  src/omnibase_infra/services/session/config_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: add shared_key_registry.yaml as authoritative shared key definition [OMN-2478]
  config/shared_key_registry.yaml
  scripts/validation/validate_clean_root.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs: add onboard-repo-setup.md documenting ~/.omnibase/scripts/onboard-repo.py [OMN-2479]
  docs/plans/onboard-repo-setup.md
Due: onex-validate-markdown-links

docs: document ~/.omnibase/.env setup for transitional shared vars [OMN-2481]
  docs/plans/omnibase-env-setup.md
Due: onex-validate-markdown-links

docs: add delete-repo-env-files.md with script for OMN-2482 cleanup [OMN-2482]
  docs/plans/delete-repo-env-files.md
Due: onex-validate-markdown-links

docs: add smoke-test-zero-repo-env.md with test results and re-run instructions [OMN-2483]
  docs/plans/smoke-test-zero-repo-env.md
Due: onex-validate-markdown-links

docs: document future Infisical prerequisite for shrinking ~/.omnibase/.env [OMN-2484]
  docs/plans/shrink-omnibase-env-future.md
Due: onex-validate-markdown-links

feat(OMN-2287): zero-repo-env phase 2 — registry YAML, config_store prefix, compose fix
  config/shared_key_registry.yaml
  docker/docker-compose.infra.yml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] restore INFISICAL_ADDR opt-in, add registry guards, fix stale comment
  config/shared_key_registry.yaml
  docker/docker-compose.infra.yml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] move KAFKA_BOOTSTRAP_SERVERS to bootstrap_only, registry guards, refactor
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] add QDRANT keys to registry, fix _read_registry_data docstring, clean up path
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] registry data guards, stale comments, subparser formatter
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] utf-8 encoding on open, docstring clarity, header semantics note
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] docstring cleanup, POSTGRES_DSN comment, DSN encoding caveat
  config/shared_key_registry.yaml
  docker/docker-compose.infra.yml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] add URL-encoding caveat to OMNIINTELLIGENCE_DB_URL in compose
  docker/docker-compose.infra.yml
Due: none

fix(review): [minor] add migration note for KAFKA_BOOTSTRAP_SERVERS move to bootstrap_only
  config/shared_key_registry.yaml
Due: onex-validate-contracts

fix(review): [minor] cmd_seed_shared identity_defaults guard, TODO migration comment
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] ticket ref typo, ambient-env note, registry type guards, compose version hint
  docker/docker-compose.infra.yml
  scripts/register-repo.py
  src/omnibase_infra/services/session/config_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] ValueError consistency, registry section guards, deduplicate registry_path
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] string element validation, _REGISTRY_PATH constant, compose warning specificity
  docker/docker-compose.infra.yml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] isinstance list guard before all() in _bootstrap_keys/_identity_defaults
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] POSTGRES_POOL_*_SIZE names, remove dead KAFKA_HOST_SERVERS, plan doc completion note
  config/shared_key_registry.yaml
  docs/plans/2026-02-21-zero-repo-env-files.md
  src/omnibase_infra/runtime/config_discovery/transport_config_map.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(review): [major/minor] update test assertions for POSTGRES_POOL_*_SIZE, remove KAFKA_BOOTSTRAP_SERVERS from transport map
  src/omnibase_infra/runtime/config_discovery/transport_config_map.py
  tests/unit/runtime/config_discovery/test_transport_config_map.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] pool env aliases, dead code, QDRANT_URL, docstring clarity
  config/shared_key_registry.yaml
  scripts/register-repo.py
  src/omnibase_infra/services/session/config_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] VAULT_TOKEN per-service, single-read registry, missing test assertion, warning clarity
  config/shared_key_registry.yaml
  docker/docker-compose.infra.yml
  scripts/register-repo.py
  src/omnibase_infra/services/session/config_store.py
  tests/unit/runtime/config_discovery/test_transport_config_map.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] VAULT_TOKEN intent docs, bootstrap subcategories, empty-list guard, pool alias test
  config/shared_key_registry.yaml
  docs/plans/2026-02-21-zero-repo-env-files.md
  scripts/register-repo.py
  src/omnibase_infra/services/session/config_store.py
  tests/unit/services/session/__init__.py
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(review): [minor] annotate yaml.safe_load return in _read_registry_data
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] add populate_by_name=True for AliasChoices mypy compliance
  src/omnibase_infra/services/session/config_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] clear ambient POSTGRES_* vars in pool defaults test
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] test env isolation, valkey keys, QUERY_TIMEOUT_SECONDS, compose notes
  config/shared_key_registry.yaml
  docker/docker-compose.infra.yml
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] mypy type annotations in register-repo.py, YAML comment style
  config/shared_key_registry.yaml
  scripts/register-repo.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] narrow _upsert_secret exception, cast return type, remove vacuous encoding, add missing ValidationError test
  scripts/register-repo.py
  src/omnibase_infra/services/session/config_store.py
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] narrow auth indicators, fix test kwarg, QUERY_TIMEOUT_SECONDS comment, valkey ordering
  config/shared_key_registry.yaml
  scripts/register-repo.py
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] remove broad auth substring, move _AUTH_INDICATORS to module-level, KAFKA_HOST_SERVERS comment, remove dead test setenv
  config/shared_key_registry.yaml
  scripts/register-repo.py
  tests/unit/services/session/test_config_store.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
