Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(review): [minor] log WARNING when consul_response is None (abnormal path)
  src/omnibase_infra/runtime/intent_effects/intent_effect_consul_register.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] truncate masked tool name in unnamed fallback log
  src/omnibase_infra/nodes/node_registration_orchestrator/services/registration_reducer_service.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] raise on None consul result + sanitize call-site log
  src/omnibase_infra/nodes/node_registration_orchestrator/services/registration_reducer_service.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_consul_register.py
  tests/unit/runtime/test_intent_effect_consul_register.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-1686): add unit tests for NodeLedgerWriteEffect handlers
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/handler_ledger_append.py
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/handler_ledger_query.py
  tests/unit/nodes/node_ledger_write_effect/handlers/__init__.py
  tests/unit/nodes/node_ledger_write_effect/handlers/test_handler_ledger_append.py
  tests/unit/nodes/node_ledger_write_effect/handlers/test_handler_ledger_query.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] move OMN-2314 note out of Field desc + remove spurious type: ignore
  src/omnibase_infra/models/catalog/model_topic_catalog_changed.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_consul_register.py
  tests/unit/handlers/test_handler_consul_topic_index.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-1686): add unit tests for NodeLedgerWriteEffect handlers (#382)
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/handler_ledger_append.py
  src/omnibase_infra/nodes/node_ledger_write_effect/handlers/handler_ledger_query.py
  tests/unit/nodes/node_ledger_write_effect/handlers/__init__.py
  tests/unit/nodes/node_ledger_write_effect/handlers/test_handler_ledger_append.py
  tests/unit/nodes/node_ledger_write_effect/handlers/test_handler_ledger_query.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] fix double repr() in warning log + add _register_service partial-failure wrapping test
  src/omnibase_infra/nodes/node_registration_orchestrator/services/registration_reducer_service.py
  tests/unit/handlers/test_handler_consul_topic_index.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2383): OmniMemory Kafka topic suffixes + package exports + test coverage
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/unit/topics/test_platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] remove duplicate unmasked call-site log + fix InfraConnectionError test coverage
  src/omnibase_infra/nodes/node_registration_orchestrator/services/registration_reducer_service.py
  tests/unit/handlers/test_handler_consul_topic_index.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: bump version to 0.9.0, update omnibase-core to 0.18.1
  CHANGELOG.md
  pyproject.toml
  src/omnibase_infra/__init__.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(review): [major/minor] isinstance guard for consul response + fix InfraConsulError double-wrap + add structured node_id to error context
  src/omnibase_infra/handlers/mixins/mixin_consul_service.py
  src/omnibase_infra/handlers/mixins/mixin_consul_topic_index.py
  src/omnibase_infra/nodes/node_registration_orchestrator/plugin.py
  src/omnibase_infra/nodes/node_registration_orchestrator/services/registration_reducer_service.py
  src/omnibase_infra/runtime/intent_effects/intent_effect_consul_register.py
  tests/integration/registration/e2e/test_topic_catalog_query_e2e.py
  tests/unit/handlers/test_handler_consul_topic_index.py
  tests/unit/runtime/test_intent_effect_consul_register.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-2383): OmniMemory Kafka topic suffixes + package exports + test coverage (#383)
  src/omnibase_infra/topics/__init__.py
  src/omnibase_infra/topics/platform_topic_suffixes.py
  tests/unit/topics/test_platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major/minor] validate list elements are strings + add tests for None-output/unexpected-type guards
  src/omnibase_infra/handlers/mixins/mixin_consul_topic_index.py
  src/omnibase_infra/nodes/node_registration_orchestrator/services/registration_reducer_service.py
  tests/unit/runtime/test_intent_effect_consul_register.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: expand 0.9.0 changelog with full change list since v0.8.1
  CHANGELOG.md
Due: onex-validate-markdown-links

fix(review): [minor] add OMN-2314 revert confirmation tests + strengthen orphan-risk TODO comments
  src/omnibase_infra/handlers/mixins/mixin_consul_topic_index.py
  tests/unit/runtime/test_intent_effect_consul_register.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] log+reraise unexpected exceptions + hash-based unnamed fallback + persistent-corrupt TODO note
  src/omnibase_infra/handlers/mixins/mixin_consul_service.py
  src/omnibase_infra/handlers/mixins/mixin_consul_topic_index.py
  src/omnibase_infra/nodes/node_registration_orchestrator/services/registration_reducer_service.py
  tests/unit/nodes/node_registration_orchestrator/services/test_registration_reducer_service.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor/nit] assert new node_id/event_bus_config fields + document mixed-type discard policy + usedforsecurity=False
  src/omnibase_infra/handlers/mixins/mixin_consul_topic_index.py
  src/omnibase_infra/nodes/node_registration_orchestrator/services/registration_reducer_service.py
  tests/unit/nodes/node_registration_orchestrator/services/test_registration_reducer_service.py
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] fix test_sanitize_empty_after_sanitization for hash-based unnamed + usedforsecurity=False in test helper
  tests/unit/nodes/node_registration_orchestrator/services/test_registration_reducer_service.py
  tests/unit/nodes/node_registration_orchestrator/test_handler_node_introspected.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: fix CHANGELOG.md formatting for 0.9.0 release
  CHANGELOG.md
Due: onex-validate-markdown-links

fix(review): [minor] log WARNING on ProtocolConfigurationError partial registration + test non-None event_bus_config pass-through
  src/omnibase_infra/handlers/mixins/mixin_consul_service.py
  tests/unit/nodes/node_registration_orchestrator/services/test_registration_reducer_service.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: bump version to 0.9.0, update omnibase-core to 0.18.1 (#384)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_infra/__init__.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

chore: bump omniintelligence to 0.5.0 in Dockerfile.runtime
  docker/Dockerfile.runtime
Due: none

fix: normalize JSONB columns to JSON strings in postgres upsert
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_upsert.py
  tests/unit/runtime/test_intent_effect_postgres_upsert.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: add intelligence HTTP API service + fix stale omninode_bridge refs
  docker/.env.example
  docker/docker-compose.infra.yml
  tests/integration/registration/e2e/conftest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: bump omniintelligence to 0.5.0 in Dockerfile.runtime (#386)
  docker/.env.example
  docker/Dockerfile.runtime
  docker/docker-compose.infra.yml
  src/omnibase_infra/runtime/intent_effects/intent_effect_postgres_upsert.py
  tests/integration/registration/e2e/conftest.py
  tests/unit/runtime/test_intent_effect_postgres_upsert.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(validation): remove .env from allowed root files — enforce zero-repo-env policy
  scripts/validation/validate_clean_root.py
  tests/unit/validation/test_validate_clean_root.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(validation): remove .env from allowed root files — enforce zero-repo-env policy (#388)
  scripts/validation/validate_clean_root.py
  tests/unit/validation/test_validate_clean_root.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] apply ruff format to test_service_llm_metrics_publisher.py
  src/omnibase_infra/nodes/node_llm_inference_effect/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/service_llm_metrics_publisher.py
  tests/unit/nodes/node_llm_inference_effect/services/test_service_llm_metrics_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore: add pre-commit hook to reject committed .env files (OMN-2476)
  .pre-commit-config.yaml
Due: onex-validate-contracts

fix(review): [minor] widen .env hook pattern + document CI behavior
  .pre-commit-config.yaml
Due: onex-validate-contracts

fix(review): [minor] widen .env pattern to underscore variants + add ci: skip
  .pre-commit-config.yaml
Due: onex-validate-contracts

fix(review): [major] replace handler union type with ProtocolLlmHandler
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/__init__.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/protocol_llm_handler.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/service_llm_metrics_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [major] capture last_call_metrics before await to eliminate race condition
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/protocol_llm_handler.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/service_llm_metrics_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] forward correlation_id through ServiceLlmMetricsPublisher to inner handler
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_ollama.py
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/protocol_llm_handler.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/service_llm_metrics_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] widen .env regex to include hyphenated variants + add always_run
  .pre-commit-config.yaml
Due: onex-validate-contracts

fix(review): [major] make metrics emission a true background task via create_task
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/service_llm_metrics_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [bug] drain event loop in tests after create_task metrics emission
  tests/unit/nodes/node_llm_inference_effect/services/test_service_llm_metrics_publisher.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] clarify asyncio capture safety and upgrade Ollama no-op to warning
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/service_llm_metrics_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] widen publisher type to Callable[..., Awaitable[bool]]
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
  src/omnibase_infra/nodes/node_llm_inference_effect/services/service_llm_metrics_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): [minor] downgrade Ollama no-op log from warning to info
  src/omnibase_infra/nodes/node_llm_inference_effect/registry/registry_infra_llm_inference_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
