Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-17427): bind the acceptance criteria of merged delegation fixes to checks that fail when the criterion is false (#4516)
  contracts/OMN-13966.yaml
  contracts/OMN-16812.yaml
  contracts/OMN-19124.yaml
  contracts/OMN-20385.yaml
Due: onex-validate-contracts

fix(OMN-20464): an abandoned dispatch stops degrading the bus after a bounded grace (#4540)
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  src/omnibase_infra/models/health/model_dispatch_deadline_status.py
  src/omnibase_infra/services/service_runtime_health_monitor.py
  tests/integration/event_bus/test_orphan_degraded_grace_integration.py
  tests/unit/event_bus/test_omn20464_orphan_degraded_grace.py
  tests/unit/services/test_runtime_health_dispatch_deadline_dimension_omn19355.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(doctor): cover delegation support helpers (OMN-17427) (#4522)
  tests/unit/doctor/test_delegation_doctor_support.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17427): cover delegate queue and human output branches (#4519)
  tests/unit/cli/test_delegate_human_output_branches.py
  tests/unit/cli/test_delegate_queue_depth_branches.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17427): cover pre-publish failure diagnostics (#4523)
  tests/unit/cli/test_delegate_pre_publish_failure.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(ci): cover provider rung canary branches (OMN-17427) (#4531)
  tests/ci/test_provider_rung_canary_branches.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17427): cover C29 probe verdict branches (#4530)
  tests/ci/test_c29_probe_verdict_branches.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17427): raise the five omnibase_infra M4 board probes (C15, C11, C12, C16, C28) to hourly (#4521)
  .github/workflows/chain-canary-c11-negative-paths.yml
  .github/workflows/chain-canary-c12-provider-catalogue.yml
  .github/workflows/chain-canary-c28-consumer-flow.yml
  config/lab_probe_windows.yaml
  tests/ci/test_c16_receipt_identity_probe_omn19181.py
  tests/ci/test_incident_replay_omn19412.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17427): wait for a cold peer reconcile before refusing delegate (#4528)
  scripts/onex
  tests/scripts/test_onex_wrapper_peer_lock_omn20111.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20490): add CI contract test for lane overlay capacity
  docker/lane-overlays/dev.bifrost.yaml
  src/omnibase_infra/models/delegation/model_bifrost_lane_endpoint_capacity.py
  src/omnibase_infra/runtime/models/model_bifrost_lane_overlay.py
  tests/ci/test_bifrost_endpoint_capacity.py
  tests/unit/runtime/models/test_model_bifrost_lane_endpoint_capacity.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20490): cap local-omnipc2-chat max_tokens to 4096
  docker/lane-overlays/dev.bifrost.yaml
Due: onex-validate-contracts

test(OMN-20490): add dev overlay pool share integration tests
  tests/integration/runtime/test_dev_overlay_pool_share_omn20490.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17427): C28 pins rpk to the broker's internal listener (#4527)
  src/omnibase_infra/nodes/node_board_probe_effect/contract.yaml
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/_consumer_flow_constants.py
  src/omnibase_infra/nodes/node_board_probe_effect/handlers/_consumer_flow_lane.py
  tests/integration/nodes/test_board_probe_consumer_flow_rpk_brokers_omn17427.py
  tests/unit/nodes/node_board_probe_effect/test_consumer_flow_lane_rpk_brokers.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(cli): sanitise delegate pre-publish failure diagnostics (OMN-17427) (#4525)
  src/omnibase_infra/cli/delegate_pre_publish_failure.py
  tests/integration/cli/test_delegate_pre_publish_failure_sanitisation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(doctor): cover delegation check faults (OMN-17427) (#4526)
  tests/unit/doctor/test_delegation_check_identity.py
  tests/unit/doctor/test_delegation_check_local_model.py
  tests/unit/doctor/test_delegation_check_quota.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20490): size local-omnipc2-chat max_tokens to its slot share of the .202 pool (#4542)
  docker/lane-overlays/dev.bifrost.yaml
  src/omnibase_infra/models/delegation/model_bifrost_lane_endpoint_capacity.py
  src/omnibase_infra/runtime/models/model_bifrost_lane_overlay.py
  tests/ci/test_bifrost_endpoint_capacity.py
  tests/integration/runtime/test_dev_overlay_pool_share_omn20490.py
  tests/unit/runtime/models/test_model_bifrost_lane_endpoint_capacity.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20505): C13 and C29 probes read run files from the customer HOME state root onex delegate resolves
  scripts/ci/c13_customer_local_probe.py
  scripts/ci/c29_customer_byo_key_probe.py
  tests/ci/_fake_delegate_cli_omn20505.py
  tests/ci/test_c13_customer_local_probe_omn19179.py
  tests/ci/test_c29_customer_byo_key_probe_omn19200.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20505): C13 and C29 probes read run files from the customer HOME state root onex delegate resolves (#4545)
  scripts/ci/c13_customer_local_probe.py
  scripts/ci/c29_customer_byo_key_probe.py
  tests/ci/_fake_delegate_cli_omn20505.py
  tests/ci/test_c13_customer_local_probe_omn19179.py
  tests/ci/test_c29_customer_byo_key_probe_omn19200.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-13912): regenerate runner-image lock for 0.38.66 uv.lock
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-20460): pin the omnibase_core canonical-file-shape hook to the temp-file blob read fix (#4541)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: onex-validate-contracts

feat(OMN-20008): vendor measured savings provenance
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_savings/094_savings_overview_measured_provenance.sql
  tests/integration/migrations/test_094_savings_overview_local_token_pct_omn20320.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20509): encode the 05:12Z settle-window timeline for lane resolution (RED)
  tests/ci/test_resolve_lab_lane_deploy_wait_omn19811.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20509): lane resolution reads the deploy agent before the lane check and grants a bounded settle grace
  .github/actions/resolve-lab-lane/resolve_lab_lane.py
  tests/ci/test_resolve_lab_lane_deploy_wait_omn19811.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20509): lane resolution waits out a settle window the deploy agent already reported (#4548)
  .github/actions/resolve-lab-lane/resolve_lab_lane.py
  tests/ci/test_resolve_lab_lane_deploy_wait_omn19811.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20509): use the remaining deploy-wait budget
  .github/actions/resolve-lab-lane/resolve_lab_lane.py
  tests/ci/test_resolve_lab_lane_deploy_wait_omn19811.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20071): retain skill verdict envelopes before lane publication
  src/omnibase_infra/cli/cli_skill.py
  src/omnibase_infra/cli/model_skill_terminal_publish_report.py
  src/omnibase_infra/cli/receipt_mode.py
  src/omnibase_infra/cli/skill_terminal_publish.py
  tests/unit/cli/test_skill_terminal_publish_omn19152.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20071): integration test for terminal envelope retention before broker access
  tests/integration/cli/test_skill_terminal_publish_omn19152_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20509): lane resolution waits out a settle window the deploy agent already reported (#4550)
  .github/actions/resolve-lab-lane/resolve_lab_lane.py
  tests/ci/test_resolve_lab_lane_deploy_wait_omn19811.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20071): retain verdict envelopes before lane publication (#4552)
  src/omnibase_infra/cli/cli_skill.py
  src/omnibase_infra/cli/model_skill_terminal_publish_report.py
  src/omnibase_infra/cli/receipt_mode.py
  src/omnibase_infra/cli/skill_terminal_publish.py
  tests/integration/cli/test_skill_terminal_publish_omn19152_integration.py
  tests/unit/cli/test_skill_terminal_publish_omn19152.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20159): the lakshman lane's runtime-effects reads through the read binding variable, not the runtime binding
  docker/docker-compose.lakshman.yml
  tests/integration/infra/test_lakshman_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20496): the CI bus carries the merge-event and clone-refresh topics with lab-work grants (#4554)
  docker/docker-compose.ci-bus.yml
  tests/unit/docker/test_ci_bus_broker_isolation_omn18691.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17190): --proven installs the proven omnimarket sha without detaching the canonical clone (#4555)
  scripts/reconcile-workspace-venvs.sh
  tests/scripts/test_reconcile_workspace_venvs.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19267): omnimarket drift guard ignores inherited GIT_DIR and GIT_WORK_TREE (#4557)
  scripts/ci/defer_test_passes_driver.py
  src/omnibase_infra/cli/omnimarket_drift_guard.py
  tests/ci/test_contract_compliance_pr_scope.py
  tests/integration/cli/test_omnimarket_drift_guard_process_git_env_omn19267.py
  tests/unit/cli/test_omnimarket_drift_guard_inherited_git_env_omn19267.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20006): vendor usage_by_model_day 0002, measured cost apart from estimates
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_usage_by_model_day/0002_usage_by_model_day_measured_cost.sql
  tests/unit/migrations/test_omn19978_usage_by_model_day_vendor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20008): pin both 094 savings migrations by name, not by prefix
  tests/integration/migrations/test_094_savings_overview_local_token_pct_omn20320.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20527): the deploy agent rebuilds a diverged clone from origin and survives a routing fetch timeout (#4560)
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/deploy_agent/routing.py
  scripts/deploy-agent/tests/unit/test_executor_self_update_diverged_omn20527.py
  scripts/deploy-agent/tests/unit/test_routing_git_timeout_omn20527.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19992): run the native kernel runtime-error bridge test as an integration test
  tests/integration/runtime/test_kernel_runtime_log_bridge_native_omn19992.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19992): register ProtocolRuntimeLogProducer in lockfile and ownership map
  contracts/runtime/runtime_protocol.lock.json
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20533): dev-lane runtime-effects reads tenant BYOK keys with its own read-only Infisical identity (#4561)
  contracts/services/runtime_policy.contract.yaml
  docker/dev-lane-required-env.manifest.txt
  docker/docker-compose.dev-105.yml
  docker/docker-compose.dev-200.yml
  docker/docker-compose.dev-202.yml
  docker/docker-compose.dev-lane.yml
  docker/docker-compose.prepr.yml
  docker/runtime-policy.env
  scripts/render_runtime_policy_env.py
  src/omnibase_infra/runtime/models/model_runtime_process_policy.py
  src/omnibase_infra/runtime/models/model_runtime_profile_policy.py
  tests/integration/infra/test_runtime_effects_tenant_credential_read_omn20533.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19992): container in-memory kernel publishes runtime errors through RuntimeLogEventBridge (#4495)
  contracts/runtime/runtime_protocol.lock.json
  src/omnibase_infra/observability/runtime_log_event_bridge.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_runtime_log_producer.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/runtime/test_kernel_runtime_log_bridge_native_omn19992.py
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
