Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

test(OMN-20147): delete the Consul dual-registration e2e test; the runtime-backed suites tolerate no skip (#4348)
  .github/workflows/reusable-runtime-boot.yml
  config/skip_count_baseline.yaml
  scripts/ci/runtime_boot_suites_skip_guard.yaml
  tests/ci/test_check_integration_skips.py
  tests/integration/registration/e2e/test_runtime_e2e.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19790): vendor the delegation_eval_items projection migrations ahead of omnimarket#3059 (#4315)
  config/migration_classes.yaml
  docker/catalog/bundles.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/fenced-node-migrations.yaml
  docker/migrations/forward/nodes/node_projection_delegation_eval/0000_create_delegation_eval_items.sql
  docker/migrations/forward/nodes/node_projection_delegation_eval/0001_grant_tenant_projection_writer_delegation_eval_items.sql
  docker/migrations/forward/nodes/node_projection_delegation_eval/0002_force_rls_delegation_eval_items.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/migrations/test_omninode_internal_live_acl_gate_omn17886.py
  tests/scripts/test_node_migration_fence_parity.py
  tests/unit/migrations/test_omn19790_delegation_eval_items_vendor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19432): stage and atomically swap dispatch venv provider passes, ending the intermittent onex startup import failure (#4347)
  scripts/reconcile-workspace-venvs.sh
  tests/integration/scripts/test_dispatch_gate_venv_split_omn17819.py
  tests/scripts/test_reconcile_workspace_venvs.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19972): drive the catalog CLI render for the laptop page services end to end
  tests/integration/test_catalog_local_render_page_services_omn19972.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20150): issue each developer machine its own lab bus principal, with no operator step
  deploy/lab/developer-onboarding.yaml
  deploy/lab/developer-principal-grants.yaml
  deploy/lane-census/lane-manifest.yaml
  docker/Dockerfile.principal-issuer
  docker/docker-compose.principal-issuer.yml
  scripts/lab_principal_issuer.py
  tests/scripts/test_lab_principal_issuer_omn20150.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19972): projection-api gets its Kafka bootstrap address so the laptop service stops crash-looping
  docker/catalog/services/projection-api.yaml
Due: onex-validate-contracts

test(OMN-19972): pin the laptop projection API's broker
  tests/integration/test_catalog_local_render_page_services_omn19972.py
  tests/unit/infra/test_catalog_local_profile.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19972): one wait budget for the laptop health step, and tests for every override guard
  .github/workflows/reusable-runtime-boot.yml
  tests/ci/test_runtime_boot_catalog_local_health_omn19972.py
  tests/unit/infra/test_catalog_local_profile.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17427): bump urllib3 to 2.8.0, the fix for two HIGH advisories published 2026-09-30 that fail the lockfile CVE scan on every merge group (#4356)
  docker/runners/runner-image.lock.json
  uv.lock
Due: none

test(OMN-20161): writer-app pin-only exemption in check_occ_companion_merged (red)
  tests/ci/test_check_occ_companion_merged.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20150): declare the principal-issuer lane in the lane block generator's port and boundary maps
  scripts/generate_claude_lane_block.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20161): exempt the OCC writer app from the companion gate only when pin-only is proven
  scripts/ci/check_occ_companion_merged.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-20161): advance occ-preflight and receipt-gate caller pins to the writer-app exemption
  .github/workflows/call-receipt-gate.yml
  .github/workflows/ci.yml
  .github/workflows/hostile-reviewer.yml
  tests/ci/test_writer_app_exemption_pin_omn20161.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-20161): advance the core occ-preflight and receipt-gate caller pins to the writer-app exemption
  .github/workflows/call-receipt-gate.yml
  .github/workflows/ci.yml
  .github/workflows/hostile-reviewer.yml
  tests/ci/test_occ_writer_exemption_pins_omn20161.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17427): bump virtualenv to 21.7.13, the fix for four advisories (PYSEC-2026-4011 to 4014) that fail the lockfile CVE scan on every merge group (#4360)
  docker/runners/runner-image.lock.json
  uv.lock
Due: none

fix(OMN-18971): pull-all.sh requires OMNI_HOME instead of defaulting to a machine-specific volume path (#4351)
  scripts/pull-all.sh
  tests/unit/scripts/test_pull_all_omni_home_required.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19384): Contract Compliance does not run or count an item whose checks declare another repo's cwd (#4353)
  scripts/ci/defer_test_passes_driver.py
  tests/ci/test_contract_compliance_pr_scope.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17292): retire the delegation_eval_items bridge now that the advanced pin declares it
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/unit/migrations/test_omn19790_delegation_eval_items_vendor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20174): scratch base pinning virtualenv 20.36.1 (never merge)
  uv.lock
Due: none

fix(OMN-18595): record the released omnibase_core 0.47.27 seam version and proven-runtime pin
  tests/fixtures/seams/core_release/0.46.11_expected_symbols.json
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18595): regenerate runner image identity lock after rebase onto dev
  docker/runners/runner-image.lock.json
Due: none

OMN-20161: exempt OCC writer app from companion gate only when pin-only is proven (#4359)
  scripts/ci/check_occ_companion_merged.py
  tests/ci/test_check_occ_companion_merged.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19972): the laptop stack serves the pages' exposures and CI proves each service healthy (#4352)
  .github/workflows/reusable-runtime-boot.yml
  docker/catalog/bundles.yaml
  docker/catalog/services/omnimarket-projection-llm-cost.yaml
  docker/catalog/services/projection-api.yaml
  src/omnibase_infra/docker/catalog/generator.py
  src/omnibase_infra/docker/catalog/manifest_schema.py
  src/omnibase_infra/docker/catalog/resolver.py
  tests/ci/test_runtime_boot_catalog_local_health_omn19972.py
  tests/integration/test_catalog_local_render_page_services_omn19972.py
  tests/unit/infra/test_catalog_local_profile.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19432): the unknown-field placement case uses a field the model still forbids, since weight is now declared
  tests/unit/runtime/test_bifrost_lane_overlay_placement_omn19215.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20150): the 201 lane set includes the principal-issuer lane this PR declares
  tests/unit/scripts/test_lane_census_host_scope_omn19088.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20154): vendor the provider_quota_state projection migrations ahead of omnimarket#3134 (#4363)
  config/migration_classes.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/fenced-node-migrations.yaml
  docker/migrations/forward/nodes/node_projection_provider_quota/0000_create_provider_quota_state.sql
  docker/migrations/forward/nodes/node_projection_provider_quota/0001_grant_tenant_projection_writer_provider_quota_state.sql
  docker/migrations/forward/nodes/node_projection_provider_quota/0002_force_rls_provider_quota_state.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/migrations/test_provider_quota_state_omn20154.py
  tests/scripts/test_node_migration_fence_parity.py
  tests/unit/migrations/test_omn20154_provider_quota_state_vendor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-17292): integration proof the delegation_eval_items bridge retirement keeps lineage and grants
  tests/integration/topology/test_delegation_eval_items_bridge_retired_omn17292.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19432): a lane overlay placement carries use_for and weight to the routing authority (#4358)
  src/omnibase_infra/runtime/models/model_bifrost_lane_backend_placement.py
  tests/integration/runtime/test_lane_overlay_placement_weight_and_use_for_omn19432.py
  tests/unit/runtime/test_bifrost_lane_overlay_placement_omn19215.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-19793): vendor node_projection_delegation_eval migrations 0003-0006 from omnimarket
  docker/migrations/forward/nodes/node_projection_delegation_eval/0003_create_delegation_eval_item_verdicts.sql
  docker/migrations/forward/nodes/node_projection_delegation_eval/0004_create_delegation_eval_results.sql
  docker/migrations/forward/nodes/node_projection_delegation_eval/0005_grant_tenant_projection_writer_delegation_eval_run_tables.sql
  docker/migrations/forward/nodes/node_projection_delegation_eval/0006_force_rls_delegation_eval_run_tables.sql
Due: none

feat(OMN-20150): issue each developer machine its own lab bus principal, with no operator step (#4357)
  deploy/lab/developer-onboarding.yaml
  deploy/lab/developer-principal-grants.yaml
  deploy/lane-census/lane-manifest.yaml
  docker/Dockerfile.principal-issuer
  docker/docker-compose.principal-issuer.yml
  scripts/generate_claude_lane_block.py
  scripts/lab_principal_issuer.py
  tests/scripts/test_lab_principal_issuer_omn20150.py
  tests/unit/scripts/test_lane_census_host_scope_omn19088.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19432): the dev lane overlay binds gpt-oss-120b as a weighted spread peer of the Qwen rung (#4365)
  docker/lane-overlays/dev.bifrost.yaml
  tests/fixtures/bifrost_served_models_probe.json
  tests/integration/runtime/test_dev_overlay_places_gpt_oss_omn19432.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-19793): vendor node_projection_delegation_eval migrations 0003-0006
  docker/migrations/forward/nodes/node_projection_delegation_eval/0003_create_delegation_eval_item_verdicts.sql
  docker/migrations/forward/nodes/node_projection_delegation_eval/0004_create_delegation_eval_results.sql
  docker/migrations/forward/nodes/node_projection_delegation_eval/0005_grant_tenant_projection_writer_delegation_eval_run_tables.sql
  docker/migrations/forward/nodes/node_projection_delegation_eval/0006_force_rls_delegation_eval_run_tables.sql
Due: none

fix(OMN-20173): run the Coding Plan endpoint guard inside the required Lint job and add its integration test
  .github/workflows/ci.yml
  .github/workflows/no-coding-plan-endpoint.yml
  tests/integration/ci/test_no_coding_plan_endpoint_omn20173.py
  tests/unit/scripts/test_check_no_coding_plan_endpoint.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-19793): live ACL gate covers the eval-run tables
  tests/integration/migrations/test_omninode_internal_live_acl_gate_omn17886.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19793): vendor delegation eval-run migrations 0003-0006 ahead of omnimarket#3127
  config/migration_classes.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/fenced-node-migrations.yaml
  docker/migrations/forward/nodes/node_projection_delegation_eval/0003_create_delegation_eval_item_verdicts.sql
  docker/migrations/forward/nodes/node_projection_delegation_eval/0004_create_delegation_eval_results.sql
  docker/migrations/forward/nodes/node_projection_delegation_eval/0005_grant_tenant_projection_writer_delegation_eval_run_tables.sql
  docker/migrations/forward/nodes/node_projection_delegation_eval/0006_force_rls_delegation_eval_run_tables.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/scripts/test_node_migration_fence_parity.py
  tests/unit/migrations/test_omn19793_delegation_eval_run_vendor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20174): auto-open one lockfile bump PR when the default branch carries a blocking OSV advisory (#4368)
  .github/workflows/lockfile-cve-autobump.yml
  scripts/ci/lockfile_cve_autobump.py
  tests/ci/test_lockfile_cve_autobump.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20173): a developer principal may write the two delegate-skill terminal topics
  deploy/lab/developer-principal-grants.yaml
  tests/scripts/test_lab_principal_issuer_omn20150.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-20161): advance the core occ-preflight and receipt-gate caller pins to the writer-app exemption (#4364)
  .github/workflows/call-receipt-gate.yml
  .github/workflows/ci.yml
  .github/workflows/hostile-reviewer.yml
  tests/ci/test_occ_writer_exemption_pins_omn20161.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20183): list delegation-seam-gate as a CI Summary enforced context and add the exemption integration test
  config/runner_routing_policy.yaml
  tests/integration/validation/test_unused_exemptions_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
