Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-18399): descendant tolerance for the onex-lab overlay record check (#3584)
  .github/workflows/runtime-rebuild-trigger.yml
  scripts/ci/fetch_lab_overlay_record.py
  scripts/deploy-agent/deploy_agent/health.py
  scripts/deploy-agent/deploy_agent/lab_overlay.py
  scripts/deploy-agent/tests/unit/test_health_lab_overlay_latest_omn18399.py
  scripts/deploy-agent/tests/unit/test_lab_overlay_omn18200.py
  tests/ci/test_fetch_lab_overlay_record_omn18399.py
  tests/ci/test_incident_replay_omn18200.py
  tests/ci/test_lab_overlay_autoapply_omn18200.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18365): routing audit derives repository universe from live visibility, closes two adjacent masking defects (#3583)
  .github/workflows/runner-routing-audit.yml
  scripts/audit-runner-routing.py
  tests/ci/test_runner_routing_audit.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-18402): remove the terminated cloud pre-push host from the table (#3587)
  scripts/hooks/prepush_hosts.tsv
  tests/unit/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18306): an unattributed run names the backends it reached, or says none was (#3588)
  src/omnibase_infra/cli/cli_delegate.py
  tests/integration/cli/test_unattributed_reason_cli.py
  tests/unit/cli/test_unattributed_names_what_failed.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18398): move the ledger-projection topic counts with the contract
  src/omnibase_infra/nodes/node_ledger_projection_compute/contract.yaml
  tests/unit/nodes/test_node_ledger_projection_compute.py
  tests/unit/runtime/test_ledger_projection_dispatch_reachability.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18365): gh repo list does not accept --visibility all
  scripts/audit-runner-routing.py
  tests/ci/test_runner_routing_audit.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-16106): drop the evidence autoclose sweep to a 2-hourly cadence
  .github/workflows/evidence-autoclose-sweep.yml
  tests/ci/test_evidence_autoclose_sweep_apply_input.py
  tests/ci/test_omn_16106_autoclose_apply_concurrency.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_16808_comment_idempotency.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18305): let the caller state its criteria, and fall back permissively (#3586)
  src/omnibase_infra/cli/cli_delegate.py
  src/omnibase_infra/cli/task_class_selection.py
  tests/fixtures/delegation/omn18305/task_class_contracts_probe.yaml
  tests/fixtures/delegation/omn18305/task_class_floors.yaml
  tests/integration/cli/test_delegate_criteria_cli.py
  tests/unit/cli/test_delegate_caller_criteria.py
  tests/unit/cli/test_task_class_selection.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18403): reconciler fails the sync verdict when ~/.local/bin/onex shadows the wrapper (#3589)
  scripts/reconcile-host.sh
  tests/scripts/test_reconcile_host_omn17307.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17372): an Infisical read failure names what caused it
  src/omnibase_infra/runtime/secret_resolver.py
  tests/unit/runtime/test_omn17372_infisical_read_failure_cause.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17379): bound the projection offset withhold so one poison record cannot wedge a partition
  pyproject.toml
  src/omnibase_infra/enums/enum_dlq_failure_class.py
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_projection.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  tests/unit/event_bus/test_omn17379_projection_wedge_bounded.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18398): a delegation-chain write that cannot happen is a typed refusal (#3585)
  scripts/check_subscribe_wiring_health.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/enums/generated/enum_omnimarket_topic.py
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/contract.yaml
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/handlers/handler_delegation_chain_ledger.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/contract.yaml
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/integration/nodes/node_delegation_chain_ledger_effect/test_absent_evidence_refuses_integration.py
  tests/unit/nodes/node_delegation_chain_ledger_effect/test_handler_delegation_chain_ledger.py
  tests/unit/nodes/test_node_ledger_projection_compute.py
  tests/unit/runtime/test_ledger_projection_dispatch_reachability.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to 3038d1dabade [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

test(OMN-17379): prove the wedge and its release across the auto-wiring and consume-loop seams
  tests/integration/event_bus/test_omn17379_projection_wedge_release_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-16642): bump the pinned branch-protection auditor for omniclaude's release-synced main
  .github/workflows/branch-protection-audit.yml
Due: none

chore(OMN-16106): drop the evidence autoclose sweep to a 2-hourly cadence (#3591)
  .github/workflows/evidence-autoclose-sweep.yml
  tests/ci/test_evidence_autoclose_sweep_apply_input.py
  tests/ci/test_omn_16106_autoclose_apply_concurrency.py
  tests/unit/nodes/node_evidence_autoclose_sweep_effect/test_omn_16808_comment_idempotency.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17379): regenerate the runner image identity after the version bump
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-18365): gh repo list does not accept --visibility all (#3590)
  scripts/audit-runner-routing.py
  tests/ci/test_runner_routing_audit.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-17372): an Infisical read failure names what caused it (#3592)
  src/omnibase_infra/runtime/secret_resolver.py
  tests/unit/runtime/test_omn17372_infisical_read_failure_cause.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-16642): bump the pinned branch-protection auditor for omniclaude's release-synced main (#3595)
  .github/workflows/branch-protection-audit.yml
Due: none

fix(OMN-17379): bound the projection offset withhold so one poison record cannot wedge a partition (#3593)
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/enums/enum_dlq_failure_class.py
  src/omnibase_infra/errors/__init__.py
  src/omnibase_infra/errors/error_projection.py
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  tests/integration/event_bus/test_omn17379_projection_wedge_release_integration.py
  tests/unit/event_bus/test_omn17379_projection_wedge_bounded.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-18412): the router refuses to place a private repository on a hosted runner
  .github/workflows/runner-route-probe.yml
  .github/workflows/runner-route-reusable.yml
  scripts/ci/runner_route_decision.py
  tests/ci/test_incident_replay_omn18031.py
  tests/ci/test_runner_route_decision.py
  tests/ci/test_runner_route_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-18205): re-pin the two orphaned omniclaude reusable references
  .github/workflows/call-reject-skip.yml
  .github/workflows/deploy-gate.yml
Due: none

docs(OMN-18413): re-pin the required-checks.yaml doc reference to the same tip
  .github/required-checks.yaml
Due: onex-validate-contracts

ops(OMN-18411): cap the .201 omnibase-ci runner fleet at 60 (from 88)
  config/runner_fleet.yaml
  docker/docker-compose.runners.yml
  tests/ci/test_runner_kubeconfig_mount.py
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18389): the chain canary waits for the writer it grades, and hop 0 publishes under the chain's own identity
  src/omnibase_infra/nodes/node_chain_canary_effect/handlers/handler_chain_canary.py
  src/omnibase_infra/runtime/service_pattern_b_broker.py
  tests/unit/nodes/node_chain_canary_effect/test_handler_chain_canary_ledger.py
  tests/unit/runtime/test_chain_head_identity_omn18389.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18389): the head-hop identity seam lives in tests/integration
  tests/integration/runtime/test_chain_head_identity_seam_omn18389.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
