Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

black-format:
  name: black (auto-format)
  entry: poetry run black
  language: system
  args:
  - --line-length
  - '88'
  - --target-version
  - py312
  stages:
  - commit

isort-format:
  name: isort (auto-sort imports)
  entry: poetry run isort
  language: system
  args:
  - --filter-files
  - --profile
  - black
  - --line-length
  - '88'
  stages:
  - commit

ruff-fix:
  name: ruff (auto-fix linting issues)
  entry: poetry run ruff check --fix
  language: system
  stages:
  - commit

mypy-type-check:
  name: mypy (type checking)
  entry: poetry run mypy
  language: system
  args:
  - --show-error-codes
  - --no-error-summary
  stages:
  - commit

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - commit

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - commit

fix(mixins): remove class-level state default values in MixinNodeIntrospection [OMN-893]
  src/omnibase_infra/mixins/mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(models): address PR #50 review - dict access, docs, test coverage
  src/omnibase_infra/models/registration/model_node_capabilities.py
  src/omnibase_infra/models/registration/model_node_registration.py
  src/omnibase_infra/validation/infra_validators.py
  tests/unit/models/registration/test_model_node_capabilities.py
  tests/unit/models/registration/test_model_node_heartbeat_event.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(models): address PR #50 review - semver utility, docs, test coverage
  src/omnibase_infra/models/registration/model_node_capabilities.py
  src/omnibase_infra/models/registration/model_node_heartbeat_event.py
  src/omnibase_infra/models/registration/model_node_introspection_event.py
  src/omnibase_infra/models/registration/model_node_registration.py
  src/omnibase_infra/utils/__init__.py
  src/omnibase_infra/utils/util_semver.py
  src/omnibase_infra/validation/infra_validators.py
  tests/unit/models/registration/test_model_node_heartbeat_event.py
  tests/unit/validation/test_validator_defaults.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(mixins): add configurable operation keywords and typed cache for MixinNodeIntrospection [OMN-893]
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/discovery/model_node_introspection_event.py
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(models): add registration event models for 2-way registration pattern (#50)
  docs/validation/README.md
  docs/validation/framework_integration.md
  docs/validation/validator_reference.md
  src/omnibase_infra/models/__init__.py
  src/omnibase_infra/models/registration/__init__.py
  src/omnibase_infra/models/registration/model_node_capabilities.py
  src/omnibase_infra/models/registration/model_node_heartbeat_event.py
  src/omnibase_infra/models/registration/model_node_introspection_event.py
  src/omnibase_infra/models/registration/model_node_metadata.py
  src/omnibase_infra/models/registration/model_node_registration.py
  src/omnibase_infra/utils/__init__.py
  src/omnibase_infra/utils/util_semver.py
  src/omnibase_infra/validation/infra_validators.py
  tests/unit/models/__init__.py
  tests/unit/models/registration/__init__.py
  tests/unit/models/registration/test_model_node_capabilities.py
  tests/unit/models/registration/test_model_node_heartbeat_event.py
  tests/unit/models/registration/test_model_node_introspection_event.py
  tests/unit/models/registration/test_model_node_registration.py
  tests/unit/validation/test_validator_defaults.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(models): replace dict[str, JsonValue] with strict typed models (OMN-899)
  CLAUDE.md
  docs/schema/NODE_REGISTRATIONS_SCHEMA.md
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/__init__.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/enum_environment.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_node_introspection_payload.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_node_registration.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_node_registration_metadata.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/node.py
  tests/unit/nodes/test_node_registry_effect.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(mixins): address PR #51 review - performance metrics, security docs, and code quality [OMN-893]
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/registration/model_node_heartbeat_event.py
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

docs(protocols): enhance JsonValue type documentation for PR #49 nitpicks (OMN-890)
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/protocols.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(nodes): implement dual registration reducer with FSM workflow [OMN-889]
  CLAUDE.md
  contracts/fsm/dual_registration_reducer_fsm.yaml
  src/omnibase_infra/models/registration/__init__.py
  src/omnibase_infra/models/registration/model_dual_registration_result.py
  src/omnibase_infra/nodes/__init__.py
  src/omnibase_infra/nodes/reducers/__init__.py
  src/omnibase_infra/nodes/reducers/enums/__init__.py
  src/omnibase_infra/nodes/reducers/enums/enum_fsm_state.py
  src/omnibase_infra/nodes/reducers/enums/enum_fsm_trigger.py
  src/omnibase_infra/nodes/reducers/models/__init__.py
  src/omnibase_infra/nodes/reducers/models/model_aggregation_params.py
  src/omnibase_infra/nodes/reducers/models/model_fsm_context.py
  src/omnibase_infra/nodes/reducers/models/model_fsm_contract.py
  src/omnibase_infra/nodes/reducers/models/model_reducer_metrics.py
  src/omnibase_infra/nodes/reducers/node_dual_registration_reducer.py
  tests/unit/nodes/__init__.py
  tests/unit/nodes/reducers/__init__.py
  tests/unit/nodes/reducers/test_node_dual_registration_reducer_failures.py
  tests/unit/nodes/reducers/test_node_dual_registration_reducer_fsm.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(nodes): add configurable slow threshold, DI docs, and error recovery guidance (OMN-890)
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_node_registry_effect_config.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/node.py
  tests/unit/nodes/test_node_registry_effect.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(nodes): address PR review feedback for dual registration reducer [OMN-889]
  contracts/fsm/dual_registration_reducer_fsm.yaml
  src/omnibase_infra/models/registration/model_dual_registration_result.py
  src/omnibase_infra/nodes/reducers/enums/enum_fsm_trigger.py
  src/omnibase_infra/nodes/reducers/models/model_aggregation_params.py
  src/omnibase_infra/nodes/reducers/models/model_fsm_context.py
  src/omnibase_infra/nodes/reducers/node_dual_registration_reducer.py
  tests/unit/nodes/reducers/test_node_dual_registration_reducer_fsm.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(mixins): implement MixinNodeIntrospection for node capability discovery [OMN-893] (#51)
  CLAUDE.md
  pyproject.toml
  src/omnibase_infra/handlers/handler_db.py
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/__init__.py
  src/omnibase_infra/models/discovery/__init__.py
  src/omnibase_infra/models/discovery/model_node_introspection_event.py
  src/omnibase_infra/plugins/examples/plugin_json_normalizer.py
  src/omnibase_infra/runtime/runtime_host_process.py
  tests/unit/mixins/test_mixin_async_circuit_breaker_race_conditions.py
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(nodes): address PR #52 review feedback for dual registration reducer [OMN-889]
  src/omnibase_infra/nodes/reducers/models/model_aggregation_params.py
  src/omnibase_infra/nodes/reducers/node_dual_registration_reducer.py
  tests/unit/nodes/reducers/test_node_dual_registration_reducer_fsm.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(security): address PR #49 review issues - SQL injection, error handling, tests (OMN-890)
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/node.py
  tests/unit/nodes/test_node_registry_effect.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

[INFRA-MVP] Registry Effect Node Implementation (OMN-890) (#49)
  CLAUDE.md
  docs/architecture/DATABASE_SCHEMA.md
  docs/database/NODE_REGISTRATIONS_SCHEMA.md
  docs/schema/NODE_REGISTRATIONS_SCHEMA.md
  docs/schema/node_registrations.sql
  src/omnibase_infra/nodes/node_registry_effect/__init__.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/__init__.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/contract.yaml
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/__init__.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/enum_environment.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_consul_operation_result.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_node_introspection_payload.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_node_registration.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_node_registration_metadata.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_node_registry_effect_config.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_postgres_operation_result.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_registry_request.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_registry_response.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/node.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/protocols.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/registry/__init__.py
  tests/unit/nodes/__init__.py
  tests/unit/nodes/test_node_registry_effect.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

refactor(nodes): address remaining PR #52 nitpick feedback [OMN-889]
  src/omnibase_infra/handlers/__init__.py
  src/omnibase_infra/handlers/handler_consul.py
  src/omnibase_infra/handlers/models/__init__.py
  src/omnibase_infra/handlers/models/model_consul_handler_payload.py
  src/omnibase_infra/handlers/models/model_consul_handler_response.py
  src/omnibase_infra/nodes/reducers/models/__init__.py
  src/omnibase_infra/nodes/reducers/models/model_fsm_action.py
  src/omnibase_infra/nodes/reducers/models/model_fsm_condition.py
  src/omnibase_infra/nodes/reducers/models/model_fsm_contract.py
  src/omnibase_infra/nodes/reducers/models/model_fsm_error_handling.py
  src/omnibase_infra/nodes/reducers/models/model_fsm_retry_policy.py
  src/omnibase_infra/nodes/reducers/models/model_fsm_state_definition.py
  src/omnibase_infra/nodes/reducers/models/model_fsm_transition_definition.py
  src/omnibase_infra/nodes/reducers/node_dual_registration_reducer.py
  tests/unit/handlers/test_handler_consul.py
  tests/unit/nodes/reducers/test_node_dual_registration_reducer_failures.py
  tests/unit/nodes/reducers/test_node_dual_registration_reducer_fsm.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(nodes): implement container-based DI for NodeRegistryEffect (OMN-901)
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/node.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/registry/__init__.py
  src/omnibase_infra/runtime/container_wiring.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

refactor(nodes): rename RegistryInfraNodeRegistryEffect to RegistryInfraRegistryEffect
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/node.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/registry/__init__.py
  src/omnibase_infra/runtime/container_wiring.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(nodes): address PR #52 release-ready feedback for dual registration reducer [OMN-889]
  src/omnibase_infra/nodes/reducers/models/model_fsm_context.py
  src/omnibase_infra/nodes/reducers/node_dual_registration_reducer.py
  tests/unit/nodes/reducers/test_node_dual_registration_reducer_fsm.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

refactor(nodes): simplify NodeRegistryEffect DI - take container in __init__
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/node.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/registry/__init__.py
  src/omnibase_infra/runtime/container_wiring.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(nodes): address final PR #52 release-ready review feedback [OMN-889]
  contracts/fsm/dual_registration_reducer_fsm.yaml
  src/omnibase_infra/models/registration/model_dual_registration_result.py
  src/omnibase_infra/nodes/reducers/node_dual_registration_reducer.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(nodes): address PR #52 minor improvements for dual registration reducer [OMN-889]
  src/omnibase_infra/nodes/reducers/node_dual_registration_reducer.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(nodes): enhance NodeRegistryEffect with security, error handling, and test coverage
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/contract.yaml
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/node.py
  tests/unit/nodes/test_node_registry_effect.py
  tests/unit/nodes/test_node_registry_effect_init.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(nodes): address all PR #53 review feedback
  CLAUDE.md
  docs/schema/node_registrations.sql
  pyproject.toml
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/contract.yaml
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_node_registration_metadata.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/node.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/protocols.py
  src/omnibase_infra/runtime/container_wiring.py
  tests/integration/nodes/__init__.py
  tests/integration/nodes/test_node_registry_effect_integration.py
  tests/unit/models/registration/test_model_node_registration_metadata.py
  tests/unit/nodes/test_node_registry_effect.py
  tests/unit/nodes/test_node_registry_effect_init.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(nodes): address remaining PR #53 review feedback
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/contract.yaml
  tests/unit/models/registration/test_model_node_registration_metadata.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

[INFRA-MVP] Registry Effect Node Implementation (OMN-890) (#53)
  CLAUDE.md
  docs/schema/node_registrations.sql
  pyproject.toml
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/contract.yaml
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/models/model_node_registration_metadata.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/node.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/protocols.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/registry/__init__.py
  src/omnibase_infra/runtime/container_wiring.py
  tests/integration/nodes/__init__.py
  tests/integration/nodes/test_node_registry_effect_integration.py
  tests/unit/models/registration/test_model_node_registration_metadata.py
  tests/unit/nodes/test_node_registry_effect.py
  tests/unit/nodes/test_node_registry_effect_init.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(kafka): implement contract-driven topic configuration [OMN-881]
  docs/architecture/EVENT_STREAMING_TOPICS.md
  docs/patterns/README.md
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/contract.yaml
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(validators): reduce params with config model, fix contract version format
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/nodes/node_registry_effect/v1_0_0/contract.yaml
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports

docs(kafka): address PR #54 review feedback [OMN-881]
  docs/architecture/EVENT_STREAMING_TOPICS.md
  tests/unit/event_bus/test_kafka_event_bus.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(validators): resolve pattern validator violations for introspection mixin [OMN-918]
  src/omnibase_infra/mixins/mixin_node_introspection.py
  src/omnibase_infra/models/discovery/__init__.py
  src/omnibase_infra/models/discovery/model_introspection_config.py
  src/omnibase_infra/models/discovery/model_node_introspection_event.py
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

feat(introspection): add async cache lock for thread safety [OMN-881]
  src/omnibase_infra/mixins/mixin_node_introspection.py
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

chore(deps): update omnibase-core to 0.5.0 [OMN-918]
  poetry.lock
  pyproject.toml
Due: none

chore(deps): update omnibase-core to 0.5.1 [OMN-918]
  poetry.lock
  pyproject.toml
Due: none

chore(tests): remove unused imports in introspection tests [OMN-918]
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

refactor(nodes): implement pure reducer architecture with typed intents [OMN-889]
  docs/handoffs/HANDOFF_PURE_REDUCER_ARCHITECTURE.md
  poetry.lock
  pyproject.toml
  src/omnibase_infra/models/registration/__init__.py
  src/omnibase_infra/models/registration/model_node_registration_record.py
  src/omnibase_infra/nodes/reducers/models/__init__.py
  src/omnibase_infra/nodes/reducers/models/model_dual_registration_reducer_output.py
  src/omnibase_infra/nodes/reducers/node_dual_registration_reducer.py
  tests/unit/nodes/reducers/test_node_dual_registration_reducer_failures.py
  tests/unit/nodes/reducers/test_node_dual_registration_reducer_fsm.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(introspection): address PR #54 review feedback [OMN-881]
  CHANGELOG.md
  CLAUDE.md
  docs/architecture/EVENT_STREAMING_TOPICS.md
  poetry.lock
  pyproject.toml
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_node_introspection.py
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(introspection): resolve UUID.encode() bug and remove unused import [OMN-918]
  src/omnibase_infra/mixins/mixin_node_introspection.py
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

chore(validation): increase INFRA_MAX_UNIONS from 200 to 250 [OMN-918]
  src/omnibase_infra/validation/infra_validators.py
  tests/unit/validation/test_validator_defaults.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(introspection): resolve second UUID.encode() bug in introspection publish [OMN-918]
  src/omnibase_infra/mixins/mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

fix(introspection): address PR #54 review feedback round 2 [OMN-881]
  CHANGELOG.md
  docs/architecture/EVENT_STREAMING_TOPICS.md
  tests/unit/mixins/test_mixin_node_introspection.py
Due: black-format, isort-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports

Path conditions:
  black-format: any of: \.py$, but not: ^(archived/|tests/fixtures/).*$
  isort-format: any of: \.py$, but not: ^(archived/|tests/fixtures/)
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
