Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-14758): provision DLQ topics + wire loop/phantom readiness + fail-closed handler resolver (S6)
  src/omnibase_infra/event_bus/kafka_transport.py
  src/omnibase_infra/runtime/core_runtime/composition.py
  src/omnibase_infra/runtime/core_runtime/kernel_glue.py
  src/omnibase_infra/runtime/runtime_host_process.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/core_runtime/test_kernel_glue.py
  tests/unit/runtime/test_runtime_host_process.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-14758): align runner identity anchor
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14758): wire delegation command topics onto RuntimeDispatch (S6) (#2341)
  .github/workflows/s6-runtime-seam-gate.yml
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/event_bus/kafka_transport.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/core_runtime/__init__.py
  src/omnibase_infra/runtime/core_runtime/composition.py
  src/omnibase_infra/runtime/core_runtime/dlq_resolver.py
  src/omnibase_infra/runtime/core_runtime/kernel_glue.py
  src/omnibase_infra/runtime/core_runtime/phantom_alarm.py
  src/omnibase_infra/runtime/core_runtime/routing_map_builder.py
  src/omnibase_infra/runtime/core_runtime/single_owner.py
  src/omnibase_infra/runtime/runtime_host_process.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
  tests/integration/runtime/test_s6_delegation_routing_map_binding.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/runtime/core_runtime/__init__.py
  tests/unit/runtime/core_runtime/test_allowlist_no_op_boot.py
  tests/unit/runtime/core_runtime/test_dlq_resolver.py
  tests/unit/runtime/core_runtime/test_kernel_glue.py
  tests/unit/runtime/core_runtime/test_phantom_alarm.py
  tests/unit/runtime/core_runtime/test_routing_map_builder.py
  tests/unit/runtime/core_runtime/test_single_owner.py
  tests/unit/runtime/test_runtime_host_process.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14737): canary Postgres landing table DDL + provisioning runbook (B12)
  docker/migrations/canary/README.md
  docker/migrations/canary/forward/001_create_delivery_replay_canary_projection.sql
  docker/migrations/canary/rollback/rollback_001_delivery_replay_canary_projection.sql
  docs/runbooks/managed-staging-canary-postgres-provisioning.md
Due: onex-validate-markdown-links

feat(OMN-14737): canary Postgres landing table DDL + provisioning runbook (B12) (#2342)
  docker/migrations/canary/README.md
  docker/migrations/canary/forward/001_create_delivery_replay_canary_projection.sql
  docker/migrations/canary/rollback/rollback_001_delivery_replay_canary_projection.sql
  docs/runbooks/managed-staging-canary-postgres-provisioning.md
Due: onex-validate-markdown-links

feat(OMN-14771): single-owner fan-out boot gate (4b) + cross-boundary delegation seam gate (S8 wave-2)
  .github/workflows/delegation-seam-gate.yml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/core_runtime/composition.py
  src/omnibase_infra/runtime/core_runtime/kernel_glue.py
  src/omnibase_infra/runtime/core_runtime/routing_map_builder.py
  src/omnibase_infra/runtime/core_runtime/single_owner.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/runtime/test_s8_delegation_fsm_seam.py
  tests/unit/runtime/core_runtime/test_allowlist_no_op_boot.py
  tests/unit/runtime/core_runtime/test_routing_map_builder.py
  tests/unit/runtime/core_runtime/test_single_owner.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14771): harden core-runtime ownership gate
  src/omnibase_infra/runtime/core_runtime/composition.py
  tests/integration/runtime/test_s8_delegation_fsm_seam.py
  tests/unit/runtime/core_runtime/test_allowlist_no_op_boot.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14771): close runtime seam review gaps
  src/omnibase_infra/runtime/core_runtime/single_owner.py
  tests/integration/runtime/test_s8_delegation_fsm_seam.py
  tests/unit/runtime/core_runtime/test_single_owner.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14771): single-owner fan-out boot gate (4b) + cross-boundary delegation seam gate (S8 wave-2) (#2343)
  .github/workflows/delegation-seam-gate.yml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/core_runtime/composition.py
  src/omnibase_infra/runtime/core_runtime/kernel_glue.py
  src/omnibase_infra/runtime/core_runtime/routing_map_builder.py
  src/omnibase_infra/runtime/core_runtime/single_owner.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/runtime/test_s8_delegation_fsm_seam.py
  tests/unit/runtime/core_runtime/test_allowlist_no_op_boot.py
  tests/unit/runtime/core_runtime/test_routing_map_builder.py
  tests/unit/runtime/core_runtime/test_single_owner.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14794): route ModelRoutingDecision to routing-decision.v1 through any applier
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/unit/runtime/test_dispatch_result_applier_topic_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14795): lock 4b single-owner fail-closed at plugin-managed fan-out-owner trap + actionable error
  src/omnibase_infra/runtime/core_runtime/single_owner.py
  tests/unit/runtime/core_runtime/test_single_owner.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14681): shift deploy-gate deploy-scope DoD left into pre-push (WS7 fan-out)
  .pre-commit-config.yaml
  scripts/ci/check_deploy_scope_dod.py
  tests/ci/test_check_deploy_scope_dod.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14794): route ModelRoutingDecision to routing-decision.v1 through any applier (#2344)
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/unit/runtime/test_dispatch_result_applier_topic_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14681): shift deploy-gate deploy-scope DoD left into pre-push (WS7 fan-out) (#2345)
  .pre-commit-config.yaml
  scripts/ci/check_deploy_scope_dod.py
  tests/ci/test_check_deploy_scope_dod.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14795): lock 4b single-owner fail-closed at plugin-managed fan-out-owner trap + actionable error (#2346)
  src/omnibase_infra/runtime/core_runtime/single_owner.py
  tests/unit/runtime/core_runtime/test_single_owner.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14794): emit a REDUCER's declared published event instead of misclassifying it as a projection
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_reducer_published_event.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-14794): cover reducer published event wiring
  tests/unit/runtime/auto_wiring/test_handler_wiring_reducer_published_event.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14794): emit REDUCER's declared published event (ModelRoutingDecision → output_events, not projection) — upstream of #2344 (#2347)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_reducer_published_event.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14804): regenerate llm-cli-subprocess handler(s) to canonical def-B
  config/validation/handler_dispatch_entrypoint_baseline.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_cli_subprocess.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14804): sync llm inference effect contract
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
Due: onex-validate-contracts

test(OMN-14804): refresh llm inference contract fixtures
  tests/integration/test_omn12816_main_promotion_coverage.py
  tests/integration/test_omn_6659_type_suppression_contract_touch.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-14810): record def-A contract-validate goldens against base_ref
  tests/fixtures/golden/node_contract_validate_compute/file_not_found.json
  tests/fixtures/golden/node_contract_validate_compute/model_compliance.json
  tests/fixtures/golden/node_contract_validate_compute/valid_effect_yaml.json
Due: none

feat(OMN-14810): RSD def-B flip node_contract_validate_compute handler → handle(request)->response
  config/validation/handler_dispatch_entrypoint_baseline.yaml
  src/omnibase_infra/nodes/node_contract_validate_compute/contract.yaml
  src/omnibase_infra/nodes/node_contract_validate_compute/handlers/__init__.py
  src/omnibase_infra/nodes/node_contract_validate_compute/handlers/handler_contract_validate.py
  tests/integration/test_omn_11550_contract_validate_compute.py
  tests/unit/nodes/node_contract_validate_compute/test_handler_contract_validate.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14810): equivalence proof + adequacy receipt + baseline shrink for node_contract_validate_compute def-B flip
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_contract_validate_compute.equivalence.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_contract_validate_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  tests/unit/nodes/node_contract_validate_compute/test_node_contract_validate_compute_golden_equivalence.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-14804): route short dev PR gates to hosted runners
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/duplication-sweep.yml
  .github/workflows/main-target-guard.yml
  .github/workflows/non-dev-base-guard.yml
  .github/workflows/url-authority-gate.yml
Due: none

ci(OMN-14804): route dev PR gates to hosted runners
  .github/workflows/artifact-reconciliation-webhook.yml
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/dep-provenance-gate.yml
  .github/workflows/dispatch-parity-gate.yml
  .github/workflows/dispatcher-route-coverage.yml
  .github/workflows/fresh-deploy-fitness.yml
  .github/workflows/integration-test-check.yml
  .github/workflows/no-bare-compose-teardown.yml
  .github/workflows/node-migration-sync.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/product-readiness-shadow.yml
  .github/workflows/receipt-honesty.yml
  .github/workflows/runner-disk-preflight.yml
  .github/workflows/runner-routing-audit.yml
  .github/workflows/security-scan.yml
  .github/workflows/seed-provenance-check.yml
  .github/workflows/shellcheck-gate.yml
  .github/workflows/skill-node-mapping-sync.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/validate-validator-requirements.yml
Due: none

feat(OMN-14811): wire OCC-autobind trigger (caller -> omniclaude reusable)
  .github/workflows/call-occ-autobind.yml
Due: none

ci(OMN-14804): adapt hosted dev PR side gates
  .github/workflows/artifact-reconciliation-webhook.yml
  .github/workflows/runner-disk-preflight.yml
Due: none

ci(OMN-14804): harden hosted side-gate skips
  .github/workflows/artifact-reconciliation-webhook.yml
  .github/workflows/runner-disk-preflight.yml
Due: none

feat(OMN-14811): add pull_request 'edited' trigger to call-occ-preflight
  .github/workflows/call-occ-preflight.yml
Due: none

ci(OMN-14804): skip hosted disk preflight
  .github/workflows/runner-disk-preflight.yml
Due: none

ci(OMN-14804): ignore hosted boot partitions in disk gate
  .github/workflows/runner-disk-preflight.yml
Due: none

ci(OMN-14804): use dev reusable gate refs
  .github/workflows/call-reject-skip.yml
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/deploy-gate.yml
  .github/workflows/imperative-contract-guard.yml
  .github/workflows/pr-title-check.yml
Due: none

ci(OMN-14804): disable shared env on hosted dev PRs
  .github/workflows/ci.yml
  .github/workflows/product-readiness-shadow.yml
Due: none

ci(OMN-14804): disable shared env on hosted dev PR jobs
  .github/workflows/omni-standards-compliance.yml
Due: none

test(OMN-14804): stabilize offline-idle bounce wait
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-14804): pin reusable workflow refs after owner merges
  .github/workflows/call-reject-skip.yml
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/deploy-gate.yml
  .github/workflows/imperative-contract-guard.yml
  .github/workflows/pr-title-check.yml
  tests/ci/test_ci_workflow_resilience.py
  tests/unit/scripts/test_git_gc_auto.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14819): regenerate node_kafka_replay_compute to canonical def-B
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_kafka_replay_compute.handflip.json
  scripts/ci/adequacy_receipts/omnibase_infra.nodes.node_kafka_replay_compute.json
  scripts/ci/canonical_handler_shape_baseline.py
  scripts/ci/infra-node-allowlist.txt
  src/omnibase_infra/nodes/node_kafka_replay_compute/handlers/deserializer_default.py
  src/omnibase_infra/nodes/node_kafka_replay_compute/handlers/handler_replay.py
  src/omnibase_infra/nodes/node_kafka_replay_compute/protocols/__init__.py
  src/omnibase_infra/nodes/node_kafka_replay_compute/protocols/protocol_replay_envelope.py
  src/omnibase_infra/nodes/node_kafka_replay_compute/protocols/types_kafka_replay.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/nodes/node_kafka_replay_compute/__init__.py
  tests/unit/nodes/node_kafka_replay_compute/_defb_corpus.py
  tests/unit/nodes/node_kafka_replay_compute/test_kafka_replay_defb_omn14819.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-14805): adapt hosted dev PR side gates
  .github/workflows/artifact-reconciliation-webhook.yml
  .github/workflows/runner-disk-preflight.yml
Due: none
