Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$

feat(services): add capability-based node discovery service [OMN-1135]
  poetry.lock
  pyproject.toml
  src/omnibase_infra/models/discovery/__init__.py
  src/omnibase_infra/models/discovery/model_dependency_spec.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_capability_query.py
  src/omnibase_infra/services/__init__.py
  src/omnibase_infra/services/enum_selection_strategy.py
  src/omnibase_infra/services/service_capability_query.py
  src/omnibase_infra/services/service_node_selector.py
  tests/unit/services/test_service_capability_query.py
  tests/unit/services/test_service_node_selector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(validation): implement @allow_any decorator and improve validator robustness [OMN-1276]
  CLAUDE.md
  src/omnibase_infra/decorators/__init__.py
  src/omnibase_infra/decorators/allow_any.py
  src/omnibase_infra/validation/any_type_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): use correct protocols for HandlerContractSource tests
  tests/unit/runtime/test_handler_contract_source.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(security): add validation architecture docs and enhance validator [OMN-1137]
  CLAUDE.md
  docs/decisions/adr-custom-bool-result-models.md
  docs/patterns/security_validation_architecture.md
  src/omnibase_infra/runtime/security_metadata_validator.py
  tests/unit/runtime/test_security_metadata_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(handlers): address PR review security and exception chaining [OMN-1158]
  src/omnibase_infra/handlers/handler_filesystem.py
  src/omnibase_infra/handlers/models/model_filesystem_config.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(validation): add CI check to enforce Any type usage policy [OMN-… (#133)
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/validate.py
  src/omnibase_infra/decorators/__init__.py
  src/omnibase_infra/decorators/allow_any.py
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_any_type_violation.py
  src/omnibase_infra/models/validation/__init__.py
  src/omnibase_infra/models/validation/model_any_type_validation_result.py
  src/omnibase_infra/models/validation/model_any_type_violation.py
  src/omnibase_infra/validation/__init__.py
  src/omnibase_infra/validation/any_type_validator.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/validation/test_any_type_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(security): apply ruff formatting and type annotation to validator [OMN-1137]
  src/omnibase_infra/runtime/security_metadata_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(services): address PR review issues for capability query [OMN-1135]
  src/omnibase_infra/protocols/protocol_capability_query.py
  src/omnibase_infra/services/service_capability_query.py
  src/omnibase_infra/services/service_node_selector.py
  tests/unit/services/test_service_node_selector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(handlers): add critical security validations for FileSystem models [OMN-1160]
  src/omnibase_infra/handlers/filesystem/model_file_system_request.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(handlers): address remaining PR review nitpicks [OMN-1158]
  src/omnibase_infra/handlers/handler_filesystem.py
  src/omnibase_infra/handlers/models/model_filesystem_delete_result.py
  src/omnibase_infra/mixins/mixin_async_circuit_breaker.py
  tests/unit/handlers/test_handler_filesystem.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): correct protocol imports for isinstance checks [OMN-1135]
  tests/unit/runtime/test_handler_contract_source.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(contracts): add FileSystem Handler contract YAML [OMN-1160] (#135)
  src/omnibase_infra/contracts/handlers/filesystem/handler_contract.yaml
  src/omnibase_infra/handlers/filesystem/__init__.py
  src/omnibase_infra/handlers/filesystem/enum_file_system_operation.py
  src/omnibase_infra/handlers/filesystem/model_file_system_request.py
  src/omnibase_infra/handlers/filesystem/model_file_system_result.py
  tests/integration/handlers/test_filesystem_handler_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(compat): remove remaining backwards compatibility re-exports [OMN-1258]
  pyproject.toml
  src/omnibase_infra/handlers/registration_storage/__init__.py
  src/omnibase_infra/handlers/registration_storage/handler_mock_registration_storage.py
  src/omnibase_infra/handlers/registration_storage/handler_postgres_registration_storage.py
  src/omnibase_infra/handlers/registration_storage/models/__init__.py
  src/omnibase_infra/handlers/registration_storage/protocol_registration_storage_handler.py
  tests/integration/handlers/test_registration_storage_handler_swapping.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(runtime): replace manual extraction with ModelHandlerContract Pydantic model [OMN-1132]
  src/omnibase_infra/models/runtime/__init__.py
  src/omnibase_infra/models/runtime/model_handler_contract.py
  src/omnibase_infra/runtime/handler_plugin_loader.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/runtime/handler_plugin_loader/test_load_from_directory.py
  tests/unit/runtime/handler_plugin_loader/test_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(projector): address PR review feedback for SQL safety and type compliance
  src/omnibase_infra/models/projectors/model_projector_column.py
  src/omnibase_infra/models/projectors/model_projector_index.py
  src/omnibase_infra/models/projectors/model_projector_schema.py
  src/omnibase_infra/models/projectors/util_sql_identifiers.py
  src/omnibase_infra/protocols/protocol_event_projector.py
  src/omnibase_infra/protocols/protocol_projector_schema_validator.py
  src/omnibase_infra/runtime/projector_plugin_loader.py
  tests/unit/runtime/test_handler_contract_source.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(services): address PR review issues for capability query [OMN-1135]
  src/omnibase_infra/models/discovery/model_dependency_spec.py
  src/omnibase_infra/services/service_capability_query.py
  src/omnibase_infra/services/service_node_selector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(security): add HandlerSecurityValidator [OMN-1137] (#137)
  CLAUDE.md
  docs/decisions/adr-custom-bool-result-models.md
  docs/patterns/security_validation_architecture.md
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_security_rule_id.py
  src/omnibase_infra/enums/enum_validation_severity.py
  src/omnibase_infra/models/security/__init__.py
  src/omnibase_infra/models/security/model_security_error.py
  src/omnibase_infra/models/security/model_security_validation_result.py
  src/omnibase_infra/models/security/model_security_warning.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/security_metadata_validator.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/models/security/__init__.py
  tests/unit/models/security/test_security_validation_result.py
  tests/unit/runtime/test_security_metadata_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(projector): address PR review feedback for BC aliases and runtime safety
  src/omnibase_infra/models/projectors/model_projector_column.py
  src/omnibase_infra/models/projectors/model_projector_index.py
  src/omnibase_infra/models/projectors/model_projector_schema.py
  src/omnibase_infra/protocols/__init__.py
  src/omnibase_infra/protocols/protocol_event_projector.py
  src/omnibase_infra/protocols/protocol_projector_schema_validator.py
  src/omnibase_infra/runtime/__init__.py
  src/omnibase_infra/runtime/projector_plugin_loader.py
  src/omnibase_infra/runtime/projector_schema_manager.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/runtime/test_projector_schema_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(services): address final PR review feedback [OMN-1135]
  pyproject.toml
  src/omnibase_infra/services/enum_selection_strategy.py
  src/omnibase_infra/services/service_capability_query.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(handlers): address final PR review issues for HandlerFileSystem [OMN-1158]
  src/omnibase_infra/handlers/handler_filesystem.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): address all PR #114 review feedback [OMN-1258]
  pyproject.toml
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_dict_like_accessors.py
  src/omnibase_infra/models/dispatch/model_dispatch_error.py
  src/omnibase_infra/models/registration/model_node_capabilities.py
  src/omnibase_infra/nodes/reducers/registration_reducer.py
  src/omnibase_infra/plugins/models/model_plugin_context.py
  src/omnibase_infra/plugins/models/model_plugin_input_data.py
  src/omnibase_infra/plugins/models/model_plugin_output_data.py
  src/omnibase_infra/runtime/container_wiring.py
  src/omnibase_infra/runtime/models/model_policy_context.py
  src/omnibase_infra/runtime/models/model_policy_result.py
  src/omnibase_infra/utils/util_semver.py
  tests/helpers/replay_utils.py
  tests/integration/nodes/test_intent_flow_integration.py
  tests/unit/mixins/test_mixin_dict_like_accessors.py
  tests/unit/nodes/reducers/test_reducer_performance.py
  tests/unit/nodes/reducers/test_registration_reducer.py
  tests/unit/test_cryptography_compatibility.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types, reducer-purity-check

fix(runtime): address PR #134 areas for improvement [OMN-1132]
  src/omnibase_infra/models/runtime/model_handler_contract.py
  src/omnibase_infra/runtime/handler_plugin_loader.py
  tests/unit/runtime/handler_plugin_loader/conftest.py
  tests/unit/runtime/handler_plugin_loader/test_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): add xfail marker for redis architecture violation [OMN-255]
  tests/ci/test_architecture_compliance.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(handlers): add MCP handler and streamable HTTP transport [OMN-1288]
  pyproject.toml
  src/omnibase_infra/contracts/handlers/mcp/handler_contract.yaml
  src/omnibase_infra/enums/enum_infra_transport_type.py
  src/omnibase_infra/handlers/__init__.py
  src/omnibase_infra/handlers/handler_mcp.py
  src/omnibase_infra/handlers/mcp/__init__.py
  src/omnibase_infra/handlers/mcp/adapter_onex_to_mcp.py
  src/omnibase_infra/handlers/mcp/transport_streamable_http.py
  src/omnibase_infra/handlers/models/mcp/__init__.py
  src/omnibase_infra/handlers/models/mcp/enum_mcp_operation_type.py
  src/omnibase_infra/handlers/models/mcp/model_mcp_handler_config.py
  src/omnibase_infra/handlers/models/mcp/model_mcp_tool_call.py
  src/omnibase_infra/handlers/models/mcp/model_mcp_tool_result.py
  src/omnibase_infra/runtime/handler_registry.py
  tests/unit/handlers/test_handler_mcp.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-contracts, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(test): remove backwards compatibility shim from test file [OMN-1258]
  tests/unit/runtime/test_handler_contract_source.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(services): address all PR review issues for capability query [OMN-1135]
  src/omnibase_infra/models/discovery/model_dependency_spec.py
  src/omnibase_infra/projectors/projection_reader_registration.py
  src/omnibase_infra/services/service_capability_query.py
  src/omnibase_infra/services/service_node_selector.py
  tests/unit/models/discovery/__init__.py
  tests/unit/models/discovery/test_model_dependency_spec.py
  tests/unit/projectors/test_projection_reader_registration.py
  tests/unit/services/test_service_capability_query.py
  tests/unit/services/test_service_node_selector.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(handlers): address additional PR review enhancements [OMN-1158]
  src/omnibase_infra/handlers/handler_filesystem.py
  tests/integration/handlers/test_handler_filesystem_integration.py
  tests/unit/handlers/test_handler_filesystem.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(mixins): use canonical ProtocolEventBusLike from protocols [OMN-255]
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/protocol_event_bus_like.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(handlers): add HandlerFileSystem with secure filesystem operatio… (#136)
  src/omnibase_infra/enums/enum_infra_transport_type.py
  src/omnibase_infra/errors/error_infra.py
  src/omnibase_infra/handlers/__init__.py
  src/omnibase_infra/handlers/handler_filesystem.py
  src/omnibase_infra/handlers/models/__init__.py
  src/omnibase_infra/handlers/models/model_filesystem_config.py
  src/omnibase_infra/handlers/models/model_filesystem_delete_payload.py
  src/omnibase_infra/handlers/models/model_filesystem_delete_result.py
  src/omnibase_infra/handlers/models/model_filesystem_directory_entry.py
  src/omnibase_infra/handlers/models/model_filesystem_ensure_directory_payload.py
  src/omnibase_infra/handlers/models/model_filesystem_ensure_directory_result.py
  src/omnibase_infra/handlers/models/model_filesystem_list_directory_payload.py
  src/omnibase_infra/handlers/models/model_filesystem_list_directory_result.py
  src/omnibase_infra/handlers/models/model_filesystem_read_payload.py
  src/omnibase_infra/handlers/models/model_filesystem_read_result.py
  src/omnibase_infra/handlers/models/model_filesystem_write_payload.py
  src/omnibase_infra/handlers/models/model_filesystem_write_result.py
  src/omnibase_infra/mixins/mixin_async_circuit_breaker.py
  tests/integration/handlers/test_handler_filesystem_integration.py
  tests/unit/handlers/test_handler_filesystem.py
  tests/unit/mixins/test_mixin_async_circuit_breaker.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(review): address PR #114 review feedback [OMN-1258]
  CLAUDE.md
  pyproject.toml
  src/omnibase_infra/handlers/handler_consul.py
  src/omnibase_infra/handlers/handler_db.py
  tests/integration/mixins/test_mixin_node_introspection_private_method_exclusion.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(runtime): add correlation ID auto-generation, distinct error codes, and base_path tests [OMN-1132]
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_handler_loader_error.py
  src/omnibase_infra/runtime/handler_plugin_loader.py
  src/omnibase_infra/runtime/protocol_handler_plugin_loader.py
  tests/unit/runtime/handler_plugin_loader/__init__.py
  tests/unit/runtime/handler_plugin_loader/test_correlation_id_auto_generation.py
  tests/unit/runtime/handler_plugin_loader/test_error_codes.py
  tests/unit/runtime/handler_plugin_loader/test_explicit_base_path.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(services): address remaining PR review issues for capability query [OMN-1135]
  src/omnibase_infra/models/discovery/model_dependency_spec.py
  src/omnibase_infra/services/service_capability_query.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(mixins): enforce canonical imports for ModelIntrospectionConfig and ProtocolEventBusLike [OMN-255]
  docs/architecture/EVENT_STREAMING_TOPICS.md
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/protocol_event_bus_like.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(projector): address final PR #138 review feedback
  src/omnibase_infra/models/projectors/model_projector_column.py
  src/omnibase_infra/models/projectors/model_projector_schema.py
  src/omnibase_infra/models/projectors/util_sql_identifiers.py
  src/omnibase_infra/runtime/projector_plugin_loader.py
  src/omnibase_infra/runtime/projector_schema_manager.py
  tests/unit/runtime/test_projector_schema_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(mcp): address PR #140 review feedback and CI failures [OMN-1288]
  poetry.lock
  pyproject.toml
  src/omnibase_infra/handlers/mcp/adapter_onex_to_mcp.py
  src/omnibase_infra/handlers/mcp/transport_streamable_http.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(services): address all PR #139 review issues [OMN-1135]
  src/omnibase_infra/services/service_capability_query.py
  src/omnibase_infra/services/service_node_selector.py
  tests/integration/services/__init__.py
  tests/integration/services/test_service_capability_query_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runtime): correct misleading protocol validation error message [OMN-1132]
  src/omnibase_infra/runtime/handler_plugin_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(mcp): address PR review feedback and add integration tests [OMN-1288]
  poetry.lock
  pyproject.toml
  src/omnibase_infra/handlers/mcp/adapter_onex_to_mcp.py
  src/omnibase_infra/handlers/mcp/transport_streamable_http.py
  tests/integration/handlers/test_mcp_handler_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(mixins): remove deprecated protocol file and refactor tests [OMN-255]
  src/omnibase_infra/mixins/protocol_event_bus_like.py
  tests/ci/test_architecture_compliance.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-patterns, onex-validate-unions, onex-validate-imports, onex-validate-any-types
