Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

feat(OMN-11198): add /v1/introspection/manifest endpoint (internal only) (#1640)
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/services/service_health.py
  tests/integration/services/test_introspection_endpoint_integration.py
  tests/unit/runtime/test_introspection_router.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11187): sanitize exception text in projection terminal event error log
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11066): mark pattern-b-dispatch topic as plugin_managed to prevent DLQ routing (#1629)
  src/omnibase_infra/nodes/node_runtime_orchestrator/contract.yaml
  tests/unit/runtime/test_node_subscription_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11208): add seed provenance enforcement (advisory) (#1643)
  .github/workflows/seed-provenance-check.yml
  scripts/check_seed_provenance.py
  tests/unit/scripts/test_seed_provenance_check.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11069): align overlay integration API
  tests/integration/overlay/test_overlay_boot_integration.py
  tests/integration/overlay/test_overlay_end_to_end.py
  tests/integration/overlay/test_overlay_resolver_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11069): tighten overlay secret warning
  src/omnibase_infra/runtime/overlay/overlay_writer.py
  tests/unit/runtime/overlay/test_overlay_writer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11069): add OverlayWriter + cold-start detection (#1618)
  contracts/OMN-11069.yaml
  src/omnibase_infra/runtime/overlay/boot_overlay.py
  src/omnibase_infra/runtime/overlay/errors.py
  src/omnibase_infra/runtime/overlay/model_overlay_env_injection_result.py
  src/omnibase_infra/runtime/overlay/model_overlay_resolution_manifest.py
  src/omnibase_infra/runtime/overlay/model_overlay_resolution_result.py
  src/omnibase_infra/runtime/overlay/overlay_config_resolver.py
  src/omnibase_infra/runtime/overlay/overlay_file_loader.py
  src/omnibase_infra/runtime/overlay/overlay_from_env.py
  src/omnibase_infra/runtime/overlay/overlay_writer.py
  tests/integration/overlay/test_overlay_boot_integration.py
  tests/integration/overlay/test_overlay_end_to_end.py
  tests/integration/overlay/test_overlay_resolver_integration.py
  tests/integration/test_overlay_writer_coldstart_integration.py
  tests/unit/runtime/overlay/__init__.py
  tests/unit/runtime/overlay/test_cold_start.py
  tests/unit/runtime/overlay/test_overlay_writer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11069): add OverlayFileLoader with error taxonomy
  src/omnibase_infra/runtime/overlay/__init__.py
  src/omnibase_infra/runtime/overlay/errors.py
  src/omnibase_infra/runtime/overlay/overlay_file_loader.py
  tests/unit/runtime/overlay/test_overlay_file_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11069): add integration tests for OverlayFileLoader
  tests/integration/runtime/test_overlay_file_loader_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-11069): add ticket contract with deploy DoD evidence
  contracts/OMN-11069.yaml
Due: onex-validate-contracts

feat(OMN-11069): add OverlayConfigResolver with frozen result models
  src/omnibase_infra/runtime/overlay/__init__.py
  src/omnibase_infra/runtime/overlay/errors.py
  src/omnibase_infra/runtime/overlay/model_overlay_env_injection_result.py
  src/omnibase_infra/runtime/overlay/model_overlay_resolution_result.py
  src/omnibase_infra/runtime/overlay/overlay_config_resolver.py
  tests/unit/runtime/overlay/conftest.py
  tests/unit/runtime/overlay/test_overlay_config_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11069): add integration tests for OverlayConfigResolver
  tests/integration/runtime/test_overlay_config_resolver_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11069): add overlay_from_env_dict + onboarding overlay generation
  src/omnibase_infra/nodes/node_onboarding_orchestrator/handlers/handler_onboarding.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11069): add overlay_from_env_dict + onboarding overlay generation
  src/omnibase_infra/nodes/node_onboarding_orchestrator/handlers/handler_onboarding.py
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/model_onboarding_input.py
  src/omnibase_infra/runtime/overlay/overlay_from_env.py
  src/omnibase_infra/runtime/overlay/overlay_writer.py
  tests/unit/nodes/node_onboarding_orchestrator/test_handler_onboarding_interactive.py
  tests/unit/runtime/overlay/test_overlay_from_env.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11069): add overload signatures to overlay_from_env_dict for mypy narrowing
  src/omnibase_infra/runtime/overlay/overlay_from_env.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11069): clear overlay generation CodeQL findings
  src/omnibase_infra/runtime/overlay/overlay_from_env.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11069): sync onboarding overlay contract
  src/omnibase_infra/nodes/node_onboarding_orchestrator/contract.yaml
Due: onex-validate-contracts

test(OMN-11069): use secure overlay fixture URLs
  tests/integration/runtime/test_overlay_file_loader_integration.py
  tests/unit/runtime/overlay/test_overlay_from_env.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11069): reject blank onboarding output paths
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/model_onboarding_input.py
  tests/unit/nodes/node_onboarding_orchestrator/test_handler_onboarding_interactive.py
  tests/unit/runtime/overlay/conftest.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11069): preserve path-based overlay resolution
  src/omnibase_infra/runtime/overlay/overlay_config_resolver.py
  src/omnibase_infra/runtime/overlay/overlay_from_env.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11069): avoid resolver compatibility redefinition
  src/omnibase_infra/runtime/overlay/overlay_config_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11201): add integration coverage for data_provenance plumbing
  tests/integration/projections/__init__.py
  tests/integration/projections/test_data_provenance_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11201): add data_provenance to projection tables
  docker/migrations/forward/078_add_data_provenance_to_projection_tables.sql
  src/omnibase_infra/models/projection/model_contract_projection.py
  src/omnibase_infra/models/projection/model_registration_projection.py
  src/omnibase_infra/models/projection/model_topic_projection.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_contract_upsert.py
  src/omnibase_infra/nodes/node_contract_registry_reducer/contract_registration_event_router.py
  src/omnibase_infra/nodes/node_contract_registry_reducer/models/model_payload_upsert_contract.py
  src/omnibase_infra/nodes/node_contract_registry_reducer/reducer.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/nodes/node_contract_registry_reducer/test_data_provenance_flow.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11199): declare projection contracts for existing handlers
  pyproject.toml
  src/omnibase_infra/models/projection/projection_contract_registry.py
  tests/unit/models/projection/test_projection_contract_registry.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11207): add evidence bundle writer utility
  src/omnibase_infra/utils/util_evidence_bundle_writer.py
  tests/unit/utils/test_evidence_bundle_writer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11207): resolve CodeQL findings on evidence bundle writer
  src/omnibase_infra/utils/util_evidence_bundle_writer.py
  tests/unit/utils/test_evidence_bundle_writer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11207): guard evidence hash comparison
  tests/integration/utils/test_evidence_bundle_writer_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11207): reject path-traversal correlation_id + refuse overwrite
  src/omnibase_infra/utils/util_evidence_bundle_writer.py
  tests/unit/utils/test_evidence_bundle_writer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11207): add integration coverage for evidence bundle writer
  tests/integration/utils/__init__.py
  tests/integration/utils/test_evidence_bundle_writer_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11201): regenerate fingerprint, update contract, add ticket contract
  contracts/OMN-11201.yaml
  docker/migrations/schema_fingerprint.sha256
  src/omnibase_infra/nodes/node_contract_persistence_effect/contract.yaml
Due: onex-validate-contracts
