Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-15645): bind DELEGATION_ROUTING_TIERS_PATH on .201 compose lanes (#2620)
  docker/Dockerfile.runtime
  docker/docker-compose.infra.yml
  tests/ci/test_env_parity.py
  tests/ci/test_runtime_env_anchor.py
  tests/integration/infra/test_dev_runtime_compose_render.py
  tests/integration/infra/test_judge_compose_render.py
  tests/integration/infra/test_prod_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/docker/test_delegation_routing_tiers_path_binding_omn15645.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15628): bind DELEGATION_ROUTING_TIERS_PATH in every runtime compose lane + bidirectional env parity gate (#2621)
  docker/docker-compose.e2e.yml
  docker/docker-compose.infra.yml
  docker/docker-compose.judge.yml
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15628): repair the #2620/#2621 duplicate-key collision that put dev red
  docker/docker-compose.e2e.yml
  docker/docker-compose.infra.yml
  docker/docker-compose.judge.yml
  tests/ci/test_env_parity.py
  tests/unit/infra/test_compose_no_silent_fallbacks.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15628): repair the #2620/#2621 duplicate-key collision that put dev red (#2622)
  docker/docker-compose.e2e.yml
  docker/docker-compose.infra.yml
  docker/docker-compose.judge.yml
  tests/ci/test_env_parity.py
  tests/unit/infra/test_compose_no_silent_fallbacks.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15604): content-lineage gate for git-pinned first-party deps, closes escape-token blind spot
  .github/workflows/ci.yml
  scripts/check_dep_provenance.py
  scripts/ci/ci_summary_gate.py
  tests/integration/ci/test_dep_provenance_lineage_live_omn15604.py
  tests/scripts/test_check_dep_provenance_lineage_omn15604.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15604): content-lineage gate for git-pinned first-party deps, closes escape-token blind spot (#2624)
  .github/workflows/ci.yml
  scripts/check_dep_provenance.py
  scripts/ci/ci_summary_gate.py
  tests/integration/ci/test_dep_provenance_lineage_live_omn15604.py
  tests/scripts/test_check_dep_provenance_lineage_omn15604.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(deps): refresh omninode sibling locks [bot]
  uv.lock
Due: none

fix(OMN-15604): remediation -- deliver AC3 escape-token expiry, AC4 cascade no-op surfacing, close AC2 range-constraint bypass
  .github/workflows/ci.yml
  .github/workflows/dependency-cascade.yml
  scripts/check_dep_provenance.py
  tests/ci/test_auto_tag_release_dispatch.py
  tests/integration/ci/test_dep_provenance_lineage_live_omn15604.py
  tests/scripts/test_check_dep_provenance_lineage_omn15604.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13902): refresh runner image identity for sibling lock PR
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-15604): remediation -- deliver AC3 escape-token expiry, AC4 cascade no-op surfacing, close AC2 range-constraint bypass (#2626)
  .github/workflows/ci.yml
  .github/workflows/dependency-cascade.yml
  scripts/check_dep_provenance.py
  tests/ci/test_auto_tag_release_dispatch.py
  tests/integration/ci/test_dep_provenance_lineage_live_omn15604.py
  tests/scripts/test_check_dep_provenance_lineage_omn15604.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15604): close AC3 mandatory-until= residual, drop dead _declared_versions
  scripts/check_dep_provenance.py
  tests/integration/ci/test_dep_provenance_lineage_live_omn15604.py
  tests/scripts/test_check_dep_provenance_lineage_omn15604.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15567): keep judge projection API routing opt-out
  docker/docker-compose.judge.yml
Due: none

chore(deps, OMN-13902): refresh omninode sibling locks [bot] (#2627)
  docker/runners/runner-image.lock.json
  uv.lock
Due: none

fix(OMN-15567): bind runtime policy env keys in infra compose
  docker/docker-compose.infra.yml
Due: none

fix(OMN-15604): close AC3 mandatory-until= residual, drop dead _declared_versions (#2629)
  scripts/check_dep_provenance.py
  tests/integration/ci/test_dep_provenance_lineage_live_omn15604.py
  tests/scripts/test_check_dep_provenance_lineage_omn15604.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15567): cover boundary DLQ compose env fixture
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15567): keep judge projection API routing opt-out (#2628)
  docker/docker-compose.infra.yml
  docker/docker-compose.judge.yml
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(topology, OMN-15656): derive object_type:TABLE grants from node contracts
  .github/workflows/ci.yml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  scripts/generate_application_database_table_grants.py
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_application_database_domain_enforcement_contract.py
  tests/fixtures/omn15547/onex-dev-topology-zero-table-grants.yaml.captured
  tests/helpers/application_db_topology.py
  tests/incident_replays/registry.yaml
  tests/integration/db/test_projection_writer_tenant_rls_omn15301.py
  tests/integration/projectors/test_handler_wiring_projection_dispatch.py
  tests/integration/runtime/test_projection_dispatch_tenant_authority_context.py
  tests/integration/runtime/test_projection_handler_db_injection_integration.py
  tests/integration/test_sync_db_adapter_composite_conflict_key.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_db_injection.py
  tests/unit/runtime/auto_wiring/test_projection_domain_adapters.py
  tests/unit/topology/test_application_database_table_grants.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15656): drop dead pattern flag from parity debt
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15659): unblock infra dev — resolve dead-flag audit vs reverse env-parity deadlock
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(topology, OMN-15656): derive object_type:TABLE grants from node contracts so strict wiring can pass (#2630)
  .github/workflows/ci.yml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  scripts/generate_application_database_table_grants.py
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_application_database_domain_enforcement_contract.py
  tests/ci/test_env_parity.py
  tests/fixtures/omn15547/onex-dev-topology-zero-table-grants.yaml.captured
  tests/helpers/application_db_topology.py
  tests/incident_replays/registry.yaml
  tests/integration/db/test_projection_writer_tenant_rls_omn15301.py
  tests/integration/projectors/test_handler_wiring_projection_dispatch.py
  tests/integration/runtime/test_projection_dispatch_tenant_authority_context.py
  tests/integration/runtime/test_projection_handler_db_injection_integration.py
  tests/integration/test_sync_db_adapter_composite_conflict_key.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_db_injection.py
  tests/unit/runtime/auto_wiring/test_projection_domain_adapters.py
  tests/unit/topology/test_application_database_table_grants.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15659): unblock infra dev — resolve dead-flag audit vs reverse env-parity deadlock (#2631)
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15567): remediation round 2 -- judge projection-api DELEGATION_ROUTING_TIERS_PATH opt-out, revert false kafka marker, POSTGRES_PORT re-emit, observable network-disconnect verification
  .github/workflows/nightly-integration.yml
  tests/integration/test_monitor_alert_emitter_integration.py
  tests/unit/docker/test_nightly_e2e_runner_connectivity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15567): bound subprocess.run calls with explicit timeouts (hardening)
  tests/unit/docker/test_nightly_e2e_runner_connectivity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15567): assert postgres port re-emits in docker DNS path
  tests/unit/docker/test_nightly_e2e_runner_connectivity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15567): resolve nightly e2e runner-topology connectivity after redpanda SIGILL confound clears
  .github/workflows/nightly-integration.yml
  tests/integration/test_consumer_health_pipeline.py
  tests/integration/test_runtime_log_bridge_pipeline.py
  tests/unit/docker/test_nightly_e2e_runner_connectivity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15567): remediation round -- kafka marker, mapfile portability, Docker-DNS host cross-wiring, network-leak teardown
  .github/workflows/nightly-integration.yml
  tests/integration/test_monitor_alert_emitter_integration.py
  tests/unit/docker/test_nightly_e2e_runner_connectivity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15567): keep live kafka tests out of standard CI shard
  tests/integration/runtime/test_steel_dispatch_golden_chain_live_runtime.py
  tests/integration/test_consumer_health_pipeline.py
  tests/integration/test_runtime_log_bridge_pipeline.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15567): exclude live verification kafka tests from standard shard
  tests/integration/runtime/test_golden_chain_live_runtime.py
  tests/integration/verification/test_registration_contract_verify.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15567): resolve nightly e2e runner-topology connectivity after SIGILL confound clears (#2623)
  .github/workflows/nightly-integration.yml
  tests/integration/runtime/test_golden_chain_live_runtime.py
  tests/integration/runtime/test_steel_dispatch_golden_chain_live_runtime.py
  tests/integration/test_consumer_health_pipeline.py
  tests/integration/test_runtime_log_bridge_pipeline.py
  tests/integration/verification/test_registration_contract_verify.py
  tests/unit/docker/test_nightly_e2e_runner_connectivity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15655): derive tenant_projection_writer TABLE grants for the nine house-tenant relations
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  src/omnibase_infra/topology/application_database.py
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  tests/unit/topology/test_application_database_topology.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15590): bound + fail-loud the pull-all.sh drift-repair stage
  scripts/pull-all.sh
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15590): bound + fail-loud the pull-all.sh drift-repair stage (#2635)
  scripts/pull-all.sh
  tests/unit/scripts/test_pull_all.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15676): ship runner_fleet.yaml into the runtime image + assert every required config path inside the built image
  .github/workflows/build-and-push-runtime.yml
  .github/workflows/build-workspace-candidate-runtime.yml
  docker/Dockerfile.runtime
  scripts/ci/assert_image_config_paths.py
  scripts/ci/check_incident_replay_coverage.py
  src/omnibase_infra/runtime/required_image_config_paths.py
  tests/ci/test_assert_image_config_paths.py
  tests/fixtures/omn15676/runtime-image-config-probe-403b6092.txt.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15655): refresh tenant writer vendored node migrations
  docker/migrations/forward/nodes/node_canary_score_reducer/0002_capability_scores_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_context_roi/003_context_roi_scores_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_cost_summary/0002_llm_cost_aggregates_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_delegation/0030_delegation_budget_state_house_tenant_rekey.sql
  docker/migrations/forward/nodes/node_projection_dep_health/002_dep_health_findings_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_instruction_eval/0002_instruction_eval_aggregate_snapshots_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_pattern_learning/0001_pattern_learning_artifacts_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_routing_decision/0022_agent_routing_decisions_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_skill_executions/0002_skill_execution_snapshots_tenant_id_and_rls.sql
Due: none

fix(OMN-15676): ship runner_fleet.yaml into the runtime image + assert every required config path inside the built image (#2636)
  .github/workflows/build-and-push-runtime.yml
  .github/workflows/build-workspace-candidate-runtime.yml
  docker/Dockerfile.runtime
  scripts/ci/assert_image_config_paths.py
  scripts/ci/check_incident_replay_coverage.py
  src/omnibase_infra/runtime/required_image_config_paths.py
  tests/ci/test_assert_image_config_paths.py
  tests/fixtures/omn15676/runtime-image-config-probe-403b6092.txt.captured
  tests/incident_replays/registry.yaml
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15655): declare house tenant migration tranche
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_canary_score_reducer/0002_capability_scores_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_context_roi/003_context_roi_scores_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_cost_summary/0002_llm_cost_aggregates_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_dep_health/002_dep_health_findings_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_instruction_eval/0002_instruction_eval_aggregate_snapshots_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_pattern_learning/0001_pattern_learning_artifacts_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_routing_decision/0022_agent_routing_decisions_tenant_id_and_rls.sql
  docker/migrations/forward/nodes/node_projection_skill_executions/0002_skill_execution_snapshots_tenant_id_and_rls.sql
  scripts/ci/check_application_database_sql.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
