Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

onex-validate-architecture:
  name: ONEX Architecture Validation
  entry: poetry run python scripts/validate.py architecture
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-architecture-layers:
  name: ONEX Architecture Layer Validation
  entry: poetry run python scripts/validate.py architecture_layers
  language: system
  pass_filenames: false
  stages:
  - pre-push

onex-validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validate.py contracts
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-patterns:
  name: ONEX Pattern Validation
  entry: poetry run python scripts/validate.py patterns
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-naming:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py src/omnibase_infra --errors-only
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-unions:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validate.py unions
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-imports:
  name: ONEX Circular Import Check
  entry: poetry run python scripts/validate.py imports
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-any-types:
  name: ONEX Any Type Validation
  entry: poetry run python scripts/validate.py any_types
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-declarative-nodes:
  name: ONEX Declarative Node Validation
  entry: poetry run python scripts/validate.py declarative_nodes
  language: system
  pass_filenames: false
  stages:
  - pre-push

reducer-purity-check:
  name: Reducer Purity Enforcement
  entry: poetry run pytest tests/unit/nodes/reducers/test_reducer_purity.py -v --tb=short --timeout=60 --timeout-method=thread
  language: system
  pass_filenames: false
  stages:
  - pre-commit

onex-validate-markdown-links:
  name: ONEX Markdown Link Validation
  entry: poetry run python scripts/validate.py markdown_links
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-15700): match savings-estimator test double to auto_offset_reset_override seam
  tests/integration/runtime/test_savings_estimator_subscription_group.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15832): extend per-contract topic provisioning to projection_api + fix extractor expose-check gap (#2716)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/tools/contract_topic_extractor.py
  tests/unit/runtime/auto_wiring/test_omn15832_projection_topics_provisioned.py
  tests/unit/tools/test_contract_topic_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15819): address 2 new CodeRabbit threads on re-review
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_live_events/0002_create_omninode_internal_live_events.sql
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(OMN-15700): derive savings consumer groups canonically (#2681)
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/runtime/test_savings_estimator_subscription_group.py
  tests/unit/services/observability/savings_estimation/test_consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15819): node-owned live_events replacement + CI gate for cross-DB flat migrations (#2711)
  docker/migrations/forward/098_create_omninode_internal_schema.sql
  docker/migrations/forward/099_create_omninode_internal_live_events.sql
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/cross-database-flat-migrations.yaml
  docker/migrations/forward/nodes/node_projection_live_events/0002_create_omninode_internal_live_events.sql
  docker/migrations/schema_fingerprint.sha256
  scripts/ci/check_flat_migration_foreign_connect.py
  tests/ci/test_flat_migration_no_foreign_connect_gate.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15838): remove racy row-count reconciliation from 099; fix(OMN-15837): repin stale consumer-group version
  docker/migrations/forward/099_create_omninode_internal_live_events.sql
  scripts/ci/check_application_database_sql.py
  scripts/runtime_build/consumer_groups_stability.yaml
  tests/integration/migrations/test_099_omninode_internal_live_events_omn15359.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15838): regenerate stale schema fingerprint artifact
  docker/migrations/schema_fingerprint.sha256
Due: none

fix(OMN-15838): remove racy row-count reconciliation from 099 + fix(OMN-15837): repin stale consumer-group version (#2717)
  docker/migrations/forward/099_create_omninode_internal_live_events.sql
  docker/migrations/schema_fingerprint.sha256
  scripts/ci/check_application_database_sql.py
  scripts/runtime_build/consumer_groups_stability.yaml
  tests/integration/migrations/test_099_omninode_internal_live_events_omn15359.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15846): cross-DB disposition for 083/096/097 — node-owned log_entries + tombstone 096/097
  docker/migrations/forward/083_create_log_entries.sql
  docker/migrations/forward/096_grant_role_omnidash_omnidash_analytics.sql
  docker/migrations/forward/097_grant_app_dashboard_connect_omnidash_analytics.sql
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/cross-database-flat-migrations.yaml
  docker/migrations/forward/flat-node-shape-parity.yaml
  docker/migrations/forward/nodes/node_log_persistence_effect/0000_create_log_entries.sql
  docker/migrations/schema_fingerprint.sha256
  tests/ci/test_flat_migration_no_foreign_connect_gate.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15800): catalog wiring for the live-events projection writer
  docker/catalog/bundles.yaml
  docker/catalog/services/omnimarket-projection-live-events.yaml
  tests/unit/infra/test_omn8738_compose_migration_manifests.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15800): register live-events in the application-DSN consumer catalog
  docker/catalog/database-consumers.yaml
Due: onex-validate-contracts

fix(OMN-15846): schema-qualify log_entries + exempt tombstoned 083/096 from OMN-15361 gate
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_log_persistence_effect/0000_create_log_entries.sql
  scripts/ci/check_application_database_sql.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15846): sync CodeRabbit fixes for log_entries + exempt its reconciliation DO blocks
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_log_persistence_effect/0000_create_log_entries.sql
  scripts/ci/check_application_database_sql.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15846): regenerate application-database topology grants for log_entries
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_log_persistence_effect/0000_create_log_entries.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
Due: onex-validate-contracts

feat(OMN-15800): catalog wiring for live-events projection writer (#2718)
  docker/catalog/bundles.yaml
  docker/catalog/database-consumers.yaml
  docker/catalog/services/omnimarket-projection-live-events.yaml
  tests/unit/infra/test_omn8738_compose_migration_manifests.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15846): cross-DB disposition for 083/096/097 (#2719)
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/083_create_log_entries.sql
  docker/migrations/forward/096_grant_role_omnidash_omnidash_analytics.sql
  docker/migrations/forward/097_grant_app_dashboard_connect_omnidash_analytics.sql
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/cross-database-flat-migrations.yaml
  docker/migrations/forward/flat-node-shape-parity.yaml
  docker/migrations/forward/nodes/node_log_persistence_effect/0000_create_log_entries.sql
  docker/migrations/schema_fingerprint.sha256
  scripts/ci/check_application_database_sql.py
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  tests/ci/test_flat_migration_no_foreign_connect_gate.py
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15860): install pydantic before the OMN-15676 config-paths assertion step
  .github/workflows/build-and-push-runtime.yml
Due: none

fix(OMN-15860): install pydantic before the OMN-15676 config-paths assertion step (#2720)
  .github/workflows/build-and-push-runtime.yml
Due: none

chore(OMN-15792): bump node_bus_forwarder_effect contract patch version for handler_forward_outbound resolver swap (Contract Sync Gate, OMN-8915)
  src/omnibase_infra/nodes/node_bus_forwarder_effect/contract.yaml
Due: onex-validate-contracts

fix(OMN-15792): unify the third resolver on the publish path + wire outbound publish + swallow-boundary regression coverage
  src/omnibase_infra/nodes/node_bus_forwarder_effect/handlers/handler_forward_outbound.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_gateway_topic_transform.py
  src/omnibase_infra/utils/util_onex_topic_format.py
  tests/unit/nodes/node_bus_forwarder_effect/test_omn_15792_topic_resolver_seam.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_tenant_scoped_ingress.py
  tests/unit/utils/test_util_onex_topic_format.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15792): single runtime topic resolver for tenant-aware physical topic addressing
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_gateway_topic_transform.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/nodes/node_bus_forwarder_effect/test_omn_15792_topic_resolver_seam.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-15792): fix stale deleted-symbol comment in tenant_scoped_ingress_schema.py
  src/omnibase_infra/validators/tenant_scoped_ingress_schema.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15792): single runtime topic resolver — contract + envelope tenant context -> physical topic, both publish and subscribe paths
  src/omnibase_infra/nodes/node_bus_forwarder_effect/contract.yaml
  src/omnibase_infra/nodes/node_bus_forwarder_effect/handlers/handler_forward_outbound.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/services/service_gateway_topic_transform.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/utils/util_onex_topic_format.py
  src/omnibase_infra/validators/tenant_scoped_ingress_schema.py
  tests/unit/nodes/node_bus_forwarder_effect/test_omn_15792_topic_resolver_seam.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_tenant_scoped_ingress.py
  tests/unit/utils/test_util_onex_topic_format.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Add gateway claims to OmniWeb Keycloak contract
  docker/keycloak/desired-clients.json
  scripts/tests/test_keycloak_desired_clients_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15750): satisfy protocol-ownership + subscribe-wiring gates
  scripts/check_subscribe_wiring_health.py
  tests/unit/contracts/test_protocol_ownership.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15750): gateway attach/session control-plane effect node (G6)
  docker/docker-compose.gateway-attach-test-lane.yml
  pyproject.toml
  scripts/ci/infra-node-allowlist.txt
  scripts/proof/gateway_attach_e2e_proof.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/__init__.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/contract.yaml
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_attach.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_detach.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_heartbeat.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/__init__.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/enum_gateway_session_event_type.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/enum_gateway_session_status.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_attach_config.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_attach_request.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_attach_response.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_detach_request.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_detach_response.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_heartbeat_request.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_heartbeat_response.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_session.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_session_event.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/node.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/__init__.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/protocol_gateway_session_store.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/service_keycloak_token_validator.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/store_gateway_session_memory.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/nodes/node_gateway_attach_effect/__init__.py
  tests/unit/nodes/node_gateway_attach_effect/test_handlers.py
  tests/unit/nodes/node_gateway_attach_effect/test_service_keycloak_token_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-15750): resolve red gates + CodeRabbit threads on gateway attach node
  src/omnibase_infra/nodes/node_gateway_attach_effect/__init__.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/contract.yaml
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_attach.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_heartbeat.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_attach_config.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_session_event.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/service_keycloak_token_validator.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/unit/nodes/node_gateway_attach_effect/test_handlers.py
  tests/unit/nodes/node_gateway_attach_effect/test_service_keycloak_token_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15750): regen runner-image digest + wire keycloak_issuer_ref validation
  docker/runners/runner-image.lock.json
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_attach.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/service_keycloak_token_validator.py
  tests/unit/nodes/node_gateway_attach_effect/test_handlers.py
  tests/unit/nodes/node_gateway_attach_effect/test_service_keycloak_token_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15750): gateway attach/session control-plane effect node (G6) (#2694)
  docker/docker-compose.gateway-attach-test-lane.yml
  docker/runners/runner-image.lock.json
  pyproject.toml
  scripts/check_subscribe_wiring_health.py
  scripts/ci/infra-node-allowlist.txt
  scripts/proof/gateway_attach_e2e_proof.py
  src/omnibase_infra/enums/generated/enum_omnibase_infra_topic.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/__init__.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/contract.yaml
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_attach.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_detach.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_heartbeat.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/__init__.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/enum_gateway_session_event_type.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/enum_gateway_session_status.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_attach_config.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_attach_request.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_attach_response.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_detach_request.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_detach_response.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_heartbeat_request.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_heartbeat_response.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_session.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_session_event.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/node.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/__init__.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/protocol_gateway_session_store.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/service_keycloak_token_validator.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/store_gateway_session_memory.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/nodes/node_gateway_attach_effect/__init__.py
  tests/unit/nodes/node_gateway_attach_effect/test_handlers.py
  tests/unit/nodes/node_gateway_attach_effect/test_service_keycloak_token_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

Keep OmniWeb tokens outside gateway attach
  docker/keycloak/desired-clients.json
  scripts/tests/test_keycloak_desired_clients_contract.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15918): node_gateway_attach_effect hardening — JWKS signature verification, identity binding, atomic transitions, outage/revocation split
  src/omnibase_infra/nodes/node_gateway_attach_effect/contract.yaml
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_attach.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_detach.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_heartbeat.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_attach_config.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_detach_request.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/protocol_gateway_session_store.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/service_keycloak_token_validator.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/store_gateway_session_memory.py
  tests/unit/nodes/node_gateway_attach_effect/_jwt_test_support.py
  tests/unit/nodes/node_gateway_attach_effect/test_handlers.py
  tests/unit/nodes/node_gateway_attach_effect/test_service_keycloak_token_validator.py
  tests/unit/nodes/node_gateway_attach_effect/test_store_gateway_session_memory.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15959): delete zombie handler_llm_cli_subprocess.py from node_llm_inference_effect
  .github/workflows/hostile-reviewer.yml
  src/omnibase_infra/models/coding_agent/enum_cli_backend_status.py
  src/omnibase_infra/nodes/node_coding_agent_invoke_effect/handlers/handler_coding_agent_invoke.py
  src/omnibase_infra/nodes/node_llm_inference_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_inference_effect/handlers/handler_llm_cli_subprocess.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/integration/handlers/test_handler_autowiring_compliance.py
  tests/integration/test_handler_autowiring_compliance_followup.py
  tests/scripts/test_validate_pr_contract_sync.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess_claude_opencode.py
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess_execution.py
  tests/unit/runtime/auto_wiring/test_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15979): admit Integration Test Removal Gate into EXPECTED_EXTERNAL_CONTEXTS
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/omn15496_merge_time_external_check_runs.json
  tests/ci/fixtures/omn15979_merge_time_external_check_runs.json
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15918): node_gateway_attach_effect hardening — JWKS signature verification, identity binding, atomic transitions, outage/revocation split (#2727)
  src/omnibase_infra/nodes/node_gateway_attach_effect/contract.yaml
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_attach.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_detach.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/handlers/handler_gateway_heartbeat.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_attach_config.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/models/model_gateway_detach_request.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/protocol_gateway_session_store.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/service_keycloak_token_validator.py
  src/omnibase_infra/nodes/node_gateway_attach_effect/services/store_gateway_session_memory.py
  tests/unit/nodes/node_gateway_attach_effect/_jwt_test_support.py
  tests/unit/nodes/node_gateway_attach_effect/test_handlers.py
  tests/unit/nodes/node_gateway_attach_effect/test_service_keycloak_token_validator.py
  tests/unit/nodes/node_gateway_attach_effect/test_store_gateway_session_memory.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15978): bind gateway operations to command topics
  src/omnibase_infra/nodes/node_gateway_attach_effect/contract.yaml
  tests/unit/nodes/node_gateway_attach_effect/test_contract_routing.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15978): refresh dispatch selection oracle
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
Due: none

fix(OMN-15978): bind gateway operations to command topics (#2729)
  src/omnibase_infra/nodes/node_gateway_attach_effect/contract.yaml
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/unit/nodes/node_gateway_attach_effect/test_contract_routing.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$
