Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-17486): retire migration 107 until the seam provisions the claim principal and schema (#3569)
  .github/workflows/ci.yml
  docker/migrations/forward/107_create_action_authorization_nonce_claim.sql
  docker/migrations/forward/_ledger/retired-flat-migrations.tsv
  docker/migrations/rollback/rollback_107_create_action_authorization_nonce_claim.sql
  docker/migrations/schema_fingerprint.sha256
  tests/ci/test_ci_workflow_resilience.py
  tests/integration/runtime/action_authorization_claim/test_postgres16_acl.py
  tests/integration/runtime/action_authorization_claim/test_postgres16_concurrency.py
  tests/integration/runtime/action_authorization_claim/test_postgres16_restart.py
  tests/unit/db/test_migration_107_retired_omn17486.py
  tests/unit/migrations/test_action_authorization_nonce_claim_sql.py
  tests/unit/runtime/action_authorization_claim/test_adapter_postgres.py
  tests/unit/runtime/action_authorization_claim/test_restricted_principal.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18388): harden dev lane convergence polling
  .github/workflows/runtime-rebuild-trigger.yml
  scripts/ci/check_dev_lane_staleness.py
  tests/ci/test_dev_lane_staleness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18388): converge the compose-dev lab pass on a descendant of the merge sha (#3570)
  .github/workflows/runtime-rebuild-trigger.yml
  scripts/ci/check_dev_lane_staleness.py
  tests/ci/test_dev_lane_staleness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16459): a duplicate idempotency_key header silently collapsed to the last value
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/kafka_transport.py
  tests/unit/event_bus/test_kafka_event_bus.py
  tests/unit/event_bus/test_kafka_transport_protocol_conformance.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16979): govern all capture egress topics
  src/omnibase_infra/nodes/node_bus_forwarder_effect/contract.yaml
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_forwarder_config.py
  tests/unit/nodes/node_bus_forwarder_effect/test_egress_redaction_omn16979.py
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_forwarder_config.py
  tests/unit/nodes/node_bus_forwarder_effect/test_provisioning_sync_omn17201.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16979): govern capture egress precisely
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_egress_redaction.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_forwarder_config.py
  tests/unit/nodes/node_bus_forwarder_effect/test_egress_redaction_omn16979.py
  tests/unit/nodes/node_bus_forwarder_effect/test_https_ingest_omn16459.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17034.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-16459): cover the duplicate idempotency_key refusal through the public consume path
  tests/integration/event_bus/test_kafka_duplicate_idempotency_key_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-16979): cover gateway egress redaction integration
  tests/integration/infra/test_gateway_egress_redaction_omn16979.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14894): release node migration 0041 on the compose dev lab lane
  docker/migrations/forward/fenced-node-migrations.yaml
  scripts/run-forward-migrations.sh
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16831): the runtime carries the tenant dimension across a hop
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/unit/runtime/test_tenant_dimension_carriage.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16459): a duplicate idempotency_key header silently collapsed to the last value (#3571)
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/kafka_transport.py
  tests/integration/event_bus/test_kafka_duplicate_idempotency_key_integration.py
  tests/unit/event_bus/test_kafka_event_bus.py
  tests/unit/event_bus/test_kafka_transport_protocol_conformance.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16831): the applier can see the envelope it is originating from
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/runtime/test_tenant_dimension_seam_omn16831.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(migrations): retain hook envelope UUID (OMN-17201) (#3484)
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_hook_event_capture/0003_add_hook_events_envelope_id.sql
  tests/unit/scripts/validation/test_application_migration_manifest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-14894): release node migration 0041 on the compose dev lab lane (#3572)
  docker/migrations/forward/fenced-node-migrations.yaml
  scripts/run-forward-migrations.sh
  tests/scripts/test_node_migration_fence_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18391): catch a Keycloak-minted client secret no consumer holds
  docker/keycloak/desired-clients.json
  scripts/seed-keycloak-clients.py
  tests/unit/scripts/test_seed_keycloak_clients_consumer_secret_fingerprint_guard.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-18172): run the stored-synthetic proof in integration-guard, fail closed without Postgres
  .github/workflows/ci.yml
  scripts/ci/integration_skip_guard.yaml
  tests/integration/chains/test_chain_canary_stored_traffic_class_omn18172.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18172): prove the canary's stored delegation row reads traffic_class=synthetic
  tests/integration/chains/test_chain_canary_stored_traffic_class_omn18172.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16831): the runtime carries the tenant dimension across a hop (#3573)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/integration/runtime/test_tenant_dimension_seam_omn16831.py
  tests/unit/runtime/test_tenant_dimension_carriage.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18390): drop unused output_model from node_delegation_chain_ledger_effect
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/contract.yaml
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/handlers/handler_delegation_chain_ledger.py
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/models/__init__.py
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/models/model_ledger_chain_write_result.py
  src/omnibase_infra/validation/linter_contract.py
  tests/unit/nodes/node_delegation_chain_ledger_effect/test_handler_delegation_chain_ledger.py
  tests/unit/validation/test_contract_linter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-17292): advance omnimarket contract pin to fa7f0d26f37a [bot]
  .github/omnimarket-contract-pin.yaml
Due: onex-validate-contracts

feat(OMN-18392): add a credential-free customer-plane runner pair to the lab fleet
  docker/docker-compose.runners.yml
  tests/ci/test_customer_plane_runner_credential_free_omn18392.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18390): add integration coverage for the undeliverable-output fix
  tests/integration/nodes/node_delegation_chain_ledger_effect/test_no_undeliverable_output_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-16979): harden egress redaction proof
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_forwarder_config.py
  tests/integration/infra/test_gateway_egress_redaction_omn16979.py
  tests/unit/nodes/node_bus_forwarder_effect/test_egress_redaction_omn16979.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18172): move the stored-synthetic proof out of the no-live-service chains allowlist
  .github/workflows/ci.yml
  scripts/ci/integration_skip_guard.yaml
  tests/integration/db/test_chain_canary_stored_traffic_class_omn18172.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-18392): add a credential-free customer-plane runner pair to the lab fleet (#3578)
  docker/docker-compose.runners.yml
  tests/ci/test_customer_plane_runner_credential_free_omn18392.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18390): align effect output and linter guard
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/handlers/handler_delegation_chain_ledger.py
  src/omnibase_infra/validation/linter_contract.py
  tests/integration/nodes/node_delegation_chain_ledger_effect/test_no_undeliverable_output_integration.py
  tests/unit/nodes/node_delegation_chain_ledger_effect/test_handler_delegation_chain_ledger.py
  tests/unit/validation/test_contract_linter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18391): catch a Keycloak-minted client secret no consumer holds (#3574)
  docker/keycloak/desired-clients.json
  scripts/seed-keycloak-clients.py
  tests/unit/scripts/test_seed_keycloak_clients_consumer_secret_fingerprint_guard.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18390): drop unused output_model from node_delegation_chain_ledger_effect (#3576)
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/contract.yaml
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/handlers/handler_delegation_chain_ledger.py
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/models/__init__.py
  src/omnibase_infra/nodes/node_delegation_chain_ledger_effect/models/model_ledger_chain_write_result.py
  src/omnibase_infra/validation/linter_contract.py
  tests/integration/nodes/node_delegation_chain_ledger_effect/test_no_undeliverable_output_integration.py
  tests/unit/nodes/node_delegation_chain_ledger_effect/test_handler_delegation_chain_ledger.py
  tests/unit/validation/test_contract_linter.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-16979): align capture egress fixtures
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_outbound_flat_record_omn17981.py
  tests/unit/runtime/test_gateway_forwarder_runtime.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-18172): guard stored traffic class proof
  tests/integration/db/test_chain_canary_stored_traffic_class_omn18172.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-16979): govern all capture egress topics (#3488)
  src/omnibase_infra/nodes/node_bus_forwarder_effect/contract.yaml
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_egress_redaction.py
  src/omnibase_infra/nodes/node_bus_forwarder_effect/models/model_gateway_forwarder_config.py
  tests/integration/infra/test_gateway_egress_redaction_omn16979.py
  tests/unit/nodes/node_bus_forwarder_effect/test_egress_redaction_omn16979.py
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_forwarder_config.py
  tests/unit/nodes/node_bus_forwarder_effect/test_gateway_outbound_flat_record_omn17981.py
  tests/unit/nodes/node_bus_forwarder_effect/test_https_ingest_omn16459.py
  tests/unit/nodes/node_bus_forwarder_effect/test_lane_mirror_omn17034.py
  tests/unit/nodes/node_bus_forwarder_effect/test_provisioning_sync_omn17201.py
  tests/unit/runtime/test_gateway_forwarder_runtime.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
