Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

fix(OMN-1742): Use UUID consistently for correlation_id, remove string unions
  src/omnibase_infra/runtime/request_response_wiring.py
  src/omnibase_infra/validation/infra_validators.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1742): Clean up test code quality issues
  tests/integration/runtime/test_request_response_wiring_integration.py
  tests/unit/runtime/test_request_response_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1845): Address PR review issues for contract persistence
  src/omnibase_infra/nodes/node_contract_persistence_effect/__init__.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_cleanup_topics.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_contract_upsert.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_deactivate.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_heartbeat.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_mark_stale.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_topic_update.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/node.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/registry/registry_infra_contract_persistence_effect.py
  src/omnibase_infra/projectors/projection_reader_contract.py
  src/omnibase_infra/services/registry_api/models/model_contract_ref.py
  src/omnibase_infra/services/registry_api/models/model_response_topics.py
  src/omnibase_infra/services/registry_api/models/model_topic_summary.py
  src/omnibase_infra/services/registry_api/models/model_topic_view.py
  tests/unit/nodes/node_contract_persistence_effect/handlers/test_handlers_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-1845): Standardize error codes and reuse TopicDirection type
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_heartbeat.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_mark_stale.py
  src/omnibase_infra/services/registry_api/models/model_topic_summary.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1845): Add EnumPostgresErrorCode for strong typing
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_postgres_error_code.py
  src/omnibase_infra/nodes/effects/models/model_backend_result.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_cleanup_topics.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_contract_upsert.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_deactivate.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_heartbeat.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_mark_stale.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_topic_update.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/models/model_persistence_result.py
  tests/unit/models/projection/test_contract_projection_models.py
  tests/unit/nodes/node_contract_persistence_effect/handlers/test_handlers_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1845): Address code review issues for contract persistence
  src/omnibase_infra/nodes/node_contract_persistence_effect/contract.yaml
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_cleanup_topics.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_deactivate.py
  src/omnibase_infra/projectors/projection_reader_contract.py
  src/omnibase_infra/services/registry_api/models/model_contract_view.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1845): Address PR review issues - batch queries, pagination, consistency
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_heartbeat.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_mark_stale.py
  src/omnibase_infra/projectors/projection_reader_contract.py
  src/omnibase_infra/services/registry_api/service.py
  tests/unit/nodes/node_contract_persistence_effect/handlers/test_handlers_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1845): Implement NodeContractPersistenceEffect and contract/… (#232)
  src/omnibase_infra/enums/__init__.py
  src/omnibase_infra/enums/enum_postgres_error_code.py
  src/omnibase_infra/models/projection/__init__.py
  src/omnibase_infra/models/projection/model_contract_projection.py
  src/omnibase_infra/models/projection/model_topic_projection.py
  src/omnibase_infra/nodes/effects/models/model_backend_result.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/__init__.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/contract.yaml
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_cleanup_topics.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_contract_upsert.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_deactivate.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_heartbeat.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_mark_stale.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_topic_update.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/models/__init__.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/models/model_persistence_result.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/node.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/registry/__init__.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/registry/registry_infra_contract_persistence_effect.py
  src/omnibase_infra/projectors/__init__.py
  src/omnibase_infra/projectors/projection_reader_contract.py
  src/omnibase_infra/services/registry_api/models/__init__.py
  src/omnibase_infra/services/registry_api/models/model_contract_ref.py
  src/omnibase_infra/services/registry_api/models/model_contract_view.py
  src/omnibase_infra/services/registry_api/models/model_response_contracts.py
  src/omnibase_infra/services/registry_api/models/model_response_topics.py
  src/omnibase_infra/services/registry_api/models/model_topic_summary.py
  src/omnibase_infra/services/registry_api/models/model_topic_view.py
  src/omnibase_infra/services/registry_api/routes.py
  src/omnibase_infra/services/registry_api/service.py
  src/omnibase_infra/validation/validation_exemptions.yaml
  tests/unit/models/projection/test_contract_projection_models.py
  tests/unit/nodes/node_contract_persistence_effect/__init__.py
  tests/unit/nodes/node_contract_persistence_effect/handlers/__init__.py
  tests/unit/nodes/node_contract_persistence_effect/handlers/test_handlers_postgres.py
  tests/unit/nodes/node_contract_persistence_effect/handlers/test_normalize_topic.py
  tests/unit/projectors/test_projection_reader_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-1867): Address CodeRabbit review feedback for contract persistence
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/__init__.py
  src/omnibase_infra/projectors/projection_reader_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1867): Complete CodeRabbit review feedback for contract persistence
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_postgres_error_handler.py
  src/omnibase_infra/services/registry_api/models/model_contract_view.py
  src/omnibase_infra/services/registry_api/routes.py
  tests/unit/nodes/node_contract_persistence_effect/handlers/test_normalize_topic.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-1867): Apply MixinPostgresErrorResponse to all 6 handlers
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_cleanup_topics.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_contract_upsert.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_deactivate.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_heartbeat.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_mark_stale.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_topic_update.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-1867): Add integration tests for MixinPostgresErrorResponse
  src/omnibase_infra/projectors/projection_reader_contract.py
  tests/integration/mixins/test_mixin_postgres_error_handler.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1857): Extract MixinPostgresOpExecutor and relocate ModelBackendResult
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_postgres_op_executor.py
  src/omnibase_infra/models/__init__.py
  src/omnibase_infra/models/model_backend_result.py
  src/omnibase_infra/nodes/effects/__init__.py
  src/omnibase_infra/nodes/effects/models/__init__.py
  src/omnibase_infra/nodes/effects/models/model_registry_response.py
  src/omnibase_infra/nodes/effects/protocol_consul_client.py
  src/omnibase_infra/nodes/effects/protocol_postgres_adapter.py
  src/omnibase_infra/nodes/effects/registry_effect.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_cleanup_topics.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_contract_upsert.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_deactivate.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_heartbeat.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_mark_stale.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_topic_update.py
  src/omnibase_infra/nodes/node_registry_effect/models/__init__.py
  tests/integration/registration/e2e/test_two_way_registration_e2e.py
  tests/integration/registration/effect/test_doubles.py
  tests/integration/registration/effect/test_protocol_compliance.py
  tests/unit/mixins/test_mixin_postgres_op_executor.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_consul_deregister.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_consul_register.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_partial_retry.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_postgres_deactivate.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_postgres_upsert.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-1867): Rename mixin file to match class name per CLAUDE.md
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_postgres_error_response.py
  tests/integration/mixins/test_mixin_postgres_error_response.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1867): Address CodeRabbit review feedback for contract persistence (#233)
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_postgres_error_response.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/__init__.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_cleanup_topics.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_contract_upsert.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_deactivate.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_heartbeat.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_mark_stale.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_topic_update.py
  src/omnibase_infra/projectors/projection_reader_contract.py
  src/omnibase_infra/services/registry_api/models/model_contract_view.py
  src/omnibase_infra/services/registry_api/routes.py
  tests/integration/mixins/test_mixin_postgres_error_response.py
  tests/unit/nodes/node_contract_persistence_effect/handlers/test_normalize_topic.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Re-export ModelBackendResult from nodes/effects/models for backward compat
  src/omnibase_infra/nodes/effects/models/__init__.py
  tests/integration/mixins/test_mixin_postgres_error_response.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1857): Extract MixinPostgresOpExecutor and relocate ModelBac… (#234)
  src/omnibase_infra/mixins/__init__.py
  src/omnibase_infra/mixins/mixin_postgres_op_executor.py
  src/omnibase_infra/models/__init__.py
  src/omnibase_infra/models/model_backend_result.py
  src/omnibase_infra/nodes/effects/__init__.py
  src/omnibase_infra/nodes/effects/models/__init__.py
  src/omnibase_infra/nodes/effects/models/model_registry_response.py
  src/omnibase_infra/nodes/effects/protocol_consul_client.py
  src/omnibase_infra/nodes/effects/protocol_postgres_adapter.py
  src/omnibase_infra/nodes/effects/registry_effect.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_cleanup_topics.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_contract_upsert.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_deactivate.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_heartbeat.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_mark_stale.py
  src/omnibase_infra/nodes/node_contract_persistence_effect/handlers/handler_postgres_topic_update.py
  src/omnibase_infra/nodes/node_registry_effect/models/__init__.py
  tests/integration/mixins/test_mixin_postgres_error_response.py
  tests/integration/registration/e2e/test_two_way_registration_e2e.py
  tests/integration/registration/effect/test_doubles.py
  tests/integration/registration/effect/test_protocol_compliance.py
  tests/unit/mixins/test_mixin_postgres_op_executor.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_consul_deregister.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_consul_register.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_partial_retry.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_postgres_deactivate.py
  tests/unit/nodes/node_registry_effect/handlers/test_handler_postgres_upsert.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: bump omnibase-core to 0.13.1, migrate DB repository models
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/omnibase_infra/__init__.py
  src/omnibase_infra/runtime/db/__init__.py
  src/omnibase_infra/runtime/db/models/__init__.py
  src/omnibase_infra/runtime/db/models/model_db_operation.py
  src/omnibase_infra/runtime/db/models/model_db_param.py
  src/omnibase_infra/runtime/db/models/model_db_repository_contract.py
  src/omnibase_infra/runtime/db/models/model_db_return.py
  src/omnibase_infra/runtime/db/models/model_db_safety_policy.py
  tests/integration/event_bus/test_dlq_integration.py
  tests/integration/event_bus/test_kafka_event_bus_integration.py
  tests/integration/runtime/db/test_postgres_repository_runtime_integration.py
  tests/unit/runtime/db/test_postgres_repository_runtime.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-1869): Wire ServiceKernel to Kafka with ContractRegistrationEventRouter
  contracts/runtime/runtime_config.yaml
  src/omnibase_infra/enums/enum_consumer_group_purpose.py
  src/omnibase_infra/nodes/contract_registry_reducer/__init__.py
  src/omnibase_infra/nodes/contract_registry_reducer/contract_registration_event_router.py
  src/omnibase_infra/runtime/models/model_contract_registry_config.py
  src/omnibase_infra/runtime/models/model_runtime_config.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/nodes/contract_registry_reducer/__init__.py
  tests/unit/nodes/contract_registry_reducer/test_contract_registration_event_router.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1869): Address code review feedback for PR #235
  src/omnibase_infra/runtime/models/model_contract_registry_config.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/nodes/contract_registry_reducer/test_contract_registration_event_router.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1869): Add contract registration event routing and test fixes
  contracts/runtime/runtime_config.yaml
  poetry.lock
  pyproject.toml
  src/omnibase_infra/enums/enum_consumer_group_purpose.py
  src/omnibase_infra/handlers/registration_storage/handler_registration_storage_postgres.py
  src/omnibase_infra/runtime/contract_registration_event_router.py
  src/omnibase_infra/runtime/intent_execution_router.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_intent_execution_summary.py
  src/omnibase_infra/runtime/protocols/__init__.py
  src/omnibase_infra/runtime/protocols/protocol_intent_executor.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/validation/infra_validators.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_kernel.py
  tests/unit/utils/test_util_consumer_group.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1869): Add CI-specific event bus config and fix stale import
  .github/workflows/nightly-tests.yml
  .github/workflows/test.yml
  contracts/runtime/runtime_config.yaml
  src/omnibase_infra/mixins/mixin_postgres_error_response.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci updates
  .claude/architecture-handshake.md
  .github/workflows/docker-build.yml
  .gitignore
Due: onex-validate-markdown-links

refactor(OMN-1869): Add Generic Protocol for intent executor documentation
  src/omnibase_infra/runtime/intent_execution_router.py
  src/omnibase_infra/runtime/protocols/__init__.py
  src/omnibase_infra/runtime/protocols/protocol_intent_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1869): Resolve circular import in ModelIntentExecutionSummary
  src/omnibase_infra/runtime/models/model_intent_execution_summary.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1869): Fix CI test failures for Kafka integration
  tests/integration/docker/test_docker_integration.py
  tests/unit/runtime/test_kernel.py
  tests/unit/utils/test_util_consumer_group.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-1869): Address PR review feedback with tests and code quality fixes
  src/omnibase_infra/runtime/contract_registration_event_router.py
  src/omnibase_infra/runtime/db/models/model_db_operation.py
  src/omnibase_infra/runtime/db/models/model_db_param.py
  src/omnibase_infra/runtime/db/models/model_db_repository_contract.py
  src/omnibase_infra/runtime/db/models/model_db_return.py
  src/omnibase_infra/runtime/db/models/model_db_safety_policy.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/unit/runtime/test_contract_registration_event_router.py
  tests/unit/runtime/test_intent_execution_router.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1869): Fix circular import in ModelIntentExecutionSummary
  src/omnibase_infra/runtime/models/model_intent_execution_summary.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1869): Address CodeRabbit review feedback
  .claude/architecture-handshake.md
  src/omnibase_infra/enums/enum_consumer_group_purpose.py
  src/omnibase_infra/runtime/service_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-1869): Remove ModelIntentExecutionSummary from early package init
  src/omnibase_infra/runtime/models/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1869): Fix CI test failures for Kafka event bus tests
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1869): Lazy import IntentExecutionRouter to avoid circular import
  src/omnibase_infra/runtime/service_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1869): Move protocol_intent_executor imports under TYPE_CHECKING
  src/omnibase_infra/runtime/intent_execution_router.py
  src/omnibase_infra/runtime/protocols/__init__.py
  src/omnibase_infra/runtime/protocols/protocol_intent_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1869): Update consumer group tests for 6 purposes
  tests/unit/utils/test_util_consumer_group.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-1869): Wire ServiceKernel to Kafka with ContractRegistrationEventRouter (#235)
  .claude/architecture-handshake.md
  .github/workflows/docker-build.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test.yml
  .gitignore
  contracts/runtime/runtime_config.yaml
  src/omnibase_infra/enums/enum_consumer_group_purpose.py
  src/omnibase_infra/mixins/mixin_postgres_error_response.py
  src/omnibase_infra/nodes/contract_registry_reducer/__init__.py
  src/omnibase_infra/nodes/contract_registry_reducer/contract_registration_event_router.py
  src/omnibase_infra/runtime/models/model_contract_registry_config.py
  src/omnibase_infra/runtime/models/model_runtime_config.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/docker/test_docker_integration.py
  tests/unit/nodes/contract_registry_reducer/__init__.py
  tests/unit/nodes/contract_registry_reducer/test_contract_registration_event_router.py
  tests/unit/runtime/test_kernel.py
  tests/unit/utils/test_util_consumer_group.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix: Remove dead code from merge (unused _handle_contract_registration_message)
  src/omnibase_infra/runtime/service_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: Correct import path for ModelBackendResult
  src/omnibase_infra/runtime/intent_execution_router.py
  src/omnibase_infra/runtime/models/model_intent_execution_summary.py
  src/omnibase_infra/runtime/protocols/protocol_intent_executor.py
  tests/unit/runtime/test_intent_execution_router.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat: Upgrade omnibase-core to 0.13.1 with contract registration (#236)
  CHANGELOG.md
  contracts/runtime/runtime_config.yaml
  poetry.lock
  pyproject.toml
  src/omnibase_infra/__init__.py
  src/omnibase_infra/handlers/registration_storage/handler_registration_storage_postgres.py
  src/omnibase_infra/runtime/contract_registration_event_router.py
  src/omnibase_infra/runtime/db/__init__.py
  src/omnibase_infra/runtime/db/models/__init__.py
  src/omnibase_infra/runtime/db/models/model_db_operation.py
  src/omnibase_infra/runtime/db/models/model_db_param.py
  src/omnibase_infra/runtime/db/models/model_db_repository_contract.py
  src/omnibase_infra/runtime/db/models/model_db_return.py
  src/omnibase_infra/runtime/db/models/model_db_safety_policy.py
  src/omnibase_infra/runtime/intent_execution_router.py
  src/omnibase_infra/runtime/models/__init__.py
  src/omnibase_infra/runtime/models/model_intent_execution_summary.py
  src/omnibase_infra/runtime/protocols/__init__.py
  src/omnibase_infra/runtime/protocols/protocol_intent_executor.py
  src/omnibase_infra/runtime/service_kernel.py
  src/omnibase_infra/validation/infra_validators.py
  tests/integration/event_bus/test_dlq_integration.py
  tests/integration/event_bus/test_kafka_event_bus_integration.py
  tests/integration/runtime/db/test_postgres_repository_runtime_integration.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/db/test_postgres_repository_runtime.py
  tests/unit/runtime/test_contract_registration_event_router.py
  tests/unit/runtime/test_intent_execution_router.py
  tests/unit/runtime/test_kernel.py
  tests/unit/utils/test_util_consumer_group.py
  tests/unit/validation/test_validator_defaults.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

feat(OMN-1890): Add injection effectiveness metrics schema and consumer
  docker/migrations/026_injection_effectiveness_tables.sql
  docker/migrations/026_injection_effectiveness_tables_rollback.sql
  src/omnibase_infra/schemas/schema_latency_baseline.sql
  src/omnibase_infra/services/observability/injection_effectiveness/__init__.py
  src/omnibase_infra/services/observability/injection_effectiveness/config.py
  src/omnibase_infra/services/observability/injection_effectiveness/consumer.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/__init__.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_agent_match.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_context_utilization.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_latency_breakdown.py
  src/omnibase_infra/services/observability/injection_effectiveness/models/model_pattern_utilization.py
  src/omnibase_infra/services/observability/injection_effectiveness/writer_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-1890): Reorder DB ops to satisfy FK constraint in write_latency_breakdowns
  src/omnibase_infra/services/observability/injection_effectiveness/writer_postgres.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
