Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

test(OMN-15546): cross-boundary seam test for ingress correlation authority
  tests/fixtures/seams/dispatch_correlation/accepted_command.json
  tests/integration/runtime/test_seam_correlation_authority_omn15546.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15474): make the wiring report total over the manifest
  src/omnibase_infra/runtime/auto_wiring/__init__.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_wiring_report_totality_omn15474.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15474): stop the async-incompat dispatch double claiming zero owners
  tests/integration/test_auto_wiring_async_incompat_quarantine_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-15474): stop the pre-resolution dispatch doubles claiming zero owners
  tests/integration/runtime/test_async_container_pre_resolution_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14498): preserve ingress correlation lineage across the DLQ boundary and stop ACKing unpersisted DLQ writes (#2604)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/fixtures/seams/ack_dlq/poisoned_command.json
  tests/unit/runtime/auto_wiring/test_boundary_dlq_omn14507.py
  tests/unit/runtime/auto_wiring/test_seam_correlation_survives_ack_and_dlq_roundtrip_omn14498.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15468): route a failure-verdict def-B return value to the contract's declared failure terminal (#2606)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/contract_terminal_events.py
  src/omnibase_infra/runtime/service_dispatch_result_applier.py
  tests/fixtures/seams/quota_terminal/forced_429_terminal.json
  tests/unit/runtime/test_omn15468_quota_terminal_seam.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15546): correlation authority is the ingress — dispatcher never mints ids (#2607)
  src/omnibase_infra/runtime/runtime_host_process.py
  src/omnibase_infra/runtime/runtime_local_ingress.py
  tests/fixtures/seams/dispatch_correlation/accepted_command.json
  tests/integration/runtime/test_seam_correlation_authority_omn15546.py
  tests/integration/test_remote_agent_invoke_effect_contract.py
  tests/unit/runtime/auto_wiring/test_operation_match_ingress_coverage_omn14488.py
  tests/unit/runtime/test_runtime_local_ingress.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15474): contract-scoped dispatch — wiring-report totality + repair three dispatch doubles claiming zero owners (#2608)
  src/omnibase_infra/event_bus/model_contract_attach_result.py
  src/omnibase_infra/runtime/auto_wiring/__init__.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/message_dispatch_engine.py
  src/omnibase_infra/runtime/protocols/protocol_contract_scoped_dispatch_engine.py
  tests/integration/registration/test_registration_orchestrator_all_topics_subscribed.py
  tests/integration/runtime/test_async_container_pre_resolution_integration.py
  tests/integration/runtime/test_contract_scoped_dispatch.py
  tests/integration/runtime/test_dynamic_contract_registration_e2e.py
  tests/integration/runtime/test_handler_wiring_async_incompat_quarantine_integration.py
  tests/integration/test_auto_wiring_async_incompat_quarantine_integration.py
  tests/integration/test_state_io_outbox_seam_red.py
  tests/unit/contracts/test_protocol_ownership.py
  tests/unit/event_bus/test_topic_provisioner_rf_policy_omn15395.py
  tests/unit/runtime/auto_wiring/test_boundary_dlq_omn14507.py
  tests/unit/runtime/auto_wiring/test_dispatcher_route_coverage_omn14488.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_async_container_resolution.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_async_incompat_quarantine.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_tenant_scoped_ingress.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_unresolvable_quarantine.py
  tests/unit/runtime/auto_wiring/test_kafka_boundary_def_b_coercion_omn14716.py
  tests/unit/runtime/auto_wiring/test_not_ready_reconciliation_omn15215.py
  tests/unit/runtime/auto_wiring/test_seam_correlation_survives_ack_and_dlq_roundtrip_omn14498.py
  tests/unit/runtime/auto_wiring/test_wiring_report_totality_omn15474.py
  tests/unit/runtime/auto_wiring/test_wiring_subscribe.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/core_runtime/test_allowlist_no_op_boot.py
  tests/unit/runtime/test_kernel.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15474): single-owner command topics — seam test + preflight gate
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/runtime/test_seam_dispatch_correlation_omn15474.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15474): narrow boot-time contract-identity check to a manifest subset
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/runtime/test_async_container_pre_resolution_integration.py
  tests/integration/runtime/test_contract_scoped_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15474): match the OMN-14498 DLQ seam to contract-scoped dispatch
  tests/unit/runtime/auto_wiring/test_seam_correlation_survives_ack_and_dlq_roundtrip_omn14498.py
  tests/unit/runtime/auto_wiring/test_wiring_report_totality_omn15474.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15474): contract-scoped dispatch — one accepted command, one correlated dispatch (preflight single-owner gate, default-OFF) (#2609)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/runtime/test_async_container_pre_resolution_integration.py
  tests/integration/runtime/test_contract_scoped_dispatch.py
  tests/integration/runtime/test_seam_dispatch_correlation_omn15474.py
  tests/unit/runtime/auto_wiring/test_seam_correlation_survives_ack_and_dlq_roundtrip_omn14498.py
  tests/unit/runtime/auto_wiring/test_wiring_report_totality_omn15474.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15621): restore strict boot-time wiring bijection weakened by #2609
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/runtime/test_contract_scoped_dispatch.py
  tests/unit/runtime/auto_wiring/test_wiring_report_totality_omn15474.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15521): sanctioned .201 gateway-forwarder deploy path
  docs/runbooks/gateway-lane-deploy.md
  scripts/deploy-gateway.sh
  tests/scripts/test_deploy_gateway.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-15521): bash-3.2-portable array read (no readarray/mapfile)
  scripts/deploy-gateway.sh
Due: none

fix(OMN-15621): restore strict boot-time wiring bijection weakened by #2609 (#2610)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/runtime/test_contract_scoped_dispatch.py
  tests/unit/runtime/auto_wiring/test_wiring_report_totality_omn15474.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-15521): sanctioned .201 gateway-forwarder deploy path (#2611)
  docs/runbooks/gateway-lane-deploy.md
  scripts/deploy-gateway.sh
  tests/scripts/test_deploy_gateway.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-15628): delete diverged dead routing_tiers.yaml duplicate
  src/omnibase_infra/configs/routing_tiers.yaml
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess_claude_opencode.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15521): remediation round -- real rollback retention, sibling-ref build-args, digest-verified reload, and a real AC5 restart-safety proof
  docs/runbooks/gateway-lane-deploy.md
  scripts/deploy-gateway.sh
  scripts/gateway_restart_safety_proof.sh
  tests/scripts/test_deploy_gateway.py
  tests/scripts/test_gateway_restart_safety_proof.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-15628): delete diverged dead routing_tiers.yaml duplicate (#2612)
  src/omnibase_infra/configs/routing_tiers.yaml
  tests/unit/nodes/node_llm_inference_effect/handlers/test_handler_llm_cli_subprocess_claude_opencode.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15521): remediation round -- real rollback retention, sibling-ref build-args, digest-verified reload, and a real AC5 restart-safety proof (#2613)
  docs/runbooks/gateway-lane-deploy.md
  scripts/deploy-gateway.sh
  scripts/gateway_restart_safety_proof.sh
  tests/scripts/test_deploy_gateway.py
  tests/scripts/test_gateway_restart_safety_proof.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-15521): remediation round 3 — real rollback_command, workspace-mode staging, and a genuine AC5 restart-recreate proof
  docs/runbooks/gateway-lane-deploy.md
  scripts/deploy-gateway.sh
  scripts/gateway_restart_safety_proof.sh
  tests/scripts/test_deploy_gateway.py
  tests/scripts/test_gateway_restart_safety_proof.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-15628): remediation — renderer producer-side refusal (write half of the silent-default symmetry)
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15521): remediation round 3 — real rollback_command, workspace-mode staging, and a genuine AC5 restart-recreate proof (#2614)
  docs/runbooks/gateway-lane-deploy.md
  scripts/deploy-gateway.sh
  scripts/gateway_restart_safety_proof.sh
  tests/scripts/test_deploy_gateway.py
  tests/scripts/test_gateway_restart_safety_proof.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-15521): usage() ROLLBACK reads rollback_command from the registry, not a hand-rebuilt sed
  scripts/deploy-gateway.sh
  tests/scripts/test_deploy_gateway.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15628): renderer producer-side refusal — write half of the silent-default symmetry (#2615)
  src/omnibase_infra/runtime/render_bifrost_delegation_contract.py
  tests/unit/runtime/test_render_bifrost_delegation_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15521): usage() ROLLBACK reads rollback_command from the registry, not a hand-rebuilt sed (#2616)
  scripts/deploy-gateway.sh
  tests/scripts/test_deploy_gateway.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15642): fold boot attach-readiness into /health status (close the false-green consumer-drop gap)
  src/omnibase_infra/runtime/health/runtime_health_block.py
  src/omnibase_infra/services/health_checker.py
  tests/unit/runtime/health/test_runtime_health_block.py
  tests/unit/runtime/test_health_detailed.py
  tests/unit/runtime/test_service_health_attach_readiness.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15628): entrypoint self-heal for stale DELEGATION_ROUTING_TIERS_PATH pin (remediation round 2)
  docker/entrypoint-runtime.sh
  tests/unit/docker/test_runtime_entrypoint_delegation_tiers_self_heal.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15642): fold boot attach-readiness into /health status (close the false-green consumer-drop gap) (#2618)
  src/omnibase_infra/runtime/health/runtime_health_block.py
  src/omnibase_infra/services/health_checker.py
  tests/unit/runtime/health/test_runtime_health_block.py
  tests/unit/runtime/test_health_detailed.py
  tests/unit/runtime/test_service_health_attach_readiness.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15628): entrypoint self-heal for stale DELEGATION_ROUTING_TIERS_PATH pin (remediation round 2) (#2617)
  docker/entrypoint-runtime.sh
  tests/unit/docker/test_runtime_entrypoint_delegation_tiers_self_heal.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15642): remediation -- unwire attach-readiness fold from the gated /health status
  src/omnibase_infra/runtime/health/runtime_health_block.py
  src/omnibase_infra/services/health_checker.py
  tests/unit/runtime/test_health_detailed.py
  tests/unit/runtime/test_service_health_attach_readiness.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15642): remediation -- unwire attach-readiness fold from the gated /health status (#2619)
  src/omnibase_infra/runtime/health/runtime_health_block.py
  src/omnibase_infra/services/health_checker.py
  tests/unit/runtime/test_health_detailed.py
  tests/unit/runtime/test_service_health_attach_readiness.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15645): bind DELEGATION_ROUTING_TIERS_PATH on .201 compose lanes
  docker/Dockerfile.runtime
  docker/docker-compose.infra.yml
  tests/ci/test_runtime_env_anchor.py
  tests/integration/infra/test_dev_runtime_compose_render.py
  tests/integration/infra/test_judge_compose_render.py
  tests/integration/infra/test_prod_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/docker/test_delegation_routing_tiers_path_binding_omn15645.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15645): track DELEGATION_ROUTING_TIERS_PATH in k8s ConfigMap parity debt
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15628): bind DELEGATION_ROUTING_TIERS_PATH in compose + make env parity bidirectional
  docker/docker-compose.e2e.yml
  docker/docker-compose.infra.yml
  docker/docker-compose.judge.yml
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15645): move baked routing_tiers.yaml out of the /app/contracts mount
  docker/Dockerfile.runtime
  docker/docker-compose.infra.yml
  tests/integration/infra/test_dev_runtime_compose_render.py
  tests/integration/infra/test_judge_compose_render.py
  tests/integration/infra/test_prod_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/docker/test_delegation_routing_tiers_path_binding_omn15645.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15628): resolve omninode_infra from the omni_home worktree layout
  tests/ci/test_env_parity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-15645): omninode-contract-resolver not rendered for stability-test/prod profile
  tests/integration/infra/test_prod_runtime_compose_render.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
