Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

chore(ci): propagate normalization-symmetry-hook [bot] [OMN-9344]
  .pre-commit-config.yaml
Due: onex-validate-contracts

chore(ci): propagate normalization-symmetry-hook [bot] [OMN-9344] (#1361)
  .pre-commit-config.yaml
Due: onex-validate-contracts

fix(ci): wire compose_pg_port into docker compose, fix PGPASSWORD, assert member count [OMN-9250]
  .github/workflows/reusable-runtime-boot.yml
Due: none

fix(wiring): include failed results in report + align service_kernel postcondition [OMN-9126]
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/test_auto_wiring_strict_invariant.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(test): update non-strict wiring test to expect total_failed == 1 [OMN-9126]
  tests/unit/runtime/auto_wiring/test_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(wiring): gate wire_from_manifest raise behind ONEX_WIRING_STRICT_MODE env flag [OMN-9126] (#1359)
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/test_auto_wiring_strict_invariant.py
  tests/unit/runtime/auto_wiring/test_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(contracts): llm_endpoints inspection test [OMN-9292] (#1354)
  .pre-commit-config.yaml
  uv.lock
Due: onex-validate-contracts

fix(cr-1356): add inject_env/inject_required_env to runtime bundle; assert exact service set
  docker/catalog/bundles.yaml
  tests/integration/test_runtime_sub_bundle_cli.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(cr-1356-test): revert equality assertion — generator includes transitive deps
  tests/integration/test_runtime_sub_bundle_cli.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(catalog): integration tests for sub-bundle CLI [OMN-9342] (#1356)
  docker/catalog/bundles.yaml
  tests/integration/test_runtime_sub_bundle_cli.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(auto-wiring): async pre-resolution bypasses asyncio.run() in EFFECTS profile [OMN-9410]
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_async_container_resolution.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(integration): add async pre-resolution integration tests [OMN-9410]
  tests/integration/runtime/test_async_container_pre_resolution_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(deploy-agent): add signed trigger helper + auth compatibility tests [OMN-9411]
  scripts/deploy-agent/deploy-agent-trigger.sh
  scripts/deploy-agent/tests/unit/test_trigger_helper_signature.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(deploy-agent): WatchdogSec + publish circuit breaker [OMN-9412]
  scripts/deploy-agent/deploy/deploy-agent.service
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/publisher.py
  scripts/deploy-agent/tests/unit/test_publish_circuit_breaker.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(deploy-agent): eliminate shell→Python injection in trigger helper [OMN-9411]
  scripts/deploy-agent/deploy-agent-trigger.sh
Due: none

feat: add canonical GitHubHttpClient in omnibase_infra/adapters/github
  src/omnibase_infra/adapters/github/__init__.py
  src/omnibase_infra/adapters/github/adapter_github_client.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(deploy-agent): Type=simple + dedicated watchdog task [OMN-9412]
  scripts/deploy-agent/deploy/deploy-agent.service
  scripts/deploy-agent/deploy_agent/agent.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

contract: add OMN-9410 deploy-gate evidence for EFFECTS async pre-resolution fix
  contracts/OMN-9410.yaml
Due: onex-validate-contracts

fix(tests): remove unused imports + harden zero-arg fallback test [OMN-9410]
  tests/integration/runtime/test_async_container_pre_resolution_integration.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_async_container_resolution.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(deploy-agent): WatchdogSec + publish circuit breaker [OMN-9412] (#1368)
  scripts/deploy-agent/deploy/deploy-agent.service
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/publisher.py
  scripts/deploy-agent/tests/unit/test_publish_circuit_breaker.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(runtime): add reusable-runtime-boot workflow with real/compose mode [OMN-9250] (#1350)
  .github/workflows/reusable-runtime-boot.yml
  tests/ci/test_reusable_runtime_boot_schema.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9446): ruff format + lint noqa + integration test for GitHubHttpClient
  src/omnibase_infra/adapters/github/adapter_github_client.py
  tests/integration/adapters/test_github_http_client_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(auto-wiring): async pre-resolution bypasses asyncio.run() crash in EFFECTS profile [OMN-9410] (#1366)
  contracts/OMN-9410.yaml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/runtime/test_async_container_pre_resolution_integration.py
  tests/unit/runtime/auto_wiring/test_handler_wiring_async_container_resolution.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(deps): loosen uvicorn upper bound to <1.0.0
  pyproject.toml
  uv.lock
Due: none

chore(deps): tighten uvicorn ceiling to <0.50.0
  pyproject.toml
  uv.lock
Due: none

fix(deploy-agent): add --key and SASL parity to rpk fallback path [OMN-9411]
  scripts/deploy-agent/deploy-agent-trigger.sh
Due: none

chore(deps): loosen uvicorn upper bound to <1.0.0 (#1371)
  pyproject.toml
  uv.lock
Due: none

chore(release): bump version to 0.34.1
  pyproject.toml
Due: none

chore(release): update versioned paths and lock for 0.34.1
  contracts/runtime/runtime_protocol.lock.json
  deploy/systemd/onex-log-monitor.service
Due: none

fix(runtime): preserve registration consumer-group ownership [OMN-9420]
  docs/investigations/2026-04-21-registration-shared-topic-consumer-collapse.md
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/verification/probes/probe_subscription.py
  src/omnibase_infra/verification/verify_registration.py
  tests/unit/event_bus/test_kafka_event_bus.py
  tests/unit/verification/test_consumer_group_existence.py
  tests/unit/verification/test_probe_subscription_grounding.py
  tests/unit/verification/test_registration_contract_verify_unit.py
  tests/unit/verification/test_subscription_probe.py
  tests/unit/verification/test_verification_orchestrator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

chore(release): bump version to 0.34.1 (#1372)
  contracts/runtime/runtime_protocol.lock.json
  deploy/systemd/onex-log-monitor.service
  pyproject.toml
Due: none

fix(OMN-9446): replace Any with object, split god class, fix SPDX year
  src/omnibase_infra/adapters/github/adapter_github_client.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): ruff format, mypy types, and CR-thread fixes for OMN-9420 [PR #1373]
  contracts/OMN-9420.yaml
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/verification/cli.py
  src/omnibase_infra/verification/probes/probe_subscription.py
  src/omnibase_infra/verification/verify_registration.py
  tests/unit/verification/test_registration_contract_verify_unit.py
  tests/unit/verification/test_subscription_probe.py
  tests/unit/verification/test_verification_orchestrator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(tests): resolve remaining CR minor threads — test hardening + PIE810
  src/omnibase_infra/verification/probes/probe_subscription.py
  tests/unit/verification/test_probe_subscription_grounding.py
  tests/unit/verification/test_subscription_probe.py
  tests/unit/verification/test_verification_orchestrator.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(ci): contract schema fix + integration test for OMN-9420 gate
  contracts/OMN-9420.yaml
  tests/integration/event_bus/test_consumer_group_ownership_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
