Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

OMN-14975: Enforce node-migration-sync in CI parity gate
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .github/workflows/node-migration-sync.yml
  scripts/ci/ci_summary_gate.py
  scripts/enforcement_parity_manifest.yaml
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-14975): list node-migration-sync in the umbrella-enforced contexts
  config/runner_routing_policy.yaml
Due: onex-validate-contracts

OMN-14975: require node migration vendor sync in CI Summary (#4563)
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .github/workflows/node-migration-sync.yml
  config/runner_routing_policy.yaml
  scripts/ci/ci_summary_gate.py
  scripts/enforcement_parity_manifest.yaml
  tests/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20210): honor registry root when installing disk GC
  deploy/disk-gc/install-disk-gc.sh
  deploy/disk-gc/onex-disk-gc.service
  tests/unit/scripts/test_disk_gc_dry_run.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19939): derive broker grants from resolved bus bindings
  pyproject.toml
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/handlers/handler_broker_grant_derive.py
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/__init__.py
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/contract.yaml
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/models/__init__.py
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/models/model_broker_grant.py
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/models/model_broker_grant_derivation.py
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/node.py
  src/omnibase_infra/runtime/gateway_forwarder.py
  tests/unit/nodes/node_broker_grant_derive_compute/test_broker_grant_derivation.py
  tests/unit/nodes/node_bus_forwarder_effect/test_provisioning_sync_omn17201.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

feat(OMN-19494): every main-profile compose runtime declares its runtime lane (#4566)
  docker/docker-compose.dogfood.yml
  docker/docker-compose.judge.yml
  docker/docker-compose.lakshman.yml
  docker/docker-compose.prepr.yml
  docker/docker-compose.sim-202.yml
  tests/unit/docker/test_omn19494_compose_runtime_lane.py
  tests/unit/runtime/auto_wiring/test_declared_runtime_lanes_registered_omn19408.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20159): the lakshman lane's runtime-effects reads through the read binding variable, not the runtime binding (#4556)
  docker/docker-compose.lakshman.yml
  tests/integration/infra/test_lakshman_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20009): vendor the run-locally share and saving-per-run migrations
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_delegation/0055_model_routing_local_call_share.sql
  docker/migrations/forward/nodes/node_projection_metering_summary/0002_metering_summary_savings_per_measured_run.sql
Due: onex-validate-contracts

feat(OMN-20159): the dev lane's runtime-effects reads through the projection read binding
  docker/docker-compose.dev-105.yml
  docker/docker-compose.dev-200.yml
  docker/docker-compose.dev-202.yml
  docker/docker-compose.dev-lane.yml
  docker/docker-compose.prepr.yml
  docker/projection-runtime-binding/runtime-read.yaml
  tests/integration/infra/test_dev_runtime_compose_render.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

refactor(OMN-20562): empty the runtime_profiles and transport-mock ratchets and make both plain blocking checks (#4570)
  .github/workflows/ci.yml
  .github/workflows/validator-runtime-profiles.yml
  .pre-commit-config.yaml
  config/runner_routing_policy.yaml
  config/validation/runtime_profiles_allowlist.yaml
  config/validation/transport_mock_baseline.yaml
  scripts/ci/ci_summary_gate.py
  src/omnibase_infra/nodes/node_artifact_change_detector_effect/contract.yaml
  src/omnibase_infra/nodes/node_baselines_batch_compute/contract.yaml
  src/omnibase_infra/nodes/node_build_loop_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_chain_retrieval_effect/contract.yaml
  src/omnibase_infra/nodes/node_ledger_write_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_completion_effect/contract.yaml
  src/omnibase_infra/nodes/node_llm_embedding_effect/contract.yaml
  src/omnibase_infra/nodes/node_savings_estimation_compute/contract.yaml
  src/omnibase_infra/nodes/node_topic_migration_executor_effect/contract.yaml
  src/omnibase_infra/nodes/node_vector_store_effect/contract.yaml
  tests/ci/test_anti_growth_baselines_omn19677.py
  tests/ci/test_runtime_profiles_plain_check_omn20562.py
  tests/ci/test_transport_mock_plain_check_omn20562.py
  tests/unit/adapters/llm/test_coding_plan_endpoint.py
  tests/unit/nodes/test_node_runtime_orchestrator.py
  tests/unit/runtime/auto_wiring/test_runtime_profile_ownership_characterization_omn20562.py
  tests/unit/runtime/test_handler_source_resolver.py
  tests/unit/runtime/test_runtime_host_architecture_validation.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20009): pin the vendored 0055 and 0002 to their omnimarket source
  tests/unit/migrations/test_omn20009_local_call_share_saving_per_run_vendor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20210): match disk-gc service volume-gc ExecStart in installer test
  tests/unit/scripts/test_host_maintenance_installer.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20210): install disk GC with the selected registry root (#4564)
  deploy/disk-gc/install-disk-gc.sh
  deploy/disk-gc/onex-disk-gc.service
  tests/unit/scripts/test_disk_gc_dry_run.py
  tests/unit/scripts/test_host_maintenance_installer.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20578): re-vendor routing feedback with its shape reconciliation block
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_routing_feedback/0000_create_delegation_routing_feedback.sql
  tests/unit/migrations/test_vendor_routing_feedback_and_alert_liveness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-20578): expect forward-only for the reconciled routing feedback create
  tests/unit/migrations/test_vendor_routing_feedback_and_alert_liveness.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20589): DLQ replay replays the dead letters of one source record once, so N failing subscribers no longer multiply it N per round (#4574)
  contracts/OMN-20589.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  tests/integration/dlq/test_dlq_replay_once_per_source_record_omn20589.py
  tests/unit/nodes/node_dlq_replay_effect/test_omn17896_zero_byte_replay_amplifier.py
  tests/unit/nodes/node_dlq_replay_effect/test_omn18084_replay_producer_dlq_destination.py
  tests/unit/nodes/node_dlq_replay_effect/test_replay_once_per_source_record.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-19939): give node_broker_grant_derive_compute a metadata.description
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/contract.yaml
Due: onex-validate-contracts

fix(OMN-20590): the lane's main runtime publishes the runtime tick, as an envelope the consumers accept (#4575)
  docker/docker-compose.dev-202.yml
  src/omnibase_infra/runtime/runtime_profile.py
  src/omnibase_infra/runtime/runtime_scheduler.py
  src/omnibase_infra/runtime/service_kernel.py
  tests/integration/runtime/test_runtime_tick_producer_golden_chain_omn20590.py
  tests/unit/runtime/test_runtime_scheduler.py
  tests/unit/runtime/test_runtime_scheduler_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20578): vendor the routing-feedback and alert-channel liveness projection migrations ahead of omnimarket#3416 and #3417 (#4573)
  config/migration_classes.yaml
  docker/catalog/database-topology/dogfood.yaml
  docker/catalog/database-topology/judge.yaml
  docker/catalog/database-topology/lakshman.yaml
  docker/catalog/database-topology/local.yaml
  docker/catalog/database-topology/onex-dev.yaml
  docker/catalog/database-topology/onex-prod.yaml
  docker/catalog/database-topology/prod.yaml
  docker/catalog/database-topology/stability-test.yaml
  docker/catalog/database-topology/test.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_alert_channel_liveness/0000_create_alert_channel_liveness_verdicts.sql
  docker/migrations/forward/nodes/node_projection_alert_channel_liveness/0001_grant_omninode_runtime_alert_channel_liveness_verdicts.sql
  docker/migrations/forward/nodes/node_projection_routing_feedback/0000_create_delegation_routing_feedback.sql
  docker/migrations/forward/nodes/node_projection_routing_feedback/0001_grant_tenant_projection_writer_delegation_routing_feedback.sql
  src/omnibase_infra/topology/instances/local.yaml
  src/omnibase_infra/topology/instances/onex-dev.yaml
  src/omnibase_infra/topology/instances/onex-prod.yaml
  src/omnibase_infra/topology/table_grant_derivation.py
  tests/ci/test_supplemental_declaration_expiry_omn18863.py
  tests/integration/migrations/test_omninode_internal_live_acl_gate_omn17886.py
  tests/unit/migrations/test_vendor_routing_feedback_and_alert_liveness.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-19939): derive broker grants from resolved bus bindings (#4565)
  pyproject.toml
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/handlers/handler_broker_grant_derive.py
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/__init__.py
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/contract.yaml
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/models/__init__.py
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/models/model_broker_grant.py
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/models/model_broker_grant_derivation.py
  src/omnibase_infra/nodes/node_broker_grant_derive_compute/node.py
  src/omnibase_infra/runtime/gateway_forwarder.py
  tests/fixtures/dispatch_parity/baseline-selection-v2.json
  tests/integration/nodes/test_broker_grant_derive_contract_discovery_omn19939.py
  tests/unit/nodes/node_broker_grant_derive_compute/test_broker_grant_derivation.py
  tests/unit/nodes/node_bus_forwarder_effect/test_provisioning_sync_omn17201.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

feat(OMN-20594): the protected delegation lane's chain canary reaches the operator on a red, and the lab alarm backstops it (#4577)
  .github/workflows/chain-canary.yml
  config/lab_alarm.json
  deploy/lane-census/lane-manifest.yaml
  scripts/generate_claude_lane_block.py
  scripts/lab_alarm.py
  tests/ci/test_chain_canary_workflow.py
  tests/ci/test_lab_alarm_omn18867.py
  tests/unit/scripts/test_generate_claude_lane_block.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20589): node_dlq_replay_effect contract records the dry-run duplicate behaviour (node_version 1.5.4)
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
Due: onex-validate-contracts

fix(OMN-20589): a dry run records no audit row for a duplicate dead letter, with tests for the replayed-source bound (#4578)
  src/omnibase_infra/nodes/node_dlq_replay_effect/contract.yaml
  src/omnibase_infra/nodes/node_dlq_replay_effect/handlers/handler_dlq_replay.py
  tests/integration/dlq/test_dlq_replay_once_per_source_record_omn20589.py
  tests/unit/nodes/node_dlq_replay_effect/test_replay_once_per_source_record.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20590): only the main role reads the runtime tick switch, so a typo cannot stop a secondary role's boot (#4579)
  src/omnibase_infra/runtime/runtime_scheduler.py
  tests/integration/runtime/test_runtime_tick_producer_golden_chain_omn20590.py
  tests/unit/runtime/test_runtime_scheduler_wiring.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix: regenerate runner-image.lock.json for omnibase_core 0.47.35
  docker/runners/runner-image.lock.json
Due: none

fix(OMN-17166): delete the savings-estimation-consumer catalog service whose module OMN-16293 removed (#4581)
  docker/catalog/bundles.yaml
  docker/catalog/services/savings-estimation-consumer.yaml
  tests/unit/infra/test_catalog_service_modules_exist_omn17166.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20598): bound a silent git HTTP transfer on the self-hosted runners so checkout retries instead of hanging (#4583)
  docker/runners/runner-job-started.sh
  tests/scripts/test_runner_job_started_git_stall_bound.py
  tests/scripts/test_runner_job_started_mirror_rewrite.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20600): map the authorize skill to node_authorize
  src/omnibase_infra/cli/skill_mapping.yaml
  tests/unit/cli/test_cli_skill.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17427): typed per-instance lane flags, and freeze dev-201 until 2026-10-19T07:00Z
  config/deploy_lane_routing.yaml
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/consumer.py
  scripts/deploy-agent/deploy_agent/events.py
  scripts/deploy-agent/deploy_agent/idle_converge.py
  scripts/deploy-agent/deploy_agent/routing.py
  scripts/deploy-agent/tests/unit/test_every_rejection_reason_publishes_omn17079.py
  scripts/deploy-agent/tests/unit/test_idle_converge_omn19509.py
  scripts/deploy-agent/tests/unit/test_lane_flags_freeze_omn17427.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20602): the deploy agent rolls a non-prod lane back to its healthy pre-deploy images when post-deploy verification fails
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/test_auto_rollback.py
  scripts/deploy-agent/tests/unit/test_executor_prod_verify_failure_semantics_omn15181.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20597): mirror knowledge-base-internal on the runner host, and keep the fleet record equal to the refresh list (#4582)
  config/runner_fleet.yaml
  docker/runners/git-mirror-refresh.sh
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-17427): typed per-instance lane flags, and freeze dev-201 until 2026-10-19T07:00Z (#4588)
  config/deploy_lane_routing.yaml
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/consumer.py
  scripts/deploy-agent/deploy_agent/events.py
  scripts/deploy-agent/deploy_agent/idle_converge.py
  scripts/deploy-agent/deploy_agent/routing.py
  scripts/deploy-agent/tests/unit/test_every_rejection_reason_publishes_omn17079.py
  scripts/deploy-agent/tests/unit/test_idle_converge_omn19509.py
  scripts/deploy-agent/tests/unit/test_lane_flags_freeze_omn17427.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

Fix Deploy Agent Tests for PR 4589
  scripts/deploy-agent/tests/unit/conftest.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-18595): repin shape-gate independence guard to reachable omnibase_core efba6fb107f4
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: onex-validate-contracts

feat(OMN-20602): the deploy agent rolls a non-prod lane back to its healthy pre-deploy images when post-deploy verification fails (#4589)
  scripts/deploy-agent/deploy_agent/agent.py
  scripts/deploy-agent/deploy_agent/executor.py
  scripts/deploy-agent/tests/unit/conftest.py
  scripts/deploy-agent/tests/unit/test_auto_rollback.py
  scripts/deploy-agent/tests/unit/test_executor_prod_verify_failure_semantics_omn15181.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-20593): the h201 stability-test lane publishes the runtime tick and gives its prunes their archive (#4576)
  docker/docker-compose.stability-test.yml
  tests/unit/runtime/test_runtime_scheduler_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20217): land the walk receipt checker as a file, not an appendix
  scripts/check_receipt.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20008): vendor measured savings provenance (#4547)
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_savings/094_savings_overview_measured_provenance.sql
  tests/integration/migrations/test_094_savings_overview_local_token_pct_omn20320.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-20006): vendor usage_by_model_day 0002, measured cost apart from estimates (#4559)
  config/migration_classes.yaml
  docker/migrations/forward/_ledger/application-migrations.tsv
  docker/migrations/forward/nodes/node_projection_usage_by_model_day/0002_usage_by_model_day_measured_cost.sql
  tests/unit/migrations/test_omn19978_usage_by_model_day_vendor.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
