Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

feat(OMN-13925): rewire env_parity skill to live collect effect (#2198)
  src/omnibase_infra/cli/skill_mapping.yaml
  tests/unit/cli/test_cli_skill.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-12986): add MSK IAM auth support for Kafka runtime (#2200)
  docker/runners/Dockerfile
  docker/runners/omni-curl
  docker/runners/runner-image.lock.json
  pyproject.toml
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/kafka_auth.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  src/omnibase_infra/event_bus/service_topic_manager.py
  src/omnibase_infra/event_bus/service_topic_startup_validator.py
  src/omnibase_infra/nodes/node_registry_api_effect/contract.yaml
  src/omnibase_infra/nodes/node_registry_api_effect/handlers/handler_registry_api_get_health.py
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/ci/test_runner_image_node24_floor.py
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
  tests/unit/event_bus/test_kafka_event_bus.py
  tests/unit/event_bus/test_service_topic_manager.py
  tests/unit/event_bus/test_topic_startup_validator.py
  tests/unit/nodes/test_handler_registry_api_operational.py
  tests/unit/runtime/test_handler_wiring_resolver_integration.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-13902): add sibling-lock-refresh workflow (fan-out from omnimemory canary)
  .github/workflows/sibling-lock-refresh.yml
Due: none

test(OMN-13915): add runner listener integration coverage
  docker/docker-compose.runners.yml
  tests/integration/test_runner_listener_liveness_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-13915): format runner listener liveness integration
  tests/integration/test_runner_listener_liveness_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13915): bound omni curl request timeouts
  docker/runners/omni-curl.sh
Due: none

fix(runners): enforce trusted ci routing
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/dep-provenance-gate.yml
  .github/workflows/receipt-honesty.yml
  .github/workflows/runner-routing-audit.yml
  .github/workflows/url-authority-gate.yml
  config/runner_routing_policy.yaml
  scripts/audit-runner-routing.py
  tests/ci/test_runner_routing_audit.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12986): use ssl_context instead of ssl_cafile, wire MSK auth into direct aiokafka clients
  src/omnibase_infra/event_bus/kafka_auth.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  src/omnibase_infra/runtime/providers/provider_kafka_producer.py
  src/omnibase_infra/runtime/request_response_wiring.py
  tests/unit/event_bus/test_msk_auth_direct_clients.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-13905): self-declare platform_topic_suffixes.py as topic source-of-truth
  src/omnibase_infra/topics/platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(runners): install bounded repair timer
  scripts/deploy-runners.sh
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(runners): record fleet repair friction
  docs/operations/RUNNER_FLEET_FRICTION_LOG.md
Due: onex-validate-markdown-links

fix(OMN-13918): register redeploy as executable onex skill with explicit lane targeting (#2201)
  src/omnibase_infra/cli/skill_mapping.yaml
  tests/unit/cli/test_cli_skill.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13915): runner listener liveness — heartbeat healthcheck, entrypoint watchdog, scheduled fleet-status canary (#2194)
  .github/workflows/runner-fleet-canary.yml
  docker/docker-compose.runners.yml
  docker/runners/entrypoint.sh
  docker/runners/healthcheck.sh
  docker/runners/omni-curl.sh
  docs/runbooks/runner-fleet-listener-liveness.md
  scripts/ci/runner_fleet_canary.sh
  tests/ci/test_runner_listener_liveness.py
  tests/integration/test_runner_listener_liveness_integration.py
  tests/unit/observability/runner_health/test_runner_fleet_config.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

test(OMN-12986): spec event bus mock in MSK auth coverage
  tests/unit/event_bus/test_msk_auth_direct_clients.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-12986): use ssl_context instead of ssl_cafile, wire MSK auth into direct aiokafka clients (#2204)
  src/omnibase_infra/event_bus/kafka_auth.py
  src/omnibase_infra/nodes/node_dlq_replay_effect/engine_dlq_replay.py
  src/omnibase_infra/runtime/providers/provider_kafka_producer.py
  src/omnibase_infra/runtime/request_response_wiring.py
  tests/unit/event_bus/test_msk_auth_direct_clients.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

docs(OMN-13905): self-declare platform_topic_suffixes.py as topic source-of-truth (#2205)
  src/omnibase_infra/topics/platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13886): arch-aware coding-agent CLI install unblocks arm64 runtime image rebuilds (#2195)
  docker/Dockerfile.runtime
  tests/scripts/test_check_dockerfile_pins.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13912): address runner routing review gates
  .github/workflows/runner-routing-audit.yml
  config/runner_routing_policy.yaml
  scripts/audit-runner-routing.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13942): fix Split test failures — baseline frozen-list + runner-image lock
  docker/runners/runner-image.lock.json
  tests/unit/nodes/node_architecture_validator/test_imperative_orchestrator_ratchet_baseline.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13912): make runner monitor alert cron durable (#2192)
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/dep-provenance-gate.yml
  .github/workflows/receipt-honesty.yml
  .github/workflows/runner-routing-audit.yml
  .github/workflows/url-authority-gate.yml
  config/runner_fleet.yaml
  config/runner_routing_policy.yaml
  docker/runners/entrypoint.sh
  docker/runners/healthcheck.sh
  docker/runners/runner-monitor.sh
  docs/operations/RUNNER_FLEET_FRICTION_LOG.md
  scripts/audit-runner-routing.py
  scripts/deploy-runners.sh
  tests/ci/test_runner_routing_audit.py
  tests/unit/observability/runner_health/test_runner_fleet_config.py
  tests/unit/observability/runner_health/test_runner_monitor_wedge_detection.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

fix(OMN-13942): update frozen runner-identity digest in backmerge test
  tests/integration/infra/test_omn_12765_release_backmerge_identity.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test: tolerate docker daemon latency
  tests/integration/docker/test_docker_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13947): harden runner-monitor auto_bounce against race/timeout/orphan defects
  docker/runners/runner-monitor.sh
  tests/unit/observability/runner_health/test_runner_monitor_auto_bounce.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-13947): harden runner-monitor auto_bounce against race/timeout/orphan defects (#2208)
  docker/runners/runner-monitor.sh
  tests/unit/observability/runner_health/test_runner_monitor_auto_bounce.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-13949): concurrency cancel-in-progress + job timeouts to kill superseded/zombie runs (SAT1)
  .github/workflows/auto-merge.yml
  .github/workflows/call-occ-preflight.yml
  .github/workflows/call-receipt-gate.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/check-handshake.yml
  .github/workflows/check-sibling-compat.yml
  .github/workflows/ci.yml
  .github/workflows/compose-config-lint.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/dependency-cascade.yml
  .github/workflows/dispatcher-route-coverage.yml
  .github/workflows/docker-build.yml
  .github/workflows/docs-validate.yml
  .github/workflows/env-parity.yml
  .github/workflows/fresh-deploy-fitness.yml
  .github/workflows/imperative-contract-guard.yml
  .github/workflows/integration-test-check.yml
  .github/workflows/lane-census-staleness.yml
  .github/workflows/main-target-guard.yml
  .github/workflows/nightly-integration.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/node-migration-sync.yml
  .github/workflows/non-dev-base-guard.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/omnigate.yml
  .github/workflows/plugin-pin-cascade.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/receipt-honesty.yml
  .github/workflows/release-python-dry-run.yml
  .github/workflows/release-python-reusable.yml
  .github/workflows/release.yml
  .github/workflows/runner-disk-preflight.yml
  .github/workflows/security-scan.yml
  .github/workflows/seed-provenance-check.yml
  .github/workflows/skill-node-mapping-sync.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .github/workflows/url-authority-gate.yml
  .github/workflows/validate-validator-requirements.yml
Due: none

ci: skip docker integration tests on PRs
  .github/workflows/docker-build.yml
  tests/ci/test_ci_workflow_resilience.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-13886): guard against bare compose down of runtime lanes
  .github/workflows/no-bare-compose-teardown.yml
  .pre-commit-config.yaml
  docker/README.md
  docker/docker-compose.infra.yml
  docs/getting-started/quickstart.md
  tests/test_compose_profile_teardown_policy.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-markdown-links

ci(OMN-13886): run standalone scanner (not pytest) to avoid conftest deps
  .github/workflows/no-bare-compose-teardown.yml
Due: none

refactor(OMN-13944): relocate stray topic literals into canonical registries (omnibase_infra)
  src/omnibase_infra/event_bus/topic_constants.py
  src/omnibase_infra/runtime/models/model_projector_notification_config.py
  src/omnibase_infra/runtime/models/model_transition_notification_publisher_metrics.py
  src/omnibase_infra/runtime/publisher_topic_scoped.py
  src/omnibase_infra/runtime/transition_notification_publisher.py
  src/omnibase_infra/services/cost_api/snapshot_cache.py
  src/omnibase_infra/services/observability/agent_actions/tests/test_consumer.py
  src/omnibase_infra/services/observability/agent_actions/tests/test_hardening.py
  src/omnibase_infra/services/observability/agent_actions/tests/test_routing_decision_schema_handshake.py
  src/omnibase_infra/topics/contract_topic_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

ci(OMN-13902): add sibling-lock-refresh workflow (fan-out from omnimemory canary) (#2202)
  .github/workflows/sibling-lock-refresh.yml
Due: none

ci(OMN-13886): route teardown gate on trusted runners
  .github/workflows/no-bare-compose-teardown.yml
Due: none

fix(OMN-13947): recreate missing runner containers
  docker/runners/runner-monitor.sh
Due: none
