Repository OmniNode-ai/omnibase_infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes, reducer-purity-check, onex-validate-markdown-links

Path conditions:
  ruff-format: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(archived/|tests/fixtures/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_infra/.*\.py$ and \.py$ and not (^(tests/|archived/).*\.py$)
  onex-validate-architecture: any of: \.py$
  onex-validate-architecture-layers: any of: \.py$
  onex-validate-contracts: any of: \.yaml$
  onex-validate-patterns: any of: \.py$
  onex-validate-naming: any of: \.py$
  onex-validate-unions: any of: \.py$
  onex-validate-imports: any of: \.py$
  onex-validate-any-types: any of: \.py$
  onex-validate-declarative-nodes: any of: nodes/.*/node\.py$
  reducer-purity-check: any of: ^src/omnibase_infra/nodes/reducers/ and \.py$
  onex-validate-markdown-links: any of: \.(md|markdown|mdown)$

docs(OMN-11061): add runtime deploy contract
  contracts/OMN-11061.yaml
Due: onex-validate-contracts

test(OMN-11108): add integration test scaffolding for overlay config infrastructure
  tests/integration/overlay/__init__.py
  tests/integration/overlay/conftest.py
  tests/integration/overlay/test_overlay_boot_integration.py
  tests/integration/overlay/test_overlay_end_to_end.py
  tests/integration/overlay/test_overlay_loader_integration.py
  tests/integration/overlay/test_overlay_resolver_integration.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11108): implement OverlayFileLoader with schema validation and permission enforcement
  src/omnibase_infra/runtime/overlay/__init__.py
  src/omnibase_infra/runtime/overlay/errors.py
  src/omnibase_infra/runtime/overlay/overlay_file_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11108): implement pure OverlayConfigResolver with contract-requirement filtering
  src/omnibase_infra/runtime/overlay/model_overlay_resolution_result.py
  src/omnibase_infra/runtime/overlay/overlay_config_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11108): implement boot_overlay as sole os.environ mutation authority
  src/omnibase_infra/runtime/overlay/boot_overlay.py
  tests/integration/overlay/test_overlay_boot_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11108): implement OverlayWriter with deterministic output and atomic write
  src/omnibase_infra/runtime/overlay/overlay_writer.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11108): add overlay_from_env helper and onboarding output field
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/model_onboarding_output.py
  src/omnibase_infra/runtime/overlay/overlay_from_env.py
  tests/integration/overlay/test_overlay_onboarding_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11061): refresh runtime delegation compatibility
  contracts/OMN-11061.yaml
  docker/Dockerfile.runtime
  docker/docker-compose.prod.yml
  docker/docker-compose.stability-test.yml
Due: onex-validate-contracts

fix(OMN-11108): address CodeRabbit + CodeQL findings on overlay infrastructure
  src/omnibase_infra/runtime/overlay/errors.py
  src/omnibase_infra/runtime/overlay/overlay_config_resolver.py
  src/omnibase_infra/runtime/overlay/overlay_file_loader.py
  src/omnibase_infra/runtime/overlay/overlay_writer.py
  tests/integration/overlay/test_overlay_boot_integration.py
  tests/integration/overlay/test_overlay_end_to_end.py
  tests/integration/overlay/test_overlay_loader_integration.py
  tests/integration/overlay/test_overlay_onboarding_integration.py
  tests/integration/overlay/test_overlay_resolver_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11108): add deploy-gate contract mirror for overlay infrastructure
  contracts/OMN-11108.yaml
Due: onex-validate-contracts

feat(OMN-11108): overlay config infrastructure (Wave 2/3) (#1623)
  contracts/OMN-11108.yaml
  src/omnibase_infra/nodes/node_onboarding_orchestrator/models/model_onboarding_output.py
  src/omnibase_infra/runtime/overlay/__init__.py
  src/omnibase_infra/runtime/overlay/boot_overlay.py
  src/omnibase_infra/runtime/overlay/errors.py
  src/omnibase_infra/runtime/overlay/model_overlay_resolution_result.py
  src/omnibase_infra/runtime/overlay/overlay_config_resolver.py
  src/omnibase_infra/runtime/overlay/overlay_file_loader.py
  src/omnibase_infra/runtime/overlay/overlay_from_env.py
  src/omnibase_infra/runtime/overlay/overlay_writer.py
  tests/integration/overlay/__init__.py
  tests/integration/overlay/conftest.py
  tests/integration/overlay/test_overlay_boot_integration.py
  tests/integration/overlay/test_overlay_end_to_end.py
  tests/integration/overlay/test_overlay_loader_integration.py
  tests/integration/overlay/test_overlay_onboarding_integration.py
  tests/integration/overlay/test_overlay_resolver_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11069): clear overlay CodeQL findings
  pyproject.toml
  src/omnibase_infra/runtime/overlay/overlay_config_resolver.py
  src/omnibase_infra/runtime/overlay/overlay_writer.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

test(OMN-11069): avoid credential-like fixture literal
  tests/unit/runtime/overlay/test_overlay_writer.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11073): forward delegation quality contract fields through runtime dispatch port
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11073): add delegation quality contract evidence
  contracts/OMN-11073.yaml
  tests/integration/test_service_delegation_dispatch_port_quality_contract.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11073): forward delegation quality contract fields through runtime dispatch port (#1624)
  contracts/OMN-11073.yaml
  src/omnibase_infra/runtime/service_delegation_dispatch_port.py
  tests/integration/test_service_delegation_dispatch_port_quality_contract.py
  tests/unit/runtime/test_service_delegation_dispatch_port.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11131): allow non-platform topics in projection dispatch callback
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/projectors/test_handler_wiring_projection_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(gate): add omnigate check executor
  src/omnibase_infra/gate/__init__.py
  src/omnibase_infra/gate/executor.py
  src/omnibase_infra/gate/validator_registry.py
  tests/unit/gate/__init__.py
  tests/unit/gate/test_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11130): provide runtime GitHub auth for merge sweep
  contracts/OMN-11130.yaml
  docker/Dockerfile.runtime
  docker/docker-compose.infra.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.stability-test.yml
  tests/ci/test_env_parity.py
  tests/ci/test_runtime_env_anchor.py
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_runtime_lane_kafka_environment.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11072): add guard test for omnibase_compat pin including delegation wire contracts
  scripts/check_contract_topic_parity.py
  tests/unit/docker/test_runtime_dependency_pins.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11066): mark pattern-b-dispatch topic as plugin_managed to prevent DLQ routing
  src/omnibase_infra/nodes/node_runtime_orchestrator/contract.yaml
  tests/unit/runtime/test_node_subscription_wiring.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-11130): provide runtime GitHub auth for merge sweep (#1627)
  contracts/OMN-11130.yaml
  docker/Dockerfile.runtime
  docker/docker-compose.infra.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.stability-test.yml
  tests/ci/test_env_parity.py
  tests/ci/test_runtime_env_anchor.py
  tests/integration/docker/test_docker_integration.py
  tests/integration/infra/test_stability_test_runtime_compose_render.py
  tests/unit/infra/test_runtime_lane_kafka_environment.py
  tests/unit/infra/test_stability_test_runtime_lane.py
Due: ruff-format, ruff-fix, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11143): add OmniGate Sigstore signer
  pyproject.toml
  src/omnibase_infra/gate/__init__.py
  src/omnibase_infra/gate/signer.py
  tests/unit/gate/test_signer.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-11144): add OmniGate PR verifier action
  .github/workflows/omnigate.yml
  src/omnibase_infra/gate/__init__.py
  src/omnibase_infra/gate/action_verify.py
  tests/unit/gate/test_action_verify.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

feat(OMN-7601): implement static group membership to prevent Kafka rebalance storms
  src/omnibase_infra/event_bus/event_bus_kafka.py
  src/omnibase_infra/event_bus/models/config/model_kafka_event_bus_config.py
  tests/unit/event_bus/test_kafka_static_group_membership.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

chore(OMN-11131): add contract OMN-11131.yaml to satisfy deploy-gate
  contracts/OMN-11131.yaml
Due: onex-validate-contracts

fix(OMN-9211): rename onex.snapshot.* topic to valid onex.evt.* grammar
  src/omnibase_infra/cli/infra_test/verify.py
  src/omnibase_infra/enums/generated/enum_platform_topic.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/__init__.py
  src/omnibase_infra/nodes/node_ledger_projection_compute/contract.yaml
  src/omnibase_infra/nodes/node_ledger_projection_compute/node.py
  src/omnibase_infra/nodes/node_registration_orchestrator/contract.yaml
  src/omnibase_infra/topics/platform_topic_suffixes.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types, onex-validate-declarative-nodes

fix(OMN-11131): allow non-platform topics in projection dispatch callback (#1625)
  contracts/OMN-11131.yaml
  src/omnibase_infra/runtime/auto_wiring/handler_wiring.py
  tests/integration/projectors/test_handler_wiring_projection_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-contracts, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types

fix(OMN-9211): fix raw topic literal in verify.py; add integration test for grammar check
  src/omnibase_infra/cli/infra_test/verify.py
  tests/integration/test_topic_suffix_exports.py
Due: ruff-format, ruff-fix, mypy-type-check, onex-validate-architecture, onex-validate-architecture-layers, onex-validate-patterns, onex-validate-naming, onex-validate-unions, onex-validate-imports, onex-validate-any-types
